<div class="grid__item one-whole">
  <p class="lead">Struggling to use FreeBMD? Not finding someone you expected to find?  Not sure what to do next?  This help section contains answers to common problems, and has links to more detailed information.</p>
</div>
<%= Help.create_help_menu(Help::TopLevelPages) %>