<div class="grid__item one-whole">
  <p class="lead">Struggling to use FreeBMD? Not finding someone you expected to find?  Not sure what to do next?  These help pages contain answers to common problems<!--, and have links to more detailed information-->.</p>
</div>