<div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
  <nav aria-labelledby="thisPage">
    <div class="islet islet--bordered">
      <h2 class="title-block" id="thisPage">On this page</h2>
      <ul class="sub-nav">
        <li class="open">
          <a href="#gettingStarted">Getting started</a>
          <ul class="push--left">
            <li>
              <a href="#howToSearch">How to search</a> </li>
            <li>
              <a href="#gtkSearching">Good to know — about searching</a> </li>
            <li>
              <a href="#gtkResults">Good to know — about the results page</a> </li>
            <li>
              <a href="#gtkDetails">Good to know — about the entry details page</a> </li>
            <li>
              <a href="#whatNext">What to do if you cannot find what you expect to find</a> </li>
            <li>
              <a href="#sctIrl">Looking for records in Scotland or Ireland</a> </li>
          </ul>
        </li>
        <li>
          <a href="#findSpouse">How do I find a spouse?</a> </li>
        <li>
          <a href="#findChildren">How to find more children</a> </li>
        <li>
          <a href="#orderCertificate">Ordering a certificate</a> </li>
        <li>
          <a href="#share">Sharing what you find</a> </li>
        <li>
          <a href="#fhHelp">Further help with family history</a> </li>
        <li>
          <a href="#accuracy">Is FreeBMD accurate?</a> </li>
        <li>
          <a href="#seeAlso">See also</a> </li>
        <li>
          <a href="#usingSite">Using this site</a> </li>
      </ul>
    </div>
  </nav>
</div>