<% title "Introducing the new FreeBMD website" %>
<section id="body_content">
  <h1 id="body_content_title">Introducing the new FreeBMD website</h1>
  <div class="grid">
    <div class="grid__item one_whole">
      <p class="lead">Websites are changing rapidly, and more and more users expect to find information as quickly as possible. They also expect an interface that looks good and works well across all devices, especially on smaller screens such as phones and tablets.</p>
      <%= Help.create_help_menu(Help::AboutPages, 'In this section') %>
      <p>We have been working to develop a new version of FreeBMD that not only keeps up with the times but is also more accessible to everyone, regardless of how they use the site. We have therefore been making changes to the colours used, the language used, and are attempting to achieve the <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank">WCAG AA accessibility standard</a>.</p>
      <p>Our goal is to develop a new and improved website that is as good as the original FreeBMD. It will ultimately be better, with a more user-friendly interface and new features to support your research.</p>
      <p class="lead">You can still use the original FreeBMD. It will continue to be updated with new data each month, and the site will remain available for the foreseeable future.      </p>
    </div>
    <div class="grid__item two-thirds lap-three-fifths  palm-one-whole">
    <h2>New features and improvements</h2>
      <h3>Searching</h3>
      <ul class="validation-list">
      <li><i class="fa fa-check" style="color: #00857E;"></i> Autosuggest for surnames, forenames, counties and Registration Districts — start typing to select</li>
      <li><i class="fa fa-check" style="color: #00857E;"></i> Search all of England & Wales — can be chosen with one click</li>
      <li><i class="fa fa-check" style="color: #00857E;"></i> Default quarter/year selection — auto-filled to speed up searching</li>
      <li><i class="fa fa-check" style="color: #00857E;"></i> Search form adapts by Record type — only relevant fields are shown</li>
      <li><i class="fa fa-check" style="color: #00857E;"></i> “Revise Search” and “New Search” buttons to quickly modify or start a new search</li>
      <li><i class="fa fa-check" style="color: #00857E;"></i> Improved name consistency — formatting and capitalization of names and surnames corrected</li>
      <li><i class="fa fa-check" style="color: #00857E;"></i> Dedicated character ‘>’ now used to search for second and subsequent forenames</li>
      </ul>

        <h3>Enhanced results and Downloads</h3>
        <ul class="validation-list">
          <li><i class="fa fa-check" style="color: #00857E;"></i> Sorting options on results page</li>
          <li><i class="fa fa-check" style="color: #00857E;"></i> Mother’s maiden name, spouse surname, and age at death are included where available</li>
          <li><i class="fa fa-check" style="color: #00857E;"></i> Clickable district names — navigate to District page directly from entries</li>
          <li><i class="fa fa-check" style="color: #00857E;"></i> Copy, download and share records easily
            <ul>
              <li style="list-style-type: none"><i class="fa fa-check" style="color: #C84182;"></i> CSV, GEDCOM, and TSV download options are available</li>
              <li style="list-style-type: none"><i class="fa fa-check" style="color: #C84182;"></i> Improved print layout for printed results</li>
              <li style="list-style-type: none"><i class="fa fa-check" style="color: #C84182;"></i> Generate citations to include in your research in a selection of useful formats</li>
            </ul>
        </ul>

        <h3>Database Page</h3>
        <ul class="validation-list">
          <li><i class="fa fa-check" style="color: #00857E;"></i> Updated Database page — includes County and Registration District information
        and Page Map lists</li>
          <li><i class="fa fa-check" style="color: #00857E;"></i> Browse all forenames and surnames in a district — helpful to spot where names might have been mistranscribed if you can’t find who you’re looking for</li>
        </ul>

        <h3>Help Page</h3>
        <ul class="validation-list">
          <li><i class="fa fa-check" style="color: #00857E;"></i> Updated Help page — clearer guidance and updated content for users</li>
        </ul>

      <h3>Overall</h3>
      <ul class="validation-list">
        <li><i class="fa fa-check" style="color: #00857E;"></i> Works well on all devices including mobiles and tablets</li>
        <li><i class="fa fa-check" style="color: #00857E;"></i> Makes FreeBMD look and feel part of the ‘family’ with FreeCEN and FreeREG</li>
      </ul>
      <p>We continue to work on improvements and will release updates to the new FreeBMD. We will post information about updates on this page, so make sure you visit to stay informed about updates, both here and on our <a href="https://www.facebook.com/freeukgen">social&nbsp;media</a>.</p>
      <p>We value your feedback as we continue to develop the website. Please try the new site and report any issues or suggestions you have on the ‘Give us Feedback’ button located near the bottom of every page.</p>
    </div>
  </div>