<% title "About the FreeBMD project" %>
<section id="body_content">
  <h1 id="body_content_title">About the FreeBMD project</h1>
  <div class="grid">
    <div class="grid__item one_whole">
      <p class="lead">FreeBMD aims to provide free internet access to the civil registration index information for England and Wales. Civil registration of birth, marriage and death is administered by the General Register Office and the index is  generally referred to as the G.R.O. Index.</p>
    </div>
    <%= Help.create_help_menu(Help::AboutPages, 'In this section') %>
    <div class="grid__item two-thirds lap-three-fifths  palm-one-whole">
      <p>This system of recording births, marriages, and deaths in England and Wales has been in place since July 1837. It is one of the most significant single resources for genealogical research back to Victorian times.</p>
      <p>FreeBMD volunteers are therefore transcribing the pages of the G.R.O. Index into our database on the internet. The project started with the early years (that is from July 1837) and is progressing through the 1990s.</p>
      <p>FreeBMD is an ongoing project, and <strong>we have not yet transcribed the whole period</strong>. We are not able to produce statistics yet on this site, but you can view a breakdown by event, that is birth, marriage or death, from 1837 to the latest date that has been transcribed, on the <a href="https://www.freebmd.org.uk/progress.shtml">coverage page of the original site</a>.</p>
    </div>
  </div>
</section>