<% title "Accuracy Help" %>
<title>Accuracy Help</title>
<section id="database">
  <h1 class="title body_content_title">Help</h1>
  <div class="grid">
    <%= render partial: "help_header" %>
    <div id="help_search" class="grid__item two-thirds lap-three-fifths  palm-one-whole">
      <h2>Is FreeBMD accurate?</h2>
      <p>The data in the FreeBMD website is transcribed by our volunteers from scans of pages in the General Register Office indexes. These indexes were created by copying selected information from certificates, pooling it centrally, and creating an index by hand. The format of these indexes has changed over time, from handwritten pages, to typed pages, then to computer printout. The quality of the scans we have been given access to (often a scan of fiche or microfilm, which is itself a copy of the source page) has also varied - some are very hard to read.</p>
      <p>In the course of all this copying of data, it is inevitable that mistakes and omissions will occur. Our goal is to ensure that, as far as possible, our data is a faithful transcription of what is actually present in the GRO index. We recognize, and accept, that the index itself may be wrong. We do provide a mechanism for recording additional information about an index entry (a "postem"), but you should be aware that anything recorded in a postem will not be searchable on this site, and will only be seen by others if they happen to find the entry by other means. (There is a postem search facility on <%= link_to "the Original FreeBMD site", "https://www.freebmd.org.uk/cgi/ShowPostems.pl" %>.)</p>
      <p>Whilst FreeBMD makes every effort to ensure accurate transcription, errors exist in both the original index and the transcription. You are advised to verify the reference given from an image of the index before ordering a certificate.  If there is a symbol of a camera on the Entry Information page, you can select that to see the image, if we have one.</p>
      <p>If you have problems viewing our image and you are searching for a birth up to 1918 or a death up to 1957, you might prefer to confirm your search using the Index images that are part of the <a href="https://www.gro.gov.uk/gro/content/certificates/indexes_search.asp">G<span class="accessibility">.</span>R<span class="accessibility">.</span>O<span class="accessibility">.</span> online ordering service</a>.</p>
      <p>If you are sure that our transcription differs from the G<span class="accessibility">.</span>R<span class="accessibility">.</span>O<span class="accessibility">.</span> Index, you can submit a correction request from the Entry Information page by using the “Suggest a Correction” button which takes you to a Data Problem Report page.</p>
      <p>If you wish to get the G<span class="accessibility">.</span>R<span class="accessibility">.</span>O<span class="accessibility">.</span> Index corrected you should apply to the G<span class="accessibility">.</span>R<span class="accessibility">.</span>O<span class="accessibility">.</span>. Contact the G<span class="accessibility">.</span>R<span class="accessibility">.</span>O<span class="accessibility">.</span> with the appropriate information. When they agree to the correction let us know and we will annotate FreeBMD appropriately.</p>
    </div>
  </div>
  </section>