<% title "Accuracy Help" %>
<title>Accuracy Help</title>
<section id="database">
  <h1 class="title body_content_title">Help</h1>
  <div class="grid">
    <%= render partial: "help_header" %>
    <div id="help_search" class="grid__item two-thirds lap-three-fifths  palm-one-whole">
      <h2>Is FreeBMD accurate?</h2>
      <p>Whilst FreeBMD makes every effort to ensure accurate transcription, errors exist in both the original index and the transcription. You are advised to verify the reference given from an image of the index before ordering a certificate.  If there is a symbol of a camera on the Entry Information page, you can select that to see the image, if we have one.</p>
      <p>If you have problems viewing our image and you are searching for a birth up to 1918 or a death up to 1957, you might prefer to confirm your search using the Index images that are part of the <a href="https://www.gro.gov.uk/gro/content/certificates/indexes_search.asp">G.R.O. online ordering service</a>.</p>
      <p>If you are sure that our transcription differs from the G.R.O. Index, you can submit a correction request from the Entry Information page by using the “Suggest a Correction” button which takes you to a Data Problem Report page.</p>
    </div>
  </div>
  </section>