<section id="certificates">
  <h2>Help: Order a Certificate</h2>
  <div class="grid">
    <%= Help.create_help_menu(Help::TopLevelPages) %>
    <%#= render partial: 'intro' %>
    <%#= render partial: "freebmd_database" %>
    <%= Help.create_island(Help::Certificates) %>
  </div>
</section>