<section id="database">
  <h1>Help: Explore the database</h1>
  <div class="grid">
    <%= render partial: 'intro' %>
    <%= Help.create_help_menu(Help::TopLevelPages, true) %>
    <%= render partial: 'help_explore_database' %>
    <%#= Help.create_island(Help::EntryPage) %>
  </div>
</section>