<% title "Database Help" %>
<title>Database Help</title>
<section id="database">
  <h1 class="title body_content_title">Help</h1>
  <div class="grid">
    <%= render partial: "help_header" %>
    <div id="help_search" class="grid__item two-thirds lap-three-fifths  palm-one-whole">
      <h2>Database</h2>

      <p>The Database section provides detailed insights into the counties and registration districts within the FreeBMD database. This allows you to navigate through the records more effectively by focusing on specific geographical areas or timeframes. Here’s what you can do:</p>

      <h3>County overview</h3>
      <ul><li>Select a county to view all the registration districts that are within that county. Some districts may span across multiple counties, so it’s important to check the "From" and "To" columns for each district’s active period. </li>
        <li>The From and To columns indicate the period when each district was in use. This lets you track when certain districts started and ended their registration activities.</li></ul>

      <h3>District information</h3>
      <ul><li>By clicking on the name of a district within the selected county, you can access detailed information about that specific district, including the years it was active and other important historical data.</li>
        <li>Each District Page will provide information on the registration volumes and page ranges, as well as the districts’ entry details. This is crucial for genealogical research, as it helps you understand where and when events (births, marriages, deaths) were registered.</li></ul>

      <h3>District selection</h3>
      <ul><li>If you’re searching for a specific district, you can easily select it from the list or type in part of a District name to find all Districts whose name matches your search string. Each district is linked to a dedicated page that contains all the relevant records and data associated with it.</li>
        <li>You can find information about page maps for each district, which show the range of page numbers for each volume. This helps you locate specific records within the district’s time range.</li></ul>

      <h3>Page Maps</h3>
      <ul><li>Page Maps give you information about the range of page numbers associated with each volume for a district. This is useful for identifying where specific events are recorded and helps narrow down your search within large datasets.</li></ul>

      <h3>Database statistics</h3>
      <ul><li>You can also view database statistics that show the total number of records within the FreeBMD database. This helps you understand the scope and coverage of the data available.</li></ul>

      <!--p>For more detailed information and other advanced search tips see the Further Help below.</p-->
    </div>
  </div>
</section>