<section id="downloading">
  <h2>Help: Downloading and Sharing Your Results</h2>
  <div class="grid">
    <%= Help.create_help_menu(Help::TopLevelPages) %>
    <%#= render partial: 'intro' %>
    <%#= render partial: "freebmd_database" %>
    <%= Help.create_island(Help::Downloading) %>
  </div>
</section>