<% title "Help: Downloading and Sharing Your Results" %>
<section id="downloading">
  <h1 class="title text--center">Help: Downloading and Sharing Your Results</h1>
  <div class="grid">
    <%= Help.create_help_menu(Help::TopLevelPages) %>
    <%#= render partial: 'intro' %>
    <%#= render partial: "freebmd_database" %>
    <%= Help.create_island(Help::Downloading) %>
  </div>
</section>