<title>Entry Help</title>
<section id="entry_help">
  <h1 class="title body_content_title">Help</h1>
  <div class="grid">
    <%= render partial: "help_header" %>
    <div id="help_search" class="grid__item two-thirds lap-three-fifths  palm-one-whole">
      <h2>Entry information</h2>

      <p>Once you’ve found a record in the search results, you can view its detailed Entry Information by clicking on the name in the first column. Here’s how to navigate and use the Entry Information page:</p>

      <h3>Viewing the detailed record</h3>
      <p>Clicking the name will take you to the Entry Information page, where you can see all available details for that record.</p>

      <h3>Record details</h3>
      <p>In records from 1984 onwards, the Registration Date is the year within which the event took place. The month and year in which the event was actually registered is recorded separately (under 'Registered').</p>

      <h3>Printing, persistent URL, and citation</h3>
      <ul><li><b>Print</b>: you can print the entry information directly from the page by clicking Print.</li>
        <li><b>Persistent URL for entry</b>: this URL can be saved as a bookmark, and will take you back to this entry (so long as the data in this record hasn't been changed). Click Copy URL to save or share the link to the record.</li>
        <li><b>Generate citation</b>: click Generate Citation to create a citation for the record in one of a number of citation formats.</li></ul>

      <h3>Viewing scans</h3>
      <p>To view scans of the original index page from which our transcription was made, click on the camera icon in the ‘More information’ table row. </p>

      <h3>Adding notes (Postems)</h3>
      <p>You can add a note to the record by selecting "Add postem" in the "More Information" table row. This allows you to create a 'Postem', which is a message or note associated with the record, and to read any existing postems which have been left for this record.</p>

      <h3>Saving records</h3>
      <p>If you are logged in, you can save the record to your personal list of saved entries for future reference. This allows you to view these saved records separately at any time.</p>

      <h3>Navigating between records</h3>
      <p>Use the Next and Previous Result buttons to navigate directly to the next or previous record in your search results. Alternatively, you can return to the Search Results page and choose other records to view.</p>

      <h3>Suggest a correction</h3>
      <p>If you notice an error or discrepancy in the record, you can suggest a correction. This option is located at the bottom of the page.</p>

      <!--p>For more detailed information and other advanced search tips see the Further Help below.</p-->
    </div>
  </div>
</section>
