<% title "Help pages" %>
<%= render partial: "help_menu_js" %>
<h1>Help</h1>
<div class="grid">
  <div class="grid__item one-whole">
    <p class="lead">Struggling to use FreeBMD? Not finding someone you expected to find?  Not sure what to do next?  This page contains answers to common problems, and has links to more detailed information.</p>
  </div>
  <%= Help.in_page_help_menu(Help::TopLevelPages) %>
</div>
