<section id="more_help">
  <h1 class="title text--center">Help: More Help</h1>
  <div class="grid">
    <%= Help.create_help_menu(Help::TopLevelPages) %>
    <%#= render partial: 'intro' %>
    <%#= render partial: "freebmd_database" %>
    <%= Help.create_island(Help::MoreHelp) %>
  </div>
</section>