<%= Help.create_help_menu(Help::TopLevelPages) %>
<div class="grid">
<%= render partial: "search_help", layout: "grid_item", locals: { id: "search_help"} %>
<%= render partial: "freebmd_database2", layout: "grid_item", locals: { id: "freebmd_database"} %>
<%#= Help.create_island(Help::SearchHelp) %>
</div>
