<% title "Searching help" %>
<h1 class="title body_content_title">Help</h1>
<div class="grid">
  <%= render partial: "help_header" %>
  <div id="help_search" class="grid__item two-thirds lap-three-fifths  palm-one-whole">
    <h2>Search</h2>
    <p>FreeBMD covers records for England and Wales only, not Scotland, Ireland or overseas.</p>
    <p>Narrow your search by choosing start and end dates, single first name and/or surname, and limiting searches to one county or one district. </p>
    <h3>Record Types</h3>
    <p>Choose Birth, Marriage, or Death records based on what you are searching for.</p>
    <ul><li>Birth Records: from September 1911, mother's maiden name is included.</li>
      <li>Marriage Records: from 1912, the spouse's surname is shown.</li>
      <li>Death Records: age at death is included from 1866, and date of birth is included from June 1969.</li></ul>
    <h3>Dynamic Search Menu</h3>
    <p>To keep the initial search menu simple, we don't display search criteria which are specific to a particular event type. You need to select an event type
    in order to see these search fields. For example, if you select 'Births', the search field 'Mother's Maiden Name' will appear. If you select
    'Marriages', you can then search on 'Spouse's First Name' and 'Spouse's Surname'. For 'Deaths', you can specify 'Age at Death'/'Birth year'.</p>
    <h3>First name &amp; Surname</h3>
    <p>If you don’t know the full first name or you are unsure about the exact spelling of a name,
      use a wildcard character '*' (an asterisk or star symbol) or '?' to search for variations. '*' matches zero or more characters, while
      each '?' matches a single character (e.g., 'Ste*n' finds Stephen, Steven and Stefan, etc.; 'Part??ton' matches Partinton but not
      Partington).</p>
    <p>Wildcards can also be used when you know a person's initials but not their full name. For example, a search for given name
      "A* J* P*" and surname "Taylor" will retrieve a number of records, including the well-known historian AJP Taylor. You also get
    to find out that he was actually called "Alan John". (The "P" stands for "Percivale" - I needed Wikipedia to tell me that!)</p>
      <p>You can search for the second given name by preceding the name with '>'. So if you have a middle name which was
      commonly used in your family you can use this type of search to find possible relatives, for example Surname 'Carpenter', Given Name
      '>Joshua'. Such a search matches from the start of the second given name (e.g. it would match 'David Joshua' but not 'David Peter
        Joshua'). To search for a name anywhere from the second given name onwards use a double '>>', e.g. Given Name '>>Joshua' which would
        find both the above examples. If you want to search for a specific given name and don't mind where it occurs, you can precede the name by '+'.</p>
      <p>If you know precisely how a particular name was entered in the database, you can search for an exact match by putting '#' at the
        start of your search string, for example '#_A*LLISH' (try it!). Conversely, if you want to broaden a surname search you can
        check the ‘Phonetic search surnames’ box to match similar-sounding surnames.</p>
    <h3>Date Range</h3>
    <p>Limit the search by start or end date. The search defaults to a range from March 1837 to December 1999, but you can adjust it for more focused results. The data is not complete after 1992.  Each year was divided into quarters until 1984:</p>
    <ul><li>Mar (January, February, March)</li>
      <li>Jun (April, May, June)</li>
      <li>Sep (July, August, September)</li>
      <li>Dec (October, November, December)</li></ul>
    <h3>Searching for spouses</h3>
    <p>You can search for spouses even in records which occur before this information was systematically recorded (i.e. before 1912). Although the two
    parties to a marriage are recorded separately in the GRO index, their names should both appear on the same page of the Register.
    If you know the name of the spouse, we can use this feature to match them. If you don't know their name, you can see all the
    index records which relate to the Register page, and so get a shortlist of possible spouses. (Typically, only two or three marriages are
    recorded on each Register page.) There is a link to the Register page on the <a href="./entry_help.html.erb">Entry Information page</a>.</p>
    <h3>Counties and Districts</h3>
    <p>If you know the district or county, you can narrow the search, but note that larger districts may contain multiple locations.</p>
    <h3>Volume and Page</h3>
    <p><b>Volume</b> and <b>Page</b> are optional fields. Each record includes a Volume and Page number to help you locate the record in the General Register Office index.</p>
    <p>For more detailed information and other advanced search tips see the Further Help below.</p>
  </div>
</div>