<section id="search_help">
  <h2>Searching help</h2>
  <div class="grid">
    <%= Help.create_island(Help::SearchHelp) %>
    <%= render partial: 'intro' %>
    <%= render partial: "freebmd_database" %>
    <%= Help.create_island(Help::TopLevelPages, false) %>
  </div>
</section>