<section id="search">
  <h2>Help: Search</h2>
  <div class="grid">
    <%= Help.create_help_menu(Help::TopLevelPages) %>
    <%= render partial: 'intro' %>
    <%= render partial: "freebmd_database" %>
    <%= Help.create_island(Help::Search) %>
  </div>
</section>