<% title "Tips and Tricks" %>
<section id="tips_and_tricks">
  <h1 class="title body_content_title">Help</h1>
  <div class="help-page-layout">
    <div id="help_search" class="grid__item two-thirds lap-three-fifths palm-one-whole">
      <h2>Tips and Tricks</h2>
      <h3>Links</h3>
      <p>All links on the site open in the same browser tab that you are currently using. This improves the accessibility of the site. If you
        want to follow a link to an external site (e.g. the <a href="https://www.gro.gov.uk/gro/content/certificates/login.asp">GRO site</a>
        or <a href="https://www.ukbmd.org.uk/reg/districts/index.html">UKBMD</a>), you might want to open it in a new tab or window. This will avoid the need to use the 'back' button to get back to where you were
        in the FreeBMD web site (see last tip).</p>
      <p>Browsers offer different ways of achieving this, but for example in Windows you can right-click on the link and use the 'Open Link in
        New Tab' or 'Open Link in New Window' command. </p>
      <h3>Judicious use of the browser's Find command</h3>
      <p>Some of our web site pages contain a lot of information. For example, the lists of forenames and surnames of people who were born,
        married or died in a specified District can fill the entire screen. The Find command (shortcut Ctrl-F on most Windows browsers)
        gives you a quick way to establish how many occurrences there are of a particular name, and lets you move efficiently from each
      occurrence to the next one.</p>
      <p>This technique can also be used on the main Search page, to find and select a particular Registration District. This removes the
        need for you to know which county the District is within (and is much quicker than scrolling through the whole list!).</p>
      <h3>Avoid the 'back' button</h3>
      <p>We always provide links that enable you to go back to the page you were on previously. For example, after you have run a search,
        you may want to revise your search or start a new one. There are 'Revise Search' and 'New Search' links which allow you to do this.
        It is a good idea always to use the links provided, rather than using the browser's 'back' button. Pressing 'back' can leave you in
        a situation where the site thinks it is still running your previous search. This would prevent you from doing anything else.</p>
    </div>
    <aside class="grid__item one-third lap-two-fifths palm-one-whole help-page-sidebar" aria-label="Help navigation and advertisement">
      <div class="help-page-sidebar__inner">
        <%= render partial: "help_header", locals: { sidebar: true } %>
        <div class="help-page-ad push-half--top" aria-label="Advertisement">
          <h2 class="title-block help-page-ad__title">Advertisement</h2>
          <!-- GAM 71161633/FRBMD_freebmd2orguk/Vrec_Sticky -->
          <div data-fuse="Vrec_Sticky"></div>
        </div>
      </div>
    </aside>
  </div>
  <style>
    .help-page-layout {
      display: flex;
      gap: 1rem;
      align-items: flex-start;
      overflow: visible;
    }
    .help-page-layout > .grid__item { float: none !important; }
    .help-page-layout > .grid__item.two-thirds { flex: 1 1 66.666%; min-width: 0; }
    .help-page-layout > .help-page-sidebar { flex: 0 0 33.333%; position: sticky; top: 0; align-self: flex-start; }
    .help-page-ad__title { text-align: center; }
    .help-page-sidebar .grid__item,
    .help-page-sidebar .float--right { float: none !important; width: auto !important; max-width: none !important; }
    @media (max-width: 720px) {
      .help-page-layout { display: block; }
      .help-page-sidebar { position: static; top: auto; }
    }
  </style>
</section>