<h1>Information for the SWAT team</h1>

<p class="lead">County Coordinators have sometimes been able to develop a good working relationship with their County Record Office or Archive Centre — the name will vary from county to county. Where this has not been possible, the Sources SWAT team has been established to build relationships with Local Authority Archives and other potential sources for transcription.</p>
<div class="grid">
  <aside class="grid__item one-third palm-one-whole float--right">
    <div class="islet islet--bordered">
      <h2 class="title-block">On this page</h2>
      <ul class="sub-nav">
        <li><a href="#countyArchives">Obtaining the approval of County Archives and similar</a> </li>
        <li><a href="#churches">Working directly with Churches, Chapels, etc.</a> </li>
        <li><a href="#nationalArchives">Working with National Archives (British Isles and Overseas Territories)</a> </li>
        <li class="open"><a href="#other">Other information</a>
          <ul class="push-half--left push-half--bottom">
            <li><a href="#embargoRequests">‘Closing’ transcriptions</a> </li>
            <li><a href="#storingPermissions">Storing permissions</a> </li>
            <li><a href="#otherSources">Other sources for transcribing</a> </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="islet islet--bordered">
      <h2 class="title-block">Related pages</h2>
      <ul class="sub-nav">
        <li><a href="/cms/information-for-coordinators/obtaining-the-approval-of-the-church-of-england">Obtaining the approval of The Church of England</a> </li>
        <li><a href="/cms/information-for-coordinators/other-sources-for-transcribing">Other sources for transcribing</a> </li>
      </ul>
    </div>
    <div class="islet islet--bordered">
      <h2 class="title-block">Help sections</h2>
      <ul class="sub-nav">
        <li><a href="/cms/information-for-coordinators">Coordinator Help</a> </li>
        <li><a href="/cms/information-for-transcribers/">Transcriber Help</a> </li>
        <li><a href="/cms/help">Researcher Help</a> </li>
      </ul>
    </div>
  </aside>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">

    

    <h2 id="countyArchives">County Record Offices and Local Authority Archives</h2>
    <p>We maintain  <a href="https://drive.google.com/open?id=1MRS_pqtbxfM0M1neoONLBPguRKtOVafK">a listing of the Record Offices (PDF)</a> with material of interest to Free UK Genealogy. It might be helpful if you do not know the name and location of a particular Records Office — please keep the SWAT team up-to-date if you have more current information.</p>
    <p>If you feel <a href="https://docs.google.com/document/d/1EQ1BBNCterf-cArSbBobTByISG61D-5wi6bYSbFZmk8/edit?usp=sharing">a letter from Pat Reynolds (Google doc)</a>, Executive Director of Free UK Genealogy CIO would help in your approach, or as a follow up, please make a copy and edit to suit the circumstances — check with Pat if you feel you need to make a change that might be controversial.</p>
    <p>One area where the explicit approval of the Local Authority archive is required, is on obtaining access to the images made by the Church of Jesus Christ of Latter Day Saints (LDS) of records which are cared for by the archive. The archive is the gatekeeper to accessing the LDS images — the LDS do not claim copyright. LDS images are not always the best images, but better images are mostly inaccessible. With a letter or email of permission from the archive, we can ask the LDS for digital access to the images we need.</p>
    <p>Note: the Church of England (CoE) has confirmed that there is <strong>no copyright in the registers of of Baptism, Marriage or Burial</strong>, and that there is a right of access in a church to view and copy these registers.</p>
    <p>The copyright situation on records of baptism, marriage and burial in institutions other than the Church of England varies greatly (see below).</p>
    <p>The Record Office may have other images which we can copy, and which they, or others, can grant the necessary permissions. Commercial companies are unlikely to give permission, but the Record Office may have been given permission to share with others.</p>
    <p>Where LDS or other images do not exist, or are too poor to transcribe, we’ll need volunteers to go in and take photographs. We stress that this is our last resort, as we appreciate that physically handling the records will inevitably contribute to their demise — but once photographed by us, there should be no need for future handling except in very rare circumstances (such as someone researching watermarks).</p>

    <h3>The withdrawal of Church of England registers from Archives for copying</h3>
    <p>If the Archive will not authorise the LDS, share or sell existing images, or permit copying, it is possible to ask the individual church to withdraw the volume so it may be copied.</p>
    <p>The individual churches have a right to withdraw their registers from the archive in order that they be copied. However, it is in the best interest of the records and their future users that they are neither withdrawn, nor re-digitised, but that we gain access to the images that have already been made.</p>
    <hr class="rule" />

    <h2 id="churches">Working directly with Churches, Chapels, etc.</h2>
    <h3>Obtaining the approval of the Vicar</h3>
    <p>Depending on the faith, the copyright and right of access differ: for example, CoE records are not not copyright; access for a few entries is a right; access for bulk copying is at local discretion, and might attract a fee.</p>
    <p>The best person to make the approach is probably someone already familiar with the faith and/or congregation — someone who can potentially involve the congregation in photography and transcription, perhaps as joint names on a communication with a SWAT team member, or a joint visit.</p>
    <p>The <a href="http://www.methodistheritage.org.uk/">Methodists have their own heritage website</a>, and a <a href="http://www.methodistheritage.org.uk/heritageofficer.htm"><span class="accessibility">Methodist</span> Heritage Officer</a>.</p>
    <p>Each Baptist church is a separate entity, and must be approached individually. The records of baptisms, marriages and burials can be interspersed with other records of the activities of the congregation. <a href="https://baptisthistory.org.uk/">The Baptist Historical Society</a> is not a part of the church. It has a collection of records and the Executive Director has been in touch and/or has passed contact to the SWAT team.</p>
    <hr class="rule" />

    <h2 id="nationalArchives">Working with National Archives</h2>
    <p>Please check with the Executive Director before approaching a National Archive (TNA, Scotland, Wales, Northern Ireland or Ireland), or the Archives of a Crown Dependency (e.g. the Isle of Man or Jersey) or an Overseas Territory (e.g. Gibraltar, Montserrat, or Pitcairn). This is because she may already be in contact with these bodies, or it is best to make a coordinated request for materials including civic registrations of birth, marriage and death, and censuses.</p>
    <hr class="rule" />
      
    <h2 id="other">Other information</h2>

    <h3 id="embargoRequests">Requests to ‘close’ transcriptions for 100 years (or other time period)</h3>
    <p>FreeREG have an <a href="/cms/information-for-coordinators/the-embargo-system">Embargo System</a> which means that transcriptions can be marked so that they are not shown to the public for any desired length of time from an event. If the archive have any concerns about permissions or conditions which you are not able to answer, please ask the Executive for support.</p>

    <h3 id="storingPermissions">Storing permissions</h3>
    <p>Please send a copy of the email or letter of confirmation to Mick who will place it in the Google drive Permissions folder. Please send the original on to the Executive Director for manual filing (Westwood House, Westwood, Scarborough, North Yorkshire, YO11 2JD).</p>

    <h3 id="otherSources">Other Sources for transcribing</h3>
    <p>Our page on <a href="/cms/information-for-coordinators/other-sources-for-transcribing">other sources for transcribing</a> might be helpful in counties which have no or only limited sources for transcription at the moment. Coords can explore these for themselves, but the SWAT team might be able to help with research and downloading appropriate sources.</p>
  </div>
</div>