<h1>Obtaining the approval of The Church of England</h1>

<div class="grid">
  <aside class="grid__item one-third palm-one-whole float--right">
    <div class="islet islet--bordered">
      <h2 class="title-block">Coordinator Help</h2>
      <ul class="sub-nav">
        <li><a href="/information-for-coordinators">Information for coordinators</a> </li>
        <li><a href="/information-for-coordinators/coordinator-actions">Coordinator actions</a> </li>
        <li><a href="/information-for-coordinators/the-image-server">The image server</a> </li>
        <li><a href="/information-for-coordinators/other-sources-for-transcribing">Other sources for transcribing</a> </li>
        <li class="active"><a href="/information-for-coordinators/obtaining-the-approval-of-the-church-of-england" title="This page">Obtaining the approval of The Church of England</a> </li>
        <li><a href="/information-for-coordinators/behind-the-scenes">Behind the scenes</a> </li>
        <li><a href="/information-for-coordinators/the-embargo-system">Embargo system</a> </li>
      </ul>
    </div>
  </aside>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="lead">This page is a guide for where you need to get explicit permission to transcribe Parish registers. It includes links to download two different sample letters which you can adapt and use.</p>
    <p>In some cases, you may have to approach the authorities within the Church of England for explicit approval to transcribe their registers. This is usually the Incumbent of the Parish — the Vicar or Rector or Priest-in-Charge — but could be the Churchwardens (especially where there is no Vicar) or the Parochial Church Council (PCC).</p>

    <p>We have prepared a draft first-contact letter&#160; in <a href="/assets_freereg/resources/Information for Incumbents of Church of England Parishes (first contact version) v5.rtf" title="Information For Incumbents Of Church Of England Parishes (First Contact Version) V5">rtf</a> and <a href="https://docs.google.com/document/d/1OndooLgKbzZ_fMqsqifoVJWPY9Yb2TSJklB4Bw5wOLg/edit?usp=sharing" title="https://docs.google.com/document/d/1OndooLgKbzZ_fMqsqifoVJWPY9Yb2TSJklB4Bw5wOLg/edit?usp=sharing">gdoc</a> versions to send if you have <em>not</em> previously made contact with the Vicar, Churchwardens or PCC. You are free to change the letter to suit the circumstances, including sending in your name, rather than Pat's, or adding your name to Pat's.</p>

    <p>If you have already made contact — e.g. through meeting a PCC member at a talk — you can use this draft second-contact letter in <a href="/assets_freereg/resources/Information for Incumbents of Church of England Parishes (second contact version) v5.rtf" title="Information For Incumbents Of Church Of England Parishes (Second Contact Version) V5">rtf</a> or <a href="https://drive.google.com/open?id=1u1-I2kBMfr9R7W_fGngWtT6GS7Hs15TrziI4SoTijvE" title="https://drive.google.com/open?id=1u1-I2kBMfr9R7W_fGngWtT6GS7Hs15TrziI4SoTijvE">gdoc</a> versions. Again, you can modify it to suit the circumstances.</p>
    <p>In addition to both draft letters please send a copy of <a href="/assets_freereg/resources/Additional Information for Incumbents.pdf" title="Additional Information For Incumbents">the latest legal advice from the Church of England and FAQ</a>, a PDF document, which should reassure the Vicar and others that they are entitled to give us permission. The letters are RTF documents — if you would prefer a different format, please contact Pat Reynolds or Denise Colbert through the Message system.</p>

  </div>    
 </div>