<h1>Other sources for transcribing</h1>

<style scoped="scoped">
  .site img { border: 1px solid #895f49; width: 100%; height: auto; }
  .site figcaption { font-style: italic; color: #895f49; }
  .site img.narrow { max-width: 879px; }
</style>

<div class="grid">
  <aside class="grid__item one-third palm-one-whole float--right">
    <div class="islet islet--bordered">
      <h2 class="title-block">Coordinator Help</h2>
      <ul class="sub-nav">
        <li><a href="/cms/information-for-coordinators">Information for coordinators</a> </li>
        <li><a href="/cms/information-for-coordinators/coordinator-actions">Coordinator actions</a> </li>
        <li><a href="/cms/information-for-coordinators/the-image-server">The image server</a> </li>
        <li class="active"><a href="/cms/information-for-coordinators/other-sources-for-transcribing" title="This page">Other sources for transcribing</a> </li>
        <li><a href="/cms/information-for-coordinators/obtaining-the-approval-of-the-church-of-england">Obtaining the approval of The Church of England</a> </li>
        <li><a href="/cms/information-for-coordinators/behind-the-scenes">Behind the scenes</a> </li>
        <li><a href="/cms/information-for-coordinators/the-embargo-system">Embargo system</a> </li>
      </ul>
    </div>    
  </aside>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="lead">Whilst the focus of our work is on transcribing from the original registers, sometimes these are not available to us for various reasons including damage or loss of the register. A contract with a commercial company is no good because their images are for personal use only.</p>
    <p>There are, however, a number of earlier transcriptions which we can re-transcribe, many of which will already be familiar to coordinators. They vary in quality, so ideally we would transcribe two (or more) of such earlier transcriptions so that researchers are made aware of the possible miss-transcriptions.</p>
    <p>For Church of England records, the Bishops’ Transcripts are the earliest, and perhaps best transcriptions. As they sometimes include information which is not in the original register, we should be aiming to include these anyway. <a class="go" href="https://www.familysearch.org/wiki/en/England_Bishop%27s_Transcripts_(FamilySearch_Historical_Records)">Information on the Bishops’ Transcripts is available on the Family Search Wiki</a>.</p>
    
    <h2 id="archive">The Internet Archive and WorldCat</h2>
    <p>Published transcriptions of the Bishops’ Transcripts, and of original registers of the Church of England and other churches and chapels are available at <a class="go" href="https://archive.org/" title="https://archive.org/">the Internet Archive</a> (home of the Wayback Machine). This is an invaluable source for family historians (and all humankind) as it brings together thousands of collections of out of copyright books (and other works), which are freely downloadable in various formats and for any purpose. The only downside is that the books have been indexed using Optical Character Recognition (OCR), and have only a simple index, so they can be pretty frustrating to use.</p>
    <p>To search the Internet Archive: go to <a class="go" href="https://archive.org/details/texts">https://archive.org/details/texts</a>, or click on the book icon link on their home page. Use the search-box on the left hand side just below the <q>results</q> figure:</p>
    <figure class="site">
      <img class="narrow" src="/system/images/W1siZiIsIjIwMTgvMTIvMDIvOTI3OGpkcHlmY19JbnRlcm5ldF9BcmNoaXZlX3RleHRzX2hvbWUuSlBHIl1d/Internet%20Archive%20texts%20home.JPG?sha=7c16f3ca0d1c923d" title="Internet Archive texts search" alt="Internet Archive texts search" width="879" height="645" />
      <figcaption>Fig. 1 — Search the Internet Archive</figcaption>
    </figure>
    <p>You can search by <q>metadata</q> (data about data — this can include author, title of book, etc.) or by <q>text contents</q>, which searches the entire OCR-generated text. Search metadata first, as this cuts out novels where the Bishop is searching for a transcript of his nephew’s will after the burial. But if you can’t find something you know exists by metadata, try by text, as the metadata may be incorrect.</p>
    <p>You can also try searching on <a href="https://www.worldcat.org/advancedsearch" title="https://www.worldcat.org/advancedsearch">WorldCat</a> which has a better search, and can get you to discrete titles such as “The register of admissions to Gray’s inn, 1521-1889 : together with the register of marriages in Gray’s inn chapel, 1695-1754”, through a search for<em> register marriages chapel</em>. You may wish to restrict the publication date to before 1950, but sometimes the publication date is incorrect on WorldCat. Armed with a short version of that title — in this example, “register of admissions to Gray’s inn” — you can then find it on the Internet Archive, and see the publication date in the book itself.</p>
    <p>Sometimes (as with the Gray’s Inn register), you will find multiple copies — choose to download the one that seems best, but bear the others in mind in case of skipped pages, bad images, etc.</p>
    <p>Download the PDF (Portable Document Format) version (.pdf) and upload the file(s) to the FreeREG Image Server, in the usual way.</p>
  </div>
</div>