<h1>The Embargo System</h1>

<style scoped="scoped">
  .site img { padding: 0.3em; border: 1px solid #ccc; width: 100%; height: auto; max-width: 1000px; }
  .site figcaption { font-style: italic; color: #737373; margin-top: 0.3em; }
</style>

<div class="grid">
  <aside class="grid__item one-third lap-two-fifths palm-one-whole float--right">
    <div class="islet islet--bordered">
      <h2 class="title-block">On this page</h2>
      <ul class="sub-nav">
        <li><a href="#embargoRegister">Embargo a Register</a> </li>
        <li><a href="#embargoRecord">Embargo a single record</a> </li>
      </ul>
    </div>
    <div class="islet islet--bordered">
      <h2 class="title-block">Coordinator Help</h2>
      <ul class="sub-nav">
        <li><a href="/information-for-coordinators">Information for coordinators</a> </li>
        <li><a href="/information-for-coordinators/coordinator-actions">Coordinator actions</a> </li>
        <li><a href="/information-for-coordinators/other-sources-for-transcribing">Other sources for transcribing</a> </li>
        <li><a href="/information-for-coordinators/obtaining-the-approval-of-the-church-of-england">Obtaining the approval of The Church of England</a> </li>
        <li><a href="/information-for-coordinators/behind-the-scenes">Behind the scenes</a> </li>
        <li class="active"><a href="/information-for-coordinators/the-embargo-system" title="This page">The Embargo system</a> </li>
      </ul>
    </div>
  </aside>
  
  <div class="grid__item three-fifths lap-three-fifths palm-one-whole">

    <p class="lead">An embargo is simply a ban on showing records to researchers where the event is too recent or is otherwise sensitive.  We have a system that can manage embargoes automatically and release records for searching at the proper time.</p>

    <p>Say we have images for a burial register up to 2018, but the Record Office asks that they are not shown in search results until 50 years after the event. As coordinator, you can set up (establish) the 50-year rule for the whole register, the transcriber can transcribe and upload the complete register, but only those events that are at least 50 years old will be found in a search. Each year, the system will automatically release any records that are no longer subject to the embargo rule.</p>

    <h2 id="embargoRegister">Embargo a Register and all its contents</h2>

    <p>An embargo applies to all the records in a Register. However, you can have a different rule for each specific record type, i.e. one rule for baptisms, another for marriages, and a third for burials.</p>
    <p>There is one additional action that allows a <strong>single record</strong> to be embargoed on the authority of the Trustees (see <a href="embargoSpecificRecord">Managing the embargo of a specific record</a>, below.)</p>

    <p class="islet islet--bordered">In summary, embargo rules are <strong>established</strong> for a Register, embargoes are <strong>applied</strong> to a Record. There are two types of embargo: one establishes a <strong>period</strong> of up to 125 years for the embargo; the other establishes a specific <strong>year</strong> when the embargo will end.</p>

  </div>
</div>
<div class="grid">
  <div class="grid__item two-thirds lap-four-fifths palm-one-whole">

    <h3>Create an embargo rule</h3>
    <p>You can create an embargo rule for a <strong>register</strong> using the ‘Create New Embargo Rule’ button on the Register display. The rules apply only to the records associated with that <strong>register type</strong>. Remember that a church can have multiple register types, e.g. PR, MI, BT, OT, EX, etc., and there can be different rules for different types.</p>
    <p>You can create different rules for each record type,  i.e. for baptisms, burials, and marriages. But there can be <strong>only one rule per record type, per register type</strong>.</p>
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMjEvMDEvMjAvY2NnYXhtYXptX2NyZWF0ZV9uZXdfZW1iYXJnb19ydWxlLmpwZyJdXQ/create-new-embargo-rule.jpg?sha=22bfe833f43e3965" alt="Create New Embargo Rule" data-rel="225x255" width="1378" height="192" />
      <figcaption>Fig. 1: Create a new Embargo Rule</figcaption>
    </figure>

    <p>Once a rule has been created the button (action) in the display will change from ‘Create New Embargo Rule’ to ‘Embargo Rules’. You can then create additional rules or make edits to existing Rules from the ‘Embargo Rules’ display.</p>
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMjEvMDEvMjAvOGgxdjBhY3d5M19lbWJhcmdvX3J1bGVzLmpwZyJdXQ/embargo-rules.jpg?sha=15450e770c70bd58" title="Embargo Rules" alt="Embargo Rules" data-rel="225x255" width="1431" height="146" />
      <figcaption>Fig. 2: The ‘Embargo Rules’ button</figcaption>
    </figure>

    <h4>Options for a first rule</h4>
    <p>You have the following options for creating a first rule:</p>
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMjEvMDEvMjAvNGZsbnNkdDA3el9maXJzdF9ydWxlX29wdGlvbnMuanBnIl1d/first-rule-options.jpg?sha=ab4d5c925d2e0005" title="First Rule Options" alt="First Rule Options" data-rel="225x255" width="1386" height="645" />
      <figcaption>Fig. 3: Embargo Rule options for the first rule</figcaption>
    </figure>

    <p>There can be <strong>only</strong> one rule for a record type. You either embargo for a period of up to 125 years <em>or</em> until the start of a specific year. You <strong>must</strong> specify the entity (the who or the what) imposing the embargo and their reason.</p> 
    <p><strong>Once a rule is created, all records for batches in the register will be reprocessed</strong> in the background overnight. You will receive an email with a detailed report once reprocessing is complete.</p>
    <p>Any new or replacement file submitted after the creation of a rule will have its records checked for an embargo.</p>

    <h4>Some examples</h4>
    <p>Create the first rule for a register:</p>
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMjEvMDEvMjAvMnVoeGg2bGJjN19jcmVhdGVfZmlyc3RfcnVsZS5qcGciXV0/create-first-rule.jpg?sha=19acccfc70df3e96" title="Create First Rule" alt="Create First Rule" data-rel="225x255" width="1438" height="633" />
      <figcaption>Fig. 4: Create the first rule, in this case for burials</figcaption>
    </figure>

    <p>Add another rule for a different record type:</p>
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMjEvMDEvMjAvN3R1eWNzcDV2eV9hZGRfc2Vjb25kX3J1bGUuanBnIl1d/add-second-rule.jpg?sha=04ccf1f3fcdb942a" title="Add Second Rule" alt="Add Second Rule" data-rel="225x255" width="1462" height="639" />
      <figcaption>Fig. 5: Add a second rule, for marriages</figcaption>
    </figure>

    <h3>Listing the rules</h3>
    <p>We now have a list of two rules for the register:</p>
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMjEvMDEvMjAvMWZyZ2ZsZHBjdF9saXN0X2VtYmFyZ29fcnVsZXMuanBnIl1d/list-embargo-rules.jpg?sha=a8082f682dec5799" title="List Embargo Rules" alt="List Embargo Rules" data-rel="225x255" width="1454" height="331" />
      <figcaption>Fig. 6: List the Embargo Rules for a register</figcaption>
    </figure>

    <p>You can edit the period or year, also the entity and the reason for a rule. You cannot destroy a rule, but you can make it ineffective by specifying either a period of 0 (zero) years or the current year.</p>
    <hr class="rule rule--ornament" />

    <h2 id="embargoRecord">Managing the embargo of a specific record</h2>

    <p>Senior members may, on the authority of the Trustees, embargo or remove the embargo of a specific record. This action has priority over the register rules and cannot be overwritten by a register rule.</p>
    <p>If an individual asks for their own record to be removed we should embargo it without asking for further Trustee guidance. If the request is from a close relative, we should embargo it. But, if the connection is more distant we should get the request from the person named in the record or seek Trustee approval, via the Executive Director.</p>
    <h3>Setting up the embargo</h3>
    <p>Navigate to the edit screen of the specific entry that you wish to embargo. If you have the authority to do so, you will see a new action at the top of that screen:</p>
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMjEvMDEvMjAvOG9hOGIwdTEzMV9lZGl0X3JlY29yZF9lbWJhcmdvLmpwZyJdXQ/edit-record-embargo.jpg?sha=938e21f2c2006689" title="Edit Record Embargo" alt="Edit Record Embargo" data-rel="225x255" width="1413" height="577" />
      <figcaption>Fig. 7: The ‘Edit Embargo’ button for a single record</figcaption>
    </figure>

    <p>Select ‘Edit Embargo’ and you will see the embargo options that are available:</p>  
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMjEvMDEvMjAvMmIyd2JyY2h5cF9lZGl0X3JlY29yZF9lbWJhcmdvX29wdGlvbnMuanBnIl1d/edit-record-embargo-options.jpg?sha=0e868bc5113d2c2d" title="Edit Record Embargo Options" alt="Edit Record Embargo Options" data-rel="225x255" width="1531" height="488" />
      <figcaption>Fig. 8: Options for the embargo of a single record</figcaption>
    </figure>

    <p>You can set the embargo to ‘true’ or ‘false’, add a reason why and the date from which the record can be retrieved:</p>
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMjEvMDEvMjAvNzNmOHJ1czloOF9jcmVhdGVfcmVjb3JkX2VtYmFyZ28uanBnIl1d/create-record-embargo.jpg?sha=abab62ed2b0e6ee2" title="Create Record Embargo" alt="Create Record Embargo" data-rel="225x255" width="1633" height="502" />
      <figcaption>Fig. 9: Create an embargo for a single record</figcaption>
    </figure>

    <p>On submission you get a record display that has a new field (line) at the bottom, ‘History of embargo changes’:</p>
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMjEvMDEvMjAvMnloN2tiZWV4dV9yZWNvcmRfZW1iYXJnb19oaXN0b3J5LmpwZyJdXQ/record-embargo-history.jpg?sha=f3c3fe26c1bb6c80" title="Record Embargo History" alt="Record Embargo History" data-rel="225x255" width="1089" height="317" />
      <figcaption>Fig. 10: The embargo history of a record</figcaption>
    </figure>

    <h3>Editing an embargo</h3>
    <p>You can edit the embargo again (and again) and each edit will add to the history. <strong>Never</strong> change an older embargo! Always create a new embargo, at the bottom.</p>
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMjEvMDEvMjAvMWV6MTBveDRhd19yZWNvcmRfZW1iYXJnb19uZXcuanBnIl1d/record-embargo-new.jpg?sha=9260f3c66cd7b512" title="Record Embargo New" alt="Record Embargo New" data-rel="225x255" width="1515" height="747" />
      <figcaption>Fig. 11: The new and old embargo fields</figcaption>
    </figure>

    <p>For example:</p>
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMjEvMDEvMjAvMnlkZ3NkM3BucF9lZGl0X3JlY29yZF9lbWJhcmdvX29wdGlvbnNfbmV3LmpwZyJdXQ/edit-record-embargo-options-new.jpg?sha=10e48e78221ffb96" title="Edit Record Embargo Options New" alt="Edit Record Embargo Options New" data-rel="225x255" width="1514" height="688" />
      <figcaption>Fig. 12: Adding a new embargo</figcaption>
    </figure>

    <p>And here we see the result (I had actually done it twice!):</p>
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMjEvMDEvMjAvNndteXk1cHoyMl9yZWNvcmRfZW1iYXJnb19oaXN0b3J5X21vcmUuanBnIl1d/record-embargo-history-more.jpg?sha=25131685e4c54fba" title="Record Embargo History More" alt="Record Embargo History More" data-rel="225x255" width="1028" height="320" />
      <figcaption>Fig. 13: The full embargo history of a record</figcaption>
    </figure>
   
  </div>
</div>