<h1>About FAQ 5 Oct 2021 version</h1>

<p>Test</p>
<p>
AboutFAQ25Oct2021</p>
<p class="lead">This pages covers a wide range of topics concerning FreeBMD and is formated in the style of a series of questions- and-answers <strong>About</strong> the FreeBMD Project. Note: it does not cover help-related questions as they are covered in the Help pages.</p>

<div class="grid">
<aside class="grid__item two-fifths lap-one-half palm-one-whole float--right">
<div class="islet islet--bordered">
<h2 class="title-block">On this page</h2>
<ul class="sub-nav">
<li> <a href="#1">What is the FreeBMD Project?</a> </li>
<li> <a href="#2">Why is the FreeBMD Project necessary?</a> </li>
<li> <a href="#3">How will the FreeBMD system work?</a> </li>
<li> <a href="#4">How will the FreeBMD Project operate?</a> </li>
<li> <a href="#5">How big is the FreeBMD Project?</a> </li>
<li> <a href="#6">How may I help?</a> </li>
<li> <a href="#7">Who are the leaders of the FreeBMD Project?</a> </li>
<li> <a href="#8">On what authority is the FreeBMD Project based?</a> </li>
<li> <a href="#9">Who owns the BMD index data?</a> </li>
<li> <a href="#10">Who owns the FreeBMD database?</a> </li>
<li> <a href="#11">Could the database ever be used to create a commercial product or service?</a>
</li>
<li> <a href="#12">Aren't the GRO/ONS already computerising the indexes?</a> </li>
<li> <a href="#13">Couldn't the GRO/ONS give volunteers access to the source records?</a> </li>
<li> <a href="#14">Why doesn't FreeBMD simply scan/OCR the records?</a> </li>
<li> <a href="#17">Isn't this information covered by the Data Protection Act?</a> </li>
<li> <a href="#19">I am using a MAC - why does the page link not work?</a> </li>
<li> <a href="#20">Why doesn't Phonetic search return the results I expect?</a> </li>
<li> <a href="#21">How is the FreeBMD Project funded?</a> </li>
<li> <a href="#22">Why doesn't FreeBMD correct errors in the index?</a> </li>
<li> <a href="#23">Why is it so difficult to submit a correction?</a> </li>
<li> <a href="#25">Why don't some facilities work on my new computer?</a> </li>
<li> <a href="#28">Can the FreeBMD database help me find a living person?</a> </li>
<li> <a href="#29">Does FreeBMD contain entries for stillbirths?</a> </li>
<li> <a href="#30">Please can you remove my entry from FreeBMD</a> </li>
<li> <a href="#31">Can you explain what the search results mean</a> </li>
<li> <a href="#32">How can I get a citation for an entry?</a> </li>
</ul>
</div>
</aside>
<div class="grid__item three-fifths lap-one-half palm-one-whole">
<h2> Introduction</h2>
<p><mark>Needed for BETA</mark>On this page you will find out more about the <strong>FreeBMD project</strong> thorough a series of questions-and-answers. Note: more detailed information, mainly relevant to people transcribing the indexes rather than searching them, is [ text: to be found the Transcribers' Knowlege Base (this page opens in new tab)]<mark> [link = FreeBMD/].</mark>
</p>

<h2> Questions and Answers</h2>
<h3 id="2">Why is the FreeBMD Project necessary?</h3>
<p>The Civil Registration indexes have been freely available from a variety of non-electronic sources for some time now. Small parts of the indexes have already been placed on the Internet. In addition, the Civil Registration indexes for Scotland, which are separate from those of England and Wales, have already been placed online on a pay-per-view basis at <a href="http://www.scotlandspeople.gov.uk">Scotland's People</a>. Irish Civil Registrations are available without charge at <a href="https://civilrecords.irishgenealogy.ie/churchrecords/civil-search.jsp&quot;">Irish Genealogy</a> for the whole island, excluding the parts that from 1922 onwards are Northern Ireland. Records from Northern Ireland both before and after 1922 are available on aq pay-per-view basis at <a href="https://geni.nidirect.gov.uk">Northern Ireland General Register Office</a>.
</p>
<p>Usually available on microfilm or microfiche, the Civil Registration indexes can be illegible due to the varying quality of microreproduction. There is not currently any centrally available method for rapidly searching the indexes. They were originally created alphabetically by quarters and have not been consolidated into a master index. Older marriage records have not been cross-indexed, making them extremely tedious to use. </p>
<p>The creation of a freely accessible Internet-based database of the Civil Registration index information coupled with a free search engine facility will greatly enhance a researcher's ability to quickly and
easily locate all the index entries of potential relevance. It will also permit the double-checking and eventual correction of the indexes. </p>

<h3 id="4">How does the FreeBMD Project operate? </h3>
<p>Using volunteers throughout the world, the FreeBMD Project leadership (see <a href="#7">FAQ 7</a> below) co-ordinates the entry of the Civil Registration indexes. Data entered into the database will be available for access through the search facility. The database will be updated periodically (approximately monthly) with the latest available data. </p>
<p>The transcription of the Civil Registration index is co-ordinated under the guidance of the FreeBMD
Project leadership by volunteer co-ordinators so the FreeBMD Project makes orderly progress towards
its goal. </p>
<p>Data is also be accepted from previous extractions by those performing one-name studies. </p>
<p>Data is accepted in a variety of formats, including a <a href="Format.shtml">simple text format</a> which can be prepared off-line using basic word-processing, spreadsheet or database management software. Special transcription software is available to assist with the task of transcribing pages of the index. </p>
<p>Ultimately, all data will be entered at least twice by independent transcribers in order to improve the accuracy. </p>

<h3 id="5">Who owns the FreeBMD database and runs FreeBMD?</h3>
<p>Authority to reproduce the information for free access on the Internet was originally granted to the FreeBMD Project leadership.</p>
<p>In order to ensure the long term stability of the project, and to gain access to grant funding, the project leaders established FreeBMD as a trust in June 2002. The trust is registered with the Charity Commissioners as Free UK Genealogy CIO, Number 1167484. The <a href="http://www.freeukgenealogy.org.uk/files/Free-UK-Foundation-CIO51061188_1.PDF"> Constitution</a> can be viewed on-line. </p>
<p> In 2014 we changed the name to Free UK Genealogy which better reflects the aims of the charity. In 2017 Free UK Gealogy became a Charitable Incorporated Organization Free UK Genealogy is committed to supporting the transcription of public records and making these available as free access public databases. </p>
<p> All rights in data submitted to the site are now owned by Free UK Genealogy CIO.</p>
<p> The names of the trustees of the trust can be found <a href="http://www.freeukgenealogy.org.uk/about/trustees/">on the Free UK Genealogy website</a>. </p>

<h3 id="11">Aren't the GRO already computerising the indexes?</h3>
<p>The GRO has re-indexed all Birth records. These and more recent Births (to a year or two before present) which were created digitally can be searched. No Mariager records are available. Death records have been re-indexed to 1957, and the records from 1984, created digitally can also be syearched.&#160; The GRO site is at&#160; https://www.gro.gov.uk/gro/content/certificates/login.asp You do not need to actually buy the certificate to use this service.&#160;</p>
<p>The records (as of October 2021, to 2007 only) are available without charge at FamilySearch and on several pay-to-view websites.&#160;Unfortunately, the other post-1984 indexes are not, at present, available free of charge on the internet but copies can be consulted on fiche free of charge in a small number of libraries;</p>
<ul class="push-half--bottom">
<li>Manchester City Library </li>
<li>Birmingham Central Library </li>
<li>Bridgend Reference and Information Library </li>
<li>Plymouth Central Library </li>
<li>City of Westminster Archives Centre </li>
<li>London Metropolitan Archives </li>
<li>The British Library </li>
</ul>
<p>These libraries also hold fiche indexes not available elsewhere or online civil partnerships from 2005 to 2020 and adopted children, up to 2019.</p>

<h3 id="13">Couldn't the GRO give volunteers access to the source records? </h3>
<p>In a word, no. It is actually illegal for anyone except the registrars to browse the source records (and even they are only allowed to do it within strict guidelines - which, sadly, do not include checking accuracy for us).</p>

<h3 id="17">Isn't this information covered by the Data Protection Act? </h3>
<p>Data Protection applies to information held about living individuals. The GRO information held by FreeBMD is publically available and therefore not confidential in itself but FreeBMD still has to ensure that the information is held and used properly, hence the conditions of use and the restrictions on the search results page. FreeBMD therefore complies with the&#160;Data Protection Act 2018 (DPA 2018), and the UK General Data Protection Regulation (UK GDPR). Our parent charity, Free UK Genealogy CIO is registered with the Information Commissioner's Office under reference number Z7436529. </p>

<h3 id="19">How is the FreeBMD Project funded?</h3>
<p>The majority of Free UK Genealogy's income comes from hosting advertising on our sites. A growing proportion comes from donations from our users - will you join them join them? <mark>[link to donations page?? Or donate advert on the righ, below index???]</mark>
</p>

<h3 id="22">Why doesn't FreeBMD correct errors in the index?</h3>
<p>The objective of FreeBMD is to provide access to an online&#160;version of the GRO index and as such the FreeBMD policy is that the index is transcribed <em>exactly</em> as it is. However, we recognise that there are errors in the index and a number of facilities are provided to address this:
</p>
<ul class="push-half--bottom">
<li>Transcribers can add comments to entries where there are issues with what they find in the index </li>
<li>People searching the index can add <a href="/postems-help.html">Postems</a> (notes) to entries in FreeBMD detailing errors they believe exist </li>
<li>In exceptional cases, to aid searching the FreeBMD index, special System Entries are added but these are clearly marked as being additions that are not in the original index </li>
</ul>
<p>In each of the above cases special symbols appear next to the entries concerned (see <a href="/search-faq.html#symbols">here</a> for more details). </p>
<p> However, it is also possible to request that the GRO corrects the index. Contact the
<a href="http://www.gro.gov.uk/gro/content/certificates/contact_us.asp">GRO</a> with the appropriate information. When they agree the correction let us know (via <span style="position: relative; top: +3px; border: 0"><a href="/cgi/connect.pl?f=supportemail.png"><img src="/supportemail.png" alt="Contact support" /></a>
</span>) and we will annotate FreeBMD appropriately. </p>
<p> Regrettably the GRO has no method of informing the many holders of the index (both online and physical) of corrections they make. </p>

<h3 id="23"><mark>Neded for BETA? Needs revision?</mark> Why is it so difficult to submit a correction? </h3>
<p>Processing corrections takes a lot of effort and we need to ensure that we only investigate those corrections that comply with FreeBMD policies, particularly the policy of transcribing what is in the index (see <a href="#22">above</a>). Other corrections are handled by <a href="/postems-help.html">Postems</a>. </p>
<p> Corrections are therefore automatically filtered to determine if they appear to comply with the instructions given on the corrections page. </p>
<p> The problem most people have with submitting corrections is failing to supply a valid <strong>Source</strong> field. This happens because people do not comply with the instructions on the corrections page. Unfortunately these instructions have to be long to specifically cover the things people get wrong since we know from past experience that just giving a simple statement of what should be provided does not work. The most common things people get wrong are: </p>
<ul class="push-half--bottom">
<li>Adding unnecessary detail </li>
<li>Adding justification for the correction, rather than just identifying the source </li>
<li>Mentioning invalid sources (e.g. family information or other entries) </li>
</ul>
<mark>Needed for BETA This part FAQ 23 refers to FreeBMD and may not accurately reflect the FreeBMD2 process of submitting correction. </mark>
<p>In summary the process for submitting a correction is:</p>
<ol class="push-half--bottom">
<li>Click on the <span style="position: relative; top: +3px"><img src="/btnInfo.gif" alt="Information" /> </span> button next to the entry in the search results </li>
<li>Click on the link to submit a correction (the text on the information page <em>To submit a correction click here</em>) </li>
<li>Verify that your correction falls within the scope as defined on the corrections page </li>
<li>Check the tick box in the text to say you have read the instructions </li>
<li>Fill in your correction </li>
<li>Fill in what your sources is. As mentioned above is important that you just say what source you have used for determining the correction, not a justification of the correction </li>
<li>Fill in your email </li>
<li>Click Submit </li>
</ol>

<h3 id="25">Can the FreeBMD database help me find a living person?</h3>
<p>FreeBMD is a transcription of the GRO index and is of use for historical research. It is of very limited use for tracing living persons. We advise you to visit look4them.org.uk which brings together six organizations who may be able to help. https://www.missingpeople.org.uk/ provides support guidance for people who are missing, and those trying to find them, whether they have been missing for a few hours, or many years.
However, bear in mind that a number of resources will charge for their services whereas others are free. FreeBMD is also of limited use in finding if a person is still living due to limited coverage of Deaths for recent years - see <a href="https://www.freebmd.org.uk/progressD.shtml"> coverage for Deaths</a> for more information.</p>
<p>If you are trying to trace your birth parents,&#160;https://www.gov.uk/adoption-records explains how to access your birth records.&#160; If you were adopted Wikitree's Adoption Angels are volunteers who may be able to help ((https://www.wikitree.com/wiki/Project:Adoption_Angels).</p>

<h3 id="30"><mark>Needs updating</mark>Please can you remove my entry from FreeBMD</h3>
<p>We can't remove entries. FreeBMD is a transcription of the GRO (General Register Office) <a href="#1">Index</a>, authorised by the GRO. The GRO Index of Births, Marriages and Deaths is publicly available information and as such it is not covered by the Data Protection Act. In addition to FreeBMD it is accessible from a number of sources, both online and in person, and therefore exclusion from FreeBMD would have little effect with regard to concealment of the information. </p>
<p>There is no facility for excluding entries and, indeed, it would be in violation of our accuracy commitment to do so. </p>
<p>For further information please contact the
<a href="https://www.gro.gov.uk/gro/content/certificates/contact_us.asp">GRO</a>.</p>


</div>
</div>