<h1>About</h1>

<div id="top" class="grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="lead">FreeBMD aims to provide free internet access to the civil registration index information for England and Wales. Civil registration of birth, marriage and death is administered by the General Register Office and the index is  generally referred to as the G.R.O. Index.</p>
    <p>This system of recording births, marriages, and deaths in England and Wales has been in place since July 1837. It is one of the most significant single resources for genealogical research back to Victorian times.</p>
    <p>FreeBMD volunteers are therefore transcribing the pages of the G.R.O. Index into our database on the internet. The project started with the early years (that is from July 1837) and is progressing through to 1992.</p> 
    <p>FreeBMD is an ongoing project, and <strong>we have not yet transcribed the whole period</strong>. We are not able to produce statistics yet on this site, but you can view a breakdown by event, that is birth, marriage or death, from 1837 to 1992, on the <a href="https://www.freebmd.org.uk/progress.shtml">coverage page of the original site</a>.</p>
  </div>

  <div class="grid__item one-third palm-one-whole float--right">
    <nav aria-labelledby="thisPage">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="thisPage">On this page</h2>
        <ul class="sub-nav">
          <li><a href="#change">Why is FreeBMD Changing?</a> </li>
          <li><a href="#member">Membership</a> </li>
          <li><a href="#search">Search</a> </li>
          <li><a href="#browse">Browsing</a> </li>
          <li><a href="#cite">Citing FreeBMD</a> </li>
          <li><a href="#accessibility">Accessibility</a> </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <h2 id="change">Why is FreeBMD changing?</h2>
    <p class="push-half--bottom">FreeBMD is being updated to:</p>
    <ul>
      <li>make it easier to use on a mobile phone or tablet</li>
      <li>add additional features developed for FreeREG and FreeCEN</li>
      <li>make it easier to use</li>
      <li>improve accessibility</li>
    </ul>
    <p>We have a page with more details about the <a href="/cms/about/why-is-freebmd-changing">planned changes to FreeBMD</a> which are designed to retain all the functions of the original FreeBMD website. The underlying database is not being changed.</p>
    <hr class="rule rule--ornament" />

    <h2 id="member">Membership</h2>
    <p>You do not need to be a Member to search our database. However, to make FreeBMD an effective tool we are in need of volunteers willing to undertake the transcription of index pages.</p>
    <p class="island island--light">Want to know more about transcribing? Then visit our <a href="/userid_details/transcriber_registration">Volunteer page</a>.</p>

    <h2 id="search">Search</h2>
    <p>We provide an internet-based search for registrations of birth, marriage and death. Because we transcribe the index, rather than original registers or certificates issued by the G.R.O., what each entry in the Index contains changes over time, and is never as full as the original entry in the registers.</p>
   <p>To search the records for a named person, select the <strong>Search</strong> link in the top menu bar.</p> 
    <hr class="rule rule--ornament" />

    <h2 id="browse">Browsing</h2>
    <p>If you want to browse the entries on a single page of the index, you can do so by choosing only a District name, volume number, and page number for your search.</p>
    <hr class="rule rule--ornament" />

    <h2 id="cite">Citing FreeBMD</h2>
    <p>We will be adding a button to each Detail information page on FreeBMD which will auto-generate a citation in one of a number of popular formats for academics and family historians.</p>
    <h3>Citations for academic purposes (e.g. publication, student essay or thesis)</h3>
    <p>Academic references need to be formatted using the rules of the publication or institution – common ones are MLA (Modern Language Association of America), Chicago and Harvard, or variants based on those. Citing an entry in a Free UK Genealogy database is complicated, because the thing being cited is not an ‘article’, a ‘page’ an ‘image’ or any of the other frequently provided examples for academic referencing.  As MLA says: <q cite="https://www.mla.org/">When citing sources from a database, the type of resource (newspaper, magazine, journal, etc.) will determine the citation format, not the database itself.</q> </p>
    <p class="push-half--bottom">For citations of the whole database (e.g. in a comparison of tools used by genealogists) or specific pages (such as the ‘About’ page) use the following formats:</p>
    <ul>
      <li><strong>MLA</strong>
        <p class="islet islet--bordered push-half--left">FreeBMD. Free UK Genealogy, nd. Web. [Date of access]. </p>
        <p class="push-half--left">Note: MLA no longer requires the use of URL’s. For instructors or editors who still wish to require the use of URL’s, MLA suggests that the URL appear in angle brackets after the date of access. Break URL’s only after slashes.</p>
      </li>
      <li><strong>Chicago</strong>
        <p class="islet islet--bordered push-half--left">Free UK Genealogy. “FreeBMD.” Last modified [date of search]. Accessed [date of search]. https://www.freebmd.org.uk</p>
      </li>
      <li><strong>Harvard</strong>
        <p class="islet islet--bordered push-half--left">Free UK Genealogy (n.d.) FreeBMD [Online] Available from: https://www.freebmd.org.uk. [Accessed: date of access] </p>
        <p class="push-half--left">Note: different style guides may place full stops differently.</p>
        </li>
     </ul> 
    <p>For citations of a transcription or index (where you have not read the original source) you must reference the source you have actually viewed and the original. If you have found (and seen) the original by a search of a Free UK Genealogy database, give the reference to the original without mentioning the database.  If you do wish to mention the database for some reason, reference this separately, as above. This is the practice followed in all cases where you are citing an original that you have only seen in a secondary publication of some kind.</p>
    <p>At the moment, it is not possible to give the digital equivalent of the page number that you would give for a book: the nearest thing we have is permanent URL’s (PURL’s). Free UK Genealogy websites now all have quasi-permanent URL’s (quasi because if we change the transcription for some reason, a different URL is generated).</p>
  </div>
</div>

<div class="grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <h3>Family History and Citations</h3>
    <p>Citations for genealogy are not quite like academic citations.  If you want to get to know more about the theory behind family history citations, you could have a look at the <a href="https://fhiso.org/TR/cev-concepts">Family History Information Standards Organisation’s third draft on citation elements</a>.</p>
    <p>Another resource is Elizabeth Shown Mills’ <a href="http://www.worldcat.org/oclc/1054383552">Evidence explained: Citing history sources from artifacts to cyberspace</a>, which is built on one core principle: <q>We cannot judge the reliability of any information unless we know exactly where the information came from; and the strengths and weaknesses of that source.</q>  An Evidence Explained citation thus combines both the academic reference (knowing exactly where the information came from), and additional information which in academic writing, the reader is expected to know for themselves, or the author will present in their text, or the reader will need to research for themselves (the strengths and weaknesses of that source) in order that the reader can make critical judgements about the author’s arguments.</p>
    <hr class="rule rule--ornament" />
  </div>

  <div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <aside aria-labelledby="relatedPages">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="relatedPages">More about FreeBMD</h2>
        <ul class="sub-nav">
          <li><a href="/cms/about/your-reviews">Your Reviews</a> </li>
          <li><a href="/cms/about/introducing-the-project-team">Introducing the project team</a> </li>
          <li><a href="/cms/about/frequently-asked-questions">Frequently asked questions</a> </li>
        </ul>
      </div>
    </aside> 
 
    <aside aria-label="Sister projects">
      <div class="island island--bordered">
        <p>FreeBMD is a part of the <a href="https://www.freeukgenealogy.org.uk">Free UK Genealogy Charity</a> and is a companion to <a href="https://www.freereg.org.uk">FreeREG</a> which is a database of Church of England and other records relating to baptism, marriage, burial and similar events and <a href="https://www.freecen.org.uk">FreeCEN</a> which is a database of census information.</p>
      </div>
    </aside>
  </div>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <h2 id="accessibility">Accessibility</h2>
    <p>You will notice some changes to the site as we seek to improve access to FreeBMD, especially for mobile phone users and for visitors with a range of disabilities. There are more details in our <a href="/cms/about/accessibility-statement">Accessibility statement</a>.</p>
  </div>
</div>