<h1>DRAFT Policies, notices &amp; statements</h1>

<div class="grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="lead">This page has links to the FreeUK Genealogy policies, notices and statements.</p>
    <ul>
      <li>Accessibility statement</li>
      <li>Privacy policy</li>
      <li>Terms and conditions</li>
      <li>Cookie policy</li>
      <li>Safeguarding policy</li>
      <li>Security reporting policy</li>
    </ul>
  </div>
</div>