<h1>DRAFT SVG test</h1>

<div class="read-length push--bottom" style="margin-left: auto; margin-right: auto;">
  <p class="push-half--bottom">While most other genealogy sites charge you to find and read records, <strong>FreeCEN</strong> is dedicated to keeping our searches free. A small donation towards our costs would really help us keep it that way. </p>
  
      <a href="https://www.freeukgenealogy.org.uk/help-us-keep-history-free/" class="freeCEN" id="donate"><span class="btn-donate" id="donateOverlay">

  
    

  
  
  
    
    
    
    
  
</span>
            <span class="btn-donate" id="donateCoin">

  
  
  
  
  
</span>
            <span class="btn-donate" id="donateBox">

  
  
  
  
  
    
  
  
    
    
    
  
</span>
            <span class="btn-donate" id="donateBtn">Donate</span>
</a>
</div>