<h1>Message</h1>

<p>Please be aware that this is a test development website for FreeBMD. The database is <em>not</em> updated. It should be used <strong>only by developers and testers</strong>. <br />It should <em>not</em> be used by the public. For access to our records please visit the <a href="https://www.freebmd.org.uk">original FreeBMD site</a>.</p>