<h1>Records</h1>

<div class="grid">
  <div class="grid__item three-fifths lap-three-quarters palm-one-whole">
    <p>We are not yet able to show you detailed statistics on this site — we will develop that feature for a future release.</p>
    <p>In the meantime, we <em>can</em> say that we have transcribed all the records available to us in the indexes of Birth, Marriage and Death registrations up to the end of 1985. A detailed breakdown of the numbers and percentages is still available on the <a target="_blank" href="https://www.freebmd.org.uk/progress.shtml">original FreeBMD site (opens in new tab)</a>.</p>
  </div>
</div>