<h1>DRAFT - Coverage</h1>

<div class="grid">
    <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right">
      <div class="islet islet--bordered">
    <h2 class="title-block" id="thisPage">On this page</h2>
        <ul class="sub-nav">
           <li> <a href="#about">About FreeBMD's indexes</a> </li>
          <li> <a href="#BMDcoverage">Coverage charts &amp; graphs and total Entries</a> </li>
          <li> <a href="#transcribers"> Transcriber contributions</a> </li>
          <li> <a href="#generalRegisterOffice">The General Register Office</a> </li>
        <li> <a href="#districts">Registration Districts</a> </li>
     </ul>
     </div>
   </aside>
  <div class="grid__item three-fifths lap-one-half palm-one-whole">
  <mark>This lead is too detailed and will need cutting back - PC </mark>
  <p class="lead">On this page you will find a summary of FreeBMD's aims to transcribe the General Register Office's (GRO)'s birth, deaths and marriage indexes and how it carries this out through various syndicates. Links to various sub-pages enable you to determine the <em>coverage</em> of FreeBMD's indexes and the current number of records (using three different <em>measures</em>) at the date of the last data-base update. Other sub-pages enable you to discover more about the GRO and its Registration Districts. You can find out about our transcribers (identified by their <em>Username</em>) and the number of records that they have contributed to our index.</p>

  <h2 id="about">About FreeBMD's indexes</h2>
   <p>Welcome to FreeBMD. FreeBMD is an ongoing project, whose aims are to transcribe the GRO Civil Registration index of births, marriages and deaths for England and Wales, using a system of double-transcriptions, and to provide free internet-access to the transcribed indexes. They will cover the period from July 1873 to the end of 1992; and so far, have been completed up to 1985.</p>
    <p> Pages from the GRO indexes, in the form of printed copies, scans and / or microform copies, are transcribed by members of FreeBMD's syndicates and uploaded on to the system at approximately monthly intervals. Second “keying's”, are carried by an independent syndicate, and are loaded onto the database as a second set of transcriptions. Having two sets of the same records helps improve the accuracy, particularly for the earlier handwritten index records.</p>
   <p>The use of various syndicates, to carry out the transcriptions, means that the three events (births, marriages and deaths) can be transcribed in parallel. It also means that: transcription of newer records might not have started; there might be “gaps” or “holes” in the coverage of the records; and some of the double-keyed records might be “mismatched”. See <a href="#BMDcoverage">Coverage Charts and Graphs</a> below for more details.</p>

 <h2 id="BMDcoverage">Coverage charts &amp; graphs and total entries</h2>
    <h3>Coverage charts </h3>
   <p>You can find out using FreeBMD's coverage charts on a quarter by quarter basis what records have been transcribed and where “holes or gaps” may be present. The main data-bases are updated, typically, on a 28-day cycle and the charts use a form of colour-coding to distinguish the “new” data that added at the last data-base upload versus “older” data that was already present prior to the upload.</p>
    <p>These [progress charts] [link = progress] show you FreeBMD's percentage coverage in the form of bar charts selectable by event (births, marriages or deaths). Within a selection, progress charts are presented in 20-year blocks, with the exception of 1837 to 1849, 1970 to 1983 and 1984 to 1992 which cover a slightly shorter period. Coverage is itemised by quarter-year between the start of registration in July 1837 and the end of 1983. After 1983, they are itemised by year. </p>
  <h3 id="indexGraphs"> Index of graphs</h3>
   <p>You can view FreeBMD's progress in making these index records available for “free” visually in the [form of graphs][link = Index of graphs-coverage]: showing the number of records added over time against the selected criteria. These include: progress of an event (births, marriages or deaths) by individual year; and, progress by number of Total Records, Distinct Records, Unique Records and Double-keyed Records against time.</p>
   <p>Possibly, the most interesting is the [total number of entries] [link= statgraphs/submission]. A graph of the daily submission rate is also available.</p>
   <p>Graphs are also available for each of the [individual transcribers] [link = graphs of Transcribers], showing the number of records added against time. </p>
  <h3 id="entryTotals"> Total number of Entries</h3>
  <p>Taking into account that there may be unresolved “mismatched” records in the system, there are various ways in which the number of records in the Indexes can be counted. FreeBMD uses three measures: Total Records, Distinct Records and Unique Records; and the Entry total page provides information on each of these counts. </p>
   <p>Progress is displayed as a large table giving the [number of entries for each year by event (Births, Marriages, Deaths)] [link =/cgi/EntryCounts], expressed as Total Records, Distinct Records and Unique Records [need to add reference - there is one]. By clicking on a tick-box the resolution can be increased to show the number of entries by quarters. </p>
   <p>The default setting shows the records of the latest database, which is updated on an approximately update cycle, but the table can be changed to show an earlier data-base, or the difference between two databases.</p>
  <h2 id="#transcribers"> Transcriber contributions</h2>
  <mark>PC - This is not yet implemented on FreeBMD2 - PC </mark>
   <p>This is a [link db-latest] single page listing giving every transcriber in alphabetical sequence and the number of entries (records) they have submitted. It is updated on a monthly basis, but only the latest information is given there. You can also obtain a graphical version of their contribution in the form of graph showing the number of records transcribed against time. This facility is covered above in our index of graphs sub-section, above. </p>
   
<hr class="rule rule--ornament" />

  <h2 id="generalRegistryOffice">Civil Registration and the General Register Office</h2>
   <p> You can find out more about the General Register Office on our [General Register Office page] [link = The General Register Office]. This government office has been responsible for the Civil Registration of births, marriages and deaths in England and Wales since it was formed at the end of 1836 and it became active on 1st July 1837. It creates the indexes that FreeBMD transcribes and, by quoting the information that you found in a record, you can order a certificate from the GRO.</p>
  <p>You can find out more about the data shown against a particular index record on our page: [Understanding the GRO Index Page] [link= "Understanding the GRO Index Page"]; and you can find out more about ordering certificates on our page: [Ordering Certificates] [link= "Ordering Certificates"].</p>
  
  <hr class="rule rule--ornament" />
  <h2 id="districts"> Civil Registration Districts</h2>
  <mark> PC - This section is being worked on - PC </mark>
   <p> In the years prior to government deciding to create a system of National Civil Registration of births, marriages and deaths in England and Wales, the only non-parochial system of large-scale local government was the various Poor Law Unions (the Workhouses), the Unions being created in 1834. Note: County Boroughs and County Councils were not created until 1st April 1889.</p>
  <p> The General Register Office was required to hold a register and an index of the “place” of every event (birth, marriage or death) against a locality and this led to the concept of <em>Registration Districts</em>. Registration Districts were chosen and recommended by the local Guardians of the Workhouses. They were, in effect, groupings of villages and townships located within a larger unit of an individual Poor Law Union. Every Registration District was to have a Registrar and deputy to record the births, marriages and deaths that occurred in their district, in dedicated Registers to be held in a safe place.</p>
   <p>Whilst, the Registration District was often named after the largest village or township in its geographical area, the “area” of the Registration District could be very different from the “area” of the village or township having the same name. Furthermore, a Poor Law Union could cover part of a county, or might cover parts of one than one county.</p>
  <p>As set up, Civil Registration of births, marriages and death involved registered an event against a Registration District, not a county nor a town. However, over the years, the Poor Law Unions were abolished and the Registration Districts were changed in response to population changes; and nowadays, a Registration District is often a local authority, or a sub-section of a large local authority; and confined to a single county.</p>
  <p>You can find out more about the Registration Districts used by the GRO can be found on our page: [District Information] [link = "Districts, Volumes and Pages"]. </p>
  <p>When you find a record of interest, the final part of the Index reference will be in the form: Registration District, Volume No., Page No.. You can find out more about what these values mean on our page: [Understanding the GRO Index Page] [link= "Understanding the GRO Index Page"].</p>  <p>You can also find out more detailed information: including volume and page mappings........</p>
  </div>
  </div>
<br />