<h1>Terms and Conditions</h1>

<p>FreeBMD is provided free of charge for personal research purposes only.<br />Access to the data held by FreeBMD is only permitted manually via the search page. The use of front end programs or sites to enter search parameters is strictly forbidden<br />Data extracted from FreeBMD must not be reproduced in any form.<br />Use of FreeBMD is subject to our Cookie Policy<br />Use of FreeBMD is subject to the Terms and Conditions of Free UK Genealogy.</p>