<h1>Using Refinery</h1>

<p><mark>TO DO: update URLs to GoogleDocs once permissions are opened to all volunteers</mark> </p>

<div class="grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="lead">This is the place to find links to all the HTML and GoogleDocs pages that relate to using RefineryCMS. More such links will be added as the various documents become available.</p>

    <p>Please note that this list might be added to and that the URLs might change — in other words, do not rely on a bookmark, at least for now. Thank you!</p>
    <p class="push-half--bottom">All the documents listed here are GoogleDocs, unless stated otherwise:</p>
    <ul>
      <li><a href="/cms/using-refinery/marking-up-pages-in-refinery">Marking up pages in Refinery (HTML)</a> </li>
      <li><a href="https://docs.google.com/document/d/1hox-YaO3YctWDTzr9yr30jdyPwZ30lyNZb4qnZs5Xf4/edit?usp=sharing">Protocol for creating and editing in Refinery</a> </li>
      <li><a href="https://docs.google.com/document/d/10PpqZq66v6n5MfUPMSnQ_jOOpz0cvEWo9dI8liKsrL8/edit?usp=sharing">Moving pages from version 1 to version 2 of a FreeUKGen website</a> </li>
      <li><a href="https://docs.google.com/document/d/1B0hEGlhSQC6lH3RY94OGcxYuxWck57qKF4jFaI9xU4M/edit?usp=sharing">FreeUKGen proofing checklist</a> </li>
      <li>Accessibility proofing checklist (needs completing) </li>
      <li><a href="https://docs.google.com/document/d/1lp64jFQ0ew3yDViUQOPxDD0-OqT4_dhtZb-7iw3sHSc/edit?usp=sharing">Refinery training version 2</a> </li>
    </ul>
  </div>
</div>