<div class='grid'>
  <section class='island '>
    <div class='grid__item  '>
      <p>
        <%= markdown(@message.body) %>
      </p>
      <br>
      <p style='text-align: center'><%= message_attachment_tag(@message) %></p>
      <p style='text-align: center'><%= message_image_tag(@message) %></p>
    </div>
  </section>
</div>