<div class='grid'>
  <section class='island '>
    <div class='grid__item  '>
      <p>
        <textarea style='width:100%;' rows='15' readonly='readonly'><%= @message.body %></textarea>
      </p>
      <br>
      <% if @message.attachment.present? %>
        <p style='text-align: center'><%= message_attachment_tag(@message) %></p>
      <% end %>
      <% if @message.images.present? %>
        <p style='text-align: center'><%= message_image_tag(@message) %></p>
      <% end %>
    </div>
  </section>
</div>