<div class='grid'>
  <section class='island '>
    <div class='grid__item  '>
      <p>
        <textarea style='width:100%;' rows='15' readonly='readonly'><%= markdown(@message.body) %></textarea>
      </p>
      <br>
      <p style='text-align: center'><%= message_attachment_tag(@message) %></p>
      <p style='text-align: center'><%= message_image_tag(@message) %></p>
    </div>
  </section>
</div>