<% breadcrumb :create_communication,  @message%>
<br>
<h4 style="text-align: center">Creating Communication</h4>
<p>Please make sure to Communicate with your Syndicate Coordinator first.</p>
<%= render 'form' %>