<% breadcrumb :select_role, @message%>
<br>
<h4 style="text-align: center">Select the role of the person with whom you wish to communicate</h4>
<%= render 'flash_notice' %>
<%= render 'form_for_selection' %>