<% breadcrumb :userid_reply_messages, @messages%>
<h3 class="text--center">
  <%= pluralize(@messages.count, 'Reply Message') %> for <%= @user.userid %>
</h3>
<%= render 'flash_notice' %>
<%= render 'index_table' %>