<% breadcrumb :userid_messages,  @messages%>
<br>
<h3 class="text--center"><%= pluralize(@messages.count, 'Message') %> for <%= @user.userid %></h3>
<%= render 'flash_notice' %>
<%= index_partial_render(@messages) %>