<% breadcrumb :freecen1_vld_files,@chapman_code, params[:page] %>
<% session[:file_page] = params[:page]%>
<h1 style="text-align: center">Listing of FreeCen1 VLD Files for <%= @chapman_code%></h1>
<div class="text--center">
  To upload a new file: click this <%= link_to 'Upload new VLD file', new_freecen1_vld_file_path, method: :get , :class => "btn btn--small"%><br>
  To replace a file: click on the Replace option on the actions for the specific file in the list below. <br>
</div>
<%= render 'flash_notice' %>