<h1>DRAFT - Help - Use of given name initials: Deaths</h1>


<h2>Detailed Information</h2>
<p>The table below gives the full detail from which the summary information for the use of given name initials in Deaths was derived. The data for this table was produced by examining all the given names in the FreeBMD Deaths database and,  proceeding from left to right, counting those names that are more than one character long. As soon as a one character name is found the process stops and all the remaining names are assumed to be initials. There are circumstances where this is not strictly true, for example there are some  entries that are like <em>A de V</em> which would count as three initials. So, the figures below are an approximation albeit a very close one.</p>
<p>The table is split vertically into three main columns:</p>
<ul>
<li>the quarter concerned;</li>
<li>columns with counts of instances of entries with the number of full names given in the heading, so X in the column headed 2 means there were X entries that had two full names. The  presence of a column labelled zero means that there are entries with no given name or just one initial;</li>
<li>the percentage and number of entries with initials as well as the full names.</li>
</ul>
<table>
<thead><tr><th rowspan="2">Quarter</th> <th colspan="5">Number of full names</th> <th colspan="2">With initials</th>
</tr>
<tr><th>0</th>
<th>1</th>
<th>2</th>
<th>3</th>
<th>&gt;3</th> <th>percent</th> <th>number</th>
</tr>
</thead>
<tbody>
<tr><td>1837D3</td>
<td>5</td>
<td>69770</td>
<td>8901</td>
<td>359</td>
<td>19</td>
<td>0</td> <td>26</td>
</tr>
<tr><td>1837D4</td>
<td>9</td>
<td>79182</td>
<td>9329</td>
<td>379</td>
<td>21</td>
<td>0</td> <td>20</td>
</tr>
<tr><td>1838D1</td>
<td>4</td>
<td>98358</td>
<td>10958</td>
<td>452</td>
<td>23</td>
<td>0</td> <td>19</td>
</tr>
<tr><td>1838D2</td>
<td>1</td>
<td>99724</td>
<td>11680</td>
<td>462</td>
<td>26</td>
<td>0</td> <td>10</td>
</tr>
<tr><td>1838D3</td>
<td>2</td>
<td>71797</td>
<td>8445</td>
<td>337</td>
<td>22</td>
<td>0</td> <td>7</td>
</tr>
<tr><td>1838D4</td>
<td>4</td>
<td>81992</td>
<td>10001</td>
<td>407</td>
<td>25</td>
<td>0</td> <td>11</td>
</tr>
<tr><td>1839D1</td>
<td>0</td>
<td>91415</td>
<td>10501</td>
<td>459</td>
<td>36</td>
<td>0</td> <td>12</td>
</tr>
<tr><td>1839D2</td>
<td>5</td>
<td>84327</td>
<td>10347</td>
<td>472</td>
<td>24</td>
<td>0</td> <td>13</td>
</tr>
<tr><td>1839D3</td>
<td>3</td>
<td>71942</td>
<td>9047</td>
<td>354</td>
<td>20</td>
<td>0</td> <td>15</td>
</tr>
<tr><td>1839D4</td>
<td>4</td>
<td>82887</td>
<td>10127</td>
<td>385</td>
<td>23</td>
<td>0</td> <td>12</td>
</tr>
<tr><td>1840D1</td>
<td>5</td>
<td>99077</td>
<td>11613</td>
<td>468</td>
<td>32</td>
<td>0</td> <td>7</td>
</tr>
<tr><td>1840D2</td>
<td>2</td>
<td>95414</td>
<td>11538</td>
<td>484</td>
<td>32</td>
<td>0</td> <td>13</td>
</tr>
<tr><td>1840D3</td>
<td>3</td>
<td>87119</td>
<td>11780</td>
<td>477</td>
<td>32</td>
<td>0</td> <td>13</td>
</tr>
<tr><td>1840D4</td>
<td>10</td>
<td>90924</td>
<td>11556</td>
<td>507</td>
<td>37</td>
<td>0</td> <td>18</td>
</tr>
<tr><td>1841D1</td>
<td>5</td>
<td>93049</td>
<td>10914</td>
<td>437</td>
<td>31</td>
<td>0</td> <td>24</td>
</tr>
<tr><td>1841D2</td>
<td>6</td>
<td>83823</td>
<td>10330</td>
<td>398</td>
<td>26</td>
<td>0</td> <td>22</td>
</tr>
<tr><td>1841D3</td>
<td>5</td>
<td>77584</td>
<td>10419</td>
<td>424</td>
<td>24</td>
<td>0</td> <td>19</td>
</tr>
<tr><td>1841D4</td>
<td>0</td>
<td>87701</td>
<td>11201</td>
<td>548</td>
<td>31</td>
<td>0</td> <td>15</td>
</tr>
<tr><td>1842D1</td>
<td>2</td>
<td>88666</td>
<td>10966</td>
<td>470</td>
<td>29</td>
<td>0</td> <td>13</td>
</tr>
<tr><td>1842D2</td>
<td>5</td>
<td>80112</td>
<td>10319</td>
<td>441</td>
<td>28</td>
<td>0</td> <td>19</td>
</tr>
<tr><td>1842D3</td>
<td>1</td>
<td>74326</td>
<td>11175</td>
<td>485</td>
<td>26</td>
<td>0</td> <td>15</td>
</tr>
<tr><td>1842D4</td>
<td>2</td>
<td>77385</td>
<td>10663</td>
<td>498</td>
<td>21</td>
<td>0</td> <td>13</td>
</tr>
<tr><td>1843D1</td>
<td>6</td>
<td>88608</td>
<td>11541</td>
<td>491</td>
<td>28</td>
<td>0</td> <td>18</td>
</tr>
<tr><td>1843D2</td>
<td>3</td>
<td>80406</td>
<td>10874</td>
<td>411</td>
<td>26</td>
<td>0</td> <td>19</td>
</tr>
<tr><td>1843D3</td>
<td>6</td>
<td>69561</td>
<td>10107</td>
<td>440</td>
<td>28</td>
<td>0</td> <td>14</td>
</tr>
<tr><td>1843D4</td>
<td>0</td>
<td>79552</td>
<td>11389</td>
<td>506</td>
<td>24</td>
<td>0</td> <td>9</td>
</tr>
<tr><td>1844D1</td>
<td>0</td>
<td>93899</td>
<td>12456</td>
<td>596</td>
<td>29</td>
<td>0</td> <td>12</td>
</tr>
<tr><td>1844D2</td>
<td>0</td>
<td>78307</td>
<td>11010</td>
<td>468</td>
<td>22</td>
<td>0</td> <td>8</td>
</tr>
<tr><td>1844D3</td>
<td>1</td>
<td>69841</td>
<td>10754</td>
<td>457</td>
<td>25</td>
<td>0</td> <td>6</td>
</tr>
<tr><td>1844D4</td>
<td>2</td>
<td>81132</td>
<td>11693</td>
<td>487</td>
<td>25</td>
<td>0</td> <td>11</td>
</tr>
<tr><td>1845D1</td>
<td>3</td>
<td>95999</td>
<td>12799</td>
<td>508</td>
<td>41</td>
<td>0</td> <td>12</td>
</tr>
<tr><td>1845D2</td>
<td>2</td>
<td>80866</td>
<td>11138</td>
<td>488</td>
<td>17</td>
<td>0</td> <td>9</td>
</tr>
<tr><td>1845D3</td>
<td>3</td>
<td>67201</td>
<td>9911</td>
<td>429</td>
<td>18</td>
<td>0</td> <td>7</td>
</tr>
<tr><td>1845D4</td>
<td>0</td>
<td>72237</td>
<td>10489</td>
<td>494</td>
<td>15</td>
<td>0</td> <td>7</td>
</tr>
<tr><td>1846D1</td>
<td>1</td>
<td>81060</td>
<td>11572</td>
<td>511</td>
<td>29</td>
<td>0</td> <td>16</td>
</tr>
<tr><td>1846D2</td>
<td>0</td>
<td>82392</td>
<td>11916</td>
<td>511</td>
<td>44</td>
<td>0</td> <td>6</td>
</tr>
<tr><td>1846D3</td>
<td>3</td>
<td>89403</td>
<td>15486</td>
<td>647</td>
<td>22</td>
<td>0</td> <td>9</td>
</tr>
<tr><td>1846D4</td>
<td>3</td>
<td>96469</td>
<td>13250</td>
<td>546</td>
<td>11</td>
<td>0</td> <td>11</td>
</tr>
<tr><td>1847D1</td>
<td>2</td>
<td>107560</td>
<td>14271</td>
<td>561</td>
<td>32</td>
<td>0</td> <td>8</td>
</tr>
<tr><td>1847D2</td>
<td>1</td>
<td>96545</td>
<td>11945</td>
<td>464</td>
<td>39</td>
<td>0</td> <td>5</td>
</tr>
<tr><td>1847D3</td>
<td>5</td>
<td>82487</td>
<td>11587</td>
<td>462</td>
<td>21</td>
<td>0</td> <td>10</td>
</tr>
<tr><td>1847D4</td>
<td>9</td>
<td>92484</td>
<td>13490</td>
<td>548</td>
<td>24</td>
<td>0</td> <td>16</td>
</tr>
<tr><td>1848D1</td>
<td>1</td>
<td>108437</td>
<td>15311</td>
<td>666</td>
<td>39</td>
<td>0</td> <td>11</td>
</tr>
<tr><td>1848D2</td>
<td>3</td>
<td>89937</td>
<td>13738</td>
<td>615</td>
<td>29</td>
<td>0</td> <td>9</td>
</tr>
<tr><td>1848D3</td>
<td>6</td>
<td>76245</td>
<td>12961</td>
<td>520</td>
<td>27</td>
<td>0</td> <td>13</td>
</tr>
<tr><td>1848D4</td>
<td>0</td>
<td>80888</td>
<td>13092</td>
<td>552</td>
<td>40</td>
<td>0</td> <td>8</td>
</tr>
<tr><td>1849D1</td>
<td>5</td>
<td>93327</td>
<td>14045</td>
<td>607</td>
<td>30</td>
<td>0</td> <td>24</td>
</tr>
<tr><td>1849D2</td>
<td>3</td>
<td>90383</td>
<td>13244</td>
<td>587</td>
<td>16</td>
<td>0</td> <td>10</td>
</tr>
<tr><td>1849D3</td>
<td>10</td>
<td>117239</td>
<td>18129</td>
<td>710</td>
<td>24</td>
<td>0</td> <td>21</td>
</tr>
<tr><td>1849D4</td>
<td>2</td>
<td>85757</td>
<td>13079</td>
<td>563</td>
<td>19</td>
<td>0</td> <td>9</td>
</tr>
<tr><td>1850D1</td>
<td>3</td>
<td>91844</td>
<td>14259</td>
<td>583</td>
<td>34</td>
<td>0</td> <td>12</td>
</tr>
<tr><td>1850D2</td>
<td>1</td>
<td>83933</td>
<td>13197</td>
<td>561</td>
<td>36</td>
<td>0</td> <td>4</td>
</tr>
<tr><td>1850D3</td>
<td>2</td>
<td>76110</td>
<td>13161</td>
<td>599</td>
<td>30</td>
<td>0</td> <td>11</td>
</tr>
<tr><td>1850D4</td>
<td>1</td>
<td>81677</td>
<td>13663</td>
<td>610</td>
<td>32</td>
<td>0</td> <td>4</td>
</tr>
<tr><td>1851D1</td>
<td>0</td>
<td>94031</td>
<td>15116</td>
<td>618</td>
<td>36</td>
<td>0</td> <td>6</td>
</tr>
<tr><td>1851D2</td>
<td>2</td>
<td>91684</td>
<td>15206</td>
<td>615</td>
<td>36</td>
<td>0</td> <td>10</td>
</tr>
<tr><td>1851D3</td>
<td>6</td>
<td>89259</td>
<td>16782</td>
<td>711</td>
<td>31</td>
<td>0</td> <td>22</td>
</tr>
<tr><td>1851D4</td>
<td>2</td>
<td>93638</td>
<td>16173</td>
<td>735</td>
<td>40</td>
<td>0</td> <td>20</td>
</tr>
<tr><td>1852D1</td>
<td>4</td>
<td>104375</td>
<td>17911</td>
<td>774</td>
<td>34</td>
<td>0</td> <td>12</td>
</tr>
<tr><td>1852D2</td>
<td>2</td>
<td>94190</td>
<td>15904</td>
<td>725</td>
<td>38</td>
<td>0</td> <td>6</td>
</tr>
<tr><td>1852D3</td>
<td>4</td>
<td>93513</td>
<td>17975</td>
<td>840</td>
<td>42</td>
<td>0</td> <td>15</td>
</tr>
<tr><td>1852D4</td>
<td>2</td>
<td>97659</td>
<td>16995</td>
<td>688</td>
<td>56</td>
<td>0</td> <td>11</td>
</tr>
<tr><td>1853D1</td>
<td>1</td>
<td>103930</td>
<td>16731</td>
<td>707</td>
<td>37</td>
<td>0</td> <td>7</td>
</tr>
<tr><td>1853D2</td>
<td>3</td>
<td>105348</td>
<td>17965</td>
<td>806</td>
<td>55</td>
<td>0</td> <td>19</td>
</tr>
<tr><td>1853D3</td>
<td>4</td>
<td>84714</td>
<td>15360</td>
<td>716</td>
<td>33</td>
<td>0</td> <td>15</td>
</tr>
<tr><td>1853D4</td>
<td>2</td>
<td>97713</td>
<td>17745</td>
<td>781</td>
<td>39</td>
<td>0</td> <td>17</td>
</tr>
<tr><td>1854D1</td>
<td>1</td>
<td>99848</td>
<td>17766</td>
<td>733</td>
<td>46</td>
<td>0</td> <td>7</td>
</tr>
<tr><td>1854D2</td>
<td>2</td>
<td>88070</td>
<td>15914</td>
<td>637</td>
<td>28</td>
<td>0</td> <td>8</td>
</tr>
<tr><td>1854D3</td>
<td>3</td>
<td>96894</td>
<td>20167</td>
<td>859</td>
<td>45</td>
<td>0</td> <td>14</td>
</tr>
<tr><td>1854D4</td>
<td>2</td>
<td>96320</td>
<td>18437</td>
<td>798</td>
<td>27</td>
<td>0</td> <td>4</td>
</tr>
<tr><td>1855D1</td>
<td>2</td>
<td>124680</td>
<td>21300</td>
<td>1043</td>
<td>39</td>
<td>0</td> <td>9</td>
</tr>
<tr><td>1855D2</td>
<td>1</td>
<td>97386</td>
<td>18016</td>
<td>803</td>
<td>44</td>
<td>0</td> <td>8</td>
</tr>
<tr><td>1855D3</td>
<td>0</td>
<td>79997</td>
<td>16568</td>
<td>776</td>
<td>43</td>
<td>0</td> <td>10</td>
</tr>
<tr><td>1855D4</td>
<td>2</td>
<td>94134</td>
<td>18268</td>
<td>846</td>
<td>46</td>
<td>0</td> <td>12</td>
</tr>
<tr><td>1856D1</td>
<td>5</td>
<td>94581</td>
<td>17600</td>
<td>726</td>
<td>38</td>
<td>0</td> <td>16</td>
</tr>
<tr><td>1856D2</td>
<td>3</td>
<td>90284</td>
<td>17950</td>
<td>800</td>
<td>41</td>
<td>0</td> <td>12</td>
</tr>
<tr><td>1856D3</td>
<td>6</td>
<td>88544</td>
<td>19921</td>
<td>903</td>
<td>46</td>
<td>0</td> <td>19</td>
</tr>
<tr><td>1856D4</td>
<td>5</td>
<td>94492</td>
<td>19425</td>
<td>906</td>
<td>37</td>
<td>0</td> <td>18</td>
</tr>
<tr><td>1857D1</td>
<td>2</td>
<td>97329</td>
<td>19294</td>
<td>923</td>
<td>60</td>
<td>0</td> <td>13</td>
</tr>
<tr><td>1857D2</td>
<td>4</td>
<td>88717</td>
<td>17362</td>
<td>791</td>
<td>34</td>
<td>0</td> <td>12</td>
</tr>
<tr><td>1857D3</td>
<td>6</td>
<td>87442</td>
<td>21115</td>
<td>1016</td>
<td>50</td>
<td>0</td> <td>16</td>
</tr>
<tr><td>1857D4</td>
<td>2</td>
<td>100187</td>
<td>21842</td>
<td>979</td>
<td>55</td>
<td>0</td> <td>9</td>
</tr>
<tr><td>1858D1</td>
<td>21</td>
<td>113512</td>
<td>23594</td>
<td>1170</td>
<td>59</td>
<td>0</td> <td>33</td>
</tr>
<tr><td>1858D2</td>
<td>10</td>
<td>95599</td>
<td>21015</td>
<td>989</td>
<td>70</td>
<td>0</td> <td>28</td>
</tr>
<tr><td>1858D3</td>
<td>2</td>
<td>83525</td>
<td>19964</td>
<td>898</td>
<td>41</td>
<td>0</td> <td>9</td>
</tr>
<tr><td>1858D4</td>
<td>0</td>
<td>103773</td>
<td>25181</td>
<td>1110</td>
<td>67</td>
<td>0</td> <td>12</td>
</tr>
<tr><td>1859D1</td>
<td>3</td>
<td>106536</td>
<td>25435</td>
<td>1164</td>
<td>69</td>
<td>0</td> <td>21</td>
</tr>
<tr><td>1859D2</td>
<td>10</td>
<td>98793</td>
<td>22154</td>
<td>1042</td>
<td>59</td>
<td>0</td> <td>26</td>
</tr>
<tr><td>1859D3</td>
<td>3</td>
<td>85344</td>
<td>21738</td>
<td>1074</td>
<td>55</td>
<td>0</td> <td>12</td>
</tr>
<tr><td>1859D4</td>
<td>2</td>
<td>96443</td>
<td>21400</td>
<td>1061</td>
<td>73</td>
<td>0</td> <td>11</td>
</tr>
<tr><td>1860D1</td>
<td>3</td>
<td>108177</td>
<td>24433</td>
<td>1121</td>
<td>61</td>
<td>0</td> <td>12</td>
</tr>
<tr><td>1860D2</td>
<td>1</td>
<td>92611</td>
<td>19861</td>
<td>879</td>
<td>35</td>
<td>0</td> <td>15</td>
</tr>
<tr><td>1860D3</td>
<td>3</td>
<td>72552</td>
<td>16135</td>
<td>794</td>
<td>44</td>
<td>0</td> <td>7</td>
</tr>
<tr><td>1860D4</td>
<td>3</td>
<td>93038</td>
<td>22462</td>
<td>1117</td>
<td>55</td>
<td>0</td> <td>18</td>
</tr>
<tr><td>1861D1</td>
<td>2</td>
<td>101415</td>
<td>22724</td>
<td>1065</td>
<td>54</td>
<td>0</td> <td>7</td>
</tr>
<tr><td>1861D2</td>
<td>2</td>
<td>91911</td>
<td>21296</td>
<td>947</td>
<td>51</td>
<td>0</td> <td>9</td>
</tr>
<tr><td>1861D3</td>
<td>4</td>
<td>82447</td>
<td>21525</td>
<td>1011</td>
<td>53</td>
<td>0</td> <td>14</td>
</tr>
<tr><td>1861D4</td>
<td>1</td>
<td>88185</td>
<td>21217</td>
<td>1009</td>
<td>31</td>
<td>0</td> <td>8</td>
</tr>
<tr><td>1862D1</td>
<td>5</td>
<td>110077</td>
<td>26583</td>
<td>1398</td>
<td>75</td>
<td>0</td> <td>19</td>
</tr>
<tr><td>1862D2</td>
<td>5</td>
<td>94551</td>
<td>22626</td>
<td>1064</td>
<td>39</td>
<td>0</td> <td>12</td>
</tr>
<tr><td>1862D3</td>
<td>6</td>
<td>77410</td>
<td>19209</td>
<td>888</td>
<td>48</td>
<td>0</td> <td>19</td>
</tr>
<tr><td>1862D4</td>
<td>1</td>
<td>96162</td>
<td>24508</td>
<td>1195</td>
<td>48</td>
<td>0</td> <td>7</td>
</tr>
<tr><td>1863D1</td>
<td>0</td>
<td>105397</td>
<td>25998</td>
<td>1262</td>
<td>77</td>
<td>0</td> <td>7</td>
</tr>
<tr><td>1863D2</td>
<td>7</td>
<td>99708</td>
<td>26431</td>
<td>1223</td>
<td>75</td>
<td>0</td> <td>29</td>
</tr>
<tr><td>1863D3</td>
<td>6</td>
<td>88882</td>
<td>25109</td>
<td>1203</td>
<td>61</td>
<td>0</td> <td>13</td>
</tr>
<tr><td>1863D4</td>
<td>58</td>
<td>99608</td>
<td>26793</td>
<td>1384</td>
<td>55</td>
<td>0</td> <td>68</td>
</tr>
<tr><td>1864D1</td>
<td>3</td>
<td>121509</td>
<td>29877</td>
<td>1603</td>
<td>77</td>
<td>0</td> <td>15</td>
</tr>
<tr><td>1864D2</td>
<td>4</td>
<td>99519</td>
<td>24603</td>
<td>1280</td>
<td>74</td>
<td>0</td> <td>19</td>
</tr>
<tr><td>1864D3</td>
<td>3</td>
<td>91246</td>
<td>25466</td>
<td>1332</td>
<td>63</td>
<td>0</td> <td>24</td>
</tr>
<tr><td>1864D4</td>
<td>9</td>
<td>107974</td>
<td>28751</td>
<td>1508</td>
<td>99</td>
<td>0</td> <td>23</td>
</tr>
<tr><td>1865D1</td>
<td>11</td>
<td>122968</td>
<td>30457</td>
<td>1620</td>
<td>83</td>
<td>0</td> <td>31</td>
</tr>
<tr><td>1865D2</td>
<td>6</td>
<td>94320</td>
<td>23636</td>
<td>1100</td>
<td>67</td>
<td>0</td> <td>25</td>
</tr>
<tr><td>1865D3</td>
<td>5</td>
<td>90553</td>
<td>26236</td>
<td>1381</td>
<td>82</td>
<td>0</td> <td>21</td>
</tr>
<tr><td>1865D4</td>
<td>2</td>
<td>101812</td>
<td>27652</td>
<td>1409</td>
<td>68</td>
<td>0</td> <td>20</td>
</tr>
<tr><td>1866D1</td>
<td>4</td>
<td>143555</td>
<td>64</td>
<td>1</td>
<td>2</td>
<td>22</td> <td>30932</td>
</tr>
<tr><td>1866D2</td>
<td>4</td>
<td>131844</td>
<td>65</td>
<td>4</td>
<td>2</td>
<td>22</td> <td>28720</td>
</tr>
<tr><td>1866D3</td>
<td>4</td>
<td>118492</td>
<td>47</td>
<td>4</td>
<td>3</td>
<td>22</td> <td>26122</td>
</tr>
<tr><td>1866D4</td>
<td>4</td>
<td>119671</td>
<td>77</td>
<td>2</td>
<td>0</td>
<td>22</td> <td>25803</td>
</tr>
<tr><td>1867D1</td>
<td>1</td>
<td>111304</td>
<td>25012</td>
<td>21</td>
<td>4</td>
<td>3</td> <td>3958</td>
</tr>
<tr><td>1867D2</td>
<td>1</td>
<td>90901</td>
<td>23499</td>
<td>23</td>
<td>4</td>
<td>1</td> <td>1350</td>
</tr>
<tr><td>1867D3</td>
<td>0</td>
<td>84321</td>
<td>25953</td>
<td>16</td>
<td>3</td>
<td>1</td> <td>1548</td>
</tr>
<tr><td>1867D4</td>
<td>2</td>
<td>91506</td>
<td>26300</td>
<td>22</td>
<td>1</td>
<td>1</td> <td>1465</td>
</tr>
<tr><td>1868D1</td>
<td>2</td>
<td>94960</td>
<td>26420</td>
<td>22</td>
<td>1</td>
<td>1</td> <td>1422</td>
</tr>
<tr><td>1868D2</td>
<td>4</td>
<td>86923</td>
<td>24789</td>
<td>14</td>
<td>0</td>
<td>1</td> <td>1320</td>
</tr>
<tr><td>1868D3</td>
<td>2</td>
<td>97378</td>
<td>33595</td>
<td>30</td>
<td>1</td>
<td>1</td> <td>1918</td>
</tr>
<tr><td>1868D4</td>
<td>2</td>
<td>93751</td>
<td>27184</td>
<td>16</td>
<td>1</td>
<td>1</td> <td>1460</td>
</tr>
<tr><td>1869D1</td>
<td>3</td>
<td>104361</td>
<td>29353</td>
<td>20</td>
<td>3</td>
<td>1</td> <td>1545</td>
</tr>
<tr><td>1869D2</td>
<td>3</td>
<td>95042</td>
<td>27022</td>
<td>12</td>
<td>3</td>
<td>1</td> <td>1454</td>
</tr>
<tr><td>1869D3</td>
<td>3</td>
<td>85497</td>
<td>29511</td>
<td>17</td>
<td>0</td>
<td>1</td> <td>1646</td>
</tr>
<tr><td>1869D4</td>
<td>0</td>
<td>97388</td>
<td>31186</td>
<td>16</td>
<td>0</td>
<td>1</td> <td>1666</td>
</tr>
<tr><td>1870D1</td>
<td>3</td>
<td>111252</td>
<td>32979</td>
<td>22</td>
<td>0</td>
<td>1</td> <td>1771</td>
</tr>
<tr><td>1870D2</td>
<td>3</td>
<td>93257</td>
<td>28379</td>
<td>23</td>
<td>3</td>
<td>1</td> <td>1578</td>
</tr>
<tr><td>1870D3</td>
<td>2</td>
<td>91393</td>
<td>33375</td>
<td>20</td>
<td>1</td>
<td>1</td> <td>1865</td>
</tr>
<tr><td>1870D4</td>
<td>3</td>
<td>96070</td>
<td>30532</td>
<td>23</td>
<td>3</td>
<td>1</td> <td>1609</td>
</tr>
<tr><td>1871D1</td>
<td>3</td>
<td>111644</td>
<td>33323</td>
<td>38</td>
<td>4</td>
<td>1</td> <td>1844</td>
</tr>
<tr><td>1871D2</td>
<td>4</td>
<td>94908</td>
<td>28420</td>
<td>19</td>
<td>1</td>
<td>1</td> <td>1449</td>
</tr>
<tr><td>1871D3</td>
<td>2</td>
<td>90770</td>
<td>32757</td>
<td>25</td>
<td>1</td>
<td>2</td> <td>1856</td>
</tr>
<tr><td>1871D4</td>
<td>2</td>
<td>103869</td>
<td>32576</td>
<td>25</td>
<td>1</td>
<td>1</td> <td>1673</td>
</tr>
<tr><td>1872D1</td>
<td>5</td>
<td>108505</td>
<td>34370</td>
<td>34</td>
<td>1</td>
<td>1</td> <td>1831</td>
</tr>
<tr><td>1872D2</td>
<td>3</td>
<td>96593</td>
<td>30068</td>
<td>20</td>
<td>4</td>
<td>1</td> <td>1630</td>
</tr>
<tr><td>1872D3</td>
<td>0</td>
<td>90996</td>
<td>32822</td>
<td>34</td>
<td>3</td>
<td>2</td> <td>1984</td>
</tr>
<tr><td>1872D4</td>
<td>3</td>
<td>94369</td>
<td>29654</td>
<td>24</td>
<td>2</td>
<td>1</td> <td>1674</td>
</tr>
<tr><td>1873D1</td>
<td>3</td>
<td>106925</td>
<td>31555</td>
<td>30</td>
<td>0</td>
<td>1</td> <td>1675</td>
</tr>
<tr><td>1873D2</td>
<td>5</td>
<td>95510</td>
<td>28843</td>
<td>47</td>
<td>1</td>
<td>1</td> <td>1638</td>
</tr>
<tr><td>1873D3</td>
<td>9</td>
<td>87177</td>
<td>31703</td>
<td>26</td>
<td>4</td>
<td>2</td> <td>1941</td>
</tr>
<tr><td>1873D4</td>
<td>9</td>
<td>99090</td>
<td>33455</td>
<td>39</td>
<td>0</td>
<td>1</td> <td>1854</td>
</tr>
<tr><td>1874D1</td>
<td>2</td>
<td>105757</td>
<td>34866</td>
<td>26</td>
<td>0</td>
<td>1</td> <td>1948</td>
</tr>
<tr><td>1874D2</td>
<td>4</td>
<td>96245</td>
<td>31395</td>
<td>30</td>
<td>3</td>
<td>1</td> <td>1738</td>
</tr>
<tr><td>1874D3</td>
<td>4</td>
<td>93292</td>
<td>35461</td>
<td>34</td>
<td>1</td>
<td>2</td> <td>1973</td>
</tr>
<tr><td>1874D4</td>
<td>7</td>
<td>110908</td>
<td>37003</td>
<td>43</td>
<td>2</td>
<td>1</td> <td>2057</td>
</tr>
<tr><td>1875D1</td>
<td>9</td>
<td>133968</td>
<td>42983</td>
<td>38</td>
<td>0</td>
<td>1</td> <td>2522</td>
</tr>
<tr><td>1875D2</td>
<td>16</td>
<td>98462</td>
<td>33007</td>
<td>28</td>
<td>0</td>
<td>1</td> <td>1896</td>
</tr>
<tr><td>1875D3</td>
<td>4</td>
<td>92013</td>
<td>37492</td>
<td>28</td>
<td>1</td>
<td>2</td> <td>2383</td>
</tr>
<tr><td>1875D4</td>
<td>5</td>
<td>97460</td>
<td>34665</td>
<td>22</td>
<td>0</td>
<td>2</td> <td>2023</td>
</tr>
<tr><td>1876D1</td>
<td>3</td>
<td>110680</td>
<td>39053</td>
<td>41</td>
<td>1</td>
<td>2</td> <td>2345</td>
</tr>
<tr><td>1876D2</td>
<td>5</td>
<td>97356</td>
<td>34113</td>
<td>41</td>
<td>3</td>
<td>2</td> <td>2085</td>
</tr>
<tr><td>1876D3</td>
<td>4</td>
<td>89466</td>
<td>36411</td>
<td>28</td>
<td>1</td>
<td>2</td> <td>2257</td>
</tr>
<tr><td>1876D4</td>
<td>8</td>
<td>92733</td>
<td>34083</td>
<td>32</td>
<td>2</td>
<td>2</td> <td>2002</td>
</tr>
<tr><td>1877D1</td>
<td>2</td>
<td>105513</td>
<td>37282</td>
<td>28</td>
<td>4</td>
<td>2</td> <td>2164</td>
</tr>
<tr><td>1877D2</td>
<td>0</td>
<td>102148</td>
<td>35880</td>
<td>49</td>
<td>0</td>
<td>2</td> <td>2096</td>
</tr>
<tr><td>1877D3</td>
<td>2</td>
<td>83466</td>
<td>31715</td>
<td>37</td>
<td>1</td>
<td>2</td> <td>1979</td>
</tr>
<tr><td>1877D4</td>
<td>3</td>
<td>94392</td>
<td>35003</td>
<td>22</td>
<td>0</td>
<td>2</td> <td>2048</td>
</tr>
<tr><td>1878D1</td>
<td>6</td>
<td>107996</td>
<td>41104</td>
<td>51</td>
<td>5</td>
<td>2</td> <td>2501</td>
</tr>
<tr><td>1878D2</td>
<td>13</td>
<td>98559</td>
<td>37361</td>
<td>49</td>
<td>2</td>
<td>2</td> <td>2389</td>
</tr>
<tr><td>1878D3</td>
<td>9</td>
<td>94812</td>
<td>41208</td>
<td>36</td>
<td>1</td>
<td>2</td> <td>2501</td>
</tr>
<tr><td>1878D4</td>
<td>2</td>
<td>107310</td>
<td>39062</td>
<td>50</td>
<td>1</td>
<td>2</td> <td>2248</td>
</tr>
<tr><td>1879D1</td>
<td>1</td>
<td>116909</td>
<td>39659</td>
<td>42</td>
<td>6</td>
<td>2</td> <td>2356</td>
</tr>
<tr><td>1879D2</td>
<td>1</td>
<td>97769</td>
<td>34722</td>
<td>31</td>
<td>0</td>
<td>2</td> <td>2099</td>
</tr>
<tr><td>1879D3</td>
<td>1</td>
<td>75882</td>
<td>28398</td>
<td>22</td>
<td>0</td>
<td>2</td> <td>1720</td>
</tr>
<tr><td>1879D4</td>
<td>3</td>
<td>97501</td>
<td>37399</td>
<td>29</td>
<td>1</td>
<td>2</td> <td>2218</td>
</tr>
<tr><td>1880D1</td>
<td>2</td>
<td>105292</td>
<td>41058</td>
<td>29</td>
<td>1</td>
<td>2</td> <td>2591</td>
</tr>
<tr><td>1880D2</td>
<td>4</td>
<td>91363</td>
<td>34524</td>
<td>21</td>
<td>1</td>
<td>2</td> <td>2072</td>
</tr>
<tr><td>1880D3</td>
<td>4</td>
<td>94945</td>
<td>44143</td>
<td>45</td>
<td>4</td>
<td>2</td> <td>2976</td>
</tr>
<tr><td>1880D4</td>
<td>3</td>
<td>91550</td>
<td>35264</td>
<td>23</td>
<td>1</td>
<td>2</td> <td>2202</td>
</tr>
<tr><td>1881D1</td>
<td>7</td>
<td>105731</td>
<td>36920</td>
<td>30</td>
<td>1</td>
<td>2</td> <td>2283</td>
</tr>
<tr><td>1881D2</td>
<td>0</td>
<td>90995</td>
<td>33533</td>
<td>31</td>
<td>1</td>
<td>2</td> <td>2018</td>
</tr>
<tr><td>1881D3</td>
<td>3</td>
<td>80826</td>
<td>33527</td>
<td>28</td>
<td>1</td>
<td>2</td> <td>2270</td>
</tr>
<tr><td>1881D4</td>
<td>10</td>
<td>91040</td>
<td>36190</td>
<td>27</td>
<td>0</td>
<td>2</td> <td>2267</td>
</tr>
<tr><td>1882D1</td>
<td>7</td>
<td>103750</td>
<td>42499</td>
<td>39</td>
<td>2</td>
<td>2</td> <td>2718</td>
</tr>
<tr><td>1882D2</td>
<td>1</td>
<td>92652</td>
<td>37263</td>
<td>39</td>
<td>5</td>
<td>2</td> <td>2307</td>
</tr>
<tr><td>1882D3</td>
<td>1</td>
<td>83811</td>
<td>35160</td>
<td>25</td>
<td>1</td>
<td>2</td> <td>2216</td>
</tr>
<tr><td>1882D4</td>
<td>5</td>
<td>99401</td>
<td>39702</td>
<td>46</td>
<td>3</td>
<td>2</td> <td>2570</td>
</tr>
<tr><td>1883D1</td>
<td>3</td>
<td>107073</td>
<td>40322</td>
<td>21</td>
<td>2</td>
<td>2</td> <td>2481</td>
</tr>
<tr><td>1883D2</td>
<td>3</td>
<td>97178</td>
<td>37184</td>
<td>27</td>
<td>5</td>
<td>2</td> <td>2251</td>
</tr>
<tr><td>1883D3</td>
<td>5</td>
<td>80278</td>
<td>33509</td>
<td>41</td>
<td>4</td>
<td>2</td> <td>2157</td>
</tr>
<tr><td>1883D4</td>
<td>5</td>
<td>93186</td>
<td>37486</td>
<td>32</td>
<td>6</td>
<td>2</td> <td>2327</td>
</tr>
<tr><td>1884D1</td>
<td>2</td>
<td>97746</td>
<td>39802</td>
<td>48</td>
<td>3</td>
<td>2</td> <td>2518</td>
</tr>
<tr><td>1884D2</td>
<td>7</td>
<td>95637</td>
<td>38989</td>
<td>47</td>
<td>5</td>
<td>2</td> <td>2540</td>
</tr>
<tr><td>1884D3</td>
<td>2</td>
<td>95839</td>
<td>45332</td>
<td>53</td>
<td>10</td>
<td>2</td> <td>3081</td>
</tr>
<tr><td>1884D4</td>
<td>8</td>
<td>100784</td>
<td>40183</td>
<td>51</td>
<td>8</td>
<td>2</td> <td>2577</td>
</tr>
<tr><td>1885D1</td>
<td>2</td>
<td>110443</td>
<td>43330</td>
<td>39</td>
<td>7</td>
<td>2</td> <td>2811</td>
</tr>
<tr><td>1885D2</td>
<td>2</td>
<td>98138</td>
<td>39958</td>
<td>36</td>
<td>6</td>
<td>2</td> <td>2511</td>
</tr>
<tr><td>1885D3</td>
<td>3</td>
<td>84196</td>
<td>36361</td>
<td>38</td>
<td>3</td>
<td>2</td> <td>2509</td>
</tr>
<tr><td>1885D4</td>
<td>5</td>
<td>95634</td>
<td>38865</td>
<td>28</td>
<td>5</td>
<td>2</td> <td>2545</td>
</tr>
<tr><td>1886D1</td>
<td>1</td>
<td>117205</td>
<td>46474</td>
<td>42</td>
<td>4</td>
<td>2</td> <td>2890</td>
</tr>
<tr><td>1886D2</td>
<td>5</td>
<td>93207</td>
<td>36821</td>
<td>38</td>
<td>9</td>
<td>2</td> <td>2454</td>
</tr>
<tr><td>1886D3</td>
<td>4</td>
<td>86997</td>
<td>41080</td>
<td>42</td>
<td>5</td>
<td>2</td> <td>2786</td>
</tr>
<tr><td>1886D4</td>
<td>3</td>
<td>94287</td>
<td>39277</td>
<td>28</td>
<td>1</td>
<td>2</td> <td>2525</td>
</tr>
<tr><td>1887D1</td>
<td>1</td>
<td>103002</td>
<td>40974</td>
<td>30</td>
<td>2</td>
<td>2</td> <td>2643</td>
</tr>
<tr><td>1887D2</td>
<td>3</td>
<td>91927</td>
<td>37402</td>
<td>28</td>
<td>7</td>
<td>2</td> <td>2417</td>
</tr>
<tr><td>1887D3</td>
<td>6</td>
<td>85758</td>
<td>40249</td>
<td>33</td>
<td>1</td>
<td>2</td> <td>2741</td>
</tr>
<tr><td>1887D4</td>
<td>5</td>
<td>95780</td>
<td>39011</td>
<td>25</td>
<td>7</td>
<td>2</td> <td>2589</td>
</tr>
<tr><td>1888D1</td>
<td>1</td>
<td>107502</td>
<td>43530</td>
<td>65</td>
<td>1</td>
<td>2</td> <td>2812</td>
</tr>
<tr><td>1888D2</td>
<td>7</td>
<td>90185</td>
<td>35574</td>
<td>41</td>
<td>2</td>
<td>2</td> <td>2256</td>
</tr>
<tr><td>1888D3</td>
<td>2</td>
<td>76323</td>
<td>32154</td>
<td>34</td>
<td>2</td>
<td>2</td> <td>2143</td>
</tr>
<tr><td>1888D4</td>
<td>3</td>
<td>90130</td>
<td>38730</td>
<td>35</td>
<td>7</td>
<td>2</td> <td>2428</td>
</tr>
<tr><td>1889D1</td>
<td>4</td>
<td>99471</td>
<td>40662</td>
<td>35</td>
<td>4</td>
<td>2</td> <td>2610</td>
</tr>
<tr><td>1889D2</td>
<td>0</td>
<td>88299</td>
<td>36887</td>
<td>19</td>
<td>2</td>
<td>2</td> <td>2333</td>
</tr>
<tr><td>1889D3</td>
<td>3</td>
<td>84391</td>
<td>38771</td>
<td>28</td>
<td>4</td>
<td>2</td> <td>2621</td>
</tr>
<tr><td>1889D4</td>
<td>0</td>
<td>94127</td>
<td>38774</td>
<td>31</td>
<td>4</td>
<td>2</td> <td>2508</td>
</tr>
<tr><td>1890D1</td>
<td>9</td>
<td>119280</td>
<td>47101</td>
<td>33</td>
<td>8</td>
<td>2</td> <td>3001</td>
</tr>
<tr><td>1890D2</td>
<td>1</td>
<td>91569</td>
<td>37671</td>
<td>41</td>
<td>6</td>
<td>2</td> <td>2456</td>
</tr>
<tr><td>1890D3</td>
<td>6</td>
<td>84090</td>
<td>39113</td>
<td>46</td>
<td>0</td>
<td>2</td> <td>2656</td>
</tr>
<tr><td>1890D4</td>
<td>5</td>
<td>102684</td>
<td>43928</td>
<td>41</td>
<td>5</td>
<td>2</td> <td>2831</td>
</tr>
<tr><td>1891D1</td>
<td>9</td>
<td>115024</td>
<td>46554</td>
<td>56</td>
<td>13</td>
<td>2</td> <td>3056</td>
</tr>
<tr><td>1891D2</td>
<td>2</td>
<td>127666</td>
<td>49417</td>
<td>42</td>
<td>2</td>
<td>2</td> <td>2938</td>
</tr>
<tr><td>1891D3</td>
<td>1</td>
<td>84100</td>
<td>37386</td>
<td>46</td>
<td>8</td>
<td>2</td> <td>2434</td>
</tr>
<tr><td>1891D4</td>
<td>3</td>
<td>100538</td>
<td>44854</td>
<td>37</td>
<td>5</td>
<td>2</td> <td>2847</td>
</tr>
<tr><td>1892D1</td>
<td>3</td>
<td>130556</td>
<td>53016</td>
<td>50</td>
<td>8</td>
<td>2</td> <td>3405</td>
</tr>
<tr><td>1892D2</td>
<td>0</td>
<td>92155</td>
<td>40615</td>
<td>28</td>
<td>3</td>
<td>2</td> <td>2606</td>
</tr>
<tr><td>1892D3</td>
<td>5</td>
<td>78961</td>
<td>37712</td>
<td>37</td>
<td>6</td>
<td>2</td> <td>2548</td>
</tr>
<tr><td>1892D4</td>
<td>5</td>
<td>89952</td>
<td>39762</td>
<td>33</td>
<td>2</td>
<td>2</td> <td>2527</td>
</tr>
<tr><td>1893D1</td>
<td>3</td>
<td>101535</td>
<td>43539</td>
<td>33</td>
<td>5</td>
<td>2</td> <td>2893</td>
</tr>
<tr><td>1893D2</td>
<td>3</td>
<td>92581</td>
<td>41202</td>
<td>23</td>
<td>1</td>
<td>2</td> <td>2610</td>
</tr>
<tr><td>1893D3</td>
<td>2</td>
<td>94812</td>
<td>49536</td>
<td>28</td>
<td>2</td>
<td>2</td> <td>3401</td>
</tr>
<tr><td>1893D4</td>
<td>7</td>
<td>103710</td>
<td>46079</td>
<td>21</td>
<td>3</td>
<td>2</td> <td>2926</td>
</tr>
<tr><td>1894D1</td>
<td>4</td>
<td>101877</td>
<td>46919</td>
<td>25</td>
<td>4</td>
<td>2</td> <td>3077</td>
</tr>
<tr><td>1894D2</td>
<td>3</td>
<td>81674</td>
<td>37639</td>
<td>25</td>
<td>2</td>
<td>2</td> <td>2541</td>
</tr>
<tr><td>1894D3</td>
<td>7</td>
<td>73175</td>
<td>34815</td>
<td>26</td>
<td>4</td>
<td>2</td> <td>2443</td>
</tr>
<tr><td>1894D4</td>
<td>5</td>
<td>85648</td>
<td>39771</td>
<td>30</td>
<td>8</td>
<td>2</td> <td>2735</td>
</tr>
<tr><td>1895D1</td>
<td>17</td>
<td>120063</td>
<td>50898</td>
<td>31</td>
<td>3</td>
<td>2</td> <td>3762</td>
</tr>
<tr><td>1895D2</td>
<td>2</td>
<td>90816</td>
<td>40289</td>
<td>22</td>
<td>2</td>
<td>2</td> <td>2650</td>
</tr>
<tr><td>1895D3</td>
<td>4</td>
<td>88204</td>
<td>46359</td>
<td>27</td>
<td>2</td>
<td>3</td> <td>3415</td>
</tr>
<tr><td>1895D4</td>
<td>2</td>
<td>91443</td>
<td>43940</td>
<td>22</td>
<td>5</td>
<td>2</td> <td>2985</td>
</tr>
<tr><td>1896D1</td>
<td>3</td>
<td>92581</td>
<td>44858</td>
<td>28</td>
<td>3</td>
<td>2</td> <td>3240</td>
</tr>
<tr><td>1896D2</td>
<td>4</td>
<td>84829</td>
<td>40765</td>
<td>22</td>
<td>0</td>
<td>2</td> <td>2928</td>
</tr>
<tr><td>1896D3</td>
<td>4</td>
<td>82645</td>
<td>44557</td>
<td>29</td>
<td>5</td>
<td>3</td> <td>3351</td>
</tr>
<tr><td>1896D4</td>
<td>6</td>
<td>95136</td>
<td>44024</td>
<td>35</td>
<td>3</td>
<td>2</td> <td>3471</td>
</tr>
<tr><td>1897D1</td>
<td>1</td>
<td>98945</td>
<td>45040</td>
<td>30</td>
<td>3</td>
<td>3</td> <td>3627</td>
</tr>
<tr><td>1897D2</td>
<td>1</td>
<td>87657</td>
<td>39231</td>
<td>20</td>
<td>0</td>
<td>2</td> <td>2919</td>
</tr>
<tr><td>1897D3</td>
<td>3</td>
<td>89464</td>
<td>50315</td>
<td>35</td>
<td>5</td>
<td>3</td> <td>4300</td>
</tr>
<tr><td>1897D4</td>
<td>2</td>
<td>89732</td>
<td>43666</td>
<td>23</td>
<td>4</td>
<td>3</td> <td>3460</td>
</tr>
<tr><td>1898D1</td>
<td>2</td>
<td>102774</td>
<td>48605</td>
<td>40</td>
<td>4</td>
<td>3</td> <td>4003</td>
</tr>
<tr><td>1898D2</td>
<td>4</td>
<td>87252</td>
<td>40545</td>
<td>34</td>
<td>3</td>
<td>2</td> <td>3188</td>
</tr>
<tr><td>1898D3</td>
<td>3</td>
<td>89626</td>
<td>52810</td>
<td>24</td>
<td>2</td>
<td>3</td> <td>4620</td>
</tr>
<tr><td>1898D4</td>
<td>23</td>
<td>89252</td>
<td>44030</td>
<td>30</td>
<td>4</td>
<td>3</td> <td>3582</td>
</tr>
<tr><td>1899D1</td>
<td>13</td>
<td>101188</td>
<td>46891</td>
<td>29</td>
<td>2</td>
<td>3</td> <td>3752</td>
</tr>
<tr><td>1899D2</td>
<td>0</td>
<td>90717</td>
<td>41682</td>
<td>34</td>
<td>5</td>
<td>2</td> <td>3249</td>
</tr>
<tr><td>1899D3</td>
<td>3</td>
<td>96005</td>
<td>58533</td>
<td>39</td>
<td>1</td>
<td>3</td> <td>5131</td>
</tr>
<tr><td>1899D4</td>
<td>2</td>
<td>101311</td>
<td>48448</td>
<td>31</td>
<td>8</td>
<td>3</td> <td>3776</td>
</tr>
<tr><td>1900D1</td>
<td>6</td>
<td>126568</td>
<td>55714</td>
<td>30</td>
<td>3</td>
<td>3</td> <td>4755</td>
</tr>
<tr><td>1900D2</td>
<td>9</td>
<td>96257</td>
<td>46101</td>
<td>28</td>
<td>7</td>
<td>3</td> <td>4292</td>
</tr>
<tr><td>1900D3</td>
<td>5</td>
<td>87044</td>
<td>46874</td>
<td>31</td>
<td>1</td>
<td>5</td> <td>6030</td>
</tr>
<tr><td>1900D4</td>
<td>9</td>
<td>88973</td>
<td>43626</td>
<td>29</td>
<td>5</td>
<td>4</td> <td>5071</td>
</tr>
<tr><td>1901D1</td>
<td>4</td>
<td>99515</td>
<td>47611</td>
<td>29</td>
<td>0</td>
<td>3</td> <td>4778</td>
</tr>
<tr><td>1901D2</td>
<td>7</td>
<td>87747</td>
<td>41657</td>
<td>24</td>
<td>2</td>
<td>3</td> <td>3671</td>
</tr>
<tr><td>1901D3</td>
<td>5</td>
<td>89411</td>
<td>51061</td>
<td>30</td>
<td>1</td>
<td>3</td> <td>4857</td>
</tr>
<tr><td>1901D4</td>
<td>3</td>
<td>92283</td>
<td>45811</td>
<td>30</td>
<td>2</td>
<td>3</td> <td>4245</td>
</tr>
<tr><td>1902D1</td>
<td>3</td>
<td>102525</td>
<td>49041</td>
<td>33</td>
<td>1</td>
<td>4</td> <td>5502</td>
</tr>
<tr><td>1902D2</td>
<td>4</td>
<td>90974</td>
<td>42548</td>
<td>27</td>
<td>5</td>
<td>4</td> <td>5110</td>
</tr>
<tr><td>1902D3</td>
<td>8</td>
<td>76722</td>
<td>39287</td>
<td>24</td>
<td>1</td>
<td>4</td> <td>4515</td>
</tr>
<tr><td>1902D4</td>
<td>8</td>
<td>91949</td>
<td>46199</td>
<td>24</td>
<td>2</td>
<td>4</td> <td>5288</td>
</tr>
<tr><td>1903D1</td>
<td>1</td>
<td>94392</td>
<td>44631</td>
<td>30</td>
<td>6</td>
<td>4</td> <td>5290</td>
</tr>
<tr><td>1903D2</td>
<td>2</td>
<td>84407</td>
<td>40044</td>
<td>20</td>
<td>1</td>
<td>4</td> <td>4482</td>
</tr>
<tr><td>1903D3</td>
<td>8</td>
<td>78738</td>
<td>38759</td>
<td>31</td>
<td>6</td>
<td>4</td> <td>4611</td>
</tr>
<tr><td>1903D4</td>
<td>2</td>
<td>92432</td>
<td>44329</td>
<td>36</td>
<td>2</td>
<td>4</td> <td>5222</td>
</tr>
<tr><td>1904D1</td>
<td>3</td>
<td>109426</td>
<td>51849</td>
<td>37</td>
<td>7</td>
<td>4</td> <td>6216</td>
</tr>
<tr><td>1904D2</td>
<td>0</td>
<td>89868</td>
<td>42689</td>
<td>32</td>
<td>7</td>
<td>4</td> <td>5248</td>
</tr>
<tr><td>1904D3</td>
<td>3</td>
<td>86580</td>
<td>48062</td>
<td>29</td>
<td>3</td>
<td>5</td> <td>6252</td>
</tr>
<tr><td>1904D4</td>
<td>4</td>
<td>94496</td>
<td>44948</td>
<td>36</td>
<td>0</td>
<td>4</td> <td>5179</td>
</tr>
<tr><td>1905D1</td>
<td>8</td>
<td>101229</td>
<td>48438</td>
<td>35</td>
<td>3</td>
<td>4</td> <td>5625</td>
</tr>
<tr><td>1905D2</td>
<td>9</td>
<td>83566</td>
<td>40626</td>
<td>29</td>
<td>2</td>
<td>4</td> <td>4635</td>
</tr>
<tr><td>1905D3</td>
<td>3</td>
<td>79707</td>
<td>42101</td>
<td>33</td>
<td>4</td>
<td>4</td> <td>4717</td>
</tr>
<tr><td>1905D4</td>
<td>3</td>
<td>86774</td>
<td>42007</td>
<td>41</td>
<td>4</td>
<td>4</td> <td>4571</td>
</tr>
<tr><td>1906D1</td>
<td>6</td>
<td>95498</td>
<td>45809</td>
<td>29</td>
<td>3</td>
<td>4</td> <td>5864</td>
</tr>
<tr><td>1906D2</td>
<td>6</td>
<td>85769</td>
<td>40573</td>
<td>11</td>
<td>2</td>
<td>4</td> <td>4996</td>
</tr>
<tr><td>1906D3</td>
<td>9</td>
<td>83534</td>
<td>46915</td>
<td>29</td>
<td>3</td>
<td>4</td> <td>5477</td>
</tr>
<tr><td>1906D4</td>
<td>4</td>
<td>91952</td>
<td>44989</td>
<td>31</td>
<td>6</td>
<td>3</td> <td>4571</td>
</tr>
<tr><td>1907D1</td>
<td>7</td>
<td>107900</td>
<td>53216</td>
<td>31</td>
<td>5</td>
<td>3</td> <td>5573</td>
</tr>
<tr><td>1907D2</td>
<td>6</td>
<td>85418</td>
<td>42781</td>
<td>22</td>
<td>3</td>
<td>4</td> <td>4603</td>
</tr>
<tr><td>1907D3</td>
<td>6</td>
<td>71367</td>
<td>36221</td>
<td>25</td>
<td>1</td>
<td>4</td> <td>3826</td>
</tr>
<tr><td>1907D4</td>
<td>3</td>
<td>86458</td>
<td>44566</td>
<td>23</td>
<td>2</td>
<td>3</td> <td>4387</td>
</tr>
<tr><td>1908D1</td>
<td>3</td>
<td>105114</td>
<td>52395</td>
<td>39</td>
<td>1</td>
<td>3</td> <td>4952</td>
</tr>
<tr><td>1908D2</td>
<td>3</td>
<td>81322</td>
<td>40789</td>
<td>28</td>
<td>3</td>
<td>3</td> <td>3910</td>
</tr>
<tr><td>1908D3</td>
<td>9</td>
<td>74801</td>
<td>39747</td>
<td>31</td>
<td>2</td>
<td>4</td> <td>4033</td>
</tr>
<tr><td>1908D4</td>
<td>3</td>
<td>85130</td>
<td>44779</td>
<td>32</td>
<td>1</td>
<td>3</td> <td>4527</td>
</tr>
<tr><td>1909D1</td>
<td>3</td>
<td>108179</td>
<td>53826</td>
<td>29</td>
<td>2</td>
<td>3</td> <td>5301</td>
</tr>
<tr><td>1909D2</td>
<td>3</td>
<td>84118</td>
<td>42169</td>
<td>27</td>
<td>3</td>
<td>4</td> <td>4523</td>
</tr>
<tr><td>1909D3</td>
<td>6</td>
<td>69332</td>
<td>36232</td>
<td>24</td>
<td>3</td>
<td>4</td> <td>4059</td>
</tr>
<tr><td>1909D4</td>
<td>7</td>
<td>85710</td>
<td>42816</td>
<td>31</td>
<td>9</td>
<td>4</td> <td>4561</td>
</tr>
<tr><td>1910D1</td>
<td>2</td>
<td>91508</td>
<td>45897</td>
<td>40</td>
<td>3</td>
<td>3</td> <td>4725</td>
</tr>
<tr><td>1910D2</td>
<td>3</td>
<td>77365</td>
<td>39352</td>
<td>22</td>
<td>0</td>
<td>4</td> <td>4138</td>
</tr>
<tr><td>1910D3</td>
<td>22</td>
<td>104247</td>
<td>683</td>
<td>10</td>
<td>1</td>
<td>35</td> <td>36836</td>
</tr>
<tr><td>1910D4</td>
<td>8</td>
<td>127360</td>
<td>878</td>
<td>29</td>
<td>3</td>
<td>35</td> <td>45191</td>
</tr>
<tr><td>1911D1</td>
<td>4</td>
<td>144091</td>
<td>101</td>
<td>6</td>
<td>0</td>
<td>36</td> <td>52487</td>
</tr>
<tr><td>1911D2</td>
<td>0</td>
<td>120853</td>
<td>78</td>
<td>2</td>
<td>0</td>
<td>36</td> <td>42960</td>
</tr>
<tr><td>1911D3</td>
<td>3</td>
<td>142177</td>
<td>106</td>
<td>3</td>
<td>2</td>
<td>40</td> <td>56538</td>
</tr>
<tr><td>1911D4</td>
<td>4</td>
<td>124696</td>
<td>98</td>
<td>1</td>
<td>1</td>
<td>36</td> <td>44532</td>
</tr>
<tr><td>1912D1</td>
<td>6</td>
<td>145638</td>
<td>119</td>
<td>6</td>
<td>0</td>
<td>35</td> <td>51534</td>
</tr>
<tr><td>1912D2</td>
<td>3</td>
<td>116548</td>
<td>81</td>
<td>1</td>
<td>1</td>
<td>36</td> <td>41768</td>
</tr>
<tr><td>1912D3</td>
<td>2</td>
<td>102427</td>
<td>66</td>
<td>1</td>
<td>0</td>
<td>36</td> <td>36987</td>
</tr>
<tr><td>1912D4</td>
<td>3</td>
<td>125510</td>
<td>87</td>
<td>0</td>
<td>0</td>
<td>36</td> <td>45592</td>
</tr>
<tr><td>1913D1</td>
<td>4</td>
<td>147240</td>
<td>320</td>
<td>3</td>
<td>0</td>
<td>36</td> <td>53218</td>
</tr>
<tr><td>1913D2</td>
<td>4</td>
<td>122350</td>
<td>148</td>
<td>3</td>
<td>2</td>
<td>36</td> <td>43844</td>
</tr>
<tr><td>1913D3</td>
<td>0</td>
<td>113974</td>
<td>284</td>
<td>1</td>
<td>0</td>
<td>37</td> <td>41996</td>
</tr>
<tr><td>1913D4</td>
<td>3</td>
<td>123868</td>
<td>178</td>
<td>3</td>
<td>0</td>
<td>37</td> <td>45419</td>
</tr>
<tr><td>1914D1</td>
<td>6</td>
<td>146865</td>
<td>207</td>
<td>3</td>
<td>1</td>
<td>36</td> <td>53521</td>
</tr>
<tr><td>1914D2</td>
<td>2</td>
<td>124755</td>
<td>211</td>
<td>0</td>
<td>0</td>
<td>36</td> <td>45075</td>
</tr>
<tr><td>1914D3</td>
<td>5</td>
<td>116171</td>
<td>171</td>
<td>3</td>
<td>0</td>
<td>38</td> <td>43731</td>
</tr>
<tr><td>1914D4</td>
<td>20</td>
<td>131445</td>
<td>348</td>
<td>3</td>
<td>1</td>
<td>37</td> <td>48953</td>
</tr>
<tr><td>1915D1</td>
<td>29</td>
<td>178323</td>
<td>349</td>
<td>4</td>
<td>1</td>
<td>38</td> <td>68366</td>
</tr>
<tr><td>1915D2</td>
<td>22</td>
<td>139360</td>
<td>298</td>
<td>6</td>
<td>0</td>
<td>38</td> <td>52808</td>
</tr>
<tr><td>1915D3</td>
<td>11</td>
<td>110364</td>
<td>140</td>
<td>2</td>
<td>0</td>
<td>38</td> <td>42211</td>
</tr>
<tr><td>1915D4</td>
<td>27</td>
<td>137999</td>
<td>213</td>
<td>4</td>
<td>0</td>
<td>37</td> <td>51359</td>
</tr>
<tr><td>1916D1</td>
<td>18</td>
<td>143884</td>
<td>353</td>
<td>2</td>
<td>0</td>
<td>37</td> <td>53852</td>
</tr>
<tr><td>1916D2</td>
<td>23</td>
<td>127067</td>
<td>469</td>
<td>1</td>
<td>0</td>
<td>37</td> <td>47689</td>
</tr>
<tr><td>1916D3</td>
<td>52</td>
<td>103046</td>
<td>216</td>
<td>2</td>
<td>0</td>
<td>38</td> <td>39255</td>
</tr>
<tr><td>1916D4</td>
<td>67</td>
<td>137223</td>
<td>409</td>
<td>1</td>
<td>1</td>
<td>37</td> <td>50866</td>
</tr>
<tr><td>1917D1</td>
<td>36</td>
<td>165061</td>
<td>166</td>
<td>3</td>
<td>2</td>
<td>38</td> <td>62587</td>
</tr>
<tr><td>1917D2</td>
<td>26</td>
<td>128750</td>
<td>144</td>
<td>2</td>
<td>2</td>
<td>38</td> <td>49084</td>
</tr>
<tr><td>1917D3</td>
<td>18</td>
<td>95305</td>
<td>142</td>
<td>1</td>
<td>1</td>
<td>39</td> <td>36962</td>
</tr>
<tr><td>1917D4</td>
<td>39</td>
<td>113694</td>
<td>104</td>
<td>2</td>
<td>2</td>
<td>39</td> <td>44487</td>
</tr>
<tr><td>1918D1</td>
<td>28</td>
<td>138966</td>
<td>241</td>
<td>8</td>
<td>1</td>
<td>40</td> <td>55574</td>
</tr>
<tr><td>1918D2</td>
<td>46</td>
<td>119250</td>
<td>238</td>
<td>4</td>
<td>0</td>
<td>39</td> <td>47050</td>
</tr>
<tr><td>1918D3</td>
<td>26</td>
<td>115275</td>
<td>214</td>
<td>0</td>
<td>0</td>
<td>40</td> <td>46458</td>
</tr>
<tr><td>1918D4</td>
<td>138</td>
<td>242565</td>
<td>603</td>
<td>10</td>
<td>3</td>
<td>44</td> <td>107622</td>
</tr>
<tr><td>1919D1</td>
<td>64</td>
<td>193010</td>
<td>282</td>
<td>0</td>
<td>0</td>
<td>40</td> <td>76831</td>
</tr>
<tr><td>1919D2</td>
<td>28</td>
<td>109157</td>
<td>46</td>
<td>1</td>
<td>0</td>
<td>39</td> <td>42101</td>
</tr>
<tr><td>1919D3</td>
<td>3</td>
<td>89652</td>
<td>145</td>
<td>4</td>
<td>0</td>
<td>39</td> <td>35181</td>
</tr>
<tr><td>1919D4</td>
<td>2</td>
<td>115364</td>
<td>118</td>
<td>3</td>
<td>0</td>
<td>39</td> <td>44895</td>
</tr>
<tr><td>1920D1</td>
<td>4</td>
<td>138475</td>
<td>84</td>
<td>2</td>
<td>0</td>
<td>41</td> <td>56745</td>
</tr>
<tr><td>1920D2</td>
<td>6</td>
<td>119994</td>
<td>98</td>
<td>1</td>
<td>0</td>
<td>40</td> <td>48085</td>
</tr>
<tr><td>1920D3</td>
<td>2</td>
<td>94158</td>
<td>51</td>
<td>1</td>
<td>1</td>
<td>40</td> <td>37717</td>
</tr>
<tr><td>1920D4</td>
<td>2</td>
<td>116173</td>
<td>56</td>
<td>6</td>
<td>1</td>
<td>40</td> <td>46231</td>
</tr>
<tr><td>1921D1</td>
<td>7</td>
<td>129971</td>
<td>71</td>
<td>2</td>
<td>0</td>
<td>40</td> <td>52446</td>
</tr>
<tr><td>1921D2</td>
<td>3</td>
<td>109035</td>
<td>47</td>
<td>0</td>
<td>0</td>
<td>39</td> <td>43045</td>
</tr>
<tr><td>1921D3</td>
<td>0</td>
<td>99689</td>
<td>71</td>
<td>2</td>
<td>0</td>
<td>41</td> <td>41217</td>
</tr>
<tr><td>1921D4</td>
<td>1</td>
<td>122405</td>
<td>85</td>
<td>1</td>
<td>0</td>
<td>40</td> <td>48989</td>
</tr>
<tr><td>1922D1</td>
<td>4</td>
<td>166525</td>
<td>99</td>
<td>3</td>
<td>2</td>
<td>40</td> <td>67226</td>
</tr>
<tr><td>1922D2</td>
<td>1</td>
<td>120828</td>
<td>68</td>
<td>1</td>
<td>1</td>
<td>41</td> <td>49255</td>
</tr>
<tr><td>1922D3</td>
<td>2</td>
<td>91411</td>
<td>51</td>
<td>3</td>
<td>1</td>
<td>40</td> <td>36755</td>
</tr>
<tr><td>1922D4</td>
<td>5</td>
<td>110579</td>
<td>40</td>
<td>3</td>
<td>1</td>
<td>40</td> <td>44515</td>
</tr>
<tr><td>1923D1</td>
<td>5</td>
<td>125410</td>
<td>75</td>
<td>3</td>
<td>0</td>
<td>40</td> <td>50460</td>
</tr>
<tr><td>1923D2</td>
<td>1</td>
<td>114721</td>
<td>55</td>
<td>3</td>
<td>0</td>
<td>40</td> <td>45849</td>
</tr>
<tr><td>1923D3</td>
<td>0</td>
<td>91882</td>
<td>37</td>
<td>2</td>
<td>2</td>
<td>41</td> <td>37987</td>
</tr>
<tr><td>1923D4</td>
<td>3</td>
<td>115501</td>
<td>55</td>
<td>7</td>
<td>1</td>
<td>40</td> <td>46537</td>
</tr>
<tr><td>1924D1</td>
<td>1</td>
<td>161158</td>
<td>55</td>
<td>2</td>
<td>0</td>
<td>41</td> <td>65566</td>
</tr>
<tr><td>1924D2</td>
<td>2</td>
<td>114835</td>
<td>29</td>
<td>2</td>
<td>1</td>
<td>40</td> <td>46283</td>
</tr>
<tr><td>1924D3</td>
<td>6</td>
<td>90690</td>
<td>18</td>
<td>0</td>
<td>0</td>
<td>41</td> <td>37361</td>
</tr>
<tr><td>1924D4</td>
<td>4</td>
<td>109414</td>
<td>32</td>
<td>2</td>
<td>0</td>
<td>41</td> <td>45096</td>
</tr>
<tr><td>1925D1</td>
<td>1</td>
<td>139140</td>
<td>60</td>
<td>3</td>
<td>0</td>
<td>41</td> <td>56852</td>
</tr>
<tr><td>1925D2</td>
<td>2</td>
<td>113996</td>
<td>99</td>
<td>0</td>
<td>0</td>
<td>41</td> <td>47094</td>
</tr>
<tr><td>1925D3</td>
<td>1</td>
<td>95679</td>
<td>97</td>
<td>1</td>
<td>0</td>
<td>42</td> <td>40164</td>
</tr>
<tr><td>1925D4</td>
<td>6</td>
<td>126983</td>
<td>106</td>
<td>5</td>
<td>0</td>
<td>42</td> <td>52824</td>
</tr>
<tr><td>1926D1</td>
<td>4</td>
<td>131281</td>
<td>166</td>
<td>8</td>
<td>1</td>
<td>42</td> <td>54929</td>
</tr>
<tr><td>1926D2</td>
<td>1</td>
<td>114533</td>
<td>45</td>
<td>1</td>
<td>3</td>
<td>42</td> <td>47935</td>
</tr>
<tr><td>1926D3</td>
<td>3</td>
<td>91312</td>
<td>54</td>
<td>1</td>
<td>1</td>
<td>42</td> <td>38819</td>
</tr>
<tr><td>1926D4</td>
<td>1</td>
<td>119453</td>
<td>66</td>
<td>3</td>
<td>0</td>
<td>42</td> <td>50075</td>
</tr>
<tr><td>1927D1</td>
<td>4</td>
<td>170011</td>
<td>64</td>
<td>2</td>
<td>1</td>
<td>42</td> <td>70876</td>
</tr>
<tr><td>1927D2</td>
<td>2</td>
<td>108333</td>
<td>43</td>
<td>3</td>
<td>0</td>
<td>43</td> <td>46077</td>
</tr>
<tr><td>1927D3</td>
<td>1</td>
<td>92990</td>
<td>65</td>
<td>1</td>
<td>0</td>
<td>43</td> <td>39724</td>
</tr>
<tr><td>1927D4</td>
<td>5</td>
<td>116933</td>
<td>55</td>
<td>2</td>
<td>1</td>
<td>43</td> <td>49914</td>
</tr>
<tr><td>1928D1</td>
<td>2</td>
<td>137261</td>
<td>48</td>
<td>4</td>
<td>3</td>
<td>43</td> <td>59062</td>
</tr>
<tr><td>1928D2</td>
<td>2</td>
<td>115671</td>
<td>34</td>
<td>0</td>
<td>0</td>
<td>43</td> <td>50298</td>
</tr>
<tr><td>1928D3</td>
<td>1</td>
<td>93674</td>
<td>32</td>
<td>0</td>
<td>0</td>
<td>44</td> <td>40846</td>
</tr>
<tr><td>1928D4</td>
<td>0</td>
<td>116455</td>
<td>34</td>
<td>1</td>
<td>0</td>
<td>43</td> <td>50520</td>
</tr>
<tr><td>1929D1</td>
<td>2</td>
<td>205673</td>
<td>142</td>
<td>6</td>
<td>2</td>
<td>43</td> <td>87791</td>
</tr>
<tr><td>1929D2</td>
<td>2</td>
<td>119597</td>
<td>113</td>
<td>4</td>
<td>4</td>
<td>43</td> <td>52077</td>
</tr>
<tr><td>1929D3</td>
<td>0</td>
<td>97438</td>
<td>55</td>
<td>2</td>
<td>0</td>
<td>44</td> <td>43048</td>
</tr>
<tr><td>1929D4</td>
<td>0</td>
<td>113440</td>
<td>35</td>
<td>4</td>
<td>2</td>
<td>44</td> <td>49961</td>
</tr>
<tr><td>1930D1</td>
<td>1</td>
<td>132901</td>
<td>76</td>
<td>3</td>
<td>0</td>
<td>44</td> <td>58750</td>
</tr>
<tr><td>1930D2</td>
<td>4</td>
<td>112186</td>
<td>61</td>
<td>2</td>
<td>2</td>
<td>44</td> <td>49756</td>
</tr>
<tr><td>1930D3</td>
<td>0</td>
<td>97043</td>
<td>51</td>
<td>2</td>
<td>0</td>
<td>45</td> <td>43222</td>
</tr>
<tr><td>1930D4</td>
<td>2</td>
<td>116552</td>
<td>46</td>
<td>1</td>
<td>0</td>
<td>44</td> <td>51616</td>
</tr>
<tr><td>1931D1</td>
<td>3</td>
<td>163408</td>
<td>46</td>
<td>1</td>
<td>0</td>
<td>44</td> <td>71685</td>
</tr>
<tr><td>1931D2</td>
<td>2</td>
<td>115475</td>
<td>25</td>
<td>0</td>
<td>0</td>
<td>44</td> <td>51285</td>
</tr>
<tr><td>1931D3</td>
<td>1</td>
<td>97438</td>
<td>19</td>
<td>0</td>
<td>1</td>
<td>45</td> <td>43666</td>
</tr>
<tr><td>1931D4</td>
<td>1</td>
<td>118840</td>
<td>35</td>
<td>4</td>
<td>0</td>
<td>45</td> <td>53182</td>
</tr>
<tr><td>1932D1</td>
<td>1</td>
<td>154506</td>
<td>43</td>
<td>0</td>
<td>1</td>
<td>45</td> <td>69265</td>
</tr>
<tr><td>1932D2</td>
<td>2</td>
<td>117126</td>
<td>34</td>
<td>4</td>
<td>1</td>
<td>45</td> <td>52967</td>
</tr>
<tr><td>1932D3</td>
<td>1</td>
<td>98700</td>
<td>27</td>
<td>2</td>
<td>1</td>
<td>46</td> <td>45071</td>
</tr>
<tr><td>1932D4</td>
<td>2</td>
<td>117326</td>
<td>44</td>
<td>4</td>
<td>3</td>
<td>45</td> <td>53249</td>
</tr>
<tr><td>1933D1</td>
<td>2</td>
<td>171241</td>
<td>58</td>
<td>2</td>
<td>1</td>
<td>45</td> <td>76886</td>
</tr>
<tr><td>1933D2</td>
<td>0</td>
<td>109477</td>
<td>34</td>
<td>1</td>
<td>0</td>
<td>46</td> <td>49870</td>
</tr>
<tr><td>1933D3</td>
<td>5</td>
<td>96477</td>
<td>30</td>
<td>1</td>
<td>0</td>
<td>46</td> <td>44307</td>
</tr>
<tr><td>1933D4</td>
<td>2</td>
<td>123037</td>
<td>38</td>
<td>3</td>
<td>0</td>
<td>46</td> <td>56735</td>
</tr>
<tr><td>1934D1</td>
<td>0</td>
<td>147117</td>
<td>76</td>
<td>8</td>
<td>2</td>
<td>46</td> <td>68237</td>
</tr>
<tr><td>1934D2</td>
<td>1</td>
<td>120006</td>
<td>39</td>
<td>2</td>
<td>0</td>
<td>46</td> <td>55644</td>
</tr>
<tr><td>1934D3</td>
<td>1</td>
<td>98448</td>
<td>32</td>
<td>1</td>
<td>0</td>
<td>47</td> <td>46008</td>
</tr>
<tr><td>1934D4</td>
<td>1</td>
<td>115198</td>
<td>44</td>
<td>2</td>
<td>1</td>
<td>47</td> <td>53724</td>
</tr>
<tr><td>1935D1</td>
<td>2</td>
<td>133707</td>
<td>54</td>
<td>1</td>
<td>0</td>
<td>46</td> <td>61454</td>
</tr>
<tr><td>1935D2</td>
<td>0</td>
<td>122854</td>
<td>83</td>
<td>1</td>
<td>0</td>
<td>46</td> <td>56875</td>
</tr>
<tr><td>1935D3</td>
<td>2</td>
<td>100943</td>
<td>28</td>
<td>2</td>
<td>0</td>
<td>47</td> <td>47142</td>
</tr>
<tr><td>1935D4</td>
<td>3</td>
<td>123776</td>
<td>34</td>
<td>4</td>
<td>1</td>
<td>47</td> <td>57585</td>
</tr>
<tr><td>1936D1</td>
<td>3</td>
<td>154807</td>
<td>45</td>
<td>3</td>
<td>0</td>
<td>46</td> <td>71876</td>
</tr>
<tr><td>1936D2</td>
<td>3</td>
<td>120431</td>
<td>31</td>
<td>0</td>
<td>0</td>
<td>47</td> <td>56539</td>
</tr>
<tr><td>1936D3</td>
<td>3</td>
<td>100709</td>
<td>32</td>
<td>4</td>
<td>1</td>
<td>47</td> <td>47543</td>
</tr>
<tr><td>1936D4</td>
<td>0</td>
<td>123764</td>
<td>38</td>
<td>2</td>
<td>0</td>
<td>47</td> <td>58580</td>
</tr>
<tr><td>1937D1</td>
<td>2</td>
<td>165129</td>
<td>45</td>
<td>3</td>
<td>1</td>
<td>46</td> <td>76745</td>
</tr>
<tr><td>1937D2</td>
<td>0</td>
<td>119393</td>
<td>38</td>
<td>6</td>
<td>1</td>
<td>47</td> <td>56423</td>
</tr>
<tr><td>1937D3</td>
<td>1</td>
<td>101147</td>
<td>36</td>
<td>2</td>
<td>0</td>
<td>48</td> <td>48336</td>
</tr>
<tr><td>1937D4</td>
<td>3</td>
<td>128029</td>
<td>40</td>
<td>1</td>
<td>1</td>
<td>48</td> <td>60959</td>
</tr>
<tr><td>1938D1</td>
<td>5</td>
<td>138936</td>
<td>44</td>
<td>4</td>
<td>0</td>
<td>48</td> <td>66264</td>
</tr>
<tr><td>1938D2</td>
<td>3</td>
<td>120116</td>
<td>55</td>
<td>1</td>
<td>0</td>
<td>48</td> <td>57685</td>
</tr>
<tr><td>1938D3</td>
<td>3</td>
<td>103412</td>
<td>28</td>
<td>2</td>
<td>0</td>
<td>48</td> <td>49571</td>
</tr>
<tr><td>1938D4</td>
<td>4</td>
<td>120358</td>
<td>44</td>
<td>2</td>
<td>1</td>
<td>48</td> <td>57611</td>
</tr>
<tr><td>1939D1</td>
<td>3</td>
<td>155481</td>
<td>34</td>
<td>3</td>
<td>0</td>
<td>47</td> <td>73412</td>
</tr>
<tr><td>1939D2</td>
<td>2</td>
<td>121719</td>
<td>59</td>
<td>0</td>
<td>0</td>
<td>48</td> <td>58237</td>
</tr>
<tr><td>1939D3</td>
<td>2</td>
<td>104223</td>
<td>43</td>
<td>0</td>
<td>0</td>
<td>48</td> <td>50380</td>
</tr>
<tr><td>1939D4</td>
<td>8</td>
<td>122932</td>
<td>46</td>
<td>3</td>
<td>0</td>
<td>48</td> <td>59354</td>
</tr>
<tr><td>1940D1</td>
<td>7</td>
<td>206853</td>
<td>75</td>
<td>1</td>
<td>1</td>
<td>48</td> <td>99550</td>
</tr>
<tr><td>1940D2</td>
<td>115</td>
<td>120762</td>
<td>133</td>
<td>8</td>
<td>0</td>
<td>49</td> <td>58757</td>
</tr>
<tr><td>1940D3</td>
<td>74</td>
<td>113067</td>
<td>50</td>
<td>3</td>
<td>1</td>
<td>50</td> <td>57119</td>
</tr>
<tr><td>1940D4</td>
<td>52</td>
<td>146491</td>
<td>85</td>
<td>4</td>
<td>0</td>
<td>51</td> <td>74482</td>
</tr>
<tr><td>1941D1</td>
<td>62</td>
<td>180497</td>
<td>70</td>
<td>2</td>
<td>0</td>
<td>50</td> <td>89446</td>
</tr>
<tr><td>1941D2</td>
<td>60</td>
<td>141539</td>
<td>69</td>
<td>2</td>
<td>1</td>
<td>50</td> <td>70534</td>
</tr>
<tr><td>1941D3</td>
<td>38</td>
<td>102309</td>
<td>46</td>
<td>1</td>
<td>0</td>
<td>50</td> <td>51507</td>
</tr>
<tr><td>1941D4</td>
<td>4</td>
<td>116135</td>
<td>55</td>
<td>3</td>
<td>1</td>
<td>51</td> <td>58693</td>
</tr>
<tr><td>1942D1</td>
<td>4</td>
<td>152694</td>
<td>57</td>
<td>3</td>
<td>0</td>
<td>50</td> <td>76758</td>
</tr>
<tr><td>1942D2</td>
<td>11</td>
<td>118055</td>
<td>41</td>
<td>4</td>
<td>0</td>
<td>50</td> <td>59381</td>
</tr>
<tr><td>1942D3</td>
<td>25</td>
<td>98154</td>
<td>34</td>
<td>3</td>
<td>0</td>
<td>51</td> <td>50006</td>
</tr>
<tr><td>1942D4</td>
<td>11</td>
<td>115845</td>
<td>32</td>
<td>1</td>
<td>0</td>
<td>51</td> <td>59406</td>
</tr>
<tr><td>1943D1</td>
<td>13</td>
<td>139084</td>
<td>59</td>
<td>0</td>
<td>1</td>
<td>51</td> <td>70700</td>
</tr>
<tr><td>1943D2</td>
<td>7</td>
<td>114305</td>
<td>39</td>
<td>3</td>
<td>0</td>
<td>51</td> <td>58104</td>
</tr>
<tr><td>1943D3</td>
<td>9</td>
<td>99514</td>
<td>246</td>
<td>2</td>
<td>0</td>
<td>51</td> <td>51015</td>
</tr>
<tr><td>1943D4</td>
<td>6</td>
<td>154131</td>
<td>238</td>
<td>1</td>
<td>0</td>
<td>50</td> <td>77896</td>
</tr>
<tr><td>1944D1</td>
<td>10</td>
<td>147924</td>
<td>68</td>
<td>1</td>
<td>2</td>
<td>51</td> <td>75533</td>
</tr>
<tr><td>1944D2</td>
<td>21</td>
<td>116882</td>
<td>42</td>
<td>2</td>
<td>0</td>
<td>52</td> <td>60526</td>
</tr>
<tr><td>1942D3</td>
<td>25</td>
<td>98154</td>
<td>34</td>
<td>3</td>
<td>0</td>
<td>51</td> <td>50006</td>
</tr>
<tr><td>1942D4</td>
<td>11</td>
<td>115845</td>
<td>32</td>
<td>1</td>
<td>0</td>
<td>51</td> <td>59406</td>
</tr>
<tr><td>1943D1</td>
<td>13</td>
<td>139084</td>
<td>59</td>
<td>0</td>
<td>1</td>
<td>51</td> <td>70700</td>
</tr>
<tr><td>1943D2</td>
<td>7</td>
<td>114305</td>
<td>39</td>
<td>3</td>
<td>0</td>
<td>51</td> <td>58104</td>
</tr>
<tr><td>1943D3</td>
<td>9</td>
<td>99514</td>
<td>246</td>
<td>2</td>
<td>0</td>
<td>51</td> <td>51015</td>
</tr>
<tr><td>1943D4</td>
<td>6</td>
<td>154131</td>
<td>238</td>
<td>1</td>
<td>0</td>
<td>50</td> <td>77896</td>
</tr>
<tr><td>1944D1</td>
<td>10</td>
<td>147924</td>
<td>68</td>
<td>1</td>
<td>2</td>
<td>51</td> <td>75533</td>
</tr>
<tr><td>1944D2</td>
<td>21</td>
<td>116882</td>
<td>42</td>
<td>2</td>
<td>0</td>
<td>52</td> <td>60526</td>
</tr>
<tr><td>1944D3</td>
<td>18</td>
<td>108607</td>
<td>48</td>
<td>1</td>
<td>1</td>
<td>52</td> <td>56657</td>
</tr>
<tr><td>1944D4</td>
<td>4</td>
<td>124961</td>
<td>46</td>
<td>3</td>
<td>0</td>
<td>51</td> <td>64097</td>
</tr>
<tr><td>1945D1</td>
<td>4</td>
<td>159341</td>
<td>105</td>
<td>2</td>
<td>0</td>
<td>51</td> <td>81837</td>
</tr>
<tr><td>1945D2</td>
<td>5</td>
<td>112336</td>
<td>43</td>
<td>2</td>
<td>2</td>
<td>51</td> <td>57849</td>
</tr>
<tr><td>1945D3</td>
<td>1</td>
<td>98472</td>
<td>52</td>
<td>1</td>
<td>1</td>
<td>52</td> <td>50985</td>
</tr>
<tr><td>1945D4</td>
<td>23</td>
<td>123914</td>
<td>52</td>
<td>2</td>
<td>0</td>
<td>51</td> <td>63804</td>
</tr>
<tr><td>1946D1</td>
<td>16</td>
<td>157248</td>
<td>74</td>
<td>3</td>
<td>0</td>
<td>51</td> <td>80211</td>
</tr>
<tr><td>1946D2</td>
<td>8</td>
<td>115342</td>
<td>32</td>
<td>1</td>
<td>0</td>
<td>52</td> <td>59514</td>
</tr>
<tr><td>1946D3</td>
<td>1</td>
<td>101674</td>
<td>39</td>
<td>3</td>
<td>1</td>
<td>52</td> <td>52739</td>
</tr>
<tr><td>1946D4</td>
<td>11</td>
<td>124038</td>
<td>51</td>
<td>1</td>
<td>0</td>
<td>52</td> <td>64905</td>
</tr>
<tr><td>1947D1</td>
<td>1</td>
<td>184031</td>
<td>54</td>
<td>4</td>
<td>0</td>
<td>51</td> <td>94722</td>
</tr>
<tr><td>1947D2</td>
<td>2</td>
<td>119417</td>
<td>50</td>
<td>3</td>
<td>1</td>
<td>52</td> <td>62467</td>
</tr>
<tr><td>1947D3</td>
<td>1</td>
<td>98346</td>
<td>23</td>
<td>1</td>
<td>0</td>
<td>53</td> <td>52004</td>
</tr>
<tr><td>1947D4</td>
<td>2</td>
<td>122572</td>
<td>34</td>
<td>0</td>
<td>0</td>
<td>53</td> <td>64440</td>
</tr>
<tr><td>1948D1</td>
<td>1</td>
<td>134234</td>
<td>184</td>
<td>3</td>
<td>0</td>
<td>52</td> <td>70150</td>
</tr>
<tr><td>1948D2</td>
<td>1</td>
<td>111695</td>
<td>118</td>
<td>6</td>
<td>0</td>
<td>53</td> <td>58934</td>
</tr>
<tr><td>1948D3</td>
<td>5</td>
<td>102828</td>
<td>42</td>
<td>1</td>
<td>0</td>
<td>53</td> <td>54531</td>
</tr>
<tr><td>1948D4</td>
<td>0</td>
<td>126940</td>
<td>74</td>
<td>7</td>
<td>0</td>
<td>53</td> <td>66807</td>
</tr>
<tr><td>1949D1</td>
<td>1</td>
<td>163492</td>
<td>98</td>
<td>3</td>
<td>0</td>
<td>52</td> <td>85443</td>
</tr>
<tr><td>1949D2</td>
<td>1</td>
<td>121684</td>
<td>55</td>
<td>5</td>
<td>0</td>
<td>52</td> <td>63661</td>
</tr>
<tr><td>1949D3</td>
<td>1</td>
<td>102727</td>
<td>45</td>
<td>0</td>
<td>0</td>
<td>53</td> <td>54651</td>
</tr>
<tr><td>1949D4</td>
<td>2</td>
<td>130061</td>
<td>77</td>
<td>2</td>
<td>0</td>
<td>53</td> <td>69514</td>
</tr>
<tr><td>1950D1</td>
<td>5</td>
<td>153461</td>
<td>69</td>
<td>3</td>
<td>1</td>
<td>53</td> <td>81171</td>
</tr>
<tr><td>1950D2</td>
<td>1</td>
<td>122498</td>
<td>48</td>
<td>0</td>
<td>0</td>
<td>53</td> <td>64902</td>
</tr>
<tr><td>1950D3</td>
<td>2</td>
<td>104510</td>
<td>43</td>
<td>2</td>
<td>0</td>
<td>53</td> <td>55837</td>
</tr>
<tr><td>1950D4</td>
<td>1</td>
<td>137343</td>
<td>46</td>
<td>1</td>
<td>1</td>
<td>53</td> <td>73049</td>
</tr>
<tr><td>1951D1</td>
<td>7</td>
<td>208568</td>
<td>78</td>
<td>4</td>
<td>0</td>
<td>52</td> <td>108934</td>
</tr>
<tr><td>1951D2</td>
<td>1</td>
<td>123353</td>
<td>60</td>
<td>2</td>
<td>1</td>
<td>53</td> <td>66027</td>
</tr>
<tr><td>1951D3</td>
<td>2</td>
<td>101490</td>
<td>52</td>
<td>3</td>
<td>1</td>
<td>54</td> <td>54680</td>
</tr>
<tr><td>1951D4</td>
<td>1</td>
<td>123573</td>
<td>53</td>
<td>3</td>
<td>0</td>
<td>54</td> <td>66402</td>
</tr>
<tr><td>1952D1</td>
<td>1</td>
<td>149114</td>
<td>52</td>
<td>0</td>
<td>0</td>
<td>54</td> <td>79945</td>
</tr>
<tr><td>1952D2</td>
<td>3</td>
<td>116981</td>
<td>38</td>
<td>1</td>
<td>2</td>
<td>54</td> <td>62989</td>
</tr>
<tr><td>1952D3</td>
<td>0</td>
<td>99752</td>
<td>272</td>
<td>5</td>
<td>0</td>
<td>54</td> <td>54404</td>
</tr>
<tr><td>1952D4</td>
<td>1</td>
<td>138384</td>
<td>44</td>
<td>3</td>
<td>1</td>
<td>54</td> <td>75442</td>
</tr>
<tr><td>1953D1</td>
<td>2</td>
<td>173638</td>
<td>64</td>
<td>5</td>
<td>0</td>
<td>55</td> <td>95032</td>
</tr>
<tr><td>1953D2</td>
<td>0</td>
<td>116238</td>
<td>35</td>
<td>2</td>
<td>0</td>
<td>54</td> <td>62879</td>
</tr>
<tr><td>1953D3</td>
<td>2</td>
<td>99870</td>
<td>42</td>
<td>3</td>
<td>1</td>
<td>54</td> <td>54221</td>
</tr>
<tr><td>1953D4</td>
<td>2</td>
<td>120633</td>
<td>50</td>
<td>2</td>
<td>1</td>
<td>55</td> <td>65992</td>
</tr>
<tr><td>1954D1</td>
<td>1</td>
<td>155039</td>
<td>60</td>
<td>3</td>
<td>0</td>
<td>54</td> <td>83941</td>
</tr>
<tr><td>1954D2</td>
<td>0</td>
<td>118669</td>
<td>36</td>
<td>1</td>
<td>0</td>
<td>54</td> <td>64624</td>
</tr>
<tr><td>1954D3</td>
<td>0</td>
<td>105407</td>
<td>45</td>
<td>1</td>
<td>1</td>
<td>55</td> <td>57658</td>
</tr>
<tr><td>1954D4</td>
<td>2</td>
<td>129082</td>
<td>57</td>
<td>3</td>
<td>1</td>
<td>54</td> <td>70371</td>
</tr>
<tr><td>1955D1</td>
<td>1</td>
<td>170616</td>
<td>69</td>
<td>4</td>
<td>0</td>
<td>54</td> <td>92759</td>
</tr>
<tr><td>1955D2</td>
<td>0</td>
<td>125727</td>
<td>37</td>
<td>1</td>
<td>0</td>
<td>54</td> <td>68489</td>
</tr>
<tr><td>1955D3</td>
<td>3</td>
<td>102960</td>
<td>19</td>
<td>1</td>
<td>0</td>
<td>55</td> <td>56647</td>
</tr>
<tr><td>1955D4</td>
<td>1</td>
<td>125869</td>
<td>24</td>
<td>0</td>
<td>0</td>
<td>55</td> <td>69626</td>
</tr>
<tr><td>1956D1</td>
<td>0</td>
<td>172300</td>
<td>68</td>
<td>2</td>
<td>0</td>
<td>55</td> <td>94905</td>
</tr>
<tr><td>1956D2</td>
<td>1</td>
<td>121464</td>
<td>60</td>
<td>0</td>
<td>0</td>
<td>55</td> <td>67150</td>
</tr>
<tr><td>1956D3</td>
<td>1</td>
<td>105476</td>
<td>73</td>
<td>1</td>
<td>0</td>
<td>56</td> <td>58600</td>
</tr>
<tr><td>1956D4</td>
<td>2</td>
<td>128466</td>
<td>38</td>
<td>2</td>
<td>0</td>
<td>56</td> <td>71415</td>
</tr>
<tr><td>1957D1</td>
<td>6</td>
<td>136255</td>
<td>29</td>
<td>0</td>
<td>0</td>
<td>55</td> <td>75426</td>
</tr>
<tr><td>1957D2</td>
<td>2</td>
<td>119632</td>
<td>26</td>
<td>1</td>
<td>0</td>
<td>55</td> <td>66156</td>
</tr>
<tr><td>1957D3</td>
<td>3</td>
<td>111466</td>
<td>27</td>
<td>4</td>
<td>0</td>
<td>56</td> <td>61883</td>
</tr>
<tr><td>1957D4</td>
<td>4</td>
<td>154002</td>
<td>27</td>
<td>0</td>
<td>0</td>
<td>56</td> <td>86371</td>
</tr>
<tr><td>1958D1</td>
<td>8</td>
<td>165563</td>
<td>42</td>
<td>5</td>
<td>1</td>
<td>55</td> <td>91831</td>
</tr>
<tr><td>1958D2</td>
<td>1</td>
<td>125825</td>
<td>22</td>
<td>0</td>
<td>0</td>
<td>56</td> <td>70224</td>
</tr>
<tr><td>1958D3</td>
<td>4</td>
<td>106821</td>
<td>38</td>
<td>3</td>
<td>0</td>
<td>56</td> <td>59987</td>
</tr>
<tr><td>1958D4</td>
<td>6</td>
<td>135215</td>
<td>34</td>
<td>0</td>
<td>0</td>
<td>56</td> <td>76112</td>
</tr>
<tr><td>1959D1</td>
<td>2</td>
<td>179091</td>
<td>39</td>
<td>1</td>
<td>0</td>
<td>56</td> <td>100314</td>
</tr>
<tr><td>1959D2</td>
<td>1</td>
<td>121613</td>
<td>27</td>
<td>2</td>
<td>0</td>
<td>56</td> <td>68232</td>
</tr>
<tr><td>1959D3</td>
<td>2</td>
<td>104766</td>
<td>23</td>
<td>0</td>
<td>1</td>
<td>56</td> <td>59184</td>
</tr>
<tr><td>1959D4</td>
<td>7</td>
<td>128716</td>
<td>19</td>
<td>1</td>
<td>1</td>
<td>57</td> <td>73086</td>
</tr>
<tr><td>1960D1</td>
<td>2</td>
<td>150891</td>
<td>20</td>
<td>1</td>
<td>0</td>
<td>56</td> <td>85146</td>
</tr>
<tr><td>1960D2</td>
<td>0</td>
<td>126017</td>
<td>19</td>
<td>1</td>
<td>1</td>
<td>57</td> <td>71271</td>
</tr>
<tr><td>1960D3</td>
<td>2</td>
<td>113909</td>
<td>21</td>
<td>2</td>
<td>1</td>
<td>57</td> <td>64615</td>
</tr>
<tr><td>1960D4</td>
<td>5</td>
<td>142270</td>
<td>25</td>
<td>4</td>
<td>0</td>
<td>57</td> <td>80752</td>
</tr>
<tr><td>1961D1</td>
<td>2</td>
<td>178836</td>
<td>48</td>
<td>1</td>
<td>0</td>
<td>56</td> <td>100291</td>
</tr>
<tr><td>1961D2</td>
<td>3</td>
<td>126705</td>
<td>37</td>
<td>1</td>
<td>1</td>
<td>57</td> <td>72136</td>
</tr>
<tr><td>1961D3</td>
<td>2</td>
<td>112088</td>
<td>28</td>
<td>1</td>
<td>1</td>
<td>57</td> <td>64045</td>
</tr>
<tr><td>1961D4</td>
<td>5</td>
<td>140545</td>
<td>22</td>
<td>0</td>
<td>1</td>
<td>57</td> <td>80498</td>
</tr>
<tr><td>1962D1</td>
<td>3</td>
<td>180386</td>
<td>22</td>
<td>4</td>
<td>1</td>
<td>57</td> <td>102458</td>
</tr>
<tr><td>1962D2</td>
<td>1</td>
<td>130282</td>
<td>21</td>
<td>1</td>
<td>0</td>
<td>57</td> <td>74434</td>
</tr>
<tr><td>1962D3</td>
<td>2</td>
<td>112066</td>
<td>22</td>
<td>6</td>
<td>1</td>
<td>57</td> <td>64281</td>
</tr>
<tr><td>1962D4</td>
<td>4</td>
<td>141781</td>
<td>23</td>
<td>2</td>
<td>3</td>
<td>58</td> <td>82079</td>
</tr>
<tr><td>1963D1</td>
<td>7</td>
<td>199354</td>
<td>201</td>
<td>3</td>
<td>1</td>
<td>58</td> <td>114824</td>
</tr>
<tr><td>1963D2</td>
<td>5</td>
<td>130748</td>
<td>88</td>
<td>1</td>
<td>0</td>
<td>57</td> <td>75228</td>
</tr>
<tr><td>1963D3</td>
<td>0</td>
<td>115438</td>
<td>78</td>
<td>0</td>
<td>0</td>
<td>58</td> <td>67031</td>
</tr>
<tr><td>1963D4</td>
<td>1</td>
<td>134917</td>
<td>90</td>
<td>2</td>
<td>0</td>
<td>58</td> <td>78578</td>
</tr>
<tr><td>1964D1</td>
<td>2</td>
<td>157643</td>
<td>613</td>
<td>6</td>
<td>0</td>
<td>58</td> <td>91021</td>
</tr>
<tr><td>1964D2</td>
<td>0</td>
<td>128706</td>
<td>166</td>
<td>3</td>
<td>0</td>
<td>58</td> <td>74480</td>
</tr>
<tr><td>1964D3</td>
<td>6</td>
<td>115088</td>
<td>171</td>
<td>4</td>
<td>0</td>
<td>58</td> <td>66908</td>
</tr>
<tr><td>1964D4</td>
<td>3</td>
<td>140100</td>
<td>98</td>
<td>5</td>
<td>0</td>
<td>58</td> <td>81953</td>
</tr>
<tr><td>1965D1</td>
<td>1</td>
<td>157311</td>
<td>1818</td>
<td>8</td>
<td>1</td>
<td>57</td> <td>90736</td>
</tr>
<tr><td>1965D2</td>
<td>0</td>
<td>131012</td>
<td>113</td>
<td>3</td>
<td>0</td>
<td>58</td> <td>76107</td>
</tr>
<tr><td>1965D3</td>
<td>4</td>
<td>120502</td>
<td>137</td>
<td>0</td>
<td>0</td>
<td>58</td> <td>70510</td>
</tr>
<tr><td>1965D4</td>
<td>6</td>
<td>144725</td>
<td>217</td>
<td>3</td>
<td>0</td>
<td>58</td> <td>84562</td>
</tr>
<tr><td>1966D1</td>
<td>4</td>
<td>175645</td>
<td>104</td>
<td>4</td>
<td>0</td>
<td>58</td> <td>101328</td>
</tr>
<tr><td>1966D2</td>
<td>4</td>
<td>133453</td>
<td>74</td>
<td>0</td>
<td>0</td>
<td>58</td> <td>78038</td>
</tr>
<tr><td>1966D3</td>
<td>18</td>
<td>119526</td>
<td>93</td>
<td>2</td>
<td>0</td>
<td>59</td> <td>70069</td>
</tr>
<tr><td>1966D4</td>
<td>18</td>
<td>142459</td>
<td>88</td>
<td>3</td>
<td>0</td>
<td>59</td> <td>83994</td>
</tr>
<tr><td>1967D1</td>
<td>2</td>
<td>147164</td>
<td>87</td>
<td>5</td>
<td>1</td>
<td>59</td> <td>86270</td>
</tr>
<tr><td>1967D2</td>
<td>5</td>
<td>131864</td>
<td>156</td>
<td>1</td>
<td>1</td>
<td>59</td> <td>77550</td>
</tr>
<tr><td>1967D3</td>
<td>29</td>
<td>120031</td>
<td>94</td>
<td>0</td>
<td>1</td>
<td>59</td> <td>70884</td>
</tr>
<tr><td>1967D4</td>
<td>13</td>
<td>150264</td>
<td>83</td>
<td>3</td>
<td>0</td>
<td>59</td> <td>88163</td>
</tr>
<tr><td>1968D1</td>
<td>6</td>
<td>183732</td>
<td>78</td>
<td>0</td>
<td>2</td>
<td>59</td> <td>108406</td>
</tr>
<tr><td>1968D2</td>
<td>8</td>
<td>132946</td>
<td>141</td>
<td>2</td>
<td>1</td>
<td>59</td> <td>78226</td>
</tr>
<tr><td>1968D3</td>
<td>14</td>
<td>122505</td>
<td>111</td>
<td>1</td>
<td>1</td>
<td>59</td> <td>72625</td>
</tr>
<tr><td>1968D4</td>
<td>10</td>
<td>144621</td>
<td>200</td>
<td>4</td>
<td>1</td>
<td>59</td> <td>85613</td>
</tr>
<tr><td>1969D1</td>
<td>39</td>
<td>170570</td>
<td>162</td>
<td>1</td>
<td>1</td>
<td>59</td> <td>100625</td>
</tr>
<tr><td>1969D2</td>
<td>7</td>
<td>55823</td>
<td>81165</td>
<td>77</td>
<td>4</td>
<td>5</td> <td>6940</td>
</tr>
<tr><td>1969D3</td>
<td>5</td>
<td>49607</td>
<td>73063</td>
<td>62</td>
<td>3</td>
<td>5</td> <td>6421</td>
</tr>
<tr><td>1969D4</td>
<td>5</td>
<td>63221</td>
<td>93493</td>
<td>89</td>
<td>4</td>
<td>5</td> <td>8243</td>
</tr>
<tr><td>1970D1</td>
<td>8</td>
<td>71580</td>
<td>103120</td>
<td>86</td>
<td>5</td>
<td>5</td> <td>8718</td>
</tr>
<tr><td>1970D2</td>
<td>2</td>
<td>56567</td>
<td>83174</td>
<td>82</td>
<td>13</td>
<td>5</td> <td>7243</td>
</tr>
<tr><td>1970D3</td>
<td>7</td>
<td>50645</td>
<td>74814</td>
<td>60</td>
<td>3</td>
<td>5</td> <td>6763</td>
</tr>
<tr><td>1970D4</td>
<td>2</td>
<td>57923</td>
<td>85185</td>
<td>61</td>
<td>6</td>
<td>5</td> <td>7516</td>
</tr>
<tr><td>1971D1</td>
<td>3</td>
<td>65049</td>
<td>96609</td>
<td>82</td>
<td>10</td>
<td>5</td> <td>8403</td>
</tr>
<tr><td>1971D2</td>
<td>4</td>
<td>56022</td>
<td>83544</td>
<td>87</td>
<td>5</td>
<td>5</td> <td>7479</td>
</tr>
<tr><td>1971D3</td>
<td>4</td>
<td>50513</td>
<td>76021</td>
<td>66</td>
<td>5</td>
<td>5</td> <td>6848</td>
</tr>
<tr><td>1971D4</td>
<td>24</td>
<td>58573</td>
<td>89120</td>
<td>80</td>
<td>8</td>
<td>5</td> <td>8021</td>
</tr>
<tr><td>1972D1</td>
<td>4</td>
<td>69715</td>
<td>103369</td>
<td>88</td>
<td>6</td>
<td>5</td> <td>9109</td>
</tr>
<tr><td>1972D2</td>
<td>3</td>
<td>55896</td>
<td>85181</td>
<td>70</td>
<td>5</td>
<td>5</td> <td>7688</td>
</tr>
<tr><td>1972D3</td>
<td>4</td>
<td>51637</td>
<td>78698</td>
<td>66</td>
<td>6</td>
<td>5</td> <td>7120</td>
</tr>
<tr><td>1972D4</td>
<td>3</td>
<td>62787</td>
<td>93209</td>
<td>91</td>
<td>7</td>
<td>5</td> <td>8282</td>
</tr>
<tr><td>1973D1</td>
<td>8</td>
<td>69093</td>
<td>104062</td>
<td>87</td>
<td>4</td>
<td>6</td> <td>9613</td>
</tr>
<tr><td>1973D2</td>
<td>2</td>
<td>60091</td>
<td>90866</td>
<td>106</td>
<td>11</td>
<td>5</td> <td>8237</td>
</tr>
<tr><td>1973D3</td>
<td>6</td>
<td>50490</td>
<td>77968</td>
<td>69</td>
<td>7</td>
<td>6</td> <td>7104</td>
</tr>
<tr><td>1973D4</td>
<td>1</td>
<td>61172</td>
<td>93840</td>
<td>68</td>
<td>0</td>
<td>6</td> <td>8870</td>
</tr>
<tr><td>1974D1</td>
<td>4</td>
<td>64293</td>
<td>99050</td>
<td>100</td>
<td>5</td>
<td>6</td> <td>9067</td>
</tr>
<tr><td>1974D2</td>
<td>3</td>
<td>57281</td>
<td>87355</td>
<td>100</td>
<td>11</td>
<td>6</td> <td>8062</td>
</tr>
<tr><td>1974D3</td>
<td>1</td>
<td>52570</td>
<td>81117</td>
<td>85</td>
<td>10</td>
<td>6</td> <td>7567</td>
</tr>
<tr><td>1974D4</td>
<td>1</td>
<td>60344</td>
<td>92501</td>
<td>99</td>
<td>2</td>
<td>6</td> <td>8480</td>
</tr>
<tr><td>1975D1</td>
<td>1</td>
<td>63818</td>
<td>98558</td>
<td>81</td>
<td>11</td>
<td>6</td> <td>9014</td>
</tr>
<tr><td>1975D2</td>
<td>7</td>
<td>58313</td>
<td>91542</td>
<td>113</td>
<td>4</td>
<td>6</td> <td>8654</td>
</tr>
<tr><td>1975D3</td>
<td>3</td>
<td>51184</td>
<td>79971</td>
<td>85</td>
<td>6</td>
<td>6</td> <td>7640</td>
</tr>
<tr><td>1975D4</td>
<td>1</td>
<td>57886</td>
<td>91285</td>
<td>87</td>
<td>4</td>
<td>6</td> <td>8715</td>
</tr>
<tr><td>1976D1</td>
<td>3</td>
<td>73771</td>
<td>114341</td>
<td>102</td>
<td>5</td>
<td>6</td> <td>10932</td>
</tr>
<tr><td>1976D2</td>
<td>1</td>
<td>54895</td>
<td>86724</td>
<td>114</td>
<td>8</td>
<td>6</td> <td>8199</td>
</tr>
<tr><td>1976D3</td>
<td>1</td>
<td>49741</td>
<td>78557</td>
<td>101</td>
<td>7</td>
<td>6</td> <td>7375</td>
</tr>
<tr><td>1976D4</td>
<td>0</td>
<td>58877</td>
<td>92855</td>
<td>85</td>
<td>13</td>
<td>6</td> <td>8754</td>
</tr>
<tr><td>1977D1</td>
<td>1</td>
<td>64134</td>
<td>99235</td>
<td>112</td>
<td>10</td>
<td>6</td> <td>9360</td>
</tr>
<tr><td>1977D2</td>
<td>3</td>
<td>57598</td>
<td>90607</td>
<td>115</td>
<td>6</td>
<td>6</td> <td>8873</td>
</tr>
<tr><td>1977D3</td>
<td>1</td>
<td>49878</td>
<td>80419</td>
<td>83</td>
<td>8</td>
<td>6</td> <td>7680</td>
</tr>
<tr><td>1977D4</td>
<td>1</td>
<td>56249</td>
<td>90085</td>
<td>81</td>
<td>6</td>
<td>6</td> <td>8780</td>
</tr>
<tr><td>1978D1</td>
<td>2</td>
<td>67150</td>
<td>107176</td>
<td>230</td>
<td>9</td>
<td>6</td> <td>10452</td>
</tr>
<tr><td>1978D2</td>
<td>1</td>
<td>55612</td>
<td>89474</td>
<td>194</td>
<td>9</td>
<td>6</td> <td>8744</td>
</tr>
<tr><td>1978D3</td>
<td>1</td>
<td>50191</td>
<td>81066</td>
<td>85</td>
<td>6</td>
<td>6</td> <td>7835</td>
</tr>
<tr><td>1978D4</td>
<td>1</td>
<td>56617</td>
<td>91480</td>
<td>104</td>
<td>15</td>
<td>6</td> <td>8937</td>
</tr>
<tr><td>1979D1</td>
<td>3</td>
<td>68931</td>
<td>110345</td>
<td>89</td>
<td>3</td>
<td>6</td> <td>10763</td>
</tr>
<tr><td>1979D2</td>
<td>0</td>
<td>55766</td>
<td>90171</td>
<td>91</td>
<td>7</td>
<td>6</td> <td>8803</td>
</tr>
<tr><td>1979D3</td>
<td>3</td>
<td>49848</td>
<td>81207</td>
<td>86</td>
<td>12</td>
<td>6</td> <td>8066</td>
</tr>
<tr><td>1979D4</td>
<td>4</td>
<td>56998</td>
<td>92810</td>
<td>102</td>
<td>7</td>
<td>6</td> <td>9264</td>
</tr>
<tr><td>1980D1</td>
<td>3</td>
<td>63278</td>
<td>101761</td>
<td>103</td>
<td>6</td>
<td>6</td> <td>10039</td>
</tr>
<tr><td>1980D2</td>
<td>1</td>
<td>54358</td>
<td>89358</td>
<td>99</td>
<td>10</td>
<td>6</td> <td>8898</td>
</tr>
<tr><td>1980D3</td>
<td>1</td>
<td>43912</td>
<td>72135</td>
<td>164</td>
<td>3</td>
<td>6</td> <td>7247</td>
</tr>
<tr><td>1980D4</td>
<td>0</td>
<td>57067</td>
<td>94025</td>
<td>185</td>
<td>2</td>
<td>6</td> <td>9051</td>
</tr>
<tr><td>1981D1</td>
<td>1</td>
<td>61617</td>
<td>101669</td>
<td>137</td>
<td>12</td>
<td>6</td> <td>10001</td>
</tr>
<tr><td>1981D2</td>
<td>2</td>
<td>52538</td>
<td>87338</td>
<td>130</td>
<td>4</td>
<td>6</td> <td>8662</td>
</tr>
<tr><td>1981D3</td>
<td>3</td>
<td>49542</td>
<td>81361</td>
<td>95</td>
<td>2</td>
<td>6</td> <td>8029</td>
</tr>
<tr><td>1981D4</td>
<td>3</td>
<td>57816</td>
<td>95770</td>
<td>90</td>
<td>6</td>
<td>6</td> <td>9605</td>
</tr>
<tr><td>1982D1</td>
<td>0</td>
<td>64362</td>
<td>105026</td>
<td>95</td>
<td>7</td>
<td>6</td> <td>10601</td>
</tr>
<tr><td>1982D2</td>
<td>1</td>
<td>54040</td>
<td>89375</td>
<td>84</td>
<td>7</td>
<td>6</td> <td>9095</td>
</tr>
<tr><td>1982D3</td>
<td>7</td>
<td>48540</td>
<td>80662</td>
<td>75</td>
<td>3</td>
<td>6</td> <td>8030</td>
</tr>
<tr><td>1982D4</td>
<td>33</td>
<td>56173</td>
<td>93885</td>
<td>111</td>
<td>6</td>
<td>6</td> <td>9523</td>
</tr>
<tr><td>1983D1</td>
<td>1</td>
<td>63891</td>
<td>106869</td>
<td>145</td>
<td>4</td>
<td>6</td> <td>10713</td>
</tr>
<tr><td>1983D2</td>
<td>1</td>
<td>52500</td>
<td>88329</td>
<td>99</td>
<td>7</td>
<td>6</td> <td>8942</td>
</tr>
<tr><td>1983D3</td>
<td>1</td>
<td>49206</td>
<td>83163</td>
<td>90</td>
<td>4</td>
<td>6</td> <td>8377</td>
</tr>
<tr><td>1983D4</td>
<td>0</td>
<td>54295</td>
<td>91959</td>
<td>145</td>
<td>5</td>
<td>6</td> <td>9309</td>
</tr>
<tr><td>1984D1</td>
<td>4</td>
<td>184376</td>
<td>310422</td>
<td>306</td>
<td>20</td>
<td>6</td> <td>31578</td>
</tr>
<tr><td>1985D1</td>
<td>6</td>
<td>221317</td>
<td>377226</td>
<td>353</td>
<td>17</td>
<td>6</td> <td>38820</td>
</tr>
<tr><td>1986D1</td>
<td>1</td>
<td>90346</td>
<td>153849</td>
<td>133</td>
<td>9</td>
<td>7</td> <td>16021</td>
</tr>
<tr><td>1987D1</td>
<td>0</td>
<td>13676</td>
<td>23631</td>
<td>22</td>
<td>0</td>
<td>7</td> <td>2456</td>
</tr>
<tr><td>1988D1</td>
<td>3</td>
<td>93932</td>
<td>164308</td>
<td>151</td>
<td>15</td>
<td>7</td> <td>17571</td>
</tr>
<tr><td>1989D1</td>
<td>0</td>
<td>2083</td>
<td>3759</td>
<td>6</td>
<td>0</td>
<td>7</td> <td>392</td>
</tr>
<tr><td>1990D1</td>
<td>0</td>
<td>4560</td>
<td>8029</td>
<td>10</td>
<td>0</td>
<td>7</td> <td>833</td>
</tr>
<tr><td>1991D1</td>
<td>0</td>
<td>5</td>
<td>12</td>
<td>0</td>
<td>0</td>
<td>6</td> <td>1</td>
</tr>
<tr><td>1992D1</td>
<td>0</td>
<td>6</td>
<td>13</td>
<td>0</td>
<td>0</td>
<td>21</td> <td>4</td>
</tr>
</tbody>
</table>