<h1>DRAFT - Help - Use of given name initials: Marriages</h1>


  <h2>Detailed Information</h2>
  <p>The table below gives the full detail from which the summary information for the use of given name initials in Marriages was derived. The data for this table was produced by examining all the given names in the FreeBMD Marriages database and,  proceeding from left to right, counting those names that are more than one character long. As soon as a one character name is found the process stops and all the remaining names are assumed to be initials. There are circumstances where this is not strictly true, for example there are some  entries that are like <em>A de V</em> which would count as three initials. So, the figures below are an approximation albeit a very close one.</p>
  <p>The table is split vertically into three main columns:</p>
    <ul>
        <li>the quarter concerned;</li>
       <li>columns with counts of instances of entries with the number of full names given in the heading, so X in the column headed 2 means there were X entries that had two full names. The  presence of a column labelled zero means that there are entries with no given name or just one initial;</li>
       <li>the percentage and number of entries with initials as well as the full names.</li>
  </ul>
  <h3 id="1837-1849">Marriage Data for 1837 to 1849</h3>
<table>
<thead><tr><th rowspan="2">Quarter</th> <th colspan="5">Number of full names</th> <th colspan="2">With initials</th>
</tr>
<tr><th>0</th>
<th>1</th>
<th>2</th>
<th>3</th>
<th>&gt;3</th> <th>percent</th> <th>number</th>
</tr>
</thead>
<tbody><tr><td>1837M3</td>
<td>1</td>
<td>47201</td>
<td>5360</td>
<td>225</td>
<td>20</td>
<td>0</td> <td>28</td>
</tr>
<tr><td>1837M4</td>
<td>2</td>
<td>65441</td>
<td>6036</td>
<td>242</td>
<td>23</td>
<td>0</td> <td>10</td>
</tr>
<tr><td>1838M1</td>
<td>11</td>
<td>44151</td>
<td>4597</td>
<td>160</td>
<td>17</td>
<td>0</td> <td>19</td>
</tr>
<tr><td>1838M2</td>
<td>5</td>
<td>56792</td>
<td>6130</td>
<td>275</td>
<td>16</td>
<td>0</td> <td>23</td>
</tr>
<tr><td>1838M3</td>
<td>4</td>
<td>52296</td>
<td>5981</td>
<td>239</td>
<td>22</td>
<td>0</td> <td>24</td>
</tr>
<tr><td>1838M4</td>
<td>3</td>
<td>71513</td>
<td>6788</td>
<td>248</td>
<td>21</td>
<td>0</td> <td>19</td>
</tr>
<tr><td>1839M1</td>
<td>1</td>
<td>46944</td>
<td>5026</td>
<td>185</td>
<td>9</td>
<td>0</td> <td>14</td>
</tr>
<tr><td>1839M2</td>
<td>7</td>
<td>58904</td>
<td>6310</td>
<td>222</td>
<td>20</td>
<td>0</td> <td>24</td>
</tr>
<tr><td>1839M3</td>
<td>6</td>
<td>54850</td>
<td>6468</td>
<td>259</td>
<td>21</td>
<td>0</td> <td>22</td>
</tr>
<tr><td>1839M4</td>
<td>1</td>
<td>70975</td>
<td>7125</td>
<td>274</td>
<td>18</td>
<td>0</td> <td>19</td>
</tr>
<tr><td>1840M1</td>
<td>5</td>
<td>49109</td>
<td>5511</td>
<td>234</td>
<td>13</td>
<td>0</td> <td>12</td>
</tr>
<tr><td>1840M2</td>
<td>5</td>
<td>57775</td>
<td>6473</td>
<td>296</td>
<td>20</td>
<td>0</td> <td>17</td>
</tr>
<tr><td>1840M3</td>
<td>4</td>
<td>53581</td>
<td>6535</td>
<td>285</td>
<td>27</td>
<td>0</td> <td>20</td>
</tr>
<tr><td>1840M4</td>
<td>4</td>
<td>67707</td>
<td>7074</td>
<td>295</td>
<td>19</td>
<td>0</td> <td>20</td>
</tr>
<tr><td>1841M1</td>
<td>4</td>
<td>45334</td>
<td>5092</td>
<td>222</td>
<td>22</td>
<td>0</td> <td>14</td>
</tr>
<tr><td>1841M2</td>
<td>4</td>
<td>59768</td>
<td>6890</td>
<td>288</td>
<td>14</td>
<td>0</td> <td>18</td>
</tr>
<tr><td>1841M3</td>
<td>2</td>
<td>54110</td>
<td>6812</td>
<td>318</td>
<td>17</td>
<td>0</td> <td>24</td>
</tr>
<tr><td>1841M4</td>
<td>4</td>
<td>67855</td>
<td>7290</td>
<td>273</td>
<td>13</td>
<td>0</td> <td>27</td>
</tr>
<tr><td>1842M1</td>
<td>11</td>
<td>47489</td>
<td>5762</td>
<td>244</td>
<td>11</td>
<td>0</td> <td>40</td>
</tr>
<tr><td>1842M2</td>
<td>12</td>
<td>55595</td>
<td>6823</td>
<td>285</td>
<td>17</td>
<td>0</td> <td>35</td>
</tr>
<tr><td>1842M3</td>
<td>10</td>
<td>50123</td>
<td>6663</td>
<td>296</td>
<td>18</td>
<td>0</td> <td>29</td>
</tr>
<tr><td>1842M4</td>
<td>3</td>
<td>67606</td>
<td>7663</td>
<td>306</td>
<td>21</td>
<td>0</td> <td>29</td>
</tr>
<tr><td>1843M1</td>
<td>5</td>
<td>46030</td>
<td>5676</td>
<td>238</td>
<td>19</td>
<td>0</td> <td>24</td>
</tr>
<tr><td>1843M2</td>
<td>6</td>
<td>56833</td>
<td>7219</td>
<td>272</td>
<td>17</td>
<td>0</td> <td>20</td>
</tr>
<tr><td>1843M3</td>
<td>5</td>
<td>53275</td>
<td>7249</td>
<td>355</td>
<td>28</td>
<td>0</td> <td>15</td>
</tr>
<tr><td>1843M4</td>
<td>3</td>
<td>71213</td>
<td>8162</td>
<td>329</td>
<td>21</td>
<td>0</td> <td>21</td>
</tr>
<tr><td>1844M1</td>
<td>2</td>
<td>48445</td>
<td>6135</td>
<td>283</td>
<td>17</td>
<td>0</td> <td>17</td>
</tr>
<tr><td>1844M2</td>
<td>11</td>
<td>62601</td>
<td>8069</td>
<td>321</td>
<td>21</td>
<td>0</td> <td>26</td>
</tr>
<tr><td>1844M3</td>
<td>5</td>
<td>58570</td>
<td>8097</td>
<td>365</td>
<td>31</td>
<td>0</td> <td>14</td>
</tr>
<tr><td>1844M4</td>
<td>8</td>
<td>73847</td>
<td>8475</td>
<td>313</td>
<td>20</td>
<td>0</td> <td>22</td>
</tr>
<tr><td>1845M1</td>
<td>5</td>
<td>53764</td>
<td>6796</td>
<td>288</td>
<td>20</td>
<td>0</td> <td>13</td>
</tr>
<tr><td>1845M2</td>
<td>4</td>
<td>66606</td>
<td>9059</td>
<td>408</td>
<td>30</td>
<td>0</td> <td>22</td>
</tr>
<tr><td>1845M3</td>
<td>7</td>
<td>62859</td>
<td>8975</td>
<td>391</td>
<td>30</td>
<td>0</td> <td>24</td>
</tr>
<tr><td>1845M4</td>
<td>2</td>
<td>80907</td>
<td>9847</td>
<td>353</td>
<td>28</td>
<td>0</td> <td>17</td>
</tr>
<tr><td>1846M1</td>
<td>4</td>
<td>59148</td>
<td>7996</td>
<td>393</td>
<td>23</td>
<td>0</td> <td>16</td>
</tr>
<tr><td>1846M2</td>
<td>1</td>
<td>67571</td>
<td>9208</td>
<td>381</td>
<td>22</td>
<td>0</td> <td>20</td>
</tr>
<tr><td>1846M3</td>
<td>3</td>
<td>66525</td>
<td>9810</td>
<td>434</td>
<td>38</td>
<td>0</td> <td>30</td>
</tr>
<tr><td>1846M4</td>
<td>8</td>
<td>83153</td>
<td>10821</td>
<td>453</td>
<td>31</td>
<td>0</td> <td>28</td>
</tr>
<tr><td>1847M1</td>
<td>2</td>
<td>50151</td>
<td>7164</td>
<td>342</td>
<td>28</td>
<td>0</td> <td>13</td>
</tr>
<tr><td>1847M2</td>
<td>8</td>
<td>63133</td>
<td>8930</td>
<td>385</td>
<td>39</td>
<td>0</td> <td>20</td>
</tr>
<tr><td>1847M3</td>
<td>3</td>
<td>57204</td>
<td>8942</td>
<td>387</td>
<td>38</td>
<td>0</td> <td>11</td>
</tr>
<tr><td>1847M4</td>
<td>2</td>
<td>73873</td>
<td>9474</td>
<td>403</td>
<td>19</td>
<td>0</td> <td>21</td>
</tr>
<tr><td>1848M1</td>
<td>0</td>
<td>54059</td>
<td>7918</td>
<td>399</td>
<td>26</td>
<td>0</td> <td>15</td>
</tr>
<tr><td>1848M2</td>
<td>4</td>
<td>64834</td>
<td>9589</td>
<td>420</td>
<td>39</td>
<td>0</td> <td>15</td>
</tr>
<tr><td>1848M3</td>
<td>8</td>
<td>61985</td>
<td>9848</td>
<td>509</td>
<td>30</td>
<td>0</td> <td>16</td>
</tr>
<tr><td>1848M4</td>
<td>5</td>
<td>79174</td>
<td>10971</td>
<td>436</td>
<td>28</td>
<td>0</td> <td>22</td>
</tr>
<tr><td>1849M1</td>
<td>1</td>
<td>53533</td>
<td>8144</td>
<td>359</td>
<td>31</td>
<td>0</td> <td>13</td>
</tr>
<tr><td>1849M2</td>
<td>6</td>
<td>67136</td>
<td>10473</td>
<td>495</td>
<td>45</td>
<td>0</td> <td>22</td>
</tr>
<tr><td>1849M3</td>
<td>5</td>
<td>62098</td>
<td>10319</td>
<td>544</td>
<td>43</td>
<td>0</td> <td>13</td>
</tr>
<tr><td>1849M4</td>
<td>5</td>
<td>78857</td>
<td>10939</td>
<td>419</td>
<td>43</td>
<td>0</td> <td>21</td>
</tr>
</tbody>
</table>


<h3 id="1850-1899"> Marriage Data for 1850 to 1899</h3>
<table>
<thead><tr><th rowspan="2">Quarter</th> <th colspan="5">Number of full names</th> <th colspan="2">With initials</th>
</tr>
<tr><th>0</th>
<th>1</th>
<th>2</th>
<th>3</th>
<th>&gt;3</th> <th>percent</th> <th>number</th>
</tr>
</thead>
<tbody>
<tr><td>1850M1</td>
<td>3</td>
<td>57505</td>
<td>9055</td>
<td>489</td>
<td>19</td>
<td>0</td> <td>15</td>
</tr>
<tr><td>1850M2</td>
<td>4</td>
<td>72813</td>
<td>11337</td>
<td>585</td>
<td>47</td>
<td>0</td> <td>21</td>
</tr>
<tr><td>1850M3</td>
<td>5</td>
<td>70623</td>
<td>11623</td>
<td>581</td>
<td>55</td>
<td>0</td> <td>25</td>
</tr>
<tr><td>1850M4</td>
<td>3</td>
<td>86225</td>
<td>12459</td>
<td>596</td>
<td>24</td>
<td>0</td> <td>27</td>
</tr>
<tr><td>1851M1</td>
<td>10</td>
<td>63134</td>
<td>9933</td>
<td>498</td>
<td>36</td>
<td>0</td> <td>32</td>
</tr>
<tr><td>1851M2</td>
<td>11</td>
<td>68176</td>
<td>10532</td>
<td>473</td>
<td>28</td>
<td>0</td> <td>22</td>
</tr>
<tr><td>1851M3</td>
<td>9</td>
<td>64868</td>
<td>10995</td>
<td>495</td>
<td>33</td>
<td>0</td> <td>24</td>
</tr>
<tr><td>1851M4</td>
<td>2</td>
<td>81808</td>
<td>11729</td>
<td>500</td>
<td>30</td>
<td>0</td> <td>19</td>
</tr>
<tr><td>1852M1</td>
<td>1</td>
<td>62162</td>
<td>10176</td>
<td>507</td>
<td>29</td>
<td>0</td> <td>21</td>
</tr>
<tr><td>1852M2</td>
<td>6</td>
<td>77875</td>
<td>12736</td>
<td>658</td>
<td>49</td>
<td>0</td> <td>19</td>
</tr>
<tr><td>1852M3</td>
<td>5</td>
<td>70268</td>
<td>12619</td>
<td>626</td>
<td>39</td>
<td>0</td> <td>22</td>
</tr>
<tr><td>1852M4</td>
<td>9</td>
<td>87344</td>
<td>13525</td>
<td>566</td>
<td>36</td>
<td>0</td> <td>31</td>
</tr>
<tr><td>1853M1</td>
<td>5</td>
<td>61224</td>
<td>10159</td>
<td>452</td>
<td>34</td>
<td>0</td> <td>22</td>
</tr>
<tr><td>1853M2</td>
<td>4</td>
<td>71671</td>
<td>11984</td>
<td>579</td>
<td>43</td>
<td>0</td> <td>27</td>
</tr>
<tr><td>1853M3</td>
<td>2</td>
<td>70283</td>
<td>12146</td>
<td>597</td>
<td>31</td>
<td>0</td> <td>19</td>
</tr>
<tr><td>1853M4</td>
<td>6</td>
<td>86798</td>
<td>13414</td>
<td>505</td>
<td>44</td>
<td>0</td> <td>25</td>
</tr>
<tr><td>1854M1</td>
<td>6</td>
<td>57905</td>
<td>9533</td>
<td>414</td>
<td>22</td>
<td>0</td> <td>19</td>
</tr>
<tr><td>1854M2</td>
<td>7</td>
<td>72129</td>
<td>12255</td>
<td>643</td>
<td>27</td>
<td>0</td> <td>31</td>
</tr>
<tr><td>1854M3</td>
<td>3</td>
<td>67813</td>
<td>12103</td>
<td>630</td>
<td>44</td>
<td>0</td> <td>21</td>
</tr>
<tr><td>1854M4</td>
<td>8</td>
<td>85369</td>
<td>13343</td>
<td>581</td>
<td>46</td>
<td>0</td> <td>30</td>
</tr>
<tr><td>1855M1</td>
<td>5</td>
<td>51104</td>
<td>8780</td>
<td>373</td>
<td>25</td>
<td>0</td> <td>19</td>
</tr>
<tr><td>1855M2</td>
<td>14</td>
<td>68681</td>
<td>12402</td>
<td>557</td>
<td>50</td>
<td>0</td> <td>43</td>
</tr>
<tr><td>1855M3</td>
<td>11</td>
<td>66556</td>
<td>12801</td>
<td>609</td>
<td>47</td>
<td>0</td> <td>34</td>
</tr>
<tr><td>1855M4</td>
<td>7</td>
<td>85585</td>
<td>14085</td>
<td>640</td>
<td>53</td>
<td>0</td> <td>29</td>
</tr>
<tr><td>1856M1</td>
<td>3</td>
<td>60287</td>
<td>11147</td>
<td>527</td>
<td>39</td>
<td>0</td> <td>24</td>
</tr>
<tr><td>1856M2</td>
<td>4</td>
<td>70084</td>
<td>12807</td>
<td>629</td>
<td>62</td>
<td>0</td> <td>32</td>
</tr>
<tr><td>1856M3</td>
<td>6</td>
<td>69870</td>
<td>13895</td>
<td>788</td>
<td>43</td>
<td>0</td> <td>34</td>
</tr>
<tr><td>1856M4</td>
<td>6</td>
<td>88798</td>
<td>15344</td>
<td>734</td>
<td>44</td>
<td>0</td> <td>47</td>
</tr>
<tr><td>1857M1</td>
<td>5</td>
<td>62063</td>
<td>11763</td>
<td>564</td>
<td>46</td>
<td>0</td> <td>32</td>
</tr>
<tr><td>1857M2</td>
<td>2</td>
<td>75553</td>
<td>14508</td>
<td>757</td>
<td>47</td>
<td>0</td> <td>27</td>
</tr>
<tr><td>1857M3</td>
<td>9</td>
<td>69798</td>
<td>14202</td>
<td>815</td>
<td>84</td>
<td>0</td> <td>44</td>
</tr>
<tr><td>1857M4</td>
<td>7</td>
<td>83850</td>
<td>15362</td>
<td>783</td>
<td>49</td>
<td>0</td> <td>29</td>
</tr>
<tr><td>1858M1</td>
<td>5</td>
<td>52117</td>
<td>10038</td>
<td>479</td>
<td>22</td>
<td>0</td> <td>18</td>
</tr>
<tr><td>1858M2</td>
<td>8</td>
<td>72084</td>
<td>14526</td>
<td>738</td>
<td>73</td>
<td>0</td> <td>32</td>
</tr>
<tr><td>1858M3</td>
<td>7</td>
<td>65603</td>
<td>13881</td>
<td>682</td>
<td>43</td>
<td>0</td> <td>27</td>
</tr>
<tr><td>1858M4</td>
<td>3</td>
<td>83663</td>
<td>15512</td>
<td>687</td>
<td>49</td>
<td>0</td> <td>26</td>
</tr>
<tr><td>1859M1</td>
<td>10</td>
<td>65070</td>
<td>13235</td>
<td>684</td>
<td>38</td>
<td>0</td> <td>33</td>
</tr>
<tr><td>1859M2</td>
<td>15</td>
<td>79868</td>
<td>16958</td>
<td>913</td>
<td>78</td>
<td>0</td> <td>58</td>
</tr>
<tr><td>1859M3</td>
<td>11</td>
<td>75071</td>
<td>16792</td>
<td>850</td>
<td>75</td>
<td>0</td> <td>53</td>
</tr>
<tr><td>1859M4</td>
<td>15</td>
<td>95376</td>
<td>18693</td>
<td>970</td>
<td>91</td>
<td>0</td> <td>61</td>
</tr>
<tr><td>1860M1</td>
<td>6</td>
<td>60972</td>
<td>12297</td>
<td>539</td>
<td>45</td>
<td>0</td> <td>33</td>
</tr>
<tr><td>1860M2</td>
<td>14</td>
<td>77547</td>
<td>16487</td>
<td>773</td>
<td>59</td>
<td>0</td> <td>45</td>
</tr>
<tr><td>1860M3</td>
<td>5</td>
<td>68562</td>
<td>15423</td>
<td>778</td>
<td>48</td>
<td>0</td> <td>30</td>
</tr>
<tr><td>1860M4</td>
<td>13</td>
<td>88520</td>
<td>17546</td>
<td>772</td>
<td>38</td>
<td>0</td> <td>37</td>
</tr>
<tr><td>1861M1</td>
<td>5</td>
<td>58250</td>
<td>12300</td>
<td>622</td>
<td>38</td>
<td>0</td> <td>34</td>
</tr>
<tr><td>1861M2</td>
<td>14</td>
<td>72750</td>
<td>16176</td>
<td>841</td>
<td>56</td>
<td>0</td> <td>52</td>
</tr>
<tr><td>1861M3</td>
<td>14</td>
<td>69948</td>
<td>16940</td>
<td>955</td>
<td>60</td>
<td>0</td> <td>48</td>
</tr>
<tr><td>1861M4</td>
<td>16</td>
<td>87112</td>
<td>18700</td>
<td>994</td>
<td>58</td>
<td>0</td> <td>53</td>
</tr>
<tr><td>1862M1</td>
<td>10</td>
<td>60439</td>
<td>13677</td>
<td>765</td>
<td>56</td>
<td>0</td> <td>35</td>
</tr>
<tr><td>1862M2</td>
<td>9</td>
<td>71602</td>
<td>17168</td>
<td>925</td>
<td>63</td>
<td>0</td> <td>61</td>
</tr>
<tr><td>1862M3</td>
<td>11</td>
<td>67877</td>
<td>17215</td>
<td>896</td>
<td>64</td>
<td>0</td> <td>41</td>
</tr>
<tr><td>1862M4</td>
<td>6</td>
<td>87795</td>
<td>19907</td>
<td>908</td>
<td>72</td>
<td>0</td> <td>49</td>
</tr>
<tr><td>1863M1</td>
<td>6</td>
<td>62033</td>
<td>14931</td>
<td>809</td>
<td>45</td>
<td>0</td> <td>27</td>
</tr>
<tr><td>1863M2</td>
<td>9</td>
<td>75709</td>
<td>18516</td>
<td>911</td>
<td>66</td>
<td>0</td> <td>29</td>
</tr>
<tr><td>1863M3</td>
<td>14</td>
<td>71451</td>
<td>18707</td>
<td>1015</td>
<td>85</td>
<td>0</td> <td>56</td>
</tr>
<tr><td>1863M4</td>
<td>8</td>
<td>90652</td>
<td>20067</td>
<td>1016</td>
<td>63</td>
<td>0</td> <td>44</td>
</tr>
<tr><td>1864M1</td>
<td>9</td>
<td>64542</td>
<td>15520</td>
<td>824</td>
<td>59</td>
<td>0</td> <td>34</td>
</tr>
<tr><td>1864M2</td>
<td>6</td>
<td>75848</td>
<td>18775</td>
<td>1013</td>
<td>72</td>
<td>0</td> <td>33</td>
</tr>
<tr><td>1864M3</td>
<td>10</td>
<td>75178</td>
<td>20022</td>
<td>1070</td>
<td>86</td>
<td>0</td> <td>35</td>
</tr>
<tr><td>1864M4</td>
<td>5</td>
<td>89100</td>
<td>20918</td>
<td>1020</td>
<td>77</td>
<td>0</td> <td>42</td>
</tr>
<tr><td>1865M1</td>
<td>11</td>
<td>62224</td>
<td>15603</td>
<td>806</td>
<td>63</td>
<td>0</td> <td>37</td>
</tr>
<tr><td>1865M2</td>
<td>12</td>
<td>75369</td>
<td>19770</td>
<td>1018</td>
<td>73</td>
<td>0</td> <td>42</td>
</tr>
<tr><td>1865M3</td>
<td>10</td>
<td>77248</td>
<td>21252</td>
<td>1132</td>
<td>87</td>
<td>0</td> <td>47</td>
</tr>
<tr><td>1865M4</td>
<td>14</td>
<td>96492</td>
<td>23668</td>
<td>1108</td>
<td>77</td>
<td>0</td> <td>59</td>
</tr>
<tr><td>1866M1</td>
<td>3</td>
<td>78528</td>
<td>58</td>
<td>1</td>
<td>0</td>
<td>21</td> <td>16483</td>
</tr>
<tr><td>1866M2</td>
<td>7</td>
<td>99741</td>
<td>71</td>
<td>4</td>
<td>0</td>
<td>21</td> <td>21240</td>
</tr>
<tr><td>1866M3</td>
<td>7</td>
<td>94562</td>
<td>49</td>
<td>4</td>
<td>1</td>
<td>22</td> <td>21191</td>
</tr>
<tr><td>1866M4</td>
<td>7</td>
<td>112620</td>
<td>54</td>
<td>1</td>
<td>0</td>
<td>21</td> <td>23378</td>
</tr>
<tr><td>1867M1</td>
<td>4</td>
<td>58958</td>
<td>16304</td>
<td>16</td>
<td>0</td>
<td>1</td> <td>878</td>
</tr>
<tr><td>1867M2</td>
<td>2</td>
<td>71937</td>
<td>20468</td>
<td>27</td>
<td>2</td>
<td>1</td> <td>964</td>
</tr>
<tr><td>1867M3</td>
<td>1</td>
<td>68564</td>
<td>20738</td>
<td>16</td>
<td>2</td>
<td>1</td> <td>1167</td>
</tr>
<tr><td>1867M4</td>
<td>4</td>
<td>84533</td>
<td>22871</td>
<td>16</td>
<td>0</td>
<td>1</td> <td>1085</td>
</tr>
<tr><td>1868M1</td>
<td>0</td>
<td>58422</td>
<td>16401</td>
<td>16</td>
<td>1</td>
<td>1</td> <td>789</td>
</tr>
<tr><td>1868M2</td>
<td>6</td>
<td>70725</td>
<td>21164</td>
<td>16</td>
<td>1</td>
<td>1</td> <td>1178</td>
</tr>
<tr><td>1868M3</td>
<td>3</td>
<td>67251</td>
<td>21182</td>
<td>21</td>
<td>2</td>
<td>1</td> <td>1162</td>
</tr>
<tr><td>1868M4</td>
<td>0</td>
<td>81287</td>
<td>22860</td>
<td>26</td>
<td>1</td>
<td>1</td> <td>1174</td>
</tr>
<tr><td>1869M1</td>
<td>4</td>
<td>58926</td>
<td>17549</td>
<td>27</td>
<td>2</td>
<td>1</td> <td>885</td>
</tr>
<tr><td>1869M2</td>
<td>4</td>
<td>66991</td>
<td>20128</td>
<td>22</td>
<td>0</td>
<td>1</td> <td>1012</td>
</tr>
<tr><td>1869M3</td>
<td>2</td>
<td>67192</td>
<td>21997</td>
<td>23</td>
<td>4</td>
<td>1</td> <td>1216</td>
</tr>
<tr><td>1869M4</td>
<td>0</td>
<td>81521</td>
<td>23916</td>
<td>27</td>
<td>0</td>
<td>1</td> <td>1196</td>
</tr>
<tr><td>1870M1</td>
<td>2</td>
<td>56425</td>
<td>17285</td>
<td>17</td>
<td>0</td>
<td>1</td> <td>900</td>
</tr>
<tr><td>1870M2</td>
<td>8</td>
<td>71986</td>
<td>22714</td>
<td>27</td>
<td>0</td>
<td>1</td> <td>1132</td>
</tr>
<tr><td>1870M3</td>
<td>4</td>
<td>66693</td>
<td>22122</td>
<td>27</td>
<td>1</td>
<td>1</td> <td>1165</td>
</tr>
<tr><td>1870M4</td>
<td>9</td>
<td>86059</td>
<td>25985</td>
<td>36</td>
<td>4</td>
<td>1</td> <td>1300</td>
</tr>
<tr><td>1871M1</td>
<td>8</td>
<td>56771</td>
<td>17818</td>
<td>21</td>
<td>1</td>
<td>1</td> <td>900</td>
</tr>
<tr><td>1871M2</td>
<td>3</td>
<td>75631</td>
<td>24614</td>
<td>23</td>
<td>1</td>
<td>1</td> <td>1325</td>
</tr>
<tr><td>1871M3</td>
<td>5</td>
<td>71152</td>
<td>24799</td>
<td>26</td>
<td>1</td>
<td>1</td> <td>1348</td>
</tr>
<tr><td>1871M4</td>
<td>8</td>
<td>92016</td>
<td>28943</td>
<td>20</td>
<td>2</td>
<td>1</td> <td>1480</td>
</tr>
<tr><td>1872M1</td>
<td>7</td>
<td>64239</td>
<td>21336</td>
<td>23</td>
<td>5</td>
<td>1</td> <td>1167</td>
</tr>
<tr><td>1872M2</td>
<td>4</td>
<td>80172</td>
<td>27407</td>
<td>33</td>
<td>4</td>
<td>1</td> <td>1480</td>
</tr>
<tr><td>1872M3</td>
<td>6</td>
<td>77739</td>
<td>28065</td>
<td>36</td>
<td>6</td>
<td>1</td> <td>1557</td>
</tr>
<tr><td>1872M4</td>
<td>3</td>
<td>95890</td>
<td>31092</td>
<td>26</td>
<td>1</td>
<td>1</td> <td>1527</td>
</tr>
<tr><td>1873M1</td>
<td>9</td>
<td>65524</td>
<td>22085</td>
<td>21</td>
<td>0</td>
<td>1</td> <td>1173</td>
</tr>
<tr><td>1873M2</td>
<td>5</td>
<td>83729</td>
<td>29115</td>
<td>31</td>
<td>1</td>
<td>1</td> <td>1596</td>
</tr>
<tr><td>1873M3</td>
<td>11</td>
<td>75959</td>
<td>28526</td>
<td>39</td>
<td>6</td>
<td>2</td> <td>1618</td>
</tr>
<tr><td>1873M4</td>
<td>7</td>
<td>95525</td>
<td>32080</td>
<td>15</td>
<td>2</td>
<td>1</td> <td>1764</td>
</tr>
<tr><td>1874M1</td>
<td>6</td>
<td>64273</td>
<td>22191</td>
<td>19</td>
<td>0</td>
<td>1</td> <td>1294</td>
</tr>
<tr><td>1874M2</td>
<td>4</td>
<td>80926</td>
<td>29144</td>
<td>24</td>
<td>0</td>
<td>1</td> <td>1529</td>
</tr>
<tr><td>1874M3</td>
<td>3</td>
<td>74101</td>
<td>28489</td>
<td>22</td>
<td>2</td>
<td>2</td> <td>1669</td>
</tr>
<tr><td>1874M4</td>
<td>5</td>
<td>89667</td>
<td>31756</td>
<td>33</td>
<td>8</td>
<td>1</td> <td>1644</td>
</tr>
<tr><td>1875M1</td>
<td>6</td>
<td>64394</td>
<td>24293</td>
<td>26</td>
<td>0</td>
<td>1</td> <td>1236</td>
</tr>
<tr><td>1875M2</td>
<td>10</td>
<td>73535</td>
<td>27782</td>
<td>23</td>
<td>3</td>
<td>2</td> <td>1533</td>
</tr>
<tr><td>1875M3</td>
<td>7</td>
<td>73293</td>
<td>29796</td>
<td>27</td>
<td>1</td>
<td>2</td> <td>1743</td>
</tr>
<tr><td>1875M4</td>
<td>7</td>
<td>91280</td>
<td>34074</td>
<td>29</td>
<td>1</td>
<td>1</td> <td>1802</td>
</tr>
<tr><td>1876M1</td>
<td>6</td>
<td>62268</td>
<td>23548</td>
<td>18</td>
<td>3</td>
<td>1</td> <td>1225</td>
</tr>
<tr><td>1876M2</td>
<td>13</td>
<td>76142</td>
<td>30550</td>
<td>32</td>
<td>3</td>
<td>2</td> <td>1733</td>
</tr>
<tr><td>1876M3</td>
<td>5</td>
<td>71939</td>
<td>30623</td>
<td>34</td>
<td>3</td>
<td>2</td> <td>1732</td>
</tr>
<tr><td>1876M4</td>
<td>11</td>
<td>89742</td>
<td>35139</td>
<td>39</td>
<td>4</td>
<td>2</td> <td>1948</td>
</tr>
<tr><td>1877M1</td>
<td>9</td>
<td>58611</td>
<td>23728</td>
<td>25</td>
<td>1</td>
<td>2</td> <td>1316</td>
</tr>
<tr><td>1877M2</td>
<td>3</td>
<td>71744</td>
<td>30326</td>
<td>34</td>
<td>1</td>
<td>2</td> <td>1780</td>
</tr>
<tr><td>1877M3</td>
<td>9</td>
<td>68536</td>
<td>31364</td>
<td>36</td>
<td>3</td>
<td>2</td> <td>1850</td>
</tr>
<tr><td>1877M4</td>
<td>7</td>
<td>85079</td>
<td>35277</td>
<td>34</td>
<td>1</td>
<td>2</td> <td>1924</td>
</tr>
<tr><td>1878M1</td>
<td>1</td>
<td>58205</td>
<td>24712</td>
<td>20</td>
<td>4</td>
<td>2</td> <td>1439</td>
</tr>
<tr><td>1878M2</td>
<td>5</td>
<td>70021</td>
<td>32120</td>
<td>24</td>
<td>3</td>
<td>2</td> <td>1802</td>
</tr>
<tr><td>1878M3</td>
<td>7</td>
<td>66408</td>
<td>31611</td>
<td>26</td>
<td>0</td>
<td>2</td> <td>1945</td>
</tr>
<tr><td>1878M4</td>
<td>6</td>
<td>79816</td>
<td>35039</td>
<td>29</td>
<td>1</td>
<td>2</td> <td>1927</td>
</tr>
<tr><td>1879M1</td>
<td>2</td>
<td>52302</td>
<td>23929</td>
<td>26</td>
<td>1</td>
<td>2</td> <td>1384</td>
</tr>
<tr><td>1879M2</td>
<td>5</td>
<td>67088</td>
<td>31588</td>
<td>20</td>
<td>1</td>
<td>2</td> <td>1815</td>
</tr>
<tr><td>1879M3</td>
<td>2</td>
<td>62392</td>
<td>31604</td>
<td>48</td>
<td>1</td>
<td>2</td> <td>2003</td>
</tr>
<tr><td>1879M4</td>
<td>6</td>
<td>78097</td>
<td>35570</td>
<td>34</td>
<td>3</td>
<td>2</td> <td>2082</td>
</tr>
<tr><td>1880M1</td>
<td>5</td>
<td>59810</td>
<td>28228</td>
<td>26</td>
<td>1</td>
<td>2</td> <td>1580</td>
</tr>
<tr><td>1880M2</td>
<td>4</td>
<td>66254</td>
<td>31122</td>
<td>28</td>
<td>0</td>
<td>2</td> <td>1824</td>
</tr>
<tr><td>1880M3</td>
<td>3</td>
<td>66647</td>
<td>35261</td>
<td>38</td>
<td>2</td>
<td>2</td> <td>2185</td>
</tr>
<tr><td>1880M4</td>
<td>4</td>
<td>81061</td>
<td>38104</td>
<td>28</td>
<td>2</td>
<td>2</td> <td>2175</td>
</tr>
<tr><td>1881M1</td>
<td>3</td>
<td>52345</td>
<td>24795</td>
<td>18</td>
<td>1</td>
<td>2</td> <td>1454</td>
</tr>
<tr><td>1881M2</td>
<td>1</td>
<td>68540</td>
<td>34209</td>
<td>29</td>
<td>4</td>
<td>2</td> <td>2109</td>
</tr>
<tr><td>1881M3</td>
<td>3</td>
<td>64647</td>
<td>34110</td>
<td>47</td>
<td>2</td>
<td>2</td> <td>2000</td>
</tr>
<tr><td>1881M4</td>
<td>6</td>
<td>82691</td>
<td>39947</td>
<td>28</td>
<td>0</td>
<td>2</td> <td>2176</td>
</tr>
<tr><td>1882M1</td>
<td>4</td>
<td>55993</td>
<td>27607</td>
<td>20</td>
<td>5</td>
<td>2</td> <td>1524</td>
</tr>
<tr><td>1882M2</td>
<td>7</td>
<td>73272</td>
<td>37629</td>
<td>33</td>
<td>5</td>
<td>2</td> <td>2200</td>
</tr>
<tr><td>1882M3</td>
<td>4</td>
<td>69492</td>
<td>37768</td>
<td>37</td>
<td>3</td>
<td>2</td> <td>2205</td>
</tr>
<tr><td>1882M4</td>
<td>11</td>
<td>84411</td>
<td>42800</td>
<td>35</td>
<td>6</td>
<td>2</td> <td>2505</td>
</tr>
<tr><td>1883M1</td>
<td>7</td>
<td>59499</td>
<td>30803</td>
<td>26</td>
<td>3</td>
<td>2</td> <td>1796</td>
</tr>
<tr><td>1883M2</td>
<td>4</td>
<td>64686</td>
<td>33899</td>
<td>22</td>
<td>1</td>
<td>2</td> <td>1966</td>
</tr>
<tr><td>1883M3</td>
<td>1</td>
<td>69422</td>
<td>39146</td>
<td>41</td>
<td>3</td>
<td>2</td> <td>2293</td>
</tr>
<tr><td>1883M4</td>
<td>7</td>
<td>84887</td>
<td>44046</td>
<td>30</td>
<td>3</td>
<td>2</td> <td>2472</td>
</tr>
<tr><td>1884M1</td>
<td>5</td>
<td>57580</td>
<td>30234</td>
<td>27</td>
<td>6</td>
<td>2</td> <td>1704</td>
</tr>
<tr><td>1884M2</td>
<td>8</td>
<td>72804</td>
<td>40270</td>
<td>32</td>
<td>2</td>
<td>2</td> <td>2310</td>
</tr>
<tr><td>1884M3</td>
<td>12</td>
<td>67060</td>
<td>39554</td>
<td>48</td>
<td>2</td>
<td>2</td> <td>2395</td>
</tr>
<tr><td>1884M4</td>
<td>8</td>
<td>79722</td>
<td>43281</td>
<td>44</td>
<td>4</td>
<td>2</td> <td>2396</td>
</tr>
<tr><td>1885M1</td>
<td>10</td>
<td>53089</td>
<td>28896</td>
<td>27</td>
<td>2</td>
<td>2</td> <td>1683</td>
</tr>
<tr><td>1885M2</td>
<td>14</td>
<td>69292</td>
<td>39915</td>
<td>24</td>
<td>4</td>
<td>2</td> <td>2414</td>
</tr>
<tr><td>1885M3</td>
<td>6</td>
<td>64346</td>
<td>39706</td>
<td>46</td>
<td>4</td>
<td>2</td> <td>2538</td>
</tr>
<tr><td>1885M4</td>
<td>6</td>
<td>76223</td>
<td>43209</td>
<td>43</td>
<td>2</td>
<td>2</td> <td>2430</td>
</tr>
<tr><td>1886M1</td>
<td>8</td>
<td>51316</td>
<td>28642</td>
<td>20</td>
<td>3</td>
<td>2</td> <td>1779</td>
</tr>
<tr><td>1886M2</td>
<td>4</td>
<td>63846</td>
<td>38553</td>
<td>34</td>
<td>1</td>
<td>2</td> <td>2235</td>
</tr>
<tr><td>1886M3</td>
<td>5</td>
<td>60369</td>
<td>38171</td>
<td>49</td>
<td>1</td>
<td>2</td> <td>2423</td>
</tr>
<tr><td>1886M4</td>
<td>5</td>
<td>74171</td>
<td>43607</td>
<td>36</td>
<td>0</td>
<td>2</td> <td>2577</td>
</tr>
<tr><td>1887M1</td>
<td>3</td>
<td>49881</td>
<td>29177</td>
<td>35</td>
<td>2</td>
<td>2</td> <td>1771</td>
</tr>
<tr><td>1887M2</td>
<td>7</td>
<td>66098</td>
<td>40730</td>
<td>40</td>
<td>1</td>
<td>2</td> <td>2454</td>
</tr>
<tr><td>1887M3</td>
<td>3</td>
<td>61046</td>
<td>39831</td>
<td>48</td>
<td>1</td>
<td>3</td> <td>2614</td>
</tr>
<tr><td>1887M4</td>
<td>11</td>
<td>75091</td>
<td>45571</td>
<td>42</td>
<td>6</td>
<td>2</td> <td>2706</td>
</tr>
<tr><td>1888M1</td>
<td>6</td>
<td>51029</td>
<td>30612</td>
<td>30</td>
<td>2</td>
<td>2</td> <td>1781</td>
</tr>
<tr><td>1888M2</td>
<td>5</td>
<td>64544</td>
<td>40265</td>
<td>34</td>
<td>6</td>
<td>2</td> <td>2489</td>
</tr>
<tr><td>1888M3</td>
<td>7</td>
<td>62403</td>
<td>42185</td>
<td>40</td>
<td>2</td>
<td>3</td> <td>2672</td>
</tr>
<tr><td>1888M4</td>
<td>3</td>
<td>75741</td>
<td>46658</td>
<td>31</td>
<td>8</td>
<td>2</td> <td>2860</td>
</tr>
<tr><td>1889M1</td>
<td>1</td>
<td>53128</td>
<td>33048</td>
<td>42</td>
<td>3</td>
<td>2</td> <td>2051</td>
</tr>
<tr><td>1889M2</td>
<td>5</td>
<td>70160</td>
<td>46677</td>
<td>38</td>
<td>1</td>
<td>2</td> <td>2910</td>
</tr>
<tr><td>1889M3</td>
<td>4</td>
<td>66293</td>
<td>46083</td>
<td>45</td>
<td>4</td>
<td>3</td> <td>3050</td>
</tr>
<tr><td>1889M4</td>
<td>4</td>
<td>80572</td>
<td>51690</td>
<td>44</td>
<td>1</td>
<td>2</td> <td>3167</td>
</tr>
<tr><td>1890M1</td>
<td>10</td>
<td>54321</td>
<td>34403</td>
<td>45</td>
<td>4</td>
<td>2</td> <td>2149</td>
</tr>
<tr><td>1890M2</td>
<td>4</td>
<td>75831</td>
<td>50879</td>
<td>54</td>
<td>6</td>
<td>2</td> <td>3097</td>
</tr>
<tr><td>1890M3</td>
<td>4</td>
<td>75302</td>
<td>54525</td>
<td>84</td>
<td>8</td>
<td>3</td> <td>3619</td>
</tr>
<tr><td>1890M4</td>
<td>11</td>
<td>86992</td>
<td>57027</td>
<td>88</td>
<td>5</td>
<td>2</td> <td>3452</td>
</tr>
<tr><td>1891M1</td>
<td>3</td>
<td>62043</td>
<td>41496</td>
<td>50</td>
<td>1</td>
<td>3</td> <td>2619</td>
</tr>
<tr><td>1891M2</td>
<td>2</td>
<td>65983</td>
<td>45004</td>
<td>43</td>
<td>1</td>
<td>3</td> <td>2833</td>
</tr>
<tr><td>1891M3</td>
<td>4</td>
<td>68310</td>
<td>50466</td>
<td>45</td>
<td>2</td>
<td>3</td> <td>3215</td>
</tr>
<tr><td>1891M4</td>
<td>3</td>
<td>79340</td>
<td>54276</td>
<td>38</td>
<td>3</td>
<td>2</td> <td>3125</td>
</tr>
<tr><td>1892M1</td>
<td>3</td>
<td>54483</td>
<td>37437</td>
<td>33</td>
<td>4</td>
<td>3</td> <td>2370</td>
</tr>
<tr><td>1892M2</td>
<td>6</td>
<td>72208</td>
<td>53068</td>
<td>55</td>
<td>2</td>
<td>3</td> <td>3247</td>
</tr>
<tr><td>1892M3</td>
<td>6</td>
<td>68977</td>
<td>53803</td>
<td>63</td>
<td>6</td>
<td>3</td> <td>3623</td>
</tr>
<tr><td>1892M4</td>
<td>3</td>
<td>81315</td>
<td>58506</td>
<td>53</td>
<td>2</td>
<td>3</td> <td>3635</td>
</tr>
<tr><td>1893M1</td>
<td>3</td>
<td>49546</td>
<td>35311</td>
<td>35</td>
<td>4</td>
<td>3</td> <td>2320</td>
</tr>
<tr><td>1893M2</td>
<td>7</td>
<td>70515</td>
<td>52973</td>
<td>64</td>
<td>3</td>
<td>3</td> <td>3434</td>
</tr>
<tr><td>1893M3</td>
<td>2</td>
<td>67504</td>
<td>54871</td>
<td>56</td>
<td>5</td>
<td>3</td> <td>3645</td>
</tr>
<tr><td>1893M4</td>
<td>3</td>
<td>72739</td>
<td>55082</td>
<td>45</td>
<td>8</td>
<td>3</td> <td>3495</td>
</tr>
<tr><td>1894M1</td>
<td>1</td>
<td>55833</td>
<td>41076</td>
<td>27</td>
<td>6</td>
<td>3</td> <td>2480</td>
</tr>
<tr><td>1894M2</td>
<td>3</td>
<td>61542</td>
<td>46666</td>
<td>29</td>
<td>0</td>
<td>3</td> <td>2893</td>
</tr>
<tr><td>1894M3</td>
<td>1</td>
<td>66666</td>
<td>54940</td>
<td>31</td>
<td>2</td>
<td>3</td> <td>3576</td>
</tr>
<tr><td>1894M4</td>
<td>4</td>
<td>74815</td>
<td>56839</td>
<td>37</td>
<td>0</td>
<td>3</td> <td>3475</td>
</tr>
<tr><td>1895M1</td>
<td>0</td>
<td>45982</td>
<td>34284</td>
<td>21</td>
<td>0</td>
<td>3</td> <td>2209</td>
</tr>
<tr><td>1895M2</td>
<td>3</td>
<td>68644</td>
<td>56644</td>
<td>52</td>
<td>2</td>
<td>3</td> <td>3659</td>
</tr>
<tr><td>1895M3</td>
<td>9</td>
<td>66864</td>
<td>57005</td>
<td>34</td>
<td>2</td>
<td>3</td> <td>3921</td>
</tr>
<tr><td>1895M4</td>
<td>3</td>
<td>75690</td>
<td>59756</td>
<td>31</td>
<td>3</td>
<td>3</td> <td>3681</td>
</tr>
<tr><td>1896M1</td>
<td>3</td>
<td>51158</td>
<td>39055</td>
<td>26</td>
<td>3</td>
<td>3</td> <td>2634</td>
</tr>
<tr><td>1896M2</td>
<td>4</td>
<td>74484</td>
<td>62484</td>
<td>56</td>
<td>0</td>
<td>3</td> <td>3897</td>
</tr>
<tr><td>1896M3</td>
<td>2</td>
<td>70666</td>
<td>63208</td>
<td>55</td>
<td>1</td>
<td>3</td> <td>4369</td>
</tr>
<tr><td>1896M4</td>
<td>4</td>
<td>77479</td>
<td>63114</td>
<td>55</td>
<td>2</td>
<td>3</td> <td>4065</td>
</tr>
<tr><td>1897M1</td>
<td>0</td>
<td>51391</td>
<td>40484</td>
<td>29</td>
<td>5</td>
<td>3</td> <td>2713</td>
</tr>
<tr><td>1897M2</td>
<td>5</td>
<td>75732</td>
<td>65643</td>
<td>50</td>
<td>0</td>
<td>3</td> <td>4438</td>
</tr>
<tr><td>1897M3</td>
<td>6</td>
<td>70988</td>
<td>64516</td>
<td>62</td>
<td>3</td>
<td>3</td> <td>4531</td>
</tr>
<tr><td>1897M4</td>
<td>6</td>
<td>77657</td>
<td>65635</td>
<td>52</td>
<td>5</td>
<td>3</td> <td>4260</td>
</tr>
<tr><td>1898M1</td>
<td>4</td>
<td>52655</td>
<td>42834</td>
<td>46</td>
<td>4</td>
<td>3</td> <td>2907</td>
</tr>
<tr><td>1898M2</td>
<td>4</td>
<td>77390</td>
<td>69828</td>
<td>58</td>
<td>4</td>
<td>3</td> <td>4753</td>
</tr>
<tr><td>1898M3</td>
<td>4</td>
<td>70947</td>
<td>67797</td>
<td>57</td>
<td>1</td>
<td>3</td> <td>4835</td>
</tr>
<tr><td>1898M4</td>
<td>3</td>
<td>81510</td>
<td>71583</td>
<td>54</td>
<td>5</td>
<td>3</td> <td>4897</td>
</tr>
<tr><td>1899M1</td>
<td>4</td>
<td>49911</td>
<td>41761</td>
<td>38</td>
<td>2</td>
<td>3</td> <td>2888</td>
</tr>
<tr><td>1899M2</td>
<td>3</td>
<td>78436</td>
<td>71068</td>
<td>60</td>
<td>1</td>
<td>3</td> <td>4775</td>
</tr>
<tr><td>1899M3</td>
<td>1</td>
<td>75263</td>
<td>72516</td>
<td>70</td>
<td>7</td>
<td>3</td> <td>5092</td>
</tr>
<tr><td>1899M4</td>
<td>5</td>
<td>80113</td>
<td>70583</td>
<td>37</td>
<td>5</td>
<td>3</td> <td>4614</td>
</tr>
</tbody>
</table> 

<h3 id="1850-1859">Marriage Data for 1900 to 1949</h3>
<table>
<thead><tr><th rowspan="2">Quarter</th> <th colspan="5">Number of full names</th> <th colspan="2">With initials</th>
</tr>
<tr><th>0</th>
<th>1</th>
<th>2</th>
<th>3</th>
<th>&gt;3</th> <th>percent</th> <th>number</th>
</tr>
</thead>
<tbody>
<tr><td>1900M1</td>
<td>1</td>
<td>48532</td>
<td>40322</td>
<td>26</td>
<td>3</td>
<td>3</td> <td>2912</td>
</tr>
<tr><td>1900M2</td>
<td>1</td>
<td>76620</td>
<td>69909</td>
<td>28</td>
<td>1</td>
<td>3</td> <td>4920</td>
</tr>
<tr><td>1900M3</td>
<td>5</td>
<td>73932</td>
<td>71580</td>
<td>68</td>
<td>4</td>
<td>4</td> <td>5566</td>
</tr>
<tr><td>1900M4</td>
<td>13</td>
<td>79397</td>
<td>71442</td>
<td>38</td>
<td>3</td>
<td>4</td> <td>5315</td>
</tr>
<tr><td>1901M1</td>
<td>4</td>
<td>48907</td>
<td>41848</td>
<td>33</td>
<td>5</td>
<td>3</td> <td>2929</td>
</tr>
<tr><td>1901M2</td>
<td>4</td>
<td>76965</td>
<td>72456</td>
<td>54</td>
<td>6</td>
<td>3</td> <td>5036</td>
</tr>
<tr><td>1901M3</td>
<td>17</td>
<td>74682</td>
<td>74674</td>
<td>61</td>
<td>4</td>
<td>4</td> <td>5684</td>
</tr>
<tr><td>1901M4</td>
<td>5</td>
<td>77441</td>
<td>70314</td>
<td>46</td>
<td>9</td>
<td>3</td> <td>5076</td>
</tr>
<tr><td>1902M1</td>
<td>3</td>
<td>58522</td>
<td>52058</td>
<td>30</td>
<td>2</td>
<td>4</td> <td>4077</td>
</tr>
<tr><td>1902M2</td>
<td>8</td>
<td>65912</td>
<td>62529</td>
<td>43</td>
<td>7</td>
<td>4</td> <td>4837</td>
</tr>
<tr><td>1902M3</td>
<td>4</td>
<td>73489</td>
<td>74298</td>
<td>55</td>
<td>2</td>
<td>4</td> <td>5957</td>
</tr>
<tr><td>1902M4</td>
<td>5</td>
<td>78947</td>
<td>74293</td>
<td>57</td>
<td>2</td>
<td>4</td> <td>5719</td>
</tr>
<tr><td>1903M1</td>
<td>6</td>
<td>50453</td>
<td>44417</td>
<td>42</td>
<td>3</td>
<td>4</td> <td>3619</td>
</tr>
<tr><td>1903M2</td>
<td>2</td>
<td>76751</td>
<td>75694</td>
<td>50</td>
<td>4</td>
<td>4</td> <td>5838</td>
</tr>
<tr><td>1903M3</td>
<td>5</td>
<td>74113</td>
<td>77203</td>
<td>85</td>
<td>13</td>
<td>4</td> <td>6249</td>
</tr>
<tr><td>1903M4</td>
<td>4</td>
<td>75058</td>
<td>72555</td>
<td>54</td>
<td>1</td>
<td>4</td> <td>5635</td>
</tr>
<tr><td>1904M1</td>
<td>2</td>
<td>48082</td>
<td>43238</td>
<td>24</td>
<td>4</td>
<td>4</td> <td>3453</td>
</tr>
<tr><td>1904M2</td>
<td>8</td>
<td>73139</td>
<td>72362</td>
<td>49</td>
<td>1</td>
<td>4</td> <td>5755</td>
</tr>
<tr><td>1904M3</td>
<td>13</td>
<td>70358</td>
<td>74294</td>
<td>50</td>
<td>7</td>
<td>4</td> <td>6041</td>
</tr>
<tr><td>1904M4</td>
<td>9</td>
<td>72903</td>
<td>69687</td>
<td>51</td>
<td>5</td>
<td>4</td> <td>5451</td>
</tr>
<tr><td>1905M1</td>
<td>2</td>
<td>47807</td>
<td>44029</td>
<td>35</td>
<td>2</td>
<td>4</td> <td>3680</td>
</tr>
<tr><td>1905M2</td>
<td>5</td>
<td>72050</td>
<td>71905</td>
<td>53</td>
<td>4</td>
<td>4</td> <td>5511</td>
</tr>
<tr><td>1905M3</td>
<td>5</td>
<td>71832</td>
<td>76389</td>
<td>42</td>
<td>7</td>
<td>4</td> <td>6261</td>
</tr>
<tr><td>1905M4</td>
<td>6</td>
<td>73608</td>
<td>72329</td>
<td>51</td>
<td>5</td>
<td>4</td> <td>5472</td>
</tr>
<tr><td>1906M1</td>
<td>5</td>
<td>48996</td>
<td>44571</td>
<td>40</td>
<td>2</td>
<td>4</td> <td>3696</td>
</tr>
<tr><td>1906M2</td>
<td>4</td>
<td>77538</td>
<td>77361</td>
<td>57</td>
<td>8</td>
<td>4</td> <td>6490</td>
</tr>
<tr><td>1906M3</td>
<td>7</td>
<td>76102</td>
<td>82800</td>
<td>75</td>
<td>10</td>
<td>4</td> <td>6842</td>
</tr>
<tr><td>1906M4</td>
<td>6</td>
<td>76936</td>
<td>77365</td>
<td>69</td>
<td>6</td>
<td>4</td> <td>6006</td>
</tr>
<tr><td>1907M1</td>
<td>11</td>
<td>59537</td>
<td>57826</td>
<td>45</td>
<td>4</td>
<td>4</td> <td>4899</td>
</tr>
<tr><td>1907M2</td>
<td>6</td>
<td>70882</td>
<td>71418</td>
<td>37</td>
<td>2</td>
<td>4</td> <td>5870</td>
</tr>
<tr><td>1907M3</td>
<td>11</td>
<td>77438</td>
<td>83791</td>
<td>60</td>
<td>5</td>
<td>4</td> <td>6829</td>
</tr>
<tr><td>1907M4</td>
<td>2</td>
<td>75847</td>
<td>75839</td>
<td>45</td>
<td>5</td>
<td>4</td> <td>5804</td>
</tr>
<tr><td>1908M1</td>
<td>2</td>
<td>52411</td>
<td>50465</td>
<td>33</td>
<td>0</td>
<td>4</td> <td>4063</td>
</tr>
<tr><td>1908M2</td>
<td>3</td>
<td>77717</td>
<td>82297</td>
<td>67</td>
<td>2</td>
<td>4</td> <td>6815</td>
</tr>
<tr><td>1908M3</td>
<td>5</td>
<td>70877</td>
<td>79572</td>
<td>73</td>
<td>2</td>
<td>4</td> <td>6646</td>
</tr>
<tr><td>1908M4</td>
<td>5</td>
<td>69888</td>
<td>73525</td>
<td>45</td>
<td>4</td>
<td>4</td> <td>5726</td>
</tr>
<tr><td>1909M1</td>
<td>6</td>
<td>46803</td>
<td>45384</td>
<td>39</td>
<td>0</td>
<td>4</td> <td>3780</td>
</tr>
<tr><td>1909M2</td>
<td>3</td>
<td>70577</td>
<td>75585</td>
<td>63</td>
<td>6</td>
<td>4</td> <td>6135</td>
</tr>
<tr><td>1909M3</td>
<td>3</td>
<td>69844</td>
<td>80508</td>
<td>63</td>
<td>2</td>
<td>5</td> <td>6819</td>
</tr>
<tr><td>1909M4</td>
<td>2</td>
<td>68962</td>
<td>73123</td>
<td>39</td>
<td>3</td>
<td>4</td> <td>5919</td>
</tr>
<tr><td>1910M1</td>
<td>4</td>
<td>57166</td>
<td>57950</td>
<td>42</td>
<td>0</td>
<td>4</td> <td>4795</td>
</tr>
<tr><td>1910M2</td>
<td>8</td>
<td>60178</td>
<td>64431</td>
<td>41</td>
<td>1</td>
<td>4</td> <td>5518</td>
</tr>
<tr><td>1910M3</td>
<td>12</td>
<td>155509</td>
<td>617</td>
<td>9</td>
<td>3</td>
<td>54</td> <td>83687</td>
</tr>
<tr><td>1910M4</td>
<td>9</td>
<td>149690</td>
<td>633</td>
<td>8</td>
<td>0</td>
<td>52</td> <td>77995</td>
</tr>
<tr><td>1911M1</td>
<td>6</td>
<td>91373</td>
<td>147</td>
<td>2</td>
<td>2</td>
<td>50</td> <td>46189</td>
</tr>
<tr><td>1911M2</td>
<td>8</td>
<td>154043</td>
<td>400</td>
<td>3</td>
<td>2</td>
<td>52</td> <td>80985</td>
</tr>
<tr><td>1911M3</td>
<td>5</td>
<td>158167</td>
<td>252</td>
<td>6</td>
<td>0</td>
<td>54</td> <td>85555</td>
</tr>
<tr><td>1911M4</td>
<td>7</td>
<td>155894</td>
<td>199</td>
<td>2</td>
<td>0</td>
<td>52</td> <td>81805</td>
</tr>
<tr><td>1912M1</td>
<td>5</td>
<td>90980</td>
<td>108</td>
<td>1</td>
<td>0</td>
<td>52</td> <td>46965</td>
</tr>
<tr><td>1912M2</td>
<td>10</td>
<td>151865</td>
<td>124</td>
<td>3</td>
<td>1</td>
<td>54</td> <td>81388</td>
</tr>
<tr><td>1912M3</td>
<td>12</td>
<td>170036</td>
<td>374</td>
<td>1</td>
<td>0</td>
<td>54</td> <td>92138</td>
</tr>
<tr><td>1912M4</td>
<td>12</td>
<td>164378</td>
<td>167</td>
<td>1</td>
<td>0</td>
<td>53</td> <td>87626</td>
</tr>
<tr><td>1913M1</td>
<td>4</td>
<td>123697</td>
<td>141</td>
<td>0</td>
<td>0</td>
<td>52</td> <td>64452</td>
</tr>
<tr><td>1913M2</td>
<td>13</td>
<td>134132</td>
<td>133</td>
<td>0</td>
<td>0</td>
<td>53</td> <td>71214</td>
</tr>
<tr><td>1913M3</td>
<td>8</td>
<td>170132</td>
<td>218</td>
<td>4</td>
<td>0</td>
<td>55</td> <td>92875</td>
</tr>
<tr><td>1913M4</td>
<td>10</td>
<td>154797</td>
<td>366</td>
<td>3</td>
<td>0</td>
<td>53</td> <td>82064</td>
</tr>
<tr><td>1914M1</td>
<td>7</td>
<td>103893</td>
<td>162</td>
<td>3</td>
<td>0</td>
<td>52</td> <td>53949</td>
</tr>
<tr><td>1914M2</td>
<td>11</td>
<td>165483</td>
<td>242</td>
<td>2</td>
<td>1</td>
<td>54</td> <td>89056</td>
</tr>
<tr><td>1914M3</td>
<td>14</td>
<td>167057</td>
<td>193</td>
<td>4</td>
<td>0</td>
<td>55</td> <td>92024</td>
</tr>
<tr><td>1914M4</td>
<td>16</td>
<td>162915</td>
<td>224</td>
<td>2</td>
<td>0</td>
<td>54</td> <td>88536</td>
</tr>
<tr><td>1915M1</td>
<td>8</td>
<td>112741</td>
<td>399</td>
<td>1</td>
<td>0</td>
<td>53</td> <td>60465</td>
</tr>
<tr><td>1915M2</td>
<td>10</td>
<td>197427</td>
<td>418</td>
<td>3</td>
<td>0</td>
<td>55</td> <td>108956</td>
</tr>
<tr><td>1915M3</td>
<td>22</td>
<td>209047</td>
<td>477</td>
<td>7</td>
<td>0</td>
<td>56</td> <td>116695</td>
</tr>
<tr><td>1915M4</td>
<td>18</td>
<td>214916</td>
<td>506</td>
<td>6</td>
<td>0</td>
<td>56</td> <td>119834</td>
</tr>
<tr><td>1916M1</td>
<td>13</td>
<td>138483</td>
<td>330</td>
<td>4</td>
<td>1</td>
<td>54</td> <td>75451</td>
</tr>
<tr><td>1916M2</td>
<td>14</td>
<td>152103</td>
<td>228</td>
<td>2</td>
<td>0</td>
<td>55</td> <td>84178</td>
</tr>
<tr><td>1916M3</td>
<td>5</td>
<td>137154</td>
<td>174</td>
<td>2</td>
<td>0</td>
<td>55</td> <td>75792</td>
</tr>
<tr><td>1916M4</td>
<td>7</td>
<td>142229</td>
<td>211</td>
<td>5</td>
<td>1</td>
<td>55</td> <td>78876</td>
</tr>
<tr><td>1917M1</td>
<td>12</td>
<td>103443</td>
<td>187</td>
<td>2</td>
<td>0</td>
<td>55</td> <td>57487</td>
</tr>
<tr><td>1917M2</td>
<td>8</td>
<td>129737</td>
<td>223</td>
<td>1</td>
<td>1</td>
<td>55</td> <td>71754</td>
</tr>
<tr><td>1917M3</td>
<td>6</td>
<td>141350</td>
<td>214</td>
<td>2</td>
<td>0</td>
<td>56</td> <td>79521</td>
</tr>
<tr><td>1917M4</td>
<td>6</td>
<td>150907</td>
<td>395</td>
<td>3</td>
<td>0</td>
<td>56</td> <td>84349</td>
</tr>
<tr><td>1918M1</td>
<td>10</td>
<td>132946</td>
<td>340</td>
<td>1</td>
<td>0</td>
<td>56</td> <td>74507</td>
</tr>
<tr><td>1918M2</td>
<td>9</td>
<td>136024</td>
<td>232</td>
<td>5</td>
<td>0</td>
<td>56</td> <td>75720</td>
</tr>
<tr><td>1918M3</td>
<td>11</td>
<td>160734</td>
<td>289</td>
<td>3</td>
<td>0</td>
<td>57</td> <td>91315</td>
</tr>
<tr><td>1918M4</td>
<td>12</td>
<td>152320</td>
<td>429</td>
<td>4</td>
<td>0</td>
<td>56</td> <td>85969</td>
</tr>
<tr><td>1919M1</td>
<td>11</td>
<td>121946</td>
<td>327</td>
<td>3</td>
<td>0</td>
<td>56</td> <td>67942</td>
</tr>
<tr><td>1919M2</td>
<td>8</td>
<td>205562</td>
<td>200</td>
<td>3</td>
<td>0</td>
<td>55</td> <td>113285</td>
</tr>
<tr><td>1919M3</td>
<td>4</td>
<td>215439</td>
<td>219</td>
<td>1</td>
<td>0</td>
<td>56</td> <td>120608</td>
</tr>
<tr><td>1919M4</td>
<td>8</td>
<td>206077</td>
<td>258</td>
<td>0</td>
<td>2</td>
<td>55</td> <td>113352</td>
</tr>
<tr><td>1920M1</td>
<td>3</td>
<td>140388</td>
<td>64</td>
<td>3</td>
<td>0</td>
<td>54</td> <td>75658</td>
</tr>
<tr><td>1920M2</td>
<td>6</td>
<td>219567</td>
<td>643</td>
<td>3</td>
<td>1</td>
<td>55</td> <td>120771</td>
</tr>
<tr><td>1920M3</td>
<td>2</td>
<td>222703</td>
<td>269</td>
<td>4</td>
<td>0</td>
<td>56</td> <td>124873</td>
</tr>
<tr><td>1920M4</td>
<td>4</td>
<td>186668</td>
<td>272</td>
<td>3</td>
<td>0</td>
<td>56</td> <td>105557</td>
</tr>
<tr><td>1921M1</td>
<td>3</td>
<td>154655</td>
<td>96</td>
<td>1</td>
<td>0</td>
<td>55</td> <td>85266</td>
</tr>
<tr><td>1921M2</td>
<td>0</td>
<td>144407</td>
<td>532</td>
<td>5</td>
<td>0</td>
<td>58</td> <td>83804</td>
</tr>
<tr><td>1921M3</td>
<td>3</td>
<td>181326</td>
<td>87</td>
<td>2</td>
<td>1</td>
<td>58</td> <td>106039</td>
</tr>
<tr><td>1921M4</td>
<td>1</td>
<td>170460</td>
<td>99</td>
<td>0</td>
<td>1</td>
<td>58</td> <td>98090</td>
</tr>
<tr><td>1922M1</td>
<td>1</td>
<td>102691</td>
<td>150</td>
<td>1</td>
<td>1</td>
<td>56</td> <td>57664</td>
</tr>
<tr><td>1922M2</td>
<td>2</td>
<td>167813</td>
<td>649</td>
<td>22</td>
<td>2</td>
<td>58</td> <td>97974</td>
</tr>
<tr><td>1922M3</td>
<td>3</td>
<td>181926</td>
<td>238</td>
<td>6</td>
<td>1</td>
<td>59</td> <td>107713</td>
</tr>
<tr><td>1922M4</td>
<td>1</td>
<td>155578</td>
<td>179</td>
<td>4</td>
<td>0</td>
<td>58</td> <td>91055</td>
</tr>
<tr><td>1923M1</td>
<td>3</td>
<td>108674</td>
<td>58</td>
<td>1</td>
<td>1</td>
<td>57</td> <td>61657</td>
</tr>
<tr><td>1923M2</td>
<td>4</td>
<td>151953</td>
<td>33</td>
<td>2</td>
<td>0</td>
<td>59</td> <td>89795</td>
</tr>
<tr><td>1923M3</td>
<td>2</td>
<td>176899</td>
<td>64</td>
<td>0</td>
<td>0</td>
<td>60</td> <td>105579</td>
</tr>
<tr><td>1923M4</td>
<td>1</td>
<td>155991</td>
<td>26</td>
<td>1</td>
<td>0</td>
<td>59</td> <td>92311</td>
</tr>
<tr><td>1924M1</td>
<td>0</td>
<td>95718</td>
<td>84</td>
<td>7</td>
<td>1</td>
<td>57</td> <td>54919</td>
</tr>
<tr><td>1924M2</td>
<td>3</td>
<td>164958</td>
<td>22</td>
<td>0</td>
<td>0</td>
<td>59</td> <td>97634</td>
</tr>
<tr><td>1924M3</td>
<td>1</td>
<td>182395</td>
<td>57</td>
<td>4</td>
<td>0</td>
<td>60</td> <td>109453</td>
</tr>
<tr><td>1924M4</td>
<td>0</td>
<td>158860</td>
<td>46</td>
<td>7</td>
<td>0</td>
<td>60</td> <td>94878</td>
</tr>
<tr><td>1925M1</td>
<td>0</td>
<td>94027</td>
<td>61</td>
<td>0</td>
<td>1</td>
<td>58</td> <td>54726</td>
</tr>
<tr><td>1925M2</td>
<td>2</td>
<td>166444</td>
<td>70</td>
<td>2</td>
<td>0</td>
<td>59</td> <td>98675</td>
</tr>
<tr><td>1925M3</td>
<td>3</td>
<td>183475</td>
<td>81</td>
<td>1</td>
<td>0</td>
<td>60</td> <td>110449</td>
</tr>
<tr><td>1925M4</td>
<td>4</td>
<td>156846</td>
<td>309</td>
<td>1</td>
<td>0</td>
<td>61</td> <td>95233</td>
</tr>
<tr><td>1926M1</td>
<td>1</td>
<td>94272</td>
<td>58</td>
<td>0</td>
<td>0</td>
<td>59</td> <td>55458</td>
</tr>
<tr><td>1926M2</td>
<td>3</td>
<td>159144</td>
<td>63</td>
<td>1</td>
<td>1</td>
<td>60</td> <td>96003</td>
</tr>
<tr><td>1926M3</td>
<td>2</td>
<td>170514</td>
<td>56</td>
<td>0</td>
<td>0</td>
<td>62</td> <td>105967</td>
</tr>
<tr><td>1926M4</td>
<td>0</td>
<td>145393</td>
<td>91</td>
<td>1</td>
<td>1</td>
<td>62</td> <td>89682</td>
</tr>
<tr><td>1927M1</td>
<td>1</td>
<td>97876</td>
<td>56</td>
<td>0</td>
<td>0</td>
<td>59</td> <td>57364</td>
</tr>
<tr><td>1927M2</td>
<td>3</td>
<td>172924</td>
<td>32</td>
<td>1</td>
<td>0</td>
<td>60</td> <td>103921</td>
</tr>
<tr><td>1927M3</td>
<td>0</td>
<td>186979</td>
<td>39</td>
<td>0</td>
<td>0</td>
<td>61</td> <td>114803</td>
</tr>
<tr><td>1927M4</td>
<td>0</td>
<td>170409</td>
<td>41</td>
<td>0</td>
<td>0</td>
<td>61</td> <td>103384</td>
</tr>
<tr><td>1928M1</td>
<td>2</td>
<td>92987</td>
<td>23</td>
<td>0</td>
<td>0</td>
<td>59</td> <td>55005</td>
</tr>
<tr><td>1928M2</td>
<td>5</td>
<td>172777</td>
<td>16</td>
<td>0</td>
<td>1</td>
<td>61</td> <td>104920</td>
</tr>
<tr><td>1928M3</td>
<td>0</td>
<td>192580</td>
<td>49</td>
<td>2</td>
<td>0</td>
<td>62</td> <td>119382</td>
</tr>
<tr><td>1928M4</td>
<td>1</td>
<td>160736</td>
<td>32</td>
<td>1</td>
<td>0</td>
<td>61</td> <td>98761</td>
</tr>
<tr><td>1929M1</td>
<td>2</td>
<td>111696</td>
<td>38</td>
<td>0</td>
<td>0</td>
<td>60</td> <td>66885</td>
</tr>
<tr><td>1929M2</td>
<td>0</td>
<td>154354</td>
<td>63</td>
<td>3</td>
<td>0</td>
<td>61</td> <td>94248</td>
</tr>
<tr><td>1929M3</td>
<td>1</td>
<td>205310</td>
<td>109</td>
<td>3</td>
<td>0</td>
<td>62</td> <td>127014</td>
</tr>
<tr><td>1929M4</td>
<td>0</td>
<td>168779</td>
<td>103</td>
<td>4</td>
<td>0</td>
<td>61</td> <td>103098</td>
</tr>
<tr><td>1930M1</td>
<td>1</td>
<td>100164</td>
<td>67</td>
<td>1</td>
<td>0</td>
<td>60</td> <td>59925</td>
</tr>
<tr><td>1930M2</td>
<td>2</td>
<td>179818</td>
<td>81</td>
<td>0</td>
<td>0</td>
<td>61</td> <td>110464</td>
</tr>
<tr><td>1930M3</td>
<td>0</td>
<td>200671</td>
<td>99</td>
<td>1</td>
<td>0</td>
<td>63</td> <td>125977</td>
</tr>
<tr><td>1930M4</td>
<td>0</td>
<td>162989</td>
<td>81</td>
<td>1</td>
<td>4</td>
<td>61</td> <td>100116</td>
</tr>
<tr><td>1931M1</td>
<td>0</td>
<td>95676</td>
<td>35</td>
<td>0</td>
<td>0</td>
<td>61</td> <td>58015</td>
</tr>
<tr><td>1931M2</td>
<td>1</td>
<td>173879</td>
<td>56</td>
<td>1</td>
<td>0</td>
<td>62</td> <td>107360</td>
</tr>
<tr><td>1931M3</td>
<td>0</td>
<td>202658</td>
<td>66</td>
<td>3</td>
<td>0</td>
<td>63</td> <td>127319</td>
</tr>
<tr><td>1931M4</td>
<td>0</td>
<td>164636</td>
<td>46</td>
<td>0</td>
<td>0</td>
<td>61</td> <td>101199</td>
</tr>
<tr><td>1932M1</td>
<td>0</td>
<td>127533</td>
<td>35</td>
<td>2</td>
<td>0</td>
<td>60</td> <td>76537</td>
</tr>
<tr><td>1932M2</td>
<td>1</td>
<td>141000</td>
<td>46</td>
<td>2</td>
<td>0</td>
<td>62</td> <td>87292</td>
</tr>
<tr><td>1932M3</td>
<td>0</td>
<td>193668</td>
<td>58</td>
<td>0</td>
<td>0</td>
<td>63</td> <td>121874</td>
</tr>
<tr><td>1932M4</td>
<td>0</td>
<td>165654</td>
<td>51</td>
<td>1</td>
<td>0</td>
<td>61</td> <td>101821</td>
</tr>
<tr><td>1933M1</td>
<td>1</td>
<td>91012</td>
<td>64</td>
<td>5</td>
<td>0</td>
<td>61</td> <td>55197</td>
</tr>
<tr><td>1933M2</td>
<td>2</td>
<td>174505</td>
<td>182</td>
<td>3</td>
<td>2</td>
<td>62</td> <td>107696</td>
</tr>
<tr><td>1933M3</td>
<td>2</td>
<td>210435</td>
<td>156</td>
<td>4</td>
<td>0</td>
<td>63</td> <td>132173</td>
</tr>
<tr><td>1933M4</td>
<td>1</td>
<td>174195</td>
<td>88</td>
<td>4</td>
<td>0</td>
<td>62</td> <td>107476</td>
</tr>
<tr><td>1934M1</td>
<td>1</td>
<td>120447</td>
<td>80</td>
<td>3</td>
<td>0</td>
<td>60</td> <td>72749</td>
</tr>
<tr><td>1934M2</td>
<td>1</td>
<td>173436</td>
<td>144</td>
<td>0</td>
<td>0</td>
<td>62</td> <td>108124</td>
</tr>
<tr><td>1934M3</td>
<td>2</td>
<td>222568</td>
<td>432</td>
<td>4</td>
<td>0</td>
<td>63</td> <td>140297</td>
</tr>
<tr><td>1934M4</td>
<td>0</td>
<td>182409</td>
<td>170</td>
<td>1</td>
<td>0</td>
<td>62</td> <td>112903</td>
</tr>
<tr><td>1935M1</td>
<td>2</td>
<td>105531</td>
<td>212</td>
<td>4</td>
<td>0</td>
<td>61</td> <td>64377</td>
</tr>
<tr><td>1935M2</td>
<td>0</td>
<td>200049</td>
<td>233</td>
<td>1</td>
<td>0</td>
<td>62</td> <td>124865</td>
</tr>
<tr><td>1935M3</td>
<td>0</td>
<td>225136</td>
<td>181</td>
<td>2</td>
<td>1</td>
<td>63</td> <td>142956</td>
</tr>
<tr><td>1935M4</td>
<td>2</td>
<td>182340</td>
<td>86</td>
<td>2</td>
<td>0</td>
<td>62</td> <td>113642</td>
</tr>
<tr><td>1936M1</td>
<td>0</td>
<td>102703</td>
<td>57</td>
<td>1</td>
<td>0</td>
<td>62</td> <td>63255</td>
</tr>
<tr><td>1936M2</td>
<td>0</td>
<td>205047</td>
<td>103</td>
<td>4</td>
<td>0</td>
<td>63</td> <td>128955</td>
</tr>
<tr><td>1936M3</td>
<td>5</td>
<td>235240</td>
<td>101</td>
<td>3</td>
<td>0</td>
<td>64</td> <td>150308</td>
</tr>
<tr><td>1936M4</td>
<td>1</td>
<td>181549</td>
<td>86</td>
<td>2</td>
<td>0</td>
<td>62</td> <td>112682</td>
</tr>
<tr><td>1937M1</td>
<td>0</td>
<td>144670</td>
<td>143</td>
<td>2</td>
<td>0</td>
<td>62</td> <td>89330</td>
</tr>
<tr><td>1937M2</td>
<td>0</td>
<td>164223</td>
<td>69</td>
<td>3</td>
<td>0</td>
<td>63</td> <td>103981</td>
</tr>
<tr><td>1937M3</td>
<td>1</td>
<td>247858</td>
<td>140</td>
<td>1</td>
<td>0</td>
<td>64</td> <td>158436</td>
</tr>
<tr><td>1937M4</td>
<td>0</td>
<td>178257</td>
<td>59</td>
<td>1</td>
<td>2</td>
<td>62</td> <td>110946</td>
</tr>
<tr><td>1938M1</td>
<td>0</td>
<td>107728</td>
<td>37</td>
<td>1</td>
<td>0</td>
<td>61</td> <td>66130</td>
</tr>
<tr><td>1938M2</td>
<td>1</td>
<td>209205</td>
<td>79</td>
<td>2</td>
<td>1</td>
<td>63</td> <td>132489</td>
</tr>
<tr><td>1938M3</td>
<td>0</td>
<td>238794</td>
<td>107</td>
<td>2</td>
<td>4</td>
<td>65</td> <td>154974</td>
</tr>
<tr><td>1938M4</td>
<td>2</td>
<td>186849</td>
<td>103</td>
<td>3</td>
<td>2</td>
<td>63</td> <td>117602</td>
</tr>
<tr><td>1939M1</td>
<td>0</td>
<td>97325</td>
<td>74</td>
<td>0</td>
<td>0</td>
<td>63</td> <td>60958</td>
</tr>
<tr><td>1939M2</td>
<td>1</td>
<td>210574</td>
<td>173</td>
<td>5</td>
<td>0</td>
<td>64</td> <td>134382</td>
</tr>
<tr><td>1939M3</td>
<td>1</td>
<td>313843</td>
<td>188</td>
<td>5</td>
<td>0</td>
<td>66</td> <td>207015</td>
</tr>
<tr><td>1939M4</td>
<td>4</td>
<td>281105</td>
<td>117</td>
<td>5</td>
<td>0</td>
<td>65</td> <td>183435</td>
</tr>
<tr><td>1940M1</td>
<td>1</td>
<td>223991</td>
<td>152</td>
<td>2</td>
<td>0</td>
<td>65</td> <td>145143</td>
</tr>
<tr><td>1940M2</td>
<td>0</td>
<td>239795</td>
<td>139</td>
<td>5</td>
<td>0</td>
<td>65</td> <td>155521</td>
</tr>
<tr><td>1940M3</td>
<td>1</td>
<td>270766</td>
<td>160</td>
<td>3</td>
<td>0</td>
<td>64</td> <td>174571</td>
</tr>
<tr><td>1940M4</td>
<td>3</td>
<td>231189</td>
<td>247</td>
<td>4</td>
<td>0</td>
<td>65</td> <td>149440</td>
</tr>
<tr><td>1941M1</td>
<td>2</td>
<td>167309</td>
<td>70</td>
<td>4</td>
<td>0</td>
<td>65</td> <td>109011</td>
</tr>
<tr><td>1941M2</td>
<td>1</td>
<td>217171</td>
<td>139</td>
<td>1</td>
<td>0</td>
<td>64</td> <td>139207</td>
</tr>
<tr><td>1941M3</td>
<td>2</td>
<td>214939</td>
<td>82</td>
<td>2</td>
<td>0</td>
<td>64</td> <td>138629</td>
</tr>
<tr><td>1941M4</td>
<td>2</td>
<td>200654</td>
<td>77</td>
<td>0</td>
<td>0</td>
<td>63</td> <td>127267</td>
</tr>
<tr><td>1942M1</td>
<td>2</td>
<td>181630</td>
<td>320</td>
<td>1</td>
<td>0</td>
<td>64</td> <td>117012</td>
</tr>
<tr><td>1942M2</td>
<td>0</td>
<td>207708</td>
<td>229</td>
<td>1</td>
<td>1</td>
<td>64</td> <td>133724</td>
</tr>
<tr><td>1942M3</td>
<td>0</td>
<td>197623</td>
<td>212</td>
<td>8</td>
<td>0</td>
<td>65</td> <td>127858</td>
</tr>
<tr><td>1942M4</td>
<td>0</td>
<td>173482</td>
<td>111</td>
<td>3</td>
<td>0</td>
<td>64</td> <td>110564</td>
</tr>
<tr><td>1943M1</td>
<td>1</td>
<td>130660</td>
<td>74</td>
<td>2</td>
<td>0</td>
<td>64</td> <td>83985</td>
</tr>
<tr><td>1943M2</td>
<td>1</td>
<td>170246</td>
<td>217</td>
<td>7</td>
<td>0</td>
<td>64</td> <td>109390</td>
</tr>
<tr><td>1943M3</td>
<td>1</td>
<td>169162</td>
<td>300</td>
<td>4</td>
<td>0</td>
<td>64</td> <td>108734</td>
</tr>
<tr><td>1943M4</td>
<td>4</td>
<td>144982</td>
<td>64</td>
<td>1</td>
<td>0</td>
<td>64</td> <td>92237</td>
</tr>
<tr><td>1944M1</td>
<td>1</td>
<td>131357</td>
<td>120</td>
<td>3</td>
<td>0</td>
<td>65</td> <td>84906</td>
</tr>
<tr><td>1944M2</td>
<td>6</td>
<td>171156</td>
<td>96</td>
<td>1</td>
<td>0</td>
<td>64</td> <td>109951</td>
</tr>
<tr><td>1944M3</td>
<td>7</td>
<td>171735</td>
<td>111</td>
<td>5</td>
<td>0</td>
<td>64</td> <td>110267</td>
</tr>
<tr><td>1944M4</td>
<td>15</td>
<td>156815</td>
<td>122</td>
<td>4</td>
<td>0</td>
<td>64</td> <td>100680</td>
</tr>
<tr><td>1945M1</td>
<td>19</td>
<td>160268</td>
<td>93</td>
<td>1</td>
<td>0</td>
<td>65</td> <td>104094</td>
</tr>
<tr><td>1945M2</td>
<td>22</td>
<td>207129</td>
<td>132</td>
<td>0</td>
<td>0</td>
<td>66</td> <td>137235</td>
</tr>
<tr><td>1945M3</td>
<td>14</td>
<td>247338</td>
<td>142</td>
<td>2</td>
<td>0</td>
<td>66</td> <td>162517</td>
</tr>
<tr><td>1945M4</td>
<td>15</td>
<td>212860</td>
<td>92</td>
<td>2</td>
<td>0</td>
<td>64</td> <td>136292</td>
</tr>
<tr><td>1946M1</td>
<td>10</td>
<td>164773</td>
<td>60</td>
<td>1</td>
<td>0</td>
<td>64</td> <td>105227</td>
</tr>
<tr><td>1946M2</td>
<td>5</td>
<td>210902</td>
<td>103</td>
<td>1</td>
<td>0</td>
<td>64</td> <td>136062</td>
</tr>
<tr><td>1946M3</td>
<td>7</td>
<td>231220</td>
<td>95</td>
<td>2</td>
<td>0</td>
<td>64</td> <td>148998</td>
</tr>
<tr><td>1946M4</td>
<td>5</td>
<td>206568</td>
<td>47</td>
<td>1</td>
<td>0</td>
<td>63</td> <td>130550</td>
</tr>
<tr><td>1947M1</td>
<td>2</td>
<td>165503</td>
<td>73</td>
<td>1</td>
<td>0</td>
<td>64</td> <td>105266</td>
</tr>
<tr><td>1947M2</td>
<td>4</td>
<td>237787</td>
<td>76</td>
<td>6</td>
<td>0</td>
<td>65</td> <td>153501</td>
</tr>
<tr><td>1947M3</td>
<td>4</td>
<td>260310</td>
<td>99</td>
<td>4</td>
<td>0</td>
<td>65</td> <td>169135</td>
</tr>
<tr><td>1947M4</td>
<td>1</td>
<td>213732</td>
<td>67</td>
<td>2</td>
<td>0</td>
<td>64</td> <td>135956</td>
</tr>
<tr><td>1948M1</td>
<td>1</td>
<td>210937</td>
<td>108</td>
<td>3</td>
<td>0</td>
<td>63</td> <td>133383</td>
</tr>
<tr><td>1948M2</td>
<td>2</td>
<td>205528</td>
<td>97</td>
<td>0</td>
<td>0</td>
<td>65</td> <td>133955</td>
</tr>
<tr><td>1948M3</td>
<td>2</td>
<td>268500</td>
<td>170</td>
<td>2</td>
<td>0</td>
<td>64</td> <td>172849</td>
</tr>
<tr><td>1948M4</td>
<td>0</td>
<td>189247</td>
<td>72</td>
<td>5</td>
<td>0</td>
<td>63</td> <td>119371</td>
</tr>
<tr><td>1949M1</td>
<td>0</td>
<td>181259</td>
<td>83</td>
<td>0</td>
<td>0</td>
<td>62</td> <td>111952</td>
</tr>
<tr><td>1949M2</td>
<td>0</td>
<td>208971</td>
<td>55</td>
<td>0</td>
<td>0</td>
<td>65</td> <td>136262</td>
</tr>
<tr><td>1949M3</td>
<td>0</td>
<td>247940</td>
<td>77</td>
<td>1</td>
<td>1</td>
<td>65</td> <td>160434</td>
</tr>
<tr><td>1949M4</td>
<td>1</td>
<td>183938</td>
<td>67</td>
<td>0</td>
<td>0</td>
<td>63</td> <td>115657</td>
</tr>
</tbody>
</table> 

<h3 id="1950-1999">Marriage Data for 1950 to 1992</h3>
<table>
<thead><tr><th rowspan="2">Quarter</th> <th colspan="5">Number of full names</th> <th colspan="2">With initials</th>
</tr>
<tr><th>0</th>
<th>1</th>
<th>2</th>
<th>3</th>
<th>&gt;3</th> <th>percent</th> <th>number</th>
</tr>
</thead>
<tbody>
<tr><td>1950M1</td>
<td>3</td>
<td>191203</td>
<td>57</td>
<td>2</td>
<td>0</td>
<td>62</td> <td>117900</td>
</tr>
<tr><td>1950M2</td>
<td>1</td>
<td>176945</td>
<td>65</td>
<td>1</td>
<td>1</td>
<td>66</td> <td>116439</td>
</tr>
<tr><td>1950M3</td>
<td>1</td>
<td>249579</td>
<td>77</td>
<td>4</td>
<td>0</td>
<td>65</td> <td>163380</td>
</tr>
<tr><td>1950M4</td>
<td>4</td>
<td>167660</td>
<td>48</td>
<td>1</td>
<td>0</td>
<td>63</td> <td>105829</td>
</tr>
<tr><td>1951M1</td>
<td>1</td>
<td>239223</td>
<td>39</td>
<td>3</td>
<td>0</td>
<td>63</td> <td>150859</td>
</tr>
<tr><td>1951M2</td>
<td>3</td>
<td>145762</td>
<td>21</td>
<td>1</td>
<td>0</td>
<td>66</td> <td>96875</td>
</tr>
<tr><td>1951M3</td>
<td>4</td>
<td>241058</td>
<td>41</td>
<td>4</td>
<td>1</td>
<td>66</td> <td>158252</td>
</tr>
<tr><td>1951M4</td>
<td>4</td>
<td>162193</td>
<td>24</td>
<td>1</td>
<td>0</td>
<td>64</td> <td>103140</td>
</tr>
<tr><td>1952M1</td>
<td>6</td>
<td>235083</td>
<td>40</td>
<td>4</td>
<td>0</td>
<td>63</td> <td>148172</td>
</tr>
<tr><td>1952M2</td>
<td>7</td>
<td>154070</td>
<td>34</td>
<td>1</td>
<td>0</td>
<td>67</td> <td>102880</td>
</tr>
<tr><td>1952M3</td>
<td>3</td>
<td>225104</td>
<td>31</td>
<td>3</td>
<td>0</td>
<td>66</td> <td>148135</td>
</tr>
<tr><td>1952M4</td>
<td>5</td>
<td>154733</td>
<td>23</td>
<td>1</td>
<td>1</td>
<td>64</td> <td>99034</td>
</tr>
<tr><td>1953M1</td>
<td>12</td>
<td>206127</td>
<td>33</td>
<td>0</td>
<td>0</td>
<td>64</td> <td>131104</td>
</tr>
<tr><td>1953M2</td>
<td>4</td>
<td>168709</td>
<td>31</td>
<td>1</td>
<td>0</td>
<td>66</td> <td>111872</td>
</tr>
<tr><td>1953M3</td>
<td>8</td>
<td>229051</td>
<td>53</td>
<td>4</td>
<td>0</td>
<td>66</td> <td>152128</td>
</tr>
<tr><td>1953M4</td>
<td>6</td>
<td>151704</td>
<td>37</td>
<td>0</td>
<td>0</td>
<td>64</td> <td>97378</td>
</tr>
<tr><td>1954M1</td>
<td>6</td>
<td>209905</td>
<td>45</td>
<td>0</td>
<td>0</td>
<td>64</td> <td>133488</td>
</tr>
<tr><td>1954M2</td>
<td>5</td>
<td>162597</td>
<td>36</td>
<td>0</td>
<td>0</td>
<td>67</td> <td>108921</td>
</tr>
<tr><td>1954M3</td>
<td>5</td>
<td>225806</td>
<td>17</td>
<td>4</td>
<td>0</td>
<td>66</td> <td>149670</td>
</tr>
<tr><td>1954M4</td>
<td>6</td>
<td>147650</td>
<td>34</td>
<td>2</td>
<td>0</td>
<td>64</td> <td>95097</td>
</tr>
<tr><td>1955M1</td>
<td>5</td>
<td>220825</td>
<td>90</td>
<td>4</td>
<td>0</td>
<td>64</td> <td>140849</td>
</tr>
<tr><td>1955M2</td>
<td>9</td>
<td>164151</td>
<td>23</td>
<td>0</td>
<td>0</td>
<td>67</td> <td>109832</td>
</tr>
<tr><td>1955M3</td>
<td>1</td>
<td>218277</td>
<td>30</td>
<td>1</td>
<td>0</td>
<td>67</td> <td>145284</td>
</tr>
<tr><td>1955M4</td>
<td>5</td>
<td>155851</td>
<td>22</td>
<td>0</td>
<td>0</td>
<td>65</td> <td>100805</td>
</tr>
<tr><td>1956M1</td>
<td>2</td>
<td>219573</td>
<td>34</td>
<td>0</td>
<td>0</td>
<td>64</td> <td>141034</td>
</tr>
<tr><td>1956M2</td>
<td>7</td>
<td>141507</td>
<td>25</td>
<td>2</td>
<td>0</td>
<td>67</td> <td>95132</td>
</tr>
<tr><td>1956M3</td>
<td>4</td>
<td>218801</td>
<td>36</td>
<td>0</td>
<td>0</td>
<td>67</td> <td>146255</td>
</tr>
<tr><td>1956M4</td>
<td>6</td>
<td>144346</td>
<td>18</td>
<td>2</td>
<td>0</td>
<td>65</td> <td>93990</td>
</tr>
<tr><td>1957M1</td>
<td>4</td>
<td>225993</td>
<td>16</td>
<td>0</td>
<td>0</td>
<td>65</td> <td>145834</td>
</tr>
<tr><td>1957M2</td>
<td>2</td>
<td>135320</td>
<td>11</td>
<td>0</td>
<td>0</td>
<td>68</td> <td>92100</td>
</tr>
<tr><td>1957M3</td>
<td>6</td>
<td>212093</td>
<td>23</td>
<td>0</td>
<td>0</td>
<td>67</td> <td>142360</td>
</tr>
<tr><td>1957M4</td>
<td>4</td>
<td>138739</td>
<td>8</td>
<td>1</td>
<td>0</td>
<td>65</td> <td>90364</td>
</tr>
<tr><td>1958M1</td>
<td>3</td>
<td>210751</td>
<td>38</td>
<td>1</td>
<td>0</td>
<td>65</td> <td>136429</td>
</tr>
<tr><td>1958M2</td>
<td>0</td>
<td>135912</td>
<td>21</td>
<td>1</td>
<td>0</td>
<td>68</td> <td>92224</td>
</tr>
<tr><td>1958M3</td>
<td>4</td>
<td>208391</td>
<td>43</td>
<td>0</td>
<td>0</td>
<td>67</td> <td>140364</td>
</tr>
<tr><td>1958M4</td>
<td>1</td>
<td>143041</td>
<td>28</td>
<td>0</td>
<td>0</td>
<td>66</td> <td>93998</td>
</tr>
<tr><td>1959M1</td>
<td>4</td>
<td>208367</td>
<td>22</td>
<td>0</td>
<td>0</td>
<td>65</td> <td>136131</td>
</tr>
<tr><td>1959M2</td>
<td>3</td>
<td>130385</td>
<td>11</td>
<td>0</td>
<td>0</td>
<td>68</td> <td>88875</td>
</tr>
<tr><td>1959M3</td>
<td>4</td>
<td>210194</td>
<td>17</td>
<td>0</td>
<td>0</td>
<td>68</td> <td>142882</td>
</tr>
<tr><td>1959M4</td>
<td>4</td>
<td>149837</td>
<td>11</td>
<td>2</td>
<td>0</td>
<td>66</td> <td>98773</td>
</tr>
<tr><td>1960M1</td>
<td>1</td>
<td>183118</td>
<td>139</td>
<td>1</td>
<td>0</td>
<td>65</td> <td>119636</td>
</tr>
<tr><td>1960M2</td>
<td>2</td>
<td>149867</td>
<td>10</td>
<td>2</td>
<td>0</td>
<td>68</td> <td>102361</td>
</tr>
<tr><td>1960M3</td>
<td>4</td>
<td>212179</td>
<td>32</td>
<td>3</td>
<td>0</td>
<td>68</td> <td>145211</td>
</tr>
<tr><td>1960M4</td>
<td>1</td>
<td>161162</td>
<td>28</td>
<td>0</td>
<td>0</td>
<td>66</td> <td>106484</td>
</tr>
<tr><td>1961M1</td>
<td>1</td>
<td>174590</td>
<td>26</td>
<td>2</td>
<td>0</td>
<td>67</td> <td>116128</td>
</tr>
<tr><td>1961M2</td>
<td>5</td>
<td>156902</td>
<td>26</td>
<td>0</td>
<td>0</td>
<td>68</td> <td>107438</td>
</tr>
<tr><td>1961M3</td>
<td>3</td>
<td>230407</td>
<td>35</td>
<td>3</td>
<td>0</td>
<td>69</td> <td>158621</td>
</tr>
<tr><td>1961M4</td>
<td>3</td>
<td>152528</td>
<td>16</td>
<td>0</td>
<td>0</td>
<td>66</td> <td>101335</td>
</tr>
<tr><td>1962M1</td>
<td>3</td>
<td>208476</td>
<td>24</td>
<td>0</td>
<td>0</td>
<td>67</td> <td>139516</td>
</tr>
<tr><td>1962M2</td>
<td>2</td>
<td>130517</td>
<td>17</td>
<td>2</td>
<td>0</td>
<td>70</td> <td>90932</td>
</tr>
<tr><td>1962M3</td>
<td>2</td>
<td>221309</td>
<td>23</td>
<td>2</td>
<td>1</td>
<td>69</td> <td>153703</td>
</tr>
<tr><td>1962M4</td>
<td>3</td>
<td>157561</td>
<td>32</td>
<td>0</td>
<td>0</td>
<td>67</td> <td>105250</td>
</tr>
<tr><td>1963M1</td>
<td>2</td>
<td>206474</td>
<td>1179</td>
<td>65</td>
<td>0</td>
<td>67</td> <td>138635</td>
</tr>
<tr><td>1963M2</td>
<td>1</td>
<td>134756</td>
<td>774</td>
<td>12</td>
<td>0</td>
<td>70</td> <td>94305</td>
</tr>
<tr><td>1963M3</td>
<td>3</td>
<td>233136</td>
<td>1616</td>
<td>45</td>
<td>5</td>
<td>69</td> <td>163095</td>
</tr>
<tr><td>1963M4</td>
<td>0</td>
<td>167941</td>
<td>1007</td>
<td>36</td>
<td>2</td>
<td>67</td> <td>113143</td>
</tr>
<tr><td>1964M1</td>
<td>2</td>
<td>200681</td>
<td>5596</td>
<td>101</td>
<td>0</td>
<td>65</td> <td>135098</td>
</tr>
<tr><td>1964M2</td>
<td>3</td>
<td>145201</td>
<td>716</td>
<td>6</td>
<td>0</td>
<td>70</td> <td>102313</td>
</tr>
<tr><td>1964M3</td>
<td>13</td>
<td>234104</td>
<td>475</td>
<td>24</td>
<td>0</td>
<td>70</td> <td>164905</td>
</tr>
<tr><td>1964M4</td>
<td>2</td>
<td>173396</td>
<td>202</td>
<td>5</td>
<td>1</td>
<td>68</td> <td>117804</td>
</tr>
<tr><td>1965M1</td>
<td>10</td>
<td>207685</td>
<td>892</td>
<td>19</td>
<td>1</td>
<td>68</td> <td>142414</td>
</tr>
<tr><td>1965M2</td>
<td>2</td>
<td>155127</td>
<td>834</td>
<td>15</td>
<td>0</td>
<td>71</td> <td>110060</td>
</tr>
<tr><td>1965M3</td>
<td>6</td>
<td>238847</td>
<td>332</td>
<td>16</td>
<td>1</td>
<td>71</td> <td>170076</td>
</tr>
<tr><td>1965M4</td>
<td>14</td>
<td>181225</td>
<td>352</td>
<td>21</td>
<td>0</td>
<td>68</td> <td>124066</td>
</tr>
<tr><td>1966M1</td>
<td>33</td>
<td>213827</td>
<td>696</td>
<td>18</td>
<td>1</td>
<td>69</td> <td>148010</td>
</tr>
<tr><td>1966M2</td>
<td>32</td>
<td>155735</td>
<td>331</td>
<td>11</td>
<td>1</td>
<td>71</td> <td>110832</td>
</tr>
<tr><td>1966M3</td>
<td>58</td>
<td>240150</td>
<td>471</td>
<td>8</td>
<td>0</td>
<td>72</td> <td>172364</td>
</tr>
<tr><td>1966M4</td>
<td>37</td>
<td>197120</td>
<td>263</td>
<td>14</td>
<td>0</td>
<td>69</td> <td>136714</td>
</tr>
<tr><td>1967M1</td>
<td>26</td>
<td>219654</td>
<td>241</td>
<td>8</td>
<td>0</td>
<td>69</td> <td>152760</td>
</tr>
<tr><td>1967M2</td>
<td>41</td>
<td>148220</td>
<td>211</td>
<td>8</td>
<td>0</td>
<td>71</td> <td>106074</td>
</tr>
<tr><td>1967M3</td>
<td>55</td>
<td>266402</td>
<td>257</td>
<td>14</td>
<td>0</td>
<td>72</td> <td>192096</td>
</tr>
<tr><td>1967M4</td>
<td>44</td>
<td>180295</td>
<td>209</td>
<td>19</td>
<td>0</td>
<td>69</td> <td>125403</td>
</tr>
<tr><td>1968M1</td>
<td>47</td>
<td>248772</td>
<td>273</td>
<td>6</td>
<td>0</td>
<td>70</td> <td>174224</td>
</tr>
<tr><td>1968M2</td>
<td>45</td>
<td>141444</td>
<td>240</td>
<td>7</td>
<td>1</td>
<td>71</td> <td>101073</td>
</tr>
<tr><td>1968M3</td>
<td>50</td>
<td>268668</td>
<td>455</td>
<td>11</td>
<td>0</td>
<td>72</td> <td>193913</td>
</tr>
<tr><td>1968M4</td>
<td>67</td>
<td>197682</td>
<td>659</td>
<td>16</td>
<td>0</td>
<td>70</td> <td>137974</td>
</tr>
<tr><td>1969M1</td>
<td>20</td>
<td>164579</td>
<td>175</td>
<td>4</td>
<td>0</td>
<td>70</td> <td>115508</td>
</tr>
<tr><td>1969M2</td>
<td>36</td>
<td>208615</td>
<td>192</td>
<td>12</td>
<td>0</td>
<td>72</td> <td>149468</td>
</tr>
<tr><td>1969M3</td>
<td>26</td>
<td>276041</td>
<td>650</td>
<td>9</td>
<td>1</td>
<td>72</td> <td>200110</td>
</tr>
<tr><td>1969M4</td>
<td>5</td>
<td>24329</td>
<td>45</td>
<td>4</td>
<td>0</td>
<td>71</td> <td>17378</td>
</tr>
<tr><td>1970M1</td>
<td>52</td>
<td>172040</td>
<td>156</td>
<td>9</td>
<td>1</td>
<td>70</td> <td>121306</td>
</tr>
<tr><td>1970M2</td>
<td>37</td>
<td>217437</td>
<td>205</td>
<td>10</td>
<td>0</td>
<td>72</td> <td>156727</td>
</tr>
<tr><td>1970M3</td>
<td>39</td>
<td>294195</td>
<td>249</td>
<td>8</td>
<td>2</td>
<td>72</td> <td>212435</td>
</tr>
<tr><td>1970M4</td>
<td>50</td>
<td>189305</td>
<td>175</td>
<td>8</td>
<td>0</td>
<td>71</td> <td>133658</td>
</tr>
<tr><td>1971M1</td>
<td>20</td>
<td>151289</td>
<td>148</td>
<td>10</td>
<td>0</td>
<td>70</td> <td>106136</td>
</tr>
<tr><td>1971M2</td>
<td>26</td>
<td>224778</td>
<td>200</td>
<td>9</td>
<td>0</td>
<td>72</td> <td>162606</td>
</tr>
<tr><td>1971M3</td>
<td>53</td>
<td>287158</td>
<td>316</td>
<td>16</td>
<td>0</td>
<td>72</td> <td>208244</td>
</tr>
<tr><td>1971M4</td>
<td>36</td>
<td>192379</td>
<td>200</td>
<td>5</td>
<td>0</td>
<td>71</td> <td>136235</td>
</tr>
<tr><td>1972M1</td>
<td>60</td>
<td>172789</td>
<td>888</td>
<td>6</td>
<td>2</td>
<td>70</td> <td>121694</td>
</tr>
<tr><td>1972M2</td>
<td>49</td>
<td>226006</td>
<td>568</td>
<td>12</td>
<td>0</td>
<td>72</td> <td>163706</td>
</tr>
<tr><td>1972M3</td>
<td>61</td>
<td>309806</td>
<td>299</td>
<td>18</td>
<td>0</td>
<td>72</td> <td>224686</td>
</tr>
<tr><td>1972M4</td>
<td>48</td>
<td>197927</td>
<td>890</td>
<td>9</td>
<td>0</td>
<td>71</td> <td>140530</td>
</tr>
<tr><td>1973M1</td>
<td>44</td>
<td>179543</td>
<td>247</td>
<td>5</td>
<td>1</td>
<td>70</td> <td>126093</td>
</tr>
<tr><td>1973M2</td>
<td>27</td>
<td>211081</td>
<td>561</td>
<td>12</td>
<td>0</td>
<td>72</td> <td>152724</td>
</tr>
<tr><td>1973M3</td>
<td>33</td>
<td>279011</td>
<td>572</td>
<td>17</td>
<td>0</td>
<td>73</td> <td>202807</td>
</tr>
<tr><td>1973M4</td>
<td>44</td>
<td>185689</td>
<td>438</td>
<td>8</td>
<td>2</td>
<td>71</td> <td>131934</td>
</tr>
<tr><td>1974M1</td>
<td>11</td>
<td>166668</td>
<td>616</td>
<td>8</td>
<td>0</td>
<td>70</td> <td>117519</td>
</tr>
<tr><td>1974M2</td>
<td>16</td>
<td>200916</td>
<td>1023</td>
<td>9</td>
<td>0</td>
<td>73</td> <td>146774</td>
</tr>
<tr><td>1974M3</td>
<td>11</td>
<td>268179</td>
<td>899</td>
<td>11</td>
<td>1</td>
<td>73</td> <td>195674</td>
</tr>
<tr><td>1974M4</td>
<td>10</td>
<td>179629</td>
<td>714</td>
<td>8</td>
<td>0</td>
<td>71</td> <td>128122</td>
</tr>
<tr><td>1975M1</td>
<td>6</td>
<td>175060</td>
<td>286</td>
<td>15</td>
<td>1</td>
<td>71</td> <td>123825</td>
</tr>
<tr><td>1975M2</td>
<td>25</td>
<td>189698</td>
<td>268</td>
<td>9</td>
<td>1</td>
<td>73</td> <td>137797</td>
</tr>
<tr><td>1975M3</td>
<td>21</td>
<td>270673</td>
<td>385</td>
<td>11</td>
<td>0</td>
<td>73</td> <td>197088</td>
</tr>
<tr><td>1975M4</td>
<td>17</td>
<td>178544</td>
<td>249</td>
<td>14</td>
<td>1</td>
<td>71</td> <td>126818</td>
</tr>
<tr><td>1976M1</td>
<td>11</td>
<td>159671</td>
<td>156</td>
<td>14</td>
<td>3</td>
<td>70</td> <td>112497</td>
</tr>
<tr><td>1976M2</td>
<td>9</td>
<td>182629</td>
<td>732</td>
<td>13</td>
<td>2</td>
<td>72</td> <td>132605</td>
</tr>
<tr><td>1976M3</td>
<td>9</td>
<td>255806</td>
<td>649</td>
<td>11</td>
<td>2</td>
<td>73</td> <td>186047</td>
</tr>
<tr><td>1976M4</td>
<td>11</td>
<td>167893</td>
<td>392</td>
<td>7</td>
<td>1</td>
<td>71</td> <td>118828</td>
</tr>
<tr><td>1977M1</td>
<td>8</td>
<td>147227</td>
<td>379</td>
<td>8</td>
<td>0</td>
<td>70</td> <td>103676</td>
</tr>
<tr><td>1977M2</td>
<td>4</td>
<td>196732</td>
<td>279</td>
<td>10</td>
<td>2</td>
<td>73</td> <td>142917</td>
</tr>
<tr><td>1977M3</td>
<td>18</td>
<td>255250</td>
<td>266</td>
<td>14</td>
<td>0</td>
<td>73</td> <td>185819</td>
</tr>
<tr><td>1977M4</td>
<td>20</td>
<td>170895</td>
<td>177</td>
<td>8</td>
<td>0</td>
<td>71</td> <td>121436</td>
</tr>
<tr><td>1978M1</td>
<td>41</td>
<td>152722</td>
<td>382</td>
<td>3</td>
<td>0</td>
<td>70</td> <td>107937</td>
</tr>
<tr><td>1978M2</td>
<td>13</td>
<td>192175</td>
<td>283</td>
<td>7</td>
<td>0</td>
<td>72</td> <td>139212</td>
</tr>
<tr><td>1978M3</td>
<td>30</td>
<td>278295</td>
<td>350</td>
<td>5</td>
<td>2</td>
<td>73</td> <td>203070</td>
</tr>
<tr><td>1978M4</td>
<td>24</td>
<td>166728</td>
<td>270</td>
<td>5</td>
<td>1</td>
<td>71</td> <td>118360</td>
</tr>
<tr><td>1979M1</td>
<td>10</td>
<td>149734</td>
<td>238</td>
<td>6</td>
<td>0</td>
<td>70</td> <td>105363</td>
</tr>
<tr><td>1979M2</td>
<td>13</td>
<td>206067</td>
<td>182</td>
<td>3</td>
<td>2</td>
<td>73</td> <td>149885</td>
</tr>
<tr><td>1979M3</td>
<td>19</td>
<td>265980</td>
<td>468</td>
<td>9</td>
<td>0</td>
<td>73</td> <td>193846</td>
</tr>
<tr><td>1979M4</td>
<td>5</td>
<td>168775</td>
<td>451</td>
<td>11</td>
<td>2</td>
<td>71</td> <td>119447</td>
</tr>
<tr><td>1980M1</td>
<td>32</td>
<td>146757</td>
<td>116</td>
<td>3</td>
<td>0</td>
<td>71</td> <td>103778</td>
</tr>
<tr><td>1980M2</td>
<td>21</td>
<td>216626</td>
<td>211</td>
<td>3</td>
<td>0</td>
<td>73</td> <td>157388</td>
</tr>
<tr><td>1980M3</td>
<td>35</td>
<td>263085</td>
<td>309</td>
<td>10</td>
<td>1</td>
<td>73</td> <td>192716</td>
</tr>
<tr><td>1980M4</td>
<td>24</td>
<td>156978</td>
<td>258</td>
<td>6</td>
<td>0</td>
<td>71</td> <td>111887</td>
</tr>
<tr><td>1981M1</td>
<td>27</td>
<td>137037</td>
<td>132</td>
<td>2</td>
<td>1</td>
<td>71</td> <td>97346</td>
</tr>
<tr><td>1981M2</td>
<td>29</td>
<td>208678</td>
<td>215</td>
<td>10</td>
<td>1</td>
<td>73</td> <td>153029</td>
</tr>
<tr><td>1981M3</td>
<td>24</td>
<td>253183</td>
<td>274</td>
<td>11</td>
<td>0</td>
<td>73</td> <td>186087</td>
</tr>
<tr><td>1981M4</td>
<td>7</td>
<td>150044</td>
<td>263</td>
<td>5</td>
<td>0</td>
<td>72</td> <td>107543</td>
</tr>
<tr><td>1982M1</td>
<td>14</td>
<td>117373</td>
<td>125</td>
<td>11</td>
<td>1</td>
<td>71</td> <td>83631</td>
</tr>
<tr><td>1982M2</td>
<td>8</td>
<td>203641</td>
<td>589</td>
<td>5</td>
<td>0</td>
<td>73</td> <td>149672</td>
</tr>
<tr><td>1982M3</td>
<td>10</td>
<td>257170</td>
<td>206</td>
<td>14</td>
<td>1</td>
<td>74</td> <td>190772</td>
</tr>
<tr><td>1982M4</td>
<td>8</td>
<td>147832</td>
<td>84</td>
<td>2</td>
<td>0</td>
<td>72</td> <td>106188</td>
</tr>
<tr><td>1983M1</td>
<td>14</td>
<td>117485</td>
<td>109</td>
<td>4</td>
<td>0</td>
<td>72</td> <td>84123</td>
</tr>
<tr><td>1983M2</td>
<td>35</td>
<td>204941</td>
<td>189</td>
<td>4</td>
<td>0</td>
<td>74</td> <td>151757</td>
</tr>
<tr><td>1983M3</td>
<td>15</td>
<td>263647</td>
<td>240</td>
<td>3</td>
<td>0</td>
<td>74</td> <td>195472</td>
</tr>
<tr><td>1983M4</td>
<td>5</td>
<td>148586</td>
<td>470</td>
<td>7</td>
<td>0</td>
<td>72</td> <td>107396</td>
</tr>
<tr><td>1984M1</td>
<td>40</td>
<td>745393</td>
<td>702</td>
<td>33</td>
<td>2</td>
<td>74</td> <td>549976</td>
</tr>
<tr><td>1985M1</td>
<td>33</td>
<td>743829</td>
<td>811</td>
<td>12</td>
<td>0</td>
<td>73</td> <td>546590</td>
</tr>
<tr><td>1986M1</td>
<td>12</td>
<td>384852</td>
<td>386</td>
<td>3</td>
<td>0</td>
<td>74</td> <td>285221</td>
</tr>
<tr><td>1987M1</td>
<td>5</td>
<td>246555</td>
<td>1067</td>
<td>15</td>
<td>0</td>
<td>74</td> <td>182094</td>
</tr>
<tr><td>1988M1</td>
<td>11</td>
<td>273373</td>
<td>299</td>
<td>10</td>
<td>0</td>
<td>75</td> <td>205323</td>
</tr>
<tr><td>1989M1</td>
<td>3</td>
<td>126744</td>
<td>119</td>
<td>4</td>
<td>0</td>
<td>75</td> <td>94670</td>
</tr>
<tr><td>1990M1</td>
<td>0</td>
<td>22</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>91</td> <td>20</td>
</tr>
<tr><td>1991M1</td>
<td>0</td>
<td>14</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>93</td> <td>13</td>
</tr>
<tr><td>1992M1</td>
<td>0</td>
<td>15</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>87</td> <td>13</td>
</tr>
</tbody>
</table>
