<% breadcrumb :new_image_source, @register, @source %>

<% title "Source - create" %>
<%= render partial: 'header' %>
<%= render partial: 'flash_notice' %>

<div class="grid">
	<%= render 'form' %>
</div>