<h1>DRAFT Help with Marriages (MVP)</h1>

<style scoped="scoped">
dd { margin-bottom: 1em; }
figcaption {
  font-style: italic;
  color: #737373; /* 4.74:1 */
  margin-top: 0.3em;
}
figure.site img {
  border: 2px solid #00a099;
  padding: 0.3em;
  width: 100%;
  height: auto;
  max-width: 1000px;
}
</style>

<p><mark>PC - Review comments for the full version of this page - This page cannot be signed off until all the non-links are resolved and the content itself is signed off, AO, 09 Dec - PC </mark> </p>
<p><mark>This cut down-version "DRAFT Help with marriages" page — is being prepared for Beta - PC</mark> </p>
<p class="lead"> On this page you will find help on searching for a particular marriage and — having found one spouse — how you can look for the other. We explain how searching for an unknown spouse became easier from 1912 onwards and offer advice on how to make progress when information is missing.</p>

<div class="grid">
  <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right">
    <div class="islet islet--bordered">
      <h2 class="title-block" id="thisPage">On this page</h2>
      <ul class="sub-nav">
        <li> <a href="#indexInfo"> Information in the indexes</a> </li>
        <li> <a href="#searching"> Searching for potential spouses</a> </li>
        <li> <a href="#wrongNumber">Wrong number of entries found</a> </li>
       <li> <a href="#findItYourself">Finding a missing spouse yourself</a> </li>
       <li> <a href="#improveOurRecords">Help improve our records</a> </li>
       <li> <a href="#misMatch">Possible causes for miss-matched spouses</a> </li>
     </ul>
    </div>
   </aside>
  <div class="grid__item three-fifths lap-one-half palm-one-whole">
 
    <h2 id="indexInfo">Information in the Indexes</h2>
   <p class="islet islet--bordered">If you would like to look at <strong>information on the GRO Online ordering service</strong> while also keeping this page open, please follow this link to the <a href="https://www.gro.gov.uk/gro/content/certificates/login.asp" target="_blank">GRO’s Online ordering service) (opens in new window)</a>. </p>
       <p>From 1912 onwards, each entry in the GRO (General Register Office) Marriage Index shows the spouse’s surname. Before, then Index does provide this information and FreeBMD has <strong>no</strong> access to the <em>records</em> that contain this information.So other means have to be used.</p>
     <p class="push-half--bottom">Having found the entry for one spouse of a pre-1912 marriage there are two, or possibly three, ways in which you try to find the <em>missing</em> spouse:</p>
    <ol>
      <li>you can obtain marriage certificate from the GRO using the name of the spouse that you know </li>
      <li>you can search FreeBMD for potential spouses by looking for people <a href="#findItYourself">on the same page of the register</a>. Then try and find another “reliable source” for linking the <em>correct</em> two people together</li>
      <li>the birth indexes list the mother’s <em>maiden</em>-surname (that is, her original surname) for births registered after 31st June 1911. So, if you know about a child or children born as a result of this marriage, you can make use of this information. You could order a birth certificate for the child — and this <em>should</em> give you the names of both parents. You then look the mother’s surname <a href="#findItYourself">on the same page of the register</a> </li>
    </ol>
    <p class="islet islet--light"> Note: Figure 2, below, shows you an extract from the Entry Information page obtained from a search for a pre-1912 marriage, so in this case the spouse’s name is not given. However, if this was a 1912, or later, marriage you <em>should</em> see the spouse’s name in the <em>Mother or Spouse Surname</em> box.</p>

    <h2 id="searching">Searching FreeBMD for potential spouses</h2>
    <p> <mark> This section needs updating in that test3 tries to match spouses - but I'm not sure that it is working as intended - PC </mark> </p>
    <p>Before 1852, up to four marriages were entered on each page of the register. After that (with a few exceptions) there were two marriages per page. Each page of the register is identified in the index by the District, Volume and Page number. You can find out more about these terms and their relationships, if you wish, on our [Districts, Volumes and Pages page]("Districts, Volumes and Page numbers").</p>
    <figure class="site">
      <%= image_tag 'Marriage-Index-Sample.gif?sha=74d531e9b4b826cc', alt: 'Marriage Image Sample', width: 700, height: 200 %>
      <figcaption>Figure 1: Extract of a GRO first-quarter 1883, Marriage Index page showing the terms used in this page</figcaption>
    </figure>
    <p class="push-half--bottom">FreeBMD can make use of this fact to help you narrow down the search for a spouse. You can use this in one of two ways:</p>
    <ul>
      <li>FreeBMD’s Entry Information page (see Figure 2) gives you the <em>District</em>, the register <em>Volume</em> (the<strong> Vol.</strong> column) and the <em>Page</em> (the <strong>Page</strong> column)  within that volume. If you select the <strong>Page Number</strong> a search will be performed showing you all the entries on that page. This will result in up to eight or four people (depending on  the year); and any of these (discounting the person that you searched for) <em>could</em> be their spouse.</li>
      <li>you can perform a search specifying the name (First name(s), Surname) you wish to search for, with the spouse’s surname entered in the Spouse Surname box. FreeBMD will list all occurrences where both the <em>name used for the search</em> <strong>and</strong> the <em>Spouse’s surname name </em>occur on the<strong> same Register Page</strong>. This does <strong>not mean</strong> that persons identified are married — it merely cuts down the possibilities for further analysis</li>
    </ul> 
  
    <figure class="site">
      <%= image_tag 'Marriage%20results%20page.png?sha=80c1c0c9f6788201', alt: 'Extract of a Marriage Entry Information page', width: 837, height: 717 %>  
      <figcaption>Figure 2: An extract of a Marriage Entry Information page, showing the information that FreeBMD provides <mark>image needs updating</mark> </figcaption>
    </figure>
    <p> When using these methods for pre-1912 marriages, there is <strong>no</strong> way for you to know from the marriage Index which two people are married. If you have no other information to go on (such as cross-referencing them against a later Census) the only option is to buy marriage certificates from the GRO until you find the right one. However, if you have some other information (which you probably do, otherwise you could not identify the “right” one) [you may be able to make use of the GRO “non-quoted service”]("Ordering Certificates#conditionally") and this will probably save you money.</p>   
   <p> <mark> This section may need updating in that test3 tries to match spouses </mark> </p>
    <p class="islet islet--light">Note: sometimes a GRO Index page may be only partially completed, so there will be fewer than four or eight (depending on the year) entries. The number of entries should, of course, always be an even number.</p> 
    <p class="islet islet--neutral">Our sister site <a href="https://www.freecen.org.uk/" target="_blank">FreeCEN (page opens in new window)</a> offers you free access to Census records; and if the marriage took place in a parish-church you might find it on our sister site <a href="https://www.freereg.org.uk/" target="_blank">FreeREG (page opens in new window)</a>.</p>

    <h2 id="wrongNumber">Wrong number of entries found</h2>
    <p> <mark> This section may need updating in that test3 tries to match spouses </mark> </p> 
    <p> When you do a spouse search you may not get the four, or eight, entries normally expected. An odd number of entries suggests that there are records missing from that Page. There can be a number of reasons for this.</p> 

    <h3 id="fewer">Fewer entries than expected</h3>
    <p class="push-half--bottom">The reasons for seeing fewer entries than expected include:</p>
    <ul>
      <li>FreeBMD is still in the process of transcribing the quarters of the index, so we might not have transcribed that record
        <p class="islet islet--light"> Note: we currently have almost 100% coverage up to 1985 (but this may have a 2% uncertainty) and our records go almost up to 1992. You can check the percentage coverage in each of the quarters by [viewing FreeBMD’s coverage] [link to: FreeBMD Progress]</p>
      </li>
      <li>the GRO may have omitted an entry from their Index</li>
      <li>we may have omitted an entry in the index from our transcriptions</li>
      <li>the original GRO entry may have an error in the district, volume or page number</li>
      <li>there <em>may be</em> an error in the District, Volume or Page number of the spouse’s entry, so they do not <em>match</em> each other</li>
      <li>our transcribers may have been unable to read some of the characters in the District, Volume or Page number for one (or both) of the two partners in this marriage and have used special characters to highlight this <em>problem</em>. You can check the meaning of these characters <a href="#ucf">in Appendix One</a> below.</li>
    </ul>
    <p> Note: further information on how you might try to find a missing entry can be found below in the section: <a href="#findItyourself">finding a missing spouse.</a>  </p>

    <h3 id="more">More entries than expected</h3>
    <p class="push-half--bottom">The reasons for seeing more entries than expected include:</p>
    <ul> 
      <li>two of the entries are different transcriptions of the same entry</li>
      <li>two of the entries are [<em>alternative spellings</em>]( "Searching &amp; associated FAQs#diffpeople") </li>
      <li>there is an error in the district, volume or page number of one (or both) of the entries and that entry “should” be on another page — the district being displayed in [link to "Searching &amp; associated FAQs#suspdist"] [“italic font”] may indicate that FreeBMD’s quality assurance checks have flagged it up as “suspect”.</li>
    </ul>
    <p>To resolve these issues, of either fewer or more entries than expected, you will need to examine each entry in turn and that will be part of the topics covered in the next section.</p>
    <h2 id="findItYourself">Finding a missing spouse yourself</h2>
    <p> <mark> This section may need updating in that test3 tries to match spouses </mark> </p>
  <h3>How?</h3>
    <p>If the cause of the “problem” is due to a mistake in the index, a mis-transcription, or because the page number is not in a recognised format, you <em>may</em> be able to find a spouse by performing a spouse search yourself using the information given in the two-step process below. If you have other information about the entry, such as possible spouse’s First name(s), you can use this to refine the search or to search for the spouse directly.</p>
    <p>If this does not work, it might be that the “problem” is that an entry has been omitted from the GRO index, or from the FreeBMD transcription, and the only way you can make progress with your research will be to use other sources of information, for example census information.</p>
    <p class="islet islet--neutral">If you know that this marriage resulted in a child or children and you have the names of one or more of them, there is a way forward. You can search the index for the child or children. If their birth was registered after the end of the June 1911 quarter, the GRO Indexes will give you the surname of the child’s mother. You could [order a birth certificate for the child from the GRO]("Ordering Certificates"). This will give you the mother’s name, her surname and maiden surname, including any surnames she had before she married the child’s father and the name of the child’s father. Note: copies of <em>historical</em> birth and death records (but not marriages) can be ordered from the GRO in PDF form; they are not officially regarded as “Certificates”, but they are cheaper than ordering Certificates.</p>

    <h3>Step One: check the transcription</h3>
    <p>Your first step is to check our transcription against a copy of the GRO index page. Often, you can view a copy of this page from within the Entry Information page, by selecting the file name. (See Figure 2, above, for an example). If there is more than one scan available, check each in case the entry is clearer in one than another.</p>
    <p>If you are happy with the transcription, you can do a further check by searching for marriage entries with the same quarter, volume and page number as your original entry, but without using any First name(s) or Surnames. This should bring up the entries that you found before, but it might bring up the <em>missing</em> entry for your spouse.</p>
    <p>If you find a mistake or a possible mistake in the transcription you should make a note of it. You should also look for anomalies, for example, a District being in italic font or any of the names or numbers having <em>UCF</em> characters.</p> 
 
    <h3>Step Two: search directly for the other spouse</h3>
    <p>You can try different ways of searching the Indexes to try to compensate for any possible errors. None of these is likely to give you a definitive answer to who the spouse is, but it may limit it to a small number of likely candidates.</p>
    <p class="push-half-bottom">Start another marriage search with the start and end dates set to the value of the original entry (the entry for the spouse you know). Then select values for the District, Volume and Page as follows:</p>
    <ul>
      <li>having viewed the scan of the Index page (see Step One, above), see if you can make a <em>better guess</em> at the Volume and/or Page Number</li>
      <li>try possible alternatives for each field. For example, if the Page Number is shown as 5[38] this means that the page number <em>could be</em> 53 or 58, so you could do searches on <em>both possible</em> page numbers</li>
      <li>if an entry has been partially crossed out (most often the Page number) try using the crossed-out value instead of the amended value</li>
      <li>if the marriage is after 1911, do a search for the surname of the spouse but without the page number and/or without the volume and/or without the district (depending on how many entries there are for the surname). If the spouse you have already found is, for example, on page 21 and you find that there is an entry for page 2_ there is a possibility that your missing spouse will be the entry with that page number</li>
      <li>conversely, if the spouse you have already found is on, for example, page 2_ there is a possibility that your missing spouse will be an entry on any one of the pages numbered 20 to 29. If one (or more) of these pages has five or nine entries (depending on the time period), this might <em>suggest</em> that your missing entry is one of those on <em>the page with a missing entry</em> </li>
      <li>do a search using the District from the original entry (and no Volume or Page number) to give you the possible spouses — check if there are any entries that might match the page number based on <a href="#ucf">special characters</a>, or through a simple error such as a mistyped character or the transposition of two characters</li>
    </ul>
  <hr class="rule rule--ornament" /> 
    <h2 id="improveOurRecords">Help us improve our records</h2>
    <p class="push-half--bottom">If you find the missing entry, we encourage you to help us improve our records:</p>
    <ul>
      <li>if you discover that we have mis-transcribed an entry, please submit a correction</li>
        <li>if you discover that an entry in the GRO Indexes is missing from FreeBMD you can submit a correction to the previous entry on the <strong>same Index Page</strong>, asking for the missing one to be added (see below)</li>
      <li>if the entry has been transcribed correctly you could add a Postem to the entry</li> 
    </ul>
    <p class="islet islet--light">You can do all of these from the Entry Information page. Note: Figure 2 shows the section-name <strong>Corrections</strong>. There, you will find a link for requesting a Correction; and below that is a section-name for <strong>Postems</strong> (not shown in the figure). You will find a link for adding a Postem.</p>
    <p class="islet islet--light"> Having discovered an entry — shown in the GRO Index — is missing from our transcripts, for example, if Joseph Hamer Smith (shown in Figure 2) was missing, then you go to that <strong>Index Page</strong> (Page 103 in Figure 2) by searching for your known entry — the one immediately before the missing entry. In Figure 2, <em>our entry</em> is: Smith, Joseph Denham, Birmingham, 6d, 239; and we use this entry to request that Joseph Hamer Smith is added.</p>
   <p class="islet islet--neutral">Note: Our aim is to accurately transcribe the GRO Index, so we are unable to correct any errors that are present in the GRO’s Index. That is why we suggest the use of a Postem to help other researchers. You can find out more about Postems on our: [Postems page]("Postems").</p>
    <hr class="rule rule--ornament" />
   <p> <mark> Most or all of this section will not appear in the Beta version of this page - PC </mark> </p>
    <h2 id="misMatch">Appendix One: Possible causes for mismatched spouses</h2> 
    <h3 id="ucf">The consequences of having special characters in an entry</h3>
    <p>Where the GRO Index is difficult to read, our transcribers use the following characters which we call <strong>Uncertain Character Format</strong> (UCF) to indicate, “to the best of their abilities”, what they “think” they can see:</p>
    <dl>
      <dt> <strong><code>_</code> (Underscore)</strong> </dt>
      <dd>A single uncertain character. It could be anything but is definitely one character. It can be repeated for each uncertain character. </dd>
      <dt><strong><code>*</code> (Asterisk)</strong> </dt>
      <dd>Several adjacent uncertain characters. A single <code>*</code> is used when there are 1 or more adjacent uncertain characters. It is not used immediately before or after a <strong><code>_</code> </strong>or another <strong><code>*</code> </strong>.
<br />Note: If it is clear there is a space, then <code><strong>*</strong> <strong>*</strong> </code> is used to represent 2 words, neither of which can be read.</dd>
      <dt><strong><code>[<em>abc</em>]</code> </strong> </dt>
      <dd>A single character that could be any one of the contained characters and only those characters. There must be at least two characters between the brackets. <br />For example, <code>[79]</code> would mean either a <code>7</code> or a <code>9</code>, whereas <code>[C_]</code> would mean a <code>C</code> or some other character. </dd>
      <dt><code><strong><em>{min</em>,<em>max</em>}</strong> </code> </dt>
      <dd>Repeat count - the preceding character occurs somewhere between <em>min</em> and <em>max</em> times. <em>max</em> may be omitted, meaning there is no upper limit. So <code>_{1,}</code> would be equivalent to <strong><code>*</code> </strong>, and <code>_{0,1}</code> means that it is unclear if there is any character.</dd>
      <dt><strong><code>?</code> (Question mark)</strong> </dt>
      <dd>Only used where it is unambiguous that there are no characters in the field, e.g. a missing Volume. The question mark must be the only character in the field.
<br />Note: If it is unclear whether the field is empty or not <code>_{0,1}</code> is used.</dd>
    </dl>

    <p>So, if our transcribers had used one or more of these symbols in the entry for our <em>missing</em> spouse, say, in the <strong>Page</strong>number or the <strong>Volume</strong> number, then this entry will not be “matched” to the spouse that we have already found.</p>

    <h3>The consequences of a miscopied District, Volume or Page number</h3>
    <p class="islet islet--light">You can discover more about these concepts [on our Districts, Volumes and Page numbers page] ( "Districts, Volumes and Page numbers").</p>
    <p class="push-half--bottom">FreeBMD updates its main databases on an approximately 28-day cycle. During the update all the entries that have been transcribed since the last update are incorporated into the database and made available for you to search. As part of this update-cycle, all the entries are subjected to quality assurance checks and “possible error flagging”. These include:</p>
    <ul>
      <li> checking that the District name and the Volume number are consistent with each other and are valid for the time-frame of that record </li>
      <li> checking that the Page number is within the range of “expected” Page numbers for that event (birth, marriage or death), District, Volume and quarter</li>
      <li>indicating whether that record has been “double-keyed”</li>
      <li> indicating whether there are a “suspect” Districts, Volumes or Page “flags” for that particular record.</li>
    </ul>

    <p>So, if for example, one spouse had the District entered as <strong>Aston</strong> and the other spouse as <strong>Ashton</strong>, or <strong>Chorlton</strong> and <strong>Chorley</strong>, (they were all valid District names at various times), the two spouses would not be “matched” in a search and one spouse <em>may be</em> absent from the Page that the other one is listed on. However, if all the other values (quarter, year, Volume and Page) were the same for both spouses, FreeBMD’s quality assurance checks would have likely “flagged up” possible errors in the District-Volume-Page relationships.</p>
  </div>
</div>