<h1>More about names</h1>

<div class="grid">
  <div class="grid__item three-fifths lap-three-quarters palm-one-whole">
    <h2>First names and initials</h2>
    <p>First name is another term for forename or given name. Some people were given only one first name, such as <strong>George</strong> Smith (the son of Mr and Mrs Smith); others were given two or three, such as <strong>Elizabeth Ann</strong> Smith and <strong>Albert George Frederick</strong> Smith; and a few were registered with even more first names. Sometimes for convenience, where there a person has two or more first names, FreeBMD may refer to the first first name as the first name and any subsequent first names as middle names; they are, however, all first names or given names.</p>
    <p>By default, and in contrast to the other names, first names are matched to names that <em>begin</em> with the characters given (unless “Exact match on first names” is checked).</p>
    <p>Once again, beware of names that are wrongly spelt, particularly unusual names or names not spelt with the conventional spelling.</p>

    <h3>Middle names and initials</h3>
    <p>Where the person you are looking for has middle names, this can be a great help in narrowing down the search, but remember that the middle names might have been left out of the index, or shortened to initials.</p>
    <p>If the person you are searching for was called David William Robert (for example), his name might appear as ‘David W R’ or perhaps ‘David W’. Searching for ‘David W’ is probably your best starting point.</p>
    <p class="island island--bordered"><strong>Note:</strong> do not use full stops (periods in US English) after initials. FreeBMD changes ‘David W.’ to ‘David W’, so a search will not find anyone named ‘David W.’ or similar.</p>

    <h3>Exact match on first names</h3>
    <p>If this box is checked the search for the First Name is done on the letters as typed. Otherwise, the search is done as if you typed a * (an asterisk or ‘star’) after the characters.</p>
  </div>
</div>