<h1>Acquiring Data from the LDS</h1>



   <title>FreeREG - Acquiring Data from the LDS.</title>


<p>
<a name="top"></a>
</p>


<p>
If you expect to be a regular requester for LDS data, ask the  <a href="mailto:reg-manager@freereg.org.uk">
Project Coordinators </a> to nominate you to the LDS as a FreeREG coordinator for your county. 

Alternatively, if you anticipate few requests, the Project Coordinators can make the request for you, if you give them the 
information on the films you require and the authorization from the record owner; see below for more detail on this last point.

</p>
<p>The loan process involves completing and then submitting an application form to the LDS; 
see <a href="gsuform.doc">the August 2006 version of this form.</a> The following
 <a href="sample.doc"> sample</a> shows how the form should be completed. If you have been named as a FreeREG County Coordinator
then the "organization" is FreeREG-XXX (where XXX is the County) and you are the contact person and your title is FreeREG-XXX Indexing Coordinator 
and you use your email address and sign the form. The material can be shipped to you or to the person who is going to index the material.
The choice is yours but it might be best to start by having materials shipped to you as you are accountable for the copy.

</p>
<p>The key requirement for submitting the form, other than knowing what film number to order (which 
can be obtained by searching through the 
<a href="http://www.familysearch.org/Eng/Library/FHLC/frameset_fhlc.asp">LDS film catalog</a>), is 
<strong>obtaining the approval of the original copyright holder</strong>. The LDS usually obtained its data by
copying materials that were held or owned by other people or organizations. For the LDS to release a copy of that material
 to you, <strong>you must have the agreement of the original provider of the data</strong>.
In most, but not all, cases it was the County Record Office where the LDS made their copies. 
So it is the County Record Office who must give you approval.
 In some cases, however, the LDS approached other organizations to make their copies. In those cases
 you must approach that organization or person to obtain approval.
How do you know who to approach? Its all contained in the
 <a href="http://www.familysearch.org/Eng/Library/FHLC/frameset_fhlc.asp">LDS film catalog</a> for the specific film 
you wish to borrow.</p>
<p>
In some cases the LDS can provide a copy of the film in digital form, usually on a DVD. This is only possible where
 the LDS has an agreement with the copyright holder that permits the LDS to create digital copies. It is suggested that
 you determine if there is an agreement between the LDS and your County Record Office for digital copies prior to asking
 for digital data; as this will determine the type of approval that you wish to request from the Record Office. 
</p>
<ul>
<li><a href="roauthority.htm">Obtaining approval from a County Record Office </a> for the use of a copy of their films.
</li>
</ul>
<hr />
