<h1>Obtaining the Approval of The County Record Office</h1>



   <title>FreeREG - Obtaining the Approval of The County Records Office.</title>


<p>
<a name="top"></a>
</p>
<hr />
<table cellpadding="5">
  <tbody><tr><td> <img src="../../graphics/logfreg1.jpg" alt="FreeREG logo" height="50" width="227" /></td>
	<td style="color:#008000; font-size: 2em"> <strong>Obtaining the Approval of The County Record Office</strong> </td> </tr>
</tbody>
</table> 

<hr />
<p>
The following applies primarily to the England. It is important for the County Coordinator to develop, where possible, a good working relationship with their County Record
 Office or Archive Centre. The name will vary from County-to-County. If you do not know the name and location of your Records Office
 then the following page may well provide you with <a href="http://www.oz.net/~markhow/englishros.htm">Record Office Names and Links.</a>
Failing all else just do a Google search for the X Records Office (Where X is the County Name).</p>
<p>

If you live in the area of the Records Office, make an appointment to see the County Archivist of head of the Records Office and tell him/her
 about the FreeREG project and seek their cooperation. If, like me, you live far away then a letter or telphone call will have to surffice. 
Remember, if you are talking to them be sure to stress the nature of FreeREG. We are NOT publishing any materials, transcripts, indexes or registers. 
We ARE creating a searchable index of the names of people who are entered into baptism, marriage and death registers as a research tool to assist people
locate where they should undertake more detailed investigations.</p>
<p>

The one area where their explicit approval is required, is on obtaining access to copies of the materials held by the Church of Jesus Christ of Latter Day Saints.
</p>
<p>
Such an approval has already been given to FreeREG by some County Record Offices. 
Be sure to seek the advise of the <a href="mailto:reg-england@freereg.org.uk?Subject=Letter to RO">Country Coordinator</a> prior to making your approach, they can provide you with advise and a copy of the latest letter that could be used and also let them know how you make out with this approach as your experience will enable us to improve our advise.
</p>
<p>
Examples of the type of approvals we have received are available below.
</p>
<ul>
<li><a href="worcestershirepermit.jpg">Worcestershire</a>
</li>
<li><a href="norfolkpermit.jpg">Norfolk</a>
</li>
</ul> 
  <hr />
<table width="100%">
  <tbody><tr>
    <td>
    
      FreeREG is kindly hosted by <a href="http://www.thebunker.net">The Bunker</a> and supported by 
	<a href="http://www.rootsweb.com">Roots Web</a>, <a href="http://www.ancestry.co.uk">
	www.Ancestry.co.uk</a>,<a href="http://www.british-genealogy.com">
	www.british-genealogy.com</a> and <a href="http://www.parishchest.com/">
	Parish Chest</a>
    </td>
</tr>
  <tr>
          <td>
             <a href="http://www.thebunker.net">
           <img src="../../graphics/bunker.gif" alt="Hosted by The Bunker" height="37" width="85" /></a>
          
	<a href="http://service.bfast.com/bfast/click?bfmid=5647408&amp;siteid=39101601&amp;bfpage=rootsweb_image2"><img src="http://images.rootsweb.com/hd/smbutton1.gif" alt="RootsWeb, the oldest and largest FREE genealogy site" height="72" width="59" /></a>
<a href="http://www.kqzyfj.com/click-1745241-10391801" target="_blank" onmouseover="window.status='http://www.ancestry.co.uk';return true;" onmouseout="window.status=' ';return true;">
<img class="mozcxlkakznjaecojbyv" src="http://www.awltovhc.com/image-1745241-10391801" alt="ancestry.co.uk logo 120x60" height="60" width="120" /></a>
</td>
       </tr>
     </tbody>
</table>
<hr />
<small>© 1998-2008 The website, its layout, search engine, and database are copyright by the Trustees of FreeBMD, a charity registered in England and Wales, Number 1096940.
<br />We make no warranty whatsoever as to the accuracy or completeness of the FreeREG data. Use of the FreeREG website is conditional upon acceptance of the <a href="../../terms.shtml">Terms and Conditions</a>
 </small>
<br />
<small>Last update. 6 September 2008/ RN/MS/DN/DKD</small>
