<h1>Obtaining the Approval of The County Record Office</h1>

<style scoped="scoped">
    section { margin-bottom: 1rem; } 
    h2.title--medium {
        font-size: 2.2rem;
        font-weight: lighter;
        line-height: 1.2;
    }
    .btnPress { font-weight: bold; color: #895f49; } /* brown--brighter */
</style>

<article id="top" class="grid">
    <aside class="grid__item one-third palm-one-whole float--right">
        <div class="islet islet--bordered">
            <h2 class="title-block">Obtaining the Approval of The County Record Office</h2>
            <ul class="sub-nav">
                <li><a href="#Record Offices">Record Offices</a> </li>
            </ul>
        </div>


        <div id="Record Offices" class="islet islet--light">
            <h4>Record Offices</h4>
            <p>The following applies primarily to England.&#160;</p>
<p>It is important for the County Coordinator to develop, where possible, a good working relationship with their County Record Office or Archive Centre. The name will vary from County-to-County. If you do not know the name and location of your Records Office then please ask Denise Colbert, who maintains a listing<a href="http://www.oz.net/~markhow/englishros.htm">.</a>&#160;Try to identify the County Archivist or head of the Records Office by name. Failing all else just do a Google search for the X Records Office (Where X is the County Name).</p>
<p>

If you live in the area of the Records Office, make an appointment to see the County Archivist of head of the Records Office and tell him/her about the FreeREG project and seek their cooperation. If, like me, you live far away then an email or telephone call will have to surffice. 
Remember, if you are talking to them be sure to stress the nature of FreeREG. We are NOT publishing any materials, transcripts, indexes or registers. 
We ARE creating a searchable index of the names of people who are entered into baptism, marriage and death registers as a research tool to assist people locate where they should undertake more detailed investigations.&#160;</p>
<p>

The one area where their explicit approval is required, and will not involve their staff with any work, is on obtaining access to copies of the materials held by the Church of Jesus Christ of Latter Day Saints. Such an approval has already been given to FreeREG by some County Record Offices. 
Be sure to seek the advise of the <a href="mailto:reg-england@freereg.org.uk?Subject=Letter to RO">Country Coordinator</a> prior to making your approach, they can provide you with advise and a copy of the latest letter that could be used and also let them know how you make out with this approach as your experience will enable us to improve our advise.&#160;</p>
<p>Examples of the type of approvals we have received are available below.</p>
<ul>
<li><a href="worcestershirepermit.jpg">Worcestershire</a>
</li>
<li><a href="norfolkpermit.jpg">Norfolk</a>
</li>
</ul> 
  <hr />
  
</div>
</aside>
</article>


