<h1>About</h1>

<div class="grid">
  <div class="grid__item three-fifths lap-one-half palm-one-whole">
    <p class="lead">This project aims to provide a free-to-view, online, searchable database of UK census returns.</p> 
    <p>The UK is defined as England, Scotland, Ireland and Wales together with the Crown Dependencies of the Channel Islands and the Isle of Man, and including the Orkney and Hebrides Islands, provided that each was the responsibility of the Crown at the time that the census was taken.</p>
    <p>The FreeCEN project began in July 1999, with a pilot transcription for Devon, coordinated by Brian Randell. Since then, the project has moved on, outgrowing its original database and website: we are now based on this site and have plans to improve the database and the ways you can search it.</p>
  </div>

  <div class="grid__item one-third lap-one-half palm-one-whole float--right">
    <div class="islet islet--bordered">
      <nav aria-labelledby="thisPage">
        <h2 class="title-block" id="thisPage">On this page</h2>
        <ul class="sub-nav">
          <li><a href="#whyChange">Why is FreeCEN changing?</a> </li>
          <li><a href="#membership">Membership</a> </li>
          <li><a href="#search">Search</a> </li>
          <li><a href="#browse">Browsing</a> </li>
          <li><a href="#cite">Citing the FreeCEN database</a> </li>
          <li><a href="#accessibility">Accessibility</a> </li>
        </ul>
      </nav>
    </div>
    <div class="islet islet--bordered">
      <h2 class="title-block" id="seeAlso">See also</h2>
      <ul class="sub-nav">
        <li><a href="/about/freecen-newsletters">FreeCEN Newsletters</a> </li>
      </ul>
    </div>
  </div>

  <div class="grid__item three-fifths lap-four-fifths palm-one-whole">

    <h2 id="whyChange">Why is FreeCEN changing?</h2>
    <p>Firstly, a growing number of our users are accessing the web through phones and tablets, rather than laptops and larger computers — they expect an interface that looks good and works well on a small screen.  We think we are almost there on this.</p>
    <p>Secondly, we want to make the website more accessible. This work is just beginning.</p>
    <p class="push-half--bottom">Thirdly, we want to tackle some issues in searching including:</p>
    <ul>
      <li class="push-half--bottom"><strong>Place:</strong> the boundaries used by the census are not easy to visualise, often cross historic boundaries (e.g. including parts of two counties) and change name and shape — so even if you know the village or part of a town your ancestor might have lived in, choosing which census district to filter by is not easy, particularly if you are not familiar with the geography of the 19th century.</li>
      <li class="push-half--bottom">We transcribe faithfully the names people used to record their <strong>place of birth</strong>. This could also make searching difficult — the person supplying the information might have known that their home village was in one county when they were born, and another at the time of the census, and chosen either. So we are looking into more choice for how you search, including a map-based search.</li>  
      <li><strong>Too much choice:</strong> it can be difficult to know which of the many fields you should fill in, in order to be able to identify the person you are seeking, but not rule them out due to something not being recorded quite as you might have expected (we are looking into Artificial Intelligence to solve this one for you).</li>
    </ul>
    <p>We also want to <strong>improve the quality of the data</strong> we transcribe — in the past, we have had to use abbreviations and compress two fields into one, in order to keep within the database restrictions of 20 years ago. We are moving towards a more flexible system which will allow transcribers to record each piece of information in an appropriate field.</p>

    <h2 id="membership">Membership</h2>
    <p>You do not need to be a Member to search our database. However, to make FreeCEN an effective tool we are in urgent need of volunteers willing to undertake the transcription of census pieces or make available transcriptions that they have already completed.</p>
    <p class="island island--light">Want to know more about transcribing? Interested in being a technical volunteer? Then visit our <a href="/userid_details/transcriber_registration">Volunteer</a> page.</p>

    <h2 id="search">Search</h2>
    <p>We provide an internet-based search for census entries for a named person.</p>

    <h2 id="browse">Browsing</h2>
    <p>For copyright reasons, we cannot allow you to browse all the transcriptions from a census piece. You can ask us specific questions through the Contact form. For other use of such complete transcriptions, where these exist, you should contact either the appropriate local County Record Offices or the relevant Family History Society.</p>

    <h2 id="cite">Citing the FreeCEN database</h2>
    <p>As all the Free UK Genealogy databases are transcriptions, it is always preferable to see the original, or a surrogate (such as microfiche, film, photograph or digitized image).</p>
    <p>If the surrogate is available on a Free UK Genealogy website, then it is the <em>image</em> that should be referenced, rather than the database.</p>
    <p>It is best practice not to rely on the Free UK Genealogy indexes, but to examine the original, and reference that, but distances and costs may make verification in this way difficult or impossible. If writing for a non-specialist or international audience, it may be helpful to also direct readers to the relevant Free UK Genealogy website, even if the original record or a surrogate has been studied, since they may not be in a position to travel or otherwise pay for access to a surrogate.</p>

    <h3>Citation buttons on FreeCEN</h3>
    <p>Our projects now include buttons which auto-generate a citation in one of a number of popular formats for academics and family historians. If you spot an error in our format, or would like an additional format, please let us know.</p>

    <p>If you want to cite a record which you have reached using the ‘next dwelling’ or ‘previous dwelling’ button, please be aware that the citation generator will give you a citation to the record which was found by the search, even if you move off to another dwelling’s record. You will need to do another search for the particular dwelling you want to cite.</p>
    <p>If you find, and wish to cite, a record relating to a particular individual, that you found by looking for someone else, such as a parent or child, you will have to do another search for the particular individual, otherwise you will get the wrong name in the citation, and perhaps the wrong relationship to the head of household. Alternatively, you can  amend the citation in your use of it to correct it: for example, change Charles Whitlow in the household of John Whitlow to Carlotta Whitlow.</p>

    <h3>Academic purposes (e.g. publication, student essay or thesis)</h3>
    <p>Academic references need to be formatted using the rules of the publication or institution — common ones are MLA (Modern Language Association of America), Chicago and Harvard, or variants based on those. Citing an entry in a Free UK Genealogy database is complicated, because the thing being cited is not an ‘article’, a ‘page’ an ‘image’ or any of the other frequently provided examples for academic referencing.  As MLA says: <q>When citing sources from a database, the type of resource (newspaper, magazine, journal, etc.) will determine the citation format, not the database itself.</q> </p>
    <p class="push-half--bottom">For citations of the whole database (e.g. in a comparison of tools used by genealogists) or specific pages (such as the ‘About’ page) use the following formats:</p>
    <dl>
      <dt><strong>MLA</strong>
</dt> 
      <dd class="islet islet--bordered push-half--left">FreeCEN. Free UK Genealogy, nd. Web. [Date of access]. </dd>
      <dd class="push-half--left push--bottom">Note: MLA no longer requires the use of URLs. For instructors or editors who still wish to require the use of URLs, MLA suggests that the URL appear in angle brackets after the date of access. Break URLs only after slashes.</dd>

      <dt><strong>Chicago</strong>
</dt>
      <dd class="islet islet--bordered push-half--left">Free UK Genealogy. “FreeCEN.” Last modified [date of search]. Accessed [date of search]. https://www.freecen.org.uk</dd>

      <dt><strong>Harvard</strong>
</dt>
      <dd class="islet islet--bordered push-half--left">Free UK Genealogy (n.d.) FreeCEN [Online] Available from: https://www.freecen.org.uk. [Accessed: date of access] </dd>
      <dd class="push-half--left">Note: different style guides may place full stops differently.</dd>
    </dl>
    

    <p>For citations of a transcription or index (where you have not read the original source) you must reference the source you have actually viewed and the original.  If you have found (and seen) the original by a search of a Free UK Genealogy database, give the reference to the original without mentioning the database.  If you do wish to mention the database for some reason, reference this separately, as above. This is the practice followed in all cases where you are citing an original that you have only seen in a secondary publication of some kind.</p>
    <p>At the moment, it is not possible to give the digital equivalent of the page number that you would give for a book: the nearest thing we have is permanent urls (PURLS).  Free UK Genealogy websites now all have quasi-permanent URLS (quasi because if we change the transcription for some reason, a different URL is generated).</p>

    <h3>Family History and Citations</h3>
    <p>Citations for genealogy are not quite like academic citations.  If you want to get to know more about the theory behind family history citations, you could have a look at the <a href="https://fhiso.org/TR/cev-concepts" target="_blank">Family History Information Standards Organisation’s third draft on citation elements (opens in new tab)</a>.</p>
  </div>
</div>

<div class="grid">
  <div class="grid__item three-fifths lap-one-half palm-one-whole">
    <p>Another resource is Elizabeth Shown Mills’ <a href="http://www.worldcat.org/oclc/1054383552" target="_blank"> Evidence explained : citing history sources from artifacts to cyberspace (opens in new tab)</a>, which <q>is built on one core principle: We cannot judge the reliability of any information unless we know exactly where the information came from; and the strengths and weaknesses of that source.</q> An Evidence Explained citation thus combines both the academic reference (knowing exactly where the information came from), and additional information which in academic writing, the reader is expected to know for themselves, or the author will present in their text, or the reader will need to research for themselves (the strengths and weaknesses of that source) in order that the reader can make critical judgements about the author’s arguments.</p>

    <hr class="rule rule--ornament" />

    <h2 id="accessibility">Accessibility</h2>
    <p>You will notice some changes to the site as we seek to improve access to FreeCEN, especially for mobile phone users and for visitors with a range of disabilities. For more details see our <a href="/about/accessibility-statement">Accessibility statement</a>.</p>
  </div>
  <aside aria-label="Related projects" class="grid__item one-third lap-one-half palm-one-whole float--right">
    <div class="island island--bordered">
      <p>FreeCEN is a part of the 
<a href="https://www.freeukgenealogy.org.uk/">Free UK Genealogy Charity CIO</a> and a companion to <a href="https://www.freebmd.org.uk/">FreeBMD</a> — a database of the General Register Office (G.R.O.) birth, marriage and death indexes from 1837 — and <a href="https://www.freereg.org.uk/">FreeREG</a> — a database of baptism, marriage and burial entries in church registers (some from 1538) and other relevant sources.</p>
    </div>
  </aside>
</div>

