<h1>County Status Page [DRAFT]</h1>

<div class="island island--light" style="width:35em;">
  Questions:
  <ol>
    <li>Who is this for? All users or … ?</li>
    <li>Who will be keeping this up to date? Ideally, it would become an app page, if possible, that is updated automatically. It could be a be part of the <q>Transcriptions</q> information.</li>
    <li>Do we really want to put email addresses in plain sight?</li>
    <li>Can we use a shorter word than <q>Completed</q>? What about <q>Done</q>?</li>
    <li>For counties with no status page, should we link to <q>Transcriptions</q>?</li>
    <li>For counties with a status page, and if this is going to be a public page, the link text should be unique: suggest "[CHP] status" or … ??</li>
    <li>For Wales, should we combine the information in the <q>Coordinator</q> and <q>County Link</q> columns into a single opening paragraph? (The information is the same for each county.)</li>
    <li>Similarly, for Scotland, suggest that info be restructured into a paragraph or two — a table seems superfluous.</li>
    <li>Can we put the county names in title case? E.g. <q>Bedfordshire</q> rather than BEDFORDSHIRE? If they need emphasis, then bold is better. If this will be a public page, some people find all upper-case difficult or tiring/off-putting to read.</li>
    <li>Should page title be <q>Active &amp; completed county projects</q> ?</li>
  </ol>
  <p>Issues:</p>
  <ul>
    <li>Due to issues with RootsWeb, many county sites will be well out of date. Suggest we replace with app pages that provides similar info — not easy as files incorporated into database are anonymous AFAIK (no credit info) and how would we note transcription stage (allocated, transcribed, proofread, validated, online)? Would that have to wait for online transcribing to be implemented?</li>
    <li>Needs some explanation: intro? footnotes? LDS + key to status?</li>
    <li>If public, each table would need a caption element.</li>
  </ul>
</div>

<h2>England &amp; Channel Islands</h2>

<table>
  <caption>England counties, plus the Channel Islands, each by census year, and with the County Coordinator's email (if still active) and website (if they have one). A <q>Yes</q> in a year column means transcription is underway for that year. <q>LDS</q> stands for the Church of Latter Day Saints: they have transcribed the 1881 census which is available at [insert link].</caption>
  <thead>
    <tr>
      <th rowspan="2">County</th>
      <th colspan="6">Census Year</th>
      <th rowspan="2">Coordinator</th>
      <th rowspan="2">County Link</th>
    </tr>
    <tr>
      <th>1841</th>
      <th>1851</th>
      <th>1861</th>
      <th>1871</th>
      <th>1881</th>
      <th>1891</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>BEDFORDSHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>-</td>
      <td>LDS</td>
      <td>Completed</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>BERKSHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>BUCKINGHAMSHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
<td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>CAMBRIDGESHIRE</td>
      <td>-    </td>
      <td>-</td>
      <td>Yes</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td><a href="mailto:bev.howlett56@gmail.com">Bev Howlett</a> </td>
      <td>No Status Page</td>
    </tr>
    <tr>
      <td>CHANNEL ISLANDS</td>
      <td>-    </td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>CHESHIRE</td>
      <td>Yes</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>CORNWALL</td>
      <td>Completed</td>
      <td>Completed</td>
      <td>Completed</td>
      <td>Completed</td>
      <td>Completed</td>
      <td>Completed</td>
      <td>Lesley Dawson</td>
      <td>Retired</td>
    </tr>
    <tr>
      <td>CUMBERLAND</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>-</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:carol.barber@blueyonder.co.uk">Carol Barber</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~durhamcensus/index.html">Status Page</a> </td>
    </tr>
    <tr>
      <td>DERBYSHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>-</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>DEVON</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Completed</td>
      <td>Completed</td>
      <td>Yes</td>
      <td>Completed</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>DORSET</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:carol.barber@blueyonder.co.uk">Carol Barber</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~durhamcensus/index.html"></a>Status Page </td>
    </tr>
    <tr>
      <td>DURHAM</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:carol.barber@blueyonder.co.uk">Carol Barber</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~durhamcensus/index.html">Status Page</a> </td>
    </tr>
    <tr>
      <td>ENG/WALES SHIPPING</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>-</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>ESSEX</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>GLOUCESTERSHIRE<br /> 1841 &amp; 1851</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>-</td>
      <td>-</td>
      <td>LDS</td>
      <td>-</td>
      <td><a href="mailto:cmahoney@orcon.net.nz">Chris Mahoney</a> </td>
      <td><a href="http://www.chrismahoney.co.nz/FreeCen/">Status Page</a> </td>
    </tr>
    <tr>
      <td>GLOUCESTERSHIRE<br />1861, 1871 &amp; 1891</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>HAMPSHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:dav.syb@talktalk.net">David Philpot</a> </td>
      <td>No Status Page</td>
    </tr>
    <tr>
      <td>HEREFORDSHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>Completed</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://homepages.rootsweb.com/~slkarner/FreeCen/">Status Page</a> </td>
    </tr>
    <tr>
      <td>HERTFORDSHIRE</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>HUNTINGDONSHIRE</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Completed</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>ISLE OF MAN</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>-</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>KENT</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:houseathome@optusnet.com.au">Rebekah House</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>LANCASHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>-</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:nesouthern@hotmail.com">Neil Southern</a> </td>
      <td><a href="http://www.rootsweb.ancestry.com/~englanfc/">Status Page</a> </td>
    </tr>
    <tr>
      <td>LEICESTERSHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:john.toplis1@btinternet.com">John Toplis</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>LINCOLNSHIRE</td>
      <td>Yes</td>
      <td>-</td>
      <td>Completed</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Completed</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>LONDON</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>MIDDLESEX</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>-</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:cameronid@tiscali.co.uk">Ian Cameron</a> </td>
      <td><a href="http://staffs41.tripod.com/middlesex1861/">Status Page</a> </td>
    </tr>
    <tr>
      <td>NORFOLK</td>
      <td>-</td>
      <td>-</td>
      <td>Completed</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Completed</td>
      <td><a href="mailto:bev.howlett56@gmail.com">Bev Howlett</a> </td>
      <td>No Status Page</td>
    </tr>
    <tr>
      <td>NORTHUMBERLAND</td>
      <td>-</td>
      <td>-</td>
      <td>Completed</td>
      <td>-</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:carol.barber@blueyonder.co.uk">Carol Barber</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~durhamcensus/index.html">Status Page</a> </td>
    </tr>
    <tr>
      <td>NORTHAMPTONSHIRE</td>
      <td>Yes</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>NOTTINGHAMSHIRE</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Completed</td>
      <td>Yes</td>
      <td>Completed</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>OXFORDSHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Completed</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>RUTLAND</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Completed</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td><a href="mailto:john.toplis1@btinternet.com">John Toplis</a> </td>
      <td><a href="http://www.mborrill.org.uk/Rutland">Status Page</a> </td>
    </tr>
    <tr>
      <td>SHROPSHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>SOMERSET</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Completed</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:g.f.jarvis@bigpond.com">Geoff Jarvis</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~somtcen/">Status Page</a> </td>
    </tr>
    <tr>
      <td>STAFFORDSHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:cameronid@tiscali.co.uk">Ian Cameron</a> </td>
      <td><a href="http://www.rootsweb.ancestry.com/~engfc/index.html">Status Page</a> </td>
    </tr>
    <tr>
      <td>SUFFOLK</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bev.howlett56@gmail.com">Bev Howlett</a> </td>
      <td>No Status Page</td>
    </tr>
    <tr>
      <td>SURREY</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bev.howlett56@gmail.com">Bev Howlett</a> </td>
      <td>No Status Page</td>
    </tr>
    <tr>
      <td>SUSSEX</td>
      <td>-</td>
      <td>Completed</td>
      <td>Completed</td>
      <td>Completed</td>
      <td>LDS</td>
      <td>Completed</td>
      <td>Simon Brickell</td>
      <td>No Status Page</td>
    </tr>
    <tr>
      <td>WARWICKSHIRE</td>
      <td>Completed</td>
      <td>-</td>
      <td>Yes</td>
      <td>-</td>
      <td>Yes</td>
      <td>Completed</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>WESTMORLAND</td>
      <td>-</td>
      <td>-</td>
      <td>Completed</td>
      <td>-</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:carol.barber@blueyonder.co.uk">Carol Barber</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~durhamcensus/index.html">Status Page</a> </td>
    </tr>
    <tr>
      <td>WILTSHIRE</td>
      <td>Completed</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>WORCESTERSHIRE</td>
      <td>Yes</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm">Status Page</a> </td>
    </tr>
    <tr>
      <td>YORKSHIRE<br /> as three Ridings</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><span style="color: #0000ff;"><a href="mailto:carol.barber@blueyonder.co.uk">Carol Barber</a> </span>
</td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~durhamcensus/index.html">Status Page</a> </td>
    </tr>
  </tbody>
</table>



<h2>SCOTLAND</h2>
<table>
  <thead>
    <tr>
      <th>County</th>
      <th>1841</th>
      <th>1851</th>
      <th>1861</th>
      <th>1871</th>
      <th>1881</th>
      <th>1891</th>
      <th>Coordinator</th>
      <th>County Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>(All)</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Caithness only</td>
      <td>Caithness Only</td>
      <td>Awaiting Further Data</td>
      <td><a href="http://www.rootsweb.ancestry.com/~sctfc/">All Scottish Counties Status Pages</a> </td>
    </tr>
  </tbody>
</table>

<h2>WALES BY CENSUS YEAR &amp; COUNTY</h2>

<table>
  <thead>
    <tr>
      <th rowspan="2">County</th>
      <th colspan="6">Census Year</th>
      <th rowspan="2">Coordinator</th>
      <th rowspan="2">County Link</th>
    </tr>
      <tr><th>1841</th>
      <th>1851</th>
      <th>1861</th>
      <th>1871</th>
      <th>1881</th>
      <th>1891</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ANGLESEY</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/Cymru__Wales.htm">Wales Status Pages</a> </td>
    </tr>
    <tr>
      <td>BRECONSHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/Cymru__Wales.htm">Wales Status Pages</a> </td>
    </tr>
    <tr>
      <td>CAERNARVONSHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/Cymru__Wales.htm">Wales Status Pages</a> </td>
    </tr>
    <tr>
      <td>CARDIGANSHIRE</td>
      <td>-</td>
      <td></td>
      <td>Yes</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/Cymru__Wales.htm">Wales Status Pages</a> </td>
    </tr>
    <tr>
      <td>CARMARTHENSHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/Cymru__Wales.htm">Wales Status Pages</a> </td>
    </tr>
    <tr>
      <td>DENBIGHSHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Completed</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/Cymru__Wales.htm">Wales Status Pages</a> </td>
    </tr>
    <tr>
      <td>FLINTSHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Completed</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/Cymru__Wales.htm">Wales Status Pages</a> </td>
    </tr>
    <tr>
      <td>GLAMORGANSHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/Cymru__Wales.htm">Wales Status Pages</a> </td>
    </tr>
    <tr>
      <td>MERIONETHSHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>-</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/Cymru__Wales.htm">Wales Status Pages</a> </td>
    </tr>
    <tr>
      <td>MONMOUTHSHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>-</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/Cymru__Wales.htm">Wales Status Pages</a> </td>
    </tr>
    <tr>
      <td>MONTGOMERYSHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>-</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/Cymru__Wales.htm">Wales Status Pages</a> </td>
    </tr>
    <tr>
      <td>PEMBROKESHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/Cymru__Wales.htm">Wales Status Pages</a> </td>
    </tr>
    <tr>
      <td>RADNORSHIRE</td>
      <td>-</td>
      <td>-</td>
      <td>Yes</td>
      <td>-</td>
      <td>LDS</td>
      <td>Yes</td>
      <td><a href="mailto:bowbren@ntlworld.com">Brenda Bowers</a> </td>
      <td><a href="http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/Cymru__Wales.htm">Wales Status Pages</a> </td>
    </tr>
  </tbody>
</table>
