<h1>Donate</h1>

<div class="grid">
    <div class="grid__item one-half lap-two-thirds palm-one-whole">
      <div class="grid">
        <div class="grid__item">
        <p>FreeCen is exactly that — free. We do not make any charge whatsoever for use of the site. </p>
        <p>FreeCen is part of <a class="go" href="https://www.freeukgenealogy.org.uk" title="freeukgenealogy.org.uk">Free UK Genealogy</a> which is a registered charity whose sole purpose is to provide free access to family history. Together we have been working with volunteers across the world to create databases of births, marriages and deaths, historical records from churches and nineteenth century censuses. </p>
        <p>We believe that you shouldn't have to pay to get access to your family history and providing free access is the best way to preserve this rich source of information for future generations. So donations also help to support our other projects — <a class="go" href="https://www.freebmd.org.uk" title="freebmd.org.uk">FreeBMD</a> and <a class="go" href="https://www.freecen.org.uk" title="freecen.org.uk">FreeCen</a>. </p>
        <p>We hope to keep adding to the different projects and we need your help to do it. So far our volunteers have transcribed some —</p>
        <ul>
            <li>35 million records from church registers and other sources</li>
            <li>250 million civil births, marriages and deaths index entries </li>
            <li>30 million census records from 1841 to 1891</li>
        </ul>
        <p>Free UK Genealogy is one of the largest public transcription projects in the world, with some 200,000 successful searches made every day. As a consequence, we have significant running costs. We use donations to keep our servers running, to support volunteers and to identify new areas of family history that we can provide you with access to.</p>
        <p>We need donations in order to make sure that we can satisfy the amazing amount of interest in family history and most importantly, keep it free for you to access.</p>
        <p>Please help us to keep history free.</p>
      </div>
      </div>
    </div>
    <div class="grid__item one-whole desk-one-half">
      <div class="grid">
        <div class="grid__item" style="position: fixed;" id="theFixed">
        <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <ins class="adsbygoogle" style="display:inline-block;width:336px;height:280px" data-ad-client="ca-pub-7825403497160061" data-ad-slot="3235467631"></ins>
        <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        </div>
      </div>
    </div>
</div>

<label for="giftaid">
  <input id="giftaid" name="giftaid" value="giftaid" onchange="ppbid=document.getElementById('hosted_button_id');giftaid=document.getElementById('giftaid');if(ppbid&amp;&amp;giftaid){if(giftaid.checked)ppbid.value='3G5KCDKMHLJ9J';else ppbid.value='FXE626FBWM8CY';}" type="checkbox" /> Tick this box if eligible for Gift Aid <span class="weight--normal">(UK residents only)</span>
</label>
<form class="push--bottom" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input name="cmd" value="_s-xclick" type="hidden" />
<input id="hosted_button_id" name="hosted_button_id" value="FXE626FBWM8CY" type="hidden" />
<input src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal – The safer, easier way to pay online." type="image" />
</form>
<script>
   var mobile = (/iphone|ipod|android|blackberry|mini|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));  
    if (mobile) { 
        $('#theFixed').hide();
    } 
    else 
    { 
    
        var offsetPixels = 350; 

	$(window).scroll(function() {
		if ($(window).scrollTop() > offsetPixels && $(window).scrollTop() < 1000) {
			$( "#theFixed" ).css({
				"position": "fixed",
				"top": "15px"
			});
		} else {
                  $( "#theFixed" ).css({
	            "position": "static"
	          });
                }
	});
     }
</script>
