<h1>DRAFT Reviews</h1>

<style scoped="scoped">
  abbr { text-decoration: none; }
  h2.section { font-size: 2em; font-weight: normal; }
  .field .nav-link { margin-left: 0; margin-top: 1.5rem; margin-bottom: 1rem; }
  .field div { margin-left: 1em; margin-bottom: 2rem; }
  .field h3, .field h4 { color: #a1185a; font-weight: normal; }
  .field h3 { font-size: 1.8rem; padding-top: 1.5rem; border-top: 1px solid #dedede; }
  .field p, .field ul { margin-bottom: 0.5rem; }
  .field ul { margin-left: 1rem; }
  .field h4 { margin-bottom: 0; }
</style>

<section id="thanks" class="grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <h2 class="section">Your Reviews - what people are saying about FreeCEN</h2>

  <p>"This site has really helped me and gave me hope... " Katherine.</p>
  
  <p>Last updated 31 October 2020.</p>

    </div>
  
</section>