<h1>draft- freecen handbook (out of date)</h1>

<p class="lead">We have written several documents to assist in the transcription of census documents.&#160;</p>
<div class="read-length">
<ul><li>Introduction to FreeCEN for New Transcribers</li>
<li>Abbreviated Handbook for England and Wales censuses</li>
<li>Validator Handbook</li>
<li>Complete FreeCEN Handbook</li>
</ul>
<h2 class="flush--bottom">Introduction to FreeCEN for New Transcribers (England and Wales)</h2> 
<p> This Introduction guide is provided as an easily printable overview reference.
It is only suitable for New Transcribers as a simple guide to get started. Once operational they should make use of the the Abbreviated Handbook for England and Wales censuses. It can be printed as a booklet.</p>
<p><a href="<%= asset_path('resources/9egkkrcluo_Introduction_to_FreeCEN_for_England_and_Wales_Transcribers_V1.pdf') %>" title="Transcriber Introduction" target="_blank">Download the Introduction Guide (opens in a new tab)</a>
</p>
<p>The Guide will appear on your Screen in Acrobat Reader (or in Preview on a Mac)</p>
<ol><li>Select the Download Icon (An underlined downward arrow)</li>
<li>You will be asked where you want to Save the Guide. Save it.</li>
<li>Open the Guide in Acrobat Reader (or in Preview on a Mac)</li>
<li>Select the Print Icon (or File … Print)</li>
<li>Select your Printer</li>
<li>Set Pages to Print to All</li>
<li>Select Booklet</li>
<li>Set Booklet subset as both sides</li>
<li>Set the Orientation to Portrait</li>
<li>Select Print</li>
</ol>
<p>The Guide will now print on 4 pieces of A4 paper back to back. These can be folded
into an A5 booklet.</p>

 <h2 class="flush--bottom">Abbreviated Handbook for England and Wales censuses</h2> 
  <div class="push--bottom"><strong>(including the Channel Islands and the Isle of Man)</strong> </div>

  <p>The Abbreviated Handbook is an easy-to-use, computer-based or desktop reference. It is suitable for all Transcribers (including new ones) and Proofreaders working on England and Wales censuses. You can print it on A4 paper, either one-sided or back-to-back.</p>
  <p><a href="<%= asset_path('resources/4wek7swyz9_FreeCEN2_England_and_Wales_Handbook_Version_March_2021.pdf') %>" title="Abbreviated FreeCEN Handbook">Download the Abbreviated Handbook (opens in new tab)</a> </p>

  <p class="push-half--bottom">When the Abbreviated Handbook appears on your screen:</p>
  <ol>
    <li>Select the Download icon (a downward arrow)</li>
    <li>Choose where you want to Save the Abbreviated Handbook. Save it.</li>
    <li>Open the Abbreviated Handbook in Acrobat Reader (or Preview)</li>
    <li>Select the Print icon (or File … Print)</li>
    <li>Select your printer</li>
    <li>Set Pages to print all</li>
    <li>If you want to print on both sides of the paper, tick the ‘Print on both sides of the paper’ box</li>
    <li>Set the Orientation to Portrait</li>
    <li>Select Print</li>
  </ol>

  <p>The Abbreviated Handbook will print on about 60 sheets of A4 paper, single-sided (or 30 if you print on both sides).</p>
  <p>We are still updating the Abbreviated Handbook from time to time. We will let you know when a new version is available. Make sure you are using the latest version.</p>

  <h2 class="flush--bottom">Validator Handbook</h2>
  <p>The Validator Handbook has detailed information for Validators. It explains how to manage pieces
within CSVProc. It is a Supplement to the Handbook for Transcribers and Proofreaders and
should be read in conjunction with that Handbook.</p>
<p><a href="<%= asset_path('resources/9b68ekhvic_FreeCEN2_Validation_Handbook_April_2022.pdf') %>" title="Validator Handbook">Download the Validator Handbook (opens in new tab)</a> </p>

<h2 class="flush--bottom">Complete FreeCEN Handbook</h2>
<div>This is a comprehensive guide to working with FreeCEN2. It should be your first point of reference whenever you have a question or a problem.</div>

  <p>We suggest that you save the Handbook to your computer. It is quite large, so printing is probably not a viable option.</p>
  <p><a href="<%= asset_path('resources/5vioyg59ui_FreeCEN2_Handbook_December_2020.pdf') %>" title="Handbook" target="_blank">Download the Handbook (opens in new tab)</a> </p>
  <p class="island island--bordered">The Handbook is a PDF (Portable Document Format) file. Most browsers can show the contents of a PDF file directly: if not, you’ll see a dialogue box rather than the Handbook itself. Follow the instructions from step two.</p>
  <p class="push-half--bottom">The Handbook will appear on your screen:</p>
  <ol>
    <li>Select the Download icon (a downward arrow)</li>
    <li>Choose where you want to Save the Handbook. Save it.</li>
  </ol>
  
  <p>Whenever you need to refer to the Handbook, open it in Acrobat Reader (or in Preview on a Mac).</p>
  <p>We are still updating the Handbook regularly and will let you know when a new version of the Handbook is available. Make sure you are using the latest version.</p>
</div>