<h1>FreeUKGenealogy Policies</h1>

<div class="grid">
  <div class="grid__item two-thirds palm-one-whole">
    <h2>Volunteer handbook</h2>
    <p>The <a href="https://www.freeukgenealogy.org.uk/files/Documents/VolunteerInductionHandbook.pdf" title="Volunteer Induction Handbook">Volunteer Handbook</a> (a PDF) contains links to information for Volunteers and many other policies, from safeguarding to risk assessment.</p>

    <h2>Security Policy</h2>
    <p>We have an <a href="<%= path_to_asset('resources/881liaiqs4_Free_UK_GEN_Security_Policy_Abbreviated.docx') %>" title="Free Uk Gen Security Policy   Abbreviated">abbreviated security policy</a> (a Word document), which is to be followed by all volunteers, as it helps to keep your personal data safe, and a <a href="<%= path_to_asset('resources/1eijrl3i0h_Free_UK_GEN_Security_Policy_Mid_Level.docx') %>" title="Free Uk Gen Security Policy   Mid Level">mid-level security policy</a> (a Word document), which is for tech volunteers with limited responsibilities, and Foundation volunteers. These are based on
<a href="https://docs.google.com/document/d/1vJJhGzolawmyOuiZawgYXSaIVTMdIF9IRoXgG2fyhvg/edit?usp=sharing" title="Full Free UK Gen Security Policy">the full security policy</a> (a Google doc).</p>

    <h2>Code of conduct</h2>
    <p>Our<a href="https://www.freeukgenealogy.org.uk/files/Documents/Code-of-Conduct.pdf" title="Code of Conduct"> code of conduct</a> (a PDF) is for everyone who is part of Free UK Genealogy — Trustees and other volunteers, staff and contractors.</p>

    <h2>Other Policies</h2>
    <p>Our Constitution and other polices can be found on <a href="https://www.freeukgenealogy.org.uk/about/constitution-and-policies/" title="Free UK Gen Constitution and Policies">the Free UK Genealogy website</a>.</p>
  </div>
</div>