<h1>Help</h1>

<style scoped="scoped">
  .btnPress { font-weight: bold; }
  figcaption {
    font-style: italic;
    color: #737373; /* 4.74:1 */
    margin-top: 0.3em;
  }
  figure.site img {
    border: 2px solid #00a099;
    padding: 0.3em;
  }
  figure.site--wide img {
    width: 100%;
    height: auto;
  }
</style>

<div class="grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="lead">This page is a guide to searching the database and exploring your results. It begins with a brief description of what you will find in our Records section.</p>
  </div>

  <div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <nav aria-labelledby="thisPage">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="thisPage">On this page</h2>
        <ul class="sub-nav">
          <li><a href="#dbContents">Database contents</a> </li>
          <li><a href="#nature">Nature of the search</a> </li>
          <li><a href="#surname">Surname variations</a> </li>
          <li><a href="#forename">Forename variations</a> </li>
          <li><a href="#location">Census location &amp; year</a> </li>
          <li><a href="#birth">Birth details</a> </li>
          <li><a href="#using">Using the search page</a> </li>
          <li><a href="#filters">Using filters</a> </li>
          <li><a href="#results">Exploring your results</a> </li>
          <li><a href="#cite">Citing FreeCEN</a> </li>
          <li><a href="#caution">Cautions</a> </li>
          <li><a href="#usingSite">Using this site</a> </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <h2 id="dbContents">Database contents</h2>
    <p>Select the <strong>RECORDS</strong> link in the main menu to see statistics relating to the number of census Pieces currently in the database for each census year. The last column in the table tells you how many recent additions there are: this is the number of Pieces added to the database in the previous thirty days.</p> 
    <p>Censuses are divided into Pieces by The National Archives for England and Wales, or the National Records of Scotland. A Piece consists of a related set of census pages.</p>
    <p>From the Records page you can choose a county and view the statistics for that county or select a place in the county and view those details. At the county and Place level you can view details of the Pieces, including the names of the Civil Parishes.</p>
    <p>If a Piece is online (that is, it has been transcribed by our volunteers and uploaded into the database) you can also view a list of names in the database, both surnames and forenames. We hope this detail will help you to search to get the best from the database.</p>
    <hr class="rule rule--ornament" />

    <h2 id="nature">Nature of the Search</h2>
    <p>The minimum information required for a search is a surname, or a forename together with a census county and place. However, this is very likely to produce too many results: the maximum number of records that can be shown is 500. If your search is giving too many results, you will need to narrow it down by giving more information and/or selecting a census year.</p>
    <hr class="rule rule--ornament" />
  </div>
<div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <div class="grid__item one-whole">
      <div class="adsense_box push--ends">
        <span>Advertisement</span>
        <ins class="dcmads" style="display:inline-block;width:300px;height:250px" data-dcm-placement="N217801.4486016FREECEN2/B27887957.337358929" data-dcm-rendering-mode="iframe" data-dcm-gdpr-applies="gdpr=${GDPR}" data-dcm-gdpr-consent="gdpr_consent=${GDPR_CONSENT_755}" data-dcm-addtl-consent="addtl_consent=${ADDTL_CONSENT}" data-dcm-ltd="false">
  <script src="https://www.googletagservices.com/dcm/dcmads.js"></script>
</ins>
      </div>
    </div>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <h2 id="surname">Surname variations</h2>
    <p>Surnames have been transcribed exactly as spelt in the census.</p>
    <p>There might well be several (or many) variations of essentially the same surname in the database as there was no real standardisation of the way that names were spelt until well into the 1800s. Even then people made mistakes. Also, many people were illiterate, leaving the Enumerator to write what they heard, perhaps an unfamiliar name in an unfamiliar accent. So don't assume that your name was always spelt the same way that it is now. There will always be variations, even for the same person in different census returns. It is really a matter of getting used to, and allowing for, the possible variations of the name when searching.</p>
  </div>
</div>

<div class="grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <h3>Soundex</h3>
    <p>To assist you in searching for surname variations, you can place a tick in the Soundex box. This option will find similar sounding names, as pronounced in English. Soundex is the most widely known of all phonetic algorithms — a set of rules to be followed in deciding which groups of letters might sound alike. It is important to remember that the Soundex algorithm assumes that the<strong> first letter of the name is correct</strong>. So, you might wish to consider additional searches for similar sounding surnames but using different first letters.</p>
    <p>If using Soundex, enter the surname with the expected spelling. In particular, do not enter the Soundex Code itself.</p>
    <hr class="rule rule--ornament" />
  </div>

  <aside class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <div class="island island--navy">
      <h3 class="banner__title">Want to know more about Soundex?</h3>
      <p>For an explanation of  the principles behind the original algorithm and a discussion of some of its variations, see the <a href="https://en.wikipedia.org/wiki/Soundex">Wikipedia article on Soundex</a>.</p>
    </div>    
  </aside>

  <aside class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <div class="islet islet--bordered">
      <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5379635334920389" crossorigin="anonymous"></script>
          <ins class="adsbygoogle" style="display:inline-block;width:336px;height:280px" data-ad-client="ca-pub-5379635334920389" data-ad-slot="6462870724"></ins>
        <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
  </aside>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <h2 id="forename">Forename variations</h2>
    <p>Forenames have been transcribed as recorded by the Enumerator. Our search will find some variations and abbreviations of a forename automatically. You can also use the Soundex option to find misspelt variations on a name. In addition, a search for Elizabeth, say, will also find forenames that include Elizabeth, such as ‘Elizabeth Jane’ and ‘Mary Elizabeth’.</p>
    <p class="flush--bottom">Some examples of plain searches (that is, without Soundex):</p> 
    <ul>
      <li>Elizabeth will find also find ‘Elisabeth’ and ‘Eliz’</li>
      <li>William will also find ‘Wm’</li>
      <li>Alexander will also find ‘Alex’ and ‘Alexr’</li>
    </ul>
    <p>To include misspelt versions of Elizabeth say, such as ‘Elesabeth’, or even related names such as ‘Elspet’, try the Soundex option.</p>
    <p>Please remember that the Soundex option, if selected, applies to both the surname and the forename. (See <a href="#surname">Surname variations</a> for more about how Soundex works.)</p>
    <hr class="rule rule--ornament" />

    <h2 id="location">Census location &amp; year</h2>
    <p>There are four topics related to census location: <strong>census county</strong>, <strong>census place</strong>, <strong>census year</strong> and <strong>‘nearby places’</strong>.</p>

    <h3 id="cCounty">Census county</h3>
    <p>The Census counties are organised into sections for England, Ireland, the Islands, Scotland, Wales and Special. The Special section includes census returns made for England and Wales Shipping (and will include returns for Scottish Shipping).</p>
    <p>You can navigate in the select box in the usual way: type a letter to go to the first county that begins with that letter. The next press will find the next county, and so on. For example, repeatedly pressing the ‘O’ key will take you first to Oxfordshire, then the Orkney Isles, ‘Out of County
’, Overseas British, Overseas Foreign and back to Oxfordshire.</p>
    <p>If you select one county, then the Places box will be filled and you may either select one Place to search, or none to search the whole county. You may also limit the search to a specific Census year. Only counties with transcriptions are listed.</p>
    <p>By holding down the control key (the command key on a Mac), you can select more than one county. This can be helpful in identifying a person known or suspected to have lived in different counties at different times.  Another way to make your search broader than a single place, including those over county boundaries, is to select the ‘nearby places’ box. This paragraph has <a href="#nearbyPlaces">more about the nearby places option</a>.</p>
    <p>Selecting ‘All Counties’ is possible, but will be effective only when researching very uncommon names as too many results will be retrieved.</p>
    <p>If you find you are getting too many results, selecting a specific county is likely to be more effective as your next move than adding a place and year .</p>
    
    <h3 id="cPlace">Census Place (Census Registration District or Sub-district)</h3>
    <p>A <strong>Place</strong> is usually the place name associated with the Registration Sub-district used by the Census Enumerator. Where we do not know the Registration Sub-district we use the place name of the Registration District. With the transcriptions started in 2021 we changed to use the the Civil Parish, which gives a more localised set of records.</p>
    <p>Re-running a search, choosing a Census Place, as well as a county will restrict the results: this can be helpful if you get too many results on the first search.</p>
    <p>Choosing a census place and selecting ‘nearby places’ can also be helpful in finding a person who is not in that exact place, but one nearby — even if it is in the next county. While the places may not have been transcribed for the year(s) you are interested in, if you select the year you want, or leave blank for all years, the search will find any transcribed records near to the place selected.</p>
    <p>For example: a ‘nearby places’ search for Bedfordshire, Ampthill, 1851 will not find any Ampthill records (as we have not transcribed them yet) but it will find records from Baldock, Hertfordshire and St. Neots, Huntingdonshire.</p>
    <figure class="site site--wide">
    <%= image_tag 'images/census-location-and-year.png', alt: 'Census Location And Year', data: { rel: '225x255' }, width: 842.4, height: 339.4 %>      <figcaption>Census Places in Bedfordshire showing that we have not transcribed Ampthill for 1851</figcaption>
    </figure>

    <div class="island island--blue">      
      <p>Next to each Place name you will see a list of the years for which we have transcriptions for that place. If the year you want to search is not there, then you will not get any results when selecting the year.</p>
      <p>For example, Rutland is the smallest county in England with four Places transcribed, as shown in the image below. A search for people in 1841 in Rutland cannot find any records, yet! But a search in 1861 will look in all four of those Places.</p>
    </div>
    <figure class="site site--wide">
      <%= image_tag 'images/places.png', alt: 'Places', data: { rel: '225x255' }, width: 695, height: 258 %>
      <figcaption>Census Places in Rutland in the search form, listing the years that we have transcribed</figcaption>
    </figure>
    <p>The shipping returns Places are not conventional places. You might see the shipping divided simply into military and commercial vessels, together with their crews. Military vessels include all the Royal Navy ships. The Merchant Navy includes everything else — from a fishing boat to a large cargo ship, from a small ferry to a large passenger liner.</p>

    <p id="nearbyPlaces">A particularly effective research strategy is to use the <strong>Nearby places</strong> option together with a specific starting place in a county. This searches your specific place and its closest 100 nearby places. Some of these places could well be in neighbouring counties. If this produces too many results then simply select the ‘Narrow Search’ option and the search will be repeated but with half the number of neighbouring places. This narrowing can be done multiple times if necessary.</p>
    <p>You can see which places have been included in a search by selecting ‘About this Search’. (Occasionally you might find a place in that list which does not belong near to your search or otherwise looks wrong — if you find one, please let us know by filling in a Contact form and choosing ‘Website Problem’. You will find the link in every footer. We will correct the coordinates for that place.)</p>
    <p>You may search in up to three specific counties, in which case all Places in those counties will be included in the search. The Place box will be empty and the Nearby places option inactive.</p>
    <hr class="rule rule--ornament" />

    <h2 id="birth">Birth details</h2>
    <p>You can narrow down a search by typing in the first and/or last birth year to be searched. Bear in mind that for the 1841 census, ages of adults should have been rounded down to the nearest five, but that some enumerators ignored this.</p>
    <p>You can also select a birth county. Places of birth which are outside the counties of the British Isle are listed at the bottom of the select box.</p>
    <p>Birth counties are organised into sections for England, Ireland, the Islands, Scotland, Wales and Special. The last contains birth places that were overseas, on ships at sea, on military posts or recorded as ‘out of county’ in the 1841 census. Up to three specific counties or all counties may be selected.</p>
    <hr class="rule rule--ornament" />

    <h2 id="using">Using the Search page</h2>
    <p>When you have entered the details of your search, it could seem slow before you get the results. Please be patient because at times our servers are very busy.</p>
    <p>If you want to amend your search, for example if you did not find what you were looking for and want to just change the dates, then use the <strong>Revise Search</strong> button and your previously entered details will still be there. Do not use your browser's Back button.</p>
    <hr class="rule rule--ornament" />
    
    <h2 id="filters">Using filters</h2>
    <p>Filters are a powerful feature that let you look more closely at the results of your search. Filters come into play after a successful search: they have no part in the initial search. If you do much with spreadsheets, you might be familiar with the idea.</p>
    <p>The <em>best</em> way of using filters is to first run a <strong>search without any filters</strong> until you get a <strong>large enough ‘sample’</strong> of results and <strong>then apply filters</strong> to those results. If you know that a previous search has generated a useful number of results then you can include the filters when entering that search in the future: that is, you do not need to go through the process of revising a search.</p>
    <p>The individual filters are described next: please note that some of the filter information was <strong>collected only in later census years</strong> and so will not work on the earlier census years.</p>
    <p><strong>Sex:</strong> recorded for all census years.</p>
    <p><strong>Occupation: </strong> recorded in all census years, but often entered only for the ‘head’ of a household in 1841. The filter takes what you type in the box and matches it to any word in the occupation entry. Letter-case is ignored. The best way to use the filter is to type as <em>few</em> letters as possible. For example, try ‘bu’ if looking for a butcher or ‘fa’ for a farmer.</p>
    <p><strong>Disability: </strong> check the box to view all records with an entry in this column.</p>
    <p><strong>Marital Status:</strong> this was recorded from 1851 onwards.</p>
    <p><strong>Language</strong>. 1891 is currently the only year we can show. ‘Both’ means either English and Welsh (in Wales) or English and Gaelic (in Scotland).</p>

    <h3>An example using filters</h3>
    <p>Start by making a search, without any filters, that produces fewer than 500 results. Then filter those results.</p>
    <p>The example here is for a search made early in 2020: the numbers will probably be different by now.</p>
    <p>In this example, we searched for people named <em>ALCOCK</em> in the <em>Yorkshire</em> census (all years) and this gave 373 results: we then clicked on ‘Revise search’ and selected ‘Married’ for the ‘Marital Status’ filter which gave 135 results.</p>
    <p>Next we selected ‘--’ in the ‘Marital status’ filter (to remove the filter) and typed ‘far’ in the Occupation filter: out of our initial 373 results, 30 had ‘far’ in the Occupation field. Revising the Occupation filter to ‘farmer’ gave only 21 people.</p>
    <p>When we added a filter for ‘Male’ to the filter for ‘farmer’, we had 16 Male Farmers.</p>

    <p>Finally, we went back to the basic search that gave us 373 results, and added ‘bu’ as an Occupation filter: we were down to one — and she was a Burler (someone who removes small knots or lumps in cloth or thread). None of the Yorkshire Alcocks in the database were associated with butchery!</p>
    <hr class="rule rule--ornament" />

    <h2 id="results">Exploring your results</h2>
    <p>Please use the buttons above the results to navigate as your browser Back button is likely to not work as expected.</p>
    <p>Each column of your results table can be sorted by clicking on its heading.</p>
    <p>Use the ‘View’ button to see all the census information for the named person plus all the other members of the same household. Also included are the full census reference details.</p>
    <p>As with the Results page, please use the buttons above the details to navigate. The <span class="btnPress">Next Dwelling</span> and <span class="btnPress">Previous Dwelling</span> buttons on the Details page allow you to view neighbouring households: these can be used repeatedly.</p>
    <hr class="rule rule--ornament" />

    <h2 id="cite">Citation buttons</h2>
    <p>If you use the View button to see the details of a household, you will see a button near the top of the page labelled ‘Generate Citation’. Use this to auto-generate a citation in one of a number of popular formats for family historians and academics. If you spot an error in our format, or would like an additional format, please let us know.</p>
    <p>If you want to cite a record which you have reached using the ‘Next Dwelling’ or ‘Previous Dwelling’ button, please be aware that the citation generator will give you a citation to the record which was found by the search, even if you move off to another dwelling’s record. So, you will need to do another search for the particular dwelling you want to cite.</p>
    <p>Similarly, if you find, and wish to cite, a record relating to a particular individual, one that you found by looking for someone else, such as a parent or child, you will have to do another search for the particular individual, otherwise you will get the wrong name in the citation, and perhaps the wrong relationship to the head of household. Alternatively, you can amend the citation yourself to correct it: for example, change Charles Whitlow in the household of John Whitlow to Carlotta Whitlow.</p>
    <p>For more formal details of how to cite records found on FreeCEN, please see <a href="/about#cite">About, Help with citations</a> which also discusses the nuances of citing a database.</p>
    <hr class="rule rule--ornament" />
    <h2 id="caution">Cautions</h2>
    <p>Please remember that the FreeCEN database is just a finding tool. An entry should not be considered to be proof of enumeration, neither should it be regarded as necessarily 100% accurate. We do our best, but images might be damaged (even missing) or otherwise difficult to interpret.</p>

    <h2 id="usingSite">Using this site</h2>
    <p>It is possible to use most smartphones for searches. However, given the nature of the subject matter, this website is best viewed on a device with a screen size of at least 1024 by 768 pixels, in landscape view.</p>
  </div>

  <aside class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <div class="island island--navy">
      <h4 class="banner__title">Contact us</h4>
      <p>We are here to help you and happy to <a href="/contacts/new">answer all your queries</a>.</p>
    </div>
    <div class="islet" style="border: 2px solid #825da8;">
      <a class="image-link" target="_blank" href="https://www.easyfundraising.org.uk/causes/freeukgenealogy/">(opens in new tab)
        <%= image_tag 'images/easy-fundraising.png', alt: 'Easy Fundraising', data: { rel: '225x255' }, width: 1200, height: 628, style: 'width: 100%; height: auto;' %>        
      </a>
    </div>
  </aside>
</div>

<script>
   var mobile = (/iphone|ipod|android|blackberry|mini|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));  
    if (mobile) { 
        $('#theFixed').hide();
    } 
    else 
    { 
    
        var offsetPixels = 1200; 

	$(window).scroll(function() {
		if ($(window).scrollTop() > offsetPixels && $(window).scrollTop() < 4000) {
			$( "#theFixed" ).css({
				"position": "fixed",
				"top": "15px"
			});
		} else {
                  $( "#theFixed" ).css({
	            "position": "static"
	          });
                }
	});
     }
</script>
