<h1>Information For Coordinators</h1>

<div class="grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="lead">This page is a summary of what is involved in being a Coordinator, including an introduction to working with FreeCEN2. Please read it together with the FreeCEN Handbook, especially part three.</p>
     <p>You can find download links to the various parts of the Handbook on the ‘FreeCEN Handbook’ page: the link to that page is on the right hand side of the screen after you log in — on the ‘Your Actions’ page.</p>
     <p>Please note: we will be adding further information pages for you, covering new capabilities, as we develop the site. The Handbook, which you can download from the same link, has the up-to-date information.</p>
    <p>In addition to this section for coordinators, you may view all the <a href="/information-for-transcribers">Information for Transcribers</a> (as it becomes available). To return to this page, use your browser's back button.</p>
    <p class="push-half--bottom">You may also be interested in the following general Help pages:</p>
    <ul>
      <li><a href="/help">Search and Database Coverage Help</a> </li>
      <li><a href="/about/cookie-policy">What to do if you keep getting the cookie notice</a> </li>
    </ul>
  </div>

  <div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <nav aria-labelledby="thisPage">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="thisPage">On this page</h2>
        <ul class="sub-nav">
          <li><a href="#gettingStarted">Getting started online</a> 
            <ul class="push-half--left">
              <li><a href="#login">Logging in</a> </li>
              <li><a href="#loginProblems">Transcriber login problems</a> </li>
              <li><a href="#contacts">Responding to Contacts</a> </li>
            </ul>
          </li>
          <li><a href="#job">The Role of a Coordinator</a> 
            <ul class="push-half--left">
              <li><a href="#first">Some things you should know first</a> </li>
              <li><a href="#responsibilities">Coordinator responsibilities</a> </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <aside aria-labelledby="otherHelp" class="islet islet--bordered">
      <h2 class="title-block" id="otherHelp">Other Help sections</h2>
      <ul class="sub-nav">
        <li><a href="/information-for-transcribers">Information for Transcribers</a> </li>
        <li><a href="/help">Researcher Help</a> </li>
      </ul>
    </aside>
  </div>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <h2 id="gettingStarted">Getting started online</h2>

    <h3 id="login">Logging in</h3>
    <p>To log in, select <strong>Members</strong> from the main menu. Use the ‘keep me logged in’ option if you wish.</p>
    <p>Once you are logged in, you will see your current set of <strong>Actions</strong>: these links will be added to as FreeCEN2 develops. Actions are the tasks you can carry out online, allowing you to view and/or edit information.</p>
    <p>The page also has comments about recent and/or planned changes to FreeCEN. Please take a moment to read them as they are relevant to all Members, not just the technical team.</p>
    <p>You can view the comments at any time by choosing <strong>Your Actions</strong> from the main menu.</p>

    <h3 id="loginProblems">Transcriber and Proofreader login problems</h3>
    <p>If one of your Transcribers tells you that they cannot log in because their UserID is being reported as incorrect, advise them to try logging in with their email address.</p>
    <p>However, if they are being returned to the home page with no message, then they might be trying the wrong password, or their Profile could be marked as ‘Active: No’.</p>
    <p>Check their Profile by selecting your ‘Manage Syndicate’ action: you can search by UserID, Name or Email address. If marked as ‘Active: No’, then a change to ‘Yes’ will fix it.</p>
    <p>Also, check that the email address in their Profile matches the one they are trying to use.</p>
    <p>Otherwise, select ‘Send password change request’ for them.</p>
    
    <h3 id="contacts">Responding to Contacts</h3>
    <p>From time to time you may receive an email message passed on to you by the FreeCEN2 Contact system and described as a Data Problem, together with a reference number. This will be from a researcher, about a possible error in a specific record for a county in your care.</p>
    <p>Select your ‘Contacts’ action: the list you see will only include Data Problems that are about your counties. Now select ‘SH’ for the message: this will show you all the message details, including a link to the Record in question.</p>
    <p>Please investigate the issue and take whatever measures are required, if any. The measures are covered in the Handbook. Remember that we can only correct our transcription errors, not possible errors in the source.</p>
    <p>Next, reply to the researcher, using ‘Reply All’, so that the Data Managers know that you are dealing with the problem. Explain to the researcher what you have done and why.</p>
    <p>The final step is to return to the message in Contacts, and then Destroy it. This is important as it allows the System Administrators to know that the issue has been dealt with.</p>
    <hr class="rule" />

  
    <h2 id="job">The Role of a Coordinator</h2>
	<p>The role of this volunteer is to support a team of transcribers, proofreaders and validators through the processes of transcribing, proofreading, validating the census records and incorporating the resulting spreadsheet into the database. These processes are outlined in parts one to three of the FreeCEN Handbook.</p> 

    <h3 id="first">Some things you should know first</h3>
    <p>The Management Team are the team of volunteers who deal with the day to day management of FreeCEN. Current members are Brenda Bowers, Geoff Jarvis (Documentation and Online Transcription Trial),  Chris Mahoney (Newsletter and Wales Coordinator), Margaret Singleton (Scotland Coordinator) and in the future, the Ireland Coordinator. </p>
    <p>The Development Team are Geoff Jarvis, Alison O’Neill (Documentation), Rhoda MacKenzie (Data Manager), Anne Vandervord (Developer) and the support team (salaried staff). From time to time coders, user experience experts and other volunteers are working as part of the Development Team.</p>
    <p>There are roles (people with special permissions for actions at a high level online):</p>
    <ul>
      <li>SYNManager can: make changes to syndicates; open and close syndicates; change coordinators. Works with or is the volunteer_coordinator (if there is no one else) to transfer people into new roles</li>
      <li>CONManager can: make changes to county coordinators and master county coordinators. Works with the data manager to ensure data issues are resolved. (May be the data manager if there isn't one)</li>
      <li>DOCManager: looks after all aspects of getting documentation and manuals onto the system. Works with the Support Team on publicity and fund raising</li>
      <li>DATManager: looks after all aspects of the database and the content of special fields</li>
      <li>WEBManager: looks after the application code base and associated problems</li>
      <li>CENManager: moves it all along and does all of the preceding if there is no one else</li>
    </ul>
    <p>Currently, these roles are temporarily filled by members of the Support Team.</p>
    <h4>County vs Syndicate</h4>
    <ul>
      <li>County Coordinator (CC) Actions deal with the data, and</li>
      <li>Syndicate Coordinator (SC) Actions deal with transcribers, validators and proofreaders</li>
    </ul>
    <p>With just one UserID, you can look at the database from two different points of view depending on whether you are dealing with data or transcribers. As a CC, you may have more than one County, so when using CC actions you will be asked which county you want to work on. Typically, as a SC, you will have just one group of all the transcribers in your team.</p>

    <h4>The database</h4>
    <p>We use a four-step process to produce entries in the FreeCEN2 database that are as accurate as possible. This database is available for researchers to search at no cost.</p>
    <p>The census has been broken into Pieces by The National Archives for England and Wales or the National Records of Scotland. A Piece consists of a related set of Census pages. We normally Transcribe the Census a Piece at a time.</p>
    <p><em>The first step</em> is Transcription — the transcriber transcribes the census pages into a pre-formatted spreadsheet from the supplied set of images as accurately as possible. If an entry is difficult to read, they can ask for help on the FreeCEN Transcribers Message Board or enter a query flag into the Spreadsheet or both. The Transcriber Uploads their Transcription to CSVProc. Then CSVProc emails a report to the Transcriber. The Transcriber can amend their Spreadsheet based on this report. Once the Transcriber is satisfied, they tell their Coordinator that the Piece has been done.</p>
    <p><em>The second step</em> is Proofreading — the Proofreader Downloads a copy of the Spreadsheet and Proofreads each entry. The Proofreader also attempts to resolve any query flags. The Proofreader Uploads the Proofread Piece to CSVProc. CSVProc emails a report to the Proofreader. The Proofreader can amend the Spreadsheet based on this report. Once the Proofreader is satisfied, they advise their Coordinator.</p>
    <p><em>The third step</em> is Validation — during Transcription and Proofreading several Warnings are generated. These Warnings do not mean that the entry is incorrect. Only the Validator can deal with some these Warnings (for instance  a Place of Birth not included in the Gazetteer, or an unusual entry such as a wife with 20 children). These entries may or may not be acceptable: the Validator decides. Validation is done online within CSVProc. Once the Validator has addressed all Warnings, they advise their Coordinator.</p>
   <p><em>The last step</em> is Publication — we call it Incorporation. The Coordinator Incorporates the piece into the FreeCEN database for researchers to search.</p>
   <p>Because of our four-step process, involving at least three volunteers, helped by some online tools, we can create a high-quality set of records for the researcher.</p>

    <p>Transcriptions are stored in the FreeCEN database. Every field is tested against its rules when it is uploaded to the test environment.</p>

    <h4>Places in FreeCEN</h4>

    <p>The FreeCEN2 database has two primary reference files – the PARMS file and the Gazetteer. These are used to test transcriptions and provide the necessary robustness to achieve high quality search results.
The PARMS and the Gazetteer are used to test the entries in the transcriptions as well as enforcing data integrity in the PARMS file.</p>

    <p>The PARMS file has been created from a download of the Census indexes from the National Archives. The Gazetteer has been created over several years, enhanced by Validators during the validation of FreeCEN transcriptions.</p>
    <p>The information in PARMS files, Gazetteer, and FreeCEN2 Places is inter-related: we are preparing a diagram to illustrate these relationships.</p>
    
    <h4>Enquiries from potential new volunteers</h4>
    <p>Enquiries from volunteers will start to come directly to you from FreeCEN2.  An introductory guide to assist you to get new Transcribers started is available from the ‘FreeCEN Handbook’ link in the members’ area (the ‘Your Actions’ page).</p>

    <h3 id="responsibilities">The responsibilities of a Coordinator</h3>
    <p class="push-half--bottom">The main responsibilities are to:</p>
    <ul>
      <li>liaise with the Management Team to obtain data for transcription. Correspond with the Digitizer, Helen Bainbridge (DigitizerCEN@freeukgenealogy.org.uk), who is part of the Support Team of employees, over the availability of images for your county</li>
      <li>arrange for images to be made available to individual transcribers — for example, by sharing on Dropbox</li>
      <li>handle queries from trained volunteers. Once trained, Volunteers should be encouraged to refer questions about the content of the census to the discussion group. If in doubt then the appropriate member of The Management team should be consulted where the problem is not covered by the Handbook</li>
      <li>answer questions from Researchers and check and make corrections to transcriptions if necessary</li>
      <li>through the four steps of the FreeCEN process, keep a record of the progress of each piece and who is handling it</li>
      <li>support your transcribers, proofreaders and validators in using the CSVProc software. CSVProc is the software FreeCEN uses to manage the Upload, Proofreading, Validation and Incorporation of all transcriptions. It has replaced all of our previous end user software, which some transcribers may be more familiar with. The Handbook describes this software</li>
    </ul>
    <p>Your transcribers should not be using the spreadsheet system developed for the original FreeCEN. There are still legacy files in the system that need to be converted to FreeCEN2 format. To do this, please see the FreeCEN Handbook part 1A. In the April 2023 version, begin with “How to Test a Traditional FreeCEN1 Spreadsheet” (on page 10). From this point on, the processes are identical.</p>
   
    <p class="push-half--bottom">Other responsibilities include to:</p>
    <ul>
      <li>recruit and train volunteers. If someone approaches you about volunteering as a transcriber or in another role — or if you advertise the potential to become a volunteer (e.g. in a talk you give or on social media) please direct them to the volunteer sign up on FreeCEN. You can let them know that they can select your county there. The progress of trainees can be monitored by vetting the first live piece at various checkpoints</li>
      <li>identify and solicit contributions of existing transcriptions</li>
      <li>work with other Coordinators through the Coordinators Google group and keep the Country Coordinators informed of country-wide issues</li>
      <li>inform the Management Team of improvements that should be made to FreeCEN2.</li>
      <li>inform the Tech team of problems with the website. To do this, use the ‘Report a Problem’ button</li>
      <li>put your physical mailing address and/or telephone number into your FreeCEN2 profile, so that we can contact you in case of email failure</li>
    </ul>

  </div>
</div>