<h1>System Documents</h1>

<p><a href="/system-documents/road-map" title="Road Map">This the link to the Roadmap</a> for the development of FreeCEN.</p>
<p><a href="/system-documents/why-is-freecen-changing" title="Why is FreeCEN changing?">This document explains the background to changes&#160;</a>for FreeCEN.</p>
<p><a href="/system-documents/information-for-members" title="Information for Members">This link</a>&#160;provides further information for FreeCEN volunteers.</p>
<p><a href="https://drive.google.com/drive/folders/0BzRDUeF70MtpZHA5TV9oREJfaE0" title="https://drive.google.com/drive/folders/0BzRDUeF70MtpZHA5TV9oREJfaE0" target="_blank">This is a link </a>to the systems documents folder on the Free UK Genealogy Google Drive (link opens in a new window).&#160; If you need access to systems documents, and this link does not work, please a member of the project management team.</p>
<p><a href="/system-documents/road-map" title="Road Map"></a>
</p>