<h1>Wit and Wisdom</h1>

<p>Wit &amp; Wisdom (from CENSfaq on FreeCEN1 - with the wisdom removed by Geoff and added&#160; by him to the Handbook if still relevant)</p>
<p><strong>A transcriber's thoughts on prisons and workhouses</strong>: I can see it now ... inmate after inmate ... layer upon layer of human flesh ... jammed into rooms the size of sardine cans.</p>
<p>The Census taker is getting annoyed - he's been there for hours. It's unbearably hot, and his hand is slipping on the feather pen as he writes, resulting in illegible documentation. He is past caring; his lungs are nearly bursting in their need for fresh air. He knows he should try to focus, but the screams from the Lunatic Wards have become unbearable ...<br />He scribbles at a furious pace, thinking the whole of the time, "What do they expect for tuppence a thousand - nobody'll ever be interested in this lot!"</p>
<p>"I had kept my fingers crossed in the hope of being allocated some barren wasteland with approx. four souls per square mile..."</p>
<p>On the positive side - there is a good chance that the Enumerator in a city may be better educated than his rural counterparts, so his writing may be better and he may make fewer mistakes.</p>
<br />
<p><strong>IT issues of the past:</strong>
</p><p>My lovely children have broken my floppy drive at the moment. So I downloaded the files from the website onto the hard drive.</p>
<p>When I come to finalize the installation and do the tutorial there is a box regarding the installation disc with choose A or B as your floppy drive. This is no good to me.. What do I need to do now to carry on and do the tutorial. The help desk reploed: This kind of problem can only be answered by John (those who have stepped into John's shoes are still helping our transcribers with the modern versions of such questions).</p>