<p>Thank you for volunteering as a transcriber for <%= appname %>. To join one of our existing teams of transcribers (we call them syndicates), fill in this form with your details: Please read our <a href="https://www.freeukgenealogy.org.uk/files/Documents/Privacy-Notice.pdf">Privacy Notice</a> for information on how we will protect and use your data.
</p>
<p>Then select a team from the list of <q>Syndicates available</q>.</p>
<p>After successfully submitting the form, you will receive an email that contains a link to complete the registration process. Click on that link or copy and paste it into you browser&rsquo;s address window. You must respond to the email <em>within 24 hours</em>. If you have not received it within a few minutes, please check your spam folder.</p>
<p>Begin with the documents linked in the form. If you have any questions about the documents or about transcribing, please <%= link_to 'contact us','/contacts/new', target: '_blank' %> (link opens in new tab).</p>