<div style="text-align: center">
  <% if session[:edit_userid] %>
    <%= link_to 'Edit', edit_userid_detail_path(@userid, page_name: @page_name), method: :get, :class => "btn  btn--small " %>
    <%= list_userid_files %>
    <% if @user.person_role == 'system_administrator' || @user.person_role == 'syndicate_coordinator' || @user.person_role ==
      'volunteer_coordinator'  ||  @user.person_role == 'county_coordinator' || @user.person_role == 'country_coordinator'  %>
    <%= link_to " Send password change request", change_password_userid_detail_path(@userid, page_name: @page_name), data: { confirm: 'You are sending a password reset email to the user. Do you wish to proceed?' }, method: :get, :class => "btn   btn--small " %> <%= link_to ' Destroy', userid_detail_path(@userid), data: { confirm: 'Are you absolutely sure?' }, method: :delete, :class => "btn  btn--small "  %>
  <% end %>
<% end %>
</div>