<% breadcrumb :disable_userid_detail, @userid %>
<p style="text-align: center"><b>Changing <%= @userid.userid %> to inactive</b> </p>
<%= simple_form_for @userid do |f| %>

<%= f.input :disabled_reason,:label => "Reason for making inactive :",:input_html => { :size => 60 }%>
 <%= f.button :submit, 'Disable'   %>
 <% end %>

