<% breadcrumb :edit_userid_detail, @userid %>
 <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %>
<section>

<%= render 'form' %>
<%= render "resource_sidebar" %>