<p style="text-align: center"><b>Editing profile for :<%=@userid.userid %></b></p>

 <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %>

<%= render 'form' %>

Note:Boxes that are grayed out cannot be changed.
<br>
