<% breadcrumb :edit_userid_detail, @syndicate, @userid %>
<p style="text-align: center"><b>Editing Profile for <%= @userid.userid %></b> </p>
 <% if flash[:notice] %>
   <div id="notice" style="color:blue"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
  <% end %>
<section>
<%= render 'form' %>
</section>