<% breadcrumb :edit_userid_detail, @syndicate, @userid, params[:page_name] %>
<p style="text-align: center"><b>Editing Profile for <%= @userid.userid %></b> </p>
<%= render "flash_notice" %>
<section>
  <%= render 'form' %>
</section>