<h3 style="text-align: center"><b>Editing profile for :<%=@userid.userid %></b></h3>

 <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %>
<section>
<% if session[:my_own]%>
 <h4>You will need to login again after a successful change in your profile</h4>
<% end %>
<%= render 'form' %>
<%= render "resource_sidebar" %>