<p style="text-align: center">Editing personal details </p>

<%= render 'form' %>

<div style="float:left;">  <%= button_to_function "Back to Previous Page", "history.back()" %> </div>

<div  style="float:left;"> <%= button_to 'Back to my Resource Management options', manage_resource_path(session[:user]), method: :get %> </div>
<div style="clear:both;"> </div><br>