Page Identification UserDetals: General<p>
<p style="text-align: center"><b>Welcome to the FreeREG Registration process.</b></p>
<p>Through this process you may register with FreeREG either as a <b>researcher</b>, as a <b>transcriber</b>, or express a willingness to join FreeREG in a <b>technical</b> capacity. </p>


<p><b>Researcher: </b> As a researcher you will have access to a number of capabilities not generally available. These include the ability to save searches and to be notified when additional records are added to your places of interest.</p>


<p><b>Transcriber: </b> As a transcriber you can register to join a syndicate of transcribers focused on a specific area or time frame.You will be assigned to a Syndicate Coordinator will get in touch with you to guide and help you, assign you work and take you through any required training. 
If you are uncertain on the team you wish to jinn or require additional information before making a final decissssion you can still register and have our volunteer coordinator discuss transcibing with you and have them assign you to the best fit. In which case select the General syndicate when selecting a syndicate.</p>


<p><b>Technical: </b>If you have an interest in joining the technical team then register and a member of the executive will get in touch with you to see how you may be able to contribute. We are specifically interested in people with experience in Rails/Ruby technology and html/css coding.</p>

<div style="float:left;"> <%= button_to 'Join as Reseacher', researcher_registration_userid_detail_path, method: :get %></div>
<div  style="float:left;"> <%= button_to 'Join as a Transciber', transcriber_registration_userid_detail_path, method: :get %></div>
<div  style="float:left;"> <%= button_to 'Join the Technical Team', technical_registration_userid_detail_path, method: :get %></div>






