<div class="grid__item ">
  <section class="island ">
    <div class="scrollable ">
      <table class=" table--bordered my-width table--data just--left">
        <thead >
          <tr>
            <th class='sticky-header'>Roles</th>
            <th class='sticky-header'>Userids</th>
            <th class='sticky-header'>Emails</th>
          </tr>
        </thead>
        <tbody >
          <% @included_roles.each do |role| %>
            <tr>
              <td><%= role %></td>
              <td>
                <%= UseridDetail.any_of({person_role: role}, {secondary_role: role}).pluck(:userid).to_sentence %>
              </td>
              <td>
                <%= UseridDetail.any_of({person_role: role}, {secondary_role: role}).pluck(:email_address).to_sentence %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
  
</div>