<h3 style="text-align: center"><b>Userid details creation for <%=session[:syndicate]%></b></h3>

<% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
 <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %>
  
<section class="island  island--light">
<%= render 'form' %>
<%= render "resource_sidebar" %>