   
<div id="notice" style="color:red"><br>
<% if flash[:notice] %>
 <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
<% end %>  
</div>
<div >
<%@options.each do |option| %>
    <%= link_to option, UseridRole::USERID_OPTIONS_TRANSLATION[option],  method: :get , :class =>  "text-input"%> 
 <%end%>
</div>

<%= render "resource_sidebar" %>



