<div class="island  island--light">
 <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %>  
<%= semantic_form_for @userid  do |f| %>
<%= f.input :action,  
    { :as => :select, :include_blank => true,  :label => @prompt, :required => true, :collection => @options,:width => 10 ,:input_html => {'onchange' => @location} }%>

<% end %>
</div>
 