<div id="notice" style="color:red">
<% if flash[:notice] %>
 <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
<% end %>
</div>
<%= semantic_form_for @userid do |f| %>
  <%= f.input :userid, { :as => :select, :prompt => "Select",
                        :label => @prompt,
                        :include_blank => true,
                        :required => false,:size => 5,
                        :collection => @userids,
                        :input_html => {'onchange' => @location} }%>
<% end %>
