<%= semantic_form_for @userid, :url => { :action => "select"  } do |f| %>
<% if flash[:notice] %>
    <div id="notice" style="color:red"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %>  

<%= f.input :userid, 
{ :as => :select, 
  :label => "Which userid would you like to work with?",
  :include_blank => false,
  :prompt => @prompt,
  :required => true,
  :collection => @userids, 
  :size => 10 , 
  :input_html => {'onchange' => @location}
  }%>
    <% end %> 




