<h1>Information for Members</h1>

<p><strong>For Members Using the CSVProc System.&#160;</strong>&#160;If you experience any issues or problems using the actions provided or wish to suggest improvements please use the <strong>Report a Problem action </strong>that is a button at the bottom right of every page. Use the <strong>action </strong>on the page in question. Provide as much information as you can about what you were doing at the time and what has happened.</p>
<p><strong>Transcribers Group:</strong> A discussion list / forum (you choose how you use it) for Transcribers, Proofreaders and other FreeCEN helpers — this is used for general discussion about FreeCEN, requesting and giving help with things that have even advanced transcribers baffled, and sharing some of the amazing or funny things we find in censuses. Please use this link to <a href="https://groups.google.com/a/freeukgenealogy.org.uk/d/forum/freecen-transcribers" target="_blank">sign up for the Transcribers group</a> </p>
<p><strong>Release Notes 24 February 2022</strong>
</p>
<ul><li>Gazetteer additions/amendments now require use of a source selection and website selection</li>
<li>Better and additional Instructional Videos</li>
</ul>
<p><strong>Release Notes 6 February 2022</strong>
</p>
<ul><li>Improved the Records displays and consistency of reports</li>
<li>Added coordinator access to Site Statistics and ability to download reports</li>
<li>New version of the Handbook</li>
</ul>
<p><strong>Release Notes 16 January 2022</strong>
</p>
<ul><li>New Records report.</li>
<li>Displaying all messages as separate line in CSVProc report.</li>
<li>Corrected bug in messages displayed with No POB warning option.</li>
<li>Improved message when no results are found</li>
<li>Improved Info Tip for Counties search selection</li>
</ul>