<h1>Draft - replacement text for non-data table</h1>

<h4>Summary of the use of middle names and initials</h4>
   <p>FreeBMD  carried out a statistical analysis of the use of forenames and initials within its transcriptions. These results have been published on our old system, FreeBMD. The work is not dated, but based on the years and events (that is births, marriages or deaths) for which there is little or no data, this was probably carried out late in 2020.</p>
  <p>For ease of conversation, where a person has more than one forename, we are using <em>middle names</em> as a short-hand way of refering to the second forename, the third forename, sometimes more; although they are all forenames (or given names).</p>
  
<p class="push-half--bottom">In the summaries below:</p>
  <ul class="push-half--bottom"> 
    <li>if you see a four-digit year, or years, and nothing immediately after the year, then the summary applies to all three events (births, marriages and deaths) within that year, or between those two years</li>
    <li>Note: prior to the 1st January 1983, the GRO issued four sets of BMD indexes per year - hence the reference to quarters. from 1st January 1983 they were annual indexes, so there were no quarters </li>
   <li> if the year, or years, are followed by the letter <strong>Q</strong> and a number (1, 2, 3 or 4), this means that the summary applies to all three events (births, marriages and deaths) in a particular quarter, or between two two dates (year and quarter)</li> 
   <li>in those cases where the birth, marriage or death indexes appear have different treatments of forenames, the letters <strong>B</strong>, <strong>M</strong> or <strong>D</strong> after the year are used to indicate which event we are discussing. If there are also numbers (1, 2, 3 or 4) after these letters, that indicates a particular quarter, or between two dates (year and quarter)</li>
  </ul>
  <dl>
    <dt> <strong>1837Q3 — 1865Q4</strong> </dt>
    <dd>Forenames are shown in full during this period, that is both first and second forenames; some third forenames and (fewer) fourth forenames. There are very few entries with initials (one would assume that any names that the clerk could not fit on  the page were just ignored) and the ones that there are may be the actual name (as in <em>Harry S Truman</em>). There are, however, two  anomalous quarters  of 1854B3 and 1858B3 when initials were included.</dd>
  <hr class="rule rule--ornament" />
   <dt> <strong>1866 </strong> </dt>
    <dd>During this year, mostly only the first forename is shown in full, with any additional forenames indexed as just as initials. However, there are some examples of more than one full forename.</dd>
 <hr class="rule rule--ornament" />
   <dt> <strong>1867Q1 — 1910Q2</strong> </dt>
    <dd>For this period most forenames are shown in the index in full, that is both first and second forenames, although there are a small number also with initials.</dd>
  <hr class="rule rule--ornament" />
   <dt><strong>1910B3 — 1965B4</strong> </dt>
   <dd>For this period mostly only the first forename is shown in full with the rest just as initials, although there are some examples of more than one full forename.</dd>
  <strong>1910M3 — 1990M</strong>
  <dd> For this period most forenames are shown in full although there are a small number also with initials.</dd>
    <dt><strong>1910D3 — 1969D1</strong> </dt>
  <dd> For this period most forenames are shown in full although there are a small number also with initials.</dd>
   <hr class="rule rule--ornament" />
 <dt><strong>1966B1 — 1989B</strong> </dt>
  <dd>For this period most forenames are shown in full. There are a small number also with initial letters: rising from about one-in-twenty at the start of this period, to about one-in eight by 1989. </dd>
       <dt><strong>1969D2 — 1990D</strong> </dt>
<dd>For this period most forenames are shown in full. There are a small number also with initial letters: remaining fairly constant at about one-in-sixteen.</dd>
  </dl>
 <mark> Having corrected typos in the last two rows, I've gone back to data tables in BMD1. I don't necessarily agree with these summaries: so I'm editing them to provide more detail. - PC.</mark>