<% breadcrumb :syndicate_image_group_assignments, @user, @county, @register, @source, @group %>

<div style="clear:both;"></div><br>
<% title "Assignment - transcription_submitted" %>
<%= render partial: 'header' %>
<%= render partial: 'flash_notice' %>

<%= render 'assignments_list' %>
