<% breadcrumb :transcribed_assignments, @user.syndicate %>

<% title "IS Group - transcribed assignments" %>
<div style="clear:both;"></div><br>
<p style="text-align: center">Fully Transcribed Assignmentss Allocated to Syndicate <b><%= session[:syndicate] %></b>
<%= render partial: 'flash_notice' %>

<div class="grid">
  <section class="island">
		<%= render partial: 'assignments_list', :locals=>{:assignment_filter_list=>'transcribed'} %>
	</section>
</div>