<% breadcrumb :syndicate_available_groups_by_county_select_county, @user %>

<div class="island  island--light">
<%= render partial: 'flash_notice' %>

<%= simple_form_for @county, :html => { :class => "grid"}  do |f| %>
  <%= f.input :chapman_code, :as=>:select, :label=>'Please select one', :collection=>@counties,:width => 10, :include_blank=>false, :input_html=>{ :class=>"simple_form_bgcolour simple_form_position overide_selection_field_width", :size=>5, 'onchange'=>@location } %>
<% end %>
</div>