<h1>Listing freereg contents</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @freereg_contents.each do |freereg_content| %>
  <tr>
    <td><%= link_to 'Show', freereg_content %></td>
    <td><%= link_to 'Edit', edit_freereg_content_path(freereg_content) %></td>
    <td><%= link_to 'Destroy', freereg_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Freereg content', new_freereg_content_path %>
