<h1 class="beta text--center">Select County and Place on which you want information</h1>
<p> You will find a wealth of information on what the database contains for each and every register we have transcribed in these pages. They contain far more detail and accurate information than was available in the first version of FreeREG, including the number of transcription records for each decade. If you want to know more about the contents or in doubt about how to use these pages please read our <a href="<%=Rails.application.config.website%>/help">HELP</a> notes.</p> 
<%= render 'form' %>




