<h1>Freereg Content</h1>

Please use the following series of forms to review information on the data held in the FreeREG database on the various Places, Churches and Registers in England, Scotland and Wales. It does NOT display the data itself. Just information about the data that is currently held in the database. Select the County for which you wish to review information from the drop down box below. On the following screens select the place, Church and/or register on which you wish to have more information.
<p></p>

<%= render 'form' %>

<p></p>

<%= link_to 'Back', freereg_contents_path %>
