<% title "Database Contents Selection" %>
<h1 class="title text--center">Explore Database contents</h1>
<h2 class=" text--center">Select the County and Place for which you want information</h2>
<div class="grid">
    <div style="margin: 0 auto;" class="grid__item three-fifths lap-two-thirds palm-one-whole float--none">

<p>Starting here, you have access to a wealth of information about what exactly the database contains. Yes, you are selecting only County and Place to begin with, but you will find links on the subsequent pages to increasing levels of detail &mdash; right down to how many records the database holds for a ten-year period of your chosen register.</p> 
        <p>If you would like more guidance on finding exactly what you want to know, please see our <a href="<%=Rails.application.config.website%>/help" title="Researcher Help">researcher Help</a> page.</p>
</div></div> 
<%= render 'form' %>




