<% title "Database Contents Selection" %>
<div class="container">
<h1 class="title text--center">Explore Database contents</h1>
<h2 class=" text--center">Select the County and Place for which you want information</h2>

<div class="grid">
  <div style="margin: 0 auto;" class="grid__item three-fifths lap-two-thirds palm-one-whole float--none">
    <p>You will find a wealth of information in these pages about each County, Place, Church and Register that has records in the database: everything from a detailed county listing right down to how many records the database holds for every ten-year period of an individual  register. Select just a County for summary information and then follow the links, or start with a County and a Place for direct access.</p>
    <p>If you would like more guidance on finding exactly what you want to know, please consult the <a href="<%=Rails.application.config.website%>/help" title="Researcher Help"> Help</a> page.</p>
  </div>
</div>
<%= render 'form' %>
</div>