<% title "#{RegisterType.display_name(@register.register_type)} #{@church_name} #{@place_name} #{@county} information" %>
<%#= This is a view used by the showing of a register from the Search Details link %>
<div class="container">
  <section class="island ">
    <div class="text--center">
      <%= link_to 'Back to Search Record', :back, :class => "btn   btn--small"%>
    </div>
    <br>
    <%= render 'register' %>
    <h3 class=" text--center">Numbers of transcriptions for this place</h3>
    <p class=" text--center">Those periods with zero data may span several decades. The first period may include pre 1530 records. </p>
    <%= render 'decade' %>
  </section>
</div>