<p> Dear <%= @communication.name %>;</p>
<p>Thank you for your feedback. Please quote the following number <%= @communication.identifier %> in any subsequent communication with us on this matter.</p>
<p>A member of our team will review the feedback and should respond as soon as we can. If they determine that a system change may be appropriate then the feedback will be referred to the by-weekly project management for priorization along with other issues and feature requests. </p>
<p>The following is the information you submitted.</p>
<p>  <%= @communication.body %></p>
<p>The <%= @appname %> Team</p>