

<p><%= @userid.person_forename %>:</p>

<p>The file submitted failed to process. The reason: <br><%= @message %> <br>


If you do not understand the reason please ask your coordinator for assistance.</p>

<p> The FreeREG Team</p>

