

<p><%= @userid.person_forename %>,</p>

<p>The file that you submitted for processing has been completed. There were <%= @errors%> data errors and <%= @headers%> header errors. You will need to review the on-line batch information for this file to see the specific errors.</p>

<p> The FreeREG Team</p>

