

<p><%= @userid.person_forename %>,</p>

<p>The file that you submitted for processing has been completed. We processed <%= @records%> and there were <%= @errors%> data errors and <%= @headers%> header errors. You will need to review the on-line batch information for this file to see any specific errors.</p>

<p> The FreeREG Team</p>

