

<p><%= @userid.person_forename %>,</p>

<p>The file that you submitted for processing failed to process. Please contact your coordinator for further  information if you do not understand the information in the attached log.</p>

<p> The FreeREG Team</p>

