

<p><%= @userid.person_forename %>,</p>

<p>The file that you submitted for processing has been completed. You will need to review the on-line batch information for this file to see if there were data errors.</p>

<p> The FreeREG Team</p>

