

<p><%= @userid.person_forename %>,</p>

<p>The file that you submitted for processing failed to process. Please ask your coordinator to contact the system administrators for the reason.</p>

<p> The FreeREG Team</p>

