

<p><%= @userid.person_forename %>:</p>

<p>We are sorry but the file submitted was not processed. The processing log follows and should contain a reason.</p><%= @message.html_safe%> <p>
If the reasons are header errors you must correct the original file and upload the corrected version into the system</p><p>

If you do not understand the reason please ask your coordinator for assistance.</p>

<p> The FreeREG Team</p>

