

<p><%= @userid.person_forename %>,</p>

<p>The file submitted for processing has been completed. We processed <%= @records%> records and there were <%= @errors%> data errors and <%= @headers%> header errors. If there were any errors you will need to review the on-line information for this file to see the details.</p>

<p> The FreeREG Team</p>

