

<p><%= @userid.person_forename %>,</p>

<p>The file submitted for processing has been completed. Please review the following report.</p><%= @message.html_safe%> 

<p> If there were errors in the header or with Place and Church names they will have to be corrected off line. Most other data errors can be corrected by using the on-line editing system or by correcting the file off line and then replacing the file on the system. </p>


<p> The FreeREG Team</p>

