

<p><%= @user.person_forename %>,</p>

<p>The batch that you submitted for processing failed to process. Please contact your coordinator for further information.</p>

<p><%= link_to "Review details", freereg1_csv_file_path(@batch), method: :get %></p>

