

<p><%= @userid.person_forename %>:</p>

<p>We are sorry but the file submitted was not processed. The reason is <%= "#{@message}"%> <br>

If you do not understand the reason please ask your coordinator for assistance.</p>

<p> The FreeREG Team</p>

