

<p><%= @user.person_forename %>,</p>

<p>The batch that you submitted for processing has been completed successfully!</p>

<p><%= link_to "Review details", freereg1_csv_file_path(@batch), method: :get %></p>

