<p><%= @userid.person_forename %>:</p>
<p>We are sorry but the records in the file were not incorporated into the database. The processing log follows and should contain a reason.</p>
<%= @message.html_safe%>
<% if @appname.downcase == 'freereg' %>
  <p>
    If the reasons are header errors you must correct the original file and upload the corrected version into the system</p>
<% end%>
<p> If you do not understand the reason please ask your coordinator for assistance.</p>
<p>The <%= @appname %> Team</p>