<p> Too large a file </p>

<p>The member <%= @user %> submitted a file <%= @file %> that was too large for normal processing <br>

Would you please review with the member how best to proceed with their processing</p>

<p> The FreeREG Team</p>