<p> Dear <%= @contact.name %>;</p>
<p>Thank you for volunteering with FreeReg at <%= @contact.contact_time.strftime("%H:%M on %F") %>. Please quote this time and date in any subsequent communication with us on the subject.</p> Your kind offer has been forwarded to a member of the team for action. 
<p>The following is the information you submitted.
</p>
<p>
<b>Body:</b>
<%= @contact.body %>
</p>
<p>
<b>Screenshot:</b>
<% if @contact.screenshot_url %>
A screenshot was attached
<% else %>
No screenshot attached.
<% end %>
</p>
<p> The FreeREG Team</p>