<p> Dear <%= @contact.name %>;</p>
<p>Thank you for volunteering with FreeReg at <%= @contact.contact_time.strftime("%H:%M on %F") %>. Please quote the following number <%= @contact.identifier %> in any subsequent communication with us on this matter.</p><p> Your kind offer and a member of the team should be in touch with you within 2 business days.</p>
<p>The following is the information you submitted.
</p>
<p>
<b>Body:</b></p>
<p>  <%= @contact.body %></p>
<% if @contact.screenshot_url.present?%>
 <p>An image is attached</p>
<% end%>
<p> The FreeREG Team</p>