<h1>The spreadsheet fields </h1>

<style scoped="scoped">
    .field h3 { font-size: 2em; font-weight: normal; }
    .field h4, .field h5 { color: #3c78b4; font-weight: normal; } /* 4.62:1 vs white */
    .field h4 { font-size: 1.8rem; padding-top: 1.5rem; margin-top: 1em; margin-bottom: 0; border-top: 1px solid #dedede; }
    .field p, .field ul { margin-bottom: 0.5rem; }
    .field ul { margin-left: 1rem; list-style-type: circle; }
    .field h5 { margin-bottom: 0; }
    .field .rule--ornament { margin-top: 28px; }
    
    .needsSpace li {margin-bottom: 14px; }
</style>

<div class="grid">
  <aside class="grid__item one-third palm-one-whole float--right">
    <div id="pageNav" class="islet islet--bordered">
      <h2 class="title-block">On this page</h2>
      <ul class="sub-nav">
        <li><a href="#guidance">Guiding principles</a> </li>
        <li><a href="#header">Header Information (columns A to D)</a> </li>
        <li><a href="#address">Schedule &amp; Address (columns E to H)</a> </li>
        <li><a href="#person">Personal Details (columns I to P)</a> </li>
        <li><a href="#job">Rank, Profession or Occupation (columns Q to S)</a> </li>
        <li><a href="#birthplace">Birthplace &amp; Sundries (columns T to X)</a> </li>
        <li><a href="#notes">Notes &amp; <q>Mynotes</q> (column Y)</a> </li>
      </ul>
    </div>
    <div class="islet islet--bordered">
      <h2 class="title-block">Abbreviations</h2>
      <ul class="sub-nav">
        <li><a href="/information-for-transcribers/abbreviations#abbrev">Appendix 1: Abbreviations Policy</a> </li>
        <li><a href="/information-for-transcribers/abbreviations#relations">Appendix 2: Relationships</a> </li>
        <li><a href="/information-for-transcribers/abbreviations#chapman">Appendix 3: Chapman Codes</a> </li>
        <li><a href="/information-for-transcribers/abbreviations#occupation">Appendix 4: Occupation Abbreviations</a> </li>
      </ul>
    </div>
    <div class="islet islet--bordered">
      <h2 class="title-block">Transcriber Help</h2>
      <ul class="sub-nav">
        <li><a href="/information-for-transcribers">Information for transcribers</a> </li>
        <li><a href="/information-for-transcribers/abbreviations" title="Essential abbreviations used in transcription and how best to abbreviate">Abbreviations</a> </li>
        <li class="active"><a href="/information-for-transcribers/the-spreadsheet-fields" title="This page">The spreadsheet fields</a> </li>
      </ul>
    </div>
  </aside>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="lead">For the database to be fully searchable, we all need to record the census information in the same way. This page has the details of what to put where in your transcription. It also includes some general principles and information on the abbreviations that we need to use.</p>

    <h2 id="guidance">The guiding principles of transcribing</h2>
    <h3>Work as quickly as possible</h3>
    <p>Without sacrificing typing accuracy, get each transcription done as quickly as possible, recording difficult to read entries as your best guess. Behind you will be a Proofreader who will go through your transcription record by record and attempt to resolve any problems. Behind them is a Validator. So two more, experienced people will get to look at those difficult to read entries.</p>
    <p>Having said that, it is also important to pace yourself: pause before you actually feel tired; get up from your computer and do something else for a while.</p>
    
    <h3>The <q>as is</q> rule</h3>
    <p>The general rule is to transcribe <q>as is</q>, including spelling mistakes and other errors by the enumerator. The task is to take the information that is hand written on the census page and set it out so that it can be stored and searched in a database. The researcher will then interpret the data, not us. However tempting it may be to <q>correct</q> what the enumerator has written, it is dangerous to presume that we can know for certain what the entry should have been.</p>
    <p>There are a few specific exceptions to this rule which will be described below. These are mainly to do with standardising the way the data is recorded.</p>
    <p class="push-half--bottom">The main exceptions to the <q>as is</q> rule are:</p>
    <ul class="needsSpace">
      <li><strong>Expand all dittos:</strong> Enumerators often used <q>ditto</q>, or <q>do</q> or <q> <sub style="font-size: 1em;">''</sub> </q> to indicate that an entry such as surname should be the same as the one above. While this works on the written page, it does not work in a database where the record for every individual has to stand alone. So always type the entry in full.</li>
      <li><strong>Abbreviate where necessary:</strong> Because there are limits to the length of each field in the database, abbreviations may be necessary. See the lists of standard abbreviations in the Appendices, including the <a href="/information-for-transcribers/abbreviations#abbrev">Abbreviations policy</a> for details.</li>
      <li><strong>Expand known abbreviations</strong>, for example for <a href="/information-for-transcribers/abbreviations#occupation">common occupations</a>: Enumerators were instructed to abbreviate common occupations for the 1841 census. Thus “FS” was used for “Female Servant”, “J” for “Journeyman” and so on. Some enumerators continued to use these on later census returns. Where these are recognised abbreviations, they should be entered in full.</li>
      <li><strong>Do not use a <q>?</q>
</strong> in any field other than Y, Notes. In other words, do not use a question mark for something that you cannot read or where a place of birth or a surname, for example, is recorded as “unknown” or “NK” or anything similar. The only exception to this is that the Notes field can contain a <q>?</q> to indicate a doubt about an entry.</li>
      <li><strong>Do not enter any special characters</strong>, such as fractions, accented letters or similar. These could disrupt the search and lead to a record not being found by Researchers.</li>
    </ul>
    <h3>Use lower case</h3>
    <p>We suggest that you type your entries in lower-case letters, to save keystrokes and so time: the appropriate capital (upper-case) letters will be put in automatically before your file becomes part of the database. The only exception is the <em>Notes field</em> (column Y): if your note is intended for the database, please type capital letters where appropriate.</p>
    <h3>Duplicate and blank pages</h3>
    <p>If you are sure that you have received two copies of the same page, then only transcribe the first. Similarly, if an enumerator has left a page blank, do not record anything.</p>
    <h3>Entering a hyphen</h3>
    <p>If you find that entering (only) a hyphen in a cell does not work as expected, enter instead as <strong>'-</strong> (single-quote hyphen).</p>
    <h3>Save regularly</h3>
    <p>We recommend that you save your spreadsheet regularly: at the end of each page is a good habit. If you work down the columns (rather than across the rows), take the opportunity to check that the column entries are complete down to the last person on a page.</p>
    <h3>Learn the lingo</h3>
    <p>Spreadsheets have rows and columns: these are temporary and are transformed, in the database, to records and fields respectively. We sometimes use the sets of terms interchangeably: fields and columns are essentially the same, as are records and rows.</p>
    <div class="push--bottom text--right">Return to <a href="#pageNav">On this page</a> </div>
    <hr class="rule rule--ornament" />
  </div> 

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole field">
    <h2>The fields in detail</h2>

    <div id="header">

      <h3>Header Information</h3>

      <h4>Field A: Civil Parish</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>An entry in this column is <strong>required</strong> and can be up to 20 characters</li>
      </ul>
      <h5>Guidance:</h5>
      <p>Look for this at the top-left of each census page.</p>
      <p>Do not confuse the Civil Parish with the <em>Ecclesiastical Parish</em> which you may find at the top-right of the census page.</p>
      <h5>Guidance for Shipping returns:</h5>
      <p>If the port where the return was handed in is known, then enter the name of that port and the relevant county.  If the port where the return was handed in is not known, then enter the name of the port and the county where the return was issued.</p>
      <p>In either case the required format is the port name followed by the Chapman County Code, as in “Fraserburgh ABD”.</p>
      <h5>Guidance for Scotland:</h5>
      <p><strong>From 1851</strong> the Ecclesiastical Parish or <em>quoad sacra</em> parish, may be shown at the top of the page. Although this is not required at the transcription stage, it is required at the proofreading stage: you can help the Proofreader by leaving a note, in <a href="#notes">column Y</a>, at the start and end of each <em>quoad sacra</em> parish.</p>
      

      <h4>Field B: Enumeration District</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>An entry in this column is <strong>required</strong> and can be up to 3 numerals plus an optional suffix, <strong>###a</strong>
</li>
        <li>The default entry is “0” (zero)</li>
      </ul>
      <h5>Guidance:</h5>
      <p>This will be found on the first of the introductory pages to each Enumeration District (ED). If there is no identifiable ED number then enter “0” (zero). Note that the first District of a Census Piece may not necessarily be ED 1.</p> 
      <p>If there is a letter after the ED number on the introductory page, then enter this too.</p>
    
      <h5>Guidance for Institutions and Shipping Returns:</h5>
      <p>The returns for institutions and shipping usually come at the end of an Enumeration District, and appear in a different format without an ED number. In this case the entry in column B should take the form <strong>0#n</strong> where <strong>n</strong> is taken from the following list:</p>
      <ol>
        <li> Barracks &amp; Military Quarters</li>
        <li> HM Ships, at Home</li>
        <li> Workhouses &amp; Pauper Schools</li>
        <li> Hospitals (Sick, Convalescent, Incurables)</li>
        <li> Lunatic Asylums</li>
        <li> Prisons</li>
        <li> Certified Reformatory &amp; Industrial Schools</li>
        <li> Merchant Vessels &amp; Lighthouses</li>
        <li> Schools</li>
      </ol>
      <p>Thus, a workhouse would be entered as “0#3”. Note the need for the literal # sign! (On a Mac, this can be typed by holding down alt and 3 together.)</p>
      <p>In the unlikely case of an institution being listed, for example, as “Enumeration District 2a”, the ED number would be entered in the form <strong>2#n</strong>, where <strong>n</strong> is again taken from the list above. If the type of Institution is not listed, then <strong>n</strong> is “0” (zero).</p>
      <p>The returns for institutions and shipping should always be&#160;transcribed in the same sequence as they appear on the census page.</p>
      <p>Some Institutions used a booklet in which each page has the individual lines numbered from 1 to 25: do not type these numbers anywhere.</p>
      

      <h4>Field C: Folio Number</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>An entry in this column is <strong>required</strong> and can be up to four numerals plus an optional suffix, <strong>####a</strong>
</li>
        <li>The default entry is “0” (zero)</li>
      </ul>
      <h5>Guidance:</h5>
      <p>The Folio Number is hand-stamped at the top right-hand corner of every odd-numbered page.</p>
      <p>Folio Numbers start from 1 at the beginning of a Census Piece and progressively increase, regardless of changes to the Enumeration District.</p>
      <p>Sometimes pages were missed (although the number may have been pencilled in later) or even whole books may not have been numbered. Suffix letters are very rare. Where a Folio Number is missing from its normal position, then enter “0” (zero) against the first line of the un-numbered folio and do not make another entry until a Folio Number re-appears.</p>
      <h5>Guidance for Shipping Returns:</h5>
      <p>If the return does not have folio numbering please enter “0” (zero) against the first line of the return.</p>
      <h5>Guidance for Scotland:</h5>
      <p>Folio Numbers were not used in Scotland.  The <strong>1841</strong> Census used book numbers and the <strong>1851</strong> Census used volume numbers. Any book or volume number should be recorded in column C (which is otherwise set to zero).  For 1841, the book number will normally be found at the bottom of the first page of each Enumeration District.  It is the circled number at the bottom, under the ED number, but was entered in pencil and is often quite faint. If it is not there, then it may appear on the index card above the first page. For 1851, the volume number is listed on the index card prior to the start of each parish.</p>
      <p>No other reference numbers appear in either the <strong>1861</strong> or <strong>1871</strong> Censuses.  For these years please enter “0” (zero) in column C against the first line of each Enumeration District.</p>
      

      <h4>Field D: Page Number</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>An entry in this column is <strong>required</strong> and can be up to four numerals, <strong>####</strong>
</li>
        <li>The default entry is “0” (zero)</li>
      </ul>
    
      <h5>Guidance:</h5>
      <p>The Page Number is pre-printed on each census page.</p>
      <h5>Guidance for Shipping Returns:</h5>
      <p>There may be no page numbers, in which case enter “0” (zero).</p>
      <h5>Guidance for Scotland:</h5>
      <p>The page numbers are generally in the top centre for 1841 and 1851, and at the top alternating left and right for 1861 and 1871.</p>

    </div> 
    <div class="landmark text--right">Return to <a href="#pageNav">On this page</a> </div>
    <hr class="rule rule--ornament" />

    <div id="address">
      <h3>Schedule &amp; Address Details</h3>

      <h4>Field E: Schedule Number</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>An entry in this column is <strong>required</strong> and can be up to 3 numerals plus an optional suffix, <strong>###a</strong> </li>
        <li>The default entry is “0” (zero)</li>
      </ul>
      <h5>Guidance:</h5>
      <p>This is the first column on most census pages.  Schedule Numbers were used to identify the start of each separate household.  Enter the schedule number on the first line of each new household.  A suffix should be entered where it is present on the Census page, exactly as it is on the page.</p>
      <p>In the FreeCEN process, column E provides the ‘trigger’ to recognise each separate household or building.  A value <em>must</em> be entered in Column E for every new household, and “0” (zero) should be entered where, for whatever reason, the enumerator failed to enter a schedule number for a new household.  For instance, where the Enumerator has entered two separate families, each with its own Head, under a single schedule number, a zero should be entered on the first line of the second family.</p>
      <p>Please note that Schedule numbers were not used in the <strong>1841</strong> census, and “0” (zero) should be entered on the first line of each household.</p>
      <p>All Schedule Numbers must be accounted for: where the enumerator has, for whatever reason, omitted a schedule number, enter that number in Column E, and put <strong>n</strong> in Column H.</p>
      <p>Enter zero in Column E against each house recorded by the enumerator as uninhabited or being built.  Sometimes the enumerator entered the number of such buildings on the same line as the next household.  These must be entered separately in the transcription, with one line for each such building. For further guidance on how to transcribe such entries, please refer to <a href="#H">column H</a> below.</p>
      <p>If an enumeration contains more than 999 numbered schedules, then enter the sequence of schedule numbers as “999”, “000!”, “001!”, “002!”, etc. (When the file is uploaded to the database, a bit of software magic will convert such entries to the appropriate schedule numbers).  If any suffix is attached to such a schedule number, this should be explained as a note in column Y. Don't enter (for example) “002!a”.</p>
      <h5>Guidance for Institutions and Shipping Returns:</h5>
      <p>Schedule numbers were not used in these returns. Treat an Institution as a single household (even if a very large one) that may contain several individuals identified as “Head”, “Wife”, etc. Simply enter “0” (zero) on the first line of the Institution.</p>  
      <p>Transcribe an Institution in the sequence that the people are recorded in the census pages. This means that it is not always possible to maintain the usual family groupings where, for example, a Lighthouse Station has the staff listed first and then the various wives and children.</p>

      <h4>Field F: House Number</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>Enter up to 4 numerals plus an optional suffix, <strong>####a</strong>, or the column may be left blank.</li>
      </ul> 
      <h5>Guidance:</h5>
      <p>House numbers may be found in the column on the census page which is associated with the street name. Enter the house number in column F on the first line of the household, but leave blank where no house number is given. House numbers were not generally recorded in the <strong>1841</strong> census.</p>
      <p>Where house numbers are compounded (as in “23 &amp; 24”, “1–4”, “2½” or “2 Back”), enter only the first number (or the integer part) in this field, and then type the full address in column G.  For example, if the address is recorded as “114 &amp; 116 High Street”, then put the House Number in column F as “114” and put the Address in column G as “114 &amp; 116 High St”.&#160; &#160;or if “2½ Colliery Row”&#160; “2”&#160; would be entered in this column and “2.5 Colliery Row” in column G.</p>

      <h4>Field G: Street or Road Address</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>An entry in this column is <strong>required</strong> and can be up to 30 characters</li>
        <li>The default entry is “-” (a hyphen)</li>
      </ul>
      <h5>Guidance:</h5>
      <p>Copy the address as recorded — even if it looks wrong! The address should be entered only once, on the first line of the household, even where the household is split over two pages. Where the address is given only at the top of the second page, then move the address to the beginning of the household.</p>
      <p>If no address is recorded, then enter “-” (a hyphen). Do not assume that the address is necessarily the same as for the previous household, unless a repeater word or mark (such as “ditto” or “do”) has clearly been recorded.</p>
      <p>Transcribe any supplementary information after the street name, as in “High&#160;Street, Anchor Hotel”.  Where necessary for reasons of lack of space, you may use abbreviations such as “St”, “Rd”, “Terr”, etc. Enter any additional information that will not fit here into <a href="#notes">column Y</a>.</p>
      <h5>Guidance for Shipping Returns:</h5>
      <p>Enter the address for a Shipping Return as the vessel name in brackets (parentheses) followed by the home port, the port of origin, if given, e.g. “(Prince Consort) Aberdeen”.</p>
      <p>If space is short, you may omit the “HMS” part of a Royal Navy vessel name: the use of “0#2” in column B will indicate that it is a Royal Navy vessel.</p>
      <h5>Guidance for Scotland:</h5>
      <p>In <strong>1841</strong>, if an address is written at the top of the page, and only at the top, then it can be used for the other households on that page.</p>
      <p>From <strong>1851 onwards</strong>, an address can be copied for other households in the same building, but not between buildings unless the enumerator has used a repeater word or mark (such as “ditto”). If the next building has no address given, enter “-” (a hyphen).</p>

      <h4 id="H">Field H: Query or Special Use</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>Enter a single character (<strong>x</strong>, <strong>u</strong>, <strong>b</strong>, <strong>n</strong>, or <strong>v</strong>), or leave the column blank. Any other entry will be rejected in the FreeCEN process as invalid.</li>
      </ul> 
      <h5>Guidance:</h5> 
      <p>The most frequently used character is <strong>x</strong> and this should be entered in column H where you have doubts about the interpretation of any of the columns E, F or G. Write a brief comment in <a href="#notes">column Y</a> to explain the nature of your doubts, e.g. “?house number”.</p>
      <p>Alternatively, one of the characters <strong>b</strong>, <strong>u</strong>, <strong>n</strong>, or <strong>v</strong> may be entered in column H.  If any one of these characters is entered in column H, then any information entered in columns I to X (but not in column Y) will be ignored.</p>
      <ul>
        <li>Enter <strong>b</strong> if the enumerator has recorded a house being built</li>
        <li>Enter <strong>u</strong> if the enumerator has recorded an uninhabited house</li>
        <li>Enter <strong>v</strong> if the enumerator indicates that the family are away or visiting</li>
        <li>Enter <strong>n</strong> to show that a Schedule Number is missing, one line for each unused number.  This proves the omission to be in the census return, and not made at the transcription!</li> 
        <li>Also enter <strong>n</strong> in the case of deleted addresses, as for example where a note on the census page states that “Three schedules numbered for the Light House not required, being provided with a schedule from the Trinity Board”. In this instance, type the address as “Light House”, put <strong>n</strong> in column H and the note in column Y.</li>
      </ul>
      <p>Please note that where an enumerator has grouped vacant premises as a single entry (such as “4b” or “2u”), each of the premises must be treated as a separate household with its own schedule number, even though this may be zero.  Sometimes the enumerator started the next household on the same line as vacant premises. You should always enter them on separate rows.</p>
      <p>Similarly, vacant premises cannot occur within a household, for instance where the enumerator may have added “1u”, having previously forgotten it.  Normally, you should enter the vacancy immediately after the household with residents.</p>
      <h5>Guidance for Shipping:</h5>
      <p>Occasionally you may find a (foreign) ship that is named but with no crew details. Enter <strong>v</strong> in column H and put any extra information in the Notes field: for example, the (Louise Frederick) came from Norway, had five crew on board who were not named, nor were any personal details provided — you enter “(Louise Frederick) Norway” in column G, “v” in H, and “five crew, unnamed” in Y.</p>
    </div>
    <div class="landmark text--right">Return to <a href="#pageNav">On this page</a> </div>
    <hr class="rule rule--ornament" />
    
    <div id="person">
      <h3>Personal Details</h3>

      <h4>Field I: Surname</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>An entry in this column is <strong>required</strong> and can be up to 24 characters</li>
        <li>The default entry is “-” (a hyphen)</li>
      </ul>

      <h5 class="guide">Guidance:</h5>
      <p>Copy the Surname as it appears on the census page — even if it looks wrong, or is known to be wrong!  Any repeater word or mark (such as “ditto” or “do”) must be expanded in full.</p>
      <p>You <em>must</em> enter something in column I for every person in a household. If a surname is not given, enter “-” (a hyphen). If the enumerator has put “unknown” or something similar, transcribe as “(Unknown)”.</p>
      <p>Please note that the Surname is the field which researchers will generally be searching on, so you should always use your best endeavours to interpret correctly what is written on the census page.  If it is unclear (because it is poorly written, smudged or covered by marks) or where it is uncertain (because the individual letters are difficult to interpret), then raise a query in <a href="#K">column K</a> to bring it to the attention of the Proofreader and put an explanatory note in <a href="#notes">column Y</a>.</p>

      <h5>Guidance for Scotland:</h5>
      <p>Sometimes, the Scottish census will record two surnames for a wife.  Enter both of the names, separated by a space, followed by a /, followed by a space, as in “murray&#160;/&#160;smith”. Where it is clear, enter the married surname first.</p>

      <h4>Field J: Forename(s)</h4>

      <h5>Requirements:</h5>
      <ul>
        <li>An entry in this column is <strong>required</strong> and can be up to 24 characters</li>
        <li>The default entry is “-” (a hyphen)</li>
      </ul>

      <h5 class="guide">Guidance:</h5>
      <p>Copy forenames as they appear on the census page — even if they look wrong, or are known to be wrong!  Type abbreviated names as recorded: do not, for example, expand “Thos” to “Thomas” or “Margt” to “Margaret”. Do not put a “.” after an abbreviated forename.</p>
      <p>Allow one space between any names, initials, or words.  Where necessary for reasons of lack of space, you may reduce later forenames to an initial, but always spell the first name as recorded. Add a note of any abbreviations you make in <a href="#notes">column Y</a>.</p>
      <p>You <em>must</em> enter something in column J for everyone in a household. Where no forename has been recorded, you should enter “-” (a hyphen) in column J.</p>
      <p>Type any titles after forenames and enclose in brackets (parentheses): for example, “Mary (Mrs)”, “Charles (Rev)”, “Wm (Dr)”, “John (Prof)”, “Elizabeth (Lady Chalfont)”, etc.</p>
      <h5>Guidance for Scotland</h5>
      <p>If the enumerator has put “unbaptised”, or “infant”, or not recorded a name for an child under one year, put “(Unnamed)”.</p>

      <h4 id="K">Field K: Query</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>Enter a single character (<strong>x</strong>), or leave the column blank</li>
      </ul>
      <h5>Guidance:</h5>
      <p>Enter an <strong>x</strong> if you have doubts about the interpretation of the names in either field I or field J. Write a brief comment in <a href="#notes">field Y</a> to explain the nature of your doubt, for example, “?forename”.</p>

      <h4>Field L: Relationship to Head</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>Enter up to 6 characters</li>
        <li>The default entry is “-” (a hyphen)</li>
      </ul>

      <h5>Guidance:</h5>
      <p>Enter the relationship recorded on the census page if it is no longer than six characters.  If it is longer, then refer to the table of standard abbreviations in <a href="/information-for-transcribers/abbreviations#relations">Appendix 2</a>. If there isn't a standard form of abbreviation in the table, then use similar principles described in our <a href="/information-for-transcribers/abbreviations#abbrev">Abbreviations policy</a> to create one, and note the relationship in full in <a href="#notes">column Y</a>.</p>
      <p>If no relationship is shown on the census page, enter “-” (a hyphen).  Please note that the <strong>1841</strong> Census did not record this information, and column L can be left blank.</p>

      <h4>Field M: (Marital) Status</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>The entry can be one character (<strong>m</strong>, <strong>s</strong>, <strong>u</strong> or <strong>w</strong>)</li>
        <li>The default entry is “-” (a hyphen)</li>
      </ul>
      <h5>Guidance:</h5>
      <p>Enter the marital status recorded on the census page as follows:</p>
      <ul>
        <li>Enter <strong>m</strong> where the status is indicated as married</li>
        <li>Enter <strong>s</strong> where the status is indicated as single (1891 only)</li>
        <li>Enter <strong>u</strong> where the status is indicated as unmarried (1851, 1861 and 1871)</li>
        <li>Enter <strong>w</strong> where the status is indicated as widowed</li>
      </ul>
      <p>If no status is recorded, enter “-” (a hyphen). The <strong>1841</strong> census did not record this information, and column M can be left blank.</p>

      <h4>Field N: Gender Male/Female</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>An entry in this column is <strong>required</strong> and is a single character (<strong>m</strong> or <strong>f</strong>)</li>
        <li>The default entry is “-” (a hyphen)</li>
      </ul>
      <h5>Guidance:</h5>
      <p>The enumerator was required to enter the age of a person in one of two columns on the census page, headed Male and Female.  FreeCEN transcribes this as a single letter, <strong>m</strong> or <strong>f</strong>.  Where the age is missing, you should normally enter a hyphen.</p>
      <p>You should generally transcribe the gender according to the column in which the enumerator has entered the age, even where this appears to be wrong.  You can leave a note of explanation in <a href="#notes">column Y</a>. However, where the relationship to the head of household makes the gender clear (for instance, son or daughter), then you should enter the gender that matches that relationship.</p>

      <h4>Field O: Age</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>An entry here is <strong>required</strong> and can be up to 3 numerals plus a single character (<strong>y</strong>, <strong>m</strong>, <strong>w</strong> or <strong>d</strong>), <strong>###a</strong> </li>
        <li>Do not put a space between the number and the letter</li>
      </ul>
      <h5>Guidance:</h5>
      <p>Enter the age as shown on the census page, applying the following rules:</p>
      <ul>
        <li>Where the age is shown in years, enter the number of years. There is no need to enter <strong>y</strong> for years, as this will be automatically assumed in the FreeCEN process.  Any number between 1 and 120 will be accepted.  Ignore any fractions of years over 2 years, and add the further detail in column Y.  Any fractions of less than 2 years should be converted to months. For any age in years that includes a fraction, put the whole number in field O, and the full entry in field Y: for example, for a stated age of 7½, put “7” in field O and “Age 7.5” in field Y.</li>
        <li>Where the age is shown in months, enter the number followed by <strong>m</strong>. Any number between 1 and 24 will be accepted.  Where the age in months exceeds 24, round the figure down to years, and add the further detail in column Y.</li>
        <li>Where the age is shown in weeks, enter the number followed by <strong>w</strong>. Any number between 1 and 20 will be accepted.</li>
        <li>Where the age is shown in days, enter the number followed by <strong>d</strong>. Any number between 1 and 30 will be accepted.</li>
        <li>If the age is shown as “less than 1 month”, enter as “1m”.</li>
        <li>If no age is shown, or the figure is unreadable, enter <strong>999</strong>. It is not acceptable to enter “0” (zero) or “-” (a hyphen).</li>
        <li>Note that ages of less than 14 years for males and less than 12 years for females are not acceptable where the marital status is entered as <strong>m</strong> (married) or <strong>w</strong> (widowed).  If these limits are breached, you will need to enter the age as given, flag, and leave a note in column Y.</li>
        <li>Note also that ages of less than 2 years or more than 17 years are not acceptable where the occupation of the person is entered as scholar.  Outside these limits, you will need to enter the transcription of the occupation as “student (orig: scholar)”.</li>
      </ul>

      <h4>Field P: Query</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>The entry may be a single character (<strong>x</strong>), or the column may be left blank</li>
      </ul>
      <h5>Guidance:</h5>
      <p>Enter an <strong>x</strong> in column P where you have doubts about the interpretation of any of the columns L, M, N or O. Write a brief comment in <a href="#notes">column Y</a> to explain the nature of your doubts, e.g. “?age”.</p>
    </div>
    <hr class="rule rule--ornament" />

    <div id="job">
      <h3>Rank, Profession or Occupation</h3>

      <div class="push--bottom"> Return to <a href="#index">On this page</a> </div>

      <h4>Field Q: Occupation</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>An entry can be up to 30 characters (but only 24 in 1891), or it can be left blank</li>
      </ul>
      <h5>Guidance:</h5>
      <p>The general approach to transcribing occupations should be to copy what appears on the census page.  However, census enumerators were given permission to abbreviate a number of common occupations, and it is FreeCEN policy to expand these to assist the researcher where we can be sure of the meaning intended. The list is in <a href="/information-for-transcribers/abbreviations#occupation" title="Abbreviations">Appendix 4</a>.  Also, where the enumerator has used a repeater word or mark (such as “ditto” or “do”), the occupation must be expanded in full.
</p>
      <p>Some descriptions of occupations can be lengthy, and it may then be necessary to abbreviate certain words to keep within the 30 characters allowed.  Always try to ensure that such abbreviations are unambiguous, using the principles demonstrated in <a href="/information-for-transcribers/abbreviations#abbrev">Appendix 1</a>, and if necessary leave a note of explanation in <a href="#notes">column Y</a>. Alternatively, simply split the entry between this field and the Notes field.</p>
      <p>The <strong>1891 Census</strong> introduced additional columns to indicate whether a person was an employer, employee or neither.  This information is transcribed separately in column R (see below) but, as a consequence, the number of available characters to transcribe the occupation in column Q is reduced from 30 to 24.  This may mean that the occupation has to be more frequently abbreviated, but please still ensure that such abbreviations are unambiguous and, if necessary, supported by a note of explanation in column Y.</p>
    
      <h4>Field R: Employment Category</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>Enter a single character (<strong>e</strong>,<strong> r </strong>or<strong> n</strong>), or leave the column blank</li>
      </ul>

      <h5>Guidance:</h5>
      <p>The employment category only appears in the <strong>1891</strong> Census.  Otherwise column R may be left blank.</p>
      <p>The enumerators were asked to put a cross in one of three columns to indicate the employment status of a person.  This information should be transcribed as follows:</p>
      <ul>
        <li>Enter <strong>r</strong> when the enumerator placed a cross in the column headed Employer</li>
        <li>Enter <strong>e</strong> when the enumerator placed a cross in the column headed Employed</li>
        <li>Enter <strong>n</strong> when the enumerator placed a cross in the column headed Neither Employer nor Employed</li>
        <li>If a person is identified as both Employer and Employee, then enter <strong>r</strong>
</li>
        <li>Leave column R blank if all three columns are empty</li>
      </ul>

      <h4>Field S: Query</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>Enter a single character (<strong>x</strong>), or leave the column blank</li>
      </ul>
      <h5>Guidance:</h5>
      <p>Enter an <strong>x</strong> in column S where you have doubts about the interpretation of either of the columns Q or R. Write a brief comment in <a href="#notes">Column Y</a> to explain the nature of your doubts, e.g. “?occupation”.</p>
    
    </div> 
    <div class="landmark text--right">Return to <a href="#pageNav">On this page</a> </div>
    <hr class="rule rule--ornament" />

    <div id="birthplace">
      <h3>Birthplace &amp; Sundries</h3>

      <h4>Field T: Where Born County</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>An entry in this column is <strong>required</strong> and takes the form of a three-letter Chapman Code</li>
      </ul>
      <h5>Guidance:</h5>
      <p>The entry in column T must be taken from the list of Chapman Codes in <a href="/information-for-transcribers/abbreviations#chapman">Appendix 3</a>.  Enter the county (or country) as it appears on the census page, even where it may appear to be wrong.  Where no county is recorded, you should only enter one if the <em>Place</em> of birth leaves no doubts. Remember that many British place names appear in more than one county.</p>
      <p>Where the place of birth is outside the British Isles:</p>
      <ul>
        <li>Enter “OVB” if the person is stated to be a British subject <em>or</em> was born in a country which formed part of the British Empire at the time [insert link]</li>
        <li>Enter “OVF” if the person is not stated to be a British subject <em>and</em> was born in any other foreign country</li>
      </ul>
      <div class="islet islet--bordered"><p>The <strong>British Isles</strong> of the 19<sup>th</sup> Century consisted of England, Ireland, Scotland, Wales, the Isle of Man and the Channel Isles: naturally, none of these places counts as overseas for any of the censuses we are transcribing.</p> </div>

      <p>Where no county or country is shown, or where there is any doubt about what should be entered, then enter “UNK”.  If necessary, please add a note of explanation in column Y.</p>
      <p>Special rules apply for the <strong>1841</strong> Census, where the questions asked were whether the person was born in the same county, and if not whether the person was born in another country of the British Isles or in Foreign Parts.  The rules to be applied for the 1841 Census are as follows:</p>
      <ul>
        <li>If born in the same county, enter the Chapman Code for that County</li>
        <li>If born out of the county, enter “OUC”</li>
        <li>If born in another country of the British Isles, enter the Chapman Code for that country</li>
        <li>If born in Foreign Parts, enter “OVF”</li>
        <li>If the enumerator recorded another specific county, then enter that Chapman Code</li>
        <li>If there was no indication of place of birth or it is unclear what should be entered, then enter “UNK”</li>
      </ul>
    
      <h4>Field U: Where born Place</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>An entry in this column is <strong>required</strong> and can be up to 20 characters</li>
        <li>The default entry is “-” (a hyphen)</li>
      </ul>
      <h5>Guidance:</h5>
      <p>Enter the place of birth as it is written on the census page.  Do not attempt to correct or modernise the spelling of place names. If you believe the spelling should be corrected, then enter an x in column V and leave a note in column Y.  If you have difficulty reading or interpreting the writing, then you can use the <a class="go" href="http://www.gazetteer.org.uk" title="http://www.gazetteer.org.uk">Gazetteer of British Place Names</a>, the <a class="go" href="https://www.genuki.org.uk/gazetteer" title="https://www.genuki.org.uk/gazetteer">GenUKI gazetteer</a> or search on <a class="go" href="http://www.visionofbritain.org.uk/" title="http://www.visionofbritain.org.uk/">Vision of Britain</a>. For place names in Wales, the <a class="go" href="https://historicplacenames.rcahmw.gov.uk/" title="https://historicplacenames.rcahmw.gov.uk/">RCAHMW historic place names site </a> and for places in Scotland, <a class="go" href="https://scotlandsplaces.gov.uk/search/alphabet" title="https://scotlandsplaces.gov.uk/search/alphabet">Scotland's Places</a> could be helpful. We also have a <a href="<%= asset_path('7g0q70etya_CHAPMAN_CODES_AND_POB.pdf') %>" title="Chapman Codes And PoB">pdf of place names</a>, which you can <a href="<%= asset_path('d9nhe59xc_Using_CHAPMAN_CODES_Genie_FIND_facility_in_the_PDF.pdf') %>" title="Using Chapman Codes (Genie) Find Facility in the PDF">search using these instructions</a>.</p>
      <p>If no place of birth is indicated (other than possibly a county or country, for which you enter the Chapman Code in column T), then enter “-” (a hyphen).  The <strong>1841</strong> Census did not record the place of birth, and column U can be left blank.</p>
      <p>Avoid abbreviating wherever possible.  Where the length of the birthplace makes this unavoidable, rearrange the birthplace to make sure that the essential information can be written in full with the principal town at the start of the line.  For instance, a birthplace recorded as “Notre Dame, Paris, France” (25 characters) should be entered as “OVF” in column T and as “Paris, Notre Dame” (17 characters) in column U.</p>
    
      <h4>Field V: Query</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>Enter a single character (<strong>x</strong>), or leave the column blank</li>
      </ul>
      <h5>Guidance:</h5>
      <p>Enter an <strong>x</strong> in column V where you have doubts about the interpretation of either of the columns T or U. Write a brief comment in <a href="#notes">column Y</a> to explain the nature of your doubts, e.g. “?birthplace”.</p>
    
      <h4>Field W: Disability</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>Enter up to 6 characters, or leave the column blank</li>
      </ul>
      <h5>Guidance:</h5>
      <p>Enter the information shown on the census page if it is no longer than six characters. If it is longer, then abbreviate as necessary and enter the full wording in <a href="#notes">column Y</a>.</p>
      <p>This information was not recorded in the <strong>1841</strong> Census, and column W can be left blank.</p>
    
      <h4>Field X: Welsh Spoken</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>Enter a single character (<strong>w</strong>, <strong>e</strong> or <strong>b</strong>), or leave the column blank</li>
      </ul>
      <h5>Guidance:</h5>
      <p>This information was only collected in the <strong>1891</strong> Census in Welsh Counties. Otherwise, column X may be left blank. Where appropriate, enter the information on the census page as follows:</p>
      <ul>
        <li>Enter <strong>w</strong> if only Welsh spoken</li>
        <li>Enter <strong>e</strong> if only English spoken</li>
        <li>Enter <strong>b</strong> if both Welsh and English spoken</li>
        <li>Leave column X blank if the information was not recorded</li>
      </ul>
    
    </div> 
    <hr class="rule rule--ornament" />

    <div id="notes">
      <h3>Notes &amp; <q>Mynotes</q> </h3>
      <div class="push--bottom">Return to <a href="#pageNav">On this page</a> </div>

      <h4>Field Y: Notes</h4>
      <h5>Requirements:</h5>
      <ul>
        <li>An entry in this column can be up to 44 characters</li>
      </ul>
      <h5>Guidance:</h5>
      <p>This column is used to enter additional information which cannot be accommodated in the space available in the previous columns.  You can also use it to record the number of rooms with windows, where stated: for example, “3 rooms”. The other use of this column is for expanding on any queries you have about the entries on the census page.</p>
      <p>Any entry in this column that may become part of the database, such as a suggested alternative spelling for an address or place of birth, should include upper-case letters where appropriate.</p>
      <p>Column Y is intended for brief information or explanation of queries.  Where further explanation is required or where you need to explain several queries about a single entry, then do this in a separate file — see the next section for details.</p>
    
      <h4>mynotes.txt</h4>
      <p>Please note that this is not the only way to send additional notes about your transcription — be guided by your Coordinator.</p>
      <p>You will find it useful to make a plain text file named <strong>mynotes.txt</strong> (using NotePad on Windows, or TextEdit on a Mac) into which you can write any extended comments that could help the Proofreader. Have the file open when you transcribe so that it is always ready to use. Rename the file with the Piece Number, so your Proofreader and Validator can easily identify it among the very many mynotes.txt files that they will get.</p>
      <p>Please identify the record you are explaining by quoting the ED, Folio and Schedule numbers as well as the person's name. Unfortunately, while it would be easier to quote the row number from your spreadsheet, this will have no meaning once your file has been processed, ready for Proofreading.&#160;</p>
      <p>Send your mynotes.txt file to your Coordinator with your completed spreadsheet.</p>
    </div> 

  </div>
</div>
