<h1>DRAFT Richard&#39;s test page</h1>

<h2>Overview</h2>
<div>This page is an attempt to understand what help Refinery gives the author. (I highlighted this line and pressed the 'P' button, but it isn't a paragraph.)</div>
<div><ul><li>first point</li>
<li>second point</li>
</ul>
<div><ol><li>first numbered point: (this list is in a div which is nested <em>within</em> the div containing the first list)</li>
<li>second numbered point</li>
<li>third numbered point</li>
</ol>
</div>
</div>
<table><caption>A test table (table is not placed within a div at all)</caption>
<tbody><tr><td>row 1 cell 1</td>
<td>row 1 cell 2</td>
</tr>
<tr><td>row 2 cell 1</td>
<td>row 2 cell 2</td>
</tr>
<tr><td>row 3 cell 1</td>
<td>row 3 cell 2</td>
</tr>
</tbody>
</table>
<p>(Once you put a table in at the end of a page, you can't get beyond it in the visual editor: you are stuck in the last cell of the table.)</p>
<p>xxx (once you have put in a 'P' element, newline at the end of it automatically triggers a new paragraph element).</p>
<p>However, the visual editor isn't too fussed about adding 'div' elements - they appeared at the start but not once I started adding specific paragraph and list elements.</p>
<p>This is a <a href="/cms/about/draft-release-notes" title="DRAFT Release notes">link to Release Notes</a>
</p>