<h1>DRAFT - Missing or wrong Scans - (not needed covered elsewhere)</h1>

<h2 id="Top">Access to Scans</h2> 
<p>The objective of FreeBMD is to transcribe the Office for National Statistics (ONS) Index into an electronic form and to provide access to that data via the internet. This transcription is done by a world wide team of volunteers, many of whom download scans from FreeBMD in order to transcribe the contents. Alternative sources are microfiche and local paper copies.
</p>
<p>Where an entry has been transcribed from a scan held by FreeBMD we provide a facility for researchers to view the scan (or scans) from which the entry was transcribed. You should appreciate, however, that providing this acility is not part of the core objective of FreeBMD and therefore we provide it only to the extent that it does not detract from the effort expended on achieving the core objective. In particular where an entry does not link to the correct scan we do not have a team correcting such links, rather we rely on users finding the correct scan themselves and recording this fact for the benefit of others. Please see <a href="#wrongscans">What to do if the wrong scan is found</a>.
</p>
<p>This help file describes in more detail how this works and some of the issues that surround the facility.
</p>
<a href="#Top">Top of Page
</a>
<h2 id="tsandcs">Terms and Conditions</h2>
By using this facility you accept the following terms and conditions:
<ul>
<li>You must not re-publish images from the FreeBMD site without permission.
</li>
<li>Access to the images is only permitted through the interfaces provided by FreeBMD.
</li>
<li>FreeBMD cannot assist with installation of software necessary to disply some formats.
</li>
<li>FreeBMD is not responsible for the quality or availability of any image.
</li>
<li>FreeBMD is not responsible for the content of the scan images and does not guarantee that any particular scan image contains a specific entry.
</li>
<li>Although the image formats used are not particularly susceptable to virus infection we cannot guarantee that they are virus-free.
</li>
</ul>
<a href="#Top">Top of Page
</a>
<h2>Using the facility</h2>
<p>If a scan image is available for an entry the symbol <img src="/scanavail.gif" alt="Scan image available" /> will appear to the right of the entry in the results list and clicking on this symbol will display information about the transcription of the entry including the scan (or scans) that contain it. You can download the scan by
selecting the button corresponding to the format you wish to use and then clicking on the <strong>View the original</strong> icon. See <a href="#whichformat">below</a> for more information on the different formats.
</p>
<p>If there is more than one scan you will need to select which scan you wish to view.
</p>
<p>Having clicked on the icon to download the scan you will be presented with a window by your browser (e.g. Internet Explorer, Microsoft Edge, Firefox, etc.) that enables you to either view the scan image or copy it to your computer. The precise format of this screen depends on which browser you are using.
</p>
<p>You need to take the following into account:
</p>
<ul>
<li>FreeBMD does not presently have images available for all years and events, and some images are unclear. 
</li>
<li>We do not guarantee that any image actually contains the entry concerned (see <a href="#howitworks">below</a> for more information).
</li>
<li>We are unable to respond to queries about when any particular year or event might become available, or when clearer images might be available.
</li>
<li>Images are available in a variety of formats. You should select the format that best suits you (see <a href="#whichformat">below</a> for more information).
</li>
<li>FreeBMD cannot respond to questions about the display of the images or why the display works in a particular way, or not at all, on your computer.
</li>
<li>Due to limitations imposed by image conversion, some converted files may be very large. 
</li>
<li>Some formats may require you to install additional software.
</li>
</ul>
<a href="#Top">Top of Page
</a>
<h2 id="howitworks">The way it works</h2>
<h3>Linking</h3>
<p>When a page is transcribed information is included which indicates which scan image it was transcribed from. When the scan is requested this information is used to locate the scan image. Sometimes, however, the information that relates a page to a scan image is not correct or is missing. When the FreeBMD project started the importance of this information was not apparent and it was occasionally omitted.</p>
<p>In order to improve the accuracy of linking entries to scans we have provided a facility for researchers to provide feedback when a scan does or does not contain a particular image. This information is then used in conjunction with any transcription information to determine the scan to be displayed. See <a href="#wrongscans">here</a> for more details.
</p>
<p>It is possible that we find more than one scan for an entry. This may be correct since we do have multiple sources for some entries. Alternatively, there may be an error and one or more of the scans does not contain the entry. Where there is more than one scan we provide facilities for each of the scans to be viewed. Again 
researchers can provide feedback to improve the information we have on scans.
</p>
<h3>Multi-image scans</h3>
<p>In some cases a page was scanned as more than one image, for example one image for the top of the page and a second for the bottom of the page. In these circumstances we allow each image to be viewed. Unfortunately, we can give no guidance as to which of the images actually contains the entry.
</p>
<h3>Displaying the image</h3>
<p>The image can be downloaded in one of four formats, GIF, JPEG, TIFF and PDF.Although the scan is held in only one format we convert it to the one requested. Since any conversion process can result in loss of definition, where more than one format is equally acceptable there is some benefit in choosing the one that corresponds to the format in which we hold the information. This can be determined from the last three or four characters of the scan name.
</p>
<p>When you download the image your browser (Internet Explorer, Microsoft Edge, Firefox, etc.) may offer you the option of opening the image or storing it. If you choose to open it then it will be displayed without further action. If you choose to store it you can open it later with the appropriate software.
</p>
<p>The merits and issues associated with each format are given <a href="#whichformat">below</a> below.
</p>
<h3>Selecting the scan</h3>
<p>If there is only one scan image available you only have to choose the format. Where there is more than one scan image available you can select which one you wish to view. The name of the scan selected has a grey  background.
</p>
<h3 id="feedback">Feedback</h3>
<p>Where there is uncertainty that the scan(s) shown contain the entry, you are offered the option of giving feedback on which scan images do or do not contain the entry. Having viewed a scan bring the window with the information page to the front and select <strong>Confirm</strong> if the scan does contain the entry and click on <strong>Reject</strong> if it does not.
</p>
<p>If the <strong>Confirm</strong> and <strong>Reject</strong> buttons are not shown, click on the link provided and the buttons will be displayed.
</p>
<a href="#Top">Top of Page
</a>
<h2 id="wrongscans">What to do if the wrong scan is found</h2>
<p>If when you click on <strong>View the Original</strong> the scan shown does not contain the entry you should first check whether more than one scan has been shown on the Information page and, if so, try the others. For each scan you can leave feedback (see <a href="#feedback">above</a>) to help other researchers. 
</p>
<p>If none of the scans contain the entry you should next try to find the scan yourself. There is a link from the Information page to the image selection screens. This may mean that you have to look at several scans to find the right one but once you have found it you can leave feedback to <strong>Confirm</strong> that the the entry is in the image you have found. This will mean that those who look at the entry after you will be able to go straight to the right scan. Please follow the instructions on the scan selection pages.
</p>
<a href="#Top">Top of Page
</a>
<h2 id="whichformat">Which format to download</h2>
<p>We offer you the choice of four formats in which to download the image. These formats have different benefits and may be more or less suitable for your use depending on the configuration of your computer. The following table gives some guidance.</p>
<table>
<tbody><tr><th>Format</th>
<th>Definition</th>
<th>Size</th>
<th>Display</th>
</tr>
<tr><td>GIF</td>
<td>Reasonable</td>
<td>Quite large</td>
<td>Can often be displayed
in browser. Standard Windows programs and many other programs also display this format and may provide facilities to manipulate the image.</td>
</tr>
<tr><td>JPEG</td>
<td>Good but may have discrepancies</td>
<td>Tends to be larger</td>
<td>Standard Windows programs, browsers and many other programs will display this format. Facilities to manipulate the image are common.</td>
</tr>
<tr><td>TIFF</td>
<td>Very good</td>
<td>Reasonably small</td>
<td>Normally viewed with a graphics program although built in facilities can normally also display it.</td>
</tr>
<tr><td>PDF</td>
<td>Good</td>
<td>Larger than original</td>
<td>Requires Acrobat Reader to be downloaded - see <a href="http://www.adobe.com">here</a>. Limited manipulation of images. Provided you have Acrobat Reader this format is likely to give the least problems with the way the scan is displayed. No images are held in this format so it always requires a conversion.</td>
</tr>
<tr><td>Original</td>
<td>&#160;</td>
<td>&#160;</td>
<td>Use the original format of the scan (as indicated by the file extension). Using the original format avoids FreeBMD having to convert the format and is thus quicker and will suffer less loss of definition from the conversion process. The conversion process also tends to increase the size of the data and this is particularly true of conversion from or to JPEG which can double or quadruple the size.</td>
</tr>
</tbody>
</table>
<br />
<p>Note, however, that this is general guidance. FreeBMD cannot enter into any correspondence about the suitability of a particular format in your specific circumstances and cannot advise on suitable software.</p>