<h1>DRAFT - Frequently Asked Questions About FreeBMD (W-i-P)</h1>

<p> <mark> Pat's work-in-progress 10 Dec 2021</mark>
</p>

<p class="lead">This pages covers a wide range of topics concerning FreeBMD and is formated in the style of a series of questions- and-answers <strong>about</strong> the FreeBMD Project. Note: it does not cover help-related questions as they are covered in another page of questions-and-answers, nor does it cover topics more relevant to FreeBMD's transcribers. </p>

 <div class="grid">
   <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right">
     <div class="islet islet--bordered">
       <h2 class="title-block">On this page</h2>
           <ul class="sub-nav">
              <li> <a href="#1">What is the FreeBMD Project?</a> </li>
              <li> <a href="#2">Why is the FreeBMD Project necessary?</a> </li>
              <li> <a href="#3">How will the FreeBMD system work?</a> </li>
              <li> <a href="#4">How will the FreeBMD Project operate?</a> </li>
              <li> <a href="#5">How big is the FreeBMD Project?</a> </li>
              <li> <a href="#6">How may I help?</a> </li>
              <li> <a href="#7">Who are the leaders of the FreeBMD Project?</a> </li>
              <li> <a href="#8">On what authority is the FreeBMD Project based?</a> </li>
              <li> <a href="#9">Who owns the BMD index data?</a> </li>
              <li> <a href="#10">Who owns the FreeBMD database?</a> </li>
              <li> <a href="#11">Could the database ever be used to create a commercial product or service?</a>
</li>
              <li> <a href="#12">Aren't the GRO/ONS already computerising the indexes?</a> </li>
              <li> <a href="#13">Couldn't the GRO/ONS give volunteers access to the source records?</a> </li>
              <li> <a href="#14">Why doesn't FreeBMD simply scan/OCR the records?</a> </li>
              <li> <a href="#17">Isn't this information covered by the Data Protection Act?</a> </li>
              <li> <a href="#19">I am using a MAC - why does the page link not work?</a> </li>
              <li> <a href="#20">Why doesn't Phonetic search return the results I expect?</a> </li>
              <li> <a href="#21">How is the FreeBMD Project funded?</a> </li>
              <li> <a href="#22">Why doesn't FreeBMD correct errors in the index?</a> </li>
              <li> <a href="#23">Why is it so difficult to submit a correction?</a> </li>
              <li> <a href="#25">Why don't some facilities work on my new computer?</a> </li>
              <li> <a href="#28">Can the FreeBMD database help me find a living person?</a> </li>
              <li> <a href="#29">Does FreeBMD contain entries for stillbirths?</a> </li>
              <li> <a href="#30">Please can you remove my entry from FreeBMD</a> </li>
              <li> <a href="#31">Can you explain what the search results mean</a> </li>
             <li> <a href="#32">How can I get a citation for an entry?</a> </li>
         </ul>
       </div>
      </aside>
    <div class="grid__item three-fifths lap-one-half palm-one-whole">
    <h2> Introduction</h2>
  <p><mark>Needed for BETA</mark>On this page you will find out more about the <strong>FreeBMD project</strong> thorough a series of questions-and-answers. Note: more detailed information, mainly relevant to people transcribing the indexes rather than searching them, is [ text: to be found the Transcribers' Knowlege Base (this page opens in new tab)]<mark> [link = FreeBMD/].</mark>
</p>

  <h2> Questions and Answers</h2>
  <h3 id="2"><mark>Needed for BETA&#160;</mark>Why is the FreeBMD Project necessary?</h3>
  <p>The Civil Registration indexes have been freely available from a variety of non-electronic sources for some time now.  Small parts of the indexes have already been placed on the Internet. In addition, the Civil Registration indexes for Scotland, which are separate from those of England and Wales, have already been placed online on a pay-per-view basis at <a href="http://www.scotlandspeople.gov.uk">Scotland's People</a>. Irish Civil Registrations are available without charge at <a href="https://civilrecords.irishgenealogy.ie/churchrecords/civil-search.jsp&quot;">Irish Genealogy</a> for the whole island, excluding the parts that from 1922 onwards are Northern Ireland. Records from Northern Ireland both before and after 1922 are available on aq pay-per-view basis at <a href="https://geni.nidirect.gov.uk">Northern Ireland General Register Office</a>.
</p>
  <p>Usually available on microfilm or microfiche, the Civil Registration indexes can be illegible due to the varying quality of microreproduction. There is not currently any centrally available method for rapidly searching the indexes.  They were originally created alphabetically by quarters and have not been consolidated into a master index. Older marriage records have not been cross-indexed, making them extremely tedious to use. </p>
  <p>The creation of a freely accessible Internet-based database of the Civil Registration index information coupled with a free search engine facility will greatly enhance a researcher's ability to quickly and
easily locate all the index entries of potential relevance. It will also permit the double-checking and eventual correction of the indexes. </p>

   <h3 id="4"><mark>Needed for BETA </mark>How does the FreeBMD Project operate? </h3>
   <p>Using volunteers throughout the world, the FreeBMD Project leadership (see <a href="#7">FAQ 7</a> below) co-ordinates the entry of the Civil Registration indexes.  Data entered into the database will be available for access through the search facility. The database will be updated periodically (approximately monthly) with the latest available data. </p>
  <p>The transcription of the Civil Registration index is co-ordinated under the guidance of the FreeBMD
Project leadership by volunteer co-ordinators so the FreeBMD Project makes orderly progress towards
its goal. </p>
  <p>Data is also be accepted from previous extractions by those  performing one-name studies. </p>
  <p>Data is accepted in a variety of formats, including a <a href="Format.shtml">simple text format</a> which can be prepared off-line using basic word-processing, spreadsheet or database management software. Special transcription software is available to assist with the task of transcribing pages of the index.  </p>
  <p>Ultimately, all data will be entered at least twice by independent transcribers in order to improve the accuracy. </p>

  <h3 id="5"><mark>Needed for BETA </mark> How may I help?</h3>
  <p>The FreeBMD Project is ENTIRELY dependent on the efforts of volunteers all over the world in order to complete the project.
<br /><br /> For information on contributing to the project as a transcriber click <a>here.</a> </p>
<p>You can also join one of our FreeBMD mailing lists by clicking <a href="/lists.shtml">here</a>. </p>
  <p>Currently, we are looking for people to help in the following areas: </p>
    <ul class="push-half--bottom">
      <li>Transcribers. </li>
      <li>Web page design and maintenance </li>
      <li>Graphic design </li>
      <li>Programming.</li>
   </ul>

  <h3 id="8"><mark>Not needed for Beta. Needs revision</mark> On what authority is the FreeBMD Project based? </h3>
  <p>The Office for National Statistics (parent body of the General Register Office for England and Wales (GRO) granted the FreeBMD Project leadership permission to place the Civil Registration on the Internet. As stated in the ONS' letter of permission, there are certain restrictions to this grant of permission including: </p>
  <ul class="push-half--bottom">
      <li>access to the information is provided free of charge </li>
      <li>inclusion of the acknowledgment of Crown copyright </li>
      <li>instructions that users must not copy or reproduce records without permission </li>
      <li>strict limitation of the permission to the indexes and their described use above</li>.
  </ul>
   <p>On 1 April 2008, following moves to make the ONS more independent of the British Government, the GRO became a subsidiary of the Identity and Passport Service (IPS), then an executive agency of the Home Office. The IPS was renamed HM Passport Office, and remains an agency of the Home Office. </p>

  <h3 id="9"><mark>Needs Revision: Not needed for BETA </mark> Who owns the BMD index data? </h3>
  <p>The Civil Registration indexes are under Crown copyright. They are the intellectual property of the British government. </p>

  <h3 id="10"><mark>Needed for BETA</mark> Who owns the FreeBMD database and runs FreeBMD? </h3>
  <p>Authority to reproduce the information for free access on the Internet was originally granted to the FreeBMD Project leadership.</p>
  <p>In order to ensure the long term stability of the project, and to gain access to grant funding, the project leaders established FreeBMD as a trust in June 2002. The trust is registered with the  Charity Commissioners as Free UK Genealogy CIO, Number 1167484. The <a href="http://www.freeukgenealogy.org.uk/files/Free-UK-Foundation-CIO51061188_1.PDF"> Constitution</a> can be viewed on-line. </p>
  <p> In 2014 we changed the name to Free UK Genealogy which better reflects the aims of the charity. In 2017 Free UK Gealogy became a Charitable Incorporated Organization Free UK Genealogy is committed to supporting the transcription of public records and making these available as free access public databases. </p>
  <p> All rights in data submitted to the site are now owned by Free UK Genealogy CIO.</p>
  <p> The names of the trustees of the trust can be found <a href="http://www.freeukgenealogy.org.uk/about/trustees/">on the Free UK Genealogy website</a>. </p>

  <h3 id="11"><mark>Not needed for BETA, needs revision&#160;</mark>Could the database ever be used to create a commercial product or service?</h3>
  <p>No. The ONS granted the right to place the database on the Internet on the condition that access to it be free of charge.  Any commercialisation of the database would require the ONS' prior and very improbable authorisation. </p>

  <h3 id="12"><mark>Needed for BETA, needs revision</mark> Aren't the GRO/ONS already computerising the indexes? </h3>
<mark> This FAQ needs updating as some Birth and death, but not marriages, can be searched on the GRO and certificates ordered; and FreeBMD now has post-1983 records on it.</mark>
  <p>The indexes are computerised from 1984 onwards. Unfortunately, the post-1984 indexes are not, at present, available free of charge on the internet but copies can be consulted free of charge in a small number of libraries; </p>
   <ul class="push-half--bottom">
      <li>Manchester City Library </li>
      <li>Birmingham Central Library </li>
      <li>Bridgend Reference and Information Library </li>
      <li>Plymouth Central Library </li>
      <li>City of Westminster Archives Centre </li>
      <li>London Metropolitan Archives </li>
      <li>The British Library </li>
   </ul>
  <p><mark>Revised and ready for Beta:&#160;</mark>Alternatively, the records (as of October 2021, to 2007 only) are available without charge at <a href="http://www.familysearch.org/">FamilySearch</a> and on several pay-to-view websites.

</p>
  <p> ONS/GRO were are involved in a project to computerise earlier records but this appears to have been
abandoned. </p>

  <h3 id="13"><mark>Needed for BETA </mark>Couldn't the GRO/ONS give volunteers access to the source records? </h3>
  <p>In a word, no. It is actually illegal for anyone except the registrars to browse the source records (and even they are only allowed to do it within strict guidelines - which, sadly, do not include checking accuracy for us). </p>

  <h3 id="14"><mark>Not needed for Beta, Needs revision</mark>Why doesn't FreeBMD simply scan/OCR the records?

</h3>
  <p>There are a number of barriers to this seemingly attractive idea:</p>
    <dl>
       <dt> <strong>Scanner resolution</strong> </dt>
      <dd>In order to successfully scan fiche, you need a very high resolution scanner.
These are typically only available at a reasonable cost in the shape of film
scanners, which typically will not accept a fiche (it is too big). This makes a suitable scanner extremely expensive. </dd>
     <dt><strong>Source quality</strong> </dt>
     <dd>It is not generally thought that the fiche quality is good enough for OCR. </dd>
     <dt><strong>Handwritten records</strong> </dt>
    <dd>No-one thinks that OCRing handwritten records is feasible. </dd>
     <dt><strong>Error rate</strong> </dt>
     <dd>In the OCR world, 99% correct is considered pretty good. In our world that equates to one error every second entry. The man-power to proofread and correct even that level of error is not significantly smaller than that required to hand-type the whole lot anyway, and it seems likely we would get higher error rates. </dd>
   </dl>
  <p><strong>N.B.</strong> We are not suggesting that you shouldn't experiment with OCR for your own transcriptions. If you have success, we would very much like to hear about it. </p>
  <p> <em>(Items 15 &amp; 16 withdrawn as being only relevant to transcribers)</em> </p>

  <h3 id="17"><mark>Needed for BETA </mark>&#160;Isn't this information covered by the Data Protection Act? </h3>
  <p>The Data Protection Act applies to all information held about living individuals.The GRO information held by FreeBMD is publically available and therefore not confidential in itself but FreeBMD still has to ensure that the information is held and used properly, hence the conditions of use and the restrictions on the search results page. FreeBMD therefore complies with the Data Protection Act and is registered with the Information Commissioner's Office under reference number Z7436529. </p>

  <h3 id="19"><mark>Needed for BETA Needs updating</mark> How is the FreeBMD Project funded?</h3>
  <p>Bannder advertising ... donations - donate:&#160;<a href="/donations.shtml">here</a>.</p>

  <h3 id="22"><mark>Neded for BETA</mark> Why doesn't FreeBMD correct errors in the index?</h3>
  <p>The objective of FreeBMD is to provide access to an online&#160;version of the GRO index and as such the FreeBMD policy is that the index is transcribed <em>exactly</em> as it is. However, we recognise that there are errors in the index and a number of facilities are provided to address this:
</p>
  <ul class="push-half--bottom">
     <li>Transcribers can add comments to entries where there are issues with what they find in the index </li>
     <li>People searching the index can add <a href="/postems-help.html">Postems</a> (notes) to entries in FreeBMD detailing errors they believe exist </li>
    <li>In exceptional cases, to aid searching the FreeBMD index, special System Entries are added but these are clearly marked as being additions that are not in the original index </li>
  </ul>
  <p>In each of the above cases special symbols appear next to the entries concerned (see <a href="/search-faq.html#symbols">here</a> for more details). </p>
  <p> However, it is also possible to request that the GRO corrects the index. Contact the
<a href="http://www.gro.gov.uk/gro/content/certificates/contact_us.asp">GRO</a> with the appropriate information. When they agree the correction let us know  (via <span style="position: relative; top: +3px; border: 0"><a href="/cgi/connect.pl?f=supportemail.png"><img src="/supportemail.png" alt="Contact support" /></a>
</span>) and we will annotate FreeBMD appropriately. </p>
  <p> Regrettably the GRO has no method of informing the many holders of the index (both  online and physical) of corrections they make. </p>

  <h3 id="23"><mark>Neded for BETA? Needs revision?</mark> Why is it so difficult to submit a correction? </h3>
    <p>Processing corrections takes a lot of effort and we need to ensure that we only investigate those corrections that comply with FreeBMD policies, particularly the policy of transcribing what is in the index (see <a href="#22">above</a>). Other  corrections are handled by <a href="/postems-help.html">Postems</a>. </p>
  <p> Corrections are therefore automatically filtered to determine if they appear to comply with the instructions given on the corrections page. </p>
  <p> The problem most people have with submitting corrections is failing to supply a valid <strong>Source</strong> field. This happens because people do not comply with the instructions on the corrections page. Unfortunately these instructions have to be long to specifically cover the things people get wrong since we know from past experience that just giving a simple statement of what should be provided does not work.  The most common things people get wrong are: </p>
  <ul class="push-half--bottom">
     <li>Adding unnecessary detail </li>
     <li>Adding justification for the correction, rather than just identifying the source </li>
     <li>Mentioning invalid sources (e.g. family information or other entries) </li>
  </ul>
 <mark>Needed for BETA This part FAQ 23 refers to FreeBMD and may not accurately reflect the FreeBMD2 process of submitting correction. </mark>
  <p>In summary the process for submitting a correction is:</p>
     <ol class="push-half--bottom">
        <li>Click on the <span style="position: relative; top: +3px"><img src="/btnInfo.gif" alt="Information" /> </span> button next to the entry in the search results </li>
       <li>Click on the link to submit a correction (the text on the information page <em>To submit a correction click here</em>) </li>
       <li>Verify that your correction falls within the scope as defined on the corrections page </li>
       <li>Check the tick box in the text to say you have read the instructions </li>
       <li>Fill in your correction </li>
       <li>Fill in what your sources is. As mentioned above is important that you just say  what source you have used for determining the correction, not a justification of  the correction </li>
      <li>Fill in your email  </li>
      <li>Click Submit </li>
  </ol>

  <h3 id="25"><mark>Needed for BETA Needs updating</mark> Can the FreeBMD database help me find a living person?</h3>
  <p>FreeBMD is a transcription of the GRO index and is of use for historical research. It is of very limited, if any, use for tracing living persons. We suggest you do an internet search for "Trace Person" to find available resources, e.g. http://www.nationalarchives.gov.uk/records/looking-for-person/living-person.htm. 
However, bear in mind that a number of resources will charge for their services whereas others are free. FreeBMD is also of limited use in finding if a person is still living due to limited coverage of Deaths for recent years - see <a href="https://www.freebmd.org.uk/progressD.shtml"> coverage for Deaths</a> for more information.  </p>

  <h3 id="29"><mark>Not needed for Beta Needs Rewriting (point, then more info).&#160; add Stillbirth Trust</mark> Does FreeBMD contain entries for stillbirths? </h3>
 <p>FreeBMD is an online transcription of the GRO index and therefore questions about what is in the index can only be definitively answered by the GRO. However, our understanding is that, in principle, stillbirths have never been recorded in the GRO index. From 1927 stillbirths could be recorded by being entered into the stillbirth register but this was optional. Access to the stillbirth register is only available to relatives. 
Before that stillbirths were not officially recorded although some entries in the registers may be for stillbirths. For further information contact the GRO or do an internet search for "stillbirth register" </p>

  <h3 id="30"><mark>Needed for BETA Needs updating</mark>Please can you remove my entry from FreeBMD
</h3>
  <p>We can't remove entries. FreeBMD is a transcription of the GRO (General Register Office) <a href="#1">Index</a>, authorised by the GRO. The GRO Index of Births, Marriages and Deaths is publicly available information and as such it is not covered by the Data Protection Act. In addition to FreeBMD it is accessible from a number of sources, both online and in person, and therefore exclusion from FreeBMD would have little effect with regard to concealment of the information. </p>
  <p>There is no facility for excluding entries and, indeed, it would be in violation of our accuracy commitment to do so. </p>
  <p>For further information please contact the 
<a href="https://www.gro.gov.uk/gro/content/certificates/contact_us.asp">GRO</a>.</p>





</div>
</div>