<h1>DRAFT FreeBMD History</h1>

<p> <mark> Some areas to be addressed below before Initial Testing (phase 3) </mark> </p>
  <p class="lead">On this page you can discover more about more about some of the older newsworthy-events that have taken place in FreeBMD and on our FreeBMD Website. Where relevant,we have also included our umbrella organisation: Free UK Genealogy.&#160; ..... </p>
  <div class="grid">
  <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right">
    <div class="islet islet--bordered">
      <h2 class="title-block" id="thisPage">On this page</h2>
        <ul class="sub-nav">
         <li> <a href="#briefHistory">A brief history of FreeBMD</a> </li>
       </ul>
       </div>
       </aside>
  <div class="grid__item three-fifths lap-three-quarters palm-one-whole">
    <h2 id="briefHistory">A brief history of FreeBMD</h2>
    <h3>How did it start</h3>
   <p>FreeBMD is the brainchild of Ben Laurie, Camilla von Messinghen, David Myall, Graham Hart ?and Allan Raymond <mark>Pat to Check who wanted in 2008 to provide free access for everyone to the information held in the Indexes to the GRO registrations of birth, marriage and death [link to FAQ]</mark> using the recent innovation the World Wide Web (the software had entered the public domain five years before).</p>
    <p> <mark> This date should be<strong> 1998?</strong> FreeBMD started in either 1998 or 1999. There were pages going on the system from the start of 1999. Later down the page it states that FreeBMD celebrated its ten anniversary on 1<strong>9th September 2008</strong>.&#160; FreeBMD1 has more than FreeBMD2 on this .- PC. </mark> </p>
    <h3>Transcription Milestones</h3>
    <p>You think it's a long way to the chip shop... FreeBMD is big. Really big! It was anticipated that it would take a decade to complete a <mark>first keying</mark> from the start of the index in 1837 to the end of 1901.</p>                     

    <p>This target was substantially achieved in July 2005. But even in the first few years, it was already being useful to researchers. Of course, the more people help, the sooner it will be done.</p> 
  <p> By the end of December 2007 first keying of the years 1837 to 1919 were substantially completed. </p>
  <p> By the end of December 2010 first keying of the years 1837 to 1948 were substantially completed. </p>
  <p> By the end of December 2012 first keying of the years 1837 to 1960 were substantially completed. </p>
  <p> By the end of December 2016 first keying of the years 1837 to 1977 were substantially completed. </p>
  <p> By the end of December 2019 first keying of the years 1837 to 1983 were substantially completed. </p>
more milestones here
   <p> Current statistics on the database to date are available  <a href="progress.shtml">here</a> and <a href="/cgi/EntryCounts.pl">here</a>. </p>
   
      <h2 id="serverRelocation">2008, Relocation of servers</h2>
    <p>On <strong>29 June - 6 July 2008</strong>, all the FreeBMD servers were relocated to the new data-centre over a period of a week. The FreeBMD search page was available throughout the move with the number of searches completed each day being only slightly affected for a couple of days. On the most affected day 170,000 searches were still completed. Once again our technical team lived up to our high expectations of keeping the FreeBMD site available 24/7.</p>
    <p>As of 2008, there were nine production servers for searches and two for images.</p>
     
     <h2 id="enhancedChangeRequests">Enhancement of change requests sent to trancribers</h2>
    <p>From <strong>5 July 2008</strong>, Correction requests sent to our transcribers by the Corrections Co-ordinator have been enhanced to include details of the “Changed Fields”. This is of great help to transcribers to quickly identify the actual correction requirements. Prior to this it was necessary to visually inspect the whole record for a before and after situation.</p>
   <p>Approximately 5,000 formal correction requests are submitted every month to FreeBMD. About half of these are dealt with by transcribers or by their Co-ordinators amending the affected files and the other half is dealt with by the Corrections Co-ordinator uploading under a special Submitter ID. It is encouraging to note that only a small percentage of formal correction requests are rejected.</p>

    <h2>Four new syndicates created</h2>
    <p>1 August 2008, To take some of the pressure off existing Syndicate Co-ordinators and to replace retiring Co-ordinators, four new syndicates were set up in July 2008.</p>
  <h3>14 August 2008</h3>
   <p>The district aliasing team is now approaching its 8th year of existence. The team is responsible for creating aliases for the alternative or mis-spellings of the standard districts.&#160; The number of new spellings of district names to be aliased has dropped to below 600 per month, which is about a third of the number four years ago when the scan quality was poor.</p>For a minority of post-1911 marriages, where a surname has been used in the index books in the district column, the correct district has been found by consulting the entry for the spouse and a “System entry” has been created by the Alias team, resulting in the correct district being available on the search result page. In a few cases where there has been incomplete information in a “late addition” entry (e.g. see D/24) and the scan of the later year is available this has been consulted and a “System entry” also created.


    <h3>25 August 2008</h3>
    <ul>
      <li>As part of our continuous quality control process, the Suspect File Report has been enhanced to include a list of files which have pages suspected to contain an unusually low number of entries. This is likely to arise where an index page consists of multiple columns but not all have been transcribed.</li>
      <li>The report excludes files containing the transcription of the last index pages for an initial letter which by default normally include a lesser number of records than other index pages in the same series.</li>
      <li>The enhancement also includes files containing the reverse situation; this is where the number of entries between +PAGE lines is significantly greater than what is expected. This normally occurs where multi index pages have been transcribed in a file without a corresponding number of +PAGEs.</li>
    </ul>

    <h3>9 September 2008</h3>
  <p> The popularity of FreeBMD continues to grow as one of the foremost genealogy search sites. Today we reached possibly the highest number of searches on any day since the inception of FreeBMD, achieving a total of just under 280,000 searches in a day. During a peak hour FreeBMD is handling five searches every second.</p>

    <h3>14 September 2008</h3>

    <h4 class="gamma">*** 200.07 million records on FreeBMD ***</h4>
    <p>Massive congratulations to all our volunteers: your efforts enabled the total records uploaded to FreeBMD to reach the 200.07 million mark.</p>
     <ul>
       <li>Since 14 August 2008 over 1.66 million records have been added to the database.</li>
       <li>Over twenty nine hundred (2,940) volunteers contributed to the 1.66 million new records added to the database during the last month. Over four hundred (423) of these volunteers joined FreeBMD within the last 12 months and contributed 0.35 million records to this monthly increase.</li>
       <li>The 100 million total record mark was reached on 24th August 2004.</li>
    </ul>

    <h3>15 September 2008</h3>
    <p>A new facility introduced on FreeBMD for searching for late entries in the Index. </p>
    <p>What is a late entry?</p>
    <ul>
      <li>Normally an event (Birth, Marriage or Death) will be registered soon after the event occurs and will be included in the index for the same quarter or the one following it.</li>
      <li>However, if an event is registered later then it will be included in the index some time after the event occurred. In this case the quarter in which the event should have appeared is often annotated with a (hand written) entry (the late entry reference) that points to the quarter in which the event has been registered (the late entry).</li>
      <li>The new late entry search facility cross references between the entries in the two separate index pages.</li>
      <li>The index page for the quarter in which the event has been registered isn’t always annotated to show the event actually took place earlier but was not registered at that time.</li>
      <li>The advanced FreeBMD facility overcomes this serious deficiency in the index and cross references the quarter in which the event should have been registered.</li>
    </ul>

    <h3>19 September 2008</h3>
    <h4 class="alpha">FreeBMD celebrates its 10th Anniversary</h4>
    <p>The brainchild of Camilla von Massenbach, Ben Laurie and Graham Hart to provide free Internet access to the Civil Registration index information from England and Wales. Camilla started the ball rolling when she made the first posting on the FreeBMD Admin Mailing list, on 19 September 1998</p>
    <p>FreeBMD went public on 30 September 1998.</p>

    <h3>06 April 2009</h3>
    <p>Two new servers for image downloads installed and commissioned. These replaced two servers that were starting to fail and becoming temperamental.</p>

    <h3>20 September 2010</h3>
    <p>Allan Raymond was appointed as a Trustee of FreeBMD. Allan Joined FreeBMD as a volunteer transcriber in mid 2000 and shortly afterwards took on the role of Coordinator of Syndicates which he still holds.</p>

    <h3>21 April 2011</h3>
   <p>A Tri-project (i.e. FreeBMD, FreeCEN and FreeREG) seminar took place on Thursday 21 April 2011 at The National Archives. The seminar was chaired by our Executive Director Barratt and all the Trustees were in attendance as well as Coordinators and transcribers from the three projects. Discussions and workshops took place on a wide range of topics including three presentation talks on:
    </p>
<ul>
       <li>The Media and Family History</li>
        <li>The Work of The National Archives</li>
         <li>The Open Genealogical Alliance</li>
      </ul>
     <p>A facility introduced to mark a transcription as “superseded”, mainly where we now have transcriptions from better sources.</p>

    <h3>30 April 2011</h3>
    <ul>
      <li>Following the Tri-project seminar which took place on 21 April 2011 at The National Archives the first FreeBMD Newsletter was produced and distributed to Coordinators. This was to meet comments made at the seminar that perhaps we could improve the communication aspects within FreeBMD.</li>
      <li>It is intended the Newsletter will be produced on a monthly basis and sent out following each database update.</li>
</ul>

    <h3>01 October 2012</h3>
   <p> Jim Killock, Executive Director of the Open Rights Group, appointed a Trustee of FreeBMD.</p>

    <h3>06 December 2012</h3>
    <p>Nick Barratt, who has worked as Executive Director of FreeBMD (including FreeREG and FreeCEN) for the past 15 months has recently accepted a new role at the National Archives. Unfortunately for the projects, this new full time role will mean that he will no longer be able to fill his part time role at FreeBMD.</p>
   <p>Nick’s appointment was a new and experimental departure for us, which the Trustees feel has been much to the benefit of the projects, and he will be missed. We wish Nick every success in his new venture, which represents a great opportunity for him.</p>

    <h3>23 October 2013</h3>
    <p>The Trustees are pleased to report that Darren Wright has been appointed as the new Executive Director of FreeBMD. This role will encompass FreeREG and FreeCEN as well as FreeBMD.</p>

    <h3>21 February 2014</h3>
    <p>A significant milestone has been reached with a total of over <strong>300 million</strong> records uploaded to the FreeBMD database. This is due to the outstanding efforts over the years from almost 12,000 transcribers supported by their Syndicate Coordinators. Our transcribers are currently working on years up to and including 1971.</p>

      </div>
  </div>