/*------------------------------------*\
    $VARS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.cssâ€™ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */
$lap-start: 571px;
$desk-start: 1024px;
$desk-wide-start: 1200px;
$base-font-size: 18px;
$base-line-height: 28px;
$brand-face: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

$container-width: 960px;

/**
 * Font-sizes
 */
$giga-size: 96px; // .giga
$mega-size: 72px; // .mega
$kilo-size: 60px; // .kilo

$h1-size: 36px; // .alpha
$h2-size: 32px; // .beta
$h3-size: 22px; // .gamma
$h4-size: 20px; // .delta
$h5-size: 18px; // .epsilon
$h6-size: 14px; // .zeta

$milli-size: 13px; // .milli
$micro-size: 12px; // .micro

/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.cssâ€™ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids: true;
$use-flexbox: true;
$use-columns: true;
$use-nav: true;
$use-options: true;
$use-pagination: true;
$use-breadcrumb: true;
$use-media: true;
$use-marginalia: true;
$use-island: true;
$use-block-list: true;
$use-matrix: true;
$use-split: true;
$use-this-or-this: true;
$use-link-complex: true;
$use-flyout: true;
$use-arrows: true;
$use-sprite: true;
$use-icon-text: true;
$use-beautons: true;
$use-lozenges: true;
$use-rules: true;
$use-stats: true;
$use-greybox: true;

/*------------------------------------*\
    $COLOURS
\*------------------------------------*/

$teal: #00857e;
$teal-faded: #a6e3e1;
$teal-on-light: #b83675;

$magenta: #c84182;
$magenta-faded: #ecc5d9;
$magenta-on-light: #be3778;

$lavender: #825da8;
$lavender-faded: #cbbbf7;
$lavender-on-light: #78549c;

$turquoise: #007fad;
$turquoise-faded: #b8ecff;
$turquoise-on-light: #0078a3;

$navy: #517481;
$blue: #3c78b4;

$red: #db0000;
$green: #008000;
$pink: #cc00cc;
$indigo: #9d14ff;

$default-text: #222222;
$focus-hover: #333344;
$light: #f4f4f4;
$lesslight: #dedede;
$neutral: #707070;
$grey: #444444;
$dark: #333333;

// some english aliases that we use around the place

$brand-color: $teal;
$brand-color-faded: $teal-faded;
$brand-color-on-light: $teal-on-light;

$project-color: $teal;
$project-color-faded: $teal-faded;
$project-color-on-light: $teal-on-light;

$positive: $green;

$negative: $red;

$alert-text: $red;

// 3 arrays of english strings that give us access to the above, as appropriate

$isle-colours: (
  "brand" $brand-color #fff,
  "project" $project-color #fff,
  "teal" $teal #fff,
  "magenta" $magenta #fff,
  "lavender" $lavender #fff,
  "turquoise" $turquoise #fff,
  "navy" $navy #fff,
  "blue" $blue #fff,
  "neutral" $neutral #fff,
  "grey" $grey $light,
  "dark" $dark $lesslight
);

$btn-colours: (
  "brand" $brand-color #fff,
  "project" $project-color #fff,
  "teal" $teal #fff,
  "magenta" $magenta #fff,
  "lavender" $lavender #fff,
  "turquoise" $turquoise #fff,
  "navy" $navy #fff,
  "blue" $blue #fff,
  "neutral" $neutral #fff,
  "grey" $grey $light,
  "dark" $dark $lesslight,
  "negative" $negative #fff,
  "positive" $positive #fff,
  "alert" #ffb500 $default-text,
  "light" $light $grey
);

$text-colours: (
  "brand" $brand-color,
  "teal" $teal,
  "magenta" $magenta,
  "lavender" $lavender,
  "turquoise" $turquoise,
  "navy" $navy,
  "blue" $blue,
  "red" $red,
  "green" $green,
  "positive" $positive,
  "negative" $negative,
  "alert" $alert-text,
  "pink" $pink,
  "indigo" $indigo
);

// fug footer breakpoints
$default-breakpoint: bp2 !default;

$breakpoints: (
  bp1: 220px,
  bp2: 480px,
  bp3: 768px
) !default;
