<h1>Welcome to FreeCEN</h1>

<p>Thank you for joining us!  Without you, we cannot reach our goal of providing free access to the UK censuses.</p>
<ul><li>Many volunteers world-wide are working on the transcription, quality control, and project management.</li>
<li>The number of volunteers has grown since its inception in 1999.&#160;</li>
<li>We are now about half-way through the 19th Century English, Welsh and Scottish censuses</li>
<li>We are currently renewing our website to make searching and transcribing easier</li>
<li>The work you do will mean there are more Census Records online for you to search free of charge</li>
</ul><p>You should soon receive an email with an invitation to choose your password.  <em>Once you are into the ‘members’ area, please visit the  Information for Transcribers page which contains all the information you need to get started. </em>
</p><p>You should soon be introduced to your syndicate coordinator.  </p>
<p>Any problems, please use the ‘Contact us’ link at the bottom of the page, and select ‘volunteering question’.<br /></p>