<h1>DRAFT Ordering a certificate</h1>

<p><mark><strong>NB: being edited offline so any changes made here will be overwritten. AO 11 Jul </strong> </mark> </p>
<p><mark>DONE: mark up text appropriately</mark> </p>
<p><mark>DONE: replace GRO with G.R.O.</mark> </p>
<p><mark>DONE: highlight comments and questions here and on Google Doc</mark> </p>  

<div class="grid">  
  <div class="grid__item three-fifths one-half one-whole">
    <h2>Ordering Certificates from the General Registrar’s Office (G.R.O.)</h2>
    <p>If you have found a record in the index and want more information then your next step is normally <mark>better word?</mark> to order the certificate. If you have not yet found a record but just need to obtain a certificate you first need to <a href="/search_queries/new?locale=en">search the FreeBMD database</a> to find the record.</p> 
    <p>You can order directly from the G.R.O., or from the Local Registrar [link to Ordering a Local Register Office Certificate below]</p>
    <p class="push-half--bottom">The record will give you the information you need to order a certificate:</p>
    <ul> 
      <li>the name of the person (or people), as recorded by the G.R.O.</li>
      <li>the Registration District</li>
      <li>the Volume</li>
      <li>the page</li>
      <li>when the event (birth, marriage or death) was recorded — sometimes this is just a year, sometimes a year and a quarter (where quarters run to the end of March, June, September and December), sometimes a year and month</li>
    </ul> 
    <p>Having this information will speed up the ordering process, but the G.R.O. will attempt to provide the right certificate if you do not give this information. If you are not certain that you have found the correct entry, try <a href="https://www.gro.gov.uk/gro/content/">searching the indexes on the G.R.O. site</a>. Please note that these are not as complete as the FreeBMD indexes. If the G.R.O. is unable to identify the certificate requested from the information you have given them, they will return your fee, less a £3 charge [https://www.gro.gov.uk/gro/content/certificates/faq.asp#GROIndexReferences - may be a hyperlink to the right bit <mark>-- it is not!</mark>].</p>
    <p>The FreeBMD record will contain a link to the image or images used by the FreeBMD volunteer transcribers. Please check the image before ordering (if you are able to) because there may be errors in the transcription of the indexes carried out by FreeBMD volunteers. Great care has been taken by FreeBMD to ensure that the transcription is as accurate as possible but it is inevitable that there will be errors and FreeBMD cannot be held responsible for the consequences of these errors.</p> 
    <p><mark>Not for BETA </mark>If the page number looks something like "M/67" then this is a late entry reference and you need to find the page number of the actual entry for the G.R.O. Reference which you can do using <mark>[these instructions] (https://www.freebmd.org.uk/late-entry-help.html).</mark> </p>
    <p class="island island--bordered">You should be aware that there are a number of websites that offer to supply certificates — what they do is get the certificate from the G.R.O. for a premium over the G.R.O. cost. Unless they offer some added value that you require there is no benefit in using such services.</p>
    <p class="push-half--bottom">There are two ways you can get a certificate:</p>
    <ol>
      <li>from the General Register Office</li>
      <li>from the local Register Office relevant to the certificate</li>
    </ol>

    <h3>Ordering a Certificate from the G.R.O.</h3>
    <p>You can <a href="https://www.gro.gov.uk/gro/content/certificates/login.asp">sign up to  order certificates online</a> or if you already have a G.R.O. login you can go straight to ordering [ ]. It takes around 10 minutes and you’ll need a debit or credit card.</p>
    <p>You can also <a href="https://www.gov.uk/order-copy-birth-death-marriage-certificate#other-ways-to-apply">order a certificate by phone or in writing</a>.</p>

    <h3>Ordering a Local Register Office Certificate</h3>
    <p>To find the local register office from the Registration district, …</p>
    <p>It can sometimes be cheaper to get a certificate from the local Register Office. 
    A registrar in a local Register Office has advised "[the] G.R.O. will provide you with a photocopy of the actual entry but if you apply to the relevant register office in most cases you will receive a handwritten copy. This is useful if the original is difficult to read. The registration staff have had basic training in deciphering the writing and will also have access to many more records written by the same person and so can compare”. </p>
    <p>Note that the G.R.O. reference, in particular the volume and page number, is not relevant to ordering from a local office. This can be seen as a benefit as it means that possible errors in the G.R.O. reference do not impact getting a certificate, offsetting the extra time it may take to get a non-digital copy, and  the extra effort in finding the right office. You may need to  identify the current Registrars’ office from the historic one<mark>, together with its contact details,</mark> using one or both of these sites: [Registration Districts in England and Wales on UKBMD](https://www.ukbmd.org.uk/reg/districts/index.html) before you can contact them [Local Register Offices in England and Wales on GenUKI](https://www.genuki.org.uk/big/eng/civreg/RegOffice/RegOffice2)
    The local Register Office website will give you details of how to order from them.</p> 

    <h3>Why order a Certificate?</h3> 
    <p class="push-half--bottom">The Certificates may <mark>(might or could?)</mark> contain some or all of the following information:</p>
    <h4 class="flush--bottom">Births —</h4>
    <ul>
      <li>District, Date &amp; Place of Birth</li>
      <li>Child’s ForeNames &amp; Surname, Child’s Sex</li>
      <li>Father’s Name, Fathers Place of Birth, Father’s Occupation</li>
      <li>Mother’s Name, Mother’s Occupation, Mother’s Place of Birth, Mother’s Usual Address</li>
      <li>Informant’s Name, Informant’s Qualification, Informant’s Address, Informant’s Signature</li>
      <li>Date of Registration, Registrar’s Name &amp; Signature</li>
      <li>Child’s Revised Name (if any, after registration)</li>
    </ul>

    <h4 class="flush--bottom">Marriages —</h4>
    <ul>
      <li>District, Church, Parish, Location <mark>make more inclusive</mark> </li>
      <li>Date of Marriage, Forenames &amp; Surnames, Ages</li>
      <li>Marital Conditions, Professions, Addresses</li>
      <li>Father’s Forename &amp; Surname, Father’s Occupations, for each party present</li>
      <li>Witness names, Priest/Vicar’s <mark>NO!</mark> Name, &amp; Signature <mark>can we safely reduce to Minister of religion or Registrar</mark> </li>
    </ul>

    <h4 class="flush--bottom">Deaths —</h4>
    <ul>
      <li>District, Location, Date &amp; Place of Death</li>
      <li>Forename &amp; Surname, Sex, Maiden Name</li>
      <li>Date &amp; Place of Birth, Occupation, Usual Address</li>
      <li>Informant’s Forename &amp; Surname</li>
      <li>Informant’s Qualification, Informant’s Address</li>
      <li>Cause of Death, Signature of Informant</li>
      <li>Registration Date, Registrar’s Signature</li>
    </ul>

    <p>Some useful tips about the information on the certificates can be found XXXX <mark>@Pat what did you have in mind?</mark> </p>

  </div>
</div>