<h1>DRAFT Additional search options</h1>

<style scoped="scoped">
  .first-name { color: #9d14ff; } /* $indigo */
  .surname { color: #008000; } /* $green */
  .given-name { color: #db0000; } /* $red */
  .middle-name { color: #007fad; } /* $turquoise */
</style>



<p><mark>Full draft. Last updated 22 Mar</mark> </p>
<p><mark>Examples sought for: <em>In Middle Name or Surname</em> </mark> </p>

<div class="grid">
  <div class="grid__item three-fifths lap-one-half palm-one-whole">
    <p class="lead">There is a section at the foot of the search form called <em>Additional Search options</em> — these will help you with those tricky-to-find records, by adding power and flexibility to your search. The additional options give you access to what are known as partial searches.</p>
    <p>We are confident that once you try these options a few times, you will soon get the hang of how they work. But, if you are not finding what you expect to find, we hope that the information here will help you understand what is going on and have success with searching.</p>
    <p><strong>Partial searches</strong> work on what you enter in one of the name boxes in the search form: in First Names, Surname or Mother’s Surname. The search looks for those names that include what you put in one of the name boxes in some way, as long as you type at least three letters and do not use symbols.</p>
    <p>There are just two boxes in the Additional search options: the <em>Choose the Name field</em> box lets you select which part of the name to look at; the second box, labelled <em>Select one of the following</em> lets you choose the type of partial search.</p>      
  </div>

  <div class="grid__item two-fifths lap-one-half palm-one-whole float--right">
    <nav aria-labelledby="thisPage">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="thisPage">On this page</h2>
        <ul class="sub-nav">
          <li><a href="#terms">Terms used in this guide</a> </li>
          <li><a href="#firstName">First name searches</a> </li>
          <li><a href="#middleName">Middle name searches</a> </li>
          <li><a href="#surname">Surname searches</a> </li>
          <li><a href="#motherSurname">Mother’s surname searches</a> </li>
          <li><a href="#other">Other searches</a> </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="grid">
  <div class="grid__item three-fifths lap-one-whole palm-one-whole read-length">
    <h2 id="terms">Terms used in this guide</h2>
    <p>A person’s full name is their <span class="first-name">first name</span> or names plus their <span class="surname">surname</span>.</p>
    <p>If they have more than one first name, then we can divide it into their <span class="given-name">given name</span> — their first, first name — plus their <span class="middle-name">middle name</span> or names. In other words, their <span class="middle-name">middle name</span> is everything in their first names except their <span class="given-name">given name</span>.</p>
    <p class="push-half--bottom">To summarise, a person’s full name is either one of these:</p>
    <ul>
      <li class="gamma"><span class="first-name">first names</span> and <span class="surname">surname</span> </li>
      <li class="gamma"><span class="given-name">given name</span> and <span class="middle-name">middle names</span> and <span class="surname">surname</span>
</li>
    </ul>
    <p>Please note that you are likely to find initials rather than full <span class="middle-name">middle names</span> in the G.R.O. Index.</p>
    <hr class="rule" />

    <h2 id="firstName">First Name searches</h2>
    <p>In the ‘Choose the Name field’ box, select <em>First Name</em> to search on what you enter in the ‘First Names’ box. You must type at least three letters and no symbols.
      </p>
<p>Fill in the ‘Surname’ box as usual — you may use a star symbol (an asterisk) as a wildcard there if you want to, when doing a First Name search.</p>
    <p>In the ‘Select one of the following’ box, you have the choice of three options for the type of partial search: <em>Contains</em>, <em>Ends With</em> and <em>Any</em>.</p>

    <h3 id="contains">Contains</h3>
    <p>The <em>contains</em> option will find all the records where the <span class="first-name">first name</span> contains (that is, includes) what you have typed in the First names box. It will also find records where the <span class="first-name">first name</span> has additional letters before or after what you have typed.</p>
    <p class="push-half--bottom">The following examples should help to make this idea clearer for you:</p>
    <ul>
      <li>First Name <em>contains</em> ‘henry’ will find:<br />
        William Henry W, Henry Burt, James Henry, Henry B, etc.</li>
      <li>First Name <em>contains</em> ‘fred’ will find:<br />
        Fred, Frederic, Frederick, Frederick Frank, Alfred, Henry Alfred, Wilfred, Winifred, etc.</li>
      <li>First Name <em>contains</em> ‘alex’ will find:<br />
        Alex, Alexa, Alexandra, Alexander, John Alexander, etc.</li>
    </ul>

    <h3>Ends With</h3>
    <p class="push-half--bottom">The <em>Ends With</em> option will find all the <span class="first-name">first names</span> that end with what you have put in the First names box. It will also find records where there are additional letters (or a space) immediately before the ones you have typed. Here are some examples:</p>
    <ul>
      <li>First Name <em>ends with</em> ‘mary’ will find:<br />
        Mary, Alice Mary, Agness Elisabeth Mary, etc.</li>
      <li>First Name <em>ends with</em> ‘ith’ will find:<br />
        Edith, Mary Edith, Judith, Sally Judith, Hannah Smith, Meredith, Faith, etc.
      </li>
    </ul>

    <h3>Any</h3>
    <p class="push-half--bottom">The <em>Any</em> option will find any of the <span class="first-name">first names</span> that you put in the First Names box. For example:</p>
    <ul>
      <li>First Name, <em>any</em>, ‘mary ann’ will find:<br /> Mary, Ann, and Mary Ann.<br /> It will <strong>not</strong> find Anne, Mary Anne, or Ann Mary.</li>
      <li>First Name, <em>any</em>, ‘john james’ finds:<br /> John, James, and John James (but <strong>not</strong> James John)</li>
    </ul>
    <hr class="rule" />

    <h2 id="middleName">Middle Name searches</h2>
    <p>In the ‘Choose the Name field’ box, select <em>Middle Name</em> to search on what you enter in the First Names box, treating it as a <span class="middle-name">middle name</span>.</p>
    <p>In the ‘Select one of the following’ box, the options are: <em>Starts with</em>, <em>Contains</em>, <em>Ends With</em> and <em>Exact match</em>.</p>

    <h3>Starts with</h3>
    <p class="push-half--bottom">The <em>starts with</em> option will get results where the <span class="middle-name">middle name</span> starts with what you have typed in the First Names box. It will also find those records where there are additional letters after what you have entered. Here is an example of each:</p>
    <ul>
      <li>Middle Name <em>starts with</em> ‘john’ finds:<br /> Arthur John, Ernest John F, etc.</li>
      <li>Middle Name <em>starts with</em> ‘fred’ finds:<br /> James Fred, Charles Frederick, Paul Frederic William, etc.</li>
    </ul>

    <h3>Contains</h3>
    <p>The <em>contains</em> option will find records where the <span class="middle-name">middle name</span> contains (includes) what you have typed in the First Names box.</p>
    <p class="push-half--bottom">Here are some examples:</p>
    <ul>
      <li>Middle Name <em>contains</em> ‘agnes’ will find<br />
        Mary Agnes, Helen Agnes, Judith Agnes Mary, etc.
      </li>
      <li>Middle Name <em>contains</em> ‘john’ will find<br />
        Charles John, Alexander John Frederick, Cornelius John, etc.
      </li>
    </ul>

    <h3>Ends With</h3>
    <p>The <em>ends with</em> option will find records where the <span class="middle-name">middle name</span> ends with what you have typed in the First Names box.</p>
    <p>For example, a Middle Name, <em>ends with</em> search for ‘john’ will find William John, Charles John, Alexander Frederick John, etc.</p>

    <h3 id="exactMatch">Exact match</h3>
    <p>The <em>exact match</em> option will find records where the <span class="middle-name">middle name</span> is exactly what you type in the First Names box. For instance, put ‘i’ in the First Names box and then a partial search on Middle Name, <em>exact match</em> will find all those people with the single middle initial, I.</p>
    <p>For example: Ada I, Alexander I, Leila I, Margaret I, Nora I, etc.</p>
    <p>Please note that this is the only partial search where you can put a single letter in the First Names box.</p>
    <hr class="rule" />

    <h2 id="surname">Surname searches</h2>
    <p>In the ‘Choose the Name field box’, select <em>Surname</em> to search for what you have typed in the ‘Surname’ box. The search has three options: these are <em>Starts with</em>, <em>Contains</em> and <em>Ends with</em>.</p>

    <h3>Starts with</h3>
    <p>The <em>starts with</em> option will find people whose <span class="surname">surname</span> starts with what you type in the Surname box.</p>
    <p>For example, surname <em>starts with</em> ‘davi’ would find Davies, Davis, Davids, Davidson, Davitt, and so on.</p>

    <h3>Contains</h3>
    <p>The <em>contains</em> option will find those records where the <span class="surname">surname</span> contains (includes) what you type in the Surname box.</p>
    <p>A surname <em>contains</em> search for ‘twiston’ finds people with the surnames Twiston, Twiston Davies, and Twiston-Davies.</p>
    <p>A surname <em>contains</em> search for 'stone', with 'alex' in the First Names box finds Alex Stone, Alexandra Stoney, and Alexis Winstone, for example.</p>

    <h3>Ends With</h3>
    <p>The <em>Ends With</em> option will find those records where the <span class="surname">surname</span> ends with what you type in the Surname box.</p>
    <p>For example, a Surname <em>ends with</em> search for 'cole', with 'mary' in the First Names box finds Mary Cole, Mary Seacole, and Mary Wells-Cole.</p>
    <p>A surname <em>ends with</em> search for 'field' finds people with the <span class="surname">surname</span> Field, Oldfield and Wakefield, for example.</p>
    <hr class="rule" />

    <h2 id="motherSurname">Mother’s Surname</h2>
    <p>The <em>Mother’s Surname</em> partial search looks for what you have typed in the ‘Mother’s surname’ box. This box is available only for births and the birth must have been registered during or after the September quarter of 1911.</p>
    <p>The options are <em>Starts With</em>, <em>Contains</em>, and <em>Ends With</em>. As you might expect, these options find records in much the same way as the Surname searches described above.</p>
    <hr class="rule" />

    <h2 id="other">Other searches</h2>
    <p>If you select <em>Other</em> in the Name field box, two options appear in the <em>Select one of the following</em> box: these are <em>In First Name or Middle Name</em> and <em>In Middle Name or Surname</em>.</p>

    <h3>In First Name or Middle Name</h3>
    <p><em>In First Name or Middle Name</em> will find people where one of the names you put in the First Names box is their <span class="given-name">given name</span> or their <span class="middle-name">middle name</span>. It will also find people whose <span class="middle-name">middle name</span> is all the names you put in the First Names box, in that order.</p>
    <p class="push-half--bottom">For example, a search for ‘frederick john’ using Other, <em>in first name or middle name</em> will find people whose:</p>
    <ul>
      <li><span class="given-name">given name</span> is John</li>
      <li><span class="given-name">given name</span> is Frederick</li>
      <li><span class="middle-name">middle name</span> is either Frederick or John</li>
      <li><span class="middle-name">middle names</span> are Frederick John</li>
    </ul>
    <p class="push-half--bottom">The search will <strong>not</strong> find any of these:</p>
    <ul>
      <li>James Fred John — because Frederick is shortened to Fred</li>
      <li>Charles Frederick John B — it is not looking for B</li>
      <li>Alexander John Frederick — it is looking for Frederick John, not John Frederick</li>
    </ul>
    <p>You can put more than two names in the First Names box, but you might get too many results or the search might time out. Be prepared to fill in another box or more, to limit your search. As well as putting something in the Surname box, choose a Record Type, or choose a County and so forth.</p>

    <h3>In Middle Name or Surname</h3>
    <p>The <em>in middle name or surname</em> option looks for the names you have typed in the ‘Surname’ box — you may type more than one name. It tries to find records with either one or all of those names as either the <span class="middle-name">middle name</span> or the <span class="surname">surname</span>.</p>
    <p>In the example below, we searched for ‘frederick john’. Because these are common names, we gave some more information: we put ‘William’ in the First Names box, chose the ‘Birth’ record type and the county of ‘Buckinghamshire’.</p>
    <p class="push-half--bottom">Our search found people whose:</p>
    <ul>
      <li><span class="middle-name">middle name</span> is John</li>
      <li><span class="middle-name">middle name</span> is Frederick</li>
      <li><span class="middle-name">middle names</span> are Frederick John</li>
      <li><span class="surname">surname</span> is John</li>
    </ul>
    <p><mark>Can we find a better example?</mark> </p>

  </div>
</div>