<div class="grid__item ">
<table   class="table--bordered  table--data">
    <colgroup >
    <col class=t40>
    <col class=t60>
    </colgroup>
    <tr>
      <th class="caps">Replacement</th>
      <th class="caps">Original</th>
    </tr>
<% @emendation_rules_replacements.each do |emendation_rules_replacement|  %>
    <tr>
      <td class="weight--semibold"><%= emendation_rules_replacement %></td>
			<td class="weight--semibold"><%= EmendationRule.all_original_by_replacement(emendation_rules_replacement)*", \n" %></td>
		</tr>
<% end %>	
  </table>
</div>
