<div class="grid__item ">
<table   class="table--bordered  table--data">
    <colgroup >
    <col class=t40>
    <col class=t60>
    </colgroup>
    <tr>
      <th class="caps">Original</th>
      <th  class="caps">Replacement</th>
      <th class="caps">Gender</th>
    </tr>
<% @emendation_rules.each do |emendation_rule|  %>
    <tr>
      <td class="weight--semibold"><%= emendation_rule.original %></td>
			<td class="weight--semibold"><%= emendation_rule.replacement %></td>
			<td class="weight--semibold"><% if !emendation_rule.gender.nil? %><%= emendation_rule.gender %><% else %>---<% end %></td>
		</tr>
<% end %>	
  </table>
</div>
