<h1>Free UK Parish Register Records</h1>
<p>FreeUKGenealogy provides free access to genealogy records for the UK.  Our database contains records for the following counties:</p>


<% @open_counties.each do |county| %>
   <%= link_to "#{county.record_count} #{ChapmanCode::name_from_code(county.chapman_code)} #{@record_types_display}.", open_places_for_county_path(ChapmanCode::name_from_code(county.chapman_code)) %><br />

<% end %>
