<h1><%= @record_types_display.titleize %> for <%= @county %> Genealogy</h1>
<p>FreeUKGenealogy provides free access to genealogy records for <%= @county %>.  Use our search feature to find even more records.</p>


<% @open_places.each do |place| %>
   <%= link_to "#{place.place_name} #{@record_types_display}", open_surnames_for_place_path(@county, place.place_name) %><br />

<% end %>
