<h1>Open Data for <%= @place.place_name %> <%= @county %> Genealogy</h1>


<table>
  <thead>
    <tr>
      <th>Surname</th>
      <th>Open Records</th>
    </tr>
  </thead>
  <tbody>
    <% @open_surnames.each do |open_surname| %>
      <% surname = open_surname.surname %>
      <tr>
        <td>
          <%= surname %>
        </td>
        <td>
              <%= link_to(raw(open_surname.description), open_records_for_place_surname_path(@county, @place.place_name, surname, @record_types_display.gsub(/\W/,' ').gsub(/\s+/,'-').downcase)
) %>
        </td>
      </tr>
    <% end %>
    
  </tbody>
</table>
