
<p style="text-align: center">Adding a New Church in <b><%=@place%></b> for the County of <b><%= @county %></b></p>

<% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %> <br>
    </div>
   <% end %>
<%= render 'form' %>


