<h1 class="title text--center">VLD File Errors</h1>


<section class="island">
<p>*This list only includes errors detected in files that were loaded into the database. If there was an error that prevented the file from being loaded, it may not be listed here.</p>

<%  @freecen_error_list.each do |fc_err| %>
<%= fc_err %><br>
<% end%>

</section>
