<% breadcrumb :image_server_groups, @user, @county, @register, @source %>

<% title "IS Group - list" %>
<%= render partial: 'header' %>
<%= render partial: 'flash_notice' %>

<div class="grid">
  <section class="island">
    <%= render 'image_group_index' %>
  </section>
</div>