<% if session[:manage_user_origin] == 'manage syndicate' %>
	<% breadcrumb :syndicate_image_server_groups, @county, @place, @church, @register, @source %>
<% elsif session[:manage_user_origin] == 'manage county' %>
	<% breadcrumb :county_image_server_groups, @county, @place, @church, @register, @source %>
<% else %>
	<% breadcrumb :my_list_by_county_image_server_groups, @user, @county, @place, @church, @register, @source %>
<% end %>

<% title "IS Group - list" %>
<div style="clear:both;"></div><br>
<p style="text-align: center"><b>Assignment Available</b> Image Groups for County <b><%= session[:chapman_code] %></b></p>

<% if flash[:notice] %>
  <div id="notice" style="color:blue">
    <%= flash[:notice] %><% flash.clear %>
  </div><br>
<% end %>

<div class="grid">
  <section class="island">
    <%= render '/manage_counties/image_server_group_index' %>
  </section>
</div>