<% breadcrumb :new_image_server_group, @user, @chapman_code, @county, @register, @source, @image_server_group %>

<% title "IS Group - create" %>
<%= render partial: 'header' %>
<%= render partial: 'flash_notice' %>

<div class="grid">
	<%= render 'form' %>
</div>