<% breadcrumb :image_server_group, @county, @place, @church, @register, @source %>

<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %><% flash[:notice] = nil%><br>
  </div>
<% end %>

<div class="grid">
	<%= render 'form' %>
</div>