<% breadcrumb :image_server_group, @county, @place, @church, @register, @source %>

<div style="clear:both;"></div><br>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %><% flash[:notice] = nil%><br>
  </div>
<% end %>

<div class="grid">
  <section class="island">
    <%= render 'image_file_index' %>
  </section>
</div>