<% breadcrumb :show_image_server_group, @user, @syndicate, @county, @register, @source, @image_server_group %>

<% title "IS Group - properties" %>
<%= render partial: 'header' %>
<%= render partial: 'flash_notice' %>

<div class="grid">
  <section class="island">
    <%= render 'detail' %>
  </section>
</div>