<p>Create a new Place entry. <br></p>

<%= render 'form' %>

<%= button_to_function "Back to Previous Page", "history.back()" %> 
<% params = session[:parameters] %>
<%= button_to 'Back to Index of Places', master_place_names_path(params) %>