<div style="overflow: hidden;">
  <table class="my-width-min flush--bottom" >
    <thead >
      <tr>
          <th>Record</th>
          <th>Birth date</th>
          <th>Baptism date</th>
          <th>Person forename</th>
          <th>Father forename</th>
          <th>Father surname</th>
          <th>Mother forename</th>
          <th>Mother surname</th>
          <th >Action</th>
          <th> </th>
        </tr>
    </thead>
  </table>

 
  </div>
 There are no entries  

