<h1>DRAFT - About - FreeBMD Statistics</h1>


<h2>FreeBMD Statistics</h2>
<h3> Births, Marriages and Deaths Coverage Charts</h3>
<p> These [link = progress] charts show FreeBMD's percentage coverage in the form of bar charts selectable by event (Births, Marriages or Deaths). Within that selection, progress charts are presented in 20-year blocks, with the exception of 1837 to 1849, 1970 to 1983 and 1984 to 1992 which are slightly shorter. </p>
<p>Coverage is itemised by quarter-year between the start of registration in July 1837 and the end of 1983. After 1983, they are itemised by year.
</p>
<h3> Index of Graphs</h3>
<p>The progress of the FreeBMD project in making these records available for free is displayed in the form of&#160; [link = Index of graphs-coverage] graphs: plotting the number of records added over time against the selected criteria. These include: progress of an event (Births, Marriages or Deaths) by individual year; and, progress by number of Total Records, Distinct Records, Unique Records and Double-keyed Records against time.</p>
<p>Possibly, the most interesting is the [link= statgraphs/submission] total number of entries. A graph of the daily submission rate is also available.</p>
<p>Graphs are also available for [link = graphs of Transcribers] each of the individual transcribers, showing the number of records added against time. </p>
<h3> [link ="/cgi/EntryCounts.pl] Entry totals</h3>
<p> This is displayed as a large table giving the number of entries for each year by event (Births, Marriages, Deaths), expressed as Total Records, Distinct Records and Unique Records [need to add reference - there is one]. By clicking on a tick-box the resolution can be increased to show the number of entries by quarters. </p>
<p>The default setting shows the records of the latest database, which is updated on an approximately update cycle, but the table can be changed to show an earlier data-base, or the difference between two databases.</p>
<h3> [link = DistrictInfo] Registration Districts</h3>
<p>
This links to the Registration District Information page and from there are links to more detailed information: including volume and page mappings.
</p>
<h3> [link db-latest] Transcriber information</h3>
<p>This is a single page listing giving every transcriber in alphabetical sequence and the number of entries (records) they have submitted. It is updated on a monthly basis, but only the latest information is given here.</p>


