<div class="island  island--light">
 <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %>  
<%= semantic_form_for @manage_county, :html => { :class => "grid"}  do |f| %>
<%= f.input :chapman_code, 
    { :as => :select, :include_blank => true,  :label => "Make a Selection", :required => true, :collection => @options,:width => 10  }%>
 <%= f.submit  'Update'   %>
<% end %>
</div>
