<% breadcrumb :all_sources_selection, @county%>
<p><h3 style="text-align: center">Unallocated Image Groups for County <%= @county %>.</h3></p>
<%= render partial: 'flash_notice' %>

<div style="clear:both;"> </div><br>
<%= render partial: 'image_groups', :locals=>{:image_group_filter=>'unallocate'} %>