<% breadcrumb :sort_countysource_by_image_group,  @county%>
<p><h3 style="text-align: center">All Image Groups for County <%= @county %>.</h3></p>

<div style="clear:both;"> </div><br>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
  </div>
<% end %>

<%= render 'image_server_group_index' %>