<% breadcrumb :county_manage_images_selection, @county%>

<% title "Manage County - completion submitted group" %>
<%= render partial: 'header' %>
<%= render partial: 'flash_notice' %>

<% if not @group_ids.empty? %>
	 <div style="text-align: center">  
		<%= link_to 'Accept All Groups as Completed', image_server_group_path(@dummy, :type=>'complete', :completed_groups=>@completed_groups), data: { confirm: 'Click OK if you want to accept all groups as completed'}, method: :put, :class => "btn weight--light btn--small" %>
	</div>
<% end %>


<div style="clear:both;"> </div><br>
<%= render partial: 'image_groups', :locals=>{:image_group_filter=>'completion_submitted'} %>