Page Identification Manage Counties :index <p>

   <%= semantic_form_for @manage_county do |f| %>
 <% if  @number_of_counties > 1 %>  

 <div style="float:left;">     <%= f.input :chapman_code, 
        { :as => :select, :label => "#{@first_name} you have access to multiple counties. Which would you like to work with?",
          :include_blank => false,
          :required => true,
          :collection => @counties, :size => 15 } %></div>
  <% end %>

<div  style="float:left;"> <%= f.input :action, { :as => :select, :include_blank => false, :collection => ['Work with All Places', 'Work with Active Places','Review Batches with errors','Review Batches listed by filename', 'Upload New Batch','Review Batches listed by userid then filename','Review Batches listed by uploaded date','Review a specific Batch'], :label => "What would you like to do? ",  :size => 10  }%></div>

 <div style="float:left;">   <%= f.action :submit, :as => :input, :label => 'Select'   %></div> 


   <% end %>
   <div style="clear:both;"> </div><br>
 

 

          
  
 

