<% if %w[project_manager executive_director county_coordinator master_county_coordinator country_coordinator data_manager system_administrator].include?(@user.person_role)%>
  <div style='text-align: center'>
    <h3>Review all pieces</h3>
    <%= render 'flash_notice' %>
    <%= link_to 'Select a Piece by number', piece_selection_by_number_manage_counties_path,  :class => 'btn   btn--small'%>
    <%= link_to 'Select a Piece by year', piece_selection_by_year_manage_counties_path, :class => 'btn   btn--small'%>
    <%= link_to 'Select a Piece by name', piece_selection_by_name_manage_counties_path,  :class => 'btn   btn--small'%>
  </div>
  <br>
  <br>
  <br>
  <br>
<% end%>