<% breadcrumb :all_sources_selection,  @county%>
<p><h3 style="text-align: center">Uninitialized Image Sources for County <%= @county %>.</h3></p>
<%= render partial: 'flash_notice' %>

<div style="clear:both;"> </div><br>
<%= render :partial=>'sources_index', :locals=>{:image_group_filter=>'uninitialized'} %>
