<%= form_for(@saved_search) do |f| %>
  <% if @saved_search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@saved_search.errors.count, "error") %> prohibited this saved_search from being saved:</h2>

      <ul>
      <% @saved_search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
