<h1>Listing saved_searches</h1>

Under contruction

<br />

 <%p session%>
<div  style="float:left;"> <%= button_to 'Back to my Resource Management options', manage_resource_path(session[:user]), method: :get %> </div>
<div style="clear:both;"> </div><br>
