<h1>DRAFT - FreeBMD Progress</h1>

<p class="lead"> FreeBMD is an [on-going project] [link="Frequently Asked Questions About FreeBMD#1"], whose aims are to transcribe the Civil Registration index of births, marriages and deaths for England and Wales; and, at present the whole index has not yet been transcribed. The project started with the oldest records, from July 1873, and is moving forward simultaneously on births, marriages and deaths up to the end of 1992. Some of the newest records may be either incompletely transcribed, or not yet started and there may be gaps or “holes” in their coverage.</p>

 <h2> Coverage of FreeBMD records to date</h2>
<p class="push-half--bottom"> You can view graphs showing the percentage completion for a particular quarter, or year for post-1983 records, by clicking one of the following links:</p>
<ul>
<li>for coverage of [Births click here] [link = Progress-Births]</li>
<li>for coverage of [Marriages click here] [link = Progress-Marriages]</li>
<li> for coverage of [Deaths click here] [link = Progress-Deaths]</li>
</ul>
<p>  A count (rather than a percentage completion graph) of the number of records transcribed for each event and year <a href="http://www.freebmd.org.uk/cgi/EntryCounts.pl" target="_blank">is available here (opens in a new Window).</a> </p>
 <p>  Please note that the percentage completions are based on <strong>estimates</strong> and, in particular, a value of 100% does not guarantee that all entries have been transcribed. See below for further information.</p>
<h2> How the percentages are calculated</h2>
<p>  The percentage coverage shown in the above graphs is only an estimate for the following reasons:</p>
<ul class="push=half-bottom">
<li> The total number of entries in a year is based on GRO figures which may not be accurate</li>
<li> The GRO gives the total number of entries for deaths in a year, only to the nearest thousand</li>
<li> In view of this, the percentages can be up to 2 percentage points out, for example a percentage of 60% could in reality be anything between 58% and 62%.</li>
</ul>