<h1>DRAFT About - What is the FreeBMD Project? Now on main About page</h1>

<h2>What is the FreeBMD Project?</h2>
<p><strong>FreeBMD</strong> stands for Free Births, Marriages, and Deaths. The FreeBMD Project's objective is to provide free Internet access to the Civil Registration index information for England and Wales, generally referred to as the GRO index from the government department, the General Register Office [this should link to the website but it is out of date, should it be https://www.gro.gov.uk/gro/content/?], who is responsible for admistering it.</p>
<p> The Civil Registration system for recording births, marriages, and deaths in England and Wales has been in place since July 1837; and, is one of the most significant single resources for genealogical research back to Victorian times.</p>
<p>The FreeBMD Project is therefore placing the Civil Registration index information (the GRO index) on the internet. The project started with the early years (that is from July 1837) and is progressing through to 1992.</p>
