<h1>DRAFT - Citing FreeBMD - now included in Draft Help</h1>

<div class="grid">
   <div class="grid__item two-thirds lap-one-half palm-one-whole">


<h2>Citing FreeBMD</h2>
<p>As the Free UK Genealogy databases are transcriptions, it is always preferable to see the original, or a surrogate (such as microfiche, film, photograph or digitized image). It is the <em>image </em>that should be referenced, rather than the database (unless you are not able to read the image for any reason reason). If using FreeBMD for academic purposes, please see additional help on academic citations<mark>"additional help on academic citations" links to 'academic citations' in Citations on the <q>About</q> page</mark>. If using FreeBMD for family history, please see additional help on citations for family historians.<mark>"additional help on citations for family historians" links to 'family history and citations' in Citations on the <q>About</q> page</mark>
</p>
<h3>Citation buttons on Free UK Genealogy</h3>
<p>Our projects now include buttons which auto-generate a citation in one of a number of popular formats for academics and family historians. If you spot an error in our format, or would like an additional format, please let us know. NB: <strong>the citation generated in this tool is currently displayed on FreeBMD1</strong> - in future, it will be displayed on FreeBMD2.</p>
<p>If you just want to make a link to a page - for example to show someone what FreeBMD2 search results look like - you can copy the url at the top of the page. For example:&#160;</p>


  </div>
</div>