<h1>DRAFT - Searching &amp;  associated FAQs</h1>


<div class="grid">
  <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right">
    <div class="islet islet--bordered">
    <h2 class="title-block">On this page</h2>
    <ul class="sub-nav">
      <li> <a href="#searchResults"> Search Results Page </a> </li>  
      <li class="open"> <a href="#faq"> Frequently Asked Questions about Searching </a>
        <ul class="push-half--left push-half--bottom">
          <li> <a href="#print"> How can I print the results? </a> </li>     
         <li> <a href="#nofind"> How can I save the results to examine later? </a> </li>
         <li> <a href="#correction"> How do I report that there is an error in an entry? </a> </li>
         <li> <a href="#spouse"> How do I find the spouse? </a> </li>
         <li> <a href="#cert"> How do I get a certificate? </a> </li>
         <li> <a href="#suspdist"> Why are some districts in italics? </a> </li>
         <li> <a href="#contact"> How can I contact the person who transcribed a record? </a> </li>
         <li> <a href="#noinfo"> Why doesn't the Info button work? </a> </li>
         <li> <a href="#gap"> What does "entries are not contiguous" mean? </a> </li>
         <li> <a href="#nores"> Why are no results displayed? </a> </li>
         <li> <a href="#busy"> Why do my searches keep failing? </a> </li>
         <li> <a href="#limits"> What are the limits on a search? </a> </li>
         <li> <a href="#recent"> How can I see only the most recent results? </a> </li>
         <li> <a href="#viewsaved"> What program do I use to view a Saved Search? </a> </li>
         <li> <a href="#nojs"> How can I avoid using JavaScript? </a> </li>
         <li> <a href="#sameperson"> Is this the same person with two surnames? </a> </li>
         <li> <a href="#diffpeople"> Are these two different people? </a> </li>
         <li> <a href="#newwindow"> How can I easily return to the search window? </a> </li>
         <li> <a href="#selected"> What does district/county selected mean? </a> </li>
         <li> <a href="#download"> What does the download button do? </a> </li>
         <li> <a href="#doublekeyed"> Why are some entries in bold text? </a> </li>
         <li> <a href="#county"> Why does searching within a county produce anomolous results? </a> </li>
         <li> <a href="#symbols"> What are the symbols beside an entry for? </a> </li>
         <li> <a href="#ucf"> Why are there characters *[ ] etc in an entry? </a> </li>
         <li> <a href="#addition"> How can I tell where new entries have been added to the database? </a> </li>
         <li> <a href="#percent"> What does the percentage in the search results refer to? </a> </li>
         <li> <a href="#missingentry"> How do I report a missing entry? </a> </li>
         <li> <a href="#missingentry"> Why are the transcriptions different from the search results? </a> </li>
         <li> <a href="#nodistrict"> Why is the district for this entry not in the district list? </a> </li>
         <li> <a href="#recgone"> Where are the records I found previously? </a> </li>
         <li> <a href="#lateentry"> What does 'See D/39' mean? </a> </li>
         <li> <a href="#pagenosuffix"> What does a suffix on a page number mean? </a> </li>
         <li> <a href="#twin"> How can I tell if these two entries are for twins? </a> </li>
         <li> <a href="#double"> How do I search for a double-barrelled surname? </a> </li>
         <li> <a href="#pagenolink"> Why is the page number not a link? </a> </li>
         <li> <a href="#certinfo"> Can I see the information on a certificate before ordering it? </a> </li>
         <li> <a href="#vieworiginal"> Can I view the original index page? </a> </li>
         <li> <a href="#pagesupplementary"> What is the reason for a page number with a suffix letter S?</a> /li&gt;
         </li>
<li> <a href="#mothersame"> What is the significance of the mother's name being the same as the surname?                    </a> </li>
        <li> <a href="#wildcard"> Wildcard Searches </a> </li>
      </ul>
    </li>
   
   </ul>
   </div>
  </aside>
   <div class="grid__item three-fifths lap-one-half palm-one-whole">
  <p class="lead">This page is a page of two-halves. The first (and smaller) section describes how to interprete the results of a FreeBMD search; there is information on how to perform a search, and to do so efficiently, in the [link="/search-help] search help page. The second (and larger) section provides information on numerous subsidiary subjects related to the searching in the form of a question and answer (FAQ) format. </p>
  <h2 id="searchResults"> Search Results Page</h2>
  <mark> FreeBMD(1) uses a lot of symbols, so on FreeBMD this section shows a Results-page obtained by doing a particular search: with various symbols and sections of this page referenced by numbers. The Notes, below refer to these numbers. So, This section needs re-writting.</mark>

  <p>When you do a search that has found some entries you will be shown the results like this (the numbers refer to the notes following): </p>
[<img src="/searchresults1.jpg" alt="Search results page" />]

  <h3>Notes</h3>
     <ol class="searchnotes">
        <li> The FreeBMD database is a transcription of the GRO index and is copyright. Please read the Terms and Conditions for information on how you are allowed to use the data. There is link at the bottom of the page to [link=terms-and-conditions] them. </li>
       <li>To repeat the search with different parameters you can either click on the <strong>Clear Form</strong> button in the Search Page or click on the <strong>Revise Search</strong> button, when in the Results page. To do an entirely different search click on <strong>New Search</strong> button when in the Results Page. Do not use your browser Back button. </li>
      <li> The parameters that you used to do the search are shown - if the search does not give the results you expect check that you have given the parameters you meant to. </li>
      <li> You are advised to check an entry before ordering a certificate - [if there is "scan available"] you can view the original scan to do this check. </li>
      <li> If you find an error, that is where an entry does not correspond with what is in the GRO index, you can report it using the [Report a Problem] button at the bottom of the page. </li>
     <li> The results are grouped by name and then quarter which is specified by the <strong>event</strong> (Births, Marriages or Deaths), the <strong>last month</strong> of the quarter and the <strong>year</strong> when the event was registered (which may be some time after the event took place). However, from 1984 onward the results are grouped by year only, so only the year is given (click on the <img src="/btnInfo.gif" alt="Information" /> icon to view the registration month). See also [link="/search-help.shtml#search"] here for a fuller explanation. </li>
     <li> FreeBMD is work in progress and many quarters are not yet complete - the percentage figure gives an indication of how completely transcribed the quarter is and further information can be found [link ="/progress.shtml"] here. </li>
    <li> Each entry is shown with the items as in the heading - if the entry is in bold, as here, then the entry has been transcribed twice and the accuracy (i.e. being the same as in the GRO index) is greatly increased. </li>
    <li> Clicking on the district will give you further information about the district - if the districtin in <em>italics</em> it means there is something <em>suspe</em>ct about it (e.g. it is an unofficial spelling) and clicking on it will give more information. See [link"/distvolpage.html"] here for more information on districts, volumes and pages. Although districts often have the same name as a town, or district of a town, the area covered is frequently different as explained [link="/DistrictInfo.html"] here. </li>
    <li> Clicking on the page number will show all the entries on the same page of the register - this is particularly useful when [link="/marriage-help] searching for the spouse but of little value otherwise - see link="/distvolpage.html"] here for more details of how entries are organised into pages. </li>
   <li> <mark> not applicable to FreeBMD2 </mark> These icons give you information about the entry and clicking on an icon takes you to another page with further details. </li>
   </ol>

  <h3 id="additional">Additional information in the GRO index</h3>
 <p>The GRO Index has been enhanced over the years, and it changes dependant on what period is being searched. Here is what a similar search to the above produced but for 1938. Note that the mother's maiden name now appears. Note also that these entries have only been transcribed once and so are <strong>not</strong> in bold.
[img searchresults2.jpg" alt='Search results 2'] </p>
  <p> The dates when additional information was added to the GRO index are as follows: </p>
  <table>
  <tbody><tr><th>Date</th>
   <th>Quarter</th>
   <th>Information added</th>
   <th>Event</th>
   </tr>
  <tr><td>1st Jul 1911</td>
  <td>Sep 1911</td>
  <td>Mother's Maiden Name</td>
  <td>Births</td>
  </tr>
  <tr><td>1st Jan 1912</td>
  <td>Mar 1912</td>
  <td>Spouse's Surname</td>
  <td>Marriages </td>
  </tr>
  <tr><td>1st Jan 1866</td>
  <td>Mar 1866</td>
  <td>Age at Death</td>
  <td>Deaths </td>
  </tr>
  <tr><td>1st Apr 1969</td>
  <td>Jun 1969</td>
  <td>Date of Birth (replaced Age at Death)</td>
  <td>Deaths </td>
  </tr>
  <tr><td>1st Jan 1984</td>
  <td>&#160;</td>
  <td>Month of Registration</td>
   <td>All </td>
  </tr>
  </tbody>
  </table>

  <p id="dateofbirth">
The format for the Date of Birth is DDMMYYYY where DD is a one or two digit day, YYYY
is the year and MM is the month as below: </p>
  <table id="dob">
    <tbody>
        <tr>
         <th>MM</th>
          <th>Month</th>
          <th>MM</th>
          <th>Month</th>
          <th>MM</th>
          <th>Month</th>
      </tr>
     <tr>
       <td>JA</td>
       <td>January</td>
       <td>FE</td>
       <td>February</td>
       <td>MR</td>
       <td>March</td>
    </tr>
       <tr><td>AP</td>
       <td>April</td>
       <td>MY</td>
       <td>May</td>
       <td>JU</td>
       <td>June</td>
    </tr>
        <tr><td>JY</td>
        <td>July</td>
        <td>AU</td>
        <td>August</td>
        <td>SE</td>
        <td>September</td>   
     </tr>
     <tr>
        <td>OC</td>
        <td>October</td>
        <td>NO</td>
        <td>November</td>
        <td>DE</td>
        <td>December</td>
    </tr>
  </tbody>
  </table>

  <hr class="rule rule--ornament" /> 

  <h2 id="faq"> Frequently Asked Questions about Searching </h2>
  <p> If none of the above answer your question, and it relates to how the search (or the website in general) works, you can email Contact support [link needed]. You must not use this method to report errors in entries, or missing entries; instead see the item on Corrections [link needed]. </p>

  <h3 id="print">How can I print the results? </h3>
  <p> <em> I've displayed the results but how do I print them?</em> </p>
  <p> You can print the results pages by firstly pressing the<strong> Printable Format button </strong>at the bottom the page to get a printable version of the results. From here you can use the Print button on your browser to send it to your printer. </p>
  <p> You can also click on the <strong>View button</strong> next to an individual entry to get its <strong>Entry Information page</strong> and there is a<strong> Printable Format button</strong> above this. Press it to obtain a  simplified version of the page and then use your brower to sent it to your printer. </p>

  <h3 id="save">How can I save the results to examine later? </h3>
  <p> <em> I'd like to save the results I got so I can view them at my leisure without being online. How can I do this?</em> </p>
  <p> This depends on your browser. You can sometimes use File/Save As to save the current page and view it later. However, with some browsers the Search page rather than the Results page is saved. An alternative is to use the offline/history facility of your browser to view pages you have visited, without being online. Select Work Offline in your browser, then open the History and select the FreeBMD site, and then the page you want to view. </p>
  <p> You can also use the download facility - see [link= /download-help ] here. </p>

  <h3 id="nofind" class="push-half--bottom">Why couldn't I find this entry? </h3>
  <p> <em> Why couldn't I find this entry which I have seen in the books at the Family Record Centre? </em> </p>

  <p> You must understand that FreeBMD is Work in Progress! We are still transcribing the indexes - you can see the progress on the  [ link =/progress ] progress charts - so your entries probably haven't been transcribed yet. Perhaps you would like to help in the transcribing? See [ link: was =/Signup, but now footer ?] how to join up.
</p>

  <h3 id="correction" class="push-half--bottom">How do I report that there is an error in an entry? </h3>
  <p> <em> I have found an entry that is different from what is in the index. How do I report this
so it will be corrected? </em> </p>
  <p> Click on thebutton next to the entry and then click on the link for submitting corrections. Note that corrections will only be accepted if you can show that the entry is different from what is in the index; differences from other sources (such as a certificate) will not be accepted - please see [ link to About FAQ #22] here for further information. </p>
  <h3 id="spouse">5. How do I find the spouse? </h3>
  <p> <em> I have found the person I am looking for in the marriages but how do I find their spouse? </em> </p>
  <p>You can find [more information about this topic on our marriage help page].[ link = marriage help]</p>

  <h3 id="cert">How do I get a certificate? </h3>
  <p> <em> I have found the entry that I am looking for but how can I get the certificate containing more information? </em> </p>
   <p> You can find [more information about this topic on our Ordering Certificates help page]. [ link to = Ordering Certificates]</p>
  <h3 id="suspdist">7. Why are some districts in italics?</h3>
  <p> <em> I've noticed that in the results some of the district names are displayed in Italics. Why is this?
</em> </p>
  <p class="push-half--bottom"> This means that there is something wrong or unusual about the district name, volume or page, specifically one of the following: </p>
    <ul>
        <li> The district name found in the index differs from the standard district name and therefore there is a possibility that the district listed in the index is incorrect. </li>
        <li> The volume number is not the one expected for the district in the year and quarter of the entry.</li>
       <li> The page number is not within the expected range for the district name and volume number for the year, the quarter and the type of entry (birth, marriage or death record).</li>
   </ul> 
  <p> Click on the district name for more information.</p>

  <h3 id="contact">How can I contact the person who transcribed a record?</h3>
  <p> <em>I have found a relative and I want to contact the person who put in the record to see if we are related. How can I do this?</em> </p>
  <p>You need to understand that almost all of the records in FreeBMD were transcribed by people who had <em>no</em> interest in the actual entries themselves, they were giving their time and skill to provide a searchable index. However, you may be fortunate and the transcriber may have been transcribing their own family records, for example. To find out, click on the "Information" button next to the entry and then click on the name of the transcriber. If an email address is given they may have an interest in the record; if there is no email address then they do not have an interest in the record. Please note that in this latter case there is no point in leaving a postem to try to contact them - the person who transcribed the record is very unlikely to see it.
</p>

  <h3 id="noinfo">Why doesn't the Info button work?</h3>
  <p> <em> Could you please tell me how to obtain information from the red "info icon" that appears on the end of an entry - when I click on it nothing happens? </em> </p>
  <p> The information appears in a separate window or tab (depending on your browser settings). Unfortunately some browsers do not always bring this window or tab to the foreground leaving you with the impression that nothing has happened. Look at the list of windows or tabs and you should find the window/tab you are looking for. The same applies to other links, such as Districts or the spectacles icon. </p>

  <h3 id="busy">Why do my searches keep failing? </h3>
  <p> <em>You say how many searches were done on FreeBMD but I find that two thirds of my searches fail.</em>
</p>
  <p> You can look at the details of the number of searches that were done [ link ="/UsageInfo] here. You will see that very few actually fail on the server (failed searches are indicated by the part of each bar that is <em>not</em> red).</p>

  <p>  The design of FreeBMD is such that we always return a result from a search - if the server is too busy we say so, if the search took too long we say so ... we don't just say nothing. If you are getting no response from your searches it is probably a communications problem between you and us, and most likely a problem within your ISP. We have been told of people living next door to each, but using different ISPs, who get very different responses times. </p>

  <p>If you get <em>ERR03: Time Out</em> this could be due to using your browser <em>Back</em> facility to return to the search screen - always use the <em>Revise Query</em> button.</p>

  <h3 id="gap">What does "entries are not contiguous" mean? </h3>
   <mark> probably not applicable to FreeBMD2 </mark> <em>On the search page the legend says a "Change of shade means entries are not contiguous". What does this mean and what causes it?</em>
  <p class="push-half--bottom"> Where there are other entries in the <strong>index</strong> between consecutive entries in the <strong>search results</strong> there is a change of shade. This can arise for the following reasons: </p>
    <ul>
       <li>The search criteria themselves produce non-contiguous entries, e.g. all the entries registered
in a particular district. </li>
      <li> The data between the entries has not yet been transcribed. </li>
      <li> It has not been possible to automatically determine that transcribed pages are consecutive; 
we manually correct these where we find them. </li>
   </ul>
  <h3 id="nores">Why are no results displayed? </h3>
  <p> <em>I did a search but no results were displayed and no message saying no entries were found. Why has this happened? </em> </p>
  <p> If the results page was displayed but there are no results (and no message saying no results were found) you are probably having problems with the use of JavaScript. We use JavaScript to make displaying the results more efficient but some browsers, even though they claim to support JavaScript, don't provide implementation sufficient to display the results. For example, some web TV systems fall into this category. </p>
  <p> To get round this problem see <a href="#nojs">How can I avoid using JavaScript? </a> </p>
  <h3 id="limits">13. What are the limits on a search? </h3>
  <p> <em>From time to time my searches fail, for example because they are "too complex". What are the limits on searches? </em> </p>
  <p class="push-half--bottom"> There are a number of limits that are imposed on searches in order to make sure one person does not stop other people searching by using all the capability of the system. The limits imposed are as follows: </p>
    <ul>
      <li> More than 3000 results were found (we suggest you use the <em>Count</em> option first to determine if this limit would be exceeded).</li>
      <li> The search was too complex. The details of precisely how we determine a search is "too complex" are too difficult to explain here but we give hints on simplifying searches if this error occurs.</li>
      <li> The search was taking too long (currently 3 minutes).</li>
      <li>There were too many other people trying to do searches at the same time (currently about 100).</li>                                                </ul>
  <h3 id="recent">How can I see only the most recent results?</h3>
  <p> <em>I know that new records are currently being added to FreeBMD. How can I see only those that have been added recently? </em> </p>
  <p> You should use the Saved Search facility which enables you to see only those records added since you last did a search. See [ link to saved-search-help ] Saved Search Help for more information. </p>

  <h3 id="viewsaved">What program do I use to view a Saved Search? </h3>
  <p> <em> I have a saved search but I cannot double click on it to view it. How do I view it? </em> </p>

  <p> Saved Searches can only be viewed online. Enter the name of the file in the Saved Search box on the [<strong>Note</strong>: not yet implemented - on FreeBMD it's done on the <strong>search page</strong> ] and click on <em>View Saved </em>. </p>

  <h3 id="nojs">How can I avoid using JavaScript? </h3>
  <mark> This FAQ may not be applicable to FreeBMD2 </mark>
  <p> <em>I think I need to get the results displayed without using JavaScript. How do I do this? </em> </p>
  <p>JavaScript is a system that runs within a browser to generate information more efficiently. Our search results page detects automatically if JavaScript can be used. However, there are some situations where you might want to display results without using JavaScript. To do this use the following to define a search 
[ link ="/cgi/search.pl?js=0"&gt;http://www.freebmd.org.uk/cgi/search.pl?js=0] </p>

  <h3 id="sameperson">Is this the same person with two surnames?</h3>
  <em>For a particular volume/page in marriages there are five women, two of whom are named Sarah Jemima , one surname Bimrose, the other surname Bilton. What is the significance of this?</em>

  <p> Such cases are very common in the indexes, and usually indicate a person who was born illegitimate, but adopted the surname of her mother's husband (whether it was the father or not).</p>

  <p>To take the above example, if Miss Bimrose had an illegitimate child, Sarah Jemima, that child would be Sarah Jemima BIMROSE. If Miss Bimrose then married Mr Bilton, it would be common for the child to go by the name of Sarah Jemima BILTON.</p>

  <p>When Sarah married, she would be shown on her marriage certificate as Sarah Jemima BILTON otherwise BIMROSE, and the index will show her under both names.</p>

  <h3 id="diffpeople">Are these two different people? </h3>
  <em>I did a marriage search and got a Henry Teslar and a Henry Testar recorded in the same district / volume / page. Is this an error?</em>

 <p> Probably not. When the index was created, where the register was unclear two entries were created in the index. So in this case there is only one person, named either Teslar or Testar.</p>

  <p>If the names are not similar then it is likely that the names are aliases for the same person, that is the person was known by two different names. </p>
  <p> <em>I did a births’ search and got two entries that are almost identical apart from the page number. Can there really be two such people? </em> </p>

  <p class="push-half--bottom"> You should look at the Original Scan (click on the Scan available button): </p>
    <ul>
       <li> If there is one entry then these are the same entry in the index transcribed by two different transcribers. We transcribe each record more than once to improve accuracy but, until the differences have been reconciled, you will find more than one record in the results. By looking at the original scan you can determine which version you think is correct (and if appropriate you can submit a [link =="#correction"].</li>
       <li> If there is more than one entry in the scan, the entries may be for the same person registered twice or they may be different people. The only way to find out is to [order the certificates for each one] [ link = Ordering Certificates].</li>
      </ul>
  <h3 id="newwindow">How can I easily return to the search window?</h3>
<em>Having found possible spouses, by clicking on the Page (see [link ="/marriage-help.html" Finding the spouse ), how can I easily get back to the search screen to search for possible spouses for other entries?</em>

  <p>When you click on the Page, hold down the SHIFT key at the same time. This will cause the results to be displayed in a different window, leaving the original search results in their own window. To do the next spouse search just go back to the original window.</p>

  <h3 id="selected">What does District/County selected mean?</h3>
<em>I clicked on Revise Query and underneath the District list it says <em>One or more districts initially selected</em> - what does this mean?</em>

  <p>If you do a search specifying one or more Districts (or Counties) and then click on Revise Query you get this message below the District (or County) list. It is there to indicate to you that if you do the search again it will still be limited to those districts (or counties) specified and is necessary because the selected search items may not be present in the items displayed. The message does not change if you subsequently change the selection, for example to All Districts (or All Counties), which is why it says <em>initially</em>. </p>

  <h3 id="download">What does the download button do?</h3>
<em>I have noticed a <strong>Download</strong> button on the search results, what does it do and how can I use it?</em>

 <p> The download facility is explained [link ="/download-help] here.</p>

  <h3 id="doublekeyed">Why are some entries in bold text?</h3>
  <p>When an entry is in <strong>bold</strong> text it means that two transcribers have independently transcribed it. This is called <em>double keying</em> and is done to help improve the accuracy of the entries.</p>

  <h3 id="county">I did two searches within two different counties and then a search
of the two combined, but the results did not add up. Whis is this?</h3>
  <p>A search within a county is effectively a search of all the districts within that county. However, a Registration District can span one or more counties and therefore the same entry can appear in the results for more than one county. When you do a search on multiple counties such entries appear only once. See the [ link ="/DistrictInfo] general information about districts and also the [link ="/county-map] specific details of which districts are in which counties and when.</p>

  <h3 id="symbols">What are the symbols beside an entry for?</h3>
  <mark> This refers to FreeBMD and may not apply to FreeBMD2 </mark>
  <em>I have noticed that beside some entries there are symbols. What do they mean?</em>
  <p class="push-half--bottom">The meaning of the symbols that may appear next to the Information button [ image needed ]is as follows:</p>
   <dl>
     <dt> <strong>Scan available</strong> </dt>
     <dd> The scan from which the transcription was made is available for you to view - click on the icon to do so. </dd>
     <dt> <strong>Comment</strong> </dt> 
    <dd> A comment has been attached to this entry by the transcriber. This may indicate what the transcriber thought the entry <strong>should</strong> contain, especially where the entry was unclear or inconsistent. </dd>
    <dt> <strong>Postem</strong> </dt>
    <dd> There is a <strong>Postem</strong> attached to the entry. A Postem is a message from a researcher about the entry, perhaps indicating additional information available or seeking to get in touch with people with an interest in the entry. [link ="/postems-help] Postem help for more information about Postems; click on the [="Information" ] button to view the Postem associated with this entry. </dd>
    <dt><strong>Additional</strong>
</dt>
    <dd>The entry has been added to the database since the previous update or has been changed since the previous update. See the [<strong>Note</strong> not yet implemented - link=Home page] home page for when the current update was done. See [link ="#addition"] here for more information about identifying new records. </dd>
    <dt><strong>System entry</strong>
</dt>
    <dd>The entry is a System Entry, that is an entry that is not in the index but has been added to the FreeBMD database to correct an apparent error in the index. Click on the [ "Information" ] button for more information including details of any entry this System Entry may replace. </dd>
    <dt> <strong>System link</strong> </dt>
    <dd>There is a System Entry linked to this entry; click on the Information button for more information including a link to the System Entry.</dd> 
</dl>

  <h3 id="ucf">Why are there characters _*[ ], etc. in an entry?</h3>
   <p>This means that the person transcribing the entry could not accurately determine some characters in the entry (Note: a character in an entry is usually a letter or a number). The special characters (called "Uncertain Format Characters") define the level of uncertainty, for example <strong>*</strong> means one or more adjacent unreadable characters, <strong>_</strong> means one unreadable character and <strong>"[38]"</strong> means either the digit "3" or the digit "8". The complete definition can be found [ link ="Format #UCF"] here.</p>

  <h3 id="addition"> How can I tell where new entries have been added to the database?</h3>
<em>I know that FreeBMD is "work in progress" with the number of entries increasing as more entries are added to the database. How can I tell where new entries have been added?</em>

  <p> Our volunteers continuously transcribe more entries but we only update the database about once a month since it is a big job to update over 300 million records. The date of the latest database update can be found on the [link to "/"] home page.</p>

  <p class="push-half--bottom">There are several ways of determining where new entries have been added. </p>
   <ul>
     <li> The [ link ="progress] coverage charts indicate with a lighter colour the relative proportion of entries that have been added to the latest database, by type of record, year and (apart from post 1983 records) quarter. However, this only shows where there have been large numbers of additions.</li> 
     <li>You can use a [ link ="saved-search-help] Saved Search to list those entries added since you saved the search. This is much more precise since it will identify the additions where there have been just a few entries added to a quarter. </li> 
     <li> The symbol <s<img src="addition.gif" alt="Additional" /> next to an entry means it has <strong>probably</strong> been added since the last update. The uncertainty is due to the fact that if the record has changed, e.g. the page number has been corrected, it will be marked as an addition. </s<img /></li>
   </ul>

  <h3 id="percent">What does the percentage in the search results refer to? </h3>
<em> I notice that in the quarter header in the search results there is a percentage shown. What does this refer to? </em>

  <p> The percentage figure indicates how much of that quarter (or for post-1983 records, that year) we have transcribed so far. The full coverage charts are given [link ="progress] here. Please note, however, that due to limitations in the data available this figure is only accurate to within 2 percentage points, i.e. a given percentage of 84% means between 82% and 86% of the entries have been transcribed. </p>

  <h3 id="missingentry">How do I report a missing entry?</h3>
<em>I have checked with the scan and I have found an entry that has not been transcribed although those round it have. How do I report this so it can be corrected?</em>

  <p>To report a missing entry you need to submit a correction to the immediately preceding entry which you know since you have looked up the scan. Search for this entry and click on the ["Information" button next to it, then click to make a correction. Enter the details of the missing entry in the correction form (only those fields that are different from the preceding entry need be completed) and check the box <strong>Missing entry or entries</strong>. If there are multiple missing entries fill in the details for the first and also check the box <strong>Multiple entries</strong>. </p>

  <h3 id="different">Why are the transcriptions different from the search results?</h3>
<em>When I click the ["Information"] button, why are there one or more entries shown that are slightly different from the search results? </em>

  <p class="push-half--bottom">The ["Information" ] button shows you the actual transcriptions of the entry and there may be more than one transcription for an entry in the search results because it has been transcribed more than once. FreeBMD transcribes each page more than once to improve the accuracy of the transcription. There may be differences between these transcriptions and the search results for the following reasons: </p>
   <ul>
     <li>There may be a different use of capital letters; FreeBMD does not consider the letter case to be significant </li>
     <li>The entries may contain symbols (e.g. * or _) that indicate uncertainty in the transcription but the transcriptions match the entry when this uncertainty is taken into account </li>
     <li>The transcriptions may contain different district names that have been linked together by FreeBMD (see [link ="DistrictInfo] here)</li>
     <li>The transcriptions may have been normalised to remove periods and some spaces (e.g. after Mac); since the same normalisation is done for search terms this allows results to be found irrespective of the typographical convention used </li>
     <li>The search results use the arabic numeral version of the volume (e.g. 3) even if the original scan used roman numerals (e.g. III) but the transcription will contain what is inthe scan.</li>
  </ul>

<p>Even if there is only one transcription it may differ from the search results for the last two
reasons given above.</p>

  <h3>Why is the district for this entry not in the district list? </h3>
<em>In the search results I have found an entry with the district "St Olave" but this district
does not appear in the districts list on the search page for the year in question. Why not?</em>

  <p>If you click on the district name ("St Olave" in this case) it will give you more information about the district, including the name that it appears under in the district list. In the case of "St Olave" it tells you that it is an alternative name for Bermondsey which is the name in the district list. The issue of alternative district names is explained [link ="/DistrictInfo] here.</p>

  <h3><id="recgone">Where are the records I found previously? </id="recgone"></h3>
<em>I did a search and found a number of entries, but now when I search for them they are not found. What has happened?</em>

  <p>Very occasionally records may be deleted from the database, for example if the record is erroneous or in the wrong quarter. However, by far the most likely cause is that you have done a search using the wrong parameters and the most common mistake is putting the first name in the <strong>Surname</strong>  box and the surname in the <strong>First Names(s)</strong> box.</p>

  <h3 id="lateentry">What does 'see D/39' mean?</h3>
<em>I have found a record where instead of a normal page number there is 'see D/39'. What
does this mean?</em>
  <p>Please see [link =late-entry-help] Late Entries.</p>

  <h3 id="pagenosuffix">What does a suffix in a page number mean?</h3>
<em>I have found a marriage record in September quarter 1841 where the page number is 216J. What does this mean?</em>

  <p>This entry relates to a Vicar sending his quarterly return to the Registrar General Office (GRO) late. Briefly, every Vicar in the country was supposed to send a return for marriages during the third quarter (July to September) of 1841 to reach the GRO by the end of October. Particularly during the early years of civil registration, some Vicars were very lax about complying with this (they weren't happy about state interference in things that they saw as their domain), and often sent returns outrageously late. At the GRO, all the returns for a particular Registration District (RD) were gathered together, and placed in order (the dedication of the church determined the order, and Registry Office marriages were at the back). All of the RDs in a volume were likewise collated (in order of RD name) and then the pages  were numbered sequentially. When the return for a particular parish arrived late, after this process was complete, the pages were inserted into their proper place and numbered with suffix letters. In that quarter of 1841 Southampton RD was made up of pages 215 to 224. Thus for parishes that got their returns in on time, the first parish in alphabetical-order occupied pages 215/216 and the second parish pages 217/218. Pages 216 with a suffix attached relate to parishes, who sent in late returns, that lie alphabetically between the two returns that arrived on time.</p>

  <h3 id="twin">How can I tell if these two entries are for twins?</h3>
<em>I have found two birth entries with the same surname, same quarter and same district. How can I tell if these entries are for twins?</em>

  <p class="push-half--bottom">Basically there is no way you can tell for certain from the indexes alone if they were twins but the registration information can indicate the most probable situation. There are three possibilities to consider: </p>
  <ul>
    <li>The two entries are for twins - in this case it is most likely that the pages will either be the same or on an adjacent page (e.g. the one before, or the one after). However, one could envisage circumstances in which one twin was registered later than the other - unlikely but a possibility.</li>
    <li>The two entries are for different people - the page is likely to be different. Obviously if the mother's maiden name (for post 1911 entries) is the same then being twins is more likely. Otherwise, for a very common surname or in a closed community with many people having the same surname it is not at all unlikely that two different people with the same surname could have given birth in the same quarter.</li>
    <li>The two entries are for the same person - whilst a child must be registered within six weeks, it remains possible up to the child's first birthday, to change the names in baptism and have the record amended resulting in a second entry for the same person. In this case, because one of the entries is a late registration it is likely that it will have a suffix page number.</li>
  </ul>

  <h3> <id="double">How do I search for a double-barrelled surname? </id="double"></h3>
  <p class="push-half--bottom"> <em>I have been searching unsuccessfully for a double-barrelled surname. Are there any special tips for such searches? </em> </p>
   <ul> 
      <li>Remember that some double-barrelled names are joined with a hyphen (e.g. Bowes-Lyon) and some are not (e.g. Vaughan Williams). The name may not have been recorded in the way you expect.</li> 
     <li>You can use a [link ="/search-help #wildcard] wildcard search on the surname (e.g. Bowes* for all names starting with Bowes) </li>
     <li>The entry may have been recorded with the first part of the surname appended as a given name, but possibly recorded only as an initial (e.g. John Bowes-Lyon recorded as Lyon, John B.) </li>
  </ul>
  <h3> <id="pagenolink">Why is the page number not a link? </id="pagenolink"></h3> 
<em>I have found a record which has just a black page number instead of a blue link. Why is this?</em>
  <p>If the transcriber was unable to be certain about the page number they will have used a particular [link="ucf" ]convention to indicate the uncertainty. Because of this uncertainty it is not possible to link to other records with the same page number and therefore the page number is not a link. You may still be able to work out what the other entries are on the page using the information given [link ="/no-spouse-search] here. </p>

  <h3 id="certinfo">Can I see the information on a certificate before ordering it?</h3> 
<em>Can I see the information on a certificate to check that it is for the right person before ordering the certificate?</em>
  <p>No that is not possible to do that (please see <a href="https://www.gro.gov.uk/gro/content/certificates/most_customers_want_to_know.asp#OrderingCertificates2"> here)</a>. However, it is possible to order a [link =Certificates l#conditional] certificate conditionally.</p>

  <h3 id="vieworiginal">Can I view the original index page? </h3>
<em>Can I view online the original index page from which FreeBMD transcribed an entry?</em>
  <p>In most cases the original index page can be viewed and this is indicated by the entry having a spectacles icon [insert spectacles icon image] next to it - click on the icon to view the page.</p>
  <p>If you want to view an index page when no entry can be found, use the [link="/search-help #wildcard"] wildcard search facility to find a nearby entry. For example, if no entry for Linghorn has been found you can search for Ling* to see entries that would be close by and then view the page for those.</p> 
  <p>If the index page displayed does not contain the entry, click on the link in "If the scan does not contain the entry you may be able to find the scan yourself by clicking here." If you find the correct page you are encouraged to leave feedback by clicking on Confirm" so that the correct index page will be shown for other researchers.</p>

  <h3 id="pagesupplementary">What is the reason for a page number with a suffix letter S ?</h3>
  <p>Each quarter the Superintendent Registrar for a district sends copies of his/her register entries to the General Register Office (GRO) who then apply a page number to the records for indexing purposes.</p>
  <p>However, in some circumstances, e.g. when a birth is re-registered, the Registrar sends a further supplementary copy of the register entry to the GRO which supersedes the original copy and in these cases the new entry is given a supplementary number.</p>
  <p>This means an original page number in an entry such as 495 might be crossed out and replaced by a page number such as 1659/S or the supplementary number might just be added to the page number.</p> 
  <p class="push-half--bottom">There are a number of reasons for re-registering a birth, such as: </p>
    <ul> 
      <li>If at the time of registration the mother was not married to the baby's father, but they have since married, it is a legal duty to re-register the birth, even when the father's details were entered when the birth was originally registered.</li>
      <li>If the natural father's details were not recorded at the initial registration but there is now a wish to add them. </li>
   </ul>

  <h3 id="mothersame">What is the significance of the mother's name being the same as the surname?</h3>
  <p class="push-half--bottom"> From the third quarter of 1911 onwards birth entries in the GRO index included the mother's maiden name. Where the mother's maiden name and the surname of the child are the same there appear to be three possibilities: </p>
     <ul>
        <li>The mother married someone with the same surname (not at all unlikely for common surnames or in closed communities).</li>
       <li>The birth was registered with mother's maiden name instead of the father's surname.</li>
       <li>The mother was not married at that time.</li>
   </ul>
  <p>Note: for records prior to this quarter, the mother's name does not appear in the index. </p>

  <h3 id="wildcard">Wildcard searches </h3>
  <em>How can I use wildcards in my searches?</em>
  <p>The wildcards facility is available in all names except Spouse GivenName. A wildcard search makes it easier to find variant spellings of a surname, or to find where a family has a tradition of using a particular second name.</p>
  <p>Wildcards can only be used when a district is specified.</p>
  <p>1. <strong>* </strong>: matches any number of characters. Must be preceded by two letters.&#160; e.g. Jo* Doe finds&#160; <strong>Jon Doe</strong>, John Doe, <strong>Joseph Doe </strong>and <strong>Josephine Doe</strong>  </p>
  <p><strong><em>Exception</em> </strong>: An * can be used as first character in FirstName but not as wildcard instead as a flag to specify search is based on Second GivenName.<br />Example: <strong> *doe </strong> will find <strong>John Doe</strong> and <strong> Jane Doe </strong> but not <strong>John Jane Doe</strong>  </p>
  <p>Example: <strong>*jane doe</strong> will find <strong>John Jane Doe</strong>, but not <strong>Jane Doe</strong> or <strong>Jane John Doe</strong> </p>
  <p>If **(double asterisks) precede FirstName, FreeBMD will search for one or two names anywhere from the second GivenName.<br />Example: <strong>**doe</strong> will find <strong>John Doe</strong>, <strong>Jane Doe</strong> and <strong>John Jane Doe</strong> </p>
  <p>2. <strong> # </strong>: If a field is preceded by # the search is done on the characters exactly as they follow the #( wildcard function is overlooked). Example: #? on LastName will return all results where LastName is ?</p>
  <p>3. <strong>? </strong>: Matches exactly one character. Example: Vin? will find <strong>Vino</strong>, <strong>Vini</strong> but not <strong>Vinodhini</strong> </p>









</div>
</div>