<h1>DRAFT - No Spouse found (not needed - merged into marriage help)</h1>

 <p>You may have reached this page </p>
  <ul>
  <li>because you have clicked on the Page Number in order to try to find possible spouses for an entry (as described <a href="/marriage-help.html">here</a>) but this facility was not available for the entry</li>
  <li>to discover how you can find a spouse where their name does not appear in the spouse search results.</li>
  </ul>
  <p>If the facility was not available this is because either or both of the Volume and Page were not readable when the index was transcribed. This is indicated by the presence of special characters in these fields as explained <a href="/no-spouse-search.shtml#UCF">here</a>.</p>

  <h2 id="structure">Structure of the index</h2>
  <p>If you are not familiar with how the GRO index is structured, particularly with respect to the page number and the entries on a page, you should first of all read <a href="/marriage-help.html">this explanation</a>. This will give you valuable information that will be useful as you try to track down the missing spouse.</p>

  <h2 id="check">Checking the transcription</h2>
  <p>See <a href="/search-results-help.html">here</a> for information about the search results.Take note of any anomolies, for example indicated by the district being in italics.</p>
  <p>You should check the transcription of the original entry for which you are trying to find the spouse. This can be done by clicking on the <span style="position: relative; top: +3px"><img src="/scanavail.gif" alt="Scan available" /></span> icon next to the entry and viewing the original scan. If there is more than one scan available check each in case the entry is clearer in one than another.</p>
  <p>If you find a mistake, or a possible mistake, in the transcription you can perform the spouse search as described below. If you find a mistake in the transcription of an entry you are encouraged to submit a correction - click on the "Information" icon next to the entry and following the instructions for submitting a  correction.</p>

  <h2 id="searchself">Doing a spouse search yourself</h2>
  <p>The normal spouse search facility works by searching for entries for marriages with the same quarter, volume and page number as the original entry. You can do the same search manually by entering these values in the fields of a search, thus:<br /> </p>
  <table>
  <tbody><tr><td>Type</td>
  <td>Marriage</td>
  </tr>
   <tr><td>Date range</td>
  <td>Set both start and end to the same as the original</td>
</tr>
<tr><td>Volume</td>
<td>Set to the same as the original</td>
</tr>
<tr><td>Page</td>
<td>Set to the same as the original</td>
</tr>
</tbody>
</table>
See below for choosing alternative values for the Volume and Page.

  <h2 id="choose">Choosing search values for your spouse search</h2>
  <p>There are a number of different ways of examining the index information to try to compensate for errors in the index. Although none of these is likely to give you a definitive answer to who the spouse is it may limit it to a small number of likely candidates. </p>
  <p>The Type (i.e. Marriage) and start/end date should be set to the value of the original entry (i.e. the entry for the spouse you know). Select values for the District, Volume and Page as follows:</p>
 <ul>
  <li>If the original entry has the <img src="/scanavail.gif" alt="Scan available symbol" /> symbol next to it then the scan from which the transcription was made is available. Click on the <img src="/scanavail.gif" alt="Scan available symbol" /> symbol to view the scan and see if you can make a better guess at the Volume and/or Page Number.</li>
  <li>Try possible alternatives for each field. For example if the Page Number is shown as 5[38] this means that the page number could be 53 or 58, so you could try to do a search on both possible page numbers.</li>
  <li>If an entry has been partially crossed out (most often the page number) try using the crossed out value instead of the amended value</li>
  <li>If the marriage is after 1911, do a search for the surname of the spouse but without the page
number and/or without the volume and/or without the district (depending on how many entries there
are for the surname).</li>
  <li>Use the <a href="/cgi/PageEntries.pl">Find Page Entries</a> facility as described <a href="#pageentries">below</a> - this information can be combined with the information in the other points below</li>
  <li>Do a search using the District from the original entry (and no Volume and Page Number) to give you the possible spouses - check if there are any entries that may match the page number based on <a href="#UCF">special characters</a> or through a simple error such as juxtaposing characters</li>
  <li>Use information on valid volume numbers for the district to identify possible errors, and therefore likely candidates, in the District search data as described above. See <a href="http://www.genuki.org.uk/big/eng/civreg/GROIndexes.html">here</a> for information on volume numbers.</li>
  <li>Use information on valid page numbers to identify possible errors, and therefore likely candidates, in the District search data as described above. See <a href="/district-page-reverse-map-index.html">here</a> for infomation on valid page numbers (this information is only available when we have enough entries to determine the page range)</li>
  </ul>
  <h2 id="pageentries">Finding Page Entries</h2>
  <p>FreeBMD provides a means to find all the page numbers for a particular quarter and district and/or volume; the page numbers are shown together with the number of entries for each. Using this facility with the details (e.g. year, district, etc.) for the spouse you know about you can find all the possible pages that correspond. By examining this information you can determine the most likely alternative entries. For example, if the spouse you know about is on page 21 and you find that there is an entry for page 2_ there is a possibility that your missing spouse will be the entry with that page. Another clue would be pages with, for example, 9 entries; at least one of these must be on the wrong page, so could one of these entries be your missing spouse? To use the Find Page Entries facility click <a href="/cgi/PageEntries.pl">here</a>. </p>

  <h2 id="UCF">Meaning of special characters</h2>
  <p>The following characters are used where the index is difficult to read:</p>

<table>
<tbody><tr>
<td><code>_</code> (Underscore)</td>
<td>A single uncertain character. It could be anything but is definitely one character. It can be repeated for each uncertain character.
</td>
</tr>
<tr>
<td><code>*</code> (Asterisk)</td>
<td>Several adjacent uncertain characters. A single <code>*</code> is used when there are 1 or more adjacent uncertain characters. It is not used immediately before or after a <code>_</code> or another <code>*</code>.
<br />Note: If it is clear there is a space, then <code>* *</code> is used to represent 2 words, neither of which can be read.
</td>
</tr>
<tr>
<td><code>[<em>abc</em>]</code>
</td>
<td>A single character that could be any one of the contained characters and only those characters. There must be at least two characters between the brackets. <br />For example, <code>[79]</code> would mean either a <code>7</code> or a <code>9</code>, whereas <code>[C_]</code> would mean a <code>C</code> or some other character.
</td>
</tr>
<tr>
<td><code>{<em>min</em>,<em>max</em>}</code>
</td>
<td>Repeat count - the preceding character occurs somewhere between <em>min</em> and <em>max</em> times. <em>max</em> may be omitted, meaning there is no upper limit. So <code>_{1,}</code> would be equivalent to <code>*</code>, and <code>_{0,1}</code> means that it is unclear if there is any character. Ensure the complete field is enclosed in quotes to avoid the comma being taken as a field separator, e.g. "williams{0,1}". </td>
</tr>
<tr>
<td><code>?</code> (Question mark)</td>
<td>Only used where it is unambiguous that there are no characters in the field, e.g a missing Volume.
The question mark must be the only character in the field.
<br />Note: If it is unclear whether the field is empty or not <code>_{0,1}</code> is used. </td>
</tr>
</tbody>
</table>