<%= render 'flash_notice' %>
<table>
  <tr>
    <th>Perod</th>
    <th>Roles</th>
    <th>Upload Count</th>
  </tr>
  <tr>
    <td><%= "#{@start_date} - #{@end_date}" %></td>
    <% @uploaders_count.each do |u| %>
        <td><%= u.key %></td>
        <td><%= u.value %></td>
    <% end %>
  </tr>
</table>