<%= render 'flash_notice' %>
<table>
  <tr>
    <th>Perod</th>
    <th>Roles</th>
    <th>Upload Count</th>
  </tr>
  <tr>
    <td><%= "#{@start_date.to_date} - #{@end_date.to_date}" %></td>
    <td>
    <% @uploaders_count.each do |u| %>
        <dt><%= "#{u[0]} : #{u[1]}" %></dt>
    <% end %>
    </td>
  </tr>
</table>