// Function for retrieving deeply nested map values
@function get($map, $arglist...) {
    $m: $map;

    @each $item in $arglist {
        @if $m !=null {
            $m: map-get($m, $item);
        }
    }

    @return $m;
}