
.icon__arrow-down--white {
  background-image: url('../../images/png/arrow-down--white.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 18px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__arrow-down {
  background-image: url('../../images/png/arrow-down.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 18px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__arrow-left--white {
  background-image: url('../../images/png/arrow-left--white.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 24px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__arrow-left {
  background-image: url('../../images/png/arrow-left.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 24px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__arrow-right--white {
  background-image: url('../../images/png/arrow-right--white.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 24px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__arrow-right {
  background-image: url('../../images/png/arrow-right.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 24px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__arrow-up--white {
  background-image: url('../../images/png/arrow-up--white.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 18px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__arrow-up {
  background-image: url('../../images/png/arrow-up.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 18px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}


.icon__cancel:hover,.icon__cancel:active,
.icon__cancel--brighter {
  background-image: url('../../images/png/cancel--brighter.png');
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__cancel {
  background-image: url('../../images/png/cancel.png');
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__chevron-down {
  background-image: url('../../images/png/chevron-down.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 20px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__chevron-left {
  background-image: url('../../images/png/chevron-left.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 24px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__chevron-right {
  background-image: url('../../images/png/chevron-right.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 24px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__chevron-up {
  background-image: url('../../images/png/chevron-up.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 20px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__error {
  background-image: url('../../images/png/error.png');
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__eye {
  background-image: url('../../images/png/eye.png');
  background-repeat: no-repeat;
  width: 33px;
  height: 18px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}


.icon__facebook:hover,.icon__facebook:active,
.icon__facebook--dark {
  background-image: url('../../images/png/facebook--dark.png');
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__facebook {
  background-image: url('../../images/png/facebook.png');
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__freebmd {
  background-image: url('../../images/png/freebmd.png');
  background-repeat: no-repeat;
  width: 287px;
  height: 87px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__freecen {
  background-image: url('../../images/png/freecen.png');
  background-repeat: no-repeat;
  width: 274px;
  height: 87px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__freereg {
  background-image: url('../../images/png/freereg.png');
  background-repeat: no-repeat;
  width: 266px;
  height: 87px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__freeukgen-strap {
  background-image: url('../../images/png/freeukgen-strap.png');
  background-repeat: no-repeat;
  width: 486px;
  height: 98px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__freeukgen {
  background-image: url('../../images/png/freeukgen.png');
  background-repeat: no-repeat;
  width: 486px;
  height: 87px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__freeukgen__project--dark {
  background-image: url('../../images/png/freeukgen__project--dark.png');
  background-repeat: no-repeat;
  width: 211px;
  height: 49px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__freeukgen__project--light {
  background-image: url('../../images/png/freeukgen__project--light.png');
  background-repeat: no-repeat;
  width: 211px;
  height: 50px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}


.icon__github:hover,.icon__github:active,
.icon__github--dark {
  background-image: url('../../images/png/github--dark.png');
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__github {
  background-image: url('../../images/png/github.png');
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}


.icon__googleplus:hover,.icon__googleplus:active,
.icon__googleplus--dark {
  background-image: url('../../images/png/googleplus--dark.png');
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__googleplus {
  background-image: url('../../images/png/googleplus.png');
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__honeycomb--bottom-left {
  background-image: url('../../images/png/honeycomb--bottom-left.png');
  background-repeat: no-repeat;
  width: 455px;
  height: 178px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__honeycomb--top-right {
  background-image: url('../../images/png/honeycomb--top-right.png');
  background-repeat: no-repeat;
  width: 551px;
  height: 286px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}


.icon__reply:hover,.icon__reply:active,
.icon__reply--dark {
  background-image: url('../../images/png/reply--dark.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__reply {
  background-image: url('../../images/png/reply.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}


.icon__repost:hover,.icon__repost:active,
.icon__repost--dark {
  background-image: url('../../images/png/repost--dark.png');
  background-repeat: no-repeat;
  width: 22px;
  height: 13px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__repost {
  background-image: url('../../images/png/repost.png');
  background-repeat: no-repeat;
  width: 22px;
  height: 13px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}


.icon__rss:hover,.icon__rss:active,
.icon__rss--dark {
  background-image: url('../../images/png/rss--dark.png');
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__rss {
  background-image: url('../../images/png/rss.png');
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__select-error {
  background-image: url('../../images/png/select-error.png');
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__select-success {
  background-image: url('../../images/png/select-success.png');
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__select {
  background-image: url('../../images/png/select.png');
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}


.icon__star:hover,.icon__star:active,
.icon__star--dark {
  background-image: url('../../images/png/star--dark.png');
  background-repeat: no-repeat;
  width: 17px;
  height: 16px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__star {
  background-image: url('../../images/png/star.png');
  background-repeat: no-repeat;
  width: 17px;
  height: 16px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__success {
  background-image: url('../../images/png/success.png');
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__tick {
  background-image: url('../../images/png/tick.png');
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}


.icon__twitter:hover,.icon__twitter:active,
.icon__twitter--dark {
  background-image: url('../../images/png/twitter--dark.png');
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__twitter {
  background-image: url('../../images/png/twitter.png');
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}


