<%= form_for(@county) do |f| %>
  <% if @county.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@county.errors.count, "error") %> prohibited this county from being saved:</h2>

      <ul>
      <% @county.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
