
<div id="content">
<p style="text-align: center"><b>Editing file:<%= @freereg1_csv_file_name %></b> </p>

<%unless session[:error_line].nil?%>
<b>If the header error involves an incorrect record type the file itself must be corrected and reloaded</b><br><br>
  <%n = 0%>
  <%while n < @n %>
 <b><%=@error_message[n]%><%= @content[n]%></b>
   <br>
   <%n = n + 1%>
 <%end%>
 <%end%>
<br>
<%= render 'form' %>
Note:Boxes that are grayed out cannot be changed.<br>
</div>

<br>
