Page Identification Freereg Files:edit<p>
<p style="text-align: center">Editing file:<b><%= @freereg1_csv_file_name %></b> </p>

<%= render 'nav' %>
<br>
<%= render 'form' %>
<br>

<%= render 'nav' %>
