Page Identification Freereg Files:error<p>
<p style="text-align: center"><b>Display error file</b></p>


<%= render 'nav' %>
<p>
There are <b> <%= @lines.length %> errors</b><br><br>
<% @lines.each do |line| %>
<%= line %><br>
<%end%>



<%= render 'nav' %>
