<p style="text-align: center"><b> <%= @first_name%> how would you like to display your files? Select one of the following options.</p></b>
 <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %>  
<div>
<%@options.each do |option| %>
    <%= link_to option, UseridRole::FILE_OPTIONS_TRANSLATION[option],  method: :get, :class => "btn  btn--small" %> <br>

  <%end%>
</div>

<%= render "resource_sidebar" %>