<% breadcrumb :unique_names,  @freereg1_csv_file%>
<%= render 'show_header' %>
<div class="grid">
  <section class="island ">
    <div class="grid__item ">
      <%case%>
        <%when @freereg1_csv_file.record_type == "ba"%>
          <h3 style="text-align: center"><b>Baptisms</b></h3>
        <%when @freereg1_csv_file.record_type == "ma"%>
          <h3 style="text-align: center"><b>Marriages</b></h3>
        <%when @freereg1_csv_file.record_type == "bu"%>
          <h3 style="text-align: center"><b>Burials</b></h3>
      <%end%>
      <% @freereg1_csv_entries.each_pair do |key,value|  %>
        <br> 
        <h4 style="text-align: center"><b><%= key %></b></h4>
        <% value.each do |name| %>
          <%= name %>&emsp;
          <% end %>
        <br>
      <%end%>
      <br>
    </div>
  </section>
</div>