<h1>DRAFT Abbreviations (online)</h1>

<p><mark>TODO: move policy to top and edit as proper intro with links to content; finish and check layout; finish and check links in content</mark> </p>

<div id="abbrev" class="read-length">
  <h2>Appendix 1<br />Abbreviations policy</h2>

  <p>Return to <a href="/information-for-transcribers/fields-in-the-freecen1-spreadsheet" title="Fields in the FreeCEN1 spreadsheet">Field descriptions</a>&#160;(or return to the <a href="/cms/information-for-transcribers/draft-information-for-using-the-csi-online-transcription-system" title="Information for using the CSI online transcription system">Online Transcription instructions</a>&#160;which supersede these instructions)</p>
  <p>While the intention is that transcription should be <q>as is</q>, there will be occasions when the full Census entry is too long (for FreeCEN1 - no such restriction applies to online transcriptions). Our aim is that the <em>average reader</em> will be able to interpret any abbreviation we may use. </p>
  <p>Use accepted forms where-ever possible as in: “Lieut” for Lieutenant, “Capt” for Captain, “JP” for Justice of the Peace, “GP” for General (Medical) Practitioner, “RN” for Royal Navy, etc.</p>
  <p>It is often safe to remove vowels: “schlr” for scholar, “mstr” for master, “mkr” for maker, “jrnymn” for journeyman, “blksmth” for blacksmith, “fshrmn” for fisherman, etc.</p>
  <p>Some occupations will stand severe abbreviation: “Farmer, 150 acres, employing 4 men, 2 women and 1 boy” is still understandable if shortened to “Farmer 150ac emp 4m 2w 1b” (only 25 characters!).</p>
  <p>Always <q>voice</q> what you have written, to ensure that it sounds something like the original entry.</p>
</div> 
<hr class="rule rule--ornament" />

<div id="relations">
  <h2>Appendix 2<br />Relationship to Head — standard abbreviations</h2>

  <div class="push--bottom">Return to <a href="/information-for-transcribers/fields-in-the-freecen1-spreadsheet#person" title="Fields in the FreeCEN1 spreadsheet">Personal Details</a> </div>
  <div class="grid--double">
    <p class="grid__item one-whole push--sides">In this list, the relationship is given first, then its abbreviation.</p>
    <div class="grid__item one-third lap-one-half palm-one-whole">
      <dl class="split push--sides">
        <dt class="split__title">apprentice</dt> <dd>appren</dd>
        <dt class="split__title">assistant</dt> <dd>asstnt</dd>
        <dt class="split__title">aunt</dt> <dd>aunt</dd>
        <dt class="split__title">boarder</dt> <dd>boardr</dd>
        <dt class="split__title">brother-in-law</dt> <dd>brolaw</dd>
        <dt class="split__title">brother</dt> <dd>brothr</dd>
        <dt class="split__title">cousin</dt> <dd>cousin</dd>
        <dt class="split__title">dau-in-law</dt> <dd>daulaw</dd>
        <dt class="split__title">daughter</dt> <dd>dau</dd>
      </dl>
    </div>                  
    <div class="grid__item one-third lap-one-half palm-one-whole">
      <dl class="split push--sides">
        <dt class="split__title">father-in-law</dt> <dd>fa-law</dd>
        <dt class="split__title">father</dt> <dd>father</dd>
        <dt class="split__title">governess</dt> <dd>gvrnss</dd>
        <dt class="split__title">granddaughter</dt> <dd>grndau</dd>
        <dt class="split__title">grandfather</dt> <dd>granpa</dd>
        <dt class="split__title">grandmother</dt> <dd>granma</dd>
        <dt class="split__title">grandson</dt> <dd>grnson</dd>
        <dt class="split__title">great aunt</dt> <dd>gtaunt</dd>
        <dt class="split__title">great uncle</dt> <dd>gtuncl</dd>
      </dl>
    </div>
    <div class="grid__item one-third lap-one-half palm-one-whole">
      <dl class="split push--sides">
        <dt class="split__title">half-brother</dt> <dd>hlfbro</dd>
        <dt class="split__title">half-sister</dt> <dd>hlfsis</dd>
        <dt class="split__title">head</dt> <dd>head</dd>
        <dt class="split__title">husband</dt> <dd>husbnd</dd>
        <dt class="split__title">inmate</dt> <dd>inmate</dd>
        <dt class="split__title">lodger</dt> <dd>lodger</dd>
        <dt class="split__title">mistress</dt> <dd>mstres</dd>
        <dt class="split__title">mother-in-law</dt> <dd>ma-law</dd>
        <dt class="split__title">mother</dt> <dd>mother</dd>
      </dl>
    </div>
    <div class="grid__item one-third lap-one-half palm-one-whole">
      <dl class="split push--sides">
        <dt class="split__title">nephew</dt> <dd>nephew</dd>
        <dt class="split__title">niece</dt> <dd>niece</dd>
        <dt class="split__title">nurse child</dt> <dd>nrs-ch</dd>
        <dt class="split__title">patient</dt> <dd>ptient</dd>
        <dt class="split__title">prisoner</dt> <dd>prisnr</dd>
        <dt class="split__title">pupil/scholar</dt> <dd>pupil</dd>
        <dt class="split__title">relative</dt> <dd>reltiv</dd>
        <dt class="split__title">servant</dt> <dd>servnt</dd>
        <dt class="split__title">sister-in-law</dt> <dd>sislaw</dd>
      </dl>
    </div>
    <div class="grid__item one-third lap-one-half palm-one-whole">
      <dl class="split push--sides">
        <dt class="split__title">sister</dt> <dd>sister</dd>
        <dt class="split__title">son-in-law</dt> <dd>sonlaw</dd>
        <dt class="split__title">son</dt> <dd>son</dd>
        <dt class="split__title">step-brother</dt> <dd>stpbro</dd>
        <dt class="split__title">step-daughter</dt> <dd>stpdau</dd>
        <dt class="split__title">stepfather</dt> <dd>stpdad</dd>
        <dt class="split__title">stepmother</dt> <dd>stpmum</dd>
        <dt class="split__title">stepsister</dt> <dd>stpsis</dd>
        <dt class="split__title">stepson</dt> <dd>stpson</dd>
      </dl>
    </div>
    <div class="grid__item one-third lap-one-half palm-one-whole">
      <dl class="split push--sides">
        <dt class="split__title">stranger</dt> <dd>strngr</dd>
        <dt class="split__title">traveller</dt> <dd>trvelr</dd>
        <dt class="split__title">uncle</dt> <dd>uncle</dd>
        <dt class="split__title">visitor</dt> <dd>vistor</dd>
        <dt class="split__title">wife's dau</dt> <dd>wifdau</dd>
        <dt class="split__title">wife's mother</dt> <dd>wif-ma</dd>
        <dt class="split__title">wife's son</dt> <dd>wifson</dd>
        <dt class="split__title">wife</dt> <dd>wife</dd>
      </dl>
    </div>
  </div> 
</div> 

<hr class="rule rule--ornament clear--left" />

<div id="chapman">
  <h2>Appendix 3<br />Chapman Codes used by FreeCEN</h2>
  <div class="push--bottom">Return to <a href="/information-for-transcribers/fields-in-the-freecen1-spreadsheet#birthplace" title="Fields in the FreeCEN1 spreadsheet">Birthplace &amp; Sundries</a> (or return to the <a href="/information-for-transcribers/draft-information-for-using-the-csi-online-transcription-system" title="Information for using the CSI online transcription system">Online Transcription instructions</a>&#160;which supercede these instructions)
</div>

  <div class="container">
    <div class="grid--double">
      <p class="grid__item one-whole push--sides">County or Region ~ Chapman Code</p>
      <div class="grid__item one-third lap-one-half palm-one-whole">
        <dl class="split push--sides">
          <dt class="split__title">Aberdeenshire</dt> <dd>ABD</dd>
          <dt class="split__title">Alderney</dt> <dd>ALD</dd>
          <dt class="split__title">Anglesey</dt> <dd>AGY</dd>
          <dt class="split__title">Angus</dt> <dd>ANS</dd>
          <dt class="split__title">Antrim</dt> <dd>ANT</dd>
          <dt class="split__title">Argyllshire</dt> <dd>ARL</dd>
          <dt class="split__title">Armagh</dt> <dd>ARM</dd>
          <dt class="split__title">Ayrshire</dt> <dd>AYR</dd>
          <dt class="split__title">Banffshire</dt> <dd>BAN</dd>
          <dt class="split__title">Bedfordshire</dt> <dd>BDF</dd>
          <dt class="split__title">Berkshire</dt> <dd>BRK</dd>
          <dt class="split__title">Berwickshire</dt> <dd>BEW</dd>
          <dt class="split__title">Brecknockshire</dt> <dd>BRE</dd>
          <dt class="split__title">Buckinghamshire</dt> <dd>BKM</dd>
          <dt class="split__title">Bute</dt> <dd>BUT</dd>
          <dt class="split__title">Caernarvonshire</dt> <dd>CAE</dd>
          <dt class="split__title">Caithness-shire</dt> <dd>CAI</dd>
          <dt class="split__title">Cambridgeshire</dt> <dd>CAM</dd>
          <dt class="split__title">Cardiganshire</dt> <dd>CGN</dd>
          <dt class="split__title">Carlow</dt> <dd>CAR</dd>
          <dt class="split__title">Carmarthenshire</dt> <dd>CMN</dd>
          <dt class="split__title">Cavan</dt> <dd>CAV</dd>
          <dt class="split__title">Channel Isles</dt> <dd>CHI</dd>
          <dt class="split__title">Cheshire</dt> <dd>CHS</dd>
          <dt class="split__title">Clackmannanshire</dt> <dd>CLK</dd>
        </dl>
      </div>
      <div class="grid__item one-third lap-one-half palm-one-whole">
        <dl class="split push--sides">
          <dt class="split__title">Clare</dt> <dd>CLA</dd>
          <dt class="split__title">Cork</dt> <dd>COR</dd>
          <dt class="split__title">Cornwall</dt> <dd>CON</dd>
          <dt class="split__title">County Durham</dt> <dd>DUR</dd>
          <dt class="split__title">Cumberland</dt> <dd>CUL</dd>
          <dt class="split__title">Denbighshire</dt> <dd>DEN</dd>
          <dt class="split__title">Derbyshire</dt> <dd>DBY</dd>
          <dt class="split__title">Devon</dt> <dd>DEV</dd>
          <dt class="split__title">Donegal</dt> <dd>DON</dd>
          <dt class="split__title">Dorset</dt> <dd>DOR</dd>
          <dt class="split__title">Down</dt> <dd>DOW</dd>
          <dt class="split__title">Dublin</dt> <dd>DUB</dd>
          <dt class="split__title">Dumfriesshire</dt> <dd>DFS</dd>
          <dt class="split__title">Dunbartonshire</dt> <dd>DNB</dd>
          <dt class="split__title">Durham</dt> <dd>DUR</dd>
          <dt class="split__title">East Lothian</dt> <dd>ELN</dd>
          <dt class="split__title">East Riding YKS</dt> <dd>ERY</dd>
          <dt class="split__title">Edinburghshire</dt> <dd>MLN</dd>
          <dt class="split__title">Elginshire</dt> <dd>MOR</dd>
          <dt class="split__title">England</dt> <dd>ENG</dd>
          <dt class="split__title">Essex</dt> <dd>ESS</dd>
          <dt class="split__title">Ettrick Forest</dt> <dd>SEL</dd>
          <dt class="split__title">Fermanagh</dt> <dd>FER</dd>
          <dt class="split__title">Fifeshire</dt> <dd>FIF</dd>
          <dt class="split__title">Flintshire </dt> <dd>FLN</dd>
        </dl>
      </div>
      <div class="grid__item one-third lap-one-half palm-one-whole">
        <dl class="split push--sides">
          <dt class="split__title">Forfarshire (Angus)</dt> <dd>ANS</dd>
          <dt class="split__title">Galloway <sup><a href="#chpfn2">[2]</a>
</sup>
</dt> <dd>KKD or WIG</dd>
          <dt class="split__title">Galway</dt> <dd>GAL</dd>
          <dt class="split__title">Glamorganshire</dt> <dd>GLA</dd>
          <dt class="split__title">Gloucestershire</dt> <dd>GLS</dd>
          <dt class="split__title">Guernsey</dt> <dd>GSY</dd>
          <dt class="split__title">Haddingtonshire</dt> <dd>ELN</dd>
          <dt class="split__title">Hampshire</dt> <dd>HAM</dd>
          <dt class="split__title">Hants</dt> <dd>HAM</dd>
          <dt class="split__title">Herefordshire</dt> <dd>HEF</dd>
          <dt class="split__title">Hertfordshire</dt> <dd>HRT</dd>
          <dt class="split__title">Huntingdonshire</dt> <dd>HUN</dd>
          <dt class="split__title">Inverness-shire</dt> <dd>INV</dd>
          <dt class="split__title">Ireland</dt> <dd>IRL</dd>
          <dt class="split__title">Isle of Man</dt> <dd>IOM</dd>
          <dt class="split__title">Isle of Wight</dt> <dd>IOW</dd>
          <dt class="split__title">Jersey</dt> <dd>JSY</dd>
          <dt class="split__title">Kent</dt> <dd>KEN</dd>
          <dt class="split__title">Kerry</dt> <dd>KER</dd>
          <dt class="split__title">Kildare</dt> <dd>KID</dd>
          <dt class="split__title">Kilkenny</dt> <dd>KIK</dd>
          <dt class="split__title">Kincardineshire</dt> <dd>KCD</dd>
          <dt class="split__title">Kings (Offaly)</dt> <dd>OFF</dd>
          <dt class="split__title">Kinross-shire</dt> <dd>KRS</dd>
          <dt class="split__title">Kirkcudbrightshire</dt> <dd>KKD</dd>
        </dl>
      </div>
      <div class="grid__item one-third lap-one-half palm-one-whole">
        <dl class="split push--sides">
          <dt class="split__title">Lanarkshire</dt> <dd>LKS</dd>
          <dt class="split__title">Lancashire</dt> <dd>LAN</dd>
          <dt class="split__title">Leicestershire</dt> <dd>LEI</dd>
          <dt class="split__title">Leitrim</dt> <dd>LET</dd>
          <dt class="split__title">Leix (Queens)</dt> <dd>LEX</dd>
          <dt class="split__title">Limerick</dt> <dd>LIM</dd>
          <dt class="split__title">Lincolnshire</dt> <dd>LIN</dd>
          <dt class="split__title">Linlithgowshire</dt> <dd>WLN</dd>
          <dt class="split__title">London (City)</dt> <dd>LND</dd>
          <dt class="split__title">Londonderry</dt> <dd>LDY</dd>
          <dt class="split__title">Longford</dt> <dd>LOG</dd>
          <dt class="split__title">Louth</dt> <dd>LOU</dd>
          <dt class="split__title">Mayo</dt> <dd>MAY</dd>
          <dt class="split__title">Mearns <sup><a href="#chpfn1">[1]</a>
</sup>
</dt> <dd>KCD</dd>
          <dt class="split__title">Meath</dt> <dd>MEA</dd>
          <dt class="split__title">Merionethshire</dt> <dd>MER</dd>
          <dt class="split__title">Middlesex</dt> <dd>MDX</dd>
          <dt class="split__title">Midlothian</dt> <dd>MLN</dd>
          <dt class="split__title">Monaghan </dt> <dd>MOG</dd>
          <dt class="split__title">Monmouthshire</dt> <dd>MON</dd>
          <dt class="split__title">Montgomeryshire</dt> <dd>MGY</dd>
          <dt class="split__title">Moray</dt> <dd>MOR</dd>
          <dt class="split__title">Nairnshire</dt> <dd>NAI</dd>
          <dt class="split__title">Norfolk</dt> <dd> NFK</dd>
          <dt class="split__title">North Riding YKS</dt> <dd>NRY</dd>
        </dl>
      </div>
      <div class="grid__item one-third lap-one-half palm-one-whole">
        <dl class="split push--sides">
          <dt class="split__title">Northamptonshire</dt> <dd>NTH</dd>
          <dt class="split__title">Northants</dt> <dd>NTH</dd>
          <dt class="split__title">Northumberland</dt> <dd>NBL</dd>
          <dt class="split__title">Nottinghamshire</dt> <dd>NTT</dd>
          <dt class="split__title">Offaly (Kings)</dt> <dd>OFF</dd>
          <dt class="split__title">Orkney Isles</dt> <dd>OKI</dd>
          <dt class="split__title">Oxfordshire</dt> <dd>OXF</dd>
          <dt class="split__title">Peebleshire</dt> <dd>PEE</dd>
          <dt class="split__title">Pembrokeshire</dt> <dd>PEM</dd>
          <dt class="split__title">Perthshire</dt> <dd>PER</dd>
          <dt class="split__title">Queens (Leix)</dt> <dd>LEX</dd>
          <dt class="split__title">Radnorshire</dt> <dd>RAD</dd>
          <dt class="split__title">Renfrewshire</dt> <dd>RFW</dd>
          <dt class="split__title">Roscommon</dt> <dd>ROS</dd>
          <dt class="split__title">Ross &amp; Cromarty</dt> <dd>ROC</dd>
          <dt class="split__title">Roxburghshire</dt> <dd>ROX</dd>
          <dt class="split__title">Rutland</dt> <dd>RUT</dd>
          <dt class="split__title">Salop</dt> <dd>SAL</dd>
          <dt class="split__title">Sark</dt> <dd>SRK</dd>
          <dt class="split__title">Scotland</dt> <dd>SCT</dd>
          <dt class="split__title">Selkirkshire</dt> <dd>SEL</dd>
          <dt class="split__title">Shetland Isles</dt> <dd>SHI</dd>
          <dt class="split__title">Shropshire</dt> <dd>SAL</dd>
          <dt class="split__title">Sligo</dt> <dd>SLI</dd>
          <dt class="split__title">Somerset</dt> <dd>SOM</dd>
        </dl>
      </div>
      <div class="grid__item one-third lap-one-half palm-one-whole">
        <dl class="split push--sides">
          <dt class="split__title">Staffordshire</dt> <dd>STS</dd>
          <dt class="split__title">Stewartry <sup><a href="#chpfn1">[1]</a> </sup> </dt> <dd>KKD (or KCD)</dd>
          <dt class="split__title">Stirlingshire</dt> <dd>STI</dd>
          <dt class="split__title">Suffolk</dt> <dd>SFK</dd>
          <dt class="split__title">Surrey</dt> <dd>SRY</dd>
          <dt class="split__title">Sussex</dt> <dd>SSX</dd>
          <dt class="split__title">Sutherland</dt> <dd>SUT</dd>
          <dt class="split__title">Tipperary</dt> <dd>TIP</dd>
          <dt class="split__title">Tweeddale</dt> <dd>PEE</dd>
          <dt class="split__title">Tyrone</dt> <dd>TYR</dd>
          <dt class="split__title">Wales</dt> <dd>WLS</dd>
          <dt class="split__title">Warwickshire</dt> <dd>WAR</dd>
          <dt class="split__title">Waterford</dt> <dd>WAT</dd>
          <dt class="split__title">West Lothian</dt> <dd>WLN</dd>
          <dt class="split__title">West Riding YKS</dt> <dd>WRY</dd>
          <dt class="split__title">Westmeath</dt> <dd>WEM</dd>
          <dt class="split__title">Westmorland</dt> <dd>WES</dd>
          <dt class="split__title">Wexford</dt> <dd>WEX</dd>
          <dt class="split__title">Wicklow</dt> <dd>WIC</dd>
          <dt class="split__title">Wigtownshire</dt> <dd>WIG</dd>
          <dt class="split__title">Wiltshire</dt> <dd>WIL</dd>
          <dt class="split__title">Worcestershire</dt> <dd>WOR</dd>
          <dt class="split__title">Yorkshire</dt> <dd>YKS</dd>
          <dt class="split__title">Zetland</dt> <dd>SHI</dd>
        </dl>
      </div>
    </div>
    <h3 class="clear--left">Additional Codes used by FreeCEN</h3>
    <div class="grid--double">
      <div class="grid__item one-third lap-one-half palm-one-whole">
        <dl class="split push--sides">
          <dt class="split__title">Out of this county (1841)</dt> <dd>OUC</dd>
          <dt class="split__title">Overseas: Brit. Subject</dt> <dd>OVB</dd>
          <dt class="split__title">Overseas: Foreign</dt> <dd>OVF</dd>
          <dt class="split__title">Unknown</dt> <dd>UNK</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="footnote read-length clear--left">
    <h3 class="flush--bottom">Notes:</h3>
    <ol class="landmark">
      <li id="chpfn1">Mearns (or The Mearns) as a county name refers to Kincardineshire (KCD). However, please note that there is a village in Eaglesham parish, Renfrewshire called Mearns. The word <q>Mearns</q> is from the gaelic for Stewartry, so it is possible, but unlikely, that Kincardineshire could be be recorded as <q>Stewartry</q>: if the place of birth does not make the intention clear, leave a note in column Y for the Checker and Validator to work it out.</li>
      <li id="chpfn2">Galloway comprised the counties of Kirkcudbrightshire (East Galloway) and Wigtownshire (West Galloway): as above, if the place of birth does not make the actual county clear, leave a note in column Y.</li>
      <li>If you can’t find the name you are looking for, or if you have any doubts about what to record, leave a note in column Y.</li>
    </ol>
  </div>

  <div class="island island--light read-length clear--left">
    <p>Spelling of Kirkcudbrightshire corrected. Former/alternative county names of Scotland extended with Edinburghshire (MLN), Elginshire (MOR), Haddingtonshire (ELN), Linlithgowshire (WLN) and Zetland (SHI). Entries added for Stewartry (KKD, possibly KCD) and Galloway (KKD or WIG). Similarly, Irish counties with alternative names now have an entry for each name.</p>
  </div>

</div> 
<hr class="rule rule--ornament" />

<div id="occupation">
  <h2>Appendix 4<br />Occupation abbreviations</h2>
  <div class="push--bottom"></div>
  <p>Return to <a href="/information-for-transcribers/fields-in-the-freecen1-spreadsheet" title="Fields in the FreeCEN1 spreadsheet">Field descriptions</a>&#160;(or return to the <a href="/information-for-transcribers/draft-information-for-using-the-csi-online-transcription-system" title="Information for using the CSI online transcription system">Online Transcription instructions</a>&#160;which supercede these instructions)</p>
	
  <div class="read-length">
    <p>For the <strong>1841</strong> census, enumerators were told to use the following abbreviations for common occupations. Some enumerators continued to use these abbreviations for later censuses. FreeCEN policy is to expand these abbreviations where there is no doubt about the intended meaning.</p>
    <p>In this alphabetical list, the enumerator abbreviation is followed by the occupation in full.</p>
  </div>
  <div class="grid--double">
    <div class="grid__item one-half lap-one-whole palm-one-whole">
      <dl class="data data--compact lap-flush--bottom palm-flush--bottom">
        <dt class="data__name">A. or Ap.</dt> <dd class="data__value">Apprentice — can be abbreviated as “appren”</dd>
        <dt class="data__name">Ag. Lab. or A.L.</dt> <dd class="data__value">Agricultural Labourer — can be abbreviated as “ag lab”</dd>
        <dt class="data__name">Army H.P.</dt> <dd class="data__value">Army, Half-Pay</dd>
        <dt class="data__name">Army Pen.</dt> <dd class="data__value">Army Pensioner</dd>
        <dt class="data__name">B. Smith or B.S.</dt> <dd class="data__value">Black Smith</dd>
        <dt class="data__name">Cl.</dt> <dd class="data__value">Clerk</dd>
        <dt class="data__name">F.S.</dt> <dd class="data__value">Female Servant</dd>
        <dt class="data__name">H.L.W.</dt> <dd class="data__value">Hand Loom Weaver</dd>
        <dt class="data__name">H.L.C.W., H.L.L.W., H.L.W.W.</dt> <dd class="data__value">Hand Loom Weaver — Cotton, Linen, Woollen, respectively</dd>
        <dt class="data__name">Ind.</dt> <dd class="data__value">Independent</dd>
      </dl>
    </div>
    <div class="grid__item one-half lap-one-whole palm-one-whole">
      <dl class="data data--compact">
        <dt class="data__name">J.</dt> <dd class="data__value">Journeyman — can be abbreviated as “jrnymn”</dd>
        <dt class="data__name">Lab.</dt> <dd class="data__value">Labourer</dd>
        <dt class="data__name">M. or m.</dt> <dd class="data__value">M. is supposed to be Manufacturer and m. is supposed to be Maker. Enumerators tended to use them interchangeably and it is sometimes used as an abbreviation for Miner (e.g. “Coal M.”)</dd>
        <dt class="data__name">M.S.</dt> <dd class="data__value">Male Servant</dd>
        <dt class="data__name">P. Pauper</dt> <dd class="data__value">Parish Pauper</dd>
        <dt class="data__name">Rail. Lab.</dt> <dd class="data__value">Railway Labourer</dd>
        <dt class="data__name">Sh.</dt> <dd class="data__value">Shopman</dd>
        <dt class="data__name">Sp. Deal.</dt> <dd class="data__value">Spirit Dealer</dd>
      </dl>
    </div>
  </div>
  <div class="clear--left"> </div>
</div>
