<% breadcrumb :gaps, @register %>

<% title "GAP - list" %>
<%= render partial: 'header' %>
<%= render partial: 'flash_notice' %>

<div class="grid">
  <section class="island">
    <%= render 'gap_index' %>
  </section>
</div>