<% breadcrumb :new_gap, @user, @syndicate, @county, @place, @church, @register, @freereg1_csv_file%>
<% title "GAP - create" %>
<%= render partial: 'header' %>
<%= render partial: 'flash_notice' %>
<div class="grid">
  <%= render 'form' %>
</div>