<h1>DRAFT Additional search options (proposed terms)</h1>

<style scoped="scoped">
  .given { color: #9d14ff; } /* $indigo */
  .family { color: #008000; } /* $green */
  .first-given { color: #db0000; } /* $red */
  .middle-given { color: #007fad; } /* $turquoise */
</style>

<p><mark>#481 — try out the proposed new terms. Being edited offline. Last updated 16 Mar</mark> </p>
<p><mark>Examples sought for: Other, <em>In Middle Given Name or Family Name</em> </mark> </p>

<div class="grid">
  <div class="grid__item three-fifths lap-one-half palm-one-whole">
    <p class="lead">There is a section at the foot of the search form called <em>Additional Search options</em> — these will help you with those tricky-to-find records, by adding power and flexibility to your search. The additional options give you access to what are known as partial searches.</p>
    <p>We are confident that once you try these options a few times, you will soon get the hang of how they work. But, if you are not finding what you expect to find, we hope that the information here will help you understand what is going on and have success with searching.</p>
    <p><strong>Partial searches</strong> work on what you enter in the name boxes in the search form: in Given Names, Family Name or Mother’s Family Name. The search looks for those names that include what you put in one of the name boxes in some way, as long as you type at least three letters and do not use symbols.</p>
    <p>There are just two boxes in the Additional search options: the <em>Choose the Name field</em> box lets you select which part of the name to look at; the second box, labelled <em>Select one of the following</em>, lets you choose the type of partial search.</p>      
  </div>

  <div class="grid__item two-fifths lap-one-half palm-one-whole float--right">
    <nav aria-labelledby="thisPage">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="thisPage">On this page</h2>
        <ul class="sub-nav">
          <li><a href="#terms">Terms used in this guide</a> </li>
          <li><a href="#firstName">Given name searches</a> </li>
          <li><a href="#middleName">Middle given name searches</a> </li>
          <li><a href="#surname">Family name searches</a> </li>
          <li><a href="#motherSurname">Mother’s family name searches</a> </li>
          <li><a href="#other">Other searches</a> </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="grid">
  <div class="grid__item three-fifths lap-one-whole palm-one-whole read-length">
    <h2 id="terms">Terms used in this guide</h2>
    <p>A person’s full name is their <span class="given">given name</span> or names plus their <span class="family">family name</span>.</p>
    <p>If they have more than one given name, then we can divide it into their <span class="first-given">first given name</span> plus their <span class="middle-given">middle given name</span> or names. In other words, their <span class="middle-given">middle given name</span> is everything in their given names after their <span class="first-given">first given name</span>.</p>
    <p class="push-half--bottom">To summarise, a person’s full name is either one of these:</p>
    <ul>
      <li class="gamma"><span class="given">given names</span> and <span class="family">family name</span> </li>
      <li class="gamma"><span class="first-given">first given name</span> and <span class="middle-given">middle given names</span> and <span class="family">family name</span> </li>
    </ul>
    <p>Please note that you are likely to find initials rather than full <span class="middle-given">middle given names</span> in the GRO Index.</p>
    <hr class="rule" />

    <h2 id="firstName">Given Name searches</h2>
    <p>In the ‘Choose the Name field’ box, select <em>Given Name</em> to search for what you enter in the ‘Given Names’ box. You must type at least three letters and no symbols.</p>
    <p>Fill in the ‘Family Name’ box as usual — you may use a star symbol (an asterisk) as a wildcard there if you want to, when doing a Given Name search.</p>
    <p>In the ‘Select one of the following’ box, you have the choice of three options for the type of partial search: <em>Contains</em>, <em>Ends With</em> and <em>Any</em>.</p>

    <h3 id="contains">Contains</h3>
    <p>The <em>contains</em> option will find all the records where the <span class="given">given name</span> contains (that is, includes) what you have typed in the Given Names box. It will also find records where the <span class="given">given name</span> has additional letters before or after what you have typed.</p>
    <p class="push-half--bottom">The following examples should help to make this idea clearer for you:</p>
    <ul>
      <li>Given Name <em>contains</em> ‘henry’ will find:<br />
        William Henry W, Henry Burt, James Henry, Henry B, etc.
      </li>
      <li>Given Name <em>contains</em> ‘fred’ will find:<br />
        Fred, Frederic, Frederick, Frederick Frank, Alfred, Henry Alfred, Wilfred, Winifred, etc.</li>
      <li>Given Name <em>contains</em> ‘alex’ will find:<br />
        Alex, Alexa, Alexandra, Alexander, John Alexander, etc.</li>
    </ul>

    <h3>Ends With</h3>
    <p class="push-half--bottom">The <em>ends with</em> option will find all the <span class="given">given names</span> that end with what you have put in the Given Names box. It will also find records where there are additional letters immediately before the ones you have typed. Here are some examples:</p>
    <ul>
      <li>Given Name <em>ends with</em> ‘mary’ will find:<br />
        Mary, Alice Mary, Agness Elisabeth Mary, etc.</li>
      <li>Given Name <em>ends with</em> ‘ith’ will find:<br />
        Edith, Mary Edith, Judith, Sally Judith, Hannah Smith, Meredith, Faith, etc.
      </li>
    </ul>

    <h3>Any</h3>
    <p class="push-half--bottom">The <em>any</em> option will find any of the <span class="given">given names</span> that you put in the Given Names box. For example:</p>
    <ul>
      <li>Given Name, <em>any</em>, ‘mary ann’ will find:<br /> Mary, Ann, and Mary Ann.<br /> It will <strong>not</strong> find Anne, Mary Anne, or Ann Mary.</li>
      <li>Given Name, <em>any</em>, ‘john james’ finds:<br /> John, James, and John James (but <strong>not</strong> James John)</li>
    </ul>
    <hr class="rule" />

    <h2 id="middleName">Middle Given Name searches</h2>
    <p>In the ‘Choose the Name field’ box, select <em>Middle Given Name</em> to search for what you enter in the ‘Given Names’ box, treating it as a <span class="middle-given">middle given name</span>.</p>
    <p>In the ‘Select one of the following’ box, the options are: <em>Starts with</em>, <em>Contains</em>, <em>Ends With</em> and <em>Exact match</em>.</p>

    <h3>Starts with</h3>
    <p class="push-half--bottom">The <em>starts with</em> option will get results where the <span class="middle-given">middle given name</span> starts with what you have typed in the Given Names box. It will also find those records where there are additional letters after what you have entered. Here is an example of each:</p>
    <ul>
      <li>Middle Given Name <em>starts with</em> ‘john’ finds:<br /> Arthur John, Ernest John F, etc.</li>
      <li>Middle Given Name <em>starts with</em> ‘fred’ finds:<br /> James Fred, Charles Frederick, Paul Frederic William, etc.</li>
    </ul>

    <h3>Contains</h3>
    <p>The <em>contains</em> option will find records where the <span class="middle-given">middle given name</span> contains (includes) what you have typed in the Given Names box.</p>
    <p class="push-half--bottom">Here are some examples:</p>
    <ul>
      <li>Middle Given Name <em>contains</em> ‘agnes’ will find<br />
        Mary Agnes, Helen Agnes, Judith Agnes Mary, etc.
      </li>
      <li>Middle Given Name <em>contains</em> ‘john’ will find<br />
        Charles John, Alexander John Frederick, Cornelius John, etc.
      </li>
    </ul>

    <h3>Ends With</h3>
    <p>The <em>ends with</em> option will find records where the <span class="middle-given">middle given name</span> ends with what you have typed in the Given Names box.</p>
    <p>For example, a Middle Given Name, <em>ends with</em> search for ‘john’ will find William John, Charles John, Alexander Frederick John, etc.</p>

    <h3 id="exactMatch">Exact match</h3>
    <p>The <em>exact match</em> option will find records where the <span class="middle-given">middle given  name</span> is exactly what you type in the Given Names box. For instance, put ‘i’ in the Given Names box and then a partial search on Middle Given Name, <em>exact match</em> will find all those people with the single middle initial, I.</p>
    <p>For example: Ada I, Alexander I, Leila I, Margaret I, Nora I, etc.</p>
    <p>Please note that this is the only partial search where you can put a single letter in the Given Names box.</p>
    <hr class="rule" />

    <h2 id="surname">Family Name searches</h2>
    <p>In the ‘Choose the Name field’ box, select <em>Family Name</em> to search for what you have typed in the ‘Family Name’ box. The search has three options: these are <em>Starts With</em>, <em>Contains</em> and <em>Ends With</em>.</p>

    <h3>Starts with</h3>
    <p>The <em>starts with</em> option will find people whose <span class="family">family name</span> starts with what you type in the Family Name box.</p>
    <p>For example, Family Name <em>starts with</em> ‘davi’ would find Davies, Davis, Davids, Davidson, Davitt, and so on.</p>

    <h3>Contains</h3>
    <p>The <em>contains</em> option will find those records where the <span class="family">family name</span> contains (includes) what you type in the Family Name box.</p>
    <p>A Family Name <em>contains</em> search for ‘twiston’ finds people with the family names Twiston, Twiston Davies, and Twiston-Davies.</p>
    <p>A Family Name <em>contains</em> search for ‘stone’, with ‘alex’ in the Given Names box finds Alex STONE, Alexandra STONEY, and Alexis STONESTREET, for example.</p>

    <h3>Ends With</h3>
    <p>The <em>ends with</em> option will find those records where the <span class="family">family name</span> ends with what you type in the Family Name box.</p>
    <p>For example, a Family Name <em>ends with</em> search for ‘cole’, with ‘mary’ in the Given Names box finds Mary COLE, Mary SEACOLE, and Mary WELLS-COLE.</p>
    <p>A Family Name <em>ends with</em> search for 'field' finds people with the <span class="family">family name</span> Field, Oldfield and Wakefield, for example.</p>
    <hr class="rule" />

    <h2 id="motherSurname">Mother’s Family Name searches</h2>
    <p>The <em>Mother’s Family Name</em> partial search looks for what you have typed in the <em>Mother’s Family Name</em> box. This box is available only for births and the birth must have been registered during or after the September quarter of 1911.</p>
    <p>The options are <em>Starts with</em>, <em>Contains</em>, and <em>Ends With</em>. As you might expect, these options find records in much the same way as the Family Name searches described above.</p>
    <hr class="rule" />

    <h2 id="other">Other searches</h2>
    <p>If you select <em>Other</em> in the ‘Choose the Name field’ box, two options appear in the ‘Select one of the following’ box: these are, <em>In First Given Name or Middle Given Name</em> and <em>In Middle Given Name or Family Name</em>.</p>

    <h3>In First Given Name or Middle Given Name</h3>
    <p><em>In first given name or middle given name</em> will find people where one of the names you put in the Given Names box is their <span class="first-given">first given name</span> or their <span class="middle-given">middle given name</span>. It will also find people whose <span class="middle-given">middle given name</span> is all the names you put in the Given Names box, in that order.</p>
    <p class="push-half--bottom">For example, a search for ‘frederick john’ using Other, <em>in first given name or middle given name</em> will find people whose:</p>
    <ul>
      <li><span class="first-given">first given name</span> is John</li>
      <li><span class="first-given">first given name</span> is Frederick</li>
      <li><span class="middle-given">middle given name</span> is either Frederick or John</li>
      <li><span class="middle-given">middle given names</span> are Frederick John</li>
    </ul>
    <p class="push-half--bottom">The search will <strong>not</strong> find any of these:</p>
    <ul>
      <li>James Fred John — because Frederick is shortened to Fred</li>
      <li>Charles Frederick John B — it is not looking for B</li>
      <li>Alexander John Frederick — it is looking for Frederick John, not John Frederick</li>
    </ul>
    <p>You can put more than two names in the Given Names box, but you might get too many results or the search might time out. Be prepared to fill in another box or two, to limit your search. As well as putting something in the Family Name box, choose a Record Type, then choose a County and so forth.</p>

    <h3>In Middle Given Name or Family Name</h3>
    <p>The <em>in middle given name or family name</em> option looks for the names you have typed in the ‘Family Name’ box — you may type more than one name. It tries to find records with one or all of those names as either the <span class="middle-given">middle given name</span> or the <span class="family">family name</span>.</p>
    <p>In the example below, we searched for ‘frederick john’. Because these are common names, we gave some more information: we put ‘william’ in the First Names box, chose the ‘Birth’ record type and the county of ‘Buckinghamshire’.</p>
    <p class="push-half--bottom">Our search found people whose:</p>
    <ul>
      <li><span class="middle-given">middle given name</span> is John</li>
      <li><span class="middle-given">middle given name</span> is Frederick</li>
      <li><span class="middle-given">middle given names</span> are Frederick John</li>
      <li><span class="family">family name</span> is John</li>
    </ul>
    <p><mark>Can we find a better example?</mark> </p>

  </div>
</div>