<% breadcrumb :freecen2_districts,  @chapman_code @year%>
<h1 style="text-align: center">FreeCen2 Districts for <%=@chapman_code%> <%=@year%></h1>
<div style="text-align: center">
  <%= render 'flash_notice' %>
</div>