<%= render 'index_header' %>
<table style="margin-left:25%" class="table--bordered t50 table--data table--striped " >
  <thead >
    <tr >
      <th >Year</th>
      <th >District</th>
    </tr>
  </thead>
  <tbody >
    <% @freecen2_districts.each do |freecen2_district| %>
      <tr >
        <td> <%= freecen2_district.year%></td>
        <td> <%= freecen2_district.name%></td>
      </tr>
    <% end%>
  </tbody >
</table>