/*------------------------------------*\
    $BANNER
\*------------------------------------*/

/**
 * A horizontal banner
 */
.banner-horz {
  display: block;
  text-align: center;
  position: relative;
  height: 90px;
}

.adsense_center {
  margin: 0 auto;
  font-weight: bold;
  margin-bottom: 20px;
  border: 1px solid #c0c0c0;
  padding: 10px;
}
