/*------------------------------------*\
    $BANNER
\*------------------------------------*/

/**
 * Essentially the same as `.island` but moved in
 * here so we can style over the top easier. The same
 * colours as `.island` uses will work as well.
 */

.banner {
  @extend %island;
  height: 311px;
  position: relative;
}


  .banner__title {
    font-weight: lighter;
    @include font-size(32px, false);
  }
    .banner__title--bold { font-weight: bold; }


  .banner__body {
    position: absolute;
    margin: 0;
    bottom: $b;
    left: $b;
    right: $b;

    font-weight: lighter;
  }



/**
 * Specifically _not_ inheriting island and just
 * fixing up the images inside it
 */
.banner-img {

  img {
    @extend %fluid-img;
  }

}



/**
 * To make all this work better on anything smaller
 * than desktops we will remove all the positioning
 */
@include media-query(portable) {
.banner {
  height: auto;
}
  .banner__body { position: static; }
}



/**
 * A horizontal banner - only show on desktop
 */
.banner-horz {
  display: none;
}
