@if $use-breadcrumb == true{
/*------------------------------------*\
    $BREADCRUMBS
\*------------------------------------*/

/**
 * Overrides inuit's default
 */
.breadcrumb > li + li:before {
  @extend %icon;
  @include inline-block;
  vertical-align: top;
  font-size: 1.2em;
  margin-top: 0.13em;
  content: "\bb";
}
.breadcrumb, .breadcrumb--path {
   a {
    color: $brand-color;
    &:active,
    &:focus,
    &:hover {
      color: $focus-hover;
    }
    &:focus {
      background-color: $project-color-faded;
      outline: 3px solid $project-color-faded;
    }
  }
}
}//endif

