@if $use-grids == true{
/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
  /**
   * Modify the grid system to be float-based
   */
  .grid {
    overflow: hidden;
  }

    /**
     * Grid
     */
    .grid__item {
      display: block;
      float: left;
    }


  /**
   * Extends `.grid` and is half the gutters
   */
  .grid--half {
    margin-left: -$b-half;
    .grid__item {
      padding-left: $b-half;
    }
  }


  /**
   * Extends `.grid` and is double the gutters
   */
  .grid--double {
    margin-left: -$b-double;
    .grid__item {
      padding-left: $b-double;
    }
  }
}//endif
