@if $use-island == true{

/*------------------------------------*\
    $ISLAND
\*------------------------------------*/


/**
 * Colours for islands
 */
@each $colour in $colours {
  .banner--#{nth($colour, 1)},
  .island--#{nth($colour, 1)},
  .islet--#{nth($colour, 1)} {
    color: nth($colour, 5);
    background-color: nth($colour, 2);
    a {
      color: #fff;
      text-decoration: underline;
      &.btn {
        text-decoration: none;
      }
    }
  }

  a.banner--#{nth($colour, 1)},
  a.island--#{nth($colour, 1)},
  a.islet--#{nth($colour, 1)} {
    color: nth($colour, 5);
    background-color: nth($colour, 2);
    &:active,
    &:hover {
      color: nth($colour, 5);
      background-color: nth($colour, 3);
    }
  }
}

.banner--bordered,
.island--bordered,
.islet--bordered {
  background-color: #fff;
  border: 1px solid $lesslight;
}

.banner--grey,
.island--grey,
.islet--grey {
  color: #fff;
  background-color: #444444;
  &:hover { color: #fff; }
}

.banner--dark,
.island--dark,
.islet--dark {
  color: #fff;
  background-color: #333333;
  &:hover { color: #fff; }
}


/**
 * We frequently drop containers inside islands so account for the last-child rule inside them
 */
.island > .container > :last-child,
.islet > .container > :last-child{
  margin-bottom: 0;
}


/**
 * Islets are usually used in sidebar / aside type situations, so we're going
 * to assume we alwasy want paragraphs slightly smaller there, if this is not
 * the case make as specific object for it to bump it back up.
 */
.islet p {
  @include font-size(16px, false);
}

}//endif
