@if $use-pagination == true{
/*------------------------------------*\
    $PAGINATION
\*------------------------------------*/
/**
 * Building on inuit's and swapping in our icons
 */

.pagination {

  @extend %nav;

  /**
   * Taking off inuit's whitespace hack, stick with commenting method.
   * AO: make colour accessible; reduce font-size (not using icons)
   */
  letter-spacing: normal;
  word-spacing: normal;

  @include font-size(24px, false);
  font-weight: bold;
  color: #757575;


  /**
   * Space the <a>’s out slightly narrower and colour them
   * AO: reduce spacing further
   */
  > li {
    padding: $b-quarter / 2;

    > a {
      padding: $b-quarter / 2;
      margin: -$b-quarter / 2;
      color: #project-color;
      &:focus,
      &:hover {
        background-color: $project-color-faded;
        color: $focus-hover;
      }
    }

  }


  /**
   * Icons
   */
  i {
    margin-top: -5px;
    vertical-align: middle;
  }

}

}//endif
