/*------------------------------------*\
    $VALIDATION
\*------------------------------------*/

/**
 * Validation list - this is designed to sit directly under a `.text-input`
 * AO: edit colours for accessibility
 */
.validation-list {
  @extend %nav;
  @extend %nav--stacked;
  margin-bottom: $b;
  font-weight: bold;


  >li {
    margin-bottom: 0;
  }

  .validation-list__error {
    color: $negative;
  }
  .validation-list__success {
    color: $positive;
  }
}



/**
 * Error/success styles for text inputs and selects
 */
.select--error,
.select--success,
.text-input--error,
.text-input--success {
  margin-bottom: $b-quarter;
}

.select--error,
.text-input--error {
  border-color: $negative;
  color: $negative;
  &:hover,
  &:focus {
    border-color: $negative;
  }
}

.select--success,
.text-input--success {
  border-color: $positive;
  color: $positive;
  &:hover,
  &:focus {
    border-color: $positive;
  }

}


.text-input--success::-webkit-input-placeholder { color: $positive; }
.text-input--success:-moz-placeholder           { color: $positive; }
.text-input--success:-ms-placeholder            { color: $positive; }
.text-input--success.placeholder                { color: $positive; }

.text-input--error::-webkit-input-placeholder   { color: $negative; }
.text-input--error:-moz-placeholder             { color: $negative; }
.text-input--error:-ms-placeholder              { color: $negative; }
.text-input--error.placeholder                  { color: $negative; }
