<section>

This is file app/views/freecen_parms/index.html.erb
<br>

<a href="/freecen_parms/new">upload parms.csv</a><br>

Number in database: <%=@freecen_parms_all.each.count%><br>
<% @freecen_parms_all.each do |fcp| %>
<%= fcp.inspect %><br>&nbsp;<br>
<% end %>


</section>