<% unless defined?(@printable_format) && @printable_format %>
  <% @search_record = @current_record %>
  <div id="citation-dropdown" class="citation-dropdown javascript">
    <div class="text--center">
      <p>Choose the format and the citation will appear below and may be copied. Select Generate Citation button above to close this selection:</p>
      <%#= link_to "WikiTree", show_citation_record_path(params[:search_entry], :citation_type => "wikitree"), :class => "btn  btn--small " %>
      <button class="btn btn--small" onclick="citationSwitch(`wikitree_inline`)">Wikitree inline</button>
      <button class="btn btn--small" onclick="citationSwitch(`wikitree_ref`)">Wikitree reference</button>
      <%#= link_to "WikiTree", friendly_search_record_path(@current_record[:_id], :citation_type => "wikitree"), :class => "btn  btn--small " %>
      <%#= link_to "Family Tree Maker", friendly_search_record_path(@current_record[:_id], :citation_type => "familytreemaker"), :class => "btn  btn--small " %>
      <%#= link_to "Legacy Family Tree", friendly_search_record_path(@current_record[:_id], :citation_type => "legacyfamilytree"), :class => "btn  btn--small " %>
      <%#= link_to "MLA", friendly_search_record_path(@current_record[:_id], :citation_type => "mla"), :class => "btn  btn--small " %>
      <%#= link_to "Chicago", friendly_search_record_path(@current_record[:_id], :citation_type => "chicago"), :class => "btn  btn--small " %>
      <%#= link_to "Evidence Explained", friendly_search_record_path(@current_record[:_id], :citation_type => "evidenceexplained"), :class => "btn  btn--small " %>
      <button class="btn btn--small" onclick="citationSwitch(`evidence_explained`)">Evidence explained</button>
      <%#= link_to "Wikipedia", friendly_search_record_path(@current_record[:_id], :citation_type => "wikipedia"), :class => "btn  btn--small " %>
      <button class="btn btn--small" onclick="citationSwitch(`wikipedia`)">Wikipedia</button>
    </div>
    <%# if params[:citation_type].present? %>
      <br>
      <span id = "citation_section">
        <%= render partial: "citation", locals: {entry: @current_record} %>
        <%#= render params[:citation_type] + '_' + appname.downcase + '_citation'%>
      </span>
    <%# end%>
  </div>
<% end%>
<script>
  function citationSwitch(type){
    var citation_container = document.getElementById(`${type}_citation_container`);
    console.log(citation_container.style.display);
    citations.forEach(hide_citation_block);
    if (citation_container.style.display === "none") {
      citation_container.style.display = "block";
    } else {
      citation_container.style.display = "none";
    }
  }
</script>