<h1>Answers to General Questions</h1>

<p><span class="loz islet--orange">F1: mixed bag — topics all covered elsewhere </span> </p>
<p>[ Most topics on About or Researcher Help. Exceptions: What is involved in transcribing. Note Scotland and <q>Northern Island</q> not mentioned on About ]</p>

<div class="grid">
    <div class="grid__item three-fifths lap-two-thirds palm-one-whole">

        <h2 id="top">WHAT IS INVOLVED IN TRANSCRIBING FOR FreeREG?</h2>

        <p>The simple answer is your time. How much time? As little as an
            hour or so a couple of times a week to as much time as you are
            willing to commit. The key is doing enough that you can see
            yourself making a real contribution. But any time that you can
            devote to our project will be appreciated by all of the researchers
            around the world who will find an ancestor because of your
            work.</p>

        <p>You will need a computer with an internet connection. It does
            not need to be especially powerful or modern and a dial up
            connection does work, although broadband does help. You do not need
            to be a computer expert but some familiarity with basic
            key-boarding and folder navigation is desirable. We do have a
            computer program that you will have to download, install and learn
            to use. But there are people to assist you every step of the way.
            After a week or so much of it will become second nature to you.</p>

        <p>The most important thing is patience in reading old texts and
            learning to recognize what the Vicar or Curate wrote several
            hundred years ago. So while good eyesight helps, a willingness to
            train yourself to read older scripts, that sometimes seem to have
            been written in magic ink, is far more important.</p>

        <p>One thing to remember is that you are not on your own in this
            effort. There are several hundred volunteers from every part of the
            world who have already gone through the learning process working in
            the same manner as you will learn. We have teenagers as well as
            octogenarians; likely far more of the latter rather than the
            former.</p>

        <p>Have more questions or feel ready to join us? Simply send an
            email to our <a href="mailto:reg-volunteer@freereg.org.uk?subject=Volunteering%20for%20FreeREG&amp;body=Please%20provide%20a%20short%20description%20of%20your%20interests%20and%20experience%20in%20transcribing%20and%20in%20the%20use%20of%20computers%20as%20well%20as%20indicating%20the%20county%20where%20you%20would%20like%20to%20contribute.">Volunteer Coordinators</a>. In the email let us
            know your questions and interests as well as the county you want to
            be involved.</p>

        <p><a href="/tips-for-searching-the-database/frequently-asked-questions" title="Frequently Asked Questions">FAQ Index</a> | <a href="/tips-for-searching-the-database/frequently-asked-questions/#general" title="Frequently Asked Questions">General Questions Index</a> </p>

<hr />

        <h2 id="whatis">WHAT IS FreeREG?</h2>
        <p>FreeREG stands for Free REGisters.</p>

        <p>The FreeREG Project's objective is to provide free Internet
            searches of baptism, marriage, and burial records, which have been
            transcribed from English parish registers and non-conformist church
            registers. The recording of baptisms, marriages and burials in
            parish registers began in 1538.</p>

        <p>This is a companion project to the <a href="http://www.freebmd.org.uk/">FreeBMD project</a>, which is
            a database of the GRO birth, marriage and death indexes from 1837.</p>

        <p>Records will be made freely available through a search engine
            only. For complete transcriptions, where available, refer to the
            local County Records Offices, Family History Societies or to the
            microfilm/fiche holdings of the Church of the Latter Day
            Saints.</p>

        <p><a href="/tips-for-searching-the-database/frequently-asked-questions" title="Frequently Asked Questions">FAQ Index</a> | <a href="/tips-for-searching-the-database/frequently-asked-questions/#general" title="Frequently Asked Questions">General Questions Index</a> </p>

<hr />

        <h2>ARE TRANSCRIPTS AVAILABLE FOR VIEW OR DOWNLOAD?</h2>

        <p>No. It is not the objective of FreeREG to make transcripts or
            indexes of any parish register available to view on-line on the
            Internet, or available to download.</p>

        <p>The FreeREG project allows you to search the databases for an
            individual surname or person. Separate searches need to be made for
            baptisms, marriages and burials.</p>

        <p>Some local family history societies sell transcripts and/or
            indexes either in booklet form or on microfiche. We recommend that
            you contact the relevant county family history society. Transcripts
            and indexes may also be available to view at a County Record
            Office.</p>

        <p><a href="/tips-for-searching-the-database/frequently-asked-questions" title="Frequently Asked Questions">FAQ Index</a> | <a href="/tips-for-searching-the-database/frequently-asked-questions/#general" title="Frequently Asked Questions">General Questions Index</a> </p>

        <h2 id="scotland">ARE SCOTLAND WALES AND NORTHERN IRELAND INCLUDED IN FreeREG?</h2>

        <p>Yes!</p>

<hr />
        <h2 id="purchase">CAN I PURCHASE A TRANSCRIPT FROM FreeREG?</h2>

        <p>No. FreeREG does not sell transcripts or indexes.</p>

        <p>Some local family history societies sell transcripts and/or
            indexes either in booklet form or on microfiche. We recommend that
            you contact the relevant county family history society. Transcripts
            and indexes may also be available to view at a County Record
            Office.</p>

        <p><a href="/tips-for-searching-the-database/frequently-asked-questions" title="Frequently Asked Questions">FAQ Index</a>  | <a href="/tips-for-searching-the-database/frequently-asked-questions/#general" title="Frequently Asked Questions">General Questions Index</a> </p>

        <h2 id="search">HOW DO I SEARCH FreeREG?</h2>

        <p>FreeREG has three databases, one each for baptisms, marriages
            and burials. You can search BA, MA and BU together, but not
            recommended as the years will be meaningless. Therefore search one
            database and one surname at the same time.</p>

        <p>See : <a href="/" title="FreeREG2">Search</a>

<br />
            See : <a href="/tips-for-searching-the-database" title="Tips for searching the database">Tips for
            Searches</a>

<br />
            See : <a href="/tips-for-searching-the-database/examples-of-searches-in-the-database" title="Examples of searches in the database">Examples of Searches</a> </p>

        <p><a href="/tips-for-searching-the-database/frequently-asked-questions" title="Frequently Asked Questions">FAQ Index</a> | <a href="/tips-for-searching-the-database/frequently-asked-questions/#general" title="Frequently Asked Questions">General Questions Index</a> </p>

    </div>
</div>
