<h1>DRAFT Large table examples</h1>

<style scoped="scoped">
tbody tr:last-child td { border-bottom: 2px solid #ddd; padding-bottom: 30px }
tbody:last-child tr:last-child td { border-bottom: none; }
</style>

<div class="grid">
  <aside class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <div class="islet islet--bordered">
      <h2 class="title-block">On this page</h2>
      <ul class="sub-nav">
        <li><a href="#AGY">Anglesey</a> </li>
        <li><a href="#AVN">Avon</a> </li>
        <li><a href="#BDF">Bedfordshire </a> </li>
        <li><a href="#BRK">Berkshire</a> </li>
        <li><a href="#BRE">Breconshire</a> </li>
        <li><a href="#BKM">Buckinghamshire</a> </li>
        <li><a href="#CAE">Caernarvonshire </a> </li>
        <li><a href="#CAM">Cambridgeshire</a> </li>
        <li><a href="#CGN">Cardiganshire</a> </li>
        <li><a href="#CMN">Carmarthenshire </a> </li>
        <li><a href="#CHS">Cheshire </a> </li>
        <li><a href="#CLV">Cleveland</a> </li>
        <li><a href="#CWD">Clwyd </a> </li>
        <li><a href="#DUR">Co. Durham</a> </li>
        <li><a href="#CON">Cornwall</a> </li>
        <li><a href="#CUL">Cumberland</a> </li>
        <li><a href="#CMA">Cumbria</a> </li>
        <li><a href="#DEN">Denbighshire</a> </li>
        <li><a href="#DBY">Derbyshire</a> </li>
        <li><a href="#DEV">Devon</a> </li>
        <li><a href="#DOR">Dorset</a> </li>
        <li><a href="#DFD">Dyfed </a> </li>
        <li><a href="#ERY">East Riding of Yorkshire</a> </li>
        <li><a href="#SXE">East Sussex</a> </li>
        <li><a href="#ESS">Essex</a> </li>
        <li><a href="#FLN">Flintshire</a> </li>
        <li><a href="#GLA">Glamorgan</a> </li>
        <li><a href="#GLS">Gloucestershire</a> </li>
        <li><a href="#GTL">Greater London</a> </li>
        <li><a href="#GTM">Greater Manchester</a> </li>
        <li><a href="#GNT">Gwent</a> </li>
        <li><a href="#GWN">Gwynedd</a> </li>
        <li><a href="#secondPart">And so on</a> </li>
      </ul>
    </div>
  </aside>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <h2>With non-breaking spaces between quarter and year</h2>
    <table>
      <caption>Start and end dates for Registration District names, grouped by County name</caption>
      <thead>
        <tr>
          <th>County</th>
          <th>Registration District</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody id="AGY">
        <tr>
          <td><strong>Anglesey</strong> </td>
          <td><strong>Start/Finish</strong> </td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr> 
          <td></td>
          <td>Anglesey (1837-1937)</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1937</td>
        </tr>
        <tr>
          <td></td>
          <td>Anglesey (1968-1974)</td>
          <td>Jun&#160;1968</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td></td>
          <td>Anglesey East</td>
          <td>Jun&#160;1937</td>
          <td>Mar&#160;1968</td>
        </tr>
        <tr>
          <td></td>
          <td>Anglesey West</td>
          <td>Jun&#160;1937</td>
          <td>Mar&#160;1968</td>
        </tr>
        <tr>
          <td></td>
          <td>Bangor</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td></td>
          <td>Carnarvon</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1937</td>
        </tr>
        <tr> 
          <td></td>
          <td>Holyhead</td>
          <td>Mar&#160;1885</td>
          <td>Mar&#160;1937</td>
        </tr>
      </tbody>
      <tbody id="AVN">
        <tr>
          <td><strong>Avon</strong> </td>
          <td><strong>Start/Finish</strong> </td>
          <td>Jun&#160;1974</td>
          <td>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>Bath</td>
          <td>Jun&#160;1974</td>
          <td>Mar&#160;1996</td>
        </tr>
        <tr>
          <td></td>
          <td>Bristol</td>
          <td>Jun&#160;1974</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Sodbury (1937-1996)</td>
          <td>Jun&#160;1974</td>
          <td>Mar&#160;1996</td>
        </tr>
        <tr>
          <td></td>
          <td>Thornbury</td>
          <td>Jun&#160;1974</td>
          <td>Sep&#160;1981</td>
        </tr>
        <tr>
          <td></td>
          <td>Weston super Mare (1936-1996)</td>
          <td>Jun&#160;1974</td>
          <td>Mar&#160;1996</td>
        </tr>
      </tbody>
      <tbody id="test1">
        <tr>
          <td><strong>Northamptonshire</strong> </td>
          <td>[test]</td>
          <td>[test]</td>
          <td>[test]</td>
        </tr>
      </tbody>
    </table>

    <h2>With (breaking) spaces between quarter and year</h2>
    <table>
      <caption>Start and end dates for Registration District names, grouped by County name</caption>
      <thead>
        <tr>
          <th>County</th>
          <th>Registration District</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>    
      <tbody id="BDF">
        <tr>
          <td><strong>Bedfordshire</strong> </td>
          <td>Ampthill</td>
          <td>Sep 1837</td>
          <td>Jun 1999</td>
        </tr>
        <tr>
          <td></td>
          <td>Bedford</td>
          <td>Sep 1837</td>
          <td>Jun 1999</td>
        </tr>
        <tr>
          <td></td>
          <td>Biggleswade</td>
          <td>Sep 1837</td>
          <td>Jun 1999</td>
        </tr>
        <tr>
          <td></td>
          <td>Dunstable (1964-1999)</td>
          <td>Jun 1964</td>
          <td>Jun 1999</td>
        </tr>
        <tr>
          <td></td>
          <td>Hitchin</td>
          <td>Sep 1837</td>
          <td>Mar 1996</td>
        </tr>
        <tr>
          <td></td>
          <td>Leighton Buzzard</td>
          <td>Sep 1837</td>
          <td>Jun 1999</td>
        </tr>
        <tr>
          <td></td>
          <td>Luton</td>
          <td>Sep 1837</td>
          <td>&#160;</td>
        </tr>
        <tr>
          <td></td>
          <td>St Neots</td>
          <td>Sep 1837</td>
          <td>Mar 1970</td>
        </tr>
        <tr>
          <td></td>
          <td>Wellingborough</td>
          <td>Sep 1837</td>
          <td>Sep 2010</td>
        </tr>
        <tr>
          <td></td>
          <td>Woburn</td>
          <td>Sep 1837</td>
          <td>Sep 1899</td>
        </tr>
      </tbody>
      <tbody id="BRK">
        <tr>
          <td><strong>Berkshire</strong> </td>
          <td>Abingdon</td>
          <td>Sep 1837</td>
          <td>Sep 2001</td>
        </tr>
        <tr>
          <td></td>
          <td>Basingstoke</td>
          <td>Sep 1837</td>
          <td>Dec 2000</td>
        </tr>
        <tr>
          <td></td>
          <td>Bracknell</td>
          <td>Jun 1974</td>
          <td>Mar 1998</td>
        </tr>
        <tr>
          <td></td>
          <td>Bradfield</td>
          <td>Sep 1837</td>
          <td>Mar 1937</td>
        </tr>
        <tr>
          <td></td>
          <td>Cookham</td>
          <td>Sep 1837</td>
          <td>Mar 1896</td>
        </tr>
        <tr>
          <td></td>
          <td>Easthampstead (1837-1937)</td>
          <td>Sep 1837</td>
          <td>Mar 1937</td>
        </tr>
        <tr>
          <td></td>
          <td>Easthampstead (1967-74)</td>
          <td>Jun 1967</td>
          <td>Mar 1974</td>
        </tr>
        <tr>
          <td></td>
          <td>Faringdon</td>
          <td>Sep 1837</td>
          <td>Mar 1937</td>
        </tr>
        <tr>
          <td></td>
          <td>Henley</td>
          <td>Sep 1837</td>
          <td>Sep 2001</td>
        </tr>
        <tr>
          <td></td>
          <td>Highworth</td>
          <td>Sep 1837</td>
          <td>Mar 1899</td>
        </tr>
        <tr>
          <td></td>
          <td>Hungerford</td>
          <td>Sep 1837</td>
          <td>Mar 1937</td>
        </tr>
        <tr>
          <td></td>
          <td>Maidenhead</td>
          <td>Jun 1896</td>
          <td>Mar 1974</td>
        </tr>
        <tr>
          <td></td>
          <td>Newbury</td>
          <td>Sep 1837</td>
          <td>Mar 1998</td>
        </tr>
        <tr>
          <td></td>
          <td>Oxford</td>
          <td>Sep 1837</td>
          <td>Sep 2001</td>
        </tr>
        <tr>
          <td></td>
          <td>Reading &amp; Wokingham</td>
          <td>Jun 1974</td>
          <td>Mar 1998</td>
        </tr>
        <tr>
          <td></td>
          <td>Reading (1837-1974)</td>
          <td>Sep 1837</td>
          <td>Mar 1974</td>
        </tr>
        <tr>
          <td></td>
          <td>Slough</td>
          <td>Jun 1974</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Stow on the Wold</td>
          <td>Sep 1837</td>
          <td>Mar 1937</td>
        </tr>
        <tr>
          <td></td>
          <td>Wallingford</td>
          <td>Sep 1837</td>
          <td>Sep 2001</td>
        </tr>
        <tr>
          <td></td>
          <td>Wantage</td>
          <td>Sep 1837</td>
          <td>Sep 2001</td>
        </tr>
        <tr>
          <td></td>
          <td>Windsor</td>
          <td>Sep 1837</td>
          <td>Mar 1974</td>
        </tr>
        <tr>
          <td></td>
          <td>Windsor &amp; Maidenhead</td>
          <td>Jun 1974</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Witney</td>
          <td>Sep 1837</td>
          <td>Mar 1982</td>
        </tr>
        <tr>
          <td></td>
          <td>Wokingham</td>
          <td>Sep 1837</td>
          <td>Mar 1974</td>
        </tr>
      </tbody>
      <tbody id="BRE">
        <tr> 
          <td> <strong>Breconshire</strong> </td>
          <td><strong>Start/Finish</strong> </td>
          <td>Sep 1837</td>
          <td>Mar 1974</td>
        </tr>
        <tr>
          <td></td>
          <td>Bedwellty</td>
          <td>Sep 1861</td>
          <td>Mar 1974</td>
        </tr>
        <tr>
          <td></td>
          <td>Brecknock</td>
          <td>Sep 1837</td>
          <td>Mar 1974</td>
        </tr>
        <tr>
          <td></td>
          <td>Builth</td>
          <td>Sep 1837</td>
          <td>Mar 1974</td>
        </tr>
        <tr>
          <td></td>
          <td>Crickhowell</td>
          <td>Sep 1837</td>
          <td>Mar 1974</td>
        </tr>
        <tr>
          <td>&#160;</td>
          <td>Hay</td>
          <td>Sep 1837</td>
          <td>Mar 1974</td>
        </tr>
        <tr>
          <td>&#160;</td>
          <td>Llandovery</td>
          <td>Sep 1837</td>
          <td>Jun 1935</td>
        </tr>
        <tr>
          <td></td>
          <td>Merthyr Tydfil</td>
          <td>Sep 1837</td>
          <td>Mar 1974</td>
        </tr>
        <tr>
          <td></td>
          <td>Neath (1837-1970)</td>
          <td>Sep 1837</td>
          <td>Sep 1970</td>
        </tr>
        <tr>
          <td></td>
          <td>Pontardawe</td>
          <td>Sep 1875</td>
          <td>Dec 1934</td>
        </tr>
        <tr>
          <td></td>
          <td>Rhayader</td>
          <td>Sep 1837</td>
          <td>Mar 1933</td>
        </tr>
        <tr>
          <td></td>
          <td>Vaynor</td>
          <td>Dec 1934</td>
          <td>Mar 1974</td>
        </tr>
        <tr>
          <td></td>
          <td>Ystradgynlais</td>
          <td>Dec 1934</td>
          <td>Mar 1974</td>
        </tr>
      </tbody>
      <tbody id="BKM">
        <tr>
          <td><strong>Buckinghamshire</strong> </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Amersham</td>
          <td>Sep 1837</td>
          <td>Mar 1974</td>
        </tr>
        <tr>
          <td></td>
          <td>Aylesbury</td>
          <td>Sep 1837</td>
          <td>Mar 1985</td>
        </tr>
        <tr>
          <td></td>
          <td>Aylesbury Vale</td>
          <td>Jun 1985</td>
          <td>Jun 2007</td>
        </tr>
        <tr>
          <td></td>
          <td>Berkhampstead (1837-1939)</td>
          <td>Sep 1837</td>
          <td>Sep 1939</td>
        </tr>
        <tr>
          <td></td>
          <td>Bicester</td>
          <td>Sep 1837</td>
          <td>Sep 1932</td>
        </tr>
        <tr>
          <td></td>
          <td>Brackley</td>
          <td>Sep 1837</td>
          <td>Sep 2001</td>
        </tr>
        <tr>
          <td></td>
          <td>Buckingham</td>
          <td>Sep 1837</td>
          <td>Mar 1935</td>
        </tr>
        <tr>
          <td></td>
          <td>Chiltern &amp; Beaconsfield</td>
          <td>Jun 1974</td>
          <td>Jun 1988</td>
        </tr>
        <tr>
          <td></td>
          <td>Chiltern &amp; South Bucks</td>
          <td>Jun 1988</td>
          <td>Dec 1998</td>
        </tr>
        <tr>
          <td></td>
          <td>Eton</td>
          <td>Sep 1837</td>
          <td>Mar 1974</td>
        </tr>
        <tr>
          <td></td>
          <td>Headington</td>
          <td>Sep 1837</td>
          <td>Dec 1932</td>
        </tr>
        <tr>
          <td></td>
          <td>Henley</td>
          <td>Sep 1837</td>
          <td>Sep 2001</td>
        </tr>
        <tr>
          <td></td>
          <td>Leighton Buzzard</td>
          <td>Sep 1837</td>
          <td>Jun 1999</td>
        </tr>
        <tr>
          <td></td>
          <td>Milton Keynes</td>
          <td>Jun 1985</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Newport Pagnell</td>
          <td>Sep 1837</td>
          <td>Mar 1935</td>
        </tr>
        <tr>
          <td></td>
          <td>North Bucks</td>
          <td>Jun 1935</td>
          <td>Mar 1985</td>
        </tr>
        <tr>
          <td></td>
          <td>Potterspury</td>
          <td>Sep 1837</td>
          <td>Mar 1935</td>
        </tr>
        <tr>
          <td></td>
          <td>Thame</td>
          <td>Sep 1837</td>
          <td>Sep 1932</td>
        </tr>
        <tr>
          <td></td>
          <td>Winslow</td>
          <td>Sep 1837</td>
          <td>Mar 1935</td>
        </tr>
        <tr>
          <td></td>
          <td>Wycombe</td>
          <td>Sep 1837</td>
          <td>Dec 1998</td>
        </tr>
      </tbody>
      <tbody id="test2">
        <tr>
          <td><strong>Northamptonshire</strong> </td>
          <td>[test]</td>
          <td>[test]</td>
          <td>[test]</td>
        </tr>
      </tbody>
    </table>

    <h2>With three columns</h2>
    <table>
      <caption>Start and end dates for Registration District names, grouped by <em>County name</em>
</caption>
      <thead>
        <tr>
          <th><em>County</em> or Registration District</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody id="CAE">
        <tr>
          <td><strong><em>Caernarvonshire</em>
</strong>
<span class="accessibility">county</span> </td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Bangor</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Caernarvon (1937-1974)</td>
          <td>Jun&#160;1937</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Carnarvon</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1937</td>
        </tr>
        <tr>
          <td>Conway (to 1937)</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1937</td>
        </tr>
        <tr>
          <td>Conway Valley</td>
          <td>Jun&#160;1937</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Ffestiniog</td>
          <td>Sep&#160;1837</td>
          <td>Sep&#160;1935</td>
        </tr>
        <tr>
          <td>Llanrwst</td>
          <td>Sep&#160;1837</td>
          <td>Sep&#160;1935</td>
        </tr>
        <tr>
          <td>Pwllheli &amp; Portmadoc</td>
          <td>Jun&#160;1937</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Pwllheli (to 1937)</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1937</td>
        </tr>
      </tbody>
      <tbody id="CAM">
        <tr>
          <td><strong><em>Cambridgeshire</em>
</strong>
<span class="accessibility">county</span> </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Cambridge (1837-1935)</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1935</td>
        </tr>
        <tr>
          <td>Cambridge (1974 onw)</td>
          <td>Jun&#160;1974</td>
          <td>Sep&#160;2007</td>
        </tr>
        <tr>
          <td>Cambridgeshire (1935-1974)</td>
          <td>Jun&#160;1935</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Caxton</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1935</td>
        </tr>
        <tr>
          <td>Chesterton</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1935</td>
        </tr>
        <tr>
          <td>Downham</td>
          <td>Sep&#160;1837</td>
          <td></td>
        </tr>
        <tr>
          <td>Ely</td>
          <td>Sep&#160;1837</td>
          <td>Sep&#160;2007</td>
        </tr>
        <tr>
          <td>Fenland</td>
          <td>Sep&#160;1980</td>
          <td>Sep&#160;2007</td>
        </tr>
        <tr>
          <td>Huntingdon</td>
          <td>Sep&#160;1837</td>
          <td>Sep&#160;2007</td>
        </tr>
        <tr>
          <td>Linton</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1935</td>
        </tr>
        <tr>
          <td>March</td>
          <td>Jun&#160;1938</td>
          <td>Jun&#160;1980</td>
        </tr>
        <tr>
          <td>Newmarket (to 1938)</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1938</td>
        </tr>
        <tr>
          <td>North Witchford</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1938</td>
        </tr>
        <tr>
          <td>Peterborough</td>
          <td>Sep&#160;1837</td>
          <td></td>
        </tr>
        <tr>
          <td>Risbridge</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1938</td>
        </tr>
        <tr>
          <td>Royston</td>
          <td>Sep&#160;1837</td>
          <td>Sep&#160;1939</td>
        </tr>
        <tr>
          <td>St Ives</td>
          <td>Sep&#160;1837</td>
          <td>Dec&#160;1967</td>
        </tr>
        <tr>
          <td>St Neots</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1970</td>
        </tr>
        <tr>
          <td>Whittlesey</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Wisbech</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1980</td>
        </tr>
      </tbody>
      <tbody id="CGN">
        <tr>
          <td><strong><em>Cardiganshire</em>
</strong>
<span class="accessibility">county</span> </td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Aberayron</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1936</td>
        </tr>
        <tr>
          <td>Aberystwyth</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1936</td>
        </tr>
        <tr>
          <td>Cardigan</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1936</td>
        </tr>
        <tr>
          <td>Cardiganshire Central</td>
          <td>Sep&#160;1936</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Cardiganshire North</td>
          <td>Sep&#160;1936</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Cardiganshire South</td>
          <td>Sep&#160;1936</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Lampeter</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1936</td>
        </tr>
        <tr>
          <td>Machynlleth</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Newcastle in Emlyn</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1936</td>
        </tr>
        <tr>
          <td>Tregaron</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1936</td>
        </tr>
      </tbody>
      <tbody id="CMN">
        <tr>
          <td><strong><em>Carmarthenshire</em>
</strong>
<span class="accessibility">county</span> </td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Carmarthen</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Lampeter</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1936</td>
        </tr>
        <tr>
          <td>Llandilofawr</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1935</td>
        </tr>
        <tr>
          <td>Llandovery</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1935</td>
        </tr>
        <tr>
          <td>Llanelly (to 1974)</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Narberth</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1973</td>
        </tr>
        <tr>
          <td>Newcastle in Emlyn</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1936</td>
        </tr>
      </tbody>
      <tbody id="CHS">
        <tr>
          <td><strong><em>Cheshire</em>
</strong>
<span class="accessibility">county</span> </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Altrincham</td>
          <td>Sep&#160;1837</td>
          <td>Sep&#160;1898</td>
        </tr>
        <tr>
          <td>Ashton &amp; Oldham (1837-48)</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1848</td>
        </tr>
        <tr>
          <td>Ashton under Lyne (1848-1937)</td>
          <td>Jun&#160;1848</td>
          <td>Mar&#160;1937</td>
        </tr>
        <tr>
          <td>Birkenhead (1861-1998)</td>
          <td>Sep&#160;1861</td>
          <td>Mar&#160;1998</td>
        </tr>
        <tr>
          <td>Bucklow</td>
          <td>Dec&#160;1898</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Chester</td>
          <td>Mar&#160;1870</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Chester &amp; Ellesmere Port</td>
          <td>Jun&#160;1974</td>
          <td>Mar&#160;1998</td>
        </tr>
        <tr>
          <td>Congleton</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1937</td>
        </tr>
        <tr>
          <td>Congleton &amp; Crewe</td>
          <td>Jun&#160;1974</td>
          <td>Jun&#160;1991</td>
        </tr>
        <tr>
          <td>Crewe (1937-1974)</td>
          <td>Jun&#160;1937</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Great Boughton</td>
          <td>Sep&#160;1837</td>
          <td>Dec&#160;1869</td>
        </tr>
        <tr>
          <td>Halton</td>
          <td>Jun&#160;1974</td>
          <td>&#160;</td>
        </tr>
        <tr>
          <td>Hayfield</td>
          <td>Mar&#160;1838</td>
          <td>Mar&#160;1938</td>
        </tr>
        <tr>
          <td>High Peak (1837 only)</td>
          <td>Sep&#160;1837</td>
          <td>Dec&#160;1837</td>
        </tr>
        <tr>
          <td>Hyde (1937-1974)</td>
          <td>Jun&#160;1937</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Macclesfield</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1998</td>
        </tr>
        <tr>
          <td>Market Drayton</td>
          <td>Sep&#160;1837</td>
          <td>Sep&#160;1935</td>
        </tr>
        <tr>
          <td>Nantwich</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1937</td>
        </tr>
        <tr>
          <td>North East Cheshire</td>
          <td>Jun&#160;1937</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Northwich</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Runcorn</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>South Cheshire</td>
          <td>Sep&#160;1991</td>
          <td>Mar&#160;1998</td>
        </tr>
        <tr>
          <td>Stockport</td>
          <td>Sep&#160;1837</td>
          <td>&#160;</td>
        </tr>
        <tr>
          <td>Vale Royal</td>
          <td>Jun&#160;1974</td>
          <td>Mar&#160;1998</td>
        </tr>
        <tr>
          <td>Wallasey</td>
          <td>Mar&#160;1936</td>
          <td>Mar&#160;1998</td>
        </tr>
        <tr>
          <td>Warrington</td>
          <td>Sep&#160;1837</td>
          <td>&#160;</td>
        </tr>
        <tr>
          <td>West Cheshire</td>
          <td>Jun&#160;1937</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Whitchurch S (1853-1969)</td>
          <td>Sep&#160;1853</td>
          <td>Dec&#160;1969</td>
        </tr>
        <tr>
          <td>Wirral (1837-1974)</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Wrexham (1837-1974)</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
      </tbody>
      <tbody id="CLV">
        <tr>
          <td><strong><em>Cleveland</em>
</strong>
<span class="accessibility">county</span> </td>
          <td>Jun&#160;1974</td>
          <td>&#160;</td>
        </tr>
        <tr>
          <td>Central Cleveland</td>
          <td>Jun&#160;1974</td>
          <td>Mar&#160;1996</td>
        </tr>
        <tr>
          <td>East Cleveland</td>
          <td>Jun&#160;1974</td>
          <td>Mar&#160;1996</td>
        </tr>
        <tr>
          <td>North Cleveland</td>
          <td>Jun&#160;1974</td>
          <td>Mar&#160;1996</td>
        </tr>
      </tbody>
      <tbody id="CWD">
        <tr>
          <td><strong><em>Clwyd</em>
</strong>
<span class="accessibility">county</span> </td>
          <td>Jun&#160;1974</td>
          <td>&#160;</td>
        </tr>
        <tr>
          <td>Alyn &amp; Deeside</td>
          <td>Jun&#160;1974</td>
          <td>Mar&#160;1996</td>
          </tr>
        <tr>
          <td>Colwyn</td>
          <td>Jun&#160;1974</td>
          <td>&#160;</td>
        </tr>
        <tr>
          <td>Delyn</td>
          <td>Jun&#160;1974</td>
          <td>Mar&#160;1996</td>
        </tr>
        <tr>
          <td>Glyndwr</td>
          <td>Jun&#160;1974</td>
          <td>Mar&#160;1996</td>
        </tr>
        <tr>
          <td>Rhuddlan</td>
          <td>Jun&#160;1974</td>
          <td>Mar&#160;1996</td>
        </tr>
        <tr>
          <td>Wrexham Maelor</td>
          <td>Jun&#160;1974</td>
          <td>Mar&#160;1996</td>
        </tr>
      </tbody>
      <tbody id="DUR">
        <tr>
          <td><strong><em>Co. Durham</em>
</strong>
<span class="accessibility">county</span> </td>
          <td>?</td>
          <td>?</td>
        </tr>
        <tr>
          <td>Auckland</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1938</td>
        </tr>
        <tr>
          <td>Belford</td>
          <td>Sep&#160;1837</td>
          <td>Dec&#160;1936</td>
        </tr>
        <tr>
          <td>Berwick</td>
          <td>Sep&#160;1837</td>
          <td>Dec&#160;1936</td>
        </tr>
        <tr>
          <td>Chester le Street</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1938</td>
        </tr>
        <tr>
          <td>Darlington</td>
          <td>Sep&#160;1837</td>
          <td>&#160;</td>
        </tr>
        <tr>
          <td>Durham (1837-1938)</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1938</td>
        </tr>
        <tr>
          <td>Durham Central &amp; South Eastern</td>
          <td>Dec&#160;1971</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Durham Central (1938-1971)</td>
          <td>Sep&#160;1938</td>
          <td>Sep&#160;1971</td>
        </tr>
        <tr>
          <td>Durham Central (1974 onw)</td>
          <td>Jun&#160;1974</td>
          <td>Mar&#160;2004</td>
        </tr>
        <tr>
          <td>Durham Eastern</td>
          <td>Sep&#160;1938</td>
          <td>Jun&#160;2006</td>
        </tr>
        <tr>
          <td>Durham North Eastern</td>
          <td>Mar&#160;1938</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Durham North Western</td>
          <td>Sep&#160;1938</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Durham Northern</td>
          <td>Sep&#160;1938</td>
          <td>Mar&#160;2004</td>
        </tr>
        <tr>
          <td>Durham South Eastern</td>
          <td>Sep&#160;1938</td>
          <td>Sep&#160;1971</td>
        </tr>
        <tr>
          <td>Durham South Western</td>
          <td>Sep&#160;1938</td>
          <td>Mar&#160;2000</td>
        </tr>
        <tr>
          <td>Durham Western</td>
          <td>Sep&#160;1938</td>
          <td>Jun&#160;2006</td>
        </tr>
        <tr>
          <td>Easington</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1938</td>
        </tr>
        <tr>
          <td>Easingwold</td>
          <td>Sep&#160;1837</td>
          <td>Sep&#160;1936</td>
        </tr>
        <tr>
          <td>Gateshead</td>
          <td>Sep&#160;1837</td>
          <td>&#160;</td>
        </tr>
        <tr>
          <td>Hartlepool (1859-1938)</td>
          <td>Jun&#160;1859</td>
          <td>Jun&#160;1938</td>
        </tr>
        <tr>
          <td>Hartlepool (1967-74)</td>
          <td>Jun&#160;1967</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Houghton le Spring</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1938</td>
        </tr>
        <tr>
          <td>Lanchester (1837 only)</td>
          <td>Sep&#160;1837</td>
          <td>Sep&#160;1837</td>
        </tr>
        <tr>
          <td>Lanchester (1875-1938)</td>
          <td>Jun&#160;1875</td>
          <td>Jun&#160;1938</td>
        </tr>
        <tr>
          <td>Morpeth</td>
          <td>Sep&#160;1837</td>
          <td>Dec&#160;1936</td>
        </tr>
        <tr>
          <td>Sedgefield (1837 only)</td>
          <td>Sep&#160;1837</td>
          <td>Dec&#160;1837</td>
        </tr>
        <tr>
          <td>Sedgefield (1896-1938)</td>
          <td>Mar&#160;1896</td>
          <td>Jun&#160;1938</td>
        </tr>
        <tr>
          <td>South Shields</td>
          <td>Sep&#160;1837</td>
          <td>Dec&#160;2000</td>
        </tr>
        <tr>
          <td>Stockton</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1938</td>
        </tr>
        <tr>
          <td>Sunderland</td>
          <td>Sep&#160;1837</td>
          <td>&#160;</td>
        </tr>
        <tr>
          <td>Teesdale</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1938</td>
        </tr>
        <tr>
          <td>Weardale</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1938</td>
        </tr>
        <tr>
          <td>West Hartlepool (1938-1967)</td>
          <td>Sep&#160;1938</td>
          <td>Mar&#160;1967</td>
        </tr>
      </tbody>
      <tbody id="CON">
        <tr>
          <td><strong><em>Cornwall</em>
</strong>
<span class="accessibility">county</span> </td>
          <td>?</td>
          <td>?</td>
        </tr>
        <tr>
          <td>Bodmin</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;2007</td>
        </tr>
        <tr>
          <td>Camborne-Redruth</td>
          <td>Jun&#160;1974</td>
          <td>Jun&#160;2007</td>
        </tr>
        <tr>
          <td>Camelford</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1995</td>
        </tr>
        <tr>
          <td>Falmouth</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;2007</td>
        </tr>
        <tr>
          <td>Helston</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1936</td>
        </tr>
        <tr>
          <td>Holsworthy</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1998</td>
        </tr>
        <tr>
          <td>Isles of Scilly (1901 onw)</td>
          <td>Jun&#160;1901</td>
          <td>&#160;</td>
        </tr>
        <tr>
          <td>Kerrier</td>
          <td>Sep&#160;1936</td>
          <td>Jun&#160;2007</td>
        </tr>
        <tr>
          <td>Launceston</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;2007</td>
        </tr>
        <tr>
          <td>Liskeard</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;2007</td>
        </tr>
        <tr>
          <td>Penzance</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;2007</td>
        </tr>
        <tr>
          <td>Redruth (to 1974)</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Scilly Islands</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1901</td>
        </tr>
        <tr>
          <td>St Austell</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;2007</td>
        </tr>
        <tr>
          <td>St Columb</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;1936</td>
        </tr>
        <tr>
          <td>St Germans</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;2007</td>
        </tr>
        <tr>
          <td>Stratton</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;2007</td>
        </tr>
        <tr>
          <td>Tavistock</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1998</td>
        </tr>
        <tr>
          <td>Truro</td>
          <td>Sep&#160;1837</td>
          <td>Jun&#160;2007</td>
        </tr>
      </tbody>
      <tbody id="CUL">
        <tr>
          <td><strong><em>Cumberland</em>
</strong>
<span class="accessibility">county</span> </td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Alston</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Bootle Cul</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1939</td>
        </tr>
        <tr>
          <td>Border</td>
          <td>Dec&#160;1937</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Brampton</td>
          <td>Sep&#160;1837</td>
          <td>Sep&#160;1937</td>
        </tr>
        <tr>
          <td>Carlisle</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Cockermouth</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Longtown</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1939</td>
        </tr>
        <tr>
          <td>Millom</td>
          <td>Jun&#160;1939</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Penrith</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Whitehaven</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
        <tr>
          <td>Wigton</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1974</td>
        </tr>
      </tbody>
      <tbody id="CMA">
        <tr>
          <td><strong><em>Cumbria</em>
</strong>
<span class="accessibility">county</span> </td>
          <td>Jun&#160;1974</td>
          <td>&#160;</td>
        </tr>
        <tr>
          <td>Appleby</td>
          <td>Jun&#160;1974</td>
          <td>Jun&#160;1984</td>
        </tr>
        <tr>
          <td>Barrow in Furness (1876 onw)</td>
          <td>Jun&#160;1974</td>
          <td>Dec&#160;2011</td>
        </tr>
        <tr>
          <td>Carlisle</td>
          <td>Jun&#160;1974</td>
          <td>Dec&#160;2011</td>
        </tr>
        <tr>
          <td>Cockermouth</td>
          <td>Jun&#160;1974</td>
          <td>&#160;</td>
        </tr>
        <tr>
          <td>Kendal (1974 onw)</td>
          <td>Jun&#160;1974</td>
          <td>Dec&#160;2011</td>
        </tr>
        <tr>
          <td>Millom</td>
          <td>Jun&#160;1974</td>
          <td>Dec&#160;2011</td>
        </tr>
        <tr>
          <td>Penrith</td>
          <td>Jun&#160;1974</td>
          <td>Dec&#160;2011</td>
        </tr>
        <tr>
          <td>Ulverston</td>
          <td>Jun&#160;1974</td>
          <td>Dec&#160;2011</td>
        </tr>
        <tr>
          <td>Whitehaven</td>
          <td>Jun&#160;1974</td>
          <td>Dec&#160;2011</td>
        </tr>
        <tr>
          <td>Wigton</td>
          <td>Jun&#160;1974</td>
          <td>Dec&#160;2011</td>
        </tr>
      </tbody>
      <tbody id="test3">
        <tr>
          <td><strong>Northamptonshire</strong> </td>
          <td>[test]</td>
          <td>[test]</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
