<h1>DRAFT FreeBMD News</h1>

<p> <mark> Needs review before Initial Testing (phase 3) </mark> </p>
  <p class="lead">On this page you can discover more about recent newsworthy-events that have taken place on FreeBMD since January 2015, and where relevant, in our umbrella organisation — Free UK Genealogy.</p>
  <div class="grid">
  <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right">
    <div class="islet islet--bordered">
      <h2 class="title-block" id="thisPage">On this page</h2>
        <ul class="sub-nav">
          <li> <a href="#AndrewTurveyChair">September 2022 Andrew Turvey appointed as Chair and Richard Light to work on FreeBMD2 Developmment</a> </li>
          <li> <a href="#May2021Conference">May 2021 Online Conference</a> </li>
          <li> <a href="#kathrynStreatfieldAppointed">Kathryn Streatfield appointed as a Trustee</a> </li>
          <li> <a href="#scan2100million"><em>Scan2</em> Syndicate uploads its 100th million record</a> </li>
          <li> <a href="#JamesKillockResigned">James Killock resigned as a Trustee</a> </li>
          <li> <a href="#FreeBMDmovesTogroupsIo">FreeBMD discussion groups moved to groups.io</a> </li>
          <li> <a href="#20yearsBMD">‘FreeBMD@20’ — Celebrating 20 years of FreeBMD</a> </li>
          <li> <a href="#post-1983Records">Preparations for transcribing post-1983 records</a> </li>
          <li> <a href="#Alexandra-AndrewAppointed">Alexandra Eveleigh and Andrew Turvey appointed as Trustees</a>  </li>
          <li> <a href="#freeUKGEN2017">Free UKGEN 2017 meeting — ‘Community Benefits’</a> </li>
          <li> <a href="#GiorgioAbrainiAppointed">Giorgio Abraini appointed as a Trustee</a> </li>
          <li> <a href="#FreeUKGenCIO">Free UK Genealogy becomes a CIO</a> </li>
          <li> <a href="#MacBMD-X">MacBMD-X transcribing tool</a> </li>
          <li> <a href="#agreementConsultations">Open Data / Transcriber Agreement Consultations</a> </li> 
          <li><a href="#freeUKGEN16">Free UK Genealogy Open Data conference</a> </li> 
          <li> <a href="#intention-CIO">Intention to make Free UK Genealogy a CIO</a> </li>
          <li> <a href="#billyDaviesTrustee">Billy Davis was appointed as a Trustee</a> </li>
          <li> <a href="#correctionReportingSystem">An automatic correction reporting system</a> </li>
          <li> <a href="#PatAppointed">Pat Reynolds appointed as Executive Director of Free UK Genealogy</a> </li>
          <li> <a href="#richardLightappointed">Richard Light appointed as a Trustee</a> </li>
          <li> <a href="#">New position created: Engagement Co-ordinator</a> </li>
      </ul>
       </div>
        <div class="islet islet--bordered">
      <h2 class="title-block">Related pages</h2>
        <ul class="sub-nav">
          <li> <a href="https://www.freeukgenealogy.org.uk/about/pages/newsletter-archive/" target="_blank">An archive of Free UK Genealogy Newsletters (opens in a new Tab).</a> </li>
          <li> <a href="https://www.youtube.com/channel/UCP839R-ftWroUjqv9f02aTg" target="_blank">Watch copies of our videos on our YouTube channel (opens in a new Tab).</a> </li>
         </ul>
    </div> 
   </aside>
  <div class="grid__item three-fifths lap-three-quarters palm-one-whole">
<h2 id="May2021Conference">May 2021 Online Conference</h2>
     <p>Due to ‘Convid-19 restrictions’, the May 2021 Conference was held on-line, over two sessions, on afternoon of <strong>22 May 2021</strong> and the morning of <strong>29 May 2021.</strong> <mark> to be expanded. </mark> </p>
     <hr class="rule rule--ornament" />
    <h2 id="kathrynStreatfieldAppointed">Kathryn Streatfield was appointed as a Trustee</h2>
    <p>On <strong>14 November 2020</strong>, Kathryn Streatfield was appointed as a Trustee of Free UK Genealogy. Kathryn has a special responsibility for fundraising. She is working with a small group of other Trustees, a member of the Advisory Board, and staff members to identify funding needs and opportunities.</p>

    <h2 id="Scan2100million"> <em>Scan2</em> syndicate, uploads 100 million records</h2>
    <p> <strong>On 13 November 2020</strong>, the <em>Scan2</em> Syndicate reached a significant milestone, with its <strong>100 millionth</strong> record uploaded to the FreeBMD database on this day. Scan2 is one of FreeBMD’s larger syndicates, with over 2,800 ‘all-time’ transcribers from around the world, although many are no longer active. It was founded in 1999 by (the now ‘late’) Derek C Hopkins, who was originally from England, but spent most of his life in Montreal, Canada. <mark>Should the founder be named using the style: Derek C Hopkins (R.I.P) ? - PC.</mark> </p> 
   
    <h2 id="JamesKillockResigned">James Killock resigned as a Trustee</h2>
    <p>On <strong>18 May 2020</strong>, James Killock resigned as a Trustee of Free UK Genealogy. Jim is the Executive Director of the <a href="https://www.openrightsgroup.org/" target="_blank">Open Rights Group (opens in a new tab)</a>, and he has helped Free UK Genealogy especially in the area of Open Data.</p>

    <h2 id="FreeBMDmovesTogroupsIo">FreeBMD discussion groups moved to groups.io</h2>
    <mark> We don't appear to have a page for this topic that I can link to, so adding details here. - PC. </mark>
    <p>In Spring 2020, following the closure of Rootsweb, all four FreeBMD discussion groups were successfully moved to groups.io. We have the main FreeBMD news group; one dedicated group for Syndicate Leaders; a FreeBMD Advice group and a FreeBMD Discuss group. More details, <a href="https://www.freebmd.org.uk/lists.shtml" target="_blank"> including how to sign up, can be found on the old FreeBMD website (opens in a new Tab).</a> </p>
     
    <hr class="rule rule--ornament" />
    <h2 id="20yearsBMD">‘FreeBMD@20’ — Celebrating 20 years of FreeBMD</h2>
    <p>On <strong>Saturday 15 September 2018</strong>, the Free UK GEN 2018 meeting was held at the National Archives, Kew. Its theme was “<em>FreeBMD@20” Celebrating 20 years of FreeBMD</em>. The meeting was free, but attendance needed to be pre-booked.</p>
    
    <p>Our speakers were Pat Reynolds, Graham Hart and Alexandra Eveleigh, from Free UK Genealogy; Audrey Collins, from The National Archives; and Else Churchill, from the Society of Genealogists. You can find a copy of the <a href="https://www.freeukgenealogy.org.uk/news/2018/09/" target="_blank">calling notice on the Free UK Genealogy website (opens in a new Tab)</a>. This event was recorded for those who could not attend in person. <mark>add link to youtube - PC.</mark> </p>
    
    <h2 id="post-1983Records">Preparations for transcribing post-1983 records</h2>
    <p> <mark>To be expanded. - PC. </mark> </p>
    <p>During the <strong>September datebase update</strong>, various files were upload to FreeBMD to enable the transcription of post-1983 records. These included a new version of WinBMD, Version 9.5. These post-1983 GRO Indexes have a new format. They are prepared annually rather than quarterly; and they include a new field — the Registration Date — which gives the month of registration.</p>                            
    <p>A new version of the Registration Districts file, covering the period 1984 to 1992, was also uploaded. This file was produced to acccommodate the various name-changes to Registration District names — often the name of local authorities — that took place in this period.</p>
    <p>Those transcribers who suscribe were notified, via various FreeBMD news groups hosted on RootsWeb, that this new Version of WinBMD was now available for download. Transcribers, on downloading this file to their computer and running it for the first time, would cause the new Registration District file to be automatically downloaded to their computer.</p>
    <h2>July 2018</h2>
    <mark>Check this time frame in respect of 1984 and later records. These 1984 and later records seem to have been started either side of Christmas 2018; and there was a lot of work needed before we could start. I think we were coming to the end of 1983 records. - PC.</mark> 
    <p>FreeBMD volunteers began transcribing 1983 and later registrations??????.</p>

    <h2 id="Alexandra-AndrewAppointed">Alexandra Eveleigh and Andrew Turvey were appointed as Trustees</h2>
    <p>On <strong>4 April 2018</strong>, Alexandra Eveleigh and Andrew Turvey were appointed as Trustees of Free UK Genealogy. Alexandra is an archivist, whose PhD studied human transcription projects. Andrew Turvey has brought, from his professional background as an accountant, experience from his work with Wikidata.</p>

    <hr class="rule rule--ornament" />
    <h2 id="freeUKGEN2017">Free UKGEN 2017 meeting — ‘Community Benefits’</h2>
    <p> On <strong>Saturday, 9 September 2017</strong>, the Free UKGEN 2017 meeting was held in Nottingham, at the Natural Justice Museum. Its theme was “Community Benefits (FreeBMD Volunteers)" with Nick Barratt as our guest speaker. The meeting was free, advertised via FreeUK Genealogy newsletters, but attendance needed to be pre-booked. The event was recorded for those who could not attend. <mark> add link to youtube - PC.</mark> </p>

    <h2 id="GiorgioAbrainiAppointed">Giorgio Abraini was appointed as a Trustee</h2>
    <p>On <strong>7 September 2017</strong>, Giorgio Abraini was appointed as a Trustee of Free UK Genealogy. He was appointed after the Trustees had identified a need to improve the financial expertise of the board.</p>

    <h2 id="FreeUKGenCIO">Free UK Genealogy becomes a CIO</h2>
    <p>On <strong>1 January 2017</strong>, Free UK Genealogy began to operate as a Charitable Incorporated Organization. Notice of this intended change <a href="#intention-CIO">was given in Free UK Genealogy <em>News</em> in November 2015</a>. <mark> Being expanded - PC. </mark> </p>
   
    <hr class="rule rule--ornament" />
     <h2 id="MacBMD-X">MacBMD-X transcribing tool</h2>
    <p>The <strong>July 2016</strong> <em>Free UK Genealogy Newsletter</em> announced the availability of a new transcribing tool for Mac users — MacBMD-X. It is stated to work with all latest Mac Operating systems; and can be download from the <a href="https://www.freebmd.org.uk/addons/" target="_blank"> Transcription Software and Add-ons page on the old FreeBMD website (opens in a new Tab).</a> It replaces and older and now unsupported version — MacBMD. The original version, written by Peter Hines, works only on Mac Operating System version 10.6 (“Snow Leopard”), or earlier versions.</p>
 
    <h2 id="agreementConsultations">Open Data / Transcriber agreement consultations</h2>
    <p><mark> to be expanded. </mark> </p> 
    <p>Within a day or so of the <strong>Open Data Conference</strong> (see below), subscribers to FreeBMD’s discussion groups, hosted on the RootsWeb: were remined that Free UK Genealogy had a dedicated website; given a link to the Open Date Conference report (below); and a link to a revised set of FAQs on the Transcriber Agreement Consulations — this particular link is no longer valid.</p>
    <p> On the <strong>18th March 2016</strong>, subscribers to FreeBMD’s discussion groups hosted on RootsWeb, received an Update, reminding them to look at the revised agreement and process and respond, if they wished, prior to a Trustees meeting on 13th March. (Note: again, that particular link is no longer valid). Unfortunately, this message had suffered a two-week delay in transmission, due to the RootsWeb servers being down for almost two weeks. </p>
<p>The Trustees had received some comments during that two-week gap.</p>
    
   <p class="islet islet--bordered">Free UG Genealogy has a <a href="https://www.freeukgenealogy.org.uk/about/opendata/" target="_blank"> wide-ranging page dedicated to open data (opens in a new Tab) </a> and what it means for transcribers, researchers and potential doners of source material.</p>
    
    <h2 id="freeUKGEN16">Free UK Genealogy Open Data conference</h2>
    <p>On <strong>Saturday, 30th January 2016</strong>, the Free UK Genealogy Open Data conference was held at the Linnean Society, Burlington House, London. An <a href="https://www.freeukgenealogy.org.uk/news/category/open-data/page-3/" target="_blank">updated Conference report is available on the Free UK Genealogy site (opens in new Tab)</a>. </p>
   <p>Note: it was intended to provide live-streaming for those who could not attend in person. However, the available bandwidth in Burlington House was insufficient and this intention had to be abandoned.</p>
        
     <hr class="rule rule--ornament" />
    <h2 id="intention-CIO">Intention to make Free UK Genealogy a Charitable Incorporated Organisation</h2>
    <p>On <strong>30th November 2015</strong>, Pat Reynolds gave notification of the intended change, to make Free UK Genealogy a Charitable Incorporated Organisation (CIO). Notice of this intention was given in a <em>Free UK Genealogy News</em> an article entitled: <a href="https://www.freeukgenealogy.org.uk/news/2015/11/" target="_blank">News: “Free UK Genealogy is becoming a Charitable Incorporated Organisation” (page opens in a new Tab)</a>, dated 30th November 2015.</p>
  
    <h2 id="billyDaviesTrustee">Billy Davis was appointed as a Trustee</h2>
   <p> The same newsletter <a href="https://www.freeukgenealogy.org.uk/news/2015/11/" target="_blank">News: “Free UK Genealogy is becoming a Charitable Incorporated Organisation” (page opens in a new Tab)</a>, included an annnouncement that Billy Davis was appointed as a Trustee for Free UK Genealogy.</p>
   <p>Billy brings with him significant experience in public affairs - having worked both for consultancies as well as “in house” at several NGOs. He has a strong personal interest in genealogy.</p>

     <h2 id="correctionReportingSystem">An automatic correction reporting system for FreeBMD</h2>
    <p>On <strong>10 June 2015</strong>, an automatic correction reporting system for FreeBMD was brought into service. The system assigns ‘ownership’ of incoming correction requests after taking into account: whether transcribers accept, or do not, accept correction requests; whether the transcriber is active or not; and, the configuration set by syndicate leaders for dealing with corrections within their syndicate.</p> 
    <p>It replaces a manual system which had been run for a number of years by the Corrections Co-ordinator. He, was typically managing some 5,000 requests per month, using a spreadsheet running on a home computer, as well as being a FreeBMD Syndicate Leader and carrying out other duties for FreeBMD. <mark> Should the (late) Corrections Co-ordinator be named? </mark> </p>

    <h2 id="PatAppointed">Pat Reynolds was appointed as Executive Director of Free UK Genealogy</h2>
    <p>On <strong>5 Jun 2015</strong>, the Trustees were pleased to report that Pat Reynolds has been appointed as the new Executive Director of Free UK Genealogy. Pat had previously led the Surrey History Centre and other aspects of heritage in Surrey. More recently she had been the first employee of a small charity, the Heritage Crafts Association.</p>

    <h2 id="richardLightappointed">Richard Light was appointed as a Trustee</h2>
    <p>On <strong>April 2015</strong>, Richard Light appointed a Trustee of Free UK Genealogy. Richard has a background in museum documentation (he is the developer behinds the MODES database) and has an interest in linked data.</p>

     <h2 id="EngagementCo-ordinator">New position created: Engagement Co-ordinator for Free UK Genealogy</h2>
    <p>Helena Hyde / Denise Colbert was / were appointed </p>
    <p> <mark> I might need to research this, it turned out that Denise wrote the first FreeUKGen News in October 2014, but May 2016 Introduced herself as the new Eng. Co-ord. in FUG News in 2016; but, Helena Hyde was using this title in February 2016. - PC. </mark> </p>
    <hr class="rule rule--ornament" />
    <h2>Earlier News about FreeBMD</h2>
    <p class="islet islet--bordered"> <strong>In the pipeline</strong>: two new pages are in preparation. One, our <strong>History page</strong> will summarise the progress of FreeBMD from its inception in 1988-89 and take the story forward to the end of 2014. It will suppliement this page which starts from 2015. The page will include material on our 10th Anniversary. The other page, <strong>Release Notes</strong> provides a summary of technical matters, such as the new release of transcriber tools — especially WinBMD and BMDVerify — and various enhancements to both the <em>FreeBMD search engine</em> and the quality control processes that we run on the FreeMBD databases.</p>

    </div>
  </div>