<h1>Introducing the Project Team</h1>

<div class="grid">
  <div class="grid__item three-fifths lap-one-half palm-one-whole">
    <p class="lead">By numbers, most of the FreeBMD team are transcribers. Second are their syndicate coordinators. But who ensures that FreeBMD runs smoothly and who do they answer to? Who decides the overall policy and who supports the day-to-day managers?</p>
    <p>It is the Trustees of Free UK Genealogy who have overall responsibility for FreeBMD, along with the other projects of the charity. You can find out more about the <a target="_blank" href="https://www.freeukgenealogy.org.uk/about/trustees/">Trustees on the charity’s website (opens in new tab)</a>. The Trustees include Graham Hart, Ben Laurie, Camilla von Massenbach, and David Mayall who were responsible for creating FreeBMD. You can contact the trustees by sending an email to trustees@freeukgenealogy.org.uk</p>

    <p>Today, the day-to-day management of FreeBMD is done by a small team of volunteers: we introduce them next.</p>
  </div>
  
  <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right">
    <div class="islet islet--bordered">
      <h2 class="title-block">On this page</h2>
      <ul class="sub-nav">
        <li><a href="#managers">The managers</a> </li>
        <li><a href="#transcriptionSoftware">Transcription software developers</a> </li>
        <li><a href="#additionalSupport">Additional support</a> </li>
      </ul>
    </div>
  </aside>

  <div class="grid__item three-fifths lap-three-quarters palm-one-whole clear--left">
    <h2 id="managers">The managers</h2>

    <h3>Syndicates Coordinator: Allan Raymond</h3>
    <p>Allan Raymond acts as team leader for the Syndicate Coordinators. Allan was a Quality and Project Manager in a large company and considered the lure of early retirement too tempting an offer to pass over. Not one to miss an opportunity, he thought that some of his dormant skills could be put to good use in helping the FreeBMD Project. He is based in Pontypridd, UK.</p>

    <h3>Volunteers Coordinator: Allan Raymond</h3>
    <p>Allan is also the Coordinator for Volunteers.</p>

    <h3>List Administrator: Jeff Coleman</h3>
    <p>Jeff Coleman is the List Administrator. He looks after the FreeBMD mailing lists and online discussion groups. He is based in Swansea, UK.</p>

    <h3>District Alias Team Coordinator: Martin Cope </h3>
    <p>Martin Cope coordinates a team who create aliases for the alternative names and miss-spellings (in the Index) of the standard Registration District names.</p> 
    <p>The other members of the district aliasing team are Linda Bailey and Anne Sutherland.</p>

    <h3>Corrections Coordinator: Vacancy</h3>
    <p>The Corrections Coordinator records and reviews submitted corrections, before forwarding validated corrections and changes to transcribers for action. The role is currently vacant. If you are interested in finding out more about this role, please visit the <a target="_blank" href="http://www.freeukgenealogy.org.uk/about/volunteer/">FreeUK Genealogy Volunteer page (opens in new tab)</a> and select the Tech Opportunities button.</p>

    <h3>Quality Assurance Coordinator: Barrie Archer</h3>
    <p>The Quality Assurance Coordinator is Barrie Archer. He provides a focus for assuring the quality of the service delivered by FreeBMD to users searching for information.</p>

    <h3>Web Editor (FreeBMD1): Barrie Archer </h3>
    <p>The Web Editor for FreeBMD1 is Barrie Archer. He provides Web page Design and Change skills to the the core team with special emphasis on Perl (a programming language) page changes.</p>

    <h3>Documentation Manager (FreeBMD2): Vacancy</h3>
    <p>The Documentation Manager for FreeBMD2 manages a small team providing design, writing, CSS and markup (HTML5) skills. The role is currently vacant. If you are interested in finding out more about this role, please visit the <a target="_blank" href="http://www.freeukgenealogy.org.uk/about/volunteer/">FreeUK Genealogy Volunteer page (opens in new tab)</a> and select the Tech Opportunities button.</p>

    <h3>Web Proof Reader: Vacancy</h3>
    <p>The role of Web Proof Reader is currently vacant. They provide support to the Web Editors as they follow the style guides for <a href="https://www.freebmd.org.uk/standard.html">FreeBMD1</a> (text and HTML4 markup) and <a href="/marking-up-pages-in-refinery.html">FreeBMD2 [FIX link URL]</a> (text and HTML5 markup). If you are interested in finding out more about this role, please visit the <a target="_blank" href="http://www.freeukgenealogy.org.uk/about/volunteer/">FreeUK Genealogy Volunteer page (opens in new tab)</a> and select the Tech Opportunities button.</p>
    <hr class="rule" />

    <h2 id="transcriptionSoftware">Transcription Software Developers</h2>
    <h3>SpeedBMD Designer: Peter Cox </h3>
    <p>Peter Cox is the programmer and designer of the SpeedBMD software. Peter is based in New Zealand.</p>

    <h3>WinBMD Designer: Ian Brooke </h3>
    <p>Ian Brooke is the programmer and designer of the WinBMD software. Ian also runs a syndicate and writes software for the District Aliasing Team.</p>
    <p>Ian was an IT specialist here in the UK before taking early retirement and moving to Canada.</p>

    <h3>MacBMD Designer: Ben Hines </h3>
    <p>Ben Hines is the programmer and designer of the MacBMD software.</p>

    <h3>LinBMD Designer: Andrew Higgs </h3>
    <p>Andrew Higgs is the programmer and designer of the LinBMD software. Andrew is based in South Africa.</p>

    <h3>BMDVerify Designer: David Lang</h3>
    <p>David Lang is the programmer and designer of the BMDVerify software.</p>
    <hr class="rule" /> 

    <h2 id="additionalSupport">Additional support</h2>
    <p>Additional support (systems administration, GRO liaison, digitisation, project development, legislative compliance, Ruby on Rails work, volunteer support, publicity, and income generation) is given by a small team (fewer than 3 full time people) led by Pat Reynolds (Executive Director) who work across all Free UK Genealogy projects. They can be contacted by email at info@freeukgenealogy.org.uk</p>
  </div>
</div>