<h1>Your reviews</h1>

<style scoped="scoped">
  figure.bq {
    border-left: 5px solid #C84182;
    margin: 0;
    margin-left: 1.556rem;
    margin-bottom: 1.556rem;
    padding: 1em;
    padding-left: 50px;
  }
  figure.bq:nth-of-type(2n) {
    border-color: #919191;
  }
  figure.bq blockquote {
    position: relative;
    text-indent: 0;
    margin: 0;
    padding: 0;
  }
  figure.bq blockquote::before {
    content: "\201C";
    color: #C84182;
    font-size: 3.6em;
    font-family: 'Helvetica', Arial, sans-serif;
    position: absolute;  
    left: -30px;
    top: -23px;
  }
  figure.bq:nth-of-type(2n) blockquote::before {
    color: #919191;
  }
  figure.bq blockquote p { margin: 0; margin-bottom: 14px; }
  figure.bq blockquote p:last-of-type { margin-bottom: 0; }
  figure.bq blockquote p::before, figure.bq blockquote p::after {
    content: ' ';
  }
  figure.bq figcaption {
    margin-top: 1em;
    margin-top: 0.3em;
    font-style: italic;
    color: #737373; /* value in use for image captions */
  }
  figure.bq figcaption:before {
    content: '— ';
  }  
</style>

<div class="grid">
  <div class="grid__item three-fifths lap-four-fifths palm-one-whole">
    <p class="lead">A selection of messages sent by researchers, pleased to have found their ancestors in our database.</p>
    <p>Have something to add? Please use our <a href="#leaveReview">Leave a Review for FreeBMD</a> form, at the foot of the page. Thank you.</p>
    <hr class="rule" />

    <figure class="bq">
      <blockquote>
        <p>I wanted to say thanks so much because you helped me to find the right birth record! I just received my adopted sister's birth certificate and I know it's the right one.</p>
      </blockquote>
      <figcaption>Anonymous</figcaption>
    </figure>

    <figure class="bq">
      <blockquote>
        <p>This site has really helped me and gave me hope … </p>
      </blockquote>
      <figcaption>Katherine</figcaption>
    </figure>

    <figure class="bq">
      <blockquote>
        <p>I appreciate your site and all the work that goes into it, it’s helped me a lot in tracking relatives.</p>
      </blockquote>
      <figcaption>Bonita</figcaption>
    </figure>

    <figure class="bq">
      <blockquote>
        <p>Thank you very much for addressing my concerns … I am pleased to hear that you are taking into consideration the feedback from researchers in your future plans.</p>
      </blockquote>
      <figcaption>Anonymous</figcaption>
    </figure>

    <figure class="bq">
      <blockquote>
        <p>Brilliant band of people who have constantly worked so hard to achieve this.</p>
      </blockquote>
      <figcaption>Anonymous</figcaption>
    </figure>

    <figure class="bq">
      <blockquote>
        <p>I live in California now, but was born in the UK, my family is still there and I am 98% British and European … About 66% British. I use FreeBMD all of the time to trace my family members who have passed … It’s a great resource! Thank you to all the people who take the time to translate all of the files and to those who are willing to help with look-ups.</p>
      </blockquote>
      <figcaption>Anonymous</figcaption>
    </figure>

    <figure class="bq">
      <blockquote>
        <p>I live in Suffolk UK and I’ve been researching my family mainly in North East England for past 20 years. I couldn’t do it without FreeBMD and all the other genealogy websites.</p>
      </blockquote>
      <figcaption>Anonymous</figcaption>
    </figure>

    <figure class="bq">
      <blockquote>
        <p>I have been using FreeBMD for about 10 years and am very grateful for all the hard work done by the transcribers.</p>
      </blockquote>
      <figcaption>Anonymous</figcaption>
    </figure>

    <p>Last updated 22 September 2020.</p>

  </div>
</div>

<h2 id="leaveReview">Leave us your review</h2>
<p class="read-length">If you are unable to use the form comfortably, please send your Review by email to info@freeukgenealogy.org.uk</p>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfn3LCDxvZ_5hPVZQLGDHcbk2YqeNQTxRELO58bKEDLqLMJ0A/viewform?embedded=true" marginheight="0" marginwidth="0" width="640" height="1200" frameborder="0">Loading…</iframe>