<div class="container">
  <div class="grid">
    <div class="grid__item one-whole">
      <h1 class="title">Why donate?</h1>
    </div>
    <div class="grid__item desk-wide-two-thirds desk-two-thirds lap-two-thirds palm-one-whole">
      <h2 class="text-weight--bold">Our free websites have served the genealogy community for over 20 years. We keep our running costs low but we need your support.</h2>
      <figure>
        <div>
          <%= image_tag "png/all_projects.png", alt: "all projects", style:"width:70%;" %>
        </div>
      </figure>
      <ul>
        <li>We offer a high-quality alternative to ancestry websites that charge for access.</li>
        <li>We have three free-to-search websites and plan to add more.</li>
        <li>We're committed to Open Data and unimpeded access to family history data.</li>
        <li>We support our community of thousands of volunteers all over the world.</li>
      </ul>
      <p>..and much more besides!</p>
      <figure>
        <div>
          <%= image_tag "png/15 30 60.png", alt: "all projects" %>
        </div>
      </figure>
    </div>
    <div class="grid__item desk-wide-one-third desk-one-third lap-one-third palm-one-whole">
      <div class="islet islet--bordered hard--sides">
        <center>
          <h2>Please donate today</h2>
          <iframe src="https://donate.kindlink.com/free-uk-genealogy/1415" style="width: 100%;height: 1400px;border: 0;">
            Your browser does not support iframes.
          </iframe>
        </center>
      </div>
    </div>
  </div>
</div>