<style scoped="scoped">
/* temporary fix for donate image */
.image-link:focus, .image-link:hover {
  display: inline-block; /* Safari fix */
  background: none;
  outline: 2px dashed #C84182; /* $magenta */
  text-decoration: none;
}
</style>

<div class="grid">
  <div class="grid__item three-fifths lap-one-half palm-one-whole">
    <p>The aim of FreeBMD is to provide a free-to-use, online, searchable database of the indices to the GRO (General Register Office) registrations of births, marriages and deaths. Without the invaluable support of our volunteers, this project would not exist.</p>
    
    <h2 class="gamma">Transcribers</h2>
    <p>We will send you images to transcribe, links to specialist software needed (or you can use a pre-formatted spreadsheet) and guidance on how to transcribe. We will provide feedback on your first attempts so that you can see if any changes are needed in order to meet our high quality standards. You can join a friendly support group where other volunteers can help you learn, and in turn you will be able to advise others.</p>
    <div class="island island--navy">
      <p>FreeBMD2 is currently a work in progress, and it will be some time before volunteers are able to register on the new site. In the meantime, we are very happy to continue welcoming new transcribers through the existing FreeBMD1 website.</p>
    </div>
    <div class="landmark text--center">
      <p><strong>To register as a transcriber, please use the link below:</strong> </p>
      <a href="https://www.freebmd.org.uk/cgi/list-synd.pl?reader=0"><span>Continue to Registration</span><br /><span> on FreeBMD1</span></a>
    </div>
    
    <h2 class="gamma">Website Developers and Designers</h2>
    <p>FreeBMD2 use MySQL, MongoDB, Ruby on Rails and RefineryCMS — if you have experience with any of these, or would like to learn, please visit the <a href="http://www.freeukgenealogy.org.uk/about/volunteer/">Free UK Genealogy volunteer page</a> — this page also has details of opportunities on our sister projects, FreeREG and FreeCEN.</p>
  </div>

  <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right text--center">
    <div class="islet islet--bordered">
      <p class="push-half--bottom">No time to volunteer? Please consider a donation:</p>
      <a class="image-link" href="/donate">
        <img src="/system/images/W1siZiIsIjIwMjAvMTAvMTkvN2todHUwcXJia19kb25hdGUucG5nIl1d/donate.png?sha=20cc8f5914c2dd54" title="Donate" alt="Donate" data-rel="225x255" width="185" height="162" />
      </a>
      <p>Whilst most other genealogy sites charge you to find and read records, FreeBMD is dedicated to keeping our searches free. A small donation towards our costs would really help us keep it that way.</p>
    </div>
  </aside>
</div>