<h1>The Current Team and our management structure </h1>

<p>As with any large project the many activities being undertaken by a variety of volunteers requires an organisational structure to keep all work carefully focused on the objectives of FreeREG.</p>
<p>			FreeReg Executive: Responsible to the FreeUKGen Society for the management of FreeREG : Eric Dickens (Chair), Mick Claxton (Data), Mark James (Training), John Pingram (Coordinators)</p>
<p>County coordinators: Liaise with FreeREG Executive, syndicate coordinators and web page editors to keep county pages up to date.	</p>
<p>Syndicate coordinators: Liaison with County coordinators, Data editors and transcribers to enter register data&#160; </p>
<p>Transcribers: Volunteers who transcribe registers and submit data to the County coordinators or to the Data Editors.<br />	</p>
<p>Document (Web Pages) coordinator: Oversees general structure and presentation of web pages and liaison with the web page editors.<br />	</p>
<p>Web Page Editors: 	Maintains a group of specific webpages such as the County Pages, FAQ pages, etc. 	</p>
<p>Discussion Forum and Mailing List Administrators: Moderates discussion fora and managing mailing lists,dealing with problem subscribe and unsubscribe messages, handling error messages and rejected messages.<br />	</p>
<p>Database Coordinator: Overseeing the database aspect of the project.<br />	</p>
<p>Data Manager: Overseeing final data entry into the database.<br />	</p>
<p>Database Developers: Maintain the website and work on enhancements.</p>
<p>Data Editors: Convert data from non-standard format into our format as csv files. <br />		</p>