<h1>The Original Team</h1>

<p>The Users of FreeREG owe a debt of gratitude to the originators of the project, namely Rod Neep, Ben Laurie, David Mayall, Camilla Gemmingen von Massenbach, Brian Randell and Phil Stringer.</p>
<p>In addition we must recognize the major contribution made by Dave Newbury without whose involvement this project would never have seen the light of day.</p>