<tr>
  <td>Action request sent to :</td>
  <td class="weight--semibold"> <%= @contact.contact_action_sent_to_userid %> </td>
</tr>
<tr>
  <td>Copies of action request sent to :</td>
  <td class="weight--semibold"> <%= @contact.copies_of_contact_action_sent_to_userids%> </td>
</tr>