<tr >
  <td>Record :</td>
  <td class="weight--semibold"> <%= @contact.line_id %> </td>
</tr>
<%case appname_downcase %>
<%when 'freecen' %>
<tr>
  <td>Data Record :</td>
  <td class="weight--semibold">
    <%= link_to ' Record in question', search_record_path(@contact.record_id), method: :get, :class => "btn btn--small"%></td>
</tr>
<%when 'freereg' %>
<tr>
  <td>Data Record :</td>
  <td class="weight--semibold">
    <%= link_to ' Record in question', freereg1_csv_entry_path(@contact.entry_id),  method: :get, :class => "btn btn--small"%></td>
</tr>
<% end %>
<tr>
  <td>County :</td>
  <td class="weight--semibold"> <%= @contact.county %> </td>
</tr>