/*------------------------------------*\
    $ALERTS
\*------------------------------------*/

/**
 * Create an alert, e.g.:
 *
   <div class=alert>
      You needed to know this information.
   </div>
 *
 * You could use any element you like, e.g.:
 *
   <p class="alert alert--error">
      This is a p tag alerting you to an error.
   </p>

   <h2 class="alert alert--success">
      This is an h2 tag alerting you to an successful action.
   </h2>
 *
 */

.alert {
  display: block;
  padding: 0.5em;
  margin-bottom: $base-spacing-unit;
  color: #1d1d1d;
  background: #e9e9e9;
  border: 1px solid #c3c3c3;
  @include vendor(border-radius, 0.25em);
}


/**
 * Colour modifiers
 */

.alert--neutral {
  background: $alert;
  border-color: $alert-lighter;
}
.alert--success {
  color: #fff;
  background: $positive;
  border-color: $positive-lighter;
}
.alert--error {
  color: #fff;
  background: $negative;
  border-color: $negative-lighter;
}
