<% breadcrumb :edit_syndicate,  @syndicate%>
<h2 class=" text--center">Editing <%= @syndicate.syndicate_code%></h2>
<section class="island  island--light">
  <%= render 'flash_notice' %>
  <%= render 'form' %>
</section>
<%= render "resource_sidebar" %>