<% breadcrumb :create_syndicate,  @syndicate%>
<h2 class=" text--center">Create a new Syndicate</h2>
<section class="island  island--light">
  <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
    </div>
   <% end %>
<%= render 'form' %>
</section>
<%= render "resource_sidebar" %>
