<section class="island  island--light">
<p style="text-align: center"><b>Create a new Syndicate</b></p>
  <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
    </div>
   <% end %>
<%= render 'form' %>
</section>
<%= render "resource_sidebar" %>
