<% breadcrumb :freecen2_pieces_chapman,  @chapman_code, @year%>
<h1 style="text-align: center">FreeCen2 Pieces for <%=@chapman_code%> in <%= @year%></h1>
<div style="text-align: center">
  <%= render 'flash_notice' %>
</div>