<% breadcrumb :freecen2_pieces,  @chapman_code, params[:page] %>
<% session[:page] = params[:page]%>
<h1 style="text-align: center">FreeCen2 Pieces for <%=@chapman_code%></h1>
<div style="text-align: center">
  <%= render 'flash_notice' %>
</div>