<h2 style="text-align: center">Totals for <%=@chapman_code%></h2>
<table style="margin-left:25%" class="table--bordered t50 table--data table--striped " >
  <thead >
    <tr >
      <th >Year</th>
      <th >Pieces</th>
    </tr>
  </thead>
  <% Freecen::CENSUS_YEARS_ARRAY.each.each do |year| %>
    <tr >
      <td> <%=  link_to "#{year}", freecen2_pieces_chapman_year_index_path(chapman_code:"#{@chapman_code}",year:"#{year}"), method: :get, class: 'btn   btn--small'%> </td>
      <td> <%= @totals_pieces[year] %></td>
    </tr>
  <% end%>
  <tr >
    <td> Total</td>
    <td> <%= @grand_totals_pieces%></td>
  </tr>
</table>