<% breadcrumb :freecen2_pieces_chapman,  @chapman_code, @year %>
<h2 style="text-align: center">FreeCen2 Pieces for <%=ChapmanCode.name_from_code(@chapman_code)%> (<%=@chapman_code%>)  in <%= @year%></h2>
<%= render 'basic_index' %>