<% breadcrumb :freecen2_pieces_district_place_name,  @chapman_code, @type%>
<h2 style="text-align: center">FreeCen2 Pieces with District Place name for <%=ChapmanCode.name_from_code(@chapman_code)%> (<%=@chapman_code%>) </h2>
<%= render 'basic_index' %>