<% breadcrumb :freecen2_pieces_missing_places,  @chapman_code, @type%>
<h2 style="text-align: center">FreeCen2 Pieces with missing Freecen2 Place for <%=ChapmanCode.name_from_code(@chapman_code)%> (<%=@chapman_code%>) </h2>
<%= render 'basic_index' %>