<% if flash[:notice] %>
<div id="notice" style="color:red"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
</div>
<% end %>
<%= semantic_form_for @manage_county do |f| %>
<%= f.input :syndicate, { :as => :select, :include_blank => false,  :prompt => @prompt,:required => true, :collection => @options,:width => 10  }%>
 <%= f.submit  'Select'   %>
<% end %></div>