<% breadcrumb :fully_transcribed_groups, session[:syndicate] %>

<% title "IS Group - fully transcribed group" %>
<p><h3 style="text-align: center">Fully Transcribed Image Groups Allocated to Syndicate <%= session[:syndicate] %>.</h3></p>
<%= render partial: 'flash_notice' %>

<div class="grid">
  <section class="island">
		<%= render partial: 'image_groups', :locals=>{:image_group_filter=>'fully_transcribed'} %>
  </section>
</div>