<h1>Example page generated from XML source</h1>

<div id="top">
   <div class="grid">
      <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
         <p class="lead">This is what this page is about.</p>
         <p>More introductory text.</p>
      </div>
      <div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
         <nav aria-labelledby="thisPage">
            <div class="islet islet--bordered">
               <h2 class="title-block" id="thisPage">On this page</h2>
               <ul class="sub-nav">
                  <li><a href="#section1">Section 1 heading</a>
</li>
                  <li><a href="#section2">Section 2 heading</a>
</li>
               </ul>
            </div>
         </nav>
      </div>
      <div class="grid__item three-fifths lap-two-thirds palm-one-whole" id="section1">
         <h2>Section 1 heading</h2>
         <p><strong>Section 1</strong> paragraph.</p>
      </div>
      <div class="grid__item three-fifths lap-two-thirds palm-one-whole" id="section2">
         <h2>Section 2 heading</h2>
         <p><em>Section 2</em> paragraph.</p>
      </div>
   </div>
</div>