<h1>Frequently asked questions (researchers)</h1>

<style scoped="scoped">
 .q-and-a dt { margin-top: 1.5em; border-top: 1px solid #3c78b4; padding-top: 0.75em; font-weight: bold; }
</style>

<div class="grid">
  <div class="grid__item two-thirds palm-one-whole">
    <p class="lead">Before you contact us, please check whether your question about FreeREG is answered below: you could get your answer without any waiting! The questions and answers are grouped by the subjects in the contact form.</p>
    <p class="islet islet--bordered">Would you like to thank the volunteers who have made FreeREG possible? Please <a href="/cms/about/your-reviews">leave us a review</a>.
    </p>
  </div>

  <div class="grid__item one-third palm-one-whole float--right">
    <nav aria-labelledby="thisPage">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="thisPage">On this page</h2>
        <ul class="sub-nav">
          <li><a href="#data">Data Problem</a> </li>
          <li><a href="#website">Website Problem</a> </li>
          <li><a href="#volunteer">Volunteering Question</a> </li>
          <li><a href="#genealogy">Genealogical Question</a> </li>
          <li><a href="#enhancement">Enhancement Suggestion</a> </li>
          <li><a href="#general">General Comment</a> </li>
       </ul>
      </div>
    </nav>
  </div>

  <div class="grid__item two-thirds palm-one-whole"> 

    <h2 id="data">Data Problem</h2>
    <p>Here are the Data Problem questions that people ask us most often:</p>
    <dl class="q-and-a">
      <dt>How do I tell you about a possible mistake in one of my search results?</dt>
      <dd>Please use the ‘Report an Error in this Data’ button on the Search Detail page for the entry. That way, we know exactly which entry you mean.</dd>

      <dt>Why can I not find the person I’m looking for?<br />Why do some places and churches not have records in the database?</dt>
      <dd>
        <p>Not all registers have been transcribed as yet. You can check the coverage on FreeREG by selecting RECORDS in the top menu bar. Scroll down to select the county in the list and then select ‘Go’. Only places with any existing transcriptions are listed in the Specific Place list. We aim to have transcribed all available parish registers at some point in the future (dependent on our access to the parish registers), so it’s worth checking back from time to time.</p>
        <p>In the meantime, you could try other free-to-use resources such as the <a href="http://www.familysearch.org/">Family Search website</a>, or one of the links on GenUKI to an <a href="http://www.genuki.org.uk/big/OPC">Online Parish Clerk website</a>. </p>
      </dd>

      <dt>Why is a particular church in a different place to where I expect?<br />Why is a place listed in an unexpected county?</dt>
      <dd>
        <p>We have chosen to structure our database using the places and counties as they were in 1831. This might mean that a church is now in a different county. The physical church might have moved, and for institutions other than the Church of England, we might have had to select one of a number of places covered by, for example, a Methodist Circuit or a civic graveyard.</p>
        <p>Welsh counties in FreeREG are the thirteen historic counties used prior to 1974, when changes were made by the Government, so do make sure you are searching in the historic county.</p>
      </dd>

      <dt>How can I check to see if someone has been recorded using a slightly different spelling of their name?<br />Why do you have two (or more) records of the same event?</dt>
      <dd>
        <p>For this type of advice, take a look at our <a href="/cms/help">Help</a> section — there is a link to the Help in the top menu bar of every page.</p>
        <p>On some pages we use the ‘i’ symbol to show that specific help is available: simply hover over the symbol, or tab into it, to read that information.</p>
      </dd>
    </dl>
    <p class="island island--light">If you have a different question about the data we hold, please ask by selecting ‘Data Problem’ on the <a href="/contacts/new">Contact form</a>.</p>
    <hr class="rule" />

    <h2 id="website">Website Problem</h2>
    <p>These are the questions we get asked most often about a Website Problem:</p>
    <dl class="q-and-a">
      <dt>How do I tell you that the website is down?</dt>
      <dd>Please email info@freeukgenealogy.org.uk or let us know on <a href="https://twitter.com/FreeUKGen">Twitter</a> or <a href="https://www.facebook.com/freeukgen">Facebook</a> — we'll do all we can to fix the issue.</dd>

      <dt>How do I print my results?</dt>
      <dd>Use the Printable Format button near the top of the Results page to get a plain, printer-friendly page of all your results, or use the similar button for a single record from its Detail page.</dd>
      
      <dt>How can I check to see if someone has been recorded using a slightly different spelling of their name?<br />Why do you have two (or more) records of the same event?</dt>
      <dd>
        <p>For this type of advice, take a look at our <a href="/cms/help">Help</a> section — there is a link to the Help in the top menu bar of every page.</p>
        <p>On some pages we use the ‘i’ symbol to show that specific help is available: simply hover over the symbol, or tab into it, to read that information.</p>
      </dd>

      <dt>How do I suggest an improvement you should make to the website?</dt>
      <dd>See the <a href="#enhancement">Enhancement Suggestion FAQs</a>.</dd>

      <dt>How do I tell you that there is a fault on the website such as a typo or broken link?</dt>
      <dd>Please go to the <a href="/contacts/new">Contact form</a> and then select Website Problem.</dd>
    </dl>
    <p class="island island--light">Not found the answer to your website problem question? Please ask by selecting ‘Website Problem’ on the <a href="/contacts/new">Contact form</a>.</p>
    <hr class="rule" />

    <h2 id="volunteer">Volunteering Question</h2>
    <p>Here are the questions we get asked most often about Volunteering, about joining the FreeREG transcriber (or technical) team:</p>
    <dl class="q-and-a">
      <dt>How do I sign up as a FreeREG volunteer?</dt>
      <dd>Use our <a href="/cms/opportunities-to-volunteer-with-freereg">sign-up page</a>.</dd>

      <dt>What does volunteering involve?</dt>
      <dd>
        <p>Transcribing for FreeREG involves copying the information in baptism, marriage and burial entries from church registers into the FreeREG database to enable researchers to freely search for those records. You can give as little or as much time as you can spare to transcribing and you can be located anywhere in the world because you will be provided with the source register images via our online system and will upload your completed transcription files to the FreeREG website.</p>
         <p>No experience is needed as we will provide you with the required training and you will be assigned to a syndicate with a coordinator who can answer your questions, provide you with source data and give you the support you need.</p>
      </dd>

      <dt>How much time do I need to commit?</dt>
      <dd> However much you have. The beauty of transcribing is that it's flexible — it’s done from the comfort of your own home, library or even coffee shop.</dd>
    </dl>
    <p class="island island--light">If you have a different question about volunteering, please ask by selecting ‘Volunteering Question’ on the <a href="/contacts/new">Contact form</a>.</p>
    <hr class="rule" />

    <h2 id="genealogy">Genealogical Question</h2>
    <p>These are the questions we get asked most often about genealogy:</p>
    <dl class="q-and-a">
      <dt>Why can I not find the person I’m looking for?<br />Why do some places and churches not have records in the database?</dt>
      <dd>
        <p>Not all registers have been transcribed as yet. You can check the coverage on FreeREG by selecting RECORDS in the top menu bar. Scroll down to select the county in the list and then select ‘Go’. Only places with any existing transcriptions are listed in the Specific Place list.</p>
        <p>We aim to have transcribed all available parish registers at some point in the future (dependent on our access to the parish registers), so it’s worth checking back from time to time.</p>
        <p>In the meantime, you could try other free-to-use resources such as the <a href="http://www.familysearch.org/">Family Search website</a>, or one of the links on GenUKI to an <a href="http://www.genuki.org.uk/big/OPC">Online Parish Clerk website</a>. </p>
      </dd>
      <dt>I have a question about parish and non-conformist records</dt>
      <dd>
        <p>If you know which county or city is involved, you can try contacting the County Record Office: select the county from RECORDS in the main menu bar — you will find a link to the County Record Office or to the GenUKI page for that county, which in turn will direct you to the record office.</p>
        <p class="push-half--bottom">The <a href="http://www.nationalarchives.gov.uk/">National Archives website has </a>more information on parish and non-conformist records:</p>
        <ul>
          <li><a href="http://www.nationalarchives.gov.uk/help-with-your-research/research-guides/catholics/">How to find records of Catholics</a> </li>
          <li><a href="http://www.nationalarchives.gov.uk/help-with-your-research/research-guides/nonconformists/">How to find records of Non-conformists</a> </li>
          <li><a href="http://www.nationalarchives.gov.uk/help-with-your-research/research-guides/jews-and-jewish-communities-18th-20th-centuries/">How to find records of Jews and Jewish communities</a> </li>
        </ul>
        <p>You can also find out how to get the most out of a FreeREG Search in our <a href="/cms/help">Help</a> section.</p>
      </dd>

      <dt>I have a general genealogy question</dt>
      <dd> Unfortunately, we do not have the resources to help with specific genealogical research. However, the <a href="https://www.freeukgenealogy.org.uk/about/genealogy-research/links">FreeUK Genealogy Links page</a> has lots of useful places to seek information.</dd>
      </dl>

    <p class="island island--light">If you have a different question about FreeREG-related genealogy, please ask by selecting ‘Genealogical Question’ on the <a href="/contacts/new">Contact form</a>.</p>

      <hr class="rule" />

      <h2 id="enhancement">Enhancement Suggestion</h2>
      <p>Use this to let us know how we could improve the website for family history researchers.</p>
      <p>Here is the comment we receive most often:</p>
      <dl class="q-and-a">
        <dt>I want to tell you about an improvement you should make to the website.</dt>
        <dd>
          <p>Could you be part of the solution and join our technical volunteer team? We need people to help duplicate bugs, check that they’ve been fixed, work on the FreeREG user interfaces, as well as coding. Find out how you can get involved on the <a href="https://www.freeukgenealogy.org.uk/about/volunteer/tech-volunteering-opportunities">Technical Volunteering Opportunities</a> page on the FreeUKGenealogy site.</p>
          <p>Otherwise, send us your suggestion using <a href="/contacts/new">Contact Us</a>.</p>
        </dd>
      </dl>
      <hr class="rule" />
      
      <h2 id="general">General Comment</h2>
      <p>For anything else you want to say about our website that is not covered by the other topics.</p>
      <p>Choose ‘General comment’ on the <a href="/contacts/new">Contact form</a>.</p>
  </div>
</div>