<h1>Information for Coordinators DRAFT (do not use this)</h1>

<div class="grid">
  <div class="grid__item one-third palm-one-whole float--right">
    <aside class="islet islet--bordered">
      <h2 class="title-block">Created by ? </h2>
<h2 class="title-block">On this page</h2>
      <ul class="sub-nav">
        <li><a href="#syndicateCounty">Syndicates and Counties</a> </li>
        <li><a href="#database">The database</a> </li>
        <li><a href="#transcriber">Transcriber Actions</a> </li>
        <li><a href="#login">Problems logging in?</a> </li>
        <li><a href="#messages">Sending messages</a> </li>
        <li><a href="#transcribing">Making a transcription</a> </li>
      </ul>
    </aside>
    <aside class="islet islet--bordered">
      <h2 class="title-block">Transcriber Help</h2>
      <ul class="sub-nav">
        <li><a href="/information-for-transcribers">Information for transcribers</a> </li>
        <li><a href="/freecen-handbook">The Handbook</a> </li>
      </ul>
    </aside>
  </div>

  <div class="grid__item two-thirds palm-one-whole">
    <p class="lead">This page contains general information and advice about being a transcriber. It is basic information, to get you started.</p>
    <h2 id="syndicateCounty">Syndicates and Counties</h2>
    <p>You will be assigned a <strong>Syndicate Coordinator</strong> (SC) who will deal with you as a person. They will&#160; be responsible for the transcribing of the&#160; Piece you are transcribing (each Census district&#160; in each census has a number of Pieces). Your SC will answer questions, monitor your work, and upgrade your <q>skill level</q> as you begin to work with the more difficult census images: your SC is your mentor.</p>
    <p>Your SC will probably also be the <strong>County Coordinator</strong> (CC) of the County for which you initially choose to transcribe. As a CC, they manage the data available for transcribing from the various Census districts in the county, at all years, as well as other technical aspects relating to quality control and volunteer management You will need to contact the relevant CC when you need more work.</p>

    <h3>Image Server</h3>
    <p>We will be setting up an automated system for allocating images for transcription, linked to an Image Server. In the meantime, the CC will arrange to send you images to transcribe — the method varies from CC to CC.</p>

    <h3>Working for more than one county</h3>
    <p>When you first begin to transcribe for FreeCEN, your Syndicate and County Coordinators will probably be the same person. If you want to work for a different county, you simply remain with the same Syndicate, but contact the new County Coordinator for work. Each CC can see all your work for their county and census years, no matter which Syndicate you belong to. Your Syndicate Coordinator can see your work for all counties and all census years. </p>
    <hr class="rule rule--ornament" />

    <h2 id="database">The database</h2>
    <p>You need to be familiar with the terms we use to describe the FreeCEN database and how these relate to the transcription files you create. The database itself is simply an organised set of information held on the servers that make FreeCEN work. (You could think of the database as the digital equivalent of a multi-storey building, its rooms filled with filing cabinets that contain transcribed census returns.)</p>
    <p>FreeCEN has a single database which is organised by <strong>Census Year</strong>, <strong>County</strong>, <strong>Piece&#160;number</strong>, and <strong>Civil Parish</strong>. We use the same Piece numbers as the National Archives.</p>
    <p>You’ll be using Images of a census — the pages of an Enumerator’s book — as your source, transcribing the <strong>data</strong> (information) it contains into a spreadsheet. You can use any spreadsheet program (or app) that you have on your computer.</p>
    <p>When you have finished, you will upload your transcription into the FreeCEN CSVProc system online, and the transcription is then checked by a <strong>Proofreader</strong> — an experienced Transcriber.</p>
    <p>The final checks are done by a <strong>Validator</strong> who is often the CC.&#160;</p>
<p>Once in the database, all the records you transcribed will be available to be found by a Search.</p>
<p><strong>A note for existing transcribers:&#160;&#160;</strong>Not all existing transcribers are yet using the new system - of you are an existing transcriber, your file will be proofread and validated, and&#160; uploaded to the FreeCEN Database on the original FreeCEN site (FreeCEN1) as at present. : the database there is updated once every four weeks. Finally, your file will be copied to the database on this new FreeCEN site (FreeCEN2).</p>
    
    <hr class="rule rule--ornament" />

    <h2 id="transcriber">Transcriber Actions</h2>
    <ol>
      <li>If you are not logged in, select <q>Members</q> on the Main menu (at the top of every page). Log in using your UserID (or email address) and Password. You can avoid the need to type these every time by checking the <q>Keep me logged in</q> box and allowing your browser to save passwords. (Every few months, you will be asked to confirm your current email address — this is to help ensure that we send important messages to the correct address.)</li>
      <li>Once logged in, you will see some information about the system status: this is for all members, not only the technical team! You will also see a set of buttons: these are your <strong>Actions</strong> — a set of online tools for managing your Profile (see next item) and more.</li>
      <li><strong>Profile</strong> is <strong>your details</strong>. Please make sure that these are kept up-to-date by selecting <strong>Edit</strong>. The coloured fields are those that you can edit. Your telephone number is not essential but it is useful if we find that we cannot contact you by email: it is not made public. Alternatively or additionally, please let us have your postal address. It is helpful to have at least your country, so that we can keep time differences in mind when contacting you.</li>
      <li><strong>Roadmap</strong> takes you to a page detailing how we plan to develop FreeCEN2 over time, with new features and enhancements for Transcribers, Coordinators and Researchers. We welcome feedback on the Roadmap, and comments on how FreeCEN2 is developing.</li>
<li>Almost at the bottom of the list of actions is the <strong>Handbook</strong> which provides all you need to know about the CSVProc system.</li>
      <li>Once you have selected an Action, you will notice that there is a row of <q>breadcrumbs</q> (links) just under the main menu that guides you back to previously-visited pages. It is a good idea to use the breadcrumb links, rather than your browser's Back button — especially if you have made any edits online. If you do use the Back button, then please reload the page (Ctrl+R on Windows, Cmd+R on a Mac) before you click on any further links.</li>
    </ol>
    <hr class="rule rule--ornament" />

    <h2 id="login">Problems logging in?</h2>
    <p class="flush--bottom"><strong>If your UserID is reported as incorrect:</strong> </p>
    <ul>
      <li>Remember that it is case-sensitive: SuperUser is not the same as superuser, for example.</li>
      <li>If you can’t get your UserID accepted, try using your email address instead. Once you are logged in, check the details of your UserID in your Profile.</li>
      <li>Use the <q>password reset request</q> link to reset your password if necessary. Please note that the activation email sent to you is only valid for 24 hours — if you miss this, you will need to request a reset again.</li>
      <li>If neither UserID or email address is working for you, contact your Syndicate Coordinator. Please help them by explaining what you have already tried.</li>
    </ul>
    <p><strong>If you get no message</strong>, then either your Profile is marked as Inactive or you are using the wrong password. Ask your SC to check your Profile and mark you as active.</p>

    <h3>Problem with password reset request?</h3>
    <p>If you have requested a password reset, but have not received the email, then please ask your SC to make the request for you.</p>
    <hr class="rule rule--ornament" />

    <h2 id="messages">Sending messages</h2>
    <p>To avoid overloading us with messages, please follow these guidelines</p>
    <ul>
      <li><strong>If your message is about improvements to the system</strong>, please look at the <a href="/system-documents/development-roadmap" title="Development Roadmap">Roadmap</a> to see if we already have it on the to-do list. If it is not there and:
        <ul>
          <li>If the improvement is for version 1.3 (improvements for transcribers), please tell us your idea <a href="/contacts/new" title="Contact us">via the Contact page</a>, with full details of what is needed.</li>
          <li>If the message is about an improvement for researchers (version 1.4), please use <a target="_blank" href="https://docs.google.com/a/freeukgenealogy.org.uk/forms/d/e/1FAIpQLSdT2291Wot-IdsP_Y2_w82BsP9WkqXfdTnX_8V-Y7g6pClqvg/viewform" title="Feedback form">the feedback form</a>, which will open in a new tab.
          </li>
        </ul>
      </li>
      <li>If the message is about a bug or system failure, ask your Syndicate Coordinator (SC) to trouble-shoot for you. If they can't help, please use the <q>Report a Problem</q> button at the bottom right of all screens (when you are logged in).</li>
      <li>All queries about data need to go to the relevant CC: <a href="/contacts/new" title="Data question">use the Contact page</a>, selecting Data Question on that form.</li>
      <li>Everything else needing a response should go to our Contacts Coordinator: go to <a href="/contacts/new" title="Contact us">the Contact page</a> and select the appropriate category (type) on that form. Please remember to include your UserID and as many details as possible: having to get back to you to ask for them takes us time.</li>
    </ul>
    <hr class="rule rule--ornament" />

    <h2 id="transcribing">Making a transcription</h2>
    <p>We have two files available for download, both in CSV (comma separated values) format: the <strong>Fields </strong>(columns) are all set up on this <a href="<%= path_to_asset('resources/5xgk6ybmfm_blank.csv') %>" title="Blank spreadsheet">blank spreadsheet</a>; there is also an <a href="<%= path_to_asset('resources/84jn21qkoq_example.csv') %>" title="Example spreadsheet">example spreadsheet</a>, with some sample data transcribed from the 1891 census.</p>
    <p>The <strong>handbook</strong> (penultimate field in the list of Actions) explains what to put in each column (field) and everything else you need to know.</p>

  </div>
</div>