/*------------------------------------*\
    $MAIN
\*------------------------------------*/
// comment uses color $default-text and eliminates  font-style: normal;
html {
  font-family: $brand-face;
  background: #fff;
  color: $default-text;
  overflow: auto;
}