/*------------------------------------*\
    $TABLES
\*------------------------------------*/
// comment why do we use sans-serif in tables
table {

  /**
   * A style for captions
   * AO: make font-size smaller, tweak span color for accessibility, add .additional
 */
  caption {
    @include font-size(22px, false);
    text-align: left;
    font-weight: lighter;
    overflow: hidden;

    // like an `.islet  .islet--light`
    span {
      background: $light;
      padding: $b-half;
      color: #707070;
      &.additional {
        background: transparent;
        font-size: 14px;
        margin-bottom: $base-spacing-unit / 4;
      }
    }

  }



  /**
   * Bordering
   */
  border-top: 1px solid #cccccc;

  // turn off inuits so we can do our own
  th, td { border: 0; }

  // only border th's and tds that are after
  [rowspan],
  [rowspan] ~ th,
  [rowspan] ~ td {
    border-top: 1px solid #cccccc;
  }



  /**
   * Spacing
   * AO: do not understand wish to be rid of padding!
   */
  // thead tr th:first-child,
  // tbody tr th:first-child {
  //   padding-left: 0;
  // }
  // thead tr th:last-child,
  // tbody tr th:last-child,
  // tbody tr td:last-child {
  //   padding-right: 0;
  // }



  /**
   * Hovers
   
  tbody tr:hover td {
    background: $light;
  }
  */



  /**
   * On hover show any row-links - which should contain an icon like so:
   *
   <tr>
     <td>Something</td>
     <td>Something</td>
     <td>Something</td>
     <td>
       316
       <a href="#" class="row-link">
         <span class="accessibility">Link to entry</span>
         <i class="icon__eye" aria-hidden="true"></i>
       </a>
     </td>
   </tr>
   *
   */
  tbody td { position: relative; }
  .row-link {
    display: none;
    line-height: 1;
    position: absolute;
    top: 50%;
    margin-top: -29px;
    right: -50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  tbody tr:hover .row-link { display: block; }

}



/**
 * Cell alignments
 */
[rowspan]{
  vertical-align: top;
}

/**
 * Data: AO: make text a little bigger, for comfort
 */
.table--data {
  font: 16px;
  font-family: $brand-face;
}


/**
 * A simple wrapping div to force the table to scroll
 * inside the website frame when its too large
 */
.table-wrapper {
  width: 100%;
}
