/*------------------------------------*\
    $TYPE
\*------------------------------------*/



/**
 * Colour in selected text
 */
::-moz-selection {
  background: $brand-color;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: $brand-color;
  color: #fff;
  text-shadow: none;
}



/**
 * Default links
 */
a {
  color: $project-color;
  text-decoration: none;
  font-weight: bold;
  &:focus, &:hover {
    color: $focus-hover;
    text-decoration: underline;
  }
  &:focus {
    background-color: $project-color-faded;
    outline: 3px solid $project-color-faded;
  }
}



/**
 * Body text resets
 */
.body {
  ul, ol {
    margin-left: 22px;
    li {
      padding-left: $b-half;
      margin-bottom: $b-half;
    }
  }
}



/**
 * a default time style that might be used anywhere
 */
%time {
  color: #757575;
  font-weight: bold;
}



/**
 * Coloured text and links
 */
@each $colour in $text-colours {
  .text--#{nth($colour, 1)} {
    color: #{nth($colour, 2)};
  }
}

/**
 * AO: a class to limit line width to a comfortable reading length
 */
.read-length {
  max-width: 32em;
}
