<h1>Development Roadmap</h1>

<div class="read-length">
  <p>Use this link to <a href="https://docs.google.com/document/d/1tOX_6_fyslNIf-ArsChKnhv7XSgpKjAuBD3RwdoaGlg/edit?usp=sharing">view the Roadmap</a> (a Google Doc) which shows the planned development of FreeCEN2.</p>
  <p>You will be able to see if an improvement you wish to see happen is already in the plan. You will also be able to comment on the planned changes.</p>
  <p>Every three months, the development team (developers, FreeCEN volunteers and others) will review the Roadmap and make changes based on your comments and other factors.</p>
</div>