<h1>DRAFT Development Roadmap - can be removed?</h1>

<p class="pill islet--magenta">Page needs: more user-friendly text (see story #421) structure (semantic headings and a headings hierarchy); layout</p>

<h2>The FreeCEN Development Roadmap</h2>

<div class="lead">
<p>There is a roadmap which sets out the plan for the development of the FreeCEN2 software. The plan is split into a number of ‘versions’, each of which is specified to benefit a particular actor (user or volunteer) and outlines the high-level features or areas we expect to deliver or address for them. 
</p>
<div class="grid">
        
    </div>

    <div class="islet islet--bordered">
      <h2 class="title-block">On this page</h2>
      <ul class="sub-nav">
         <li><a href="#project">About the FreeCEN2 project</a> </li>
         <li><a href="#plan">The Implementation Plan</a> </li>
         <li><a href="#furtherInfo">The fine details</a> </li>
          </ul>
        
    </div>



     <h3><a id="project">About the FreeCEN2 Project</a>
</h3>

<p><strong>Versions (or milestones) 1.0 to 1.7</strong> are planned to implement a FreeCEN2 which is at least as good as FreeCEN1 in every aspect (e.g. the same search functions) and also makes some significant improvements. Phases 2.0 and onwards will be planned when the end of Version 1 is in sight.  Each phase contains a number of <em>“stories”</em> or <em>“issues”</em>.
</p>
<p>Also noted in the plan are the data and documentation changes that need to be made in parallel with the software features being developed.</p>
<a href="#furtherInfo">The fine details are below.</a>
    </div>

<p>FreeBMD2, FreeREG and the www.freeukgenealogy.org.uk websites use similar processes, and there is also a ‘systemwide’ plan that deals with things that have an impact on more than one project, such as accessibility issues, servers and security.</p>

<p><strong>Software components</strong>: FreeCEN2 uses mongodb, Ruby on Rails, Refinery CMS, and CSS.
</p>
<p>We use <strong>agile software development</strong> process using a two-weekly meeting (scrum) to review work and plan the work for the following two weeks.</p>
<p>Fortnightly software developments deployed during a version development.</p>

     <h3><a id="plan">The Implementation Plan</a>
</h3>

       <p>The first versions are designed to get a system working so that FreeCEN1 can be frozen. At the completion of 1.3 all work in FreeCEN1 – including tasks in abeyance due to software issues forFreeCEN1 — can be done through FreeCEN2. Further versions are replacements for other FreeCEN processes which are not currently integrated, and enhancements for all actors.</p>
<p>NB dates are expected START dates for the development work on each version (Version 1.0 was actual)</p>

     <h4>Version 1.0 Set up basic website using FreeREG2 framework </h4>
<p>Begun and completed in 2015</p>

<p><strong><em>Targeted actors:</em>
</strong> Free UK Genealogy staff</p>
<p><em>Features</em> Largely a “copy-and-paste” of the FreeREG code into a basic template which had been designed in c. 2013 as a suite of designs for Free UK Genealogy websites.
</p> 

<h4>Version 1.1 — Search of full database available on server cluster </h4> 
<p>(Sept 2015 with a few stories lasting after launch in Dec 2017, finally closed June 2019)</p>

<p><strong><em>Targeted actors:</em> </strong>Researchers</p>
<p><em>Features</em>: 114 separate stories including adding more search capabilities, enabling changes to the FreeCEN1 database to be brought into FreeCEN2, and adding some basic information for researchers. New volunteers can now sign up, existing volunteers can sign in, and the contact and messaging systems for volunteers are in place.</p>

<h4>Version 1.2 and 1.3 — Management Functions and Transcriber access</h4> 
<p>These two versions merged as it became apparent that the systems for Coords and Validators (1.2) and for Proof-readers and Transcribers (Version 1.3) needed development in an integrated way. Jan 2018 — ongoing 50% complete</p>

<p><strong><em>Targeted actors:</em>
</strong> Coords and their teams, Researchers</p>
<p><em>Features:</em> A system allowing transcribers to upload their transcriptions (made off-line on a spreadsheet), for them to be proofread, validated and published (CSVProc). As a result of initial feedback from Researchers, stories originally in phase 1.4 were also brought into this phase of work.  Both CSVProc and improvement needed by researchers meant that the first phase of work on geographical information was also undertaken.</p>

<h4>Version 1.4 — Search Engine Enhancements</h4>
<p>25% complete</p> 

<p><strong><em>Targeted actors:</em> </strong>Researchers</p>
<p><em>Features</em> Remaining issues identified in feedback from researchers, but not undertaken already (usually on grounds of developer time), plus new features including the ability to search nearby places and other improvements to searching, improving the display for users of mobile devices, researchers can register for free to get access to extra facilities that depend on us storing their requests, improving tips and documentation, and displaying search results on a map.</p>


     <h4>Version 1.5 — Coordinator Enhancements </h4> 
<p><strong><em>Targeted actors:</em> </strong>Coordinators</p>
<p><class=push-half--bottom><em>Features</em> include: 
</class=push-half--bottom></p>
<ul>
     <li>Image system</li>
     <li>Communications system enhancements</li>
     <li>Error and usage reports</li>
     <li>Enhanced and consistent validation</li>
     <li>GAP a system to indicate Gaps in Census information</li>
     <li>CAP (a system to manage work in progress and available for transcription)</li>
   </ul>
<p>8% complete — displays for Coordinators enhanced</p>

     <h4>Version 1.6 — Other enhancements</h4> 
<p><strong><em>Targeted actors:</em> </strong>Transcribers, Proofreaders and Validators</p>
<p><em>Features</em>: enhancement of communication features. Transcriber’s tools for image management for workflow management.</p>


<h3><a id="furtherInfo">The fine details</a>
</h3>
  <p>To find out more, please <a href="https://drive.google.com/open?id=1FNUijfW3586xE-m9W3U1gyxstSYwO7cD3jbqS9V33A8" title="https://drive.google.com/open?id=1FNUijfW3586xE-m9W3U1gyxstSYwO7cD3jbqS9V33A8">view the Roadmap</a> (a Google Doc) which shows the details of the planned development of FreeCEN2.</p>
  <p>You will be able to see if an improvement you wish to see happen is already in the plan. You will also be able to comment on the planned changes.</p>
  <p>Every three months, the development team (developers, FreeCEN volunteers and others) will review the Roadmap and make changes based on your comments and other factors.</p>