<h1>Road Map</h1>

<p class="pill islet--magenta">Page needs: structure (semantic headings and a headings hierarchy); layout</p>

<h3>FreeCEN2 Development Roadmap</h3>
<p>This is a roadmap for the development of the FreeCEN2 software. Each release is specified to benefit<br />a particular actor (user or volunteer) and outlines the high-level features or areas we expect to deliver or address for<br />them. Also noted are the data and documentation changes that need to be made in parallel with the<br />software features being developed.</p>
<h4>Software components: <span style="font-weight: normal;">mongodb, Ruby on Rails, Refinery, GitHub Project Management.</span>
</h4>
<p><strong>Agile software development</strong> process using scrum/sprint and GitHub.</p>
<p><strong>Version numbers </strong>refer to releases of the FreeCEN2 (FC2) project.
</p>
<p>Fortnightly software developments deployed during a version development.</p>
<strong>
Target completions</strong> are based on a team of two contracted developers.<div><br /><p><strong>Versions 1.0 to 1.3</strong> are designed to get a system working so that FreeCEN1 can be frozen. At the completion of 1.3 all work in FreeCEN1 – including tasks in abeyance due to software issues forFreeCEN1 — can be done through FreeCEN2. Further versions are replacements for other FreeCEN processes which are not currently integrated, and enhancements for all actors.</p>
<p>NB dates are expected START dates for the development work on each version (Version 1.0 was actual)</p>
<p><strong>Version 1.0</strong> Set up basic website using FreeREG2 framework (June–August 2015)</p>
<p><strong><em>Targeted actors:</em>
</strong> Free UK Genealogy staff</p>
<p><em>Features</em>
</p>
<ul><li>MPN Master Placenames Collection, including Chapman Codes</li>
<li>Coords list (Coords collection) — UserID list (Users Collection)</li>
<li>System Administrator Ability to manage collections</li>
<li>All private functions behind security — Tools to manage above collections</li>
<li>Feedback collection</li>
<li>Comments collection</li>
<li>Documentation Repository</li>
<li>Attic access</li>
<li>Basic usage statistics</li>
<li>Server and Database monitoring tools</li>
<li>Application error reporting system</li>
<li>Supercool's design implemented across the public facing pages</li>
</ul>Tested on Cornwall and Durham data.</div>
<p><strong>Version 1.1</strong> Search of full database available on server cluster (September 2015)</p>
<p><strong><em>Targeted actors:</em> </strong>Researchers</p>
<p><em>Features</em>
</p>
<ul><li>All FC1 fields are presented in search results</li>
<li>Direct access to search</li>
<li>Search function stable under load with multiple servers</li>
<li>Adverts are served and click-tracking works</li>
<li>About page created, using existing FreeBMD content as a basis</li>
<li>Donations page created, using existing FreeBMD content as a basis</li>
<li>Help page created, using existing FreeBMD content as a basis</li>
<li>Search paths and search features defined/developed through formative evaluation with users (all experience levels)</li>
<li>FC1 searches can be completed on FC2</li>
<li>Additional FC2 searches specified</li>
<li>Nearby places search capability added</li>
<li>Access to automated information on Database Contents</li>
<li>Support to tablets</li>
<li>Initial support for Smartphones</li>
<li>About information</li>
<li>Contact us capability</li>
<li>Report data errors/problems</li>
<li>Login in ability</li>
<li>Simple navigation</li>
<li>Information about the search</li>
<li>Capability to revise search</li>
<li>Multi-server deployment</li>
<li>Daily update of database</li>
</ul>
<p>Researcher registration, and the extra features associated with being registered, is not part of this release.</p>

<p><strong>Version 1.2</strong> Management Functions (February 2016)</p>
<p><strong><em>Targeted actors:</em>
</strong> Coords and checkers.</p>
<p><em>Features</em>
</p>
<ul><li>Create new work pathways for use with existing spreadsheets. Manage their teams and control the metadata of the database as well as the quality of the data for their teams/counties.</li>
<li>New system — CVS or XML?</li>
<li>Compare FreeREG2 Quality Control functions with FreeCEN2 needs and specify issues for this and subsequent milestones.</li>
<li>Syndicate coordinator can review/add/delete/disable transcribers to their syndicate using variety of displays; lists by all/active/name/email address/userid</li>
<li>Add information to profile of transcribers</li>
<li>Quality control systems include automated checking (e.g. of metadata) leading to rejection (nb need for transcriber-over-write of rejection for TWYS entries — 1.3 action)</li>
<li>Review work of their transcribers, errors and all batches they have loaded. Quality Control takes place between Transcription and making transcription live. Multiple access means by errors/filename/date of load/userid/</li>
<li>Send out password reset request</li>
<li>Coords can access all/active/specific places in their county. Add/Edit information about the Place.</li>
<li>Upload new batches (term may not be correct)</li>
<li>Review errors and contents of batches (term may not be correct)</li>
<li>Correct errors in batches on-line (For decision: no facility for off-line correction?)</li>
<li>Edit a batch on-line</li>
<li>Add a batch on-line</li>
<li>Download a batch</li>
<li>Batches changed on-line will not be overwritten by a file reload</li>
<li>Coords to have access to their own batches and profiles</li>
<li>Report generator</li>
</ul>
<strong>Version 1.3 </strong>Transcriber access (May 2016)
<div><strong><em>Targeted actors:</em>
</strong> Transcribers</div>
<div><p><em>Features</em>
</p>
<ul><li>Online transcription (if FreeCEN2 is lead project)</li>
<li>Quality control systems include automated checking of some TWYS data (e.g. age of scholars), with</li>
<li>Over-write that prompts further checking</li>
<li>Tweak transcription rules to move to TWYS where now possible, and other changes to reflect new capabilities</li>
<li>Tweak spreadsheet so that contractions / concatenations don’t happen and that EVERY field is recorded</li>
<li>Training module, possibly with video?</li>
<li>Transcribers can log into the system</li>
<li>Review and edit their profile.</li>
<li>Able to use FreeUKGen methodology</li>
<li>Spreadsheet for offline entry</li>
<li>Review files their co-ordinator has uploaded</li>
<li>Review and correct errors on-line</li>
<li>Review and add/change records on-line (This will not be an on-line transcription tool); enables a missed entry to be added or one changed if better understanding of the content has occurred</li>
<li>Transcriber registration process</li>
<li>On-line help and documentation</li>
<li>Front end processor of transcriptions</li>
<li>Close (freeze) FreeCEN1</li>
</ul>
<strong>Version 1.4</strong> Search Engine Enhancements (July 2016)
<div><strong><em>Targeted actors:</em>
</strong>Researchers</div>
<div><br /><div><em>Features</em>
</div>
<div><br /><ul><li>UCF Support in search engine</li>
<li>Add donation support suggestion to search results</li>
<li>Enhance adverts - responsive units - and placement / pages with advertisements</li>
<li>Better support to smart phones</li>
<li>Researchers can register for free to get access to extra facilities.</li>
<li>Saved Search feature are accessible to registered users.</li>
<li>Wild card support in search engine</li>
<li>Double barrelled surnames</li>
<li>Add processing indicator to inform user that search is proceeding</li>
<li>Avoid gateway time-out</li>
<li>Soundex can be applied to either first, last, or both names</li>
<li>Enhanced tips and documentation</li>
<li>Transfer main url to FreeCEN2</li>
</ul>
<p><strong>Version 1.5</strong> Coordinator Enhancements (September 2016)</p>
<p><strong><em>Targeted actors:</em>
</strong> Coords</p>
<p><em>Features</em>
</p>
<ul><li>GAP a system to indicate Gaps in Census information.</li>
<li>Error and usage reports</li>
<li>Enhanced and consistent validation</li>
<li>CAP (a system to manage work in progress and available for transcription) — if not at online transcription at this point</li>
<li>Integrate Image Server</li>
<li>All images to match Census records.</li>
<li>Transcribers to select from CAP and get permission from Coords.</li>
<li>Upload images into FC2.</li>
<li>Coords can customise the CAP and RAP.</li>
</ul>
<strong>Version 1.6 </strong>Transcriber Enhancements (November 2016)<p><strong><em>Targeted actors:</em>
</strong> Transcribers</p>
<p><em>Features</em>
</p>
<ul><li>Emailing of Coords, checkers and Transcribers.</li>
<li>Mail-groups.</li>
<li>Image management for work flow management</li>
</ul>
<strong>Version 1.7 </strong>Researcher Enhancements (January 2017)<p><strong><em>Targeted actors:&#160;</em>
</strong>Researchers</p>
<p><em>Features</em>
</p>
<ul><li>GAP integrated with DAP</li>
</ul>
<ul><li>Provide database statistics</li>
</ul>
<ul><li>Researchers can subscribe to receive emails when census returns change.</li>
</ul>
<ul><li>Researchers can leave bouquets</li>
</ul>
<ul><li>Non-individual search pathways defined and implemented (e.g. search for all Boot-makers in Bradford in 1861, or all blind people in Bolton in 1891)</li>
</ul>
<ul><li>Provide alternate text searching for non-individual pathways (e.g. ‘labourer’ finds ‘ag lab’)</li>
</ul>
<ul><li>Mouse-over alt text and/or hyperlinking of more obscure contractions (e.g. Chapman codes)</li>
</ul>
<em>Features to be included but have yet to be scheduled</em>
</div>
<p>Link for researchers from FreeCEN1 to FreeCEN2 (flagged as ‘experimental’).</p>
<p><em>Features for FreeUKGen Integration Project</em>
</p>
<ul><li>Integrate searches with FreeREG and FreeBMD (including harmonising MPN)</li>
<li>Researchers can record where they have seen entries in the other projects.</li>
<li>Online transcription</li>
</ul>
</div>
</div>