<h1>Uploading files to the Image Server</h1>

<style scoped="scoped">
  .site img { border: 1px solid #895f49; width: 100%; height: auto; max-width: 1000px; }
  .site figcaption { font-style: italic; color: #895f49; }
  .site img.narrow { max-width: 291px; }
  .site img.larger { width: 1000px; }
</style>

<div class="grid">
  <aside class="grid__item one-third palm-one-whole float--right">
    <div class="islet islet--bordered">
      <h2 class="title-block">On this page</h2>
      <ul class="sub-nav">
         <li><a href="#prep">Essential preparation</a> </li>
         <li><a href="#upload">The uploading</a> </li>
         <li><a href="#review">Reviewing what is on the IS</a> </li>
      </ul>
    </div>
    <div class="islet islet--bordered">
      <h2 class="title-block">Coordinator Help</h2>
      <ul class="sub-nav">
        <li><a href="/information-for-coordinators">Information for Coordinators</a> </li>
        <li><a href="/information-for-coordinators/coordinator-actions">Coordinator actions</a> </li>
        <li><a href="/information-for-coordinators/the-image-server">The image server</a> </li>
        <li class="active"><a href="/information-for-coordinators/the-image-server/uploading-files-to-the-image-server" title="This page">Uploading files to the Image Server</a> </li>
        <li><a href="/information-for-coordinators/behind-the-scenes">Behind the scenes</a> </li>
        <li><a href="/information-for-coordinators/the-embargo-system">Embargo system</a> </li>
      </ul>
    </div>
  </aside>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="lead">This page has the information you need for uploading files to the Image Server. Your files can be in almost any format.</p>
    <p>We suggest that you become familiar with the basic tasks and Image Server (IS) Actions, on <a>The Image Server</a> page before uploading any image files for your county. If this is not possible for you, the tasks here will soon become familiar — the step-by-step instructions and screen-shots below will guide through the essential preparation and the actual uploading.</p>
    <p>Work at your own pace, of course — we know there are many demands on your time — but please make a start. (If you run into problems that you can’t sort out yourself, you know who to contact!)</p>

    <h2 id="prep">Essential preparation</h2>
    <p class="push-half--bottom">Some things must be done before you can upload any Images for a Register. Find your starting point in the list below and follow the link given, then continue with the remaining steps.</p>
    <ul>
      <li>Do the Place, Church and Register exist for your new Images? If not, create them first, in the usual way.</li>
      <li>Are there images for that Register on the IS already? If yes, start by checking that you have <a href="#sourceInfo">entered all the Image Source information</a> that you have. If not, then start by <a href="#createLink">creating the link between the Register and the IS</a>.</li>
      <li>In all cases, keep following the remaining steps, to the end of the preparation.</li>
    </ul>

    <h3 id="createLink">Create an IS link for your Register</h3>
    <p>As CC, use your Place Actions to navigate through the Place and Church, down to the Register that you wish to associate with the Image Server.</p>
    <p>You should see a <q>Create Image Server</q> button, as in figure 1 — if the button is not there, the Register is already linked to the IS and you should be able to see something like the screen in <a href="#fig03">figure 3</a>.</p>
  </div>

  <div class="grid__item one-whole">
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMTkvMDcvMTcvN2tlODA0dDByMl9jcmVhdGVfaW1hZ2Vfc2VydmVyLnBuZyJdXQ/create-image-server.png?sha=6e81f6da5cf62ae1" title="Create IS" alt="Create IS" data-rel="225x255" width="1600" height="900" />
      <figcaption>Fig. 1 — the <q>Create Image Server</q> button</figcaption>
    </figure>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p>Click on that button. The system will create the linkage and the appropriate folder on the Image Server (see figure 2, below). Notice the success message and that the <q>Create Image Server</q> button has disappeared.</p>
  </div>

  <div class="grid__item one-whole">
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMTkvMDcvMTcvNzZpNTVyYWc4eV9pbWFnZV9zb3VyY2VfY3JlYXRlZC5wbmciXV0/image-source-created.png?sha=3fbf9e95b565d805" title="IS link created" alt="IS link created" data-rel="225x255" width="1600" height="900" />
      <figcaption>Fig. 2 — IS link created</figcaption>
    </figure>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">

    <h3 id="sourceInfo">Enter Image Source information</h3>
    <p>Now go back to your Actions and select the <q>Manage Images</q> action. You should see an Image Server link for the Register that you just created.</p>
  </div>

  <div class="grid__item one-whole">
    <figure id="fig03" class="site">
      <img src="/system/images/W1siZiIsIjIwMTkvMDcvMTcvOGpyajNtdzBvaV9hbGxfaW1hZ2Vfc291cmNlcy5wbmciXV0/all-image-sources.png?sha=911909cf9c7aa168" title="all Image Sources" alt="all Image Sources" data-rel="225x255" width="1600" height="900" />
      <figcaption>Fig. 3 — all Sources</figcaption>
    </figure>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p>If you select the <q>Image Server</q> link for the register (not the <q>Access Image Server Directly</q> button) you will get a screen of basic information about the Source of these Images — it will be blank for a new Source.</p>
    <p>Select <q>Edit Image Source</q> and enter the information about this specific source including the start and end dates. If this is a new Register but there are already other Registers with the same information (except dates), you can go to one of those Registers and propagate (cascade) the information to this new one.</p>
  </div>

  <div class="grid__item one-whole">
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMTkvMDcvMTcvNzdiOHEycHFlcl9pbWFnZV9zZXJ2ZXJfc291cmNlLnBuZyJdXQ/image-server-source.png?sha=bec25d90d89692c9" title="the IS Source" alt="the IS Source" data-rel="225x255" width="1600" height="900" />
      <figcaption>Fig. 4 — the <q>Image Server</q> source</figcaption>
    </figure>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <h3>Create Image Group</h3>

    <p>Now select the <q>List Image Groups</q> button to get a list of the Image Groups — there will be none on a new register! So, select the <q>Create Image Server Group</q> button and enter the appropriate information. Note that the years have to be within the range of years in the Image Source.</p>
    <p>Each Image Group will eventually be a set of images that will be Assigned to a transcriber. So it is best to create a number of smaller groups. And it is best that the Image Group name means something so that you know what is in that group. Something like <strong>NFK-Anmer-PR-BA-1813-1900</strong> would be informative. Then, the transcriber could create a folder on their computer with this name to hold the images that they download for transcribing. This would keep each batch of work separate and easily recognizable. This naming style is not mandatory and any unique Image Group name will do — the style of the example is just our recommendation.</p>
  </div>

  <div class="grid__item one-whole">
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMTkvMDcvMTcvMTRueTYzb3U3Zl9jcmVhdGVfaW1hZ2VfZ3JvdXAucG5nIl1d/create-image-group.png?sha=47b4e6e49d44580c" title="Create Image Group" alt="Create Image Group" data-rel="225x255" width="1237" height="691" />
      <figcaption>Fig. 5 — Create Image Group</figcaption>
    </figure>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p>Do this for all the Image Groups that you wish to create.</p>
  </div>

  <div class="grid__item one-whole">
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMTkvMDcvMTcvNXU1bGhmMmtvbF9pbWFnZV9ncm91cHMucG5nIl1d/image-groups.png?sha=86c710f26c0c6db8" title="Image Groups" alt="Image Groups" data-rel="225x255" width="1223" height="534" />
      <figcaption>Fig. 6 — the Image groups for a Register</figcaption>
    </figure>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <h3>Prepare the filenames for your Images</h3>
    <p>We often receive images that have filenames such as <em>1.jpg</em> — these can easily cause confusion when a transcriber downloads them to work on them. Also, the server puts all Images into the folder it has created for the Image Source, therefore it is necessary for the Images to have unique names. So, it is best to change the names to something meaningful before uploading. In this way, when they are downloaded, they will still be identifiable.</p>

    <p class="push-half--bottom">We recommend the format <strong>AAABBBCCDNNN.fff</strong>, where:-</p>
    <ul>
      <li>AAA is the Chapman code</li>
      <li>BBB is the Place/Church code to be used in the transcription batch filename</li>
      <li>CC is the Record type</li>
      <li>D is the Group sequence number, increasing for each fiche perhaps</li>
      <li>NNN is the sequence number</li>
      <li>fff is file extension (jpg or pdf, for instance)</li>
    </ul>
    <p>For example — <em>SSXALBBA3001.jpg</em> where the 3 is, say, the third range of years and all Images would be within the Image Group for Albourne PR named SSX-Albourne-BA-1813-1900-226-1-2-1</p>

    <p>To change your filenames, there are some free bulk renaming programs: one such is —
<a href="http://www.bulkrenameutility.co.uk/Main_Intro.php">BulkRenameUtility</a> (Windows only). For Mac users, Finder can rename sets of files.</p>

    <p>Using this format for your image filenames is not essential for the operation of the system — however, the filenames do have to be unique within a Source, not just within an Image Group. If the transcriber saves the Images to their computer, they should be able to identify the Image Group to which they belong.</p>
    <hr class="rule" />

    <h2>Uploading images</h2>
    <h3 id="upload">The uploading</h3>
    <p>Now select the <q>SH</q> (show) button for the Imager Server Group for which you want to upload images.
On this display, select the <q>Upload Images</q> button:</p>
  </div>

  <div class="grid__item one-whole">
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMTkvMDcvMTcvMmRobGVmazRqeF9pbWFnZV9ncm91cF91cGxvYWRfaW1hZ2VzLnBuZyJdXQ/image-group-upload-images.png?sha=28e1ffaa789f913c" title="Image Group upload Images" alt="Image Group upload Images" data-rel="225x255" width="1057" height="853" />
      <figcaption>Fig. 7 — the <q>Upload Images</q> button</figcaption>
    </figure>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p>This will take you to the Image Server. Please note that the displays from the Image Server are quite simple, without a great deal of formatting and without the standard FreeREG layout.</p>
  </div>

  <div class="grid__item one-whole">
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMTkvMDcvMTcvNDF3NHlxc2V3X2Nob29zZV9maWxlc190b191cGxvYWQucG5nIl1d/choose-files-to-upload.png?sha=a6401a2b3bbcdf1f" title="Choose files" alt="Choose files" data-rel="225x255" width="1600" height="346" />
      <figcaption>Fig. 8 — the <q>Choose Files</q> button</figcaption>
    </figure>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p>Now select the <q>Choose Files</q> button. A pop-up selection box will appear, like the one you see for uploading batches. It allows you to select the images <em>on your computer</em>, so you must first navigate to where they are.</p>

  </div>

  <div class="grid__item one-whole">
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMTkvMDcvMTcvN2sweTltazcxcF9zZWxlY3RfbXVsdGlwbGVfaW1hZ2VzLnBuZyJdXQ/select-multiple-images.png?sha=00fa87e722e0b4b6" title="Select multiple Images" alt="Select multiple Images" data-rel="225x255" width="1600" height="900" />
      <figcaption>Fig. 9 — selecting multiple Images</figcaption>
    </figure>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p>Now this display is a little different in that you can select <em>multiple</em> images for uploading. Use the shift key to select a range of images, or use ctrl (Windows, cmd on a Mac) to select individual images. There is a limit of 1,800 for all the characters in the filename that you have selected, so it is better to upload files in smaller batches. This is also good practice if you do not have a fast internet connection. The server will warn you if you have chosen too many filenames and will ask you to choose a smaller number, so you don’t have to count the characters.</p>

    <p>You may upload almost any type of file. However remember that the transcriber will need to have the appropriate application to open that file on their device. So you are encouraged to restrict your file types to the common ones: jpg, tiff, txt and pdf.</p>
    <p>When you select the <q>Upload</q> button, it changes shape to a circle, letting you know that the upload is underway. The status of the upload is usually shown by browsers, often in the bottom left of the window.</p>
  </div>
  <div class="grid__item one-whole">
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMTkvMDcvMTcvNm4xc2RzMWc0Ml91cGxvYWRfcHJvZ3Jlc3MucG5nIl1d/upload-progress.png?sha=fe1438170df57770" title="Upload progress" alt="Upload progress" data-rel="225x255" width="1600" height="885" />
      <figcaption>Fig. 10 — upload progress</figcaption>
    </figure>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p>On completion you will return to the page from which you requested the upload which will contain a list of images that were uploaded.</p>
  </div>

  <div class="grid__item one-whole">
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMTkvMDcvMTcvNzNrMXV4anU3NV9saXN0X29mX2ltYWdlcy5wbmciXV0/list-of-images.png?sha=c295d164b3c740c3" title="List of Images" alt="List of Images" data-rel="225x255" width="1600" height="900" />
      <figcaption>Fig. 11 — list of files uploaded</figcaption>
    </figure>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">

    <h3 id="review">Reviewing what is on the Image Server</h3>
    <p>As CC, you can review what is on the Image Server for your county directly: from the Manage Images display select the <q>Access the Image Server Directly</q> Action button.</p>
  </div>

  <div class="grid__item one-whole">
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMTkvMDcvMTcvNTF2cXhxdGZ2NF9hY2Nlc3NfaXNfZGlyZWN0bHkucG5nIl1d/access-is-directly.png?sha=c02c8680daf42bcd" title="Access IS directly" alt="Access IS directly" data-rel="225x255" width="1600" height="900" />
      <figcaption>Fig. 12 — the <q>Access Image Server Directly</q> button</figcaption>
    </figure>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p>This opens a new tab <em>without</em> the usual FreeREG formatting. The display lists the Registers that have Images.</p>
  </div>

  <div class="grid__item one-whole">
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMTkvMDcvMTcvNHJvbWtyNzQ3ZF9yZWdpc3RlcnNfd2l0aF9pbWFnZXMucG5nIl1d/registers-with-images.png?sha=f1f73455b3ae4f99" title="Registers with Images" alt="Registers with Images" data-rel="225x255" width="842" height="474" />
      <figcaption>Fig. 13 — Registers with Images</figcaption>
    </figure>
  </div>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p>If you select a specific <q>Show Images</q> button, you will see a listing of all Images that are there. You can view and or download a specific image.</p>

    <p>Please note that if your browser can’t display the image file, it will simply download it for you.</p>
  </div>

  <div class="grid__item one-whole">
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMTkvMDcvMTcvMmU0YmJqdXpraF9pbWFnZXNfZm9yX3JlZ2lzdGVyLmpwZyJdXQ/images-for-register.jpg?sha=17581acb71371164" title="Images for Register" alt="Images for Register" data-rel="225x255" width="1920" height="1080" />
      <figcaption>Fig. 14 — Images for a Register</figcaption>
    </figure>
  </div>

</div>