.bmd_search_form {
  background: rgba(13, 195, 195, 0.05);
  margin: 0 !important;
  padding: 20px !important;
}

.search_form li {
  margin-bottom: 25px;
}

input {
  padding: 10px !important;
  margin-bottom: 5px !important;
}

label {
  font-size: 1.15em !important;
}

label.optional_attributes {
  font-weight: 200;
  vertical-align: bottom;
}

input[type="checkbox"] {
  width: 17px;
  height: 17px;
  border: 1px solid gray !important;
  vertical-align: bottom;
  outline: 0;
}

*:focus {
    outline: none;
}

select#date_month, select#date_year {
    display: inline-block;
    padding: 10px;
    background: none;
    border: 1px solid #ccc;
    color: black;
}

span.optional_checkbox_label {
  font-size: 0.8em;
  vertical-align: bottom;
}

.stack_fields label {
  margin-bottom: -10px;
}

.header_label {
  border-bottom: 1px solid gray;
  margin-bottom: 2px !important;
  width: 50%;
}

i {
  cursor: help;
  padding: 0 2px;
  color: #a1185a;
  font-size: 0.8em !important;
}

input.search_form_submit_button {
  background-color: #a1185a;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  padding: 20px;
  width: 100px;
  border: none !important;
}

.grid.action {
    text-align: right;
}

.clear_form {
  margin-right: 30px;
}

select[multiple]:focus option:checked {
  background: #a1185a linear-gradient(0deg, #a1185a 0%, #a1185a 100%);
  color: white !important;;
}