/*------------------------------------*\
    $VARS
\*------------------------------------*/

/**
 * Override any of the Core or Inuit variables here
 */


$container-width:   1200px;

$brand-color:          $orange;
$brand-color-brighter: $orange-brighter;
$brand-color-lighter:  $orange-lighter;
