<h1>A basic Refinery page</h1>

<div class="grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="lead">This is a mock-up of a basic About, Help or Information page: other pages might require a modified layout.</p>
  </div>
  <aside class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <div class="islet islet--bordered">
      <h2 class="title-block" id="thisPage">On this page</h2>
      <ul class="sub-nav">
        <li><a href="#intro">Getting started</a> </li>
        <li><a href="#details">Details</a> </li>
        <li><a href="#whatNext">What next?</a> </li>
      </ul>
    </div>
    <div class="islet islet--bordered">
      <h2 class="title-block" id="elsewhere">Elsewhere</h2>
      <ul class="sub-nav">
        <li><a href="#actions">Action — noun and verb</a> </li>
        <li><a href="#moreActions">More actions</a> </li>
      </ul>
    </div>
  </aside>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <h2 id="intro">Getting started</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, …</p>

    <h2 id="details">Details</h2>
    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  Duis aute, …</p>

    <h2 id="whatNext">What next?</h2> 
    <p>Duis aute irure dolor in reprehenderit in voluptate velit, …</p>
  </div>
</div>