<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
  </div>
<% end %>
<div class="island text--center">
  <%= label_tag 'Make a selection' %>
  <%= select_tag('selection', options_for_select(@options), { 'onchange' => @location, size: 4, required: true, class: "simple_form_bgcolour text--center overide_selection_field_width" }) %>
</div>