<div class="island text--center">
  <%#= label_tag 'Select one or more districts' %>
  <%#= select_tag('selection', options_for_select(@options), { 'onchange' => @location, size: 4, required: true, class: "simple_form_bgcolour text--center overide_selection_field_width" }) %>
  <div class="grid">
    <div  class="grid__item two-thirds lap-one-half palm-one-whole">
      <form id="freebmd_district_select" action="/districts/select_district" accept-charset="UTF-8" method="get">
        <ol class="grid">
          <li class="grid__item one-whole push--bottom text--center" id="freebmd_district_select_input">
            <% options = District.districts_as_hash.sort %>
            <select class="select" id="id" name="id">
              <%= options_for_select(options) %>
            </select>
          </li>
          <li class="action button_action grid__item one-whole push--bottom text--center" id="freebmd_districts_submit_action"><button name="button" type="submit" class="ladda-button" data-style="contract" data-color="freereg" data-size="s" data-spinner-color="#ffffff">Select District</button></li>
        </ol>
      </form>
    </div>
    <div  class="grid__item two-thirds lap-one-half palm-one-whole">
      <form id="freebmd_district_match" action="/districts/districts_list" accept-charset="UTF-8" method="get">
        <ol class="grid">
          <li class="grid__item one-whole push--bottom text--center" id="freebmd_district_match_input">
            <input id="params" name="params"/>
          </li>
          <li class="action button_action grid__item one-whole push--bottom text--center" id="freebmd_district_match_submit_action"><button name="button" type="submit" class="ladda-button" data-style="contract" data-color="freereg" data-size="s" data-spinner-color="#ffffff">Find matching Districts</button></li>
        </ol>
      </form>
    </div>
  </div>
</div>