<style>
    ul { display:inline-flex; list-style:none; }
    li { float: left; margin:5px 5px; padding:0; }
</style>
<%
  if @name_type == "0"
    nametypestring = "SURNAMES"
  else
    nametypestring = "FORENAMES"
  end
%>
<div class="grid">
  <section class="island ">
    <div >
    	<h3 class=" text--center"><%= "#{@record_type.upcase} #{nametypestring}" %></h3>
      <p class=" text--center">You may find it useful to use your browser find option to search for critical parts of names</p>
      <div>
        <% ("A".."Z").each do |letter| %>
        <% unless @unique_names[letter].blank? %>
          <h4><%= nametypestring.capitalize+" beginning with "+letter%></h4>
          <ul>
            <% @unique_names[letter].each do |name| %>
              <li><%= name %></li>
            <% end%>
          </ul>
          <% end %>
        <% end%>
        <% if @remainders.present? %>
          <h4>Additional Names</h4>
          <ul>
            <% @remainders.each do |name| %>
              <li><%= name %></li>
            <% end%>
          </ul>
        <% end %>
      </p>
    </div>
  </section>
</div>