<h1 class="title text--center">Counties and Registration Districts</h1>
<h2 class="accessibility">Database contents</h2>
<p>These pages contain information about each County and Registration District in the database, showing the duration of each District,
  and the county/ies within which it fell. There is everything from detailed
  county and district listings right down to how many records the database holds for every year for an individual registration district.</p>
<script
  src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
  integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
  crossorigin="anonymous"></script>

<div class="grid">
  <div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <nav aria-labelledby="contentsMenu">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="contentsMenu">On this page</h2>
        <ul class="sub-nav">
          <li>
            <a href="#counties">Select a County</a> </li>
          <li>
            <a href="#districts">Select a District</a> </li>
          <li>
            <a href="#years">Select a Year</a> </li>
        </ul>
      </div>
    </nav>
  </div>

  <%= render(partial: 'select_a_county') %>
  <div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <div class="island island--bordered">
      <h2 class="delta push-half--bottom">Yesterday by numbers</h2>
      <p>(Some stats go here.)</p>
    </div>
  </div>
    <%= render(partial: 'select_districts') %>
    <%= render(partial: 'select_a_year') %>

      <script>

          $('#search_query_chapman_codes').autocomplete({
              source: function (request, response) {
                  $.ajax({
                      autoFocus: true,
                      url: "/search_queries/select_counties/", // should be with '/'
                      dataType: 'json',
                      data: { prefix: request.term },
                      success: function(data) {
                          // call response to return the result to autocomplete box
                          console.log(data);
                          response(data);
                      }
                  });
              },
              focus: function() {
                  // prevent value inserted on focus
                  return false;
              },
              select: function( event, ui ) {
                  var terms = split( this.value );
                  // remove the current input
                  terms.pop();
                  // add the selected item
                  terms.push( ui.item.value );
                  // add placeholder to get the comma-and-space at the end
                  terms.push( "" );
                  this.value = terms.join( ", " );
                  return false;
              }
          });
      </script>
</div>