<h2>Recent Changes</h2>
<p>Release Notes: 26 July 2023</p>
<ul>
  <li>FreeCENMigration#1547: Fix age errors.</li>
  <li>FreeCENMigration#1546: Amend ED Input mask</li>
  <li>Add publift adverts.</li>
</ul>