<h2>Recent Changes</h2>
<p>Release Notes: 13 August 2024</p>
<ul>
  <li>FreeREG#250: Review links in Footer</li>
  <li>FreeREG#294: Update Members Page on FreeREG</li>
</ul>

<p>Release Notes: 15 March 2024</p>
<ul>
  <li>MyopicVicar#2699: Volunteer Handbook updated</li>
  <li>MyopicVicar#1501: Fix CSS at 571px</li>
  <li>MyopicVicar#2717: Improve edit user action for Volunteer Coordinator</li>
  <li>Add fieldset for Header advert</li>
</ul>
<p>Release Notes: 23 November 2023</p>
<ul>
  <li>Myopicvicar#1495: Fix sorting of Image Assignments</li>
</ul>
<p>Release Notes: 26 July 2023</p>
<ul>
  <li>Fix listing of archived contacts</li>
  <li>MyopicVicar#2566: Improve site statistics report </li>
</ul>
<p>Release Notes: 05 July 2023</p>
<ul>
  <li>MyopicVicar#2631: Added the 'Keep until I say so' button to the list level of Contacts actions.</li>
  <li>FreeUKRegProductIssues#1502: Updated Main help page - description of "Nearby Places". </li>
</ul>