<h2>Recent Changes</h2>
<p>Release Notes: 30 October 2024</p>
<ul>
  <li>FreeCENMigration#1815: Update VLD POB Validation process so that it handles files with no 'Individual' records</li>
  <li>FreeCENMigration#1454: Change the name of Report a Problem to Provide Feedback</li>
</ul>
<p> Release Notes: June 2024</p>
<ul>
  <li>FreeCENMigration#1566: New functionality that allows Data Manager to move search links (census place and POBs) for a place in the Gazetteer.</li>
  <li>FreeCENMigration#1785: Update of the validation process step 1.</li>
  <li>Fix Actions: Display Syndicate and county coordinators.</li>
</ul>
<p>Release Notes: 15 March 2024</p>
<ul>
  <li>FreeCENMigration#1695: Add Freecen2_place_id for Birth Place to Search records.</li>
</ul>
<p>Release Notes: 11 December 2023</p>
<ul>
  <li>FreeCENMigration#1587: Improves validation of vld collection.</li>
</ul>
<p>Release Notes: 26 July 2023</p>
<ul>
  <li>FreeCENMigration#1547: Fix age errors.</li>
  <li>FreeCENMigration#1546: Amend ED Input mask</li>
  <li>Add publift adverts.</li>
</ul>