<h2>Recent Changes</h2>
<p>Release Notes: 15 March 2024</p>
<ul>
  <li>FreeCENMigration#1695: Add Freecen2_place_id for Birth Place to Search records.</li>
</ul>
<p>Release Notes: 11 December 2023</p>
<ul>
  <li>FreeCENMigration#1587: Improves validation of vld collection.</li>
</ul>

<p>Release Notes: 26 July 2023</p>
<ul>
  <li>FreeCENMigration#1547: Fix age errors.</li>
  <li>FreeCENMigration#1546: Amend ED Input mask</li>
  <li>Add publift adverts.</li>
</ul>