<h2>Recent Changes</h2>
<p>Release Notes: 05 July 2023</p>
<ul>
  <li>MyopicVicar#2631: Added the 'Keep until I say so' button to the list level of Contacts actions.</li>
  <li>FreeUKRegProductIssues#1502: Updated Main help page - description of "Nearby Places". </li>
</ul>