<% title "Action Page" %>
<% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
    </div>
   <% end %> 
<% breadcrumb :root %>
<%= @page %> 

<%= render "resource_sidebar" %>