<div class="text--center">
<% if @message %>
    <div id="notice" style="color:red"  ><br>
   <%= @message%>  <br>
    </div>
   <% end %> 

<p style="text-align: center"><b>Thank you for working with <%= MyopicVicar::Application.config.freexxx_display_name %>. This session is now finished.</b> </p>

</div>