<% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
    </div>
   <% end %> 
   <b>Information for Members</b><br>

This is a notification message for FreeREG Members.<br>

This is part of FR2.1.0 the initial release of FreeREG2 to a select community.<br>

The database has been updated to reflect the F! file status of November 12, 2014.<br><br>

As part of your usage you may encounter issues of usability or just plan old bugs.<br>

If you so do then please click on the button near the bottom of each and every page "Report a Problem".
This will collect information on the page with which you were having an issue as well as additional information on what was happening. Add a descriptive title and any other additional information about what you were experiencing or wanted to experience in the comment box and attach a screen shot or any other relevant material if you wish. Submit the report by selecting the button at the bottom of the form and it will be submitted to the team for review and possible action.

<%= render "resource_sidebar" %>