<h1>DAP Place Index Text</h1>

<p>The Register can be: Parish Register; Archdeacon's Transcript; Bishop's Transcript; Transcript of the Parish Registers; Phillimore Transcript of a Parish Register; Selective Extract of the Parish Register; Dwelly's Transcript of a Parish register; Unspecified document that is most likely a Parish Register.</p>