<h1>Information for Members</h1>

<p><strong>ADVICE: We are sometimes asked to make certain links on Members pages open in a new tab or window.</strong> (Our practice is to do just that on public pages where a link leaves this website.) If you want any link to open in a new tab or window, then simply <strong>right-click</strong> (ctrl-click on a Mac) on the link (instead of just clicking) and select the option you want. Please note that not all buttons are able to do this.</p>