<h1>DRAFT - Districts in Counties (W-i-P)</h1>

  <p class="lead"> This page provides a mapping between the Registration Districts, used in the GRO Indexes, and the county names of England and Wales that FreeBMD uses as a means of narrowing down the number of ..... </p>

  <div class="grid">
     <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right">
        <div class="islet islet--bordered">
           <h2 class="title-block">On this page</h2>
           <ul class="sub-nav">
             <li> <a href="#AGY">Anglesey</a> </li>
             <li> <a href="#AVN">Avon</a> </li>
             <li> <a href="#BDF">Bedfordshire </a> </li>
             <li> <a href="#BRK">Berkshire</a> </li>
             <li> <a href="#BRE">Breconshire</a> </li>
             <li> <a href="#BKM">Buckinghamshire</a> </li>
             <li> <a href="#CAE">Caernarvonshire </a> </li>
             <li> <a href="#CAM">Cambridgeshire </a> </li>
             <li> <a href="#CGN">Cardiganshire </a> </li>
             <li> <a href="#CMN">Carmarthenshire </a> </li>
             <li> <a href="#CHS">Cheshire </a> </li>
             <li> <a href="#CLV">Cleveland </a> </li>
             <li> <a href="#CWD">Clwyd </a> </li>
             <li> <a href="#DUR">Co. Durham </a> </li>
             <li> <a href="#CON">Cornwall </a> </li>
             <li> <a href="#CUL">Cumberland </a> </li>
             <li> <a href="#CMA">Cumbria </a> </li>
             <li> <a href="#DEN">Denbighshire </a> </li>
             <li> <a href="#DBY">Derbyshire </a> </li>
             <li> <a href="#DEV">Devon</a> </li>
             <li> <a href="#DOR">Dorset</a> </li>
             <li> <a href="#DFD">Dyfed </a> </li>
             <li> <a href="#ERY">East Riding of Yorkshire </a> </li>
             <li> <a href="#SXE">East Sussex</a> </li>
             <li> <a href="#ESS">Essex</a> </li>
             <li> <a href="#FLN">Flintshire</a> </li>
             <li> <a href="#GLA">Glamorgan</a> </li>
             <li> <a href="#GLS">Gloucestershire</a> </li>
             <li> <a href="#GTL">Greater London</a> </li>
             <li> <a href="#GTM">Greater Manchester</a> </li>
             <li> <a href="#GNT">Gwent</a> </li>
             <li> <a href="#GWN">Gwynedd</a> </li>
    <li> <a href="#secondPart">And so on</a> </li>
        </ul>
      </div>
    </aside>
  <div class="grid__item three-fifths lap-one-half palm-one-whole">
 <h2> Using County Name as a search criteria</h2>
<mark> This section is being reworked - PC </mark>
  <p>Using one or more County Names as part of the search criteria when [using the FreeBMD search page to find  a specific event] [link=https://test3.freebmd.org.uk/search_queries/new?locale=en] enables you to narrow down the number of results. However, such a search is based on the use of counties used for registration purposes and these may not be the counties you expect. For example the county of <strong>London</strong> was only in use from 1889 to 1965, so searching for registrations outside these dates will not be successful. Equally, a county may not contain the districts you think it should.  </p>
  <p>Therefore, this page lists the districts that are considered to be in each county for the purposes of searching the FreeBMD database. Note: a district may appear in more than one county. </p>
 
  <p> You can find more [information on the counties listed on this page in Brett Langston's pages, on the UKBMD website] [link="https://www.ukbmd.org.uk/reg/index.html"]. </p>

  <h2> County Mappings </h2>
  <h3> Notes to Table </h3>
 <p>The <strong>Start</strong> and <strong>End</strong> columns give the quarters when a district started to be in use and when it finished. A blank value in the <strong>End</strong> column signifies that the district is still in use. Where <strong> <em>first/last</em> </strong> is shown against a county, the <strong>Start</strong> and <strong>End</strong> columns give the period when the county was in use, otherwise the county has been in use from the September quarter of 1837 till the present day. </p>
  <p>In some cases a district has been in use outside the dates when the county was in use and in this case the dates against the district are shown in <em>italics</em>. This can happen when a district was moved from one county to another because the county name changed.</p>
   
<td< td="">
</td<><table>
     <thead> 
         <tr>
            <th>County</th>
            <th>Registration Districts</th>
            <th>Start</th>
            <th>End</th>
         </tr>
         <tr><td colspan="4"><hr /></td> </tr>
      </thead>
      <tbody> 
        <tr>
           <td id="AGY"> <strong>Anglesey</strong> </td>
            <td><strong>Start/Finish</strong> </td>
            <td>Sep&#160;1837</td>
            <td>Mar&#160;1974</td>
        </tr>
        <tr> 
          <td></td>
          <td>Anglesey (1837-1937)</td>
          <td>Sep&#160;1837</td>
          <td>Mar&#160;1937</td>
        </tr>
        <tr>
           <td></td>
           <td>Anglesey (1968-1974)</td>
           <td>Jun&#160;1968</td>
           <td>Mar&#160;1974</td>
        </tr>
         <tr>
            <td></td>
            <td>Anglesey East</td>
            <td>Jun&#160;1937</td>
           <td>Mar&#160;1968</td>
         </tr>
          <tr>
            <td></td>
            <td>Anglesey West</td>
            <td>Jun&#160;1937</td>
            <td>Mar&#160;1968</td>
         </tr>
          <tr>
             <td></td>
             <td>Bangor</td>
             <td>Sep&#160;1837</td>
             <td>Mar&#160;1974</td>
          </tr>
          <tr>
              <td></td>
              <td>Carnarvon</td>
              <td>Sep&#160;1837</td>
              <td>Mar&#160;1937</td>
           </tr>
           <tr> 
               <td></td>
               <td>Holyhead</td>
               <td>Mar&#160;1885</td>
              <td>Mar&#160;1937</td>
             </tr>
          <tr><td colspan="4"><hr /></td>
         </tr>
     <tr>
     <td id="AVN"> <strong>Avon</strong> </td>
     <td><strong>Start/Finish</strong> </td>
     <td>Jun 1974</td>
     <td> — </td>
    </tr>
    <tr>
      <td></td>
      <td>Bath</td>
      <td>Jun&#160;1974</td>
      <td>Mar&#160;1996</td>
    </tr>
     <tr>
       <td></td>
       <td>Bristol</td>
       <td>Jun1974</td>
       <td> — </td>
   </tr>
   <tr>
       <td></td>
       <td>Sodbury (1937-1996)</td>
       <td>Jun&#160;1974</td>
      <td>Mar&#160;1996</td>
    </tr>
   <tr>
     <td></td>
     <td>Thornbury</td>
     <td>Jun&#160;1974</td>
     <td>Sep&#160;1981</td>
  </tr>
  <tr>
     <td></td>
     <td>Weston super Mare (1936-1996)</td>
     <td>Jun&#160;1974</td>
     <td>Mar&#160;1996</td>
  </tr>
  <tr>
     <td colspan="4"><hr /></td>
  </tr>
  <tr>
      <td id="BDF"> <strong>Bedfordshire</strong> </td>
      <td>Ampthill</td>
      <td>Sep&#160;1837</td>
      <td>Jun&#160;1999</td>
  </tr>
  <tr> 
    <td></td>
    <td>Bedford</td>
    <td>Sep&#160;1837</td>
    <td>Jun&#160;1999</td>
  </tr>
  <tr>
      <td></td>
     <td>Biggleswade</td>
    <td>Sep&#160;1837</td>   
    <td>Jun&#160;1999</td>
  </tr>
  <tr>
     <td></td>
    <td>Dunstable (1964-1999)</td>
    <td>Jun&#160;1964</td>
    <td>Jun&#160;1999</td>
  </tr>
  <tr>
     <td></td>
     <td>Hitchin</td>
     <td>Sep&#160;1837</td>
     <td>Mar&#160;1996</td>
  </tr>
   <tr>
      <td></td>
      <td>Leighton Buzzard</td>
      <td>Sep&#160;1837</td>
      <td>Jun&#160;1999</td>
  </tr>
  <tr>
      <td></td>
      <td>Luton</td>
      <td>Sep&#160;1837</td>
      <td> — </td>
   </tr>
  <tr>
     <td></td>
     <td>St Neots</td>
     <td>Sep&#160;1837</td>
     <td>Mar&#160;1970</td>
  </tr>
  <tr>
     <td></td>
     <td>Wellingborough</td>
     <td>Sep&#160;1837</td>
     <td>Sep&#160;2010</td>
  </tr>
  <tr>
      <td></td>
      <td>Woburn</td>
     <td>Sep&#160;1837</td>
     <td>Sep&#160;1899</td>
   </tr>
   <tr>
      <td colspan="4"><hr /></td>
   </tr>
    <tr>
       <td id="BRK"> <strong>Berkshire</strong> </td>
       <td>Abingdon</td>
       <td>Sep&#160;1837</td>
       <td>Sep&#160;2001</td>
    </tr>
    <tr>
       <td></td>
       <td>Basingstoke</td>
       <td>Sep 1837</td>
       <td>Dec 2000</td>
  </tr>
  <tr>
     <td></td>
     <td>Bracknell</td>
     <td>Jun 1974</td>
     <td>Mar 1998</td>
  </tr>
  <tr>
     <td></td>
     <td>Bradfield</td>
     <td>Sep 1837</td>
     <td>Mar 1937</td>
  </tr>
  <tr>
   <td></td>
  <td>Cookham</td>
  <td>Sep 1837</td>
  <td>Mar 1896</td>
  </tr>
  <tr>
  <td></td>
  <td>Easthampstead (1837-1937)</td>
  <td>Sep 1837</td>
  <td>Mar 1937</td>
  </tr>
  <tr><td></td>
  <td>Easthampstead (1967-74)</td>
  <td>Jun 1967</td>
  <td>Mar 1974</td>
  </tr>
  <tr><td></td>
  <td>Faringdon</td>
  <td>Sep 1837</td>
  <td>Mar 1937</td>
  </tr>
   <tr><td></td>
   <td>Henley</td>
   <td>Sep 1837</td>
   <td>Sep 2001</td>
   </tr>
  <tr><td></td>
  <td>Highworth</td>
  <td>Sep 1837</td>
  <td>Mar 1899</td>
  </tr>
  <tr>
<td></td>
<td>Hungerford</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Maidenhead</td>
<td>Jun 1896</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Newbury</td>
<td>Sep 1837</td>
<td>Mar 1998</td>
</tr>
<tr>
<td></td>
<td>Oxford</td>
<td>Sep 1837</td>
<td>Sep 2001</td>
</tr>
<tr>
<td></td>
<td>Reading &amp; Wokingham</td>
<td>Jun 1974</td>
<td>Mar 1998</td>
</tr>
<tr>
<td></td>
<td>Reading (1837-1974)</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Slough</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Stow on the Wold</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Wallingford</td>
<td>Sep&#160;1837</td>
<td>Sep&#160;2001</td>
</tr>
<tr>
<td></td>
<td>Wantage</td>
<td>Sep&#160;1837</td>
<td>Sep&#160;2001</td>
</tr>
<tr>
<td></td>
<td>Windsor</td>
<td>Sep&#160;1837</td>
<td>Mar&#160;1974</td>
   </tr>
   <tr>
<td></td>
<td>Windsor &amp; Maidenhead</td>
<td>Jun1974</td>
<td>&#160;</td>
   </tr>
   <tr>
<td></td>
<td>Witney</td>
<td>Sep1837</td>
<td>Mar1982</td>
</tr>
<tr>
<td></td>
<td>Wokingham</td>
<td>Sep1837</td>
<td>Mar1974</td>
</tr>
<tr><td colspan="4"><hr /></td>
</tr>
<tr> <td id="BRE"> <strong>Breconshire</strong> </td>
<td><strong>Start/Finish</strong> </td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Bedwellty</td>
<td>Sep 1861</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Brecknock</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Builth</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Crickhowell</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td>;</td>
<td>Hay</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Llandovery</td>
<td>Sep 1837</td>
<td>Jun 1935</td>
</tr>
<tr>
<td></td>
<td>Merthyr Tydfil</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Neath (1837-1970)</td>
<td>Sep 1837</td>
<td>Sep 1970</td>
</tr>
<tr>
<td>;</td>
<td>Pontardawe</td>
<td>Sep 1875</td>
<td>Dec 1934</td>
</tr>
<tr>
<td></td>
<td>Rhayader</td>
<td>Sep 1837</td>
<td>Mar 1933</td>
</tr>
<tr>
<td></td>
<td>Vaynor</td>
<td>Dec 1934</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Ystradgynlais</td>
<td>Dec 1934</td>
<td>Mar 1974</td>
</tr>
<tr><td colspan="6"><hr /></td>
</tr>
<tr>
<td id="BKM"> <strong>Buckinghamshire</strong> </td>
<td>Amersham</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Aylesbury</td>
<td>Sep 1837</td>
<td>Mar 1985</td>
</tr>
<tr>
<td></td>
<td>Aylesbury Vale</td>
<td>Jun 1985</td>
<td>Jun 2007</td>
</tr>
<tr>
<td></td>
<td>Berkhampstead (1837-1939)</td>
<td>Sep 1837</td>
<td>Sep 1939</td>
</tr>
<tr>
<td></td>
<td>Bicester</td>
<td>Sep 1837</td>
<td>Sep 1932</td>
</tr>
<tr>
<td></td>
<td>Brackley</td>
<td>Sep 1837</td>
<td>Sep 2001</td>
</tr>
<tr>
<td></td>
<td>Buckingham</td>
<td>Sep 1837</td>
<td>Mar 1935</td>
</tr>
<tr>
<td></td>
<td>Chiltern &amp; Beaconsfield</td>
<td>Jun 1974</td>
<td>Jun 1988</td>
</tr>
<tr>
<td></td>
<td>Chiltern &amp; South Bucks</td>
<td>Jun 1988</td>
<td>Dec 1998</td>
</tr>
<tr>
<td></td>
<td>Eton</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Headington</td>
<td>Sep 1837</td>
<td>Dec 1932</td>
</tr>
<tr>
<td></td>
<td>Henley</td>
<td>Sep 1837</td>
<td>Sep 2001</td>
</tr>
<tr>
<td></td>
<td>Leighton Buzzard</td>
<td>Sep 1837</td>
<td>Jun 1999</td>
</tr>
<tr>
<td></td>
<td>Milton Keynes</td>
<td>Jun 1985</td>
<td>  —  </td>
</tr>
<tr>
<td></td>
<td>Newport Pagnell</td>
<td>Sep 1837</td>
<td>Mar 1935</td>
</tr>
<tr>
<td></td>
<td>North Bucks</td>
<td>Jun 1935</td>
<td>Mar 1985</td>
</tr>
<tr>
<td></td>
<td>Potterspury</td>
<td>Sep 1837</td>
<td>Mar 1935</td>
</tr>
<tr>
<td></td>
<td>Thame</td>
<td>Sep 1837</td>
<td>Sep 1932</td>
</tr>
<tr>
<td></td>
<td>Winslow</td>
<td>Sep 1837</td>
<td>Mar 1935</td>
</tr>
<tr>
<td></td>
<td>Wycombe</td>
<td>Sep 1837</td>
<td>Dec 1998</td>
</tr>
<tr><td colspan="4"><hr /></td>
</tr>
</tbody>
<tbody>
<tr>
<td id="CAE"> <strong>Caernarvonshire </strong> </td>
<td><strong>Start/Finish</strong>
</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Bangor</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Caernarvon (1937-1974)</td>
<td>Jun 1937</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Carnarvon</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Conway (to 1937)</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Conway Valley</td>
<td>Jun 1937</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Ffestiniog</td>
<td>Sep 1837</td>
<td>Sep 1935</td>
</tr>
<tr>
<td></td>
<td>Llanrwst</td>
<td>Sep 1837</td>
<td>Sep 1935</td>
</tr>
<tr>
<td></td>
<td>Pwllheli &amp; Portmadoc</td>
<td>Jun 1937</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Pwllheli (to 1937)</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td colspan="4"><hr /></td>
</tr>
<tr>
<td id="CAM"> <strong>Cambridgeshire </strong> </td>
<td>Cambridge (1837-1935)</td>
<td>Sep 1837</td>
<td>Mar 1935</td>
</tr>
<tr>
<td></td>
<td>Cambridge (1974 onw)</td>
<td>Jun 1974</td>
<td>Sep 2007</td>
</tr>
<tr>
<td></td>
<td>Cambridgeshire (1935-1974)</td>
<td>Jun 1935</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Caxton</td>
<td>Sep 1837</td>
<td>Mar 1935</td>
</tr>
<tr>
<td></td>
<td>Chesterton</td>
<td>Sep 1837</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Downham</td>
<td>Sep 1837</td>
<td></td>
</tr>
<tr>
<td></td>
<td>Ely</td>
<td>Sep 1837</td>
<td>Sep 2007</td>
</tr>
<tr>
<td></td>
<td>Fenland</td>
<td>Sep 1980</td>
<td>Sep 2007</td>
</tr>
<tr>
<td></td>
<td>Huntingdon</td>
<td>Sep 1837</td>
<td>Sep 2007</td>
</tr>
<tr>
<td></td>
<td>Linton</td>
<td>Sep 1837</td>
<td>Mar 1935</td>
</tr>
<tr>
<td></td>
<td>March</td>
<td>Jun 1938</td>
<td>Jun 1980</td>
</tr>
<tr>
<td></td>
<td>Newmarket (to 1938)</td>
<td>Sep 1837</td>
<td>Jun 1938</td>
</tr>
<tr>
<td></td>
<td>North Witchford</td>
<td>Sep 1837</td>
<td>Mar 1938</td>
</tr>
<tr>
<td></td>
<td>Peterborough</td>
<td>Sep 1837</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Risbridge</td>
<td>Sep 1837</td>
<td>Jun 1938</td>
</tr>
<tr>
<td></td>
<td>Royston</td>
<td>Sep 1837</td>
<td>Sep 1939</td>
</tr>
<tr>
<td></td>
<td>St Ives</td>
<td>Sep 1837</td>
<td>Dec 1967</td>
</tr>
<tr>
<td></td>
<td>St Neots</td>
<td>Sep 1837</td>
<td>Mar 1970</td>
</tr>
<tr>
<td></td>
<td>Whittlesey</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Wisbech</td>
<td>Sep 1837</td>
<td>Jun 1980</td>
</tr>
<tr>
<td colspan="4"><hr />
</td>
</tr>
<tr>
<td id="CGN"> <strong>Cardiganshire </strong> </td>
<td><strong>Start/Finish</strong> </td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Aberayron</td>
<td>Sep 1837</td>
<td>Jun 1936</td>
</tr>
<tr>
<td></td>
<td>Aberystwyth</td>
<td>Sep 1837</td>
<td>Jun 1936</td>
</tr>
<tr>
<td></td>
<td>Cardigan</td>
<td>Sep 1837</td>
<td>Jun 1936</td>
</tr>
<tr>
<td></td>
<td>Cardiganshire Central</td>
<td>Sep 1936</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Cardiganshire North</td>
<td>Sep 1936</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Cardiganshire South</td>
<td>Sep 1936</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Lampeter</td>
<td>Sep 1837</td>
<td>Jun 1936</td>
</tr>
<tr>
<td></td>
<td>Machynlleth</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Newcastle in Emlyn</td>
<td>Sep 1837</td>
<td>Jun 1936</td>
</tr>
<tr>
<td></td>
<td>Tregaron</td>
<td>Sep 1837</td>
<td>Jun 1936</td>
</tr>
<tr>
<td colspan="4"><hr /></td> </tr>
<tr>
<td id="CMN"> <strong>Carmarthenshire </strong> </td>
<td><strong>Start/Finish</strong> </td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Carmarthen</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Lampeter</td>
<td>Sep 1837</td>
<td>Jun 1936</td>
</tr>
<tr>
<td></td>
<td>Llandilofawr</td>
<td>Sep 1837</td>
<td>Jun 1935</td>
</tr>
<tr>
<td></td>
<td>Llandovery</td>
<td>Sep 1837</td>
<td>Jun 1935</td>
</tr>
<tr>
<td></td>
<td>Llanelly (to 1974)</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Narberth</td>
<td>Sep 1837</td>
<td>Mar 1973</td>
</tr>
<tr>
<td></td>
<td>Newcastle in Emlyn</td>
<td>Sep 1837</td>
<td>Jun 1936</td>
</tr>
<tr>
<td colspan="4"><hr /></td>
</tr>
<tr>
<td id="CHS"> <strong> Cheshire </strong> </td>
<td>Altrincham</td>
<td>Sep 1837</td>
<td>Sep 1898</td>
</tr>
<tr>
<td></td>
<td>Ashton &amp; Oldham (1837-48)</td>
<td>Sep 1837</td>
<td>Mar 1848</td>
</tr>
<tr>
<td></td>
<td>Ashton under Lyne (1848-1937)</td>
<td>Jun 1848</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Birkenhead (1861-1998)</td>
<td>Sep 1861</td>
<td>Mar 1998</td>
</tr>
<tr>
<td></td>
<td>Bucklow</td>
<td>Dec 1898</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Chester</td>
<td>Mar 1870</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Chester &amp; Ellesmere Port</td>
<td>Jun 1974</td>
<td>Mar 1998</td>
</tr>
<tr>
<td></td>
<td>Congleton</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Congleton &amp; Crewe</td>
<td>Jun 1974</td>
<td>Jun 1991</td>
</tr>
<tr>
<td></td>
<td>Crewe (1937-1974)</td>
<td>Jun 1937</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Great Boughton</td>
<td>Sep 1837</td>
<td>Dec 1869</td>
</tr>
<tr>
<td></td>
<td>Halton</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Hayfield</td>
<td>Mar 1838</td>
<td>Mar 1938</td>
</tr>
<tr>
<td></td>
<td>High Peak (1837 only)</td>
<td>Sep 1837</td>
<td>Dec 1837</td>
</tr>
<tr>
<td></td>
<td>Hyde (1937-1974)</td>
<td>Jun 1937</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Macclesfield</td>
<td>Sep 1837</td>
<td>Mar 1998</td>
</tr>
<tr>
<td></td>
<td>Market Drayton</td>
<td>Sep 1837</td>
<td>Sep 1935</td>
</tr>
<tr>
<td></td>
<td>Nantwich</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>North East Cheshire</td>
<td>Jun 1937</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Northwich</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Runcorn</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>South Cheshire</td>
<td>Sep 1991</td>
<td>Mar 1998</td>
</tr>
<tr>
<td></td>
<td>Stockport</td>
<td>Sep 1837</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Vale Royal</td>
<td>Jun 1974</td>
<td>Mar 1998</td>
</tr>
<tr>
<td></td>
<td>Wallasey</td>
<td>Mar 1936</td>
<td>Mar 1998</td>
</tr>
<tr>
<td></td>
<td>Warrington</td>
<td>Sep 1837</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>West Cheshire</td>
<td>Jun 1937</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Whitchurch S (1853-1969)</td>
<td>Sep 1853</td>
<td>Dec 1969</td>
</tr>
<tr>
<td></td>
<td>Wirral (1837-1974)</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Wrexham (1837-1974)</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td colspan="4"><hr /></td>
</tr>
<tr>
<td id="CLV"> <strong> Cleveland </strong> </td>
<td><strong>Start/Finish</strong>
</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Central Cleveland</td>
<td>Jun 1974</td>
<td>Mar 1996</td>
</tr>
<tr>
<td></td>
<td>East Cleveland</td>
<td>Jun 1974</td>
<td>Mar 1996</td>
</tr>
<tr>
<td></td>
<td>North Cleveland</td>
<td>Jun 1974</td>
<td>Mar 1996</td>
</tr>
<tr><td colspan="4"><hr /></td>
</tr>
<tr>
<td id="CWD"> <strong>Clwyd</strong> </td>
<td><strong>Start/Finish</strong>
</td>
<td>Jun1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Alyn &amp; Deeside</td>
<td>Jun 1974</td>
<td>Mar 1996</td>
</tr>
<tr>
<td></td>
<td>Colwyn</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Delyn</td>
<td>Jun 1974</td>
<td>Mar 1996</td>
</tr>
<tr>
<td></td>
<td>Glyndwr</td>
<td>Jun 1974</td>
<td>Mar 1996</td>
</tr>
<tr>
<td></td>
<td>Rhuddlan</td>
<td>Jun 1974</td>
<td>Mar 1996</td>
</tr>
<tr>
<td></td>
<td>Wrexham Maelor</td>
<td>Jun 1974</td>
<td>Mar 1996</td>
</tr>
<tr>
<td colspan="4"><hr /></td>
</tr>
<tr>
<td id="DUR"> <strong>Co. Durham</strong> </td>
<td>Auckland</td>
<td>Sep 1837</td>
<td>Jun 1938</td>
</tr>
<tr>
<td></td>
<td>Belford</td>
<td>Sep 1837</td>
<td>Dec 1936</td>
</tr>
<tr>
<td></td>
<td>Berwick</td>
<td>Sep 1837</td>
<td>Dec 1936</td>
</tr>
<tr>
<td></td>
<td>Chester le Street</td>
<td>Sep 1837</td>
<td>Jun 1938</td>
</tr>
<tr>
<td></td>
<td>Darlington</td>
<td>Sep 1837</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td> Durham (1837-1938) </td>
<td>Sep 1837</td>
<td>Jun 1938</td>
</tr>
<tr>
<td></td>
<td>Durham Central &amp; South Eastern</td>
<td>Dec 1971</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Durham Central (1938-1971)</td>
<td>Sep 1938</td>
<td>Sep 1971</td>
</tr>
<tr>
<td></td>
<td>Durham Central (1974 onw)</td>
<td>Jun 1974</td>
<td>Mar 2004</td>
</tr>
<tr>
<td></td>
<td>Durham Eastern</td>
<td>Sep 1938</td>
<td>Jun 2006</td>
</tr>
<tr>
<td></td>
<td>Durham North Eastern</td>
<td>Mar 1938</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Durham North Western</td>
<td>Sep 1938</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Durham Northern</td>
<td>Sep 1938</td>
<td>Mar 2004</td>
</tr>
<tr>
<td></td>
<td>Durham South Eastern</td>
<td>Sep 1938</td>
<td>Sep 1971</td>
</tr>
<tr>
<td></td>
<td>Durham South Western</td>
<td>Sep 1938</td>
<td>Mar 2000</td>
</tr>
<tr>
<td></td>
<td>Durham Western</td>
<td>Sep 1938</td>
<td>Jun 2006</td>
</tr>
<tr>
<td></td>
<td>Easington</td>
<td>Sep 1837</td>
<td>Jun 1938</td>
</tr>
<tr>
<td></td>
<td>Easingwold</td>
<td>Sep 1837</td>
<td>Sep 1936</td>
</tr>
<tr>
<td></td>
<td>Gateshead</td>
<td>Sep 1837</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Hartlepool (1859-1938)</td>
<td>Jun 1859</td>
<td>Jun 1938</td>
</tr>
<tr>
<td></td>
<td>Hartlepool (1967-74)</td>
<td>Jun 1967</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Houghton le Spring</td>
<td>Sep 1837</td>
<td>Jun 1938</td>
</tr>
<tr>
<td></td>
<td>Lanchester (1837 only)</td>
<td>Sep 1837</td>
<td>Sep 1837</td>
</tr>
<tr>
<td></td>
<td>Lanchester (1875-1938)</td>
<td>Jun 1875</td>
<td>Jun 1938</td>
</tr>
<tr>
<td></td>
<td>Morpeth</td>
<td>Sep 1837</td>
<td>Dec 1936</td>
</tr>
<tr>
<td></td>
<td>Sedgefield (1837 only)</td>
<td>Sep 1837</td>
<td>Dec 1837</td>
</tr>
<tr>
<td></td>
<td>Sedgefield (1896-1938)</td>
<td>Mar 1896</td>
<td>Jun 1938</td>
</tr>
<tr>
<td></td>
<td>South Shields</td>
<td>Sep 1837</td>
<td>Dec 2000</td>
</tr>
<tr>
<td></td>
<td>Stockton</td>
<td>Sep 1837</td>
<td>Jun 1938</td>
</tr>
<tr>
<td></td>
<td>Sunderland</td>
<td>Sep 1837</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Teesdale</td>
<td>Sep 1837</td>
<td>Jun 1938</td>
</tr>
<tr>
<td></td>
<td>Weardale</td>
<td>Sep 1837</td>
<td>Jun 1938</td>
</tr>
<tr>
<td></td>
<td>West Hartlepool (1938-1967)</td>
<td>Sep 1938</td>
<td>Mar 1967</td>
</tr>
<tr>
<td colspan="4"><hr /></td>
</tr>
<tr>
<td id="CON"> <strong> Cornwall</strong> </td>
<td>Bodmin</td>
<td>Sep 1837</td>
<td>Jun 2007</td>
</tr>
<tr>
<td></td>
<td>Camborne-Redruth</td>
<td>Jun 1974</td>
<td>Jun 2007</td>
</tr>
<tr>
<td></td>
<td>Camelford</td>
<td>Sep 1837</td>
<td>Jun 1995</td>
</tr>
<tr>
<td></td>
<td>Falmouth</td>
<td>Sep 1837</td>
<td>Jun 2007</td>
</tr>
<tr>
<td></td>
<td>Helston</td>
<td>Sep 1837</td>
<td>Jun 1936</td>
</tr>
<tr>
<td></td>
<td>Holsworthy</td>
<td>Sep 1837</td>
<td>Mar 1998</td>
</tr>
<tr>
<td></td>
<td>Isles of Scilly (1901 onw.)</td>
<td>Jun 1901</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Kerrier</td>
<td>Sep 1936</td>
<td>Jun 2007</td>
</tr>
<tr>
<td></td>
<td>Launceston</td>
<td>Sep 1837</td>
<td>Jun 2007</td>
</tr>
<tr>
<td></td>
<td>Liskeard</td>
<td>Sep 1837</td>
<td>Jun 2007</td>
</tr>
<tr>
<td></td>
<td>Penzance</td>
<td>Sep 1837</td>
<td>Jun 2007</td>
</tr>
<tr>
<td></td>
<td>Redruth (to 1974)</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Scilly Islands</td>
<td>Sep 1837</td>
<td>Mar 1901</td>
</tr>
<tr>
<td></td>
<td>St Austell</td>
<td>Sep 1837</td>
<td>Jun 2007</td>
</tr>
<tr>
<td></td>
<td>St Columb</td>
<td>Sep 1837</td>
<td>Jun 1936</td>
</tr>
<tr>
<td></td>
<td>St Germans</td>
<td>Sep 1837</td>
<td>Jun 2007</td>
</tr>
<tr>
<td></td>
<td>Stratton</td>
<td>Sep 1837</td>
<td>Jun 2007</td>
</tr>
<tr>
<td>;</td>
<td>Tavistock</td>
<td>Sep 1837</td>
<td>Mar 1998</td>
</tr>
<tr>
<td></td>
<td>Truro</td>
<td>Sep 1837</td>
<td>Jun 2007</td>
</tr>
<tr>
<td colspan="4"><hr /></td>
</tr>
<tr>
<td id="CUL"> <strong>Cumberland</strong> </td>
<td><strong>Start/Finish</strong> </td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Alston</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Bootle Cul</td>
<td>Sep 1837</td>
<td>Mar 1939</td>
</tr>
<tr>
<td></td>
<td>Border</td>
<td>Dec 1937</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Brampton</td>
<td>Sep 1837</td>
<td>Sep 1937</td>
</tr>
<tr>
<td></td>
<td>Carlisle</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Cockermouth</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Longtown</td>
<td>Sep 1837</td>
<td>Mar 1939</td>
</tr>
<tr>
<td></td>
<td>Millom</td>
<td>Jun 1939</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Penrith</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Whitehaven</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Wigton</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr><td colspan="4"><hr /></td>
</tr>
<tr>
<td id="CMA"> <strong>Cumbria</strong> </td>
<td><strong>Start/Finish</strong>
</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Appleby</td>
<td>Jun 1974</td>
<td>Jun 1984</td>
</tr>
<tr>
<td></td>
<td>Barrow in Furness (1876 onw.)</td>
<td>Jun 1974</td>
<td>Dec 2011</td>
</tr>
<tr>
<td></td>
<td>Carlisle</td>
<td>Jun 1974</td>
<td>Dec 2011</td>
</tr>
<tr>
<td></td>
<td>Cockermouth</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Kendal (1974 onw.)</td>
<td>Jun 1974</td>
<td>Dec 2011</td>
</tr>
<tr>
<td></td>
<td>Millom</td>
<td>Jun 1974</td>
<td>Dec 2011</td>
</tr>
<tr>
<td></td>
<td>Penrith</td>
<td>Jun 1974</td>
<td>Dec 2011</td>
</tr>
<tr>
<td></td>
<td>Ulverston</td>
<td>Jun 1974</td>
<td>Dec 2011</td>
</tr>
<tr>
<td></td>
<td>Whitehaven</td>
<td>Jun 1974</td>
<td>Dec 2011</td>
</tr>
<tr>
<td></td>
<td>Wigton</td>
<td>Jun 1974</td>
<td>Dec 2011</td>
</tr>
<tr>
<td colspan="4"><hr /></td>
</tr>
</tbody>
 <tbody>
<tr>
<td id="DEN"><strong>Denbighshire</strong> </td>
<td><strong>Start/Finish</strong> </td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Aled</td>
<td>Dec 1935</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Conway (to 1937)</td>
<td>Sep&#160;1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td>;</td>
<td>Corwen</td>
<td>Sep&#160;1837</td>
<td>Sep 1935</td>
</tr>
<tr>
<td></td>
<td>Hiraethog</td>
<td>Dec 1935</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Llanfyllin</td>
<td>Sep&#160;1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Oswestry</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Ruthin</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>St Asaph</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Wrexham (1837-1974)</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td colspan="4"><hr /></td>
</tr>
<tr>
<td id="DBY"> <strong>Derbyshire</strong> </td>
<td>Ashbourne</td>
<td>Sep 1837</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Ashby de la Zouch</td>
<td>Sep 1837</td>
<td>Sep 1949</td>
</tr>
<tr>
<td></td>
<td>Bakewell (1839 onw.)</td>
<td>Mar 1839</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Basford</td>
<td>Sep 1837</td>
<td>Mar 2012</td>
</tr>
<tr>
<td></td>
<td>Belper</td>
<td>Sep 1837</td>
<td>Jun 1994</td>
</tr>
<tr>
<td></td>
<td>Burton upon Trent</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Chapel en le Frith</td>
<td>Mar 1838</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Chesterfield</td>
<td>Sep 1837</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Derby</td>
<td>Sep 1837</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Ecclesall Bierlow</td>
<td>Sep 1837</td>
<td>Mar 1935</td>
</tr>
<tr>
<td></td>
<td>Glossop</td>
<td>Jun 1898</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Hayfield</td>
<td>Mar 1838</td>
<td>Mar 1938</td>
</tr>
<tr>
<td></td>
<td>High Peak (1837 only)</td>
<td>Sep 1837</td>
<td>Dec 1837</td>
</tr>
<tr>
<td></td>
<td>High Peak (1974 onw.)</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Ilkeston</td>
<td>Jun 1938</td>
<td>Mar 1997</td>
</tr>
<tr>
<td></td>
<td>Mansfield</td>
<td>Sep 1837</td>
<td>Mar 2012</td>
</tr>
<tr>
<td></td>
<td>Matlock (1837-8)</td>
<td>Sep 1837</td>
<td>Dec 1838</td>
</tr>
<tr>
<td></td>
<td>Repton (1937-1974)</td>
<td>Mar 1937</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Rotherham</td>
<td>Sep 1837</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Shardlow</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Swadlincote</td>
<td>Jun 1974</td>
<td>Mar 1997</td>
</tr>
<tr>
<td></td>
<td>Tamworth</td>
<td>Sep 1837</td>
<td>Sep 1939</td>
</tr>
<tr>
<td></td>
<td>Uttoxeter</td>
<td>Sep 1837</td>
<td>Sep 1939</td>
</tr>
<tr>
<td></td>
<td>Worksop</td>
<td>Sep 1837</td>
<td>Jun 2005</td>
</tr>
 <tr>
<td colspan="4"><hr /></td>
</tr>
<tr>
<td id="DEV"><strong>Devon</strong> </td>
<td>Axminster</td>
<td>Sep 1837</td>
<td>Jun 1936</td>
</tr>
<tr>
<td></td>
<td>Barnstaple</td>
<td>Sep 1837</td>
<td>Mar 1998</td>
</tr>
<tr>
<td></td>
<td>Bideford</td>
<td>Sep 1837</td>
<td>Mar 1998</td>
</tr>
<tr>
<td>;</td>
<td>Chard</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Crediton</td>
<td>Sep 1837</td>
<td>Jun 1936</td>
</tr>
<tr>
<td></td>
<td>Devon Central</td>
<td>Sep 1936</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Devonport</td>
<td>Dec 1898</td>
<td>Jun 1937</td>
</tr>
<tr>
<td></td>
<td>Dulverton (1837 only)</td>
<td>Sep 1837</td>
<td>Dec 1837</td>
</tr>
<tr>
<td></td>
<td>Dulverton (1855-1936)</td>
<td>Mar 1855</td>
<td>Mar 1936</td>
</tr>
<tr>
<td></td>
<td>East Stonehouse</td>
<td>Sep 1837</td>
<td>Jun 1937</td>
</tr>
<tr>
<td></td>
<td>Exeter</td>
<td>Sep 1837</td>
<td>Mar 2007</td>
</tr>
<tr>
<td></td>
<td>Holsworthy</td>
<td>Sep 1837</td>
<td>Mar 1998</td>
</tr>
<tr>
<td></td>
<td>Honiton</td>
<td>Sep 1837</td>
<td>Mar 1998</td>
</tr>
<tr>
<td></td>
<td>Kingsbridge</td>
<td>Sep 1837</td>
<td>Mar 1998</td>
</tr>
<tr>
<td></td>
<td>Launceston</td>
<td>Sep 1837</td>
<td>Jun 2007</td>
</tr>
<tr>
<td></td>
<td>Mid Devon</td>
<td>Sep 1978</td>
<td>Mar 2007</td>
</tr>
<tr>
<td></td>
<td>Newton Abbot</td>
<td>Sep 1837</td>
<td>Mar 1998</td>
</tr>
<tr>
<td></td>
<td>Plymouth</td>
<td>Sep 1837</td>
<td> — </td>
</tr>
<tr>
<td>;</td>
<td>Plympton (1936-74)</td>
<td>Sep 1936</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Plympton St Mary</td>
<td>Sep 1837</td>
<td>Jun 1936</td>
</tr>
<tr>
<td></td>
<td>South Molton</td>
<td>Sep 1837</td>
<td>Jun 1936</td>
</tr>
<tr>
<td></td>
<td>St Germans</td>
<td>Sep 1837</td>
<td>Jun 1936</td>
</tr>
<tr>
<td></td>
<td>Stoke Damerel</td>
<td>Sep 1837</td>
<td>Sep 1898</td>
</tr>
<tr>
<td></td>
<td>Taunton (1837-1974)</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Tavistock</td>
<td>Sep 1837</td>
<td>Mar 1998</td>
</tr>
<tr>
<td></td>
<td>Tiverton</td>
<td>Sep 1837</td>
<td>Jun 1978</td>
</tr>
<tr>
<td></td>
<td>Torbay</td>
<td>Jun 1968</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Torrington</td>
<td>Sep 1837</td>
<td>Jun 1936</td>
</tr>
<tr>
<td></td>
<td>Totnes</td>
<td>Sep 1837</td>
<td> Mar 1968</td>
</tr>
<tr>
<td></td>
<td>Wellington Som</td>
<td>Sep 1837</td>
<td> Mar 1936</td>
</tr>
 <tr>
<td colspan="4"><hr /></td>
</tr>
<tr>
<td id="DOR"><strong>Dorset</strong> </td>
<td>Axminster</td>
<td>Sep 1837</td>
<td>Jun 1936</td>
</tr>
<tr>
<td></td>
<td>Beaminster</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Blandford</td>
<td>Sep 1837</td>
<td>Jun 1956</td>
</tr>
<tr>
<td></td>
<td>Bournemouth (1932 onw.)</td>
<td>Dec 1932</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Bridport (1959 to 1997)</td>
<td>Mar 1959</td>
<td>Mar 1997</td>
</tr>
<tr>
<td></td>
<td>Bridport (to 1958)</td>
<td>Sep 1837</td>
<td>Dec 1958</td>
</tr>
<tr>
<td></td>
<td>Cerne</td>
<td>Sep 1837</td>
<td>Dec 1837</td>
</tr>
<tr>
<td></td>
<td>Chard</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Dorchester</td>
<td>Sep 1837</td>
<td>Jun 1949</td>
</tr>
<tr>
<td></td>
<td>Mere</td>
<td>Sep 1837</td>
<td>Dec 1977</td>
</tr>
<tr>
<td></td>
<td>North Dorset</td>
<td>Jun 1974</td>
<td>Dec 2005</td>
</tr>
<tr>
<td></td>
<td>Poole (1959 onw)</td>
<td>Mar 1959</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Poole (to 1958)</td>
<td>Sep 1837</td>
<td>Dec 1958</td>
</tr>
<tr>
<td></td>
<td>Shaftesbury</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Sherborne</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Sturminster (1959 to 1974)</td>
<td>Mar 1959</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Sturminster (to 1958)</td>
<td>Sep 1837</td>
<td>Dec 1958</td>
</tr>
<tr>
<td></td>
<td>Wareham</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Weymouth (1959-97)</td>
<td>Mar 1959</td>
<td>Mar 1997</td>
</tr>
<tr>
<td></td>
<td>Weymouth (to 1958)</td>
<td>Sep 1837</td>
<td>Dec 1958</td>
</tr>
<tr>
<td></td>
<td>Wimborne</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Wincanton</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
 <tr>
<td colspan="4"><hr /></td>
 </tr>
<tr>
<td id="DFD"><strong>Dyfed</strong> </td>
<td><strong>Start/Finish</strong>
</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Cardiganshire Central</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Cardiganshire North</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Cardiganshire South</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Carmarthen</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Haverfordwest</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Llanelli (1974 onw.)</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Pembroke</td>
<td>Jun 1974</td>
<td>Dec 1982</td>
</tr>
<tr>
<td></td>
<td>South Pembrokeshire</td>
<td>Mar 1983</td>
<td> — </td>
</tr>
<tr>
<td colspan="4"><hr /></td>
</tr>
</tbody>
 <tbody>
<tr>
<td id="ERY"> <strong>East Riding of Yorkshire</strong> </td>
<td><strong>Start/Finish</strong>
</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Beverley (1837-1937)</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Bridlington (1837-1937)</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Buckrose</td>
<td>Jun 1937</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Driffield</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Holderness</td>
<td>Jun 1937</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Howden (1837-1937)</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Howdenshire (1937-1974)</td>
<td>Jun 1937</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Hull</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Malton</td>
<td>Sep 1837</td>
<td>Sep 1936</td>
</tr>
<tr>
<td></td>
<td>Patrington</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Pocklington (1837-1937)</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Scarborough</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Sculcoates</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Selby</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Skirlaugh</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>York (1837-1937)</td>
<td>Sep 1837</td>
<td>Dec 1937</td>
</tr>
<tr>
<td></td>
<td>York (1938 onw.)</td>
<td>Mar 1938</td>
<td>Mar 1974</td>
</tr>
<tr>
<td colspan="4"><hr /></td>
</tr>
<tr>
<td id="SXE"> <strong>East Sussex</strong> </td>
<td><strong>Start/Finish</strong>
</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Battle</td>
<td>Jun 1974</td>
<td>Mar 1977</td>
</tr>
<tr>
<td></td>
<td>Brighton</td>
<td>Jun 1974</td>
<td>Dec 1998</td>
</tr>
<tr>
<td></td>
<td>Eastbourne</td>
<td>Jun 1974</td>
<td>Jun 2008</td>
</tr>
<tr>
<td></td>
<td>Hailsham</td>
<td>Jun 1974</td>
<td>Mar 1976</td>
</tr>
<tr>
<td></td>
<td>Hastings &amp; Rother</td>
<td>Jun 1977</td>
<td>Jun 2008</td>
</tr>
<tr>
<td></td>
<td>Hastings (1837-1977)</td>
<td>Jun 1974</td>
<td>Mar 1977</td>
</tr>
<tr>
<td></td>
<td>Hove (1935-1998)</td>
<td>Jun 1974</td>
<td>Dec 1998</td>
</tr>
<tr>
<td></td>
<td>Lewes</td>
<td>Jun 1974</td>
<td>Jun 2008</td>
</tr>
<tr>
<td></td>
<td>Uckfield</td>
<td>Jun 1974</td>
<td>Dec 1999</td>
</tr>
<tr>
<td id="ESS"> <strong>Essex</strong> </td>
<td>Basildon</td>
<td>Jun 1974</td>
<td>Jun 1974</td>
</tr>
<tr>
<td></td>
<td>Billericay</td>
<td>Sep 1837</td>
<td>Jun 1939</td>
</tr>
<tr>
<td>&#160;</td>
<td>Bishops Stortford</td>
<td>Sep 1837</td>
<td>Mar 2008</td>
</tr>
<tr>
<td></td>
<td>Braintree</td>
<td>Sep 1837</td>
<td>Mar 2010</td>
</tr>
<tr>
<td></td>
<td>Brentwood</td>
<td>Sep 1939</td>
<td>Mar 2010</td>
</tr>
<tr>
<td></td>
<td>Chelmsford</td>
<td>Sep 1837</td>
<td>Mar 2010</td>
</tr>
<tr>
<td></td>
<td>Colchester</td>
<td>Sep 1837</td>
<td>Mar 2010</td>
</tr>
<tr>
<td></td>
<td>Dunmow</td>
<td>Sep 1837</td>
<td>Dec 1967</td>
</tr>
<tr>
<td></td>
<td>East Ham</td>
<td>Dec 1935</td>
<td>Dec 1967</td>
</tr>
<tr>
<td></td>
<td>Edmonton</td>
<td>Sep 1837</td>
<td>Mar 1965</td>
</tr>
<tr>
<td></td>
<td>Epping</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Epping Forest</td>
<td>Jun 1974</td>
<td>Mar 2010</td>
</tr>
<tr>
<td></td>
<td>Essex South Western</td>
<td>Dec 1935</td>
<td>Mar 1965</td>
</tr>
<tr>
<td></td>
<td>Halstead</td>
<td>Sep 1837</td>
<td>Dec 1972</td>
</tr>
<tr>
<td></td>
<td>Harlow</td>
<td>Jun 1974</td>
<td>Mar 2010</td>
</tr>
<tr>
<td></td>
<td>Harwich</td>
<td>Sep 1939</td>
<td>Mar 1965</td>
</tr>
<tr>
<td></td>
<td>Lexden</td>
<td>Sep 1837</td>
<td>Jun 1939</td>
</tr>
<tr>
<td></td>
<td>Linton</td>
<td>Sep 1837</td>
<td>Mar 1935</td>
</tr>
<tr>
<td></td>
<td>Maldon (1837-1972)</td>
<td>Sep 1837</td>
<td>Dec 1972</td>
</tr>
<tr>
<td></td>
<td>Maldon (1974 onw.)</td>
<td>Jun 1974</td>
<td>Jun 1974</td>
</tr>
<tr>
<td></td>
<td>Ongar</td>
<td>Sep 1837</td>
<td>Jun 1939</td>
</tr>
<tr>
<td></td>
<td>Orsett</td>
<td>Sep 1837</td>
<td>Jun 1939</td>
</tr>
<tr>
<td></td>
<td>Risbridge</td>
<td>Sep 1837</td>
<td>Jun 1938</td>
</tr>
<tr>
<td></td>
<td>Rochford</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Romford</td>
<td>Sep 1837</td>
<td>Mar 1965</td>
</tr>
<tr>
<td></td>
<td>Royston</td>
<td>Sep 1837</td>
<td>Sep 1939</td>
</tr>
<tr>
<td></td>
<td>Saffron Walden</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Southend on Sea</td>
<td>Sep 1939</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Sudbury</td>
<td>Sep 1837</td>
<td>Dec 2010</td>
</tr>
<tr>
<td></td>
<td>Tendring</td>
<td>Sep 1837</td>
<td>Jun 1939</td>
</tr>
<tr>
<td></td>
<td>Thurrock (1939-1999)</td>
<td>Sep 1939</td>
<td>Mar 1999</td>
</tr>
<tr>
<td></td>
<td>Uttlesford</td>
<td>Jun 1974</td>
<td>Mar 2010</td>
</tr>
<tr>
<td></td>
<td>West Ham</td>
<td>Sep 1837</td>
<td>Dec 1967</td>
</tr>
<tr>
<td></td>
<td>Witham</td>
<td>Sep 1837</td>
<td>Jun 1880</td>
</tr>
<tr>
<td colspan="4"><hr /></td>
</tr>
<tr>
<td id="FLN"><strong>Flintshire</strong> </td>
<td><strong>Start/Finish</strong>
</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Chester</td>
<td>Mar 1870</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Ellesmere</td>
<td>Sep 1837</td>
<td>Sep 1935</td>
</tr>
<tr>
<td></td>
<td>Great Boughton</td>
<td>Sep 1837</td>
<td>Dec 1869</td>
</tr>
<tr>
<td></td>
<td>Hawarden</td>
<td>Mar 1903</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Holywell</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Maelor</td>
<td>Mar 1954</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Overton</td>
<td>Dec 1935</td>
<td>Dec 1953</td>
</tr>
<tr>
<td></td>
<td>St Asaph</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Whitchurch S (1853-1969)</td>
<td>Sep 1853</td>
<td>Dec 1969</td>
</tr>
<tr>
<td></td>
<td>Wrexham (1837-1974)</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td colspan="4"><hr /></td>
</tr>
</tbody>
<tbody>
<tr>
 <td id="GLA"> <strong>Glamorgan</strong> </td>
 <td><strong>Start/Finish</strong> </td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Bridgend</td>
<td>Sep 1837</td>
<td>Sep 1970</td>
</tr>
<tr>
<td></td>
<td>Cardiff (1837-1974)</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>East Glamorgan</td>
<td>Mar 1935</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Gower</td>
<td>Sep 1858</td>
<td>Dec 1934</td>
</tr>
<tr>
<td></td>
<td>Llanelly (to 1974)</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Merthyr Tydfil</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Mid Glamorgan</td>
<td>Dec 1970</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Neath (1837-1970)</td>
<td>Sep 1837</td>
<td>Sep 1970</td>
</tr>
<tr>
<td></td>
<td>Newport M</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Pontardawe</td>
<td>Sep 1875</td>
<td>Dec 1934</td>
</tr>
<tr>
<td></td>
<td>Pontypridd</td>
<td>Sep 1863</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Swansea</td>
<td>Sep 1837</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>West Glamorgan</td>
<td>Mar 1935</td>
<td>Mar 1974</td>
</tr>
<tr>
<td colspan="4"><hr /></td>
</tr>
<tr>
<td id="GLS"><strong>Gloucestershire</strong> </td>
<td>Banbury</td>
<td>Sep 1837</td>
<td>Sep 2001</td>
</tr>
<tr>
<td></td>
<td>Barton Regis</td>
<td>Jun 1877</td>
<td>Dec 1904</td>
</tr>
<tr>
<td></td>
<td>Bedminster</td>
<td>Sep 1837</td>
<td>Mar 1899</td>
</tr>
<tr>
<td></td>
<td>Bristol</td>
<td>Sep 1837</td>
<td> — </td>
</tr>
<tr>
 <td></td>
<td>Cheltenham</td>
<td>Sep 1837</td>
<td>Mar 2006</td>
</tr>
<tr>
<td></td>
<td>Chepstow</td>
<td>Sep 1837</td>
<td>Mar 1968</td>
</tr>
<tr>
<td></td>
<td>Chipping Norton</td>
<td>Sep 1837</td>
<td>Mar 1982</td>
</tr>
<tr>
<td></td>
<td>Chipping Sodbury</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Cirencester</td>
<td>Sep 1837</td>
<td>Mar 2006</td>
</tr>
<tr>
<td></td>
<td>Clifton</td>
<td>Sep 1837</td>
<td>Mar 1877</td>
</tr>
<tr>
<td></td>
<td>Dursley</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Evesham</td>
<td>Sep 1837</td>
<td>Mar 2006</td>
</tr>
<tr>
<td></td>
<td>Faringdon</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Forest of Dean</td>
<td>Jun 1937</td>
<td>Mar 2006</td>
</tr>
<tr>
<td></td>
<td>Gloucester (1837-1937)</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Gloucester (1974 onw.)</td>
<td>Jun 1974</td>
<td>Mar 2006</td>
</tr>
<tr>
<td></td>
<td>Gloucester City</td>
<td>Jun 1937</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Gloucester Rural</td>
<td>Jun 1937</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Keynsham</td>
<td>Sep 1837</td>
<td>Mar 1936</td>
</tr>
<tr>
<td></td>
<td>Kingswood (1937-74)</td>
<td>Jun 1937</td>
<td>Mar 1974</td>
</tr>
<tr>
<td></td>
<td>Malmesbury</td>
<td>Sep 1837</td>
<td>Mar 1936</td>
</tr>
<tr>
<td></td>
<td>Monmouth (1837-1939)</td>
<td>Sep 1837</td>
<td>Mar 1939</td>
</tr>
<tr>
<td></td>
<td>Newent</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>North Cotswold</td>
<td>Jun 1937</td>
<td>Mar 2006</td>
</tr>
<tr>
<td></td>
<td>Northleach</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Ross</td>
<td>Sep 1837</td>
<td>Mar 2008</td>
</tr>
<tr>
<td></td>
<td>Shipston on Stour</td>
<td>Sep 1837</td>
<td>Sep 1985</td>
</tr>
<tr>
<td></td>
<td>Sodbury (1937-1996)</td>
<td>Jun 1937</td>
<td>Mar 1996</td>
</tr>
<tr>
<td></td>
<td>Stow on the Wold</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Stratford upon Avon</td>
<td>Sep 1837</td>
<td>Sep 1985</td>
</tr>
<tr>
<td></td>
<td>Stroud (1837 onw)</td>
<td>Sep 1837</td>
<td>Mar 2006</td>
</tr>
<tr>
<td></td>
<td>Tetbury</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Tewkesbury</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Thornbury</td>
<td>Sep 1837</td>
<td>Sep 1981</td>
</tr>
<tr>
<td></td>
<td>Westbury on Severn</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Wheatenhurst</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Winchcomb</td>
<td>Sep 1837</td>
<td>Mar 1937</td>
</tr>
<tr>
<td></td>
<td>Witney</td>
<td>Sep 1837</td>
<td>Mar 1982</td>
</tr>
<tr>
<td colspan="4"><hr /></td>
</tr>
<tr>
<td id="GTL"> <strong>Greater London</strong> </td>
<td><strong>Start/Finish</strong> </td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Barking &amp; Dagenham</td>
<td>Jun 1980</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Barking (1965-1980)</td>
<td>Jun 1965</td>
<td>Mar 1980</td>
</tr>
<tr>
<td></td>
<td>Barnet</td>
<td>Jun 1965</td>
<td></td>
</tr>
<tr>
<td></td>
<td>Bethnal Green</td>
<td>Jun 1965</td>
<td>Dec 1965</td>
</tr>
<tr>
<td></td>
<td>Bexley</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Brent</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Bromley</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Camberwell</td>
<td>Jun 1965</td>
<td>Sep 1991</td>
</tr>
<tr><td></td>
<td>Camden</td>
<td>Dec 1977</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Chelsea (1841-1981)</td>
<td>Jun 1965</td>
<td>Jun 1981</td>
</tr>
<tr>
<td></td>
<td>Croydon</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td>;</td>
<td>Deptford</td>
<td>Jun 1965</td>
<td>Jun 1966</td>
</tr>
<tr>
<td></td>
<td>Ealing</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>East Ham</td>
<td>Jun 1965</td>
<td>Dec 1967</td>
</tr>
<tr>
<td></td>
<td>Enfield</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Fulham</td>
<td>Jun 1965</td>
<td>Dec 2000</td>
</tr>
<tr>
<td></td>
<td>Greenwich</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Hackney</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Hammersmith</td>
<td>Jun 1965</td>
<td>Dec 2000</td>
</tr>
<tr>
<td></td>
<td>Hampstead</td>
<td>Jun 1965</td>
<td>Sep 1977</td>
</tr>
<tr>
<td></td>
<td>Haringey</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Harrow (1947 onw.)</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Havering</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Hendon (1947-1999)</td>
<td>Jun 1965</td>
<td>Mar 1999</td>
</tr>
<tr>
<td></td>
<td>Hillingdon (1965 onw.)</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Hounslow</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Islington</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Kensington</td>
<td>Jun 1965</td>
<td>Jun 1981</td>
</tr>
<tr>
<td></td>
<td>Kensington &amp; Chelsea</td>
<td>Sep 1981</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Kingston upon Thames</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td>;</td>
<td>Lambeth</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Lewisham</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>London City</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Merton</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Newham</td>
<td>Mar 1968</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Paddington</td>
<td>Jun 1965</td>
<td>Dec 1977</td>
</tr>
<tr>
<td></td>
<td>Poplar &amp; Bethnal Green</td>
<td>Mar 1966</td>
<td>Dec 1982</td>
</tr>
<tr>
<td></td>
<td>Poplar (to 1965)</td>
<td>Jun 1965</td>
<td>Dec 1965</td>
</tr>
<tr>
<td></td>
<td>Redbridge (1965 onw.)</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Richmond upon Thames</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Southwark(1901 onw)</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>St Marylebone (1902-1977)</td>
<td>Jun 1965</td>
<td>Dec 1977</td>
</tr>
<tr>
<td></td>
<td>St Pancras (1902-1977)</td>
<td>Jun 1965</td>
<td>Sep 1977</td>
</tr>
<tr>
<td></td>
<td>Stepney (1926-82)</td>
<td>Jun 1965</td>
<td>Dec 1982</td>
</tr>
<tr>
<td></td>
<td>Stoke Newington (1930-1979)</td>
<td>Jun 1965</td>
<td>Jun 1979</td>
</tr>
<tr>
<td></td>
<td>Sutton (1965 onw.)</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Tower Hamlets</td>
<td>Mar 1983</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Waltham Forest</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Wandsworth</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>West Ham</td>
<td>Jun 1965</td>
<td>Dec 1967</td>
</tr>
<tr>
<td></td>
<td>Westminster (1965 onw.)</td>
<td>Jun 1965</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Woolwich</td>
<td>Jun 1965</td>
<td>Sep 1969</td>
</tr>
<tr>
<td colspan="4"><hr /></td>
</tr>
<tr>
<td id="GTM"> <strong> Greater Manchester</strong> </td>
<td><strong>Start/Finish</strong>
</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Barton (1934-1980)</td>
<td>Jun 1974</td>
<td>Mar 1980</td>
</tr>
<tr>
<td></td>
<td>Bolton</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Bury</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Leigh</td>
<td>Jun 1974</td>
<td>Sep 1995</td>
</tr>
<tr>
<td></td>
<td>Manchester (1939 onw.)</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Oldham</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Rochdale</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Salford</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Stockport</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Tameside</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Trafford</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Wigan</td>
<td>Jun 1974</td>
<td>Sep 1995</td>
</tr>
<tr>
<td colspan="4"><hr /></td>
</tr>
<tr>
<td id="GNT"> <strong>Gwent</strong> </td>
<td><strong>Start/Finish</strong> </td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Blaenau Gwent</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Newport M</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Pontypool</td>
<td>Jun 1974</td>
<td>Jun 1996</td>
</tr>
<tr>
<td colspan="4"><hr /></td>
</tr>
<tr>
<td id="GWN"><strong>Gwynedd</strong> </td>
<td><strong>Start/Finish</strong> </td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Aberconwy</td>
<td>Sep 1975</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Ardudwy</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Bangor</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Caernarfon (1974 onw.)</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>De Meirionydd</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Dyffryn Conwy</td>
<td>Jun 1974</td>
<td>Jun 1975</td>
</tr>
<tr>
<td></td>
<td>Penllyn</td>
<td>Jun 1974</td>
<td> — </td>
</tr>
<tr>
<td></td>
<td>Pwllheli &amp; Porthmadog</td>
<td>Jun 1974</td>
<td>Dec 1996</td>
</tr>
<tr>
<td></td>
<td>Ynys Mon</td>
<td>Jun 1974</td>
<td>Mar 1996</td>
</tr>
<tr>
<td colspan="4"><hr /></td>
</tr>
</tbody>
</table>
</div>

</div>