<h1>DRAFT Release notes</h1>

<p> <mark> Being worked on - PC. </mark> </p>
  <p><mark>This page is be expanded to include new material being researched for FreeBMD History - some of the technical material going into this page. Note anything (say) Pre-January 1999 is the test sytem and not the production system.</mark> </p>
  <p> <mark> Also, there is no material covering the ten-year period 1998 to 2008 - PC </mark> </p>
<div class="grid">
  <div class="grid__item three-fifths lap-three-quarters palm-one-whole">

    <h2>Developments in the FreeBMD test system</h2>
    <h3>30 Sep. 1998</h3>
    <p>Web site updated — FreeBMD FAQ page inserted; first version of the FAQ online …</p>
    <h2>Developments in FreeBMD</h2>
    <h3>15 September 2008</h3>
    <p>A new facility introduced on FreeBMD for searching for late entries in the Index. </p>
    <p>What is a late entry?</p>
    <ul>
      <li>Normally an event (Birth, Marriage or Death) will be registered soon after the event occurs and will be included in the index for the same quarter or the one following it.</li>
      <li>However, if an event is registered later then it will be included in the index some time after the event occurred. In this case the quarter in which the event should have appeared is often annotated with a (hand written) entry (the late entry reference) that points to the quarter in which the event has been registered (the late entry).</li>
      <li>The new late entry search facility cross references between the entries in the two separate index pages.</li>
      <li>The index page for the quarter in which the event has been registered isn’t always annotated to show the event actually took place earlier but was not registered at that time.</li>
      <li>The advanced FreeBMD facility overcomes this serious deficiency in the index and cross references the quarter in which the event should have been registered.</li>
    </ul>

       <h3>1 August 2008</h3>
    <ul>
      <li>To take some of the pressure off existing Syndicate Co-ordinators and to replace retiring Co-ordinators, four new syndicates were set up in July 2008.</li>
    </ul>

    <h3>9 September 2008</h3>
      <p>Today we reached possibly the highest number of searches on any day since the inception of FreeBMD, achieving a total of just under <mark>FIX THIS</mark> </p>

    <h3>08 January 2009</h3>
    <ul>
      <li>A new version of BMDVerify is now available — version 3.0.4.</li>  
      <li>The major new feature is some extra buttons at the bottom of the screen, labelled “Adjust Columns”, that can be used to adjust the position of the columns showing age at death, mother’s maiden name or wife’s maiden name (as appropriate for the transcription being verified) and also the district.</li>
    </ul>

    <h3>06 April 2009</h3>
    <ul>
      <li>Two new servers for image downloads installed and commissioned. These replaced two servers that were starting to fail and becoming temperamental.</li>
    </ul>

    <h3>23 September 2010</h3>
    <ul>
      <li>Some FreeBMD transcribers belong to more than one syndicate and this may possibly cause identification problems where the volunteer is in the two syndicates involved in double keying the same quarter. Upload Report has been enhanced to provide an indication column where a number 2 in the column indicates a file in question was transcribed by a volunteer belonging to the two syndicates involved in double keying and it has not been determined by automatic means as to which syndicate the file was transcribed.</li>
      <li>The simplest way to resolve this situation is by putting the syndicate in the header of the file and uploading it again. Alternatively the administration team can force a file to be allocated to a specific syndicate.</li>
    </ul>

    <h3>20 August 2011</h3>
    <ul>
      <li>A superseded entry is from a file that has been superseded by later transcription(s). This typically means that the original transcription was done early in the FreeBMD project when only poor quality scans were available. However where better quality scans have now been acquired by FreeBMD transcriptions are made from them where necessary. The original transcription is noted in order to give credit to the original transcriber and to provide continuity to researchers who may have found a different transcription of this entry in the past.</li>
      <li>A facility introduced to mark a transcription as “superseded”, mainly where we now have transcriptions from better sources.</li>
    </ul>

    <h3>25 March 2012</h3>
    <ul>
      <li>As part of our continuous quality control process, the two separate Suspect File Reports have been enhanced so that in addition to shift+click taking you to show-file (with the lines in question highlighted), ctrl+click will now try to take you to the relevant scan. This speeds up the checking and correction process for coordinators.</li>
    </ul>

    <h3>23 April 2012</h3>
    <ul>
      <li>WinBMD updated to version 7 and does not require version 5 to be existing on your PC prior to its installation as was the case with version 6.</li>
      <li>Many of the changes in version have been invisible ones aimed at fixing bugs and making the program more stable, other changes were minor. Some of the significant, but not a full list of, visible changes are:
        <ul>
          <li>District names can now contain any character, including numbers.</li>
          <li>A problem is fixed which stopped the scan ruler from moving.</li>
          <li>Additional characters are allowed in the page number field that were previously disallowed.</li>
          <li>The striped colours on the data input grid rows can now be removed.</li>
          <li>The Do Not Validate (district/page number) now apply to the current box only.</li>
          <li>There is now a new Formatting Menu which allows you to set UPPERcase, lowercase, Name Case or As TyPeD for each column.</li>
          <li>The program uses 4 different Supplementary District Files and these are automatically switched as appropriate depending on the year/qtr being transcribed.</li>
          <li>Fixed a problem with row numbering when a comment is inserted or replaced when using Data Row Numbering.</li>
          <li>Fixed a problem with the scan ruler which could jump to the wrong row when there was a comment or theory.</li>
        </ul>
      </li>
    </ul>

    <h3>02 June 2013</h3>
    <ul>
      <li>A facility has been added to Show File to display the counts of different surnames in a file. When the content of a file is displayed there is a link, “Show surname counts”, which will give a list of the different surnames in the file plus the number of instances of each surname.</li>
      <li>The main purpose of this facility is to help identify missing content in files that are a transcription of a scan with surnames on a separate line and the scan effectively divided into four quarters.</li>
    </ul> 

    <h3>30 November 2013</h3>
    <ul>
      <li>A new version of BMDVerify is now available — version 3.1.1.</li>  
      <li>The major change in this new version is properly handling 1963 Quarter 2 and later transcriptions where the surnames are on separate lines in the index.</li>
    </ul>

    <h3>30 June 2015</h3>
    <p>A new version of BMDVerify is now available — version 3.1.2.</p>
    <p>The main change in this version is where the scan of the index page appears too large, particularly on high resolution screens: you can now zoom out down to 10%.</p>

    <h3>28 May 2022 </h3>
    <p>A new version of WinBMD will shortly be available - version 10.1.0. </p>
<p>Downloadable from FreeBMD on, or after, 6th June 2022, this is the first version of WinBMD able to handle all of the G.R.O.’s birth, marriage and death records — including post-1992 records upto 1998. However, a new version of the Districts file name will need to be downloaded before it is used for transcribing records between the 1st January 1992 up to the 31st December 1998.</p>
   </div>
  </div>