<h1>DRAFT FreeBMD History - expanded &amp; reworked</h1>

<style scoped="scoped">
  figcaption {
    font-style: italic;
    color: #737373; /* 4.74:1 */
    margin-top: 0.3em;
  }
  figure.site img {
    border: 2px solid #00a099;
    padding: 0.3em;
  }
  figure.image-wide  img {
    width: 100%;
    height: auto;
  }
</style>

  <p> <mark> This page is being worked on - PC, June 2022. </mark> </p>  
  <p> <mark> Some areas to be addressed below before Initial Testing (phase 3) </mark> </p>
  <p class="lead">On this page you can discover more about the history of FreeBMD and how our website has evolved over its first seventeen years. It provides an expanded history of our early years. </p>
  
  <div class="grid">
  <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right">
    <div class="islet islet--bordered">
      <h2 class="title-block" id="thisPage">On this page</h2>
        <ul class="sub-nav">
         <li> <a href="#intro">Introduction</a> </li>
         <li class="open"> <a href="#briefHistory">A brief history of FreeBMD</a>
             <ul class="push-half--left push-half--bottom">
                 <li><a href="#howItstarted">How did it start</a> </li>
                 <li> Revenue streams </li>
              </ul>
         </li>
         <li class="open"> <a href="#">1998: Developing the structures and the system </a>
             <ul class="push-half--left push-half--bottom">
                 <li>Dividing up the work</li>
                 <li> <a href="#RootsWeb">RootsWeb web-hosts the FreeBMD test system</a> </li>
                 <li> <a href="#FreeBMD now live"> FreeBMD goes live</a> </li>
             </ul>
           </li>
           <li class="open"> <a href="#firstYearLive">1999: The first year of the live-running </a>
             <ul class="push-half--left push-half--bottom">  
                <li> <a href="#FreeBMD gets its own logo">FreeBMD gets its own logo</a> </li>
                <li> <a href="#GRO-permissions">O.N.S.supports FreeBMD in getting copies of indexes</a> </li>
                <li>January to April 1999 enhancements</li>
             </ul>
          </li>
          <li> <a href="#mileStones">Part 2: Transcription Milestones</a> </li> 
          <li class="open"> <a href="#historicalNews">Part 3: More historical News</a>
               <ul class="push-half--left push-half--bottom">
                 <li> <a href="#historicalnews2000">2000 News</a> </li>
                 <li> <a href="#historicalnews2001"> 2001 News</a> </li>
                 <li> <a href="#AncestryBuyMicrofilms">Ancestry purchases microfilms for us </a> </li>
                 <li> <a href="#enhancedChangeRequests">Enhancement of change requests sent to transcribers</a> </li>     
                 <li> <a href="#serverRelocation">Relocation of servers</a> </li>
                 <li> <a href="#Jim Killock Trustee">Jim Killock was appointed a Trustee of FreeBMD</a> </li> 
                 <li> <a href="#correctionReportingSystem">An automatic correction reporting system</a> </li>
                 <li> <a href="#">Four new syndicates created</a> </li>
                 <li> <a href="#EngagementCo-ordinator">Helena Hyde / Denise Colbert appointed as Engagement Co-ordinator for Free UK Genealogy </a> </li>
                 <li> <a href="#Darren Wright-ED">Darren Wright was appointed as the new Executive Director</a> </li>
                 <li> <a href="#Nick Barratt- leaves">Nick Barratt accepts new role at the National Archive</a> </li>
                  <li> <a href="#creationFUKwebsite">Creation of a Free UK Genealogy website</a> </li>
                 </ul>
             </li>
             </ul>
         </div>

        <div class="islet islet--boardered">
      <h2 class="title-block">Related pages</h2>
        <ul class="sub-nav">
          <li> More recent [news can be found on our News page](News) </li>
         <li>Earlier [more-technical news can be found on our release notes page](Release Notes) </li>
         <li> <a href="https://www.freeukgenealogy.org.uk/about/pages/newsletter-archive/" target="_blank">You can find an archive of Free UK Genealogy Newsletters (opens in a new Tab). </a> </li>
          <li> <a href="https://www.youtube.com/channel/UCP839R-ftWroUjqv9f02aTg" target="_blank">You can watch copies of our videos on our YouTube channel (opens in a new Tab).</a> </li>
         </ul>
      </div> 
    </aside>
   <div class="grid__item three-fifths lap-three-quarters palm-one-whole">
    <h2 id="intro">Introduction</h2>
    <mark>These three paragraphs to be edited / reworked - PC. </mark>  
    <p>The project that was to be known as “FreeBMD” began as a test and development system on RootsWeb in late-1998; and in the three or four months before it went live, a <strong>FreeBMD-News page</strong> was started on RootsWeb to keep potential volunteers informed on its progess. Shortly after the FreeBMD system went live, these RootsWeb pages were copied onto a page on FreeBMD, also called <strong>FreeBMD News</strong>. The RootsWeb version of the page also continued, but neither versions were updated after 2015. However, in October 2014 the FreeUKGenealogy website started up; and that began to carry FreeBMD-related news.</p>
   <p> We have a separate page on FreeBMD2 devoted to newsworthy events which took place from 2015, onwards: the <strong>News page</strong>. The starting date for that page was chosen firstly because this was the year our current Executive Director, Pat Reynolds, was appointed Executive Director of Free UK Genealogy — the parent of FreeBMD.</p>
    <p>In addition, there was a need to move the older material to archive. So, this page, together with the <strong>Release Notes Page</strong>, also provides a depository, or archive, for older material that has ‘dropped’ off the <strong>FreeBMD2 News Page</strong>.</p>

    <h2 id="briefHistory">A brief history of FreeBMD</h2>
    <h3 id="howItstarted">How did FreeBMD start</h3>
    <p>In 1997, the International Internet Genealogical Society (IIGS) was founded by Dr. Brian Leverich. In additions, back in 1993, Brian Leverich and Karen Isaacson had founded, and were the owners, of RootsWeb. Brian was interested in making use of the recent innovation the World Wide Web — the software behind that had entered the public domain in 1993. So, in 1997 Brian and the society’s members were giving consideration to the possibilities of using ‘crowd-sourcing’ for genealogy  — making use of people from around the world to supply transcriptions; and building genealogical data bases that would allow anyone, anywhere, to search that data. </p>
   <p>In 1998, FreeBMD was the brainchild of Ben Laurie, Camilla Gemmingen von Massenbach and Graham Hart. Its main aim was to provide free access for everyone to the information held in the Indexes to the General Registry Office (G.R.O.) registrations of birth, marriage and death. These Indexes, at the time, were held as large printed volumes in St. Catherine's House, London; and in the form of microfiche sets of births, marriages or deaths by quarter-year, sold by the G.R.O. and its successors under licence — the licence prohibited the purchaser from making or providing any copies to other people.</p>
    <p>Also in 1998, Michael Whitfield Foster (R.I.P.) — who was born in the United Kingdom, but had later moved to New Zealand — published his book: <em>“A Comedy of Errors” or The Marriage Records of England and Wales 1837 — 1899</em>. It presented his research, the findings and the recommendations from his (first) G.R.O. research project — authorised by the Office for National Statistics — which he undertook at the G.R.O. Southport some six years earlier.</p> 
     <p>It had long been suspected that there were many errors and omissions in the G.R.O. Index. His research showed that there were. He devoted a chapter with his recommendations as to how these might be corrected or mitigated; and offered a proposal for further research.</p>
    <p>Of importance to the FreeBMD project, Michael, both through personal research and the help of local volunteers in England — recruited through the World Wide Web — had amassed a computer database of <mark> add numbers - PC</mark> marriage records. Copies some of marriage records had come from the local parish registers or from LDS copies of these registers and some were purchased from the relevant local Register Office. In addition, he used the LDS / <em>FamilySearch</em> microfilm copies of the G.R.O. Index to find matching, or mismatching, G.R.O. Index entries for each of these marriages.</p>
    <p>The first hurdle for Ben, Camilla and Graham was to gain the necessary permissions from the Office for National Statistics (O.N.S.) to make use of the G.R.O. births, marriages and deaths Indexes. An initial response was received from the O.N.S. on 18th May 1998; and the final agreement received on 13 July 1998.</p>
   <p class="push-half--bottom">This agreement limited the project to:</p>
        <ul>
           <li> only publishing G.R.O. Index records that were over one hundred years old</li>
           <li> providing access to the records free of charge</li>
           <li> acknowledging on the website, the Crown Copyright on these records</li>
           <li>requiring users of the website not to copy or transfer images without prior permission from the O.N.S.</li>
       </ul>
   <p>Then work could start on developing the structures and the systems to allow this to happen.</p>
    
   <h3>Revenue streams</h3>
    <p> <mark> Not sure if a sub-section is needed, or it's just distributed throughout article - PC. </mark> </p>
    <p class="push-half--bottom">This started off as a volunteer driven project with no staff and no premisses:</p>
      <ul>
           <li> at the start, RootsWeb web-hosted the site, provided a computer, the web bandwidth and ... </li>
           <li> at the start, FreeBMD could not show images of the G.R.O. Indexes and transcribers sourced their own</li>
           <li> later, a need to pay for G.R.O. fiches, scanning done for free by contractors</li>
       </ul>
      
    <h2 id="development">1998: Developing the structures and the system</h2>
    <h3>Dividing up the work </h3>
     <p> In mid-July 1998, when the final agreement was received from O.N.S., work could start in earnest. Camilla was responsible for the ‘organisational side’ and Ben and Graham  for the ‘programming’ side of the project. ‘Programming’ included designing the formats of data, data storage, searching and presentation of results.</p>
   <p>There was also a need to consider the ‘project structure’. The transcription side was to be set up with volunteer transcriber in syndicates, each under the control of a <strong>Syndicate coordinator</strong>, who would control and track the progress of allocations. Above those was a <strong>Syndicate Coordinator,</strong> who would track year-allocations and deal with syndicate coordinator questions. In addition, there was a need for Quality assurance systems&#160; .....</p>
        
  <h3 id="RootsWeb">RootsWeb web-hosts the FreeBMD test system </h3>
     <p> Since 1993, the <a href="https://home.rootsweb.com" target="_blank">free online community: RootsWeb (opens in a New Page)</a> provided hosted websites, messaging boards and mailing lists.</p>
     <p>RootWeb, from the start of the FreeBMD project, provided and web hosted — without charge — a dedicated server used to develop the FreeBMD test system. This was a computer with an Intel 486-based processor running at 66 Mhz. </p>
    <p>RootsWeb would continue to host the live version of FreeBMD; and provide FreeBMD with mailing list facilities and messaging boards facilities.</p>
    <p class="islet islet--bordered">You can <a href="https://en.wikipedia.org/wiki/Ancestry.com#RootsWeb" target="_blank"> find out more about RootsWeb (and Ancestry) on wikipedia's Ancestry page (opens in a new page).</a> </p>
    <p class="push-half--bottom">On <strong>30 September 1998</strong> <a href="https://www.freebmd.org.uk/980926.html" target="_blank">a RootsWeb review stated (archive page from our old FreeBMD site, opens in a New Tab):</a> </p>
     <ul>
        <li>“The FreeBMD project is expected to take forever probably, and the next 15 years certainly”</li>
        <li>“At this stage, FreeBMD is developing the database, records management and search engine software as well as designing the Web site. FreeBMD uses Mike Foster's transcriptions as test data”</li>
      </ul> 
   <p> On <strong> 16 October 1998,</strong> an announcement mailing list was sent out on RootsWeb for those interested in the FreeBMD project without being involved in its management. This will be for volunteers and those with a general interest in our happenings.</p> 
   <p class="push-half--bottom"> By the end of <strong> 17 October 1998</strong>: </p>
      <ul>
        <li> submitter details were added to the search engine</li>
        <li>work was in progress for managing submitter information, but in the meantime anyone with test data can submit it now — just write to Ben for a login </li>
        <li> a new input format of One Name Studies was been added — this allows us to take advantage of the ‘semi-sequenced’ nature of one-name data</li>
         <li>RootsWeb are to supply a new, faster machine for the FreeBMD Test system.</li>
      </ul>
     <p>Over the three days, <strong>21, 22 and 23 October 1998,</strong> a database status page was added; the system was amended to allow underscores in file names; a statistics page was added; and the system was amended to allow "uncertain characters" in names.</p>
     <p> On <strong>25 October 1998,</strong> a moderated mailing list (<strong>FreeBMD-News</strong>) was set up on RootsWeb to allow interested people to keep up to date with the progress of the FreeBMD project. </p>
    <p class="islet islet--bordered"> FreeBMD set up more mailing lists on RootsWeb. You can view an — unindexed other than be date — archived versions of these mailing lists on the Ancestry RootsWeb archive <mark> PC to rework and add hyperlinks.</mark> </p>
   <p>On <strong>3 December 1998,</strong>  added tentative transcriber allocation pages; and the test system passes 80,000 records!</p>
   <p> On <strong> 5 December 1998,</strong> added some checking for validity of volume numbers. However, this may invalidate some existing data.</p>
  <p> On <strong>19 December 1998,</strong> RootsWeb provided a new computer for FreeBMD! This was planned anyway, but needed to accelerated by the unfortunate demise of the test computer. Thanks, RootsWeb!  Unfortunately, in the crash, the test data that had been submitted was lost. However, none of the web pages, or programs disappeared for good.</p>

  <h3 id="FreeBMD now live"> FreeBMD goes live</h3>
   <p> On <strong>30 December 1998,</strong> we revamped the website to reflect our live status and to credit RootsWeb more fully. Our new URL became http://FreeBMD.RootsWeb.com </p>
    <p class="islet islet--teal"> Note: FreeBMD no longer uses this web address and it can not be accessed.</p>
    
    <p>At the start of the project, transcribers had to source their own copies of the Indexes. Sourcing copies of the G.R.O. Indexes was helped in March 1999, the Office for National Statistics issued FreeBMD with a letter which would allow existing holders of G.R.O. microfiche Indexes to supply copies from their holdings to  ......</p>
   
   <h2 id="firstYearLive">1999: The first year of live running</h2>
   <p>David Mayall joined <mark> this year(?) but when? - PC </mark> and became an ‘owner of the system’ that was running on its webhost: RootsWeb. The <a href="https://www.freebmd.org.uk/ctroles.html" target="_blank">Project Team page, on the old FreeBMD site (FreeBMD page opens in a new Tab)</a> list Ben Laurie, Camilla von Massenbach, Graham Hart and David Mayall as Co-Founder and Trustees of FreeUKGenealogy. FreeUKGenealogy was the new name adopted in 2014 by FreeBMD, the charity formed in 2003 from FreeBMD.</p>
   <h3>We get our own logo</h3>
   <p> On <strong>15 January 1999,</strong> FreeBMD finally gets a logo. It was available in three sizes — small, medium and large — and was to be used by calling up its URL, rather than copying it. </p>
    <figure class="site image-wide " style="max-width: 270px"> 
      <%= image_tag 'First%20BMD%20Logo.jpg?sha=4bb28c559fc901d7', alt: 'this shows three BMD Logos, in a staggered vertical column, the bottom one being the smallest and the top one being the largest', title: '1st BMD Logo', width: 225, height: 209 %>
        <figcaption>Figure 1: FreeBMD’s first logo</figcaption>
    </figure>
   
   <h3 id="GRO-permissions">O.N.S. issues a letter allowing FreeBMD to obtain copies from G.R.O. Microfiche or Microfilm</h3>
   <p>On 26th March 1999, we received a letter from the Office for National Statistics providing a formal process for holders of the G.R.O. Index to supply copies to FreeBMD for transcribing. This would allow us, for example, to go to a library that had bought a copy of the G.R.O. Index under licence; and they would gain permission to issue specified copies to FreeBMD or its transcribers. <mark>To be expanded, see https://www.freebmd.org.uk/Permission.html - PC. </mark> </p>
   
  <h3> January to April 1999 enhancements</h3>
   <p>On <strong>3 January 1999</strong>, the marriages search form was enhanced to include spouse matching; 1898 was made the last valid year; and progress graphs were added to the system.</p>
     <p>On <strong>16th and 17th January 1999</strong>, respectively, ‘District synonyms’ were added to the system — that is, a way of mapping known variants of District names onto a single "standard" spelling; and a District name checking routine was ‘enabled’ on the database.</p>
  <p>On <strong>26 January 1999</strong>, an Age range at Death option was added to the deaths search form.</p>
  <p>On <strong>27 February 1999</strong>, the following enhancements were added to the search form: quarters were added to the start and end dates; only list the page in the same year and quarter on the page link; and "All Types" and "All Districts" were added to the list boxes on the search page.</p>
   <p>On <strong>28 February 1999</strong>, the wild card character <strong>*</strong> could be used in a district name; and we hit 90,000 entries!</p>
  <p> On <strong>11th March 1999</strong> 100,000 entries was reached.</p>
    <p> <strong>18th April 1999</strong>, Graham has recently taken over the syndicate and allocation management and Andrew has recently set up a mailing list ready for the Syndicates. Today, we have added scans of the ONS and LDS order forms for buying microfiche and microfilm.  We've started a regular Internet Relay Chat (IRC) channel, on the IRC server hosted by the IIGS and sponsored by RootsWeb. This IRC channel was to be found at: #FreeBMD,&#160; on test.links.org, port 6667.</p> 
     <p class="islet islet--teal"> Note: FreeBMD no longer uses this IRC Channel, and it is can not be accessed.</p>

    <p> <mark> need to bring over the news for rest of the year - PC </mark> </p> 

    <h2 id="mileStones">Part 2: Transcription Milestones</h2>
    <p>You think it’s a long way to the chip shop... FreeBMD is big. Really big! It was anticipated that it would take a decade to complete a ‘first keying’- <mark> I will, sometime, say what this means, or add hyperlink. It was in the draft FAQ page I produced but it has edited out, by re-wording - PC </mark> -  from the start of the index in 1837 to the end of 1901.</p>                     

    <p class="push-half--bottom">This target was substantially achieved in July 2005. But even in the first few years, the website was already being useful to researchers. Of course, the more people help, the sooner it will be completed.</p> 
    <ul>
      <li> by the end of December 2007 ‘first keying’ of the years 1837 to 1919 were substantially completed </li> 
      <li> by the end of December 2010 ‘first keying’ of the years 1837 to 1948 were substantially completed </li> 
      <li> by the end of December 2012 ‘first keying’ of the years 1837 to 1960 were substantially completed </li> 
      <li> by the end of December 2016 ‘first keying’ of the years 1837 to 1977 were substantially completed </li> 
      <li> by the end of December 2019 ‘first keying’ of the years 1837 to 1983 were substantially completed </li> 
    </ul>
  
    <p> <a>More milestones here: current statistics on the database to date are available</a> <a href="progress.shtml">here</a> and <a href="/cgi/EntryCounts.pl">here</a>. </p>
       
    <h2 id="historicalNews">Part 3: More historical News</h2>
     <p> <mark> Note: the 2003 FreeBMD News section is still to be added to this page. At a cursory look, the old FreeBMD News page does not appear to mention FreeBMD becoming a charity in 2003, neither does it mention FreeBMD becoming FreeUKGenealogy in 2014. In 2015 the appointment of both Richard Light and Pat, to FreeUKGenealogy is the first mention of FUG. Some words will be needed for this page. The 2014 section refers to the creation of a FUG website; but 2003 is not yet on this page. - PC </mark>  </p>
     <h3>Introduction</h3>
     <p> On the remainder of this page, you can read more of our Historical news. The items below originally appeared on our old website: FreeBMD in the News Page, but they have been copied here, as an archive.</p>
    <p>This section of the page commences with 2000 News - one year after we began live running on the RootsWeb host sever.</p>
     
    <p> <mark>Need some more words ....- PC I think that's fine PR&#160; Can the items below be put into date order, earliest first, please.</mark> </p> 
     <p> <mark> Items have been reordered, as requested above, but side navigation panel is incompletely updated - PC. </mark> </p>
     <h2 id="historicalnews2000">2000 news</h2>
     <h3>Monthly growth rate of 250,000 entries per month, or more</h3>
     <p>On <strong>1 February 2000</strong>, we reached one million entries. It is remarkable that the database has doubled in size in just two months; and by the end of<strong> May</strong> we reached two million entries. The database is growing at quarter of a million entries every month. This growth rate continued with over three million entries on the system by the end of <strong>September</strong>. </p>
    <p>By early <strong>November 2000</strong> we reached we reached 3,500,000 entries, a growth rate of about half a million entries per month.</p>
    <p>In June 2000, RootsWeb was acquired by Ancestry, a commercial company in the business of offering pay-to-view family history records, including BMD records. FreeBMD continued to use the RootsWeb server.</p>
   <p> <mark>Move some of what is in the next two paragraphs somewhere else - possible out of place / time - PC. </mark> </p>                        
<p>Recently (2020?) many, or most, of the RootWeb message board and mailing list pages have been moved into their archive pages.</p>
   <h3>System enhancements</h3>
   <p> On <strong>26 October 2000</strong>, a new process was implemented for allocating volunteers to Syndicates; and in response to the demands of our volunteers a "Transcribers Knowledge Base" section was added to the FreeBMD site. A new process was also implemented for allocating volunteers to Syndicates.</p>
   <p>On <strong>18 November 2000</strong>, the re-designed Website was launched, making it easier for users and transcribers to navigate to whatever they want to be.</p>
   <p> <mark> BMD1 News for Nov 2004 has the District alias group as being in their 4th year and News Aug. 2008 as them being in their 8th year; so, they started sometime in the 2nd-half of 2000? Might ask Martin Cope - PC. </mark> </p>
    
   <h2 id="historicalNews2001">2001 News</h2>
   <h3 id="AncestryBuyMicrofilms">Ancestry purchase for our use a complete set of G.R.O. Index microfilms for 1837 to 1900 </h3>
    <p> On <strong>9 January 2001</strong>, FreeBMD were very pleased to record that Ancestry has very kindly purchased a complete set of Birth, Marriage and Death G.R.O. Index microfilms, for years 1837 to 1900, for our use.  We are now working to ensure that data of higher quality will be available for transcribers.</p> 
  
    <h2>Historical news: 2003 to 2007</h2>
    <p> To be added in the next version of this page. </p>
    <h2> Historical news: 2003</h2>
    <p> <mark>From FUG- About (date?) - PC </mark>In 2003 the organisation - FreeBMD - registered as a charity under the name FreeBMD. </p>
    <h2 id="historicalNews2008">Historical news: 2008</h2>
    <h3 id="enhancedChangeRequests">Enhancement of change requests sent to transcribers</h3>
    <p>From <strong>5 July 2008</strong>, correction requests sent to our transcribers by the Corrections Co-ordinator have been enhanced to include details of the “Changed Fields”. This is of great help to transcribers to quickly identify the actual correction requirements. Prior to this it was necessary to visually inspect the whole record for a before and after situation.</p>
    <h3 id="serverRelocation">Relocation of servers</h3>
    <p>On <strong>29 June - 6 July 2008</strong>, all the FreeBMD servers were relocated to the new data-centre over a period of a week. The FreeBMD search page was available throughout the move with the number of searches completed each day being only slightly affected for a couple of days. On the most affected day 170,000 searches were still completed. Once again our technical team lived up to our high expectations of keeping the FreeBMD site available 24/7.</p>
    <p>As of 2008, there were nine production servers for searches and two for images.</p>
    <p>Approximately 5,000 formal correction requests are submitted every month to FreeBMD. About half of these are dealt with by transcribers or by their Co-ordinators amending the affected files and the other half is dealt with by the Corrections Co-ordinator uploading under a special Submitter ID. It is encouraging to note that only a small percentage of formal correction requests are rejected.</p>
    <h3>District aliasing team approaches its 8th year of existence</h3>
    <p>On <strong>14 August 2008</strong>, the district aliasing team approached its eighth year of existence. The team is responsible for creating aliases for the alternative or mis-spellings of the standard districts. The number of new spellings of district names to be aliased has dropped to below 600 per month, which is about a third of the number four years ago when the scan quality was poor.</p>
    <p>For a minority of post-1911 marriages, where a surname has been used in the index books in the district column, the correct district has been found by consulting the entry for the spouse and a “System entry” has been created by the Alias team, resulting in the correct district being available on the search result page. In a few cases where there has been incomplete information in a “late addition” entry (for example, see D/24) and the scan of the later year is available this has been consulted and a “System entry” also created.</p>
   
   <h3 class="push-half--bottom">Suspect File Report enhanced to show low-entry files</h3>
    <ul>
       <li>On <strong>25 August 2008</strong>, as part of our continuous quality control process, the Suspect File Report has been enhanced. It now includes a list of files which have pages suspected to contain an unusually low number of entries. This is likely to arise where an index page consists of multiple columns but not all have been transcribed.</li>
       <li>The report excludes files containing the transcription of the last index pages for an initial letter which by default normally include a lesser number of records than other index pages in the same series.</li>
       <li>The enhancement also includes files containing the reverse situation; this is where the number of entries between +PAGE lines is significantly greater than what is expected. This normally occurs where multi-index pages have been transcribed in a file without a corresponding number of +PAGEs.</li>
     </ul>  
    <h3>Highest number of searches to date</h3>
    <p>The popularity of FreeBMD continues to grow as one of the foremost genealogy search sites. On <strong>9 September 2008,</strong> we reached possibly the highest number of searches on any day since the inception of FreeBMD, achieving a total of just under 280,000 searches in a day. During a peak hour FreeBMD is handling five searches every second.</p>
    <h3>200.07 million records on FreeBMD</h3>
      <p>On <strong>14 September 2008</strong> there were 200.07 million records on FreeBMD</p>
       <p class="push-half--bottom">Massive congratulations to all our volunteers: your efforts enabled the total records uploaded to FreeBMD to reach the 200.07 million mark.</p>
      <ul>
         <li>since <strong>14 August 2008</strong> over 1.66 million records have been added to the database</li>
         <li>over twenty nine hundred (2,940) volunteers contributed to the 1.66 million new records added to the database during the last month. Over four hundred (423) of these volunteers joined FreeBMD within the last 12 months and contributed 0.35 million records to this monthly increase</li>
        <li>the 100 million total record mark was reached on 24th August 2004</li>
      </ul>
   
    <h2 id="historicalNews2009">Historical news: 2009</h2>
    <h3> Two new image servers installed and commissioned</h3>
    <p>On <strong>6 April 2009,</strong> two new servers for image downloads installed and commissioned. These replaced two servers that were starting to fail and becoming temperamental.</p>

     <h2>Historical news: 2010</h2>  
     <h3>Allan Raymond was appointed as a Trustee of FreeBMD</h3>
     <p>On <strong>20 September 2010,</strong> Allan Raymond was appointed as a Trustee of FreeBMD. Allan Joined FreeBMD as a volunteer transcriber in mid-2000 and shortly afterwards took on the role of Coordinator of Syndicates which he still holds.</p>
   
    <h2 id="historicalNews2011">Historical news: 2011</h2>
   <h3>2011 Tri-project Seminar </h3>
    <p class="push-half--bottom"> On <strong>21 April 2011</strong>, a Tri-project (i.e. FreeBMD, FreeCEN and FreeREG) seminar took place on Thursday 21 April 2011 at The National Archives. The seminar was chaired by our Executive Director Barratt and all the Trustees were in attendance as well as Coordinators and transcribers from the three projects. Discussions and workshops took place on a wide range of topics including three presentation talks on:</p>
       <ul> 
           <li>the Media and Family History</li>
            <li>the Work of The National Archives</li>
           <li>the Open Genealogical Alliance</li>
        </ul> 
    <h3>First dedicated FreeBMD Newsletter for Syndicate Coordinators was produced</h3>
    <p>On <strong>30 April 2011,</strong> following the Tri-project seminar which took place on 21 April 2011 at The National Archives the first FreeBMD Newsletter was produced and distributed to Syndicate Coordinators. This was to meet comments made at the seminar that perhaps we could improve the communication aspects within FreeBMD.</p>
      <p>It is intended the Newsletter will be produced on a monthly basis and sent out following each database update. Two versions of each newsletter were produced, one sent directly to Syndicate Coordinators by email and another copy posted via a dedicated 'discussion group' for Syndicate Coordinators, or their deputies, hosted on RootsWeb.</p>
   
    <h2 id="historicalNews2012">Historical News: 2012</h2>
    <h3 id="Jim Killock Trustee">Jim Killock was appointed a Trustee of FreeBMD</h3>
    <p> On <strong>1 October 2012,</strong> Jim Killock, Executive Director of the Open Rights Group, was appointed a Trustee of FreeBMD.</p>
    <h3 id="Nick Barratt-leaves">Nick Barratt, Executive Director, accepts new role at the National Archive</h3>
    <p>On <strong>6 December 2012,</strong> it was announced by the Trustees that Nick Barratt, who has worked as Executive Director of FreeBMD (including FreeREG and FreeCEN) for the past 15 months, has recently accepted a new role at the National Archives. Unfortunately for the projects, this new full time role will mean that he will no longer be able to fill his part time role at FreeBMD.</p>
   <p>Nick’s appointment was a new and experimental departure for us, which the Trustees feel has been much to the benefit of the projects, and he will be missed. We wish Nick every success in his new venture, which represents a great opportunity for him.</p>
    
   <h2 id="historicalNews2013">Historical news: 2013</h2>
   <h3 id="Darren Wright-ED">Darren Wright was appointed as the new Executive Director</h3>
    <p>On <strong>23 October 2013,</strong> the Trustees are pleased to report that Darren Wright has been appointed as the new Executive Director of FreeBMD. This role will encompass FreeREG and FreeCEN as well as FreeBMD.</p>
    
   <h2 id="historicalNews2014">Historical News: 2014</h2> 
   <p> <mark>From FUG - About: (when ?) - PC</mark> In 2014 we changed the name - FreeBMD - to Free UK Genealogy which better reflected our aims.</p>
     <p>On <strong>21 February 2014,</strong> a significant milestone has been reached with a total of over <strong>300 million</strong> records uploaded to the FreeBMD database. This is due to the outstanding efforts over the years from almost 12,000 transcribers supported by their Syndicate Coordinators. Our transcribers are currently working on years up to and including 1971.</p> 
   <h3>FreeBMD named as ‘one of the 101 best family history websites’</h3>  
    <p>FreeBMD has been named one of the 101 best family history websites in the September 2014 issue of <em>Family Tree Magazine</em>. Each year, Family Tree Magazine publishes the 101 Best Websites for family history to guide genealogists to the top websites where they can make family history research progress, and to honour the individuals and organisations who create those sites.</p> 
   <h3 id="creationFUKwebsite">Creation of a Free UK Genealogy website</h3>
    <p> On <strong>29 October 2014,</strong> <a href="https://www.freeukgenealogy.org.uk/news/2014/10/">Denise Colbert posted a “Welcome” to the site message, (opens in a new Tab)</a> on the new Free UK Genealogy website . </p>
     <h3><strong>300 million</strong> records uploaded</h3>
    
     </div>
  </div>