<h1>Case Sensitive Userids</h1>

<p>It is possible to get a report of those userids that have duplicate names </p>
<p>Rake reports:userid_details_case_report[10000] --trace</p>
<p>This creates a report in log/userid_details_case_report.log</p>