
<section id='body_content' class='no_side_body'>
	<div class="grid">
		<div class='grid__item two-thirds'>
			<h1 id="body_content_title"><%= @title %></h1>
		</div>
		<div class='grid__item one-third'>
			<%= link_to "Make a suggestion", handbook_feedback_path %>
		</div>
	</div>
	<section id='body'>
		<%= @page %>
	</section>
</section>


