
<section id='body_content' class='no_side_body'>
	<div class="grid">
		<div class='grid__item two-thirds'>
			<h1 id="body_content_title"><%= @title %></h1>
		</div>
		<div class='grid__item one-third'>
			<% if  session[:userid_detail_id].present?%>
				<div  style="float:right;">
				  <%= form_tag(suggestion_url, :method=>:get) do %>
				    <% suggestion_options.each_pair do |name, value| %>
				      <%= hidden_field_tag(name, value)%>
				    <% end %>
				    <input type="submit" value="Make a suggestion"  class = "btn  btn--small"/>
				  <% end %>
				</div>
			<% end %>
		</div>
	</div>
	<section id='body'>
		<%= @page %>
	</section>
</section>

