<% breadcrumb :feedback_form%>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
  </div>
<% end %>
  <% if @feedback.feedback_type == Feedback::FeedbackType::ISSUE %>
    <h1 style="text-align: center">Problem Report</h1>
    <div class="grid">
      <p >This process collects information about the page where you were having an issue. Please add a descriptive title and additional information about what you were experiencing or wanted to experience in the comment box and attach a screen shot or any other images. Submit the report by selecting the <b>Submit Problem Report </b>button at the bottom of the form and it will be submitted to the team for review and possible action. Please read our <a href=<%=Constant::PRIVACY_POLICY_LINK%>>Privacy Notice</a> for information on how we will protect and use your data.<br />
    <em>The contents of your problem report will be publicly visible on the Internet.</em></p>
    </div>
  <% else %>
    <h1>Give Feedback</h1>
  <% end %>
  <%= render 'form' %>
