<h1>DRAFT Frequently asked questions (for BETA)</h1>

<style scoped="scoped">
  figcaption {
    font-style: italic;
    color: #737373; /* 4.74:1 */
    margin-top: 0.3em;
  }
  figure.site img {
    border: 2px solid #00a099;
    padding: 0.3em;
    max-width: 100%;
  }
  figure.image-wide  img {
    width: 100%;
    height: auto;
  }
</style>

<p><strong>#214: This is a copy of the published page with some additional FAQ for BETA and notes FAO PR.</strong> 17 May 2022</p>

<p><mark>Needs adding for BETA (not initial testing), a paragraph on copying snips from FreeBMD, e.g. for social media. PR</mark> </p>

<p><mark>'Possibly inconsistent' entries (where the RD, vol number or page number do not match) include: e.g. Marriage, Sept 1838, PRIESTMAN	Jane, ROWNTREE John, Scarboro, 24, 430A. Scan not available on BMD2. ‘Possibly inconsistent’ not flagged on BMD2 — page out of range according to BMD1. </mark> </p>

<p><mark>The URL, https://ico.org.uk/global/contact-us/ is intended for?</mark> </p>


<div class="grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="lead">This page has answers to a wide range of frequently asked questions (or FAQ) about FreeBMD. It does not include questions on searching: for those, select the ‘Help’ link in the top menu.</p>
    <p>We will be preparing some more detailed questions and answers, aimed mainly at our transcribers. In the meantime, you can find the FAQ for transcribers on the <a href="https://www.freebmd.org.uk/">original FreeBMD site</a>.</p> 
  </div>

  <div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <nav aria-labelledby="thisPage">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="thisPage">On this page</h2>
        <ul class="sub-nav">
          <li><a href="#whyNecessary">Why is FreeBMD necessary?</a> </li>
          <li><a href="#howOperate">How does FreeBMD operate?</a> </li>
          <li><a href="#giveAccess">Could the G.R.O. give volunteers access to the source records?</a> </li>
          <li><a href="#runsFreebmd">Who runs FreeBMD?</a> </li>
          <li><a href="#groComputerise">Are the G.R.O. already computerising the indexes?<mark>BETA</mark> </a> </li>
          <li><a href="#dpaCoversThis">Is this information covered by Data Protection legislation?</a> </li>
          <li><a href="#helpFundUs">How is FreeBMD funded?</a> </li>
          <li><a href="#submitCorrection">How can I submit a correction? <mark>BETA</mark> </a> </li>
          <li><a href="#correctBmd">How can I correct an error in FreeBMD?</a> </li>
          <li><a href="#correctGro">How can I correct errors in the G.R.O. index? <mark>BETA</mark> </a> </li>
          <li><a href="#livingPersons">Can the FreeBMD database help me find a living person?</a> </li>
          <li><a href="#removeMyEntry">Please can you remove my entry?</a> </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <h2 id="whyNecessary">Why is FreeBMD necessary?</h2>
    <p>The FreeBMD database is the most complete online, free-to-search copy of the G.R.O. Index (the General Register Office for England and Wales Index). Other versions, online or otherwise, are less complete, fragmented, not cross-referenced for older marriages, or not subject to our quality and consistency checks.</p>
    <p>Currently, there is no other centrally-available method for rapidly searching all the G.R.O. indexes. We tend to refer to the Index as if it is a single thing, but there are actually a number of indexes compiled by the G.R.O. They were originally issued every quarter of a year and within each quarter are arranged alphabetically by surname. From January 1984 they were issued annually. These indexes have not been put together into a master index. Furthermore, older marriage records were not at that time cross-indexed to the other spouse, making them extremely tedious to use.</p>
    <p>Other copies of the Civil Registration indexes for England and Wales are available on microfilm or microfiche, but these can be difficult to read due to the varying quality of micro-reproduction. FreeBMD has access to better quality images of the Index pages and we are able to indicate where part of an entry is not clear. Such entries can be found by a search. For more details, see <a href="/cms/help/more-about-searching#unreadable">how we indicate unreadable records</a>.</p>
    <p>In addition, FreeBMD carries out various quality and consistency checks during every update of its database (on a rolling four-week cycle on the original site). These checks identify individual records that appear to be internally inconsistent. For instance, the volume or page number is unexpected for that Registration District. In the case of a record marked as <em>possibly inconsistent</em>, FreeBMD’s checks might help you to work out what the entry <em>should be</em> and then order the correct certificate from the G.R.O.</p>
    <p class="islet islet--teal">We will be able to flag <em>possibly inconsistent</em> entries in search results on this site in due course. See also, <a href="#correctBmd">How can I correct an error in FreeBMD?</a> </p>
    <p class="push-half--bottom">What about the remainder of the British Isles?</p>
    <ul>
      <li>the <strong>Civil Registration records for Scotland</strong>, which are separate from those of England and Wales, have already been placed online on a pay-per-view basis at <a href="http://www.scotlandspeople.gov.uk">Scotland’s People</a> </li>
      <li><strong>Irish Civil Registrations</strong> are available without charge at <a href="https://civilrecords.irishgenealogy.ie/churchrecords/civil-search.jsp">Irish Genealogy</a> for the whole island of Ireland until 1922, but from then onwards they do not include the six counties that became Northern Ireland</li>
      <li><strong>records from Northern Ireland</strong> both before and after 1922 are available on a pay-per-view basis at <a href="https://geni.nidirect.gov.uk">Northern Ireland General Register Office</a> </li> 
    </ul>
    <hr class="rule" />

    <h2 id="howOperate">How does FreeBMD operate?</h2>
    <p>Volunteers throughout the world transcribe in one of a number of Syndicates. Each Syndicate Leader works under the guidance of a Volunteers’ Coordinator who is in turn guided by the FreeBMD leadership. In this way, volunteers at all levels have someone more experienced to turn to for advice.</p>
    <p>Once transcribed, data is entered into the database and made ready for searching. The database is updated periodically (on a rolling four-week cycle on the original site) with the latest available data. From time to time we update the database on this site. We are currently using the database as of 29 Jun 2021. In the future we plan to update here when the original site updates.</p>
    <p>We can also accept data from anyone doing a One-Name study.</p>
    <p>Our volunteers create data files in a number of ways. Most transcribers use our bespoke software, WinBMD and MacBMD-X, written for Windows and OS X respectively. For those who are familiar with spreadsheet or database programs, using one of these is a little more involved. A few experienced transcribers choose to use a text editor.</p>
    <p>Ultimately, all data will be entered at least twice, by independent transcribers, in order to improve the accuracy.</p>

    <h2 id="giveAccess">Could the G.R.O. give volunteers access to the source records?</h2>
    <p>In a word, <strong>no</strong>. It is illegal for anyone except the registrars to browse the source records (and even they must do so within strict guidelines which do not include checking accuracy for us).</p>

    <h2 id="runsFreebmd">Who runs FreeBMD?</h2>
    <p>FreeBMD is managed by Free UK Genealogy CIO, a charity registered in England and Wales, number 1167484.</p>
    <p>The original FreeBMD Project leadership created a charitable trust in June 2002 in order to ensure the long term stability of the project, and to gain access to grant funding. The charity took on the FreeREG and FreeCEN projects.</p>
    <p>In 2014 we changed the name to Free UK Genealogy which better reflects the aims of the charity. In 2017 Free UK Genealogy became a Charitable Incorporated Organisation (a CIO).</p>
    <p>Free UK Genealogy is committed to supporting the transcription of public records and making these available as free-access, public databases. We are registered with the Charity Commissioners as Free UK Genealogy CIO, Number 1167484. You can read the <a href="https://www.freeukgenealogy.org.uk/files/Documents/Free-UK-Genealogy-Foundation-CIOConstitution.pdf">Constitution of Free UK Genealogy (PDF)</a>.</p>
    <p>You can read more about the history of the project on our history page, view the names of the <a href="http://www.freeukgenealogy.org.uk/about/trustees/">Trustees of Free UK Genealogy</a> and visit <a href="http://www.freeukgenealogy.org.uk/">FreeUKGenealogy</a> to find out more about the work of the charity and other family history resources.</p>
    
    <h2 id="groComputerise">Are the G.R.O. already computerising the Indexes? <mark>for BETA</mark> </h2>
    <p>The G.R.O. has re-indexed all birth records up to one hundred years ago and this includes adding the mother’s maiden name to the earlier records — those before July to September 1911. These and more recent births (from 1984 to a year or two before the present), which were created digitally, can be searched.</p>
    <p>The G.R.O. has not re-indexed their marriage records, so you cannot search, but you can order copies of marriage certificates, having previously found the G.R.O. Index reference on FreeBMD, or on one of the pay-to-view sites, etc.</p>
    <p>Death records have been re-indexed to 1957, and the records from 1984, created digitally, can also be searched.</p>
    <div class="islet islet--bordered">
      <p>You can search the G.R.O. digital indexes by choosing a birth or a death, giving the gender (male or female) and the expected year of the event — exact to that year, plus or minus one year, or plus or minus two years. You do not need to order a certificate to use their search feature.</p>
      <p>However, you will need to set up a username and password and <a href="https://www.gro.gov.uk/gro/content/certificates/login.asp">register for a G.R.O. account</a>. Then log in to do a search.</p>
    </div>

    <p class="push-half--bottom">The G.R.O. Indexes up to and including 2015 (as of March 2022) are available without charge at <a href="https://www.familysearch.org/en/">FamilySearch</a> and on several pay-to-view websites. FreeBMD contains both the transcript to post-1983 records as well as copies of scans taken from the micro-fiche indexes. Please see <a href="https://www.freebmd.org.uk/progress.shtml">FreeBMD1 progress charts</a> for details of what is  now available on both FreeBMD sites. Copies of the later fiche can be consulted free of charge, in a small number of libraries: </p>
    <ul>
      <li>Manchester City Library </li>
      <li>Birmingham Central Library </li>
      <li>Bridgend Reference and Information Library </li>
      <li>Plymouth Central Library </li>
      <li>City of Westminster Archives Centre </li>
      <li>London Metropolitan Archives </li>
      <li>The British Library </li>
    </ul>
    <p>These libraries also hold fiche indexes not available elsewhere or online for civil partnerships from 2005 to 2020 and for adopted children, up to 2019.&#160;</p>
    
   
    <h2 id="dpaCoversThis">Is this information covered by Data Protection legislation?</h2>
    <p><mark>PR to update for beta</mark>
</p>
    <p>Data Protection applies to information held about living individuals. However, the G.R.O. information held by FreeBMD is publicly available and therefore not confidential in itself. FreeBMD still has to ensure that the information is held and used properly: for details you can read our <a href="/cms/terms-and-conditions">terms and conditions of use</a>.</p>
    <p>FreeBMD complies with the Data Protection Act 2018 (DPA 2018), the General Data Protection Regulation (UK GDPR).</p>
    <p>There are very limited reasons why you can request that your data is deleted, and we believe that none of these applies to the indices of Births, Marriages or Deaths registered in England and Wales. For more information, see the Information Commissioner’s Office page, <a href="https://ico.org.uk/your-data-matters/your-right-to-get-your-data-deleted/">your right to get your data deleted</a>.</p>

    <p class="islet islet--bordered">You can find out more about these two Acts on the Information Commissioner's Office (or I.C.O.) website. The <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/">I.C.O. Guide to Data Protection</a> and the <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/">I.C.O. General Data Protection Regulation (UK GDPR)</a> provide official I.C.O. guidance.</p>
    <p>Our parent charity, Free UK Genealogy CIO is registered with the <a href="https://ico.org.uk">Information Commissioner’s Office</a>, under reference number Z7436529.</p>

    <h2 id="helpFundUs">How is FreeBMD funded?</h2>
    <p>The majority of Free UK Genealogy’s income comes from hosting advertising on our sites. A growing proportion comes from donations from our users — will you join them? You can make a Donation from the <a href="https://www.freeukgenealogy.org.uk/help-us-keep-history-free">FreeUKGenealogy donations page</a>.</p>
    
        <h2 id="submitCorrection">How can I submit a correction? <mark>NEEDS REVISION FOR BETA OR REMOVAL from BETA</mark> </h2>
        <p>We can only correct our transcription mistakes and misinterpretations: we cannot correct mistakes made by the G.R.O. See the question <a href="correctEntries">Does FreeBMD correct errors in the G.R.O. Index?</a>.
    </p>
        <p>If you want us to investigate a possible correction, you must cite a <strong>valid source document</strong> for the entry. This cannot be another entry in the Index or simply family knowledge.</p>
        <p class="islet islet--bordered">To guide you through the process, we have identified various reasons why researchers might wish to raise a query, or submit a correction. When you choose an option, we show you the relevant guidance.</p>
        <p class="push-half--bottom">If you wish to submit a correction, please follow these steps: <mark>THIS SECTION NEEDS REALITY CHECKING before BETA</mark> </p>
    <ol>
          <li>select the <strong>View</strong> button for the entry in your Search Results — this will take you to the Entry Information page</li>
          <li>select the <strong>Report an Error in this data</strong> button — to take you to a Data Problem Report page</li>
          <li>use the <em>Select your query</em> drop-down to select the most appropriate statement</li>
          <li>read the Explanation below that statement</li>
          <li><em>if you agree with the explanation</em>: tick the box to confirm that you have read it and wish to submit the report</li>
          <li>fill in your name and your email address — these are both required</li>
          <li>fill in your description of the problem, or your suggested correction (as appropriate)</li>
          <li>select <strong>Submit</strong> </li>
        </ol>
        <p>If you decide not to submit a correction, you could provide information to another researcher using a Postem (note). On the Entry Information page, select the envelope icon in the ‘More Information’ row.</p>
    

    <h2 id="correctBmd">How can I correct an error in FreeBMD?</h2>
    <p>We are happy to correct errors in our transcriptions — we are trying to get as accurate as possible a copy of what the G.R.O. Index says.</p>  
    <p>Because we are making an accurate copy of the G.R.O. index, we do not correct mistakes or differences that were recorded earlier in the process. Transcribers who notice potential errors will add a comment about it to the record.  We encourage you, too, to note errors made earlier in the process and make any information you have about the person mentioned or the event available to other researchers through adding a note (also known as a Postem) to the record.</p>  
    <p>If you have checked the images of the index which we have transcribed, you can let us know of a discrepancy by submitting a correction. To do this, go to the Entry Information page for the record you wish to correct, and use the "Report an Error in this Data" button.</p> 
    <p>You can read an existing Postem (a note) or add one of your own from the expanded version of the Entry Information Page. The line ‘More Information’ contains several symbols and the envelope symbol is for Postems. Selecting it reloads the Entry Information page in its expanded form. See for example the image of the Entry Information page for Harry Clarke Dent also shown on our Help page).</p>
    <figure class="site">
      <%= image_tag 'harry-dent-1870.png?sha=5fa44424905f776c', alt: 'Harry Dent 1870', width: 542, height: 568 %>
      <figcaption>Entry information showing the icons in the ‘More information’ row</figcaption>
    </figure>
    
    <h2 id="correctGro">How can I correct errors in the G.R.O. Index? <mark>For BETA</mark> </h2>
    <p>You can  request that the G.R.O. corrects their index. <a href="https://www.gro.gov.uk/gro/content/certificates/contact_us.asp">Contact the G.R.O. with the appropriate information</a>. When they agree to the correction please  let us know (via "Contact support" <mark>Is this the Contact form or the "Report a problem with this data" button, or something else? If the first, which subject (Nature of contact?]</mark>) and we will annotate FreeBMD appropriately.</p>
    <p>Unfortunately, the G.R.O. has no method of informing the many holders of the Index (both online and physical) of any corrections that they make.</p>
    

    <h2 id="livingPersons">Can the FreeBMD database help me find a living person?</h2>
    <p>FreeBMD is of very limited use for tracing living persons. FreeBMD is also of limited use in finding out if a person is still living due to our limited coverage of deaths after the 1980s. See charts of the <a href="https://www.freebmd.org.uk/progressD.shtml">percentage coverage of Deaths by years on the original FreeBMD site</a> for more information.</p>
    <p>Look 4 Them is a group which brings together six organisations who might be able to help. We suggest you visit the <a href="https://www.look4them.org.uk">UK website of Look 4 Them</a>.</p>
    <p>There is a charity which provides support and guidance for people who are missing, and those trying to find them, whether they have been missing for a few hours, or many years.  It is called <a href="https://www.missingpeople.org.uk/">Missing People</a>.</p>
    <p>Please bear in mind that a number of resources will charge for their services, whereas others are free.</p>
    <p>If you are trying to trace your birth parents, the <a href="https://www.gov.uk/adoption-records">G.R.O.’s Adoption records page</a> explains how to access <strong>your</strong> birth records. If you were adopted, WikiTree's Adoption Angels are volunteers who might be able to help. See the <a href="https://www.wikitree.com/wiki/Project:Adoption_Angels">WikiTree Adoption Angels project page</a> for more information.</p>

    <h2 id="removeMyEntry">Please can you remove my entry?</h2>
    <p>We cannot remove entries. There is no way of excluding entries and, indeed, it would be in violation of our accuracy commitment to do so.</p>
    <p>The G.R.O. Index of Births, Marriages and Deaths for England and Wales is publicly available information and as such it is not covered by the Data Protection Act 2018 (DPA 2018). In addition to FreeBMD, the G.R.O. Index is accessible from a number of sources, both online and in person, and therefore removal from the FreeBMD database would have little effect in hiding the information.</p>
    <p>For further information, please <a href="https://www.gro.gov.uk/gro/content/certificates/contact_us.asp">contact the G.R.O.</a> </p>

  </div>
</div>