<h1>DRAFT - Progress Marriages</h1>

<h2 id="Top">Coverage Charts - Marriages</h2>
<p>FreeBMD is an &lt;a href='/FAQ.html#1'&gt;ongoing project&lt;/a&gt;, the aim of which is to transcribe the Civil Registration index of births, marriages and deaths for England and Wales, and as such the whole index has not yet been transcribed. To see graphs of the percentage completion for a particular quarter click on one of the following links:</p>
<ul><li><a href="#y1837">1837 - 1849</a>
</li>
<li><a href="#y1850">1850 - 1869</a>
</li>
<li><a href="#y1870">1870 - 1889</a>
</li>
<li><a href="#y1890">1890 - 1909</a>
</li>
<li><a href="#y1910">1910 - 1929</a>
</li>
<li><a href="#y1930">1930 - 1949</a>
</li>
<li><a href="#y1950">1950 - 1969</a>
</li>
<li><a href="#y1970">1970 - 1983</a>
</li>
<li><a href="#y1984">1984 - 1992</a>
</li>
</ul>
<p>The database is updated approximately monthly with additional records and the number of records transcribed since the previous update is shown in a lighter colour. Please note that the percentage completions are based on estimates and, in particular, a value of 100% does not guarantee that all entries have been transcribed. See below for more information.</p>
<p>Information about other events is available here:</p>
<ul><li>[link = Progress-Births] Births
</li>
<li>[link = progress-deaths] Deaths
</li>
</ul>
<p>A count (rather than a percentage completion graph) of the number of records transcribed for each event and year is available [link=/EntryCounts.pl] here.</p>
<h2 id="y1837">Percentage of Marriage held in FreeBMD by year (1837 - 1849)</h2>
<p><img alt="Marriages 1837 - 1849" src="/stats/progm1837_1849.gif" /></p>
<p><a href="#top">Top of page</a>
</p>
<h2 id="y1850">Percentage of  Marriages held in FreeBMD by year (1850 - 1869)</h2>
<p><img alt="Marriages 1850 - 1869" src="./stats/progm1850_1869.gif" /></p>
<p><a href="#top">Top of page</a>
</p>
<h2 id="y1870">Percentage of Marriages held in FreeBMD by year (1870 - 1889)</h2>
<p><img alt="marriages 1870 - 1889" src="./stats/progm1870_1889.gif" /></p>
<p><a href="#top">Top of page</a>
</p>
<h2 id="y1890">Percentage of Marriages held in FreeBMD by year (1890 - 1909)</h2>
<p><img alt="marriages 1890 - 1909" src="/stats/progm1890_1909.gif" /></p>
<p><a href="#top">Top of page</a>
</p>
<h2 id="y1910">Percentage of Marriages held in FreeBMD by year (1910 - 1929)</h2>
<p><img alt="marriages 1910 - 1929" src="/stats/progm1910_1929.gif" /></p>
<p><a href="#Top">Top of page</a>
</p>
<h2 id="y1930">Percentage of Marriages held in FreeBMD by year (1930 - 1949)</h2>
<p><img alt="marriages 1930 - 1949" src="/stats/progm1930_1949.gif" /></p>
<p><a href="#Top">Top of page</a>
</p>
<h2 id="y1950">Percentage of Marriages held in FreeBMD by year (1950 - 1969)</h2>
<p><alt="marriages 1950="" -="" 1969"="" src="/stats/progm1950_1969.gif"></alt="marriages></p>
<p><a href="#Top">Top of page</a>
</p>
<h2 id="y1970">Percentage of Marriages held in FreeBMD by year (1970 - 1983)</h2>
<p><img alt="marriages 1970 - 1983" src="/stats/progm1970_1983.gif" /></p>
<p><a href="#Top">Top of page</a>
</p>
<h2 id="y1984">Percentage of Marriages held in FreeBMD by year (1984 - 1992)</h2>
<p><img alt="marriages 1984 - 1992" src="/stats/progm1984_1992.gif" /></p>

