<h1>DRAFT - Progress Births</h1>


<p>FreeBMD is an [ link =/FAQ.html#1'] ongoing project, the aim of which is to transcribe the Civil Registration index of births, marriages and deaths for England and Wales, and as such the whole index has not yet been transcribed. 
  </p>
<h2 id="Top">Coverage Charts - Births </h2>
 <p> To see graphs of the percentage completion for a particular quarter click on one of the following links: </p>
  <ul>
      <li> <a href="#y1837">1837 - 1849</a> </li>
      <li> <a href="#y1850">1850 - 1869</a> </li>
      <li> <a href="#y1870">1870 - 1889</a> </li>
      <li> <a href="#y1890">1890 - 1909</a> </li>
      <li> <a href="#y1910">1910 - 1929</a> </li>
      <li> <a href="#y1930">1930 - 1949</a> </li>
      <li> <a href="#y1950">1950 - 1969</a> </li>
      <li> <a href="#y1970">1970 - 1983</a> </li>
      <li> <a href="#y1984">1984 - 1992</a> </li>
  </ul>
  <p> The database is updated approximately monthly with additional records and the number of records transcribed since the previous update is shown in a lighter colour. Please note that the percentage completions are based on estimates and, in particular, a value of 100% does not guarantee that all entries have been transcribed. See below for more information. </p>
  <p>  Information about other events is available here: </p>
    <ul>
       <li> [link=Progress-Marriages"] Marriages </li>
       <li> [link= Progress-Deaths] Deaths </li>
   </ul>
  <p> A count (rather than a percentage completion graph) of the number of records transcribed for each event and year is available [link= EntryCounts.pl" ] here. </p>
  <h2 id="y1837">  Percentage of Births held in FreeBMD by year (1837 - 1849) </h2>
<img alt="births 1837 - 1849" src="/stats/progb1837_1849.gif" />
<p><a href="#Top">Top of page</a> </p>
  <h2 id="y1850"> Percentage of Births held in FreeBMD by year (1850 - 1869)</h2>
<img alt="births 1850 - 1869" src="/stats/progb1850_1869.gif" />
<p><a href="#Top">Top of page</a> </p>
  <h2 id="y1870"> Percentage of Births held in FreeBMD by year (1870 - 1889) </h2>
<img alt="births 1870 - 1889" src="/stats/progb1870_1889.gif" />
<p><a href="#Top">Top of page</a> </p>
  <h2 id="y1890"> Percentage of Births held in FreeBMD by year (1890 - 1909) </h2>
<p><img alt="births 1890 - 1909" src="./stats/progb1890_1909.gif" /></p>
<p><a href="#Top">Top of page</a>
</p>
<h2 id="y1910">Percentage of Births held in FreeBMD by year (1910 - 1929)</h2>
<p><img alt="births 1910 - 1929" src="/stats/progb1910_1929.gif" /></p>
<p><a href="#Top">Top of page</a>
</p>
<h2 id="y1930">Percentage of Births held in FreeBMD by year (1930 - 1949)</h2>
<p><img alt="births 1930 - 1949" src="/stats/progb1930_1949.gif" /></p>
<p><a href="#Top">Top of page</a>
</p>
<h2 id="y1950">Percentage of Births held in FreeBMD by year (1950 - 1969)</h2>
<p><img alt="births 1950 - 1969" src="/stats/progb1950_1969.gif" /></p>
<p><a href="#Top">Top of page</a>
</p>
<h2 id="y1970">Percentage of Births held in FreeBMD by year (1970 - 1983)</h2>
<p><img alt="births 1970 - 1983" src="/stats/progb1970_1983.gif" /></p>
<p><a href="#Top">Top of page</a>
</p>
<h2 id="y1984">Percentage of Births held in FreeBMD by year (1984 - 1992)</h2>
<p><img alt="births 1984 - 1992" src="/stats/progb1984_1992.gif" /></p>
<p><a href="#Top">Top of page</a>
</p>
  <h2> How the percentages are calculated </h2>
  <p> The percentage coverage given by the above graphs is only an estimate for the following reason: </p>
     <ul>
         <li> The total number of entries in a year is based on GRO figures which may not be accurate. </li>
         <li> Where entries have been transcribed twice (for validation) we make an estimate of whether two entries that are different should be counted once or twice. </li>
  </ul>
  <p> In view of this the percentages can be up to 3% out, for example a percentage of 60% could in reality be anything between 57% and 63%. However, most of the time the percentages are within 2%. </p>
