<h1>Free UK Genealogy – Transcriber Agreement</h1>

<div class="grid">
    <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
        <p>Thank you for agreeing to contribute data to one or more of our databases. We are Free UK Genealogy (“we”, “us”, “our”). In order to make proper use of your data as part of our genealogical database, we need you to agree to the following terms. In return for our considering, and if we accept it, using any data you contribute, you agree to the terms and conditions set out below.</p>

        <p><strong>In summary</strong>: we ask you to license us to use any intellectual property rights you may own in the data you contribute. You retain ownership of those rights. We also ask that you only contribute data when you have a right to do so.</p>

        <p class="flush--bottom">In this agreement:</p>
        <ul>
            <li> “our database” refers to any database project managed by us, including FreeBMD, FreeReg and FreeCen</li>

            <li>“your contribution” refers to all data you contribute to our database and terms such as “contribute” are to be understood accordingly.</li>
        </ul>

        <h2>Licence of rights</h2>

        <p>By agreeing to these terms you immediately grant a licence to us (“your licence”) of any: • copyright • database right • moral right • or any analogous right in your contribution. Your licence includes any of these rights you have now and any you may acquire in the future, but is restricted to rights that you are, or will be able to, license. You will continue to own your intellectual property rights.</p>

        <h2>Terms of your licence to us</h2>

        <p>Your licence is an irrevocable, perpetual, worldwide, royalty-free, non-exclusive licence to do any act which would otherwise require our permission because of your ownership of any of the licensed rights.</p>

        <p>Your licence is not restricted to any particular kind of use, for example it permits us to make commercial use of your contribution.</p>

        <p>Your licence includes a right, on our behalf, to give the same licence to any other person.</p>

        <h2>What we will do with your data</h2>

        <p>We reserve the right not to accept any data, or, if we have accepted data, to remove that data from our database at a later date. We may do so because we believe the data is not of sufficiently high quality, or that we are required by law to exclude it or for any other reason.</p>
        <p> If we do include your data in our database, we will take all reasonable steps to ensure that the database is available on the internet under an “open licence”. For the purpose of this agreement an “open licence” is one of:</p>
        <ul>
            <li><a href="http://opendatacommons.org/licenses/odbl/1-0/" target="_blank" title="http://opendatacommons.org/licenses/odbl/1-0/">ODbL1.0</a> for the database and <a href="http://opendatacommons.org/licenses/dbcl/1-0/" target="_blank" title="http://opendatacommons.org/licenses/dbcl/1-0/">DbCL 1.0</a> for the individual contents of the database;</li>
<li><a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" title="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>;</li>
            <li>any other licence approved by a two thirds majority of active transcribers.</li>
        </ul>

        <p>An “active transcriber” is a natural person (whether using a single or multiple accounts) who:</p>
        <ul>
            <li>has contributed any substantive information to any of our databases during the 12 months prior to being asked to vote</li>
            <li>has a valid and functioning email address in their registration profile at the time an email offering the right to vote is sent</li>
            <li>responds to an offer to vote within 3 weeks.</li>
        </ul>

    <h2>What you must do</h2>

    <p>We understand that intellectual property rights are complicated and particularly so in the area of genealogical data. For example we are aware that the copyright status of many collections and transcripts is disputed.</p>

    <p>What we ask of you is that you do not contribute any data if you: • know or • have reason to believe that the data is subject to the relevant intellectual property rights of someone else and they have not given their permission for the data to be contributed to us under these terms.</p>

    <h2>Data licensed by others</h2>

    <p>In some situations you may wish to contribute data that is licensed by someone else under a licence that you believe is compatible with our use of the data. Some of these licences – for example the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/" target="_blank" title="http://www.nationalarchives.gov.uk/doc/open-government-licence/">Open Government Licence</a> – may impose conditions on our use or publication of our database. In order for you to be able to contribute any such data we will need to ensure that their licence is compatible with our use. We therefore ask that you do not contribute any data licensed by someone else unless we agree that it is a “compatible licence”. If you wish to know whether or not a license is compatible then please contact the <a href="mailto:%65%78%65%63%64%69%72%40%66%72%65%65%62%6d%64%2e%6f%72%67%2e%75%6b?subject=Transcriber%20Agreement" title="execdir@freebmd.org.uk">Executive Director</a> for confirmation.</p>

    <h2>Liability</h2>

    <p>It is not intended that this agreement should result in either we or you claiming damages from the other, so, to the extent that it is possible to do so by law, neither party shall be liable to the other for damages, whether for breach of this agreement or for any other reason.</p>

    <h2>Proper law</h2>

    <p>This agreement is intended to have legal effect as a contract made under the laws of England and Wales and the parties agree that the courts of England and Wales shall have jurisdiction to hear any dispute arising from it.</p>

    </div>
</div>
