<h1>Use of Existing Transcripts.</h1>

<p><span class="loz islet--orange">Covered elsewhere? </span> </p>
 
  <title>Use of Existing Transcripts</title>


<hr />

<p>
If you have already transcribed data from parish or non-conformist church
baptism, marriage and burial registers, then we would be very happy indeed
to hear from you!
</p>
<p>
<strong>Please note that we will not be publishing
your transcripts on Internet web pages or made available as files to download.
They will not be sold on CD or disk or in printed form. None of that is the
objective of FreeREG. </strong>
</p>
<p>
<strong>FreeREG is for people to do lookups in the on-line database, searching
for one surname at a time.</strong>
</p>
<p>
If you are happy to allow the data you have transcribed to be included in
the FreeREG database, then we would be very pleased to hear from you.
</p>
<h2>Simply send an email to our <a href="mailto:reg-volunteer@freereg.org.uk?subject=Volunteering Data for FreeREG">Volunteer Coordinator</a> </h2>
<p>In the email let us know what you have, for which county and the form in which the data is currently stored; eg paper, file, spreadsheet or database.</p>

<table>
    <tbody>
        <tr>
            <th>Non-computer transcripts</th>
            <td>If you have made a transcript of a register either by hand or type-written,
      then that will need to be entered into a computer file. We appreciate that
      this may be a big task! However, we do have some volunteers who would help
      to do that from a photocopy of your work.</td>
        </tr>
        <tr>
            <th>Transcripts using a word processor or on a web page.</th>
        <td>Because the data you have transcribed is not in the format which we would
      use to enter data into the FreeREG database, then the data will need to be
      manipulated first. This effectively means that it will need to be converted
      into a format which the database accepts. If you can do this,
      (and have the time) then fine (see
      <a href="../howto/convertdata.htm">Converting Data</a>). Sometimes it can
      be quite a complicated and time-consuming task. If you don't have the time
      or expertise, then we would be happy to do this for you.<br />
      All we need from you is a copy of the file on disk, or attached to an e-mail.</td>
        </tr>
        <tr>
            <th>Transcripts on a spreadsheet or a database</th>
            <td>Great! We may be most of the way there. Even though your data may not be
      in our standard format, we can very easily convert it. If you can do this,
      (and have the time) then fine (see
      <a href="../howto/convertdata.htm">Converting Data</a>).</td>
        </tr>
    </tbody>
</table>