/*------------------------------------*\
    $FONTS
\*------------------------------------*/

@font-face {
  // font-family: "Foundry Sterling W01 Bd";
  font-family: "Foundry Sterling";
  font-weight: bold;
  font-style: normal;
  src: url("../../fonts/c38e285c-f21e-4adc-92bd-8b51ea465101.eot?#iefix");
  src: url("../../fonts/c38e285c-f21e-4adc-92bd-8b51ea465101.eot?#iefix") format("eot"),
       url("../../fonts/811fbecc-62c1-4b3d-8542-db71a661e012.woff") format("woff"),
       url("../../fonts/70189f1b-eed0-4625-992e-f4867c80eb5c.ttf") format("truetype"),
       url("../../fonts/babf4e66-b5fc-48af-a276-77c327d9ac9a.svg#babf4e66-b5fc-48af-a276-77c327d9ac9a") format("svg");
}

@font-face {
  // font-family: "Foundry Sterling W01 Bk";
  font-family: "Foundry Sterling";
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/0fa8c670-f412-45ca-849d-1aded30eb86a.eot?#iefix");
  src: url("../../fonts/0fa8c670-f412-45ca-849d-1aded30eb86a.eot?#iefix") format("eot"),
       url("../../fonts/1c874867-515c-4fdd-9fae-7c37237fba27.woff") format("woff"),
       url("../../fonts/a5c117b0-930c-40ac-b4b7-1fac7ea445f7.ttf") format("truetype"),
       url("../../fonts/7c3bed3a-232e-4f9b-9013-16f12661a829.svg#7c3bed3a-232e-4f9b-9013-16f12661a829") format("svg");
}

@font-face {
  // font-family: "Foundry Sterling W01 Bk It";
  font-family: "Foundry Sterling";
  font-weight: normal;
  font-style: italic;
  src: url("../../fonts/5a9062d2-7473-4f10-98b2-f25e6a172b42.eot?#iefix");
  src: url("../../fonts/5a9062d2-7473-4f10-98b2-f25e6a172b42.eot?#iefix") format("eot"),
       url("../../fonts/c0f75adc-d683-440e-b3eb-639cbff32b68.woff") format("woff"),
       url("../../fonts/cc35a4ac-d402-4bc7-a6fb-425d5cd2d88b.ttf") format("truetype"),
       url("../../fonts/c007631e-0e12-4f23-8088-a7e5b0eee390.svg#c007631e-0e12-4f23-8088-a7e5b0eee390") format("svg");
}

@font-face {
  // font-family: "Foundry Sterling W01 Lt";
  font-family: "Foundry Sterling";
  font-weight: lighter;
  font-style: normal;
  src: url("../../fonts/835a52cb-78e2-498c-bcc1-78b89c38fe9a.eot?#iefix");
  src: url("../../fonts/835a52cb-78e2-498c-bcc1-78b89c38fe9a.eot?#iefix") format("eot"),
       url("../../fonts/a48c29e8-8de1-4e90-82a1-5e025a284ae5.woff") format("woff"),
       url("../../fonts/cde1f0bd-b628-489b-a95d-2048acf1460a.ttf") format("truetype"),
       url("../../fonts/c5b9070a-700b-425a-84a5-9fd846ba5455.svg#c5b9070a-700b-425a-84a5-9fd846ba5455") format("svg");
}
