/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/

/**
 * Override most of the inuit ones to sort out the line-height
 */
h1,.alpha{
  line-height: 1.3;
}
h2,.beta{
  line-height: 1.3;
}
h3,.gamma{
  line-height: 1.4;
}
h4,.delta{
  line-height: 1.5;
}
h6,.zeta{
  line-height: 1.5;
}
