<% breadcrumb :download_file%>
<p style="text-align: center"><b>Download of file complete></b></p>

 <% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
     <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %>  
     <ul>
    <% @csvfile.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    <div >
     
