<h1 id="body_content_title">Your reviews</h1>

<style scoped="scoped">
  figure.bq {
    border-left: 5px solid #825DA8;
    margin: 0;
    margin-left: 1.556rem;
    margin-bottom: 1.556rem;
    padding: 1em;
    padding-left: 50px;
  }
  figure.bq:nth-of-type(2n) {
    border-color: #919191;
  }
  figure.bq blockquote {
    position: relative;
    text-indent: 0;
    margin: 0;
    padding: 0;
  }
  figure.bq blockquote::before {
    content: "\201C";
    color: #825DA8;
    font-size: 3.6em;
    font-family: 'Helvetica', Arial, sans-serif;
    position: absolute;  
    left: -30px;
    top: -23px;
  }
  figure.bq:nth-of-type(2n) blockquote::before {
    color: #919191;
  }
  figure.bq blockquote p { margin: 0; margin-bottom: 14px; }
  figure.bq blockquote p:last-of-type { margin-bottom: 0; }
  figure.bq blockquote p::before, figure.bq blockquote p::after {
    content: ' ';
  }
  figure.bq figcaption {
    margin-top: 1em;
    margin-top: 0.3em;
    font-style: italic;
    color: #737373; /* value in use for image captions */
  }
  figure.bq figcaption:before {
    content: '— ';
  }  
</style>

<p><mark>TO DO: #1326 — create form &amp; link to it, with warning re accessibility. AO 12 May 2026</mark> </p>
<p><mark>TO DO: #1326 — add link to here from About page. AO 12 May 2026</mark> </p>

<div class="grid">
  <div class="grid__item three-fifths lap-four-fifths palm-one-whole">
    <p class="lead">A selection of messages sent by researchers, pleased to have found their ancestors in our database.</p>
    <p>Have something to add? Please use our <a href="#leaveReview">Leave a Review for FreeCEN</a> form, at the foot of the page. Thank you.</p>
    <hr class="rule" />

		<figure class="bq">
			<blockquote>
				<p>I'd consider [commercial website] and FreeCen to be the most accurate transcriptions of UK censuses , because they're done in the UK by people who know the territory re names and places</p>
			</blockquote>
			<figcaption>Reddit user</figcaption>
		</figure>
		
		<figure class="bq">
			<blockquote>
				<p>Like it's sister sites ( FreeBMD &amp; Freereg) Freecen is another valuable source, I often use it to do quick checks or to see if i can find a family that is eluding me on other sources , and of course this is all free for when subscriptions to other sites lapse :)</p>
			</blockquote>
			<figcaption>Facebookuser</figcaption>
		</figure>
		
		<figure class="bq">
			<blockquote>
				<p>FreeCEN It keeps family history within the reach of many who might be discouraged by the price of subscription services, especially in the early stages of their research.</p>
			</blockquote>
			<figcaption>British-Genealogy.com user</figcaption>
		</figure>
		
		<figure class="bq">
			<blockquote>
				<p>FreeCEN is very useful for checking that you have found the household you are looking for on Scotland’s People before you spend any credits = I have also found households that Scotland’s People has errors in the indexing</p>
			</blockquote>
			<figcaption>Anonymous user</figcaption>
		</figure>
		
		<figure class="bq">
			<blockquote>
				<p>Always. It keeps family history within the reach of many who might be discouraged by the price of subscription services, especially in the early stages of their research.</p>
			</blockquote>
			<figcaption>British-Genealogy.com user</figcaption>
		</figure>
		
    <p>Last updated 12 May 2026</p>
		
	</div>
</div>
<hr class="rule rule--ornament">
<h2 id="leaveReview">Leave us your review</h2>
<p class="read-length">If you are unable to use the form comfortably, please send your Review by email to info@freeukgenealogy.org.uk</p>
<p>[Form to be inserted here]</p>
