<h1>FreeCEN Newsletters</h1>

<div class="grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="lead">You can use the links in the “<a href="#downloads">Downloads available</a>” box to view or download any of the FreeCEN Newsletters from the last twelve months.</p>
    <p>The newsletters will open in <em>this</em> tab unless you tell your browser to do otherwise: for example, if you are on Windows and can use a mouse, then right-click the link and choose from the context menu that appears.</p>

    <h2>Limitations of the PDFs</h2>
    <p>If you are on Windows, you will probably find viewing the newsletter in a browser, rather than a PDF reader, the better option.</p>
    <p>Because the newsletters are all very basic PDFs (that is, they are in Portable Document Format), they will not be fully accessible for everyone: for example, if you are a screen reader user, the best way to get limited access on a Mac is to open the file in Preview and use VoiceOver. We simply do not know what might work best on Windows or Linux as we currently have no way to test screen readers there.</p>

    <h2>Get in touch</h2> 
    <p>If you want to get in touch about our newsletters, please select the “Newsletters” option on the <a href="/contacts/new">Contact form</a> — thank you for supporting FreeCEN!</p>
  </div>
  <div class="grid__item two-fifths lap-one-third palm-one-whole">
    <nav aria-labelledby="downloads">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="downloads">Downloads available</h2>
        <ol class="sub-nav">
          <li><a href="/freecen/newsletters/newsletter_2026_04.pdf">Apr 2026 Newsletter (PDF, 898 kB)</a> </li>
          <li><a href="/freecen/newsletters/newsletter_2026_03.pdf">Mar 2026 Newsletter (PDF, 1.6 MB)</a> </li>
          <li><a href="/freecen/newsletters/newsletter_2026_02.pdf">Feb 2026 Newsletter (PDF, 910 kB)</a> </li>
          <li><a href="/freecen/newsletters/newsletter_2026_01.pdf">Jan 2026 Newsletter (PDF, 360 kB)</a> </li>
          <li><a href="/freecen/newsletters/newsletter_2025_12.pdf">Dec 2025 Newsletter (PDF, 1 MB)</a> </li>
          <li><a href="/freecen/newsletters/newsletter_2025_11.pdf">Nov 2025 Newsletter (PDF, 586 kB)</a> </li>
          <li><a href="/freecen/newsletters/newsletter_2025_10.pdf">Oct 2025 Newsletter (PDF, 952 kB)</a> </li>
          <li><a href="/freecen/newsletters/newsletter_2025_09.pdf">Sep 2025 Newsletter (PDF, 2 MB)</a> </li>
          <li><a href="/freecen/newsletters/newsletter_2025_08.pdf">Aug 2025 Newsletter (PDF, 582 kB)</a> </li>
          <li><a href="/freecen/newsletters/newsletter_2025_07.pdf">Jul 2025 Newsletter (PDF, 7.5 MB)</a> </li>
          <li><a href="/freecen/newsletters/newsletter_2025_06.pdf">Jun 2025 Newsletter (PDF, 1.56 MB)</a> </li>
          <li><a href="/freecen/newsletters/newsletter_2025_05.pdf">May 2025 Newsletter (PDF, 144 kB)</a> </li>
          <li><a href="/freecen/newsletters/newsletter_2025_04.pdf">Apr 2025 Newsletter (PDF, 479 kB)</a> </li>
        </ol>
      </div>
    </nav>
  </div>
</div>