// Place all the styles related to the ManageResources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.menu_box {
    box-sizing: border-box;
    width: 12%;
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 






 select {
    border: 0 !important; /*Removes border*/
    -webkit-appearance: none; /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    background: #FFF    no-repeat 90% center;
    width: 150px; /*Width of select dropdown to give space for arrow image*/
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: ""; /*Removes default arrow from firefox*/ /*My custom style for fonts*/
    color: #000033;
    border-radius: 15px;
    padding: 5px;
    box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
    }
  