// Place all the styles related to the SearchRecords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#container {
    width: 1024px;
    margin: 0 auto;
    padding: 20px;
    border: 1px dashed #000;
}

table {
    width: 600px;
    margin: 0 auto;
}

table td {
    width: 50%;
}

