// Place all the styles related to the SearchRecords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/** { margin: 0; padding: 0; }*/
/** {border: 1px solid #000;}*/

#container {
    display: table;
    width: 100%;
}

#nav {
    background: none repeat scroll 0 0 #AABBCC;
    display: table-cell;
    margin: 10px;
    width: 20%;
}

#content {
    background: none repeat scroll 0 0 #CCBBAA;
    display: table-cell;
    margin: 10px;
    width: 80%;
}

#content h1,h2,h3 {
    margin: 30px auto;
    width: 800px;
}

#header {
    height: 100px;
    background-color: #000;
}

table {
    width: 600px;
    margin: 0 auto;
}

table td {
    width: 50%;
}

