<h1>Register types</h1>

<div class="grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="lead">The Register type indicates the source of a record and is appended to the Church name. For example, the Parish Register of All Saints church would be entered as All Saints PR.</p>
    <p>Please note that if you are using a spreadsheet with Flexible CSV, the register type has its own field.</p>
    
  </div>	
  
  <div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <nav aria-labelledby="thisPage">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="thisPage">On this page</h2>
        <ul class="sub-nav">
          <li><a href="#background">Background</a> </li>
          <li><a href="#sources">Transcription sources</a> </li>
        </ul>
      </div>
    </nav>
    
    <aside aria-labelledby="regTypes" class="islet islet--bordered">
      <h2 class="banner__title push-half--bottom" id="regTypes">Register Types &amp; codes</h2>
      <ul class="nav nav--stacked">
        <li>Parish Register — PR</li>
        <li>Other Register — OR</li>
      </ul>
      <ul class="nav nav--stacked">
        <li>Archdeacon’s Transcript — AT</li>
        <li>Bishop’s Transcript — BT</li>
        <li>Phillimore’s Transcript — PT (PH)</li>
        <li>Dwelly’s Transcript — DT (DW)</li>
        <li>Other Transcript — OT (TR)</li>
      </ul>
      <ul class="nav nav--stacked">
        <li>Extract of a Register — EX</li>
        <li>Memorial Inscription — MI</li>
        <li>Unknown Source — UK</li>
        <li>Unspecified — (blank)</li>
      </ul>
      <p>Unspecified should not be used for new transcriptions.<br /> Please do not change the older codes (TR, DW, PH) for existing batches, but do use the updated codes (OT, DT, PT) for new transcriptions.</p>
    </aside>
  </div>

  <section class="grid__item three-fifths lap-two-thirds palm-one-whole">

    <h2>Background</h2>
    <p>Every transcription is identified by a code to indicate the origin and hence give some idea of the likely accuracy.  It is very possible that a search result will appear more than once if it has been transcribed from different sources.  If they are different, we leave it up to the researcher to decide which is correct.</p>
    <p>Some transcriptions contain just the basic reference information, some hold a great deal of detail, including the transcriber's comments and interpretations.  So it is worth looking at all entries if more than one comes up in a search.</p>
        
    <h2>Transcription sources</h2>
        
    <h3>Parish Register (PR)</h3>
    <p>Transcription has been made directly from images of the original Parish Register.</p>
        
    <h3>Other Register (OR)</h3>
    <p>Transcription has been made from other original documents that we have received, such as Nonconformist registers, Quaker Meetings books, Roman Catholic records, G.R.O. Original handwritten Records, Public Cemetery records, and in due course Registry Office entries.</p>
    <p>We also include Birth and Death records, especially if these are before 1837 as this may be the only available record.  The FreeBMD website only includes the G.R.O. Indexes from 1837 and does not contain the level of detail that we hold.</p>
        
    <h3>Archdeacon’s Transcript (AT)</h3>
    <p>Transcription has been made from the Archdeacon’s records, which are extracts and transcriptions from the Parish Registers.  These are not necessarily a full set of records.</p>
        
    <h3>Bishop’s Transcript (BT)</h3>
    <p>Transcription has been made from the Bishop’s records.  These were returns made by the Parish and were often made in a hurry to fulfil the vicar’s need to make a report to the Bishop.  They are not that accurate, but can be a useful check against bad writing or damaged Parish Registers.</p>
    
    <h3>Phillimore’s Transcript (PT)</h3>
    <p>Transcription has been made from from the books printed in the 1900s.  But there are printing errors and they are not the full contents of the Parish Registers.</p>
    
    <h3>Dwelly’s Transcripts (DT)</h3>
    <p>Transcription has been made from these printed books.  But there are printing errors and they are not the full contents of the Parish Registers.</p>
    
    <h3>Other Transcript (OT)</h3>
    <p>Transcription has been made from someone else’s work in transcribing the register.  Or the Transcription has been made by converting a transcript that has been donated to us.  We have not transcribed or checked these transcriptions.</p>
    
    <h3>Extract of a Register (EX)</h3>
    <p>Transcription has been made from work usually done by someone researching their family.  They are usually just selected names.  But they are useful for cross checking.</p>
    
    <h3>Memorial Inscription (MI)</h3>
    <p>Transcription has been made from the grave headstones. Normally we do not include these, but where Parish Registers are missing, these can be the only record.  They are useful for cross checking and for finding links to family members.</p>
    
    <h3>Unknown Source (UK)</h3>
    <p>Transcription has been made from work where we do not know the source, such as a website.  This is different from a Donated Transcription in that we have had to transcribe the work.</p>

    <h3>Unspecified (blank)</h3>
    <p>The transcription was uploaded into the FreeREG database in the early days and so we do not now know the source.</p>
        
  </section>
</div>