<h1>The Gap system</h1>

<style scoped="scoped">
figcaption {
  font-style: italic;
  color: #737373; /* 4.74:1 */
  margin-top: 0.3em;
}
figure.site img {
  border: 2px solid #00a099;
  padding: 0.3em;
}
figure.image-wide img {
  width: 100%;
  height: auto;
}
</style>

<div class="grid">
  <div class="grid__item three-fifths lap-one-half palm-one-whole">
    <p class="lead">Gaps are periods of time for which we have no entries. The Gap system allows us to acknowledge Gaps that are at least one year long in any register or batch of a Parish Register (PR) type.</p>
  </div>
  <div class="grid__item two-fifths lap-one-half palm-one-whole float--right">
    <nav aria-labelledby="thisPage">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="thisPage">On this page</h2>
        <ul class="sub-nav">
          <li><a href="#intro">Introduction</a> </li>
          <li><a href="#transcriberActions">Transcriber Gap actions</a> </li>
          <li><a href="#scActions">Syndicate Coordinator Gap actions</a> </li>
          <li><a href="#ccActions">County or Country Coordinator Gap actions</a> </li>
        </ul>
      </div>
    </nav>

    <aside aria-labelledby="relatedPages" id="helpMenu">
      <div class="islet islet--bordered">      
        <h2 class="title-block" id="relatedPages">Transcriber Help</h2>
        <ul class="sub-nav">
          <li><a href="/information-for-transcribers">Information for transcribers</a> </li>
          <li><a href="/information-for-transcribers/creating-a-transcription-file">Creating a transcription file</a> </li>
          <li><a href="/information-for-transcribers/using-the-image-server">Using the Image Server</a> </li>
          <li><a href="/information-for-transcribers/entering-data-from-registers">Entering data from registers</a> </li>
          <li><a href="/information-for-transcribers/flexible-csv-format">Flexible CSV format</a> </li>
          <li><a href="/information-for-transcribers/dealing-with-uncertainty">Dealing with uncertainty</a> </li>
          <li><a href="/information-for-transcribers/numbers-and-dates">Numbers and dates</a> </li>
          <li><a href="/information-for-transcribers/chapman-codes">Chapman codes</a> </li>
          <li><a href="/information-for-transcribers/file-and-batch-actions">File and Batch actions</a> </li>
          <li class="active"><a href="/information-for-transcribers/the-gap-system">The Gap system (this page)</a> </li>
          <li><a href="/information-for-transcribers/file-headers">File headers</a> </li>
          <li><a href="/information-for-transcribers/permission-to-transcribe">Permission to transcribe?</a> </li>
          <li><a href="/information-for-transcribers/latin-words-to-recognise">Latin words to recognise</a> </li>
        </ul>
      </div>
    </aside>
  </div>

  <div class="grid__item three-fifths lap-one-half palm-one-whole">
    <h2 id="intro">Introduction</h2>
    <p>Gaps are available only for registers and batches associated with the <strong>Parish Register</strong> type. They are not available for other register types since these cover a limited time period for which Gaps are of little value. A Gap has a minimum length of one year.</p>
    <p>A Gap is associated with either a specific Batch (and therefore Record Type) or a specific Register, where the Gap can be associated either with a specific Record Type or <em>all</em> record types.</p>

    <h3>Who can list Gaps?</h3>
    <p>Any member can view a list of Gaps.</p>
    <p>The ability for researchers to list and view Gaps will be developed upon acceptance of the Gap management system.</p>

    <h3>Who can create and edit Gaps?</h3>
    <p>Transcribers can create and/or edit a Gap for any of their batches associated with a Parish Register.</p>
    <p>Syndicate coordinators can create and/or edit a Gap for any batch transcribed by a member of their syndicate associated with a Parish Register.</p>
    <p>County and Country coordinators can create and/or edit a Gap for any of the batches for their counties associated with a Parish Register.</p>
    <p>County and Country coordinators can <em>also</em> create and/or edit a Gap for any <em>Register</em> in their counties associated with a Parish Register.</p>
    <p>Data managers, system administrators and the Executive Director have the same ability as a county coordinator.</p>

    <h3>Who can delete Gaps?</h3>
    <p>A transcriber can delete a Gap they have created.</p>
    <p>Syndicate coordinators can delete Gaps that they or their syndicate members have created when they feel they are unwarranted.</p>
    <p>County and Country coordinators can delete any Gaps for registers or batches in their counties. This would normally be done when the coordinator sees a need to aggregate Gaps.</p>
    <p>Data managers, system administrators and the Executive Director have the same ability as a county coordinator.</p>
    <hr class="rule" />
  </div>

  <div class="grid__item three-fifths lap-four-fifths palm-one-whole">

    <h2>Transcriber actions</h2>
    <p>As a transcriber, you can list your batches and from there select show (SH) details of a specific batch.</p>      
      
    <figure class="site image-wide">
      <img src="/system/images/W1siZiIsIjIwMjEvMDQvMjIvN29raDBzcWU3YV9taW5kX3RoZV9nYXBfMDEuanBnIl1d/mind-the-gap-01.jpg?sha=5f78adaf04a4c03d" alt="Show" width="1225" height="498" />
      <figcaption>Fig. 1: the ‘Show’ action for a specific batch</figcaption>
    </figure>  
 
    <p>Your actions will now include one to either <strong>Create Gap</strong>, if none already exists (see figure 2) … </p>
    <figure class="site image-wide">
      <img src="/system/images/W1siZiIsIjIwMjEvMDQvMjMvMnZ3YzJscHJjMV9taW5kX3RoZV9nYXBfMDIuanBnIl1d/mind-the-gap-02.jpg?sha=6c8df06c9c2a00e3" alt="Create Gap" data-rel="225x255" width="1447" height="335" />
      <figcaption>Fig. 2: the ‘Create Gap’ action</figcaption>
    </figure>  
 
    <p>… or to <strong>List Gaps</strong> if Gaps have already been entered (see figure 3).</p>

    <figure class="site image-wide">      
      <img src="/system/images/W1siZiIsIjIwMjEvMDQvMjMvOTk0OTJyenFqdl9taW5kX3RoZV9nYXBfMDMuanBnIl1d/mind-the-gap-03.jpg?sha=5ad0643ced5102f5" alt="List Gaps" data-rel="225x255" width="1211" height="213" />
      <figcaption>Fig. 3: the ‘List Gaps’ action</figcaption>
    </figure>
 
    <p>If you select either the ‘Create Gap’ button on the show display or the ‘Create New Gap’ button on the display that lists Gaps, you will get a simple data entry screen:</p>

    <figure class="site image-wide">
      <img src="/system/images/W1siZiIsIjIwMjEvMDQvMjMvNHZoOXpuaHV0Ml9taW5kX3RoZV9nYXBfMDQuanBnIl1d/mind-the-gap-04.jpg?sha=bbe81dea5e10acca" alt="Creating a Gap" data-rel="225x255" width="1264" height="674" />
      <figcaption>Fig. 4: creating a Gap</figcaption>  
    </figure>

    <p>There are three mandatory fields and an optional one: the start and end dates for the Gap and the reason for the Gap are mandatory; the optional (Note) field is for any comment you wish to add that might assist the coordinator when they are looking at all Gaps. The start date must be before the end date and each date must be an integer (whole number).</p>
    <p>If you need a reason for the Gap that is not in the list, discuss this with your coordinator who can then ask a System Administrator to create a new reason.</p>
    <p>A successful submission will transfer you to the listing of Gaps:</p>

    <figure class="site image-wide">
      <img src="/system/images/W1siZiIsIjIwMjEvMDQvMjMvNzc3ejcxbDJqbV9taW5kX3RoZV9nYXBfMDUuanBnIl1d/mind-the-gap-05.jpg?sha=e6c54f0e0c1457d8" alt="Successful submission" data-rel="225x255" width="1273" height="387" />
      <figcaption>Fig. 5: ‘Addition of Gap was successful’</figcaption>  
    </figure>

    <p>On this display you can ‘Create New Gap’ for the batch; alternatively you have the option to show (SH), edit (ED) or delete (DE) the Gap using the actions in the left-most column. The show displays the same information and has buttons allowing you to create new Gaps and edit or delete a Gap.</p>

    <figure class="site image-wide">
      <img src="/system/images/W1siZiIsIjIwMjEvMDQvMjMvM3RhdWF5M3Rxcl9taW5kX3RoZV9nYXBfMDYuanBnIl1d/mind-the-gap-06.jpg?sha=4b7a214df5adcccf" alt="Show Gap" data-rel="225x255" width="1233" height="541" />
      <figcaption>Fig. 6: show Gap information</figcaption>
    </figure>  
 
    <p>The edit display is identical to the create display <em>except</em> that the current fields are already filled on the assumption that you want to change only one or two of them.</p>

    <figure class="site image-wide">
      <img src="/system/images/W1siZiIsIjIwMjEvMDQvMjMvMWtvODIzZmIwM19taW5kX3RoZV9nYXBfMDcuanBnIl1d/mind-the-gap-07.jpg?sha=b140a3715d9c0b22" alt="Edit Gap" data-rel="225x255" width="1242" height="706" />
      <figcaption>Fig. 7: edit an existing Gap</figcaption>
    </figure>  
 
    <p>Use the delete button <em>only</em> if you really want to remove the Gap. You will be asked to confirm the action, but once you select ‘OK’ it will be gone!</p>

    <figure class="site image-wide">
      <img src="/system/images/W1siZiIsIjIwMjEvMDQvMjMvZTA4djA0cHN5X21pbmRfdGhlX2dhcF8wOC5qcGciXV0/mind-the-gap-08.jpg?sha=f012dadf879adb71" alt="Confirm delete" data-rel="225x255" width="1512" height="671" />
      <figcaption>Fig. 8: are you sure you want to delete?</figcaption>
    </figure>
    <hr class="rule" />
 
    <h2>Syndicate Coordinator actions</h2>
    <p>As a Syndicate Coordinator, you work with your own batches in the same way as any other transcriber. In addition, you can create, edit and delete Gaps for batches owned by the members of your syndicate.</p>
    <p>There are two ways of navigating to the batch you want to edit. The first is via ‘Review Batches by Filename’ in your Syndicate Actions.</p>

    <figure class="site image-wide">
      <img src="/system/images/W1siZiIsIjIwMjEvMDQvMjIvNmJiaGc0NWpiOF9taW5kX3RoZV9nYXBfMDkuanBnIl1d/mind-the-gap-09.jpg?sha=6b3c0323b60cf0a5" alt="List batches by file name" data-rel="225x255" width="750" height="907" />
      <figcaption>Fig. 9: list your syndicate’s batches by filename</figcaption>
    </figure>

    <p>Select a batch from the listing and you will see either the ‘Create Gap’ or the ‘List Gaps’ action.</p>

    <figure class="site image-wide">
      <img src="/system/images/W1siZiIsIjIwMjEvMDQvMjMvODFrOXpseXhiZl9taW5kX3RoZV9nYXBfMTAuanBnIl1d/mind-the-gap-10.jpg?sha=6f853028fdaf20d5" alt="Create Gap for batch" data-rel="225x255" width="1526" height="291" />
      <figcaption>Fig. 10: create a Gap for a specific batch</figcaption>
    </figure> 

    <p>The second way is to select a member and then select the ‘List Batches’ option.</p>

    <figure class="site image-wide">
      <img src="/system/images/W1siZiIsIjIwMjEvMDQvMjMvN2Vuem1yd21vNl9taW5kX3RoZV9nYXBfMTEuanBnIl1d/mind-the-gap-11.jpg?sha=c4d0816ba72c169d" alt="List batches for user" data-rel="225x255" width="1010" height="134" />
      <figcaption>Fig. 11: list batches for one syndicate member</figcaption>
    </figure>  

    <p>Again, you have the option to Create or List, as applicable.</p>

    <figure class="site image-wide">
      <img src="/system/images/W1siZiIsIjIwMjEvMDQvMjMvMnI4bnQ3c2gxeV9taW5kX3RoZV9nYXBfMTIuanBnIl1d/mind-the-gap-12.jpg?sha=82e87666ab16b645" alt="SC create Gap" data-rel="225x255" width="1494" height="294" />
      <figcaption>Fig. 12: create a Gap for a transcriber’s batch</figcaption>
    </figure>
    <hr class="rule" /> 

    <h2>County or Country Coordinator actions</h2>
    <p>You have the same options as a transcriber for your own batches and a similar option to the Syndicate Coordinator to add a specific Gap to any batch in your county.</p>

    <figure class="site image-wide">
      <img src="/system/images/W1siZiIsIjIwMjEvMDQvMjMvN2E0d2Yxam5iMV9taW5kX3RoZV9nYXBfMTMuanBnIl1d/mind-the-gap-13.jpg?sha=c24616c4654bb8a7" alt="CC create Gap" data-rel="225x255" width="1436" height="305" />
      <figcaption>Fig. 13: create Gap (CC)</figcaption>
    </figure>

    <p>But in <em>addition</em> you are able to create Gaps at the <em>Register</em> level either for a specific Record Type or for <em>all</em> record types in that Register.</p>
    <p>Navigate to the specific Register and you will see a ‘Create Gap’ option (if it’s a PR).</p>

    <figure class="site image-wide">
      <img src="/system/images/W1siZiIsIjIwMjEvMDQvMjMvOWp1NTNqZml4bV9taW5kX3RoZV9nYXBfMTQuanBnIl1d/mind-the-gap-14.jpg?sha=de11d0bee454708c" alt="Create Gap for Register" data-rel="225x255" width="1539" height="509" />
      <figcaption>Fig. 14: the ‘Create Gap’ action for a whole Register</figcaption>
    </figure>  
 
    <p>This method gives you the additional option of selecting the Record Type: one type or all.</p>
    <figure class="site image-wide">
      <img src="/system/images/W1siZiIsIjIwMjEvMDQvMjMvMzMxdzFreDJicl9taW5kX3RoZV9nYXBfMTUuanBnIl1d/mind-the-gap-15.jpg?sha=118ac3f060a374ae" alt="Choose Record Type" data-rel="225x255" width="1402" height="787" />
      <figcaption>Fig. 15: select the Record Type for a Gap in a Register</figcaption>
    </figure>  
  </div>
</div>