<% breadcrumb :freecen2_civil_parishes,  @piece, @piece.district_chapman_code, @piece.year%>
<h2 style="text-align: center">FreeCen2 Civil Parishes for Piece <%=@piece.number%> in <%=@piece.district_chapman_code%> for <%=@piece.year%></h2>
<%= render 'flash_notice' %>