<% breadcrumb :show_freecen2_civil_parish,  @freecen2_civil_parish, @piece.district_chapman_code, @piece.year %>
<h1 style="text-align: center">Details of FreeCen2 Civil Parish for Piece <%=@piece.number%> in <%=@piece.district_chapman_code%> for <%=@piece.year%></h1>
<%= render 'flash_notice' %>
<
<div style="clear:both;"> </div>