<% breadcrumb :freecen2_civil_parishes_chapman,  @chapman_code, @year%>
<h2 style="text-align: center">FreeCen2 Civil Parishes for <%=ChapmanCode.name_from_code(@chapman_code)%> (<%=@chapman_code%>) in <%= @year%></h2>
<%= render 'basic_index' %>