<% breadcrumb :freecen2_civil_parishes_district_place_name,  @chapman_code%>
<h2 style="text-align: center">FreeCen2 Civil Parishes the same Freecen2 Place name as the District Place name for <%=ChapmanCode.name_from_code(@chapman_code)%> (<%=@chapman_code%>)  </h2>
<%= render 'basic_index' %>