<% breadcrumb :freecen2_civil_parishes_missing_places,  @chapman_code %>
<h2 style="text-align: center">FreeCen2 Civil Parishes with missing Freecen2 Place for <%=ChapmanCode.name_from_code(@chapman_code)%> (<%=@chapman_code%>)  </h2>
<%= render 'basic_index' %>