<% breadcrumb :image_server_images, @county, @place, @church, @register, @source, @group %>

<div style="clear:both;"></div><br>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
   	<%= flash[:notice] %><% flash[:notice] = nil%><br>
  </div>
<% end %>

<h2>TEST</h2>