<% breadcrumb :show_image_server_image, @user, @chapman_code, @county, @register, @source, @group, @image_server_image %>

<% title "IS Image - properties" %>
<%= render partial: 'header' %>
<%= render partial: 'flash_notice' %>

<div class="grid">
  <section class="island">
    <%= render 'detail' %>
  </section>
</div>
