<h1>DRAFT - Registration districts (interim version)</h1>

<p class="lead"> Having problems when searching by Registration District? You can find out more about the GRO's use of registration districts, how they changed over time, how we transcribe and display them and how knowing about them may help in your research.</p>
  <div class="grid">
     <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right">
        <div class="islet islet--bordered">
            <h2 class="title-block">On this page</h2>
               <ul class="sub-nav">
                <li><a href="#regDistricts">Districts</a> </li>
                <li><a href="#spellingVars">Spelling variations</a> </li>
                <li><a href="#volMappings">District to Volume mappings</a> </li>
                <li><a href="#pageRange">Page ranges associated with a Districts</a> </li>
                <li><a href="#anomalies">Anomalies indicated in search results</a> </li>
                <li><a href="#counties">Counties in England and Wales</a> </li>
              </ul>
            </div>
            </aside>
      
     <div class="grid__item three-fifths lap-one-half palm-one-whole">
    <h2 id="regDistricts">Districts</h2>
  <p>FreeBMD is a computer-searchable transcription of the GRO indexes of Births, Marriages and Deaths (which we call collectively <em><strong>events</strong> </em>). Every entry within these indexes contains the name of the District where the event was registered. So, knowing this District is important for [ordering a copy of the certificate](Ordering certificates) for the right event.</p>

  <p>Historically, registration districts had a loose geographical relationship with the principal towns that they were named after. The district may have been much larger than the town and it might cross over county boundaries. The one thing that is certain, is that the main register office was to be found in the town of that name.</p>
  <p>Many registration districts changed their names, were merged or disbanded over the years.The registers would remain in the registration system but they would be moved to which ever district gained responsibility for that area of population. The GRO, original in London, but now in Southport, would also hold copies of all the records in the registers.</p>
<p>In respect of late twentieth century records, registration districts from 1st April 1974, were organised around and named after the local authorities who ran the registry office — one office per district. This local authority would be a district council, the county council, several county councils, or just part of a county.t. </p>
  <p>This is still the case now, you should note that all the registers since the start of Civil Registration in the 1837, will be held by one of the local authorities mentioned above, not necesserily the one where the event was registered.</p>
    <h3>More Information</h3>
      <p class="islet islet--light">Want to know more about twentieth century Local Government Reforms. Information on this topic, can be found on the <a target="_blank" href="https://en.wikipedia.org/wiki/Local_Government_Act_1972">Wikipedia article on the 1974 Local Government Reform (opens in new tab)</a> and  on the <a target="_blank" href="https://en.wikipedia.org/wiki/Local_Government_Commission_for_England_(1992)"> Wikipedia article on the 1992 Local Government Reform (opens in new tab)</a>.</p>
    
  <p>Information on the current and historic districts for England and Wales can be found on the <a target="_blank" href="http://www.ukbmd.org.uk/reg/index.html">UKBMD website (opens in a new window)</a>. It includes dates of creation, changes and abolition.  The GENUKI website contains <a target="_blank" href="http://www.genuki.org.uk/big/eng#Gazetteers"> gazetteers (opens in a new window)</a>  that may help you to find the Registration District for a particular location.</p> 

 <h2 id="spellingVars">Spelling variations in District names</h2>
  <p class="islet islet--neutral"> FreeBMD’s transcription policy is <strong>Type what you see (TWYS)</strong> and that is what we do when transcribe the Districts in the GRO Index. On post-194(?) Indexes the GRO started abbreviating the District names in its Indexes, so, for example: <strong>West Derby</strong> may appear as <strong>W.Derby</strong>; <strong>Kings Norton</strong> as <strong>King’s N.</strong> or Kings N. and Northumberland as ... </p>
  <p>Spellings and abbreviations of the district names vary wildly throughout the indexes and may well change at over time. For each district we have a name that we consider to be the <strong><em>official</em> </strong> name. The [link to "district-list"] Official Districts page (opens in a new window) lists these, together with links to other useful information about the districts.</p>

 <p>For all other spelling variations we have a process of linking each spelling back to the official spelling. We classify these as <strong><em>alternate spellings</em> </strong> or <strong> misspellings</strong>. The latter is used where we do not believe the spelling was intended or where it is not completely readable in our source for the index but we have still managed to work out what district it refers to.</p>

 <p>Having done a search, if you click on the district name you will find information about the type of district, that is whether the spelling is official, alternate or misspelt. You will also be told which county the district is in and be provided with a link to further information about that district.</p>

 <p class="push-half--bottom">There are three sets of information about districts: </p>
    <ul>
        <li>[link to "district-list"] The <strong><em>official</em> </strong> districts list;</li>
        <li>[link to "district-map-alt" The <strong><em>alternate</em> </strong> districts list which contains just the alternate spelling of districts. In some cases, the list of alternate spellings can be extensive;</li>
        <li>[link to "district-map-al" The <strong><em>alternate</em> and <em>misspelt</em> </strong> districts list of all the districts including those not yet assigned to an <strong><em>official</em> </strong> district. This information forms a very long list and has been split alphabetically.</li>
    </ul>
  <p>Of the above, the first two will be of most use to researchers and transcribers.</p>

  <p>There is a special district we have created called <strong><em>illegible</em> </strong> to which we assign those district spellings that we cannot satisfactorily link to a particular district. As a researcher you may be able to work out what the district is, for example if you have additional information about an entry. </p>

   <h2 id="volMappings">District to Volume mappings</h2>
  <p>The GRO grouped Registration Districts into Volumes and the volume number appears in the entry associated with a partiular event. In any particular time period, a district is associated with only one Volume and this can be used to validate and in the case of suspect value to work out the intended district. The mapping for the "official" district is best found by looking at the page range information below. </p>
   <p class="push-half--bottom">We have extracted from the database: </p>
      <ul>
          <li>a mapping of [link to "districts"] district to volume by year; </li>
         <li>a list of [link ="district-clash"] districts with volume clashes. </li>
       </ul>

  <p>Please note that both of these references involve a large amount of data which means that the page may take a while to load.</p>

  <h2 id="pageRange">Page ranges associated with a particular district</h2>
  <p class="push-half--bottom">Within each Volume there are pages and a range of page numbers is associated with each district. We have extracted the page ranges for each volume: </p>
     <ul>
        <li>[link ="district-page-reverse-map-index"] index by event type and year; </li>
        <li>[link="district-page-map-index"] index by District.</li>
     </ul>
  <p>Note that these are generated from the data, and so are likely to contain errors.</p> 

  <h2 id="anomalies">Anomalies indicated in search results</h2>
  <p>When we present the results of a search we check the consistency of the district name, the volume and the page. If the district was not supposed to be in use at the date of the entry, the volume number is supposed to be different or the page range is not what is expected, we will indicate this. This information can be very useful to you since it may indicate an error in the Index or in the transcription. You should take particular care when ordering certificates when such an anomaly has been indicated, for example checking against other sources. </p>

  <h2 id="counties">Counties in England and Wales</h2>
  <p>As well as searching for index entries according to the district in which they were registered we also allow you to specify the <strong> <em>county.</em> </strong>The results will contain all matching entries that are registered in the Registration Districts which are in the county you specify.</p>

  <p>However, you need to take care with this facility since the counties do not necessarily contain the locations (e.g. towns) you think they might. In particular a location may be in the Registration District of a neighbouring county and therefore a search limited to a county may return results for locations in the neighbouring county. The mapping of [link ="county-map"] districts onto counties shows which districts are in which counties and the date ranges during which they were in use.</p>

  </div>
</div>