<h1>DRAFT - Additional search options  - draft for Beta</h1>

<p class="lead"> Here, you will find information about some of the advanced search facilities that are available by using the Additional search options facility provided on the Search Page. </p>
  <div class="grid">
     <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right">
        <div class="islet islet--bordered">
          <h2 class="title-block" id="thisPage">Contents</h2>
            <ul class="sub-nav">
              <li> <a href="#uaSf"> Use of the Additional search options </a> </li>
             <li> <a href="#postems"> Postems </a> </li>
             <li> <a href="#savedSearch"> Saved searches</a> </li>
          </ul>
    </div>
    </aside>
  <div class="grid__item three-fifths lap-one-half palm-one-whole">
  <h2 id="uaSf">Use of the Additional search options  </h2>
  <p> Most users of FreeBMD will only make use of the standard search, and, indeed, many will be unaware of the Additional search options  This page, however, is for those who wish to make use of these options.</p>
 <h2 id="postems">Postems </h2>
  <mark> This section refers to FreeBMD and may not be applicable to FreeBMD2. </mark>
  <p> You can view the Postems that have been left by users by using this [link ='/cgi/ShowPostems] facility. The Postems are listed in the order they were created but the facility offers the capability to filter on different parts of Postem data. Note: Postems can get “unlinked”, meaning that the record has changed and we can no longer match the Postem. Such Postems are shown in red. Tidying these is a manual process that is is done on a regular basis.</p>
  
  <h2 id="savedSearch"> Saved searches </h2>
 <p class="push-half--bottom">We are working on a feature which will allow you to easily see if we have added, removed or corrected records so that you get different results. Until this is in place, there is a way of seeing this information now. If you copy the url of a search results page, e.g.:</p>
  <p class="islet islet--bordered push-half--bottom"> https://freebmd2.freebmd.org.uk/search_queries/6001a7c2e937904e938fba55?locale=en </p>
  <p>and later paste that url into your browser later, you will see the result as from the search as run on the original date.</p> 
  <p>If you run the original search in a different “time window”, you will get an updated result that you can compare with the previous search. If the total number of records has increased, you will know there has been an “addition”, and if it decreases, you will know that a correction has caused a removal (e.g. correcting a <em>Smith</em> to <em>Smithe</em> will decrease the results on a search for <em>Smith</em>, and an increase on a search for <em>Smithe</em>).</p> 
  <p>Please note, corrections and additions can mean the difference is only a rough indicator, and no change in total may mask a balancing number of corrections and additions.</p>
  </div>
 </div>