<h1>Draft - Summary - use of initials in Forenames</h1>

<p class="lead">This page considers the “problems” encountered when searching the GRO index, of which FreeBMD is an online version, due to the GRO's apparent changes in policy over time of how the index records and truncates the Forenames of individual entries using a mixture of the full forenames and initials. Advice is give how to minimise these problems when searching the Indexes.</p>
  

  <div class="grid">
     <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right">
        <div class="islet islet--bordered">
            <h2 class="title-block">On this page</h2>
               <ul class="sub-nav">
                <li><a href="#searching">Searching for forenames and initials </a> </li>
                <li><a href="#summary">Summary of the GRO's use of names and initials over time</a> </li>
             </ul>
            </div>
          </aside>
      
    <div class="grid__item three-fifths lap-one-half palm-one-whole"></div>
  <div class="grid__item three-fifths lap-one-half palm-one-whole">
  <h2 id="searching"> Searching for Forenames and initials </h2>
   <p>When you search FreeBMD it is important to understand, and take into account, the fact that the GRO Indexes may not show the full set of forenames of individuals recorded in their Registers. Instead, the Index may show only the first (or first two) forenames, with any remaining forenames reduced to just an initial — that is the first inital of every remaining forename.</p>
   <p> For example, if your search is set up for <em>HILL, Edward James</em> but the entries are recorded in the indexes as <em>HILL, Edward J </em>in some years but <em>HILL, Edward James</em> in others then your search results will be incomplete and potentially misleading. In the <a href="#summary"> Summary section</a> we give some general guidelines about the use of initials in the GRO index.</p>
   <p class="push-half--bottom">It is worth repeating here that there are many reasons why entries in the index may not be as you expect, even taking into account the issue of names be substituted by initials:</p>
   <ul>
      <li> There are errors in the index itself and in FreeBMD's transcription of it (although we do our best to minimise these)</li>
     <li> People may use, or be known by, a name that is not on their birth certificate, or is not their first forename </li>
     <li> This is particularly an issue for Deaths, where the <em>Informant</em> who supplied the information for the certificate may not have known the person that well, nor have access their Birth certificate</li>
  </ul>
  <h2 id="summary">Summary of the GRO's use of names and initials over time</h2>
  <p>When searching the GRO indexes it is recommended that you either initially use only one forename, or one forename and one initial. Otherwise, you should ensure that you understand the implications of using more than one given name, by consulting  this table.</p>
  <table id="summary">
  <tbody>
  <tr>
  <th>From</th>
  <th>To</th>
  <th>Contents of GRO index</th>
  </tr>
  <tr>
  <td>1837Q3</td>
  <td>1865Q4</td>
  <td>For this period forenames are shown in full and there are very few entries with initials (one would assume that any names that the clerk could not fit on  the page were just ignored) and the ones that there are may be the actual name (as in <em>Harry S Truman</em>). There are, however, two  anomalous quarters  of 1854B3 and 1858B3 when initials were included.</td>
 </tr>
  <tr>
  <td colspan="2" style="text-align:center">1866</td>
  <td>For this year, mostly only the first forename is shown in full with the rest just as initials, although there are some examples of more than one full forename.</td>
 </tr>
  <tr> 
  <td>1867Q1</td>
  <td>1910Q2</td>
  <td>For this period most forenames are shown in full although there are a small number also with initials.</td>
  </tr>
  <tr><td>1910B3</td>
  <td>1965B4</td>
  <td rowspan="3">For this period mostly only the first forename is shown in full with the rest just as initials, although there are some examples of more than one full forename.</td>
  </tr>
  <tr>
  <td>1910M3</td>
  <td>1983M4</td>
  </tr>
  <tr>
  <td>1910D3</td>
   <td>1969D1</td>
  </tr>
  <tr>
  <td>1966B1</td>
  <td>1983M4</td>
  <td rowspan="2">For this period most forenames are shown in full although there are a small number also with initials</td>
   </tr>
  <tr>
  <td>1969D2</td>
  <td>1983M4</td>
  </tr>
  </tbody>
  </table>
  <p>Note: Where the event (B, M or D) is shown as <strong>Q</strong>, this means all events (Q stands for quarter).</p>
</div></div>