<h1>DRAFT - Help - More on Ordering certificates</h1>

<p><style scoped="scoped">
.remove { text-decoration: line-through; color: #737373; }
</style>
</p>

<p><mark>Preliminary checking of grammar &amp; punctuation, readability and existing HTML done 18 Feb 21. AO</mark> </p>
<p> <mark> Being amended in line with Preliminary checking comments - work in progress - PC 21 Dec 21 PC. </mark> </p>
  
  <p class="lead">This page can order printed certificates, or pdf copies of digitised records: currently only historical births and deaths.</p>
  <div class="grid">
  <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right">
    <div class="islet islet--bordered">
      <h2 class="title-block" id="thisPage">On this page</h2>
      <ul class="sub-nav">
        <li> <a href="#ordering">Ordering a certificate?</a> </li>
        <li> <a href="#conditional">Ordering a certificate conditionally</a> </li>
      </ul>
    </div>
    </aside>
    <div class="grid__item three-fifths lap-one-half palm-one-whole"> 
   <h2 id="ordering">Ordering a certificate?</h2>
    <p class="push-half--bottom">You can order a certificate in one of three main ways:</p>
    <ul>
      <li>from the General Register Office (GRO) using the results of a seach on FreeBMD, or one of the pay-to-view sites</li>
      <li>searching the GRO’s historical birth and death records</li>
      <li>from the local Register Office for the event</li>
    </ul>
    <p>FreeBMD is a free-to-use computer-searchabele copy of the GRO’s index. So, having found a record on FreeBMD, you can directly use the information to order a certificate directly from the GRO. </p> 
    <p class="islet islet--light">Note: when ordering from the GRO, we recommended that you check the entry against Index <strong>before</strong> ordering a Certificate. The Entry Information page will usually list one or more Scans, and by selecting a Scan you can view the image that was used for our transcriptions.</p>
    <p>Please keep in mind that there are errors in the original indexes and in our transcriptions. Our volunteers take great care to make the transcriptions as accurate as possible but we are only human and there will be errors: FreeBMD cannot be held responsible for the consequences of these errors.</p>

    <h3 id="groCert">Ordering a certificate from the GRO</h3>
    <p class="islet islet--light">If you would like to look at <strong>information on the GRO website</strong> while also keeping this page open, please follow this link to the <a href="https://www.gro.gov.uk/gro/content/certificates/faq.asp" target="_blank">GRO’s frequently asked questions (FAQ) (opens in new window)</a>. </p>
    <p>We recommend that you use the GRO online ordering service as this is their preferred way of taking orders. You will need to first visit the GRO login or register page (opens in new window).</p>
   <p>You can also order by telephone and by post, but there is a small additional charge when you do so. You can find out the current prices from the GRO Frequently asked questions page (see section 3).</p>
   <p>The GRO will attempt to supply the right Certificate if you do not provide the GRO reference. However, you will have to pay extra for this service, for all three methods of ordering — see the GRO FAQ, section 3.&amp; </p>
   <p>Please be aware that there are a number of websites which offer to supply Certificates. They get the Certificate from the GRO and then sell it on to you for more than the GRO price. Unless they offer some added value that you need, there is no benefit in using such services.</p>
   <p>You can view the current information on fees in section 3 of the GRO’s FAQ and on how to order in sections 2 and 6.</p>
    <p>When ordering, it is best that you provide the <strong>GRO reference</strong> (also sometimes referred to as the <strong>GRO index reference</strong>), that is the year, quarter, district, volume and page number given in the search result.</p>
    
    <p>Note: if the <strong>Page number</strong> looks like “M/67” it is a Late Entry. You can find out more them on our [Late Entry page]("Late Entries"). You will need to find the “matching Late Entry”, which will have a full GRO reference, and ensure that you quote that on your order.</p>
    <h3 id="pdfs">Searching and ordering from the GRO civil registration index</h3>
    <p>The GRO has digitised some of its records, calling them <q cite="URL?">historical digitised civil registration records held by GRO</q>. Currently, this set consists of birth records, from the start of Civil Registration in 1837, up to 1934; and death records, from the start of Civil Registration in 1837, up to 1957. This service does not include marriages. (See section 10 of the GRO FAQs.) The indexes associated with these records were made from the records themselves, not from the ‘printed’ GRO Indexes.</p>
    <p>The GRO emphasises that these copies are not “Certificates” and they <strong>cannot be used for official purposes</strong>. For the family historian, they have the advantage of being less expensive than a Certificate. Unlike a Certificate, they are not posted to you — you will receive an email for each of the item(s) you have ordered, typically within one week of ordering online. You then need to log on to your GRO user-account and download each one, individually, as a PDF file (.pdf).</p>
    <p>You can find out more about PDFs in the GRO's frequently asked questions (see sections 8 and 10). You can order them online only<span class="remove"></span>.</p>
    
    <h3 id="localReg">Ordering a Certificate from a local Register Office</h3>
    <p><mark>The link given in the next para is not really to a GenUKI page: the URL becomes https://www.ukbmd.org.uk/reg/ and there is no way to get from there to the GenUKI site. Needs a re-write. I've fixed the link-text and href. Could you have a go at re-writing the instructions for finding the RD website, either via the county or by using the alphabetical list that is offered? Aim for brevity, clarity and sentences that are not too long!</mark> </p>

 <p> <mark>The links from UKBMD to GenUKI are there and they do exist, now fixed -  25/2/21 - PC.</mark> </p>
    <p>You first need to find the Register Office that <strong>currently holds</strong> the birth, marriage or death Registers with the entry, or entries, you require. The Office listed in the GRO Index might not exist; and if it still exists, it could have lost or gained some of its <em>territory</em> through boundary changes. In such cases, the registers will have been transferred, or distributed among several Register Offices. Note: If you send your application to the <em>wrong</em> Office they will not hold your record, but they might suggest one or more Offices for you to approach.</p>
  
 <p> To simplify the discussion below, assume for now that Banbury Registration District is “our district”, so we go <a href="https://www.ukbmd.org.uk/reg/districts/banbury.html" target="_blank">to the UKBMD Banbury page (page opens in a new tab)</a>. Immediately below the <em>Registers currently held at</em> line, you will find two tables: Table 1 List of Places (Civil Parishes) in (that district) and Table 2 Boundary Changes affecting (that district). If you know the correct Civil Parish, then the use of Table 2 <em>able</em> may enable you to identify the <em>current Register Office</em> (if more than one is offered against the <em>current location</em> of registers).</p>
 <p>You can find details, down to the level of civil parishes, for each Register Office on the <em>UK BMD</em> site’s <a href="https://www.ukbmd.org.uk/reg/" target="_blank">Registration districts in England and Wales page (opens in new window)</a>. In the first section of that page, you will find a hyperlinked <strong>Alphabetical List of Districts</strong> that takes you to a <a href="https://www.ukbmd.org.uk/reg/districts/index.html" target="_blank">list of Registration Districts (opens in new window)</a>. In addition, in the second section of the UKBMD page, you will find a hyperlinked list of counties, in alphabetical order, first for England and secondly for Wales. Selecting a county will take you to a table of Registrations Districts for that county.</p>
  <p>From either of these two lists, that is the Alphabetical list or an individual county list, you select the Registration District where your event <strong>was</strong> registered. Having selected a district, at the top of the Registration District page, six bullet points down, is the line: <em>Registers currently held at</em>. There may be a single Register Office, or there may be as many as four Register Offices. Your Registers <em>should be</em> at one of these Register Offices. </p>
  <p>Selecting any of the links listed against <em>Registers currently held at </em>will take you to the <a href="https://www.genuki.org.uk/big/eng/civreg/RegOffice/RegOffice2" target="_blank">GenUKI list of English and Welsh Register Offices page (opens in new window)</a>. There, you will find the full postal address, telephone number, email address and web-site of every, current, Local Register Office. The final column on the GenUKI pages is headed <em>Online Ordering / Remarks</em>, it is mostly left blank, but for some Register Offices it has a link to a local BMD site.</p>
 <p> These local BMDs sites, in contrast to FreeBMD, index or copy the indexes of the Registers held in the local Register Office(s) onto a publically-available searchable database. These Registrar Office registers are the original record of the event being registered. The GRO’s Registers were copies made from these registers, during the Registrars’ quarterly returns to the GRO.</p>&#160;To order the Certificate, it is best to email, telephone, or visit their website, if available, to find out what their Certificate ordering processes are, as this varies from office to office. Some large local authorities have (copy) Certificate web sites and <em>UK BMD</em> has links to these sites. 
    <p>Note that you do not need the GRO reference, in particular the volume and page number, when ordering from a local Register Office. However, this can be a benefit because errors in the GRO reference will not stop you getting a Certificate, offsetting the extra effort in finding the right office.</p>
    <p class="push-half--bottom">A Registrar in a local Register Office has said that:</p>
    <blockquote cite="URL?" class="push--left push--right">
      <p>[The] GRO will provide you with a photocopy of the actual entry but if you apply to the relevant register office in most cases you will receive a handwritten copy. This is useful if the original is difficult to read. The registration staff have had basic training in deciphering the writing and will also have access to many more records written by the same person and so can compare [them].</p>
    </blockquote>

    <h2 id="conditional">Ordering a certificate conditionally</h2>
    <h3>From the GRO</h3>
    <p>If you are not certain that you have found the correct entry in the index you can make an application to the GRO that says you do <strong>not</strong> have the GRO reference number (for an online application check the <strong>No</strong> box for "Is the GRO Index Reference Number known?"). This service is also available by telephone or post (see GRO FAQs, section 2). It allows you to provide information that will be checked against the entry (for instance mother’s forename). The Certificate will be issued only if the details agree with the information you have provided. If the details do not agree, you will be issued with a partial refund. This service takes longer — posted within 15 working days — than the quoted reference service (where you give the GRO reference number), which is posted within four working days.</p>
   <h3>From the local Registration Service</h3> 
  <p> <mark> Work in Progress - PC </mark> </p>
  <p>Unless you can precisely identify the entry, or the registers have been indexed, you will need to provide the local Registration Service with a lot more <strong>detailed</strong> information than the GRO would expect for the same service. This is to enable them to identify the relevant register, using the information that you have provided, and then to search it (typically over a two-year period). In effect, this is the equivalent of ordering a Certificate <em>conditionally</em> by telling them everything <strong>in detail</strong> you know about the event.</p>
  <p>For a birth certificate order, they would need to know the address of where the child was born - address of the home (which might have been the grandmother’s home rather than the mother’s addresss), the hospital, or the nursing home — and for a death, the address where the death happened (at home, Workhouse, Workhouse Infirmary, hospital, workplace, prison cell, etc). As these places might be in different civil parishes, within the same Registration District, this may determine which Register the event was registered in.</p> 
  <p> Note: in the early years a Superintendent Registrar would be responsible for a Registration District that was based on the area of the local Poor Law Union; and below that a number of Registrars would be responsible for their own civil parish, or a group of parishes. Each Registrar kept a set of Registers. Nowadays, the Register Office is more likely to be the equivalent of a Superintendent Registrar’s Office, holding many historical registers in their strong rooms; as well as the ones still in use.</p>
  <p> In effect, this is the equivalent of ordering a Certificate <strong>conditionally</strong>, by telling them everything you know about the event — contact the Office concerned, or look at their online ordering system if they have one, to check.</p>
     
  

</div>
</div>