<h1>DRAFT -  Postems</h1>


  <p class="lead"> This page provides you with information about “Postems”. FreeBMD regards these as a short message that any researcher can attach to any entry in the database: such as providing additional details about a particular event (a birth, marriage or death) for other researchers. They can be left by anyone, but they cannot be amended. </p>
  <div class="grid">
  <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right">
    <div class="islet islet--bordered">
      <h2 class="title-block" id="thisPage">On this page</h2>
      <ul class="sub-nav">
        <li><a href="#whatIs">What is a Postem? </a> </li>
        <li><a href="#view">How do I view a Postem? </a> </li>
        <li><a href="#how">How do I leave a Postem? </a> </li>
        <li><a href="#usedfor">What is a Postem used for? </a> </li>
        <li><a href="#search">Can I search Postems? </a> </li>
        <li><a href="#mayContain">What can a Postem contain? </a> </li>
        <li><a href="#correct">How can I correct a Postem? </a> </li>
        <li><a href="#tandc">Terms and Conditions </a> </li>
        <li><a href="#changes">Changes in Postems </a> </li>
        <li><a href="#errors">Reporting Errors </a> </li>
      </ul>
    </div>
   </aside>
  <div class="grid__item three-fifths lap-one-half palm-one-whole">

  <h2 id="whatIs"> What is a Postem? </h2>
  <p> The purpose of a Postem is to allow any researcher to leave information about an entry, for example, to leave additional details about the event. </p>
<p class="islet islet--light"> Postems are only for communication between those searching the database. In particular, no-one in the FreeBMD project will be reading the Postems so it is pointless putting comments or questions for the project into any Postem. </p>
  <p> As a researcher, you should in mind that the information in Postems has not been verified nor checked by FreeBMD; and, in particular corrections in a Postems are purely the opinion of the person who left the Postem. </p>
 <h2 id="view"> How do I view a Postem?  </h2>
  <p> Note: FreeBMD2 and FreeBMD have different approaches to presenting results. On FreeBMD2, you need to first “View” the entry. When there are one or more Postems associated with this entry they will appear <mark> not yet found any, so can't describe it in any detail </mark>. </p>
  <h2 id="how">How do I leave a Postem? </h2>
  <p>On FreeBMD2 you need to first “View” the entry; and towards the bottom of the page there is a subsection entitled: “ Postems”.</p>
 <h2 id="usedfor"> What is a Postem used for? </h2>
<p class="push-half--bottom">There are no restrictions on the uses of Postems (<a href="#tandc">other than compliance  with the Terms and Conditions</a>) but they are typically  used for the following: </p>
  <ul>
       <li> Giving a correction to the information. Note that this can be used to include corrections that cannot be submitted as a correction to the database, for example where the entry in the GRO index is in error. </li>
      <li> Giving additional information about an entry, for example giving the spouse name (where this is not in the GRO index) or information from a certificate. </li>
       <li> Indicating that you are researching a surname and inviting others to contact you. In this case you need to leave your contact email address although you should be aware that there is a remote possibility that this could be "harvested" for spam (unsolicited emails) </li>
     </ul>
  <p class="push-half--bottom"> Please note that the <strong>only</strong> effect of you submitting a Postem is to attach the information that you supply to the entry, in particular: </p>
  <ul>
      <li> There is no point in you leaving a request for information unless you also leave a contact email address.
</li>
      <li> A Postem will only be seen by people who search for and find the entry concerned, not by the FreeBMD project. </li>
      <li> It is very unlikely that the person who transcribed the record will see a Postem. If you wish to contact the transcriber (if they wish to be contacted) go [link="javascript:history.go(-1)"&gt;back] to the Information page and click on the transcriber name. </li>
      <li> Your feedback about the use of FreeBMD should be directed to the [link="mailto: bmd_const_advicelistmailaddress"]    FreeBMD Advice mailing list. </li>
      <li> If you wish to make a <strong>correction</strong> to an entry, please click on the "Information"  button next to the entry and follow the  instructions for submitting a correction. </li>
      <li> To report a problem with the website email use the <strong>Report a Problem</strong> button at the bottom of the page to contact Support. </li>
      <li> Do not report that the wrong scan is associated with an entry, rather use the facility to find the right scan and assign it to the entry - see [link="/help with scans #wrongscans"] here for further information.
</li>
      <li> Do not include copyright material in a Postem. </li>
    </ul>
   <h2 id="search"> Can I search Postems? </h2>
  <p><mark> This specifically refers to FreeBMD. FreeBMD2 has not yet implemented this function </mark> </p>
  <p> Yes. If you go to the [link ="/cgi/ShowPostems] Postem page you can search the Notes that have been left.</p>
<p class="push-half--bottom"> You can do such searches on the following criteria: </p>
   <dl>
      <dt> <strong>Created:</strong> </dt>
      <dd> The dates between which a Note was left. Leaving <strong>Start date</strong> blank shows from the earliest Note and leaving <strong>End date</strong> blank shows up to the latest postem. When you first open the page Notes left during the last week are shown. </dd>
     <dt> I<strong>nformation contains:</strong> </dt>
     <dd> Search on the data in the Information column, that is the text of the Postem. This search will find the search string anywhere in the Information and is case insensitive. </dd>
     <dt> <strong>Source contains:</strong> </dt>
     <dd> Search on the data in the Source column, that is the information about who left the Postem (often only an IP address). This search will find the search string anywhere in the Source and is case insensitive. </dd>
     <dt> <strong>Record contains: </strong> </dt>
      <dd> Search on the data in the Record column, that is the text of the entry the Postem refers to. This search will find the search string anywhere in the Record and is case insensitive. Note that the Event, Year, Quarter (shown in the Record column) is not part of the record and must not be included in the search criterion. If a field (e.g. the district) contains a comma it must be enclosed in quotes; otherwise the characters must match exactly (i.e. including spaces but excluding case). </dd>
    <dt> <strong>Event:</strong> </dt>
    <dd> Click on the event (Births, Marriages or Deaths) to see only Postems that refer to that event. To see Postems that refer to more than one event hold down the Control key when clicking on the second and third events.
</dd>
    <dt> <strong>Quarters:</strong> </dt>
    <dd> Select a quarter and enter a year for the start and end dates of entries you wish to see Postems for.  Leaving the first year   blank  shows from the earliest entry and leaving the second year blank  shows up to the latest entry. </dd>
    <dt> <strong>Show unlinked only:</strong> </dt>
    <dd> We say that a Postem is <em>unlinked</em> if the content of the entry has changed and we can no longer link the Postem to the entry. Such Postem are ..........</dd>
  </dl>
  <p> Click on the <strong>Find</strong> button to search according to the criteria specified. </p>
  <h2 id="mayContain">What can a Postem contain? </h2>
  <p class="push-half--bottom"> You can put whatever you like in a Postem, <a href="#tandc"> provided it conforms to the Terms and Conditions</a> but you need to be aware that there is a limit of 250 characters on the size of a Postem. You will be warned if you try to create a Postem greater than this and you will be given the opportunity to change it. Please be as precise and to the point as possible. </p>
  <h2 id="correct"> How can I correct a Postem? </h2>
  <p> Basically. you can't -  the only thing you can do is to leave another Postem that corrects the previous one. The best thing to do is to make sure that the Postem is correct before you click on the <strong>Create</strong> button. </p>
  <h2 id="tandc"> Terms and Conditions </h2>
  <p class="push-half--bottom"> When leaving a Postme you accept the following Terms and Conditions: </p>
   <ul>
       <li> The FreeBMD project accepts no responsibility for the content of any Postem. </li>
       <li> Postems must be decent. </li>
       <li> Postems must not be used to comment on the person referred to in the entry. </li>
       <li> Postems must not be used to comment on the transcription or the transcriber. </li>
       <li> Postems must not be used for commercial purposes. </li>
   </ul>
  <h2 id="changes"> Changes in Postems </h2>
  <p> Postems are linked to an entry through the content of that entry. If the entry changes, because it has been corrected, for example, any Postems that have been left for that entry will no longer be linked to it. We will attempt to re-link any such "orphaned" Postems but this may take some time. </p>
  <h2 id="errors">Reporting Errors </h2>
 <p class="push-half--bottom"> You may encouter the following system error messages: </p>
  <dl>
     <dt> <strong>Postem duplicates existing Postem:</strong> </dt>
    <dd> The&#160; Postem submitted exactly duplicates a Postem that has already been submitted. This may be caused by re-submitting a Postem because it has not appeared in the search results; there is a delay between submitting a Postem and the Postem appearing attached to an entry. </dd>
   <dt> <strong>Not enough spaces or newlines in Postem:</strong> </dt>
   <dd> In order that Postems can be correctly displayed it is important that the system can insert new lines at word breaks (spaces or newlines) but there are insufficient such word breaks in the Postem submitted to permit this. Spaces or newlines need to be inserted into the Postems text in accordance with normal English language conventions. In particular, you cannot maximise your usage of the 250 character limit by leaving out all spaces. </dd>
  </dl>

</div>
</div>