<h1>DRAFT Help fragments</h1>

<p><mark>Fragments of a DRAFT that has been superseded. Do not know which issue they address. Saved here for reference only.</mark> </p>
    
    <p><mark>Pat to revise this section</mark> </p>

    <h3 id="24">Is information about the armed forces included in the index?</h3>
    <p> Provided that a birth took place in the UK, then the registration would have been completed as normal. </p>
    <p> For anyone born overseas (armed forces or otherwise) alternative arrangements apply and  FreeBMD would not have the data. The same applies to armed forces deaths overseas. </p>
    <p>Commonwealth War Graves Commission provides information and has a search facility. With information from this source you should be able to obtain a <a href="http://www2.freebmd.org.uk/Certificates.html">certificate</a> from the GRO. It is possible to get the MoD to do a search for service records for a fee, but a large 
proportion of the WW1 service records were destroyed by German bombing in WW2. You can also get a copy of a soldier's medal record from the <a href="http://www.nationalarchives.gov.uk/">National Archives</a> 
in Kew (it is believed that those killed in conflict were automatically awarded a posthumous medal).</p>
    <p>PAT to check if FreeREG has forces stuff now.</p>
    <p>FreeBMD is a volunteer organisation the <mark><a href="#1">objective</a>UPDATE LINK</mark> of which is to provide free access over the internet to the GRO Index. If you have problems using the site you can use our support facility <mark>link here</mark> but this too is manned by volunteers and can only be used for problems specific to using FreeBMD. For help with genealogical research you need to search the internet for relevant forums and ask for help there, or contact your local library to see if you have a historical society near to you who could help. Also FreeBMD has some links <a href="/Civil_Regis.html">here</a>. <mark> ALSO look at FreeREG genealogical question.</mark> </p>

    <p>FreeBMD is a transcription of the <a href="#1">GRO index</a> which contains records of Births, Marriages and Deaths only for England and Wales. Hence, overseas events are not in FreeBMD and neither are events in Scotland, Northern Island, Eire, the Channel Islands, at sea, etc. <mark>To find information on such events we suggest you do an internet search for the relevant information, for example the <a href="http://www.nationalarchives.gov.uk/records/looking-for-person/bmdatseaorabroad.htm">National Archives</a> have useful information on events overseas and at sea.</mark> </p>
    
    <hr class="rule rule--ornament" />
    <h3>20. When I did a phonetic search on the surname BARRAND I got 
lots of variations that bore little or no relation to this name, but 
expected ones such as BARRAN, BARRON, BARON, BARREN, BAREND, BARRUN, etc. 
are not found. Why is this?</h3>

    <p>The phonetic search facility in FreeBMD uses a standard phonetic method called 
Soundex. This method creates a phonetic equivalent of any name which we then 
search on. The limitations experienced are inherent in Soundex.</p>
    <p>Soundex is quite old now but we have been unable to find an alternative 
(e.g. Metaphone) that provides the expected result. We note that there are 
some genealogical sites that do provide the expected results but these seem 
to be based on a lookup table of alternatives for each name. This only works 
for smaller databases (since it requires multiple searches), not on one the 
size of the FreeBMD database.</p>
    <p>We will continue to monitor this issue but at the moment there is no proposal 
to change the phonetic search facility.</p>
    <hr class="rule rule--ornament" />
    
    <p><mark>?Revise and move to appropriate place(s)</mark> </p>
    <p>As a minimum, the index gives the information that will help you identify the person you are looking for — or at least a small group of people which might include the person you are looking for. You will need this information, to order a certified copy of the register entry (commonly known as a certificate) from the GRO. The certificate contains a lot more information than the index.</p>