<h1>DRAFT - Civil Registration Authorities</h1>


 <p class="lead">This page provides you with a brief summary of various sources of information on the Civil Registration system for England and Wales; and it's records of Overseas events. It then moves onto summarising the Civil Registrations systems for Scotland, Northern Ireland and some of the United Kingdom's nearest neighbours: the Isle of Man, Ireland and the Channel Isles.</p>

<div class="grid">
  <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right">
    <div class="islet islet--bordered">
      <h2 class="title-block" id="thisPage">On this page</h2>
      <ul class="sub-nav">
         <li class="open"> <a href="#englandWales"> England and Wales </a> 
            <ul class="push-half--left push-half--bottom">
              <li> <a href="#theGro">The General Record Office</a> </li>
              <li> <a href="#overseas">GRO records of Overseas Events </a> </li>
             </ul>
         </li>
         <li> <a href="#scotland"> Scotland </a> </li>
         <li> <a href="#northernIreland"> Northern Ireland</a> </li>
         <li> <a href="#isle of Man"> The Isle of Man </a> </li>
         <li> <a href="#ireland"> Ireland</a> </li>
         <li> <a href="#channel Isles"> The Channel Isles </a> </li>
       </ul>
    </div>
   </aside>
  <div class="grid__item three-fifths lap-one-half palm-one-whole">
  
 <h2 id="englandWales">England and Wales </h2>
 <h3 id="theGro">The General Record Office </h3>
 <p> The General Register Office (GRO, since is formation early in 1837 is the Civil Registration authority for England and Wales, and the FreeBMD project's aim is provide free-to-use access to the GRO's indexes of Births, Marriages and Deaths. You can find out more about the GRO on [our General Registry Office page] [link to: The General Registry Office].</p>
 <p> In addition to the information provided on FreeBMD, you will find a wealth of information about the Civil Registration system on the internet; and there are indexes on other web sites, particularly <a href="https://www.genuki.org.uk" target="_blank"> within Genuki (Page opens in new Tab).</a> </p>
  <p> Genuki's <a href="https://www.genuki.org.uk/big/civreg" target="_blank"> Civil Registration page (Page opens in new Tab)</a> has extensive information on the Civil Registration systems within the British Isles.</p>
 
  <p>If you are interested in obtaining a particular certificate, it is possible that someone may already have the on that you are interested in. People may offer certificate information via FreeBMD Postems [link to FreeBMD Postems page] or one of a number of sites not connected with FreeBMD such: as BMD Share [link to http://www.bmdshare.com/ now obsolete] or Certificate Exchange ] link to http://www.certificate-exchange.co.uk/ not working].</p>
  <h3> Other sources of information </h3>
  <ul class="push-half--bottom">
     <li> Barbara Dixon's BMD pages [link to http://www.dixons.clara.co.uk/Certificates/indexbd.htm not working]. This page is a good place to start your research efforts.</li>
    
   <li> Ordering Birth Registration Certificates from England and Wales [link to http://sitestar.net/~markhow/ukbirths.htm not working] - Using the LDS Family History Center's Resources.</li>
   </ul>
  <h3 id="overseas"> GRO records of overseas events</h3>
  <p class="push-half-bottom">The GRO holds various Birth (or Baptism), Marriage and Death (or Burial) records that are not indexed on FreeBMD. Some of these records pre-date the start of Civil Registration in England and Wales they include:  </p>
  <ul class="push-half-bottom">
     <li>From 1849, Births, marriages and deaths registered by the British Forces and either the British Consul or the High Commission in the country where they took place.</li>
     <li> British Army Regimental records of births, baptisms and marriages, dating back to 1761.</li>
     <li>Deaths that occurred in the Boer War and both World Wars.</li>
     <li> Marine Births and Deaths, from 1837, which took place on British registered vessels. Aircraft Births and Deaths, from 1948, which took place on British registered aircraft. </li>
  </ul> 
  <h3 id="priorTo"> Baptism, Marriage and Burial records before and after the start of Civil Registration </h3>
    <p>If you are looking for information prior to the start of Civil Registration in England and Wales, FreeBMD's sister project <a href="https://www.freereg.org.uk/" target="_blank"> FreeREG may be able to help you. (Page opens in a new Tab).</a> </p>
  <p>You can check FreeReg's coverage, by number of records, for individual counties and parishes by going to its <a href="https://www.freereg.org.uk/freereg_contents/new?locale=en" target="_blank">Records Tab. (Page opens on a new Tab).</a> On selecting a county, a side-table displays the number of records for that county and you are able to refine this count by selecting a Place within that county.</p>

  <h2 id="scotland">Scotland</h2>
    <p> Civil Registration of births, marrriages and deaths commenced in Scotland on 1st January 1855. Before that, baptisms, marriages and burials would have been recorded locally by the various churches. Our subsection, above, on <a href="#priorTo">Baptism, Marriage and Burial records</a> may be of help if you are looking for records prior to 1855.</p>
    <ul class="push-half-bottom"> 
       <li><em>Scotlands People</em> is the Scottish Government's official website for government records and archives, from there you can: <a href="https://www.scotlandspeople.gov.uk/" target="_blank"> search the Scottish BMD indexes and order certificates. (Page opens in a new Tab).</a> </li>
       <li> Genuki's Scottish Civil Registration page provides information on the registration system: <a href="https://www.genuki.org.uk/big/sct/Civil" target="_blank"> in Scotland (Page opens in a new Tab)</a>. </li>
       
      </ul>
   <h2 id="northernIreland">Northern Ireland</h2>
     <ul class="push-half-bottom">
     <mark> PC - This section needs to be added - PC </mark>
     </ul>

  <h2 id="isle of Man">The Isle of Man</h2>
     <ul class="push-half-bottom">
        <li> The ManxBMD website has Birth, Marriage and Death Indexes for the Isle of Man. These indexes can be <a href="https://www.manxbmd.com/index.html" target="_blank">selected and searched from this page. (Page opens in new Tab)</a>. </li>
       <li> The Isle of Man Governement's website has a Births, Marriages and Deaths page from which you can: <a href="https://www.gov.im/categories/births-deaths-and-marriages/order-copy-certificates/" target="_blank">order copy certificates. (Page opens in a new Tab)</a>. </li>
     </ul>

  <h2 id="ireland">Ireland</h2>
     <ul class="push-half-bottom">
         <li>Irish Civil Registration Genuki Pages [link to https://www.genuki.org.uk/big/irl/#CivilRegistration].</li>
         <li> The Health Service Executive is responsible for providing copies of birth, marriage and death certificates and you can find how to do this by post or online from: <a href="https://www2.hse.ie/services/births-deaths-and-marriages/get-certificates/ordering-certificates.html"> their web site (Page opens in a new Tab).</a> </li>
   </ul>

  <h2>The Channel Islands</h2>
  <ul class="push-half-bottom">
      <li>Channel Islands Civil Registration [link to http://user.itl.net/~glen/CIResearch.html not working]</li>
      <li>Free lookups of Vital Record information [link to http://sites.rootsweb.com/~jfuller/ci/volunteers.html]</li>
 </ul>
 
 

</div>
<a href="https://www2.hse.ie/services/births-deaths-and-marriages/get-certificates/ordering-certificates.html">
</a>
</div>
<a href="https://www2.hse.ie/services/births-deaths-and-marriages/get-certificates/ordering-certificates.html">
</a>