<h1>DRAFT - How best to Search</h1>

 

  <p>This page is organised into three parts: </p>
  <ul>
     <li> Information about the <a href="#db">FreeBMD database.</a> </li>
     <li> How to [link="#search"] perform a search, including guidance on what parameters to use. </li>
    <li> Details of each of the <a href="#params">parameters</a> you can use to search.</li> 
  </ul>
<p>Further help, especially with understanding the search results, can be found in the
 [link="/search-results-help] Search Results Help or to report a problem see [link="/iindex l#reporting"] the Information page. </p>

<h2 id="db">The FreeBMD Database</h2>
<p>The FreeBMD database is an electronic version of the index created by the GRO. This has been done by the FreeBMD project through the efforts of thousands of volunteers who gave their time to provide you with access to this valuable resource of information (to join them click [link="/Signup] here). Information on the GRO index is contained 
[link="/GRO-Index] here.</p>
<p>It is important to understand that the FreeBMD index is a <em>transcription</em> of 
the GRO index - it contains the same information (errors and omissions excepted) as the GRO index and is organised in the same way (e.g. by quarters). The FreeBMD project does not have access to any other information.</p>
<p>The GRO Index contains information about the following "life" events:
</p>
<ul>
<li>Births - normally reported by the parent(s), maybe sometime after the actual 
Event.</li>
<li>Marriages - reported to the GRO by the organisation performing the ceremony.</li>
<li>Deaths - reported by the "informant", who may not have known the deceased well.</li>
</ul>
<p>Normally when searching the index you will be concerned with only one event.</p>

<p>Since the index contains only a small subset of the information in the register,
having found an entry you are interested in you would normally order the 
[link="/Certificates] certificate which contains all the available information. When ordering a certificate from the GRO it is best to supply the GRO Reference and this reference, which consists of Year, Quarter, District, Volume and Page, can be found by searching the FreeBMD database. Note: after 1983 the records were arranged by year, not by quarter.</p>

<p>The FreeBMD database covers the period September 1837 to the end of 1993 but not all years or quarters have yet been transcribed for all events. A breakdown by event and year can be viewed [link="/progressl"] here so you should check that the quarter or year you are interested in has been transcribed. More records are added monthly during the database update and the [home page] gives the date of the latest update.</p>

<p>The FreeBMD database currently contains 276,905,144 distinct records (358,675,766 total records), and it is important that you specify your search properly in order to ensure that:
</p>
<ul>
<li>Your search does not return excessive numbers of records.</li>
<li>You don't miss the record you want.</li>
</ul>
<p>You should also note that the FreeBMD transcription of the GRO index is an on-going project
and not all of the index has been transcribed; please see [link="/progress] here for more details.</p>

<h2 id="search">Searching the FreeBMD Database</h2>
<p>To perform a search of the FreeBMD database you use the [link="search"] search page to specify the parameters of your search, e.g. the date (the year or quarter) of the event, the surname of the person you are searching for, etc. You must specify the event (Birth, Marriage or Death - or a combination) but all other parameters are optional although since there is a limit on the number of records you can view (3000) you will need to specify <em>some</em> other parameters.</p>

<p>In general the more parameters you specify the more precise the results will be but the greater the chance that you will miss the entry you are looking for. Hence you may need to adjust the parameters and repeat the search to get the best results, generally starting with fewer parameters and giving more as necessary. For example, if you specify a second given name (e.g. James Ian) you would miss an entry that was spelt differently (e.g. James Iain), whereas a search for just the first given name (e.g. James) would give you many more results but you would not miss the alternative spelling.</p> 
<p>Things you need to take into account when deciding on what to search for are:
</p>
<ul>
<li>There are errors and omissions in both the index itself and in FreeBMD's transcription of it as well as situations where the original is unreadable and has been transcribed as described [link="/search-faq #ucf"] here; if you cannot find the entry you are looking for you should consider using the <a href="#wildcard">
</a>
</li>
<li><a href="#wildcard">Up to 1983 the GRO index is organised into quarters as follows</a>
</li>
<a href="#wildcard"></a>
<table>
<thead>
<tr>
<td>the quarter...</td>
<td>...contains registrations in</td>
</tr>
</thead>
<tbody>
<tr>
<td>March</td>
<td>the months: January, February and March</td>
</tr>
<tr>
<td>June</td>
<td>the months: April, May and June</td>
</tr>
<tr>
<td>September</td>
<td>the months: July, August and September</td>
</tr>
<tr>
<td>December</td>
<td>the months: October, November and December</td>
</tr>
</tbody>
</table>

<li>From 1984 onward the GRO index is organised into years, although there is an additional field which gives the month of registration (this can be viewed by clicking on the <span style="position: relative; top: +3px"><img src="/btnInfo.gif" alt="Information" /></span> next to an entry). The quarter searched for is ignored for
entries from 1984 onward.</li>
<li>The quarter refers to the date the event was <strong>registered</strong>, not the date it occurred; in particular births were often registered late, so someone born at the end of June is likely to appear in the September quarter, or even later.</li>

<li><a href="#wildcard">Take particular care with specifying the district or county because it may not be what you expect</a>, in particular there can be considerable confusion with London. See
<a href="/DistrictInfo.html">here</a> for more information but, in general, only restrict the search by district or county if necessary, for example when searching for a very common name.</li>
<li>Some [link="/givenname-initials] years have been transcribed from versions of the index that only contain the second and subsequent given names as initial(s). So, for example, doing a search for  James Ian over several years may give results in only some years because in the others the name would be recorded as James I. It is best, therefore, to only use other than the first given name where necessary.</li>
<li>People sometimes used a given name other than the first given name that was registered; see [link="#firstname"] for facilities to assist searching for such cases.</li>
<li>The information present in the records varies with year because the GRO only started adding data like date of birth, mother's maiden name and spouse name later in the creation of the index - see
[link="/search-results-help. #additional"] here for more information. Searching for information that is not present will not return results, for example doing a search of Births that includes the mother's maiden name will not return any records prior to September 1911.</li>
<li>There are two situations where FreeBMD uses derived information to perform a search, these being spouse searches for marriages prior to 1912 and deaths searches prior to April 1969 that specify a date of birth - in both these cases, explained in more detail below, the data is not in the index but FreeBMD helps you by working out the information, although this does mean that the searches return more results.</li>
</ul>

<h2 id="params">Details of the parameters of a search</h2>
<p>The table below gives details of the fields on the search screen, and suggests how you might use them to get the best results. The following apply to all text fields:</p>

<dl>
<dt id="wildcard">Wildcard searches</dt>
<dd>
<p>For all the name fields you can use a * to match any number of characters, 
e.g. Thorn* will find Thorn, Thorne, Thornton, etc. You can use ? to match exactly one character, e.g. Thorn? will match Thorne and Thorns but not Thorn or Thornton. However, a * has a different meaning when it is the first character of a <em>First Name</em> search - see <a href="#firstnameasterisk">here</a>. The use of wildcards can result in too many entries being found or the search taking too long, so this facility needs to be used with care.</p>
<p>To assist you with using wildcard searches of surnames and givennames, and in general finding alternative spellings, FreeBMD provides a facility to allow you determine the possible alternatives. This facility, called [link="/cgi/search-names] Search Names, allows you to list all those surnames in the database that are similar to the one you are looking for. A full explanation will be found by following the link given. This facility is particularly useful when the normal wildcards are either not expressive enough or are rejected as  taking too much time to run.</p>
</dd>

<dt id="charactercase">Character case</dt>
<dd>
<p>When searching upper and lower case letters are treated as being the same.</p>
</dd>

<dt id="literalsearch">Literal searches</dt>
<dd>
<p>If you precede a field by backslash the search is done on the characters exactly
as they follow the backslash (except that upper and lower case are still equivalent), in particular * and ? have no special meaning.</p>
</dd>
<dt id="emptyfields">Empty fields</dt>
<dd>
If a field in the index is empty it will be transcribed as question mark(?). To search specifically for records with an empty field, put \? in the field in the search form.
</dd>
</dl>
Options - Phonetic search on Surnames
<table cellpadding="5" border="1">
<tbody><tr><th>Field</th>
<th>Comments</th>
</tr>

<tr id="type"><td>Type</td>
<td>You must specify whether you are searching for Births, Marriages or Deaths by ticking on the relevant  Record Type box(es). To search for all three just click on the Select All box. For a combination of two types (e.g. Births and Marriages) click on both boxes (e.g. click the Birth and the Marriages boxes). </td>
</tr>

<tr id="surname"><td>Surname</td>
<td>You should take care to try any variants of the surname. Many names were wrongly spelt, either because the Registrar made an error, or because a mistake was made during the indexing process. Selecting the <em>Phonetic Search  on Surnames</em> option (see below) will cause FreeBMD to look at surnames with a similar sound.</td>
</tr>

<tr id="firstname"><td>First Name (s)</td>
<td>
<p>In contrast to the other names, by default First Names are matched to names <strong>starting with</strong> the characters given (unless <em>Exact match on First Names</em> is checked - see below).</p>

<p>Once again, beware of names that are wrongly spelt, particularly unusual names or names not spelt with the conventional spelling. Common names sometimes appear in the index using the conventional abbreviation for the name (e.g. William = Wm).</p>
<p>Where the person you are looking for has middle names, this can be a great help in narrowing down the search, but you should remember that the middle names may have been omitted from the index, or shortened to initials. If the person you are searching for was called <em>David William Robert</em> (for example) This may appear as <em>David W. R.</em> or <em>David W R</em> or perhaps <em>David W.</em> Searching for <strong>David W</strong> is probably the best starting point but see our
 <a href="/givenname-initials.html">analysis</a> of initials in the index which could affect your decision on the search term to use.</p>

<p id="firstnameasterisk">You can search based on the second given name by preceding the name with an asterisk (which means that the asterisk loses its meaning of matching anything). So if you have a middle name that was commonly used in your family you can use this type of search to find possible relatives, for example Surname=Carpenter, Givenname=*Joshua. Such a
search matches from the <em>start</em> of the second given name (e.g. it would find 
"David Joshua" but not "David Peter Joshua"). To search for a name anywhere from the second given name onwards use a double asterisk,  e.g. Givenname=**Joshua which would find both the above examples.</p>

<p><a name="allgiven">You can search on both the first <em>and</em> middle given names by preceding the name with a plus (+), thus "+jane" will find entries for which the first or second given names start with <strong>jane</strong>.</a>
</p>
<a name="allgiven">

</a>
<p><a name="allgiven">Please note that only names that do not include 
</a>
[link="/search-faq #ucf"] UCF characters can be found in such a search.</p>
</td>
</tr>
<tr id="s_surname"><td>Spouse/Mother Surname</td>
<td rowspan="2">When searching for a <strong>marriage</strong>, the search returns the entries that
have the name specified as the spouse surname in the entry (from 1912 onwards) or <strong>may</strong> be the spouse of the name specified as the spouse surname (prior to 1912).

<p><strong>From 1912 onwards</strong> the records contain the spouse's surname and a search is done on this. If a Spouse First Name is given as well an entry will be returned if (a) we have the spouse record and the given name matches or (b) we do not have the spouse record and 
<a href="#onlyidspouse">Identifiable Spouse only</a> has not been checked (and in this case the spouse name will be in italics).</p> 

<p>For entries <strong>prior to 1912</strong>, entering a value here will return all entries where the quarter, volume and page are the same for entries with the Surname given and the Spouse Surname given. Note that this does not mean that any pair of entries represent spouses. To see all the results for that page click on the <strong>Page</strong>  in the search results. See
<a href="/marriage-help.html">here</a> for more information about finding a spouse.</p>

<p>The <em>Phonetic search on Surnames</em> and <em>Exact match on First 
Names</em> options apply to the Spouse's Names as well, as do the * and + conventions (see above). </p>

<p>The search process for records prior to 1912 is very complex and is unlikely to succeed unless you limit the scope of the search. Searches using the Spouse  details that span the start of 1912 are performed as two separate searches and the results combined, so the results returned prior to 1912 and those from 1912 onward have a different significance as explained above. </p>
<hr />
<p>When searching for a <strong>birth</strong>, entering a surname will return only those births that have the specified mother's maiden name. Only records from the September quarter 1911 onwards contain the mother’s maiden name so entering a value in this field will return only records from the September quarter 1911 onwards.</p>
<p>A search for a mother's maiden name can be combined with a search on the mother's
married name to greatly limit the number of results when searching for possible offspring.</p>

<p>The <em>Phonetic search on Surnames</em> option applies to the Mother's Surname as well.</p>
</td>
</tr>

<tr><td>Spouse First Name (s)</td>
</tr>

<tr id="aad"><td>Death age/DoB</td>
<td>
<p>The index only contains information about the Date of Birth (or Age at Death) for Death
entries so you can only specify these for searches that only specify Deaths as the type
of entry to be searched for. To restrict a search for a death registration to only entries with a particular age at death or date of birth enter one of the following
</p>
<ul>
<li>an age (e.g. 65),</li>
<li>a range of ages (e.g. 60-70 or 65±5),</li>
<li>a date of birth (e.g. 23June1910) or</li>
<li> a range of dates of birth (e.g. 1910-1912 or 1911±1).</li>
</ul>
<p>A fuller explanation of Age at Death searching is [link ="/aad-search-help] here. You may only enter a value in this field when searching for a  death. The index contains the age at death from 1st Jan 1866 and the date of birth from 1st Apr 1969 (although you can search the FreeBMD database for either an age at death or date of birth from Jan 1866 onwards). Searches specifying age at death or date of birth will return all those entries where an age at death or date of birth is not present (e.g. prior to Jan 1866) or not 
comprehensible (e.g. 31JE1910) unless <em>Match only recorded ages/DoB</em> is specified
(see <a href="#match">below</a>).</p>

<p>The following formats are supported for specifying the Date of Birth
</p>
<ul>
<li>dd/mm/yyyy (e.g. 23/7/1910) where the day and month may be one or two digits.</li>
<li>ddMMMyyyy (e.g. 23July1910) where the day is one or two digits and the month may be specified as the full month name, the first three letters of the month or the
abbreviation used in the index (see [link="/search-results-help. #dateofbirth"] here for details) and upper and lower case are treated as equivalent.</li>
</ul>
<p>The day may be omitted (meaning any day in the month) or the day and month may be
omitted (meaning any day in the year).</p>
<p>A range can be specified in two ways (for both ages and dates)
</p>
<ul>
<li>A start and an end separated by a hyphen, e.g. 60-70 or 1910-1912.</li>
<li>A plus-minus range (±) as a number following a percent sign (%), e.g. 65%5 or 1911%1  (for dates only the year can be specified in this type of range)</li>
</ul>
<p>It should be noted that the index contains two conventions for approximate dates
of birth which are handled by FreeBMD:
</p>
<ul>
<li>a hyphen (or two hyphens) replacing the day (e.g. -JY1910) which we take to mean any day in the month.</li>
<li>the word "about" (or similar) following by a year which we take to mean 
One year either side of the year given.</li>
</ul>
<p>Search results will include these approximate dates of birth, for example if you search for 23/7/1910 you would get entries that had <strong>-JY1910</strong> or <strong>about 1909</strong> as the Date of Birth.</p>
</td>
</tr>

<tr id="date"><td>Date Range</td>
<td>
<p>The Date Range limits the search to those events registered between the quarters you specify. You should always specify as small a range of dates as possible to search in order to speed up the search by reducing the number of results.</p>
<p>Remember that events at the end of a quarter may not have been registered until the start of the next quarter, so adjust your search dates to suit.</p> 
<p>From 1984 onward the GRO index is organised by year, so the quarter is ignored.</p> 
<p>Leaving the first year blank means "from the start" and leaving the second year blank means "to the end". To search just one quarter specify the same start and end quarter, or specify the end year as the characters <code><strong>start</strong>
</code>.</p>
</td>
</tr>

<tr id="vol"><td>Volume</td>
<td>If you are searching for a common name, it may help to narrow your search down to a particular part of the country. A list of which part of the country is covered by each volume is given  <a href="http://www.genuki.org.uk/big/eng/civreg/GROIndexes.html">here</a>. An explanation of how the Volume relates to District and Page is given
 <a href="/distvolpage.html">here</a>.
</td>
</tr>

<tr id="pgno"><td>Page</td>
<td>This option is useful in researching marriages where it may be used to search for an unknown spouse (whose Marriage index reference Volume and Page details will be the same as that for their known spouse) - see [link="/marriage-help"] here for more information. An explanation of how the Page relates to District and Volume is given  <a href="/distvolpage.html">here</a>.</td>
</tr>

<tr id="options"><td>Options - Mono</td>
<td>Check this box if you are using a monochrome screen</td>
</tr>

<tr>
<td>Options - Exact match on First Names</td>
<td>If this box is checked the search for the First Name is done on the characters as typed. Otherwise the search is done as if a * was appended to the characters. If you check Exact match you can still use * and ? in the name.</td>
</tr>

<tr>
<td>If this box is checked FreeBMD will attempt to match surnames using the <a href="https://en.wikipedia.org/wiki/Soundex">Soundex</a> code appropriate to the surname entered. Note that you should not use wildcard characters when doing a phonetic search.</td>
</tr>

<tr>
<td id="match">Options - Match only recorded ages/DoB</td>
<td>If this box is checked, when an Age at Death/DOB search is performed FreeBMD will only return results where there is a recorded Age at Death/Date of Birth in the index. 
See [link="/aad-search-help.l#missingentries"] here for more details.</td>
</tr>

<tr>
<td id="onlyidspouse">Options - Identifiable Spouse only</td>
<td>If this box is checked, when a post 1912 search is performed for a spouse given name FreeBMD will only return results where there is an entry that the given name can be checked against. If this box is not checked, FreeBMD will return entries that match the given name <em>and</em> entries for which the given name could not be determined.</td>
</tr>

<tr id="districtid"><td>Districts</td>
<td><p>If you know with reasonable certainty which district an event occurred in, you should 
select the District from the list. Select multiple entries by holding down the Ctrl key 
before clicking on individual entries, or by holding down the Shift key to select a block of 
entries. If you have already selected a County or multiple Counties (see below) only those 
districts in those counties will be shown.</p>
<p> You should take care when searching using a district because each district appears in the index under a variety of spellings (and misspellings) and the district may not be what you expect. Districts are grouped together under one standard spelling which is what appears in this list, as explained in the <a href="/DistrictInfo.html#spellvar">District Help Page</a>.  An explanation of how the District relates to Volume and Page is given <a href="/distvolpage.html">here</a>. Information on districts and the dates when they were in use is given in the
 <a href="/DistrictInfo.html">District Help Page</a>.</p>
</td>
</tr>

<tr id="countyid"><td>Counties</td>
<td><p>Each District is linked by FreeBMD to <strong>all</strong> of the Counties that 
are covered by that District - see the <a href="/county-map.html">mapping</a> of districts onto counties. Select multiple entries by holding  down the Ctrl key before clicking on individual entries, or by holding down the Shift key to select a block of entries. Once you have selected one or more Counties the District list will only show the districts in those counties.</p>
<p>You should note that some Districts, whilst largely within one County also covered small areas of adjacent Counties (e.g. the District Ashton-under-Lyne is in Lancashire, but included small areas of Cheshire). In such cases it is impossible to determine from the index which County the event occurred in, so a search for a County will include Districts from adjoining Counties which extend into that County.</p>

<p>If <em>One or more counties initially selected</em> is displayed this is a reminder that you have one or more counties selected although
they may not be in the displayed part of the Counties list. This happens when you do a <strong>Revise Query</strong> when searching specific counties.</p>
</td>
</tr>

<tr id="find"><td>Find</td>
<td>Find will start your search. It may be helpful in some cases to use the faster "Count" option to check whether your search will find a manageable number of records.</td>
</tr>
</tbody>
</table>
