<h1>DRAFT - Civil Registration through the GRO (W-in-P)</h1>

<style scoped="scoped">
.replace { text-decoration: line-through; color: #737373; }
figcaption {
  font-style: italic;
  color: #737373; /* 4.74:1 */
  margin-top: 0.3em;
}
figure.site img {
  border: 2px solid #00a099;
  padding: 0.3em;
  width: 100%;
  height: auto;
 max-width: 1000px;
}
</style>

  <p class="lead">This page provides a summary of the system of Civil Registration (of births, marriages and deaths) in England and Wales and the General Register Office (GRO), a government office founded for this purpose. It, creates and holds centralised indexes of Births, Marriages and Deaths for England and Wales and has done so since July 1837. It is reliant on local Registrars, employed for nearly a century by the local Poor Law Commissioners and after 1929 by local government; as well as the local clergy and Registrars conducting marriages ceremonies.</p>  

   <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right">
   <div class="islet islet--bordered">
  <h2 class="title-block">On this page</h2>
     <ul class="sub-nav">
      <li><a href="#start"> Before Civil Registration </a> </li>
      <li><a href="#laws">Enabling legislation</a>  </li>
      <li><a href="#registrars">Superintendent Registrars, Registrars &amp; others</a> </li>
     <li><a href="#indexes">The General Register Office </a> </li>
     <li><a href="#changes"> Changes </a> </li>
       <li> <a href="#reform"> Local government reform </a> </li>
       </ul>
    </div>
      <p class="sub-nav">Peter Higginbotham's web site: <strong>www.theworkhouses.org.uk</strong> has extensive information about the <a href="http://www.workhouses.org.uk/unions/" target="_blank">History of Poor Law Unions (opens in a new Window)</a>. Peter has written extensively on this topic, including his: <em>The Workhouse Encyclopedia</em>, The History Press, 2012 as well as other books on The Workhouses.
      </p>
<p class="sub-nav">The GRO has a Frequently Asked Questions page, which offers number of downloadable pdf guidance documents, such as guides on the GRO Index number and the GRO Historical online birth and death indexes. They can be found (towards the bottom of) the: <a href="https://www.gro.gov.uk/gro/content/certificates/faq.asp#GROIndexReferences" target="_blank">FAQ page (opens in a new Window).</a> </p>
    <p class="sub-nav">You can also download a booklet from the GRO, in pdf form: <a href="https://test3.freebmd.org.uk/system/resources/W1siZiIsIjIwMjAvMDIvMTYvd2VwM2hvYWp3X0Rpc2NvdmVyX3lvdXJfZmFtaWx5X2hpc3RvcnkucGRmIl1d/Discover%20your%20family%20history.pdf?sha=3bbea559f1d85455" target="_blank"> “Discover Your Family History”  (opens in a new Window).</a> </p>
   <p class="sub-nav">Wikipedia has an article on the General Register Office. You can access <a href="https://en.wikipedia.org/wiki/General_Register_Office_for_England_and_Wales" target="_blank">the article here (opens in a new Window.)</a> </p>
 
  </aside>
  <div class="grid__item three-fifths lap-one-half palm-one-whole">
 
   <p class="islet islet--light"> Note: This page focuses on the role of the GRO in recording and indexing births, marriages and deaths. It also has responsibilities, in England and Wales, for other duties, including: other birth, marriage and deaths indexes; producing various statistical reports concerning population birth, marriage and death rates; the ten-year censuses, from 1841; the creation of the 1939 Register; and undertaking social surveys. These will be mentioned on this page only where necessary and detailed information on these aspects will not be found here. So, this page does not reflect the full range of duties undertaken by the GRO.</p>

  <h2 id="start">Before Civil Registration in England and Wales</h2> 
      <mark> Further work is needed in respect of the validity, or otherwise of non-C. of E. marriages </mark>
    <p>Since 1538, the Church of England and the Church of Wales have recorded the three main events in life — baptisms, marriages and burials — in the form of records made and held by the local parish church. Copies of these parochial records, known as Bishops Transcripts, were sent to the local Bishop or Archbishop.</p>
    <p>At first, these events were recorded in bound books, with baptisms, marriages and deaths intermingled on the same pages. Later on, parishes were required to register this information onto prescribed printed forms bound in registers, with separate registers for births, marriages and deaths. These registers changed over the years, as they were required to record additional information about the events. The forms are often known after the name of their designer, such as <em>Dade Registers</em>.</p>
    <p>Whilst Catholic priests kept records of baptisms, marriages and burials, as did some non-conformist churches and chapels, these marriages were not accepted as valid records; and to be legal the marriage service had to be held in the Parish Church. However, from the 17th century onwards, the record keeping of the Quakers and the Synagogues was considered to be acceptable.</p>
  <p>From 1837 onwards, copies of marriage records from the Registers of Parish Churches, the Quakers and the Synagogues were to be sent to the General Register Office every quarter. This applied also to legally-recognised <em>Places of Worship</em>, “Registered” by a Superintendent Registrar as <em>places for holding weddings</em>; but here, the local Registrar and two witness had to be present and the wedding was registered in the Registrar's duplicate set of Registers.</p>
    <p class="islet islet--light">Since of start of Civil Registration of birth, marriages and deaths in the 19th century, the  parish system of recording baptism, marriages and burial continues for people who choose to make use of it. If they don't use it, they will not leave any records of their <em>passage through life</em> in the parish registers.</p>
  <p class="islet islet--light">You can search for baptism, marriage and burial records in many of the parishes in the United Kingdom on our sister site: <a href="https://www.freereg.org.uk/" target="_blank">FreeReg (opens in new Window).</a>  You can also view FreeReg's coverage, by number of records, for individual Counties and / or parishes by clinking on its <a href="https://www.freereg.org.uk/freereg_contents/new?locale=en" target="_blank">Records Tab (opens in a new Window)</a> and then searching by County or Place (parish).</p>
  
  <h2 id="laws">Summaries of enabling legislation</h2>
  <h3>The Poor Law Amendment Act, 1834.</h3>
  <p>Two years before the necessary acts for the Civil Registration of births, marriages and deaths came before parliament, the Poor Law Amendment Act, 1834 reformed of the administration of the Poor Law system of relief. This created the office of the Poor Law Commissioners whose task was to administer that system by issuing Rules and Orders to the local poor law unions.</p>
  <p>The Commissioners' first task was to create administrative areas by combining groups of individual parishes into Poor Law Unions; and to ensure that local elections were held by the Rate-payers and landowners to appoint a Board of Guardians for each Union. A Union being a grouping of local civil parishes so as to, more efficiently and collectively, fulfill each parish's individual responsibility for its poor.</p>
  <p>Parliament's approval of the Registration of Births &amp;c. Act, 1836 (a bill for registering Births Deaths and Marriages in England) and the Marriages Act of 1836 (a bill for Marriages in England) enabled the government to introduce a system of national registration of births, marriages and deaths. These two acts made specific references to the Poor Law Commissioners / Unions as units of local government and it gave the responsibilities for the local registration of births, marriages and deaths, in respect of providing suitable personnel and meeting these costs, to the local poor law union.</p>
  <p>Note: while both of these Acts only mention England by name, their requirements were also to apply to Wales.</p>
   <p class="islet islet--light"> The County Councils and County Boroughs of England and Wales, did not come into existence until 1st April 1889. You can discover more about them and the Act of 1888 that created them on Wikipedia's article: <a href="https://en.wikipedia.org/wiki/Local_Government_Act_1888" target="_blank">Local Government Act, 1888 (opens in a new Window).</a> </p>
  
  <h3>Registration of Births &amp;c. Act, 1836 (a bill for Registering Births, Deaths and Marriages in England)</h3>
  <p>This act called for the setting up of an Office in London, called the “The General Register Office” whose function was to keep a register of all Births, Marriages and Deaths in England. Control of this was intially given to the Poor Law Commissioners, until a Registrar General was appointed. The act required one to be appointed, together with salaried Inspector, Clerks, Officers and Servants.</p> 
 <p>The Guardian of each Poor Law Union was to appoint one of their Clerks or Auditors to be Superintendent Registrar for their Union. They also required to divide, or make recommendations for dividing, their area into sub-districts, providing a name for the district and to ensure that the Rate-payers of the district elected suitable persons to be Registrar and Deputy for sub-district. The name of the sub-district was often based on the name of the largest place, village or township in that sub-district. The sub-district had to be continuous, with no detached portions, and of a size that one person (the Registrar, who was required to live in the area) could cover it.</p> 
  <p>In respect of a child whose birth had been Registered, being baptised with different name(s) to those recorded in the Register of Births, the Act placed a legal requirement on the parents, the child’s guardian or any other Persons to inform the Registrar or Superintendent Registrar within seven days. This was to be done in writing on a prescribed Certificate, signed by the minister who carried out the baptism (the Minster would be paid by the Registrar for signing the certificate). On receipt of the Certificate, the Register was to be amended (not crossed out or defaced), see below. The Registrar or Superintendent Registrar had to certify that this had been done and to promptly post a copy of the Certificate to the General Register Office.</p>

  <p> The Registrar was required to provide an annual Abstract to Parliament of births, marriages and deaths recorded in the year just ended.</p>
  
  <h3>Marriages Act, 1836 (a bill for Marriages in England)</h3>
  <p>This act changed the earlier requirement for “Banns of Marriage” to be published and read out in church for three weeks before a marriage could take place. Instead from the 1st January 1937, written notice of their intention to marry within three months was to be given to the Registrar of the district, on a specified form. He would then “file” this in a register, “The Marriage Notice Book”, and issue a certificate  to the applicant, certifying that this had been done. This certificate was valid for three months, but the marriage could not take place any earlier than 22 days after the certificate was issued, unless a “license” was purchased from the Superintendent Registrar. However, this license was not valid for church weddings. In such cases, the Archbishop of Canterbury had to issue a “Special License”.</p>
  <p> The Superintendent Registrar had the authority to register a building used for worship — that was certified as a <em>Place of Worship</em> — as a <em>place for holding weddings</em>, provided that it had used for at least one year as a place of worship; and, at least twenty householders provided the Superintendent Registrar with a certificate stating that they had used it for worship and they also wished for it to be used for marriages. Copies of the Certificate had to be signed by the Superintendent Registrar and the Registrar General; and signed copies kept by all three parties.</p>
  <p>Marriages could then be held in this “place” in the presence of the Registrar and two witnesses; and in these cases the marriage would be registered in both copies of the Marriage Register held by the Registrar. Such marriages were to be considered as recognisable as Church of England marriages. As an alternative, people could marry in the office of the Registrar in the presence of the Superintendent Registrar, the Registrar and two witnesses.</p>
  
  <h2 id="registrars">Superintendent Registrars, Registrars and others</h2>
   <p> Local management of and the registration of births, marriages and births was <em>outsourced</em> and the costs of running them was to fall on the local Poor Law Union. It is clear from contemporary sources that each Union was required to supply the General Registrar, by the 1st October 1936, a list of suggested districts, a description of the district and a name for it — often based on the name of the largest village or township in that district. There was both minimum size for a district and an upper limit. The district had to be a single area, without any detached areas; there was a need to balance population density against geographical area, so that one person could cover it (a maximum of about 5000 people in a medium-density area was suggested and less people in more-dispersed low-density district), and that person had to reside in that district.</p> 
  <p>Each Union was to appoint a Superintendent Registrar and this was often offered to the Clerk of the Union. If he (almost always a man) refused, it would then be offered to someone else. Below this, a <em>suitable </em>Registrar and usually a Deputy, often from within the Poor Law Union, were appointed for each sub-district in the Union.</p>
  <h3>Registrars</h3>
  <p>Every Registrar was to obtain a full set of Registers: a Register of Births, a Register of Notification of Marriages, duplicate Registers of Marriages, a Register of Deaths; the necessary forms for making certified true copies and various pre-printed certificates. They also needed to have a secure place to store these registers. Once a register was full, they sent it to their Superintendent for safe keeping and received a new one. </p>
  <p>The Acts initially put the responsibilities on the Registrar to get the information he needed, but there was a legal or a financial incentive for people to cooperate and provide the necessary information. The parents could register a birth without a charge within a six-week period from the date of birth, after that they had to pay a fee; and the birth could not be registered once a six-months had elapsed. <mark> (possible conflict between 15 days and six weeks) </mark> </p>
   <p>The Registrar, in the case of marriages, had to receive and file all copies of the Notice of Marriage and then issue a Certificate to the couple intended to marry that he had registered the Notice of Marriage. .......</p>
  <p>The act changed the earlier burial requirements. Upon being informed of a death, the Registrar had to register it and issue a certificate, certifying that he had registered the death to one of the following: a vicar intending to hold a burial service, an undertaker organising the burial or a grave digger. In the case of an inquest, the coroner might order the burial before informing the registrar, but the registrar on being informed of the death by the coroner, had to register it and provide the coroner with a certificate which certified that he had registered the death.</p>
      <p>At the end of every quarter (1st of April, July, October and December) the Registers had a period of one month in which to send a copy of every registration they had made to their Superintendent Registrar. The Registrar was to be paid a fee in arrears at the end of every quarter by the local Guardians of the Union, on sliding scale, for every birth and death registered.</p>
  <h3>Superintendent Registrars</h3>
  <p>The Superintendent Registrars were responsible for receiving and checking these quarterly returns from their Registrars and also those from any Quakers or Synagogues in their Union. Upon forwarding them to the General Registry Office, they received a fee for every entry submitted.</p>
 <p> They had the authority to register <em>Places of Worship</em> as <em>places for holding weddings</em> (see legislation) and they had to attend all marriages carried out in their Registrars offices. </p>
<h3> Parish Churches, Quakers and Synagogues.</h3>
  <p> These named religious organisations, like Registrars, had a period of one month at the end of every quarter in which to send a true copy of every marriage registration to the Superintendent Registrar for their area. It appears that some vicars did not like this “interference”, as they perceived it, as some of their early returns were late, sometimes very late.</p>
 <h2 id="indexes">The Office of Registrar General and the GRO indexes </h2>
   <mark> PC - This section is being worked on - PC </mark>
 <p> The 1836 Acts called for the setting up of an office of the Registrar General, in London, with salaried staff, such as clerks and the office was set up at Somerset House, where it remained until .... . The General Registrar was required to produce reports for the minister and parliament and the GRO produced annual reports summarising ...... </p>
  <p> The GRO was to pay for the printing of the Registers for recording births, marriages, or deaths: each page was to be sequential numbered, from one, and each entry space was to be sequentially numbered, from one, (the Entry Number). They were also required to supply pre-printed forms for making certified true copies of each entry made in these registers. .................</p>
  <figure class="site">
  <%= image_tag 'Handwritten%20GRO%20Index.png?sha=57189d2cb2fac7eb', alt: 'Early handwritten GRO index page', title: 'Early handwritten GRO index page', width: 100 %>
   Figure 1: An example of an early hand-written page from the GRO Indexes of births.
 </figure>

  <h2 id="changes"> Changes</h2>
 <h3>Registration Districts</h3>
  <h2> Holding area for stray items without a place </h2>
  <h3> Poor Law Counties / Union Counties </h3>
  <p> Peter Higginbotham [add reference] states, that for compiling statistics and for administration purposes, from 1834 Poor Law Unions were allocated to Poor Law Counties and that these were not always identical with the geographical counties. For instance, the allocated Poor Law County was often the county in which the main Poor town or district was located, but the Union included places in another county or counties. He also states that in 1850, prior to the 1851 census a few Unions had their allocated county changed. </p>
  <h3> Registration Districts </h3>
  <p> For further information [see our page: Registration Districts] [link to: Registration Districts] </p>
 <p> As discussed above, Registrations Districts were sub-districts of Poor Law Unions created under the Poor Law; and the General Registry Office when it indexed them sorted them into Volumes.</p>

  </div>