<h1>DRAFT - Help - Saved Searches</h1>

<div class="grid">
   <div class="grid__item two-thirds lap-one-half palm-one-whole">


<h2>Saved Searches on FreeBMD2</h2>
<p>We have not yet implemented a 'saved searches' feature on FreeBMD2 as there is on FreeBMD1.&#160; In the meantime, there is a work-around:</p>
<p>Save the url of the search results, for example:&#160;https://test3.freebmd.org.uk/search_queries/5f575390e937905a387b8688?locale=en&#160; and print out (e.g. save as a pdf) the page.&#160; You may wish to sort it first, e.g. by first name, date or other way to make comparison easier.&#160; When you want to check if anything has been added, paste the saved url into your browser, and it will run the same search again - you can now compare this visually to the pdf to see if any new results have been added, or changed in any way.</p>


  </div>
</div>