<h1>DRAFT - Help with Saved Searches</h1>

<h2>Saving Searches</h2>
<p>On the original FreeBMD website, you may be familiar with the 'saved searches' tool. The new website will have a similar tool in due course, but as an interim, here is how to see if anything has changed since your last search.</p>
<p>1/. Save the url at the top of the search results page:</p>
<p>2/ At a later date, this url will give you the same entries, and tell you what search criteira produced it - exactly as it does when you saved the url.</p>
<p>3/ In a new window, use the same search criteria to run a new search: you can now compare the two and see if anything has changed.&#160; Even if you get the same total number of records, it is worth&#160;checking in more detail, as is possible that a new record is found (after correction, new data, etc) and a previous record is no longer found (after correction, etc) which would mean that the total records would be the same.</p>


  
