/*------------------------------------*\
    $ALIASES
\*------------------------------------*/

$b-quad:    $base-spacing-unit * 4;
$b-double:  $base-spacing-unit * 2;
$b:         $base-spacing-unit;
$b-half:    $base-spacing-unit / 2;
$b-quarter: $base-spacing-unit / 4;
