/*------------------------------------*\
    $HELPER
\*------------------------------------*/

/**
 * Some responsive helpers
 */
.clear--left {
  clear: left;
}
.clear--right {
  clear: right;
}

@each $state in palm, lap, lap-and-up, portable, desk, desk-wide{
  @include media-query(#{$state}){

    .#{$state}-clear--left {
      clear: left;
    }

    .#{$state}-clear--right {
      clear: right;
    }

    .#{$state}-flush--bottom {
      margin: 0 !important;
    }

  }
}





/**
 * Table wrapper - makes tables work on tiny screens by letting them
 * scroll L/R whilst clipping the overflow so its only scrolling within a box.
 */
.table-wrapper {
  overflow-x: auto;
  table { min-width: 320px;}
}



/**
 * This extends the defualt push/pull to just turn it off responsively.
 *
 * We do this and then we don't have to turn on the
 * responsive push/pull which is huge as typically we
 * just need to turn it off for mobile and leave on
 * for everything else
 */
@each $state in palm, lap, lap-and-up, portable, desk, desk-wide{
  @include media-query(#{$state}){
    .push--#{$state}-none {
      left: auto;
    }
    .pull--#{$state}-none {
      right: auto;
    }
  }
}

/**
 * Add/remove margins
 */
 .push--top40   {
	margin-top: 40px;
}
