<% breadcrumb :select_file%>
<h2 class=' text--center'>Select the file to be displayed</h2>
<div class='island  island--light'>
  <%= render partial: 'flash_notice' %>
  <%= semantic_form_for @freecen_csv_file, :html => { :class => 'grid'}  do |f| %>
    <%= f.input :action, :as => :select, :include_blank => true,  :label => 'Make a Selection', :required => false, :collection => @options,:input_html => {:class => ' simple_form_bgcolour large_selection_field_width', :size => 5 ,'onchange' => @location} %>
  <% end %>
</div>