<ol>
<li><a href="#0">The entry does not match what I know, from the GRO certificate, a census, church register, family bible, or similar source</a>
</li>
<li><a href="#1">There are two entries, with slightly different spellings, I know which is correct</a>
</li>
<li><a href="#2">There is an error in the spelling of the District name</a>
</li>
<li><a href="#3">The District is not the place where the person was born, married, or died</a>
</li>
<li><a href="#4">The month recorded is wrong: I know the precise date of the event</a>
</li>
<li><a href="#5">The quarter recorded is wrong: I know the precise date of the event</a>
</li>
<li><a href="#6">I want to report that the spouse is missing from the results</a>
</li>
<li><a href="#7">I want to report that the entry is missing from a scan</a>
</li>
<li><a href="#8">I want to report a missing entry (and I can see it on a scan)</a>
</li>
<li><a href="#9">I want to report a missing entry (I have not seen it on a scan)</a>
</li>
<li><a href="#10">There are two nearly-identical entries for the same event</a>
</li>
<li><a href="#11">There are two entries which appear to be identical</a>
</li>
<li><a href="#12">There are characters such as square brackets, curly brackets underlines or asterisks in the entry</a>
</li>
<li><a href="#13">The entry for this event (e.g.  age at death) does not match what I know, from another FreeBMD event for this person (e.g.their birth registration)</a>
</li>
<li><a href="#14">The entry for this event (e.g. bride's surname at marriage) does not match the FreeBMD entry for another person at this event (e.g. spelling of her name in spouse's).</a>
</li>
<li><a href="#15">I have checked the scan and the transcription does not match what has been transcribed</a>
</li>
</ol>

<h3><a href="#0">The entry does not match what I know, from the GRO certificate, a census, church register, family bible, or similar source</a>
</h3>
<div class="answer_0">
FreeBMD transcribes exactly what is in the GRO index, and we do not change it to be correct as per the GRO certificate, or other certain knowledge. However, we recognize that there are errors in the index
and a number of facilities are provided to address this:
<ul>
<li>Transcribers can add comments to entries where there are issues with what
they find in the index
</li>
<li>People searching the index can add Postems(notes) to entries in FreeBMD detailing errors they believe exist
</li>
<li>In exceptional cases, to aid searching the FreeBMD index, special System
Entries are added but these are clearly marked as being additions that are
not in the original index
</li>
</ul>
<p>
However, it is also possible to request that the GRO corrects the index. Contact the
<a href="https://www.gro.gov.uk/gro/content/certificates/contact_us.asp">GRO</a> 
with the appropriate information. When they agree to the correction let us know and we will annotate FreeBMD appropriately.
</p>
</div>
<h3><a href="#1">There are two entries, with slightly different spellings, I know which is correct</a>
</h3>
<div class="answer_1">
<p>
It is not an error to find names appearing twice under alternative spellings in the Index. This happened when names were poorly written on the original copy. You may use the Postems to provide this information, which may be of help to other family historians.
</p>
</div>
<h3><a href="#2">There is an error in the spelling of the District name</a>
</h3>
<div class="answer_2">
<p>
Districts are spelt and abbreviated in a variety of ways. FreeBMD records the actual spelling from the index and links this to the definitive form of the name for searching, so we do not 'correct' them. To see the definitive form, you can click on the name of the district.
</p>
</div>
<h3><a href="#3">The District is not the place where the person was born, married, or died</a>
</h3>
<div class="answer_3">
<p>
The Registration District covers a larger area than the location with the same name as the Registration District, and some places were covered by more than one registration district (at the same time) or moved between registration districts over time. We know it can be confusing to see an unexpected place name and therefore have put a link from the district name to a page that gives a detailed and comprehensive history of that registration district.
</p>
</div>
<h3><a href="#4">The month recorded is wrong: I know the precise date of the event</a>
</h3>
<div class="answer_4">
<p>
This can happen for two reasons. One is that before 1984 events were recorded in quarters rather than months, so events in, for example, January, February and March are correctly recorded as being in the March quarter. Also, events which took place late in a quarter might not be registered until early in the following quarter.
</p>
</div>
<h3><a href="#5">The quarter recorded is wrong: I know the precise date of the event</a>
</h3>
<div class="answer_5">
<p>
Events are recorded in the quarter that they were registered, not the quarter when they occurred. It is perfectly possible that a birth in May will appear in the September Quarter, because it was not registered until July.
</p>
</div>
<h3><a href="#6">I want to report that the spouse is missing from the results</a>
</h3>
<div class="answer_6">
<p>
Please do not use this form to report that the spouse is missing from a spouse search - see here for help on finding a missing spouse. Bear in mind that FreeBMD is a work in progress and the spouse record may be on a page that has not yet been transcribed. Once you have found a missing spouse you can, of course, submit a correction if that entry is in error or missing from a transcribed page.
</p>
</div>
<h3><a href="#7">I want to report that the entry is missing from a scan</a>
</h3>
<div class="answer_7">
<p>
Still in Progress
</p>
</div>
<h3><a href="#8">I want to report a missing entry (and I can see it on a scan)</a>
</h3>
<div class="answer_8">
<p>
If you have identified that an entry or entries on a scan of a page have not been transcribed you should attach a correction to the immediately preceding entry (find the name on the page and search using those details and use the 'report a data error' button on that record.  
If you have done this, and are back at this point, please use this link [link to reporting page] to report the following entry as missing.  You only need to provide the details that are different, such as the name of the missing person, and  we will make sure all the missing entries are transcribed.
</p>
</div>
<h3><a href="#9">I want to report a missing entry (I have not seen it on a scan)</a>
</h3>
<div class="answer_9">
<p>
We transcribe exactly as on the GRO index, which may itself contain errors.</p>
<p> 
If it is possible to search for this entry on the <a href="https://www.gro.gov.uk/gro/content/certificates/login.asp">GRO website</a> (you do not need to actually order a certificate), please do so, and if it is there, let us know the volume and page concerned below/on this form.
If the entry has not yet been indexed by the GRO, please use this form - please provide as much information as you know about the date and location of the event.
</p>
</div>
<h3><a href="#10">There are two nearly-identical entries for the same event</a>
</h3>
<div class="answer_10">
<p>
In some circumstances there are both handwritten and typed scans available and the FreeBMD policy is that the two should be seen as completely independent attestations to the same historical event and the two should be kept and served as separate records. When submitting a correction you should check the scan(s) referenced when you click on the Scan available icon.
</p>
</div>
<h3><a href="#11">There are two entries which appear to be identical</a>
</h3>
<div class="answer_11">
<p>
This is usually because the GRO index itself contains identical entries, and we transcribe exactly what is in the index.  Please check the scan(s) to see if this is the case.
It is also possible that this is a transcription error - if this is the case, please let us know by using this form below.
</p>
</div>
<h3><a href="#12">There are characters such as square brackets, curly brackets underlines or asterisks in the entry</a>
</h3>
<div class="answer_12">
<p>
Where the transcriber was unable to read the record fully, uncertainty will be shown by use of special characters: []{}_*. The majority of such entries will be corrected in the fullness of time as better quality source becomes available. It should be noted that as all corrections are verified before being applied, it is unlikely that our source will be any more readable now than it was when it was transcribed, and such corrections are unlikely to be applied. If you have a legible copy of this page (e.g. one you photographed when the indexes were open for public consultation), please use [this form] to provide your contact details so that we can invite you to send us the image.
</p>
</div>
<h3><a href="#13">The entry for this event (e.g.  age at death) does not match what I know, from another FreeBMD event for this person (e.g.their birth registration)</a>
</h3>
<div class="answer_13">
<p>
FreeBMD transcribes EXACTLY what is in the GRO index for this event, and we do not change it to be correct as per another event in the index. If you wish to get the GRO Index corrected you should apply to the <a href="https://www.gro.gov.uk/gro/content/certificates/contact_us.asp">GRO</a> with the appropriate information. When they agree to the correction let us know and we will annotate FreeBMD appropriately.
However, we provided a number of facilities to address this which may be of help to other family historians:
</p>
<ul>
<li>Transcribers can add comments to entries where there are issues with what
they find in the index
</li>
<li>People searching the index can add Postems(notes) to entries in FreeBMD detailing errors they believe exist
</li>
<li>In exceptional cases, to aid searching the FreeBMD index, special System
Entries are added but these are clearly marked as being additions that are
not in the original index
</li>
</ul>

</div>
<h3><a href="#14">The entry for this event (e.g. bride's surname at marriage) does not match the FreeBMD entry for another person at this event (e.g. spelling of her name in spouse's).</a>
</h3>
<div class="answer_14">
<p>
FreeBMD transcribes EXACTLY what is in the GRO index for THIS  person in the event, and we do not change it to be correct as per the index for a spouse or mother. If you wish to get the GRO Index corrected you should apply to the <a href="https://www.gro.gov.uk/gro/content/certificates/contact_us.asp">GRO</a> with the appropriate information. When they agree to the correction let us know and we will annotate FreeBMD appropriately.
However, we provided a number of facilities to address this which may be of help to other family historians:
</p>
<ul>
<li>Transcribers can add comments to entries where there are issues with what
they find in the index
</li>
<li>People searching the index can add Postems(notes) to entries in FreeBMD detailing errors they believe exist
</li>
<li>In exceptional cases, to aid searching the FreeBMD index, special System
Entries are added but these are clearly marked as being additions that are
not in the original index
</li>
</ul>

</div>
<h3><a href="#15">I have checked the scan and the transcription does not match what has been transcribed</a>
</h3>
<div class="answer_15">
<p>Text needs to be decided</p>
</div>


<h3><a name="22">22. Why doesn't FreeBMD correct errors in the index?</a>
</h3>
<div class="answer_22">
The objective of FreeBMD is to provide access to an electronic version of the
GRO index and as such the FreeBMD policy is that the index is transcribed 
exactly as it is. However, we recognise that there are errors in the index
and a number of facilities are provided to address this:
<ul>
<li>Transcribers can add comments to entries where there are issues with what
they find in the index
</li>
<li>People searching the index can add Postems (notes) to entries in FreeBMD detailing errors they believe exist
</li>
<li>In exceptional cases, to aid searching the FreeBMD index, special System
Entries are added but these are clearly marked as being additions that are
not in the original index
</li>
</ul>
In each of the above cases special symbols appear next to the entries
concerned (see <a href="/search-faq.html#symbols">here</a> for more details).
<p>
However, it is also possible to request that the GRO corrects the index. Contact the
<a href="https://www.gro.gov.uk/gro/content/certificates/contact_us.asp">GRO</a> 
with the appropriate information. When they agree to the correction let us know and we will annotate FreeBMD appropriately.
</p>
</div>