<h3><a href="#0">The entry does not match what I know, from the GRO certificate, a census, church register, family bible, or similar source</a>
</h3>
<div class="answer_0">
FreeBMD transcribes exactly what is in the GRO index, and we do not change it to be correct as per the GRO certificate, or other certain knowledge. However, we recognize that there are errors in the index
and a number of facilities are provided to address this:
<ul>
<li>Transcribers can add comments to entries where there are issues with what
they find in the index
</li>
<li>People searching the index can add <a href="/help/entry_help#postems_help">Postems</a>(notes) to entries in FreeBMD detailing errors they believe exist
</li>
<li>In exceptional cases, to aid searching the FreeBMD index, special System
Entries are added but these are clearly marked as being additions that are
not in the original index
</li>
</ul>
<p>
However, it is also possible to request that the GRO corrects the index. Contact the
<a href="https://www.gro.gov.uk/gro/content/certificates/contact_us.asp">GRO</a> 
with the appropriate information. When they agree to the correction let us know and we will annotate FreeBMD appropriately.
</p>
</div>
<h3><a href="#1">There are two entries, with slightly different spellings, I know which is correct</a>
</h3>
<div class="answer_1">
<p>
	FreeBMD transcribes EXACTLY what is in the GRO index for this event, and we do not change it to be correct as per another event in the index. However, we recognize that there are errors in the index
and a number of facilities are provided to address this:
<ul>
<li>Transcribers can add comments to entries where there are issues with what
they find in the index
</li>
<li>People searching the index can add <a href="/help/entry_help#postems_help">Postems</a>(notes) to entries in FreeBMD detailing errors they believe exist
</li>
<li>In exceptional cases, to aid searching the FreeBMD index, special System
Entries are added but these are clearly marked as being additions that are
not in the original index
</li>
</ul>
<p>
If you wish to get the GRO Index corrected you should apply to the GRO. Contact the
<a href="https://www.gro.gov.uk/gro/content/certificates/contact_us.asp">GRO</a> 
with the appropriate information. When they agree to the correction let us know and we will annotate FreeBMD appropriately.
</p>
</div>
<h3><a href="#2">There is an error in the spelling of the District name</a>
</h3>
<div class="answer_2">
<p>
If you have identified that an entry or entries on a scan of a page has not been transcribed you should attach a correction to the immediately preceding entry (find the name on the page and search using those details, and use the 'report a data error' button on that record.
If you have done this, and are back at this point, please use this link [link to reporting page] to report the following entry as missing.  You only need to change the details that are different, such as the name of the missing person, and check the 'missing entry' or 'missing entries' box - you only need to check the missing entries box on the first person if multiple entries are missing: we will make sure all the missing entries are transcribed.
</p>
</div>
