<section>

  <% if @dwelling %>
    <% hdr_labels = FreecenDwelling.dwelling_display_labels %>
    <% hdr_vals = @dwelling.dwelling_display_values %>
    <table>
    <% for i in 0..hdr_labels.length-1 %>
      <tr>
	<td><b><%= hdr_labels[i] %>:</b></td>
	<td><%= hdr_vals[i] %></td>
      </tr>
    <% end %>
    </table>
    <div style="height:30px;"></div>
    <table style="border: 1px solid #aaaaaa; border-collapse: collapse;">
      <thead>
	<tr>
	  <% FreecenIndividual.individual_display_labels.each do |lbl| %>
	  <td style="border: 1px solid #aaaaaa;padding-left:4px;padding-right:4px;">
	    <b><%= lbl %></b>
	  </td>
	  <% end %>
	</tr>
      </thead>
      <tbody>
	<% @dwelling.freecen_individuals.asc(:sequence_in_household).each do |individual| %>
	<tr>
	  <% individual.individual_display_values.each do |field_val| %>
	  <td style="border: 1px solid #aaaaaa;">
	    <%= field_val %>
	  </td>
	  <% end %>
	</tr>
	<% end %>
      </tbody>
    </table>
  <% end %>





</section>

