<section>
  <p>
    <%unless @entry['register_type'].include? "Unspecified"%><%=@entry['register_type']%><% else %>Register of unspecified type<% end %>, <%=@entry['church_name']%>. "Parish Register" database. https://freereg.org.uk. Free UK Genealogy (accessed <%=@viewed_date%>).
  </p>
</section>
