<section>
  <p>
    {{Cite web|url=https://freecen.org.uk|title=FreeCEN - UK Census Records (England, Scotland, Wales)|accessdate=<%= @viewed_date %>|work=FreeCEN|publisher=Free UK Genealogy}}
  </p>
</section>
