<section>
  <%= render 'nav_header_freereg' if  @show_navigation %>
</section>
<section>
  <% if @entry %>
    <% if @entry && @annotations && @annotations.length %>
      <h2>Offline Transcriptions</h2>
    <% end %>
    <%= render 'entry_detail' %>
  <% end %>
  <%= render 'please_donate' %>
  <!-- GAM 71161633/FRBMD_freeregorg/freereg_hrec_3 -->
  <%= horz_advert('22945846128') %>
</section>
<style>
  .javascript{
    display: none;
  }
  .citation-dropdown-list{
    list-style-type: none;
  }
  .citation_container{
    border: 1px solid black;
    padding: 5px;
  }
</style>
<script>
  document.getElementById("citation-toggle").addEventListener("click", citationToggle);
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function citationToggle() {
    var x = document.getElementById("citation-dropdown");
  
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
  }
  window.addEventListener("load", function(){
    const no_javascript_elements = document.getElementsByClassName("no-javascript");
    const javascript_elements = document.getElementsByClassName("javascript");
  
    for(let i = 0; i < no_javascript_elements.length; i++){
      no_javascript_elements[i].remove();
    }
    for(let i = 0; i < javascript_elements.length; i++){
      javascript_elements[i].style.display = "block";
    }
    if(!document.getElementById("citation_section")){
      document.getElementById("citation-dropdown").style.display = "none";
    }
  })
  function copy(elm) {
      var button = event.currentTarget || event.srcElement;
      var target = document.getElementsByClassName(elm)[0];
      var range, select;
      if (document.createRange) {
        range = document.createRange();
        range.selectNode(target)
        select = window.getSelection();
        select.removeAllRanges();
        select.addRange(range);
        document.execCommand('copy');
        select.removeAllRanges();
      } else {
        range = document.body.createTextRange();
        range.moveToElementText(target);
        range.select();
        document.execCommand('copy');
      }
      button.innerHTML = "Copied"
      setTimeout(function(){
        button.innerHTML = "Copy"
      }, 1000);
    }
</script>