<section>
  <p>
    {{Cite web|url=<%=search_record_link(@search_record[:_id])%>|title=FreeREG - "Parish Register" database|accessdate=<%=@viewed_date%>|work=FreeREG|publisher=Free UK Genealogy}}
  </p>
</section>
