<%= render @type + '_' + appname.downcase + '_citation', layout: false %>
<!-- textarea offscreen -->
<textarea id = "citationBox" style = "position: absolute; left: -9999px;"></textarea>
<button onclick = copytext(this) style = "cursor: pointer">Copy</button>
<script>
// Copies the citation to the textarea
    document.getElementById("citationBox").innerText = document.getElementsByTagName("p")[0].innerText;

    function copytext(e){
        // Selects the text area content
        document.getElementById("citationBox").select()
        // Copies selection to clipboard
        document.execCommand("copy");
        // Changes button value to "Copied" for 1 second.
        e.innerHTML = "Copied";
        setTimeout(function(){
            e.innerHTML = "Copy"
        }, 1000);
    }
</script>