<h1>Accessibility statement</h1>

<div class="grid">
  <div class="grid__item three-fifths lap-three-quarters palm-one-whole">
    <p>As a charity, we believe in <a href="https://www.freeukgenealogy.org.uk/news/2016/10/28/access-is-everything">free and open access</a> to family history records and that providing this is the best way to preserve these rich sources of information for future generations. Therefore, it is crucial to Free UK Genealogy’s mission that everyone has the means to access all of our websites. People might struggle to access our services due to advancing age, long-term health issues, and/or disability, which can often make access difficult or impossible. Please note that we link to other websites and documents (such as PDFs) which we do not control, and which might not meet your accessibility needs, but we do our best to find accessible alternatives before resorting to these.</p>

    <h2>Work with the Shaw Trust</h2>
    <p>To make this website accessible without customisations, we are currently working with <a href="https://www.shawtrust.org.uk/">The Shaw Trust</a> to make FreeREG easily accessible to all, and more compatible with assistive technology. It is being evaluated against and brought into line with the <a href="https://www.w3.org/TR/WCAG/">W3C Web Content Accessibility Guidelines (WCAG) 2.0</a>. In the next few months, the site should become usable by recent versions of assistive technologies including JAWS (Job Access With Speech), NVDA (Non-Visual Desktop Access), ZoomText, and Dragon Naturally Speaking. It should also become usable by screen magnifiers and speech recognition software found on your operating system.</p>
    <p><strong>In the meantime …</strong> </p>

    <h2>Find the right assistive technology to customise FreeREG to your needs</h2>
    <p>We want everyone to be able to use this site ‘as is’, but you might find it more accessible if you customise your computer to match your individual needs.  For example, you might want to change the font size, or colours, or have the computer read the text to you.</p>
    <p>If the text is too small for you to read comfortably, then you can use Ctrl together with + (plus) to enlarge the page (Cmd with + on a Mac). See your browser’s View menu for other commands for changing the text or page size. You might be able to adjust the brightness and contrast settings for your screen or monitor.</p>
    <p>We suggest you visit <a href="https://mcmw.abilitynet.org.uk/">Ability Net</a> where there is much more information on customisations.</p>

    <h2>Enhancements in progress</h2>
    <p>For screen reader users, we are in the process of adding ARIA attributes to our web pages. We are also working to increase the accessibility of our survey forms.</p>
  </div>
</div>