<h1>Cookie Policy</h1>

<style scoped="scoped">
    abbr { text-decoration: none; }
</style>

<div class="grid">
    <aside class="grid__item one-third palm-one-whole float--right">
        <div class="islet islet--bordered">
            <h3>If you keep getting the cookie notice…</h3>
            <p>Different combinations of browser and <abbr title="Operating system">OS</abbr> handle this in different ways. To find details of how to stop this happening for your browser, do a search for: <em>browser name</em> keep cookies for specific sites.</p>
            <p>If you are not on Windows, you may need to include 'Mac' or 'Linux' or the name of your particular OS.</p>
        </div>
    </aside>
    <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
        <h2>Cookie Consent Overview</h2>
        <p>Your privacy is important to us. Please select(or tick depending upon your browser) which type of cookie you consent to on our site. Settings are automatically saved and you may use the back button on your browser or click the FreeREG logo to return to the main page.</p>
        <h3>Personalised Advertising</h3>
        <p>Income from advertising helps to pay for FreeREG and enables us to keep it free to use. if you would rather not agree to such cookies, please do consider offering a <a href="https://www.freeukgenealogy.org.uk/help-us-keep-history-free">donation</a> instead.</p>
        <p>Do note that when switched off, advertisements will still appear but will not use any of your data and will therefore be less relevant to you. You can adjust your advert preferences more finely here: <a href="https://adssettings.google.com">https://adssettings.google.com</a>
</p>
        <h3>Analytics</h3>
        <p>We use Google analytics in order to help us understand how the site is used and to help guide improvements.</p>
        <h2>What are cookies?</h2>
        <p style="font-style: italic">This policy applies on and from 25th May 2018.</p>
        <p>Cookies are small text files that are placed on your computer by websites when you visit. They are widely used in order to make websites work, or work more efficiently, as well as to provide information to the owners of the site.</p>
        <p>Several of the cookies we use are essential for parts of the website to operate, in particular our searches. You may delete and block all cookies from our website (see below), but if you do, parts of the website will not function correctly.</p>
        <p>The cookies used on this website have been categorised using best practice. A list of all the cookies used on this website by category is set out below. Cookies on our website will not be used for any purpose other than the ones stated.</p>
        <p>It is important to note that by using our site, you agree to our use of cookies as described in this Cookie Policy. You may return to this page at any time in order to change your consent relating to non-necessary, third-party cookies which relate to targeting and analytics.</p>
        <h2>How do we use cookies?</h2>
        <h3>Strictly Necessary</h3>
        <p>These cookies are essential in order to enable you to move around the website and use its features, such as accessing secure areas of the website. Without these cookies services you have asked for, such as consistent search results, cannot be provided.</p>
        <ul>
            <li><strong>cookieDirective</strong> which is set if you accept cookies. This lasts a year and stops the message appearing each time you come to the site.</li>
            <li><strong>.freereg2_session</strong>. Set for all users. Sole use is to direct the user to the same server for searches. Required for revising searches. If disabled, results from searches will be inconsistent. Exists only for the session.</li>
            <li><strong>_Myopicvicar</strong>. Set for all users. General usage is only to store control information for the search results. For members it is used to personalize their functions and ensure correct navigation. Life time is 2 hrs to enable users to resume activities after navigating away from the website.</li>
            <li><strong>Administrator</strong>. Only set for members. Ensures that member operations are directed to the master server. Lifetime is session.</li>
        </ul>
        <h3>Third Party Cookies</h3>
        <p>Third-party cookies have been carefully chosen and used for both analytics and advertising.</p>
        <p>Income from advertising helps to pay for FreeREG and enables us to keep it free to use. if you would rather not agree to such cookies, please do consider offering a <a href="https://www.freeukgenealogy.org.uk/help-us-keep-history-free">donation</a> instead.</p>
       <h4>Personalised Advertising</h4>
       <p>Personalised advertising doesn't mean you will see more ads, it means you will see ones that are personalised to you. To do this, we let our partners use cookies to collect similar data that we do on our sites so that they can provide ads on our sites that they think match your interests, such as offers from websites you have already visited.</p>
       <p>We use cookies from the advertising networks Google Adsense and Google DoubleClick for Publishers. These provide  both contextual and online behavioural advertising (personal advertising).</p>
       <p>Please note that if you do not enable targeted adverts, you will still see adverts although they will be that are less relevant to you. These adverts use cookies but are not for personalisation. Contextual adverts display adverts which are relevant to the website (e.g. on this website, family history and genealogy) or to what is known about users of this website on an aggregate level (e.g. many users are interested in travel and many users are from older age brackets. You can adjust your advert preferences more finely here: <a href="https://adssettings.google.com">https://adssettings.google.com</a>
</p>
       <p>If you choose not to have cookies, please consider making a <a href="https://www.freeukgenealogy.org.uk/help-us-keep-history-free">donation</a> instead</p>
       <h4>Analytics</h4>
       <p>We use Google analytics in order to help us understand how the site is used and to help guide improvements. Such data might identify the browser you use, the device used and whether you are a returning user or not.</p>
       <p><strong>_ga</strong> and <strong>_gat</strong> and related cookies from Google Analytics, for online behavioural advertising. Income from online behavioural advertising helps to pay for our sites and enables us to keep them free to use.</p>
<h3>Functional</h3>
       <p>These cookies allow our website to remember choices you make (such as your user name or sort order) and provide enhanced, more personal features. For instance, the website can remember the way you normally perform operations and can provide these as defaults. These cookies can also be used to remember changes you have made to text size, fonts and other parts of web pages that you can customise. The information these cookies collect may be anonymised and they cannot track your browsing activity on other websites.</p>
        <h2>How to control cookies</h2>
        <p>You might have seen the options above, which allow you to switch cookies on/off for specific cookie types (such as advertising or analytics). These options are saved and you can return to update your consent at any time.</p>
        <p>Additionally, you can also control and/or delete cookies as you wish – for details, see aboutcookies.org. You can delete all cookies that are already on your computer and you can set most browsers to prevent them from being placed. If you do this, however, you may have to manually adjust some preferences every time you visit a site and some services and functionalities may not work.</p>    

    </div>
</div>