<h1>Your reviews</h1>

<style scoped="scoped">
  figure.bq {
    border-left: 5px solid #007fad;
    margin: 0;
    margin-left: 1.556rem;
    margin-bottom: 1.556rem;
    padding: 1em;
    padding-left: 50px;
  }
  figure.bq:nth-of-type(2n) {
    border-color: #919191;
  }
  figure.bq blockquote {
    position: relative;
    text-indent: 0;
    margin: 0;
    padding: 0;
  }
  figure.bq blockquote::before {
    content: "\201C";
    color: #007fad;
    font-size: 3.6em;
    font-family: 'Helvetica', Arial, sans-serif;
    position: absolute;  
    left: -30px;
    top: -23px;
  }
  figure.bq:nth-of-type(2n) blockquote::before {
    color: #919191;
  }
  figure.bq blockquote p { margin: 0; margin-bottom: 14px; }
  figure.bq blockquote p:last-of-type { margin-bottom: 0; }
  figure.bq blockquote p::before, figure.bq blockquote p::after {
    content: ' ';
  }
  figure.bq figcaption {
    margin-top: 1em;
    margin-top: 0.3em;
    font-style: italic;
    color: #737373; /* value in use for image captions */
  }
  figure.bq figcaption:before {
    content: '— ';
  }  
</style>

<div class="grid">
  <div class="grid__item three-fifths lap-four-fifths palm-one-whole">
    <p class="lead">A selection of messages sent by researchers, pleased to have found their ancestors in our database.</p>
    <p>Have something to add? Please use our <a href="#leaveReview">Leave a Review for FreeREG</a> form, at the foot of the page. Thank you.</p>
    <hr class="rule" />

    <figure class="bq">
      <blockquote>
        <p>I’m just returning to my researches after several months away, and am deeply impressed by the progress of the site. Keep up the good work, and many thanks.</p>
      </blockquote>
      <figcaption>Gillian</figcaption>
    </figure>
    <figure class="bq">
      <blockquote>
        <p>I just wanted to say a big thank you to all your wonderful transcribers and supporters and the eyestrain and endless hours they put in.</p>
        <p>How many people would never have found their families without it?</p>
        <p>Going through every single parish in Somerset searching for wandering aglabs would need two lifetimes and daunt even the most determined.</p>
        <p>Your search facility is so easy to use and enables a trace back through the generations. If only the Parish clergy had been so thorough.</p>
       <p>Just wanted to express my gratitude and appreciation, especially from Oz. regards</p>
      </blockquote>
      <figcaption>Joy Pritchett</figcaption>
    </figure>
    <figure class="bq">
      <blockquote>
        <p>I have just found my ‘brick wall’ after 4 years- and it was found in Somerset, (Timsbury)!</p>
        <p>Without the hard work of all your transcribers, my research would have taken ages- but there they were: the Powells, Boxes- all their details listed- thank you, thank you!</p>
      </blockquote>
      <figcaption>Rosemary Cryer; Vancouver BC</figcaption>
    </figure>
    <figure class="bq">
      <blockquote>
        <p>Keep up the good work, you are changing the task of tracing ancestors from a distance from impossible to achievable - thanks again,</p>
      </blockquote>
      <figcaption>Ross in New Zealand</figcaption>
    </figure>
    <figure class="bq">
      <blockquote>
        <p>I just wanted to offer my thanks and appreciation to all of you diligent transcribers who contribute countless hours to the FreeREG project. What a great resource it is!</p>
      </blockquote>
      <figcaption>Ros in Canada</figcaption>
    </figure>
    <figure class="bq">
      <blockquote>
        <p>I just cannot thank you and your colleagues enough, not only are you saving me many dollars but also helping to keep my blood pressure within limits, yesterday I found the burial of some of my direct ancestors on your site which I had been looking for for years, the family lived in Bawdeswell but went to Briston to die…</p>
        <p>Keep up the good work it is appreciated I can tell you.</p>
      </blockquote>
      <figcaption>Dennis</figcaption>
    </figure>
    <figure class="bq">
      <blockquote>
        <p>I had never "searched" on the FreeREG website, but yesterday I decided to try it out. I have been searching unsuccessfully for the family name of one of my 5th Great-Grandmothers (1728-1793) for a long time now. I know she lived in Wiveliscombe with her husband and 6 children, but could find not find where or when she was married.</p>
        <p>I decided to enter the name of her husband and search for marriages for two years before their first child was born in 1746. Low and behold I actually found the entry in Langford Budville, Somerset. Really exciting !!! So I owe a big thank you to Freereg.</p>
      </blockquote>
      <figcaption>Val</figcaption>
    </figure>
    <figure class="bq">
      <blockquote>
        <p>Can I just say a great big thank you to all those lovely people who are transcribing Northants registers for FreeREG. Each time you have posted [on social media] that the site has been updated, I have gone in and actually found something really useful. I'm afraid age and ill-health means I can't travel up to Northamptonshire anymore, so the web-site is a real blessing. Thank you all. Kind regards,</p>
      </blockquote>
      <figcaption>Sandra</figcaption>
    </figure>
    <figure class="bq">
      <blockquote>
        <p>I have been looking for that marriage record for ages and but for the transcribers hard work, I would still be none the wiser. I also found Mary Pilgrim's baptism record at Felmingham so the transcriber has really done a great job in helping me find my ancestors.</p>
        <p>I just feel so happy to have found another piece of the jigsaw of my family history and I'll never forget that the Felmingham transcriber helped me to do just that. Best wishes,</p>
      </blockquote>
      <figcaption>Lynn</figcaption>
    </figure>
    <figure class="bq">
      <blockquote>
        <p>I felt I had to write to thank Anna for pointing me to FreeREG records for Wellingborough, where I found the baptism of my long sought great great grandmother Elizabeth Clevely in 1803…</p>
        <p>The silly thing is that I have used FreeBMD many times and have previously used FreeREG for other areas but had not thought to check there for Wellingborough.</p>
      </blockquote>
      <figcaption>Bob, Cardiff</figcaption>
    </figure>
    <figure class="bq">
      <blockquote>
        <p>I just want to say thanks as I think I may have just found one of my direct ancestors that I have been looking for for years. I came across your FreeREG site purely by chance when "googling" this morning and when I searched, found Richard Shipley of Marston Trussell.</p>
        <p>What perfect timing - as I see those records have only recently been added.</p>
      </blockquote>
      <figcaption>Fee, Bristol England</figcaption>
    </figure>
    <figure class="bq">
      <blockquote>
        <p>May I just take this opportunity, along with many others I'm sure, to thank you and all the helpers and transcribers for all the hard work that has, and is being put into this site. For myself and all the Vince families around the globe you have helped us break down Norfolk 'brick walls' that have existed for far too long. Best wishes and thanks again</p>
      </blockquote>
      <figcaption>Peter</figcaption>
    </figure>
    <figure class="bq">
      <blockquote>
        <p>Hi, Congratulations on a great site, easy to search and most importantly you've kept it accessible to all, without charges. Thank you,</p>
      </blockquote>
      <figcaption>Grant Barker</figcaption>
    </figure>
    <figure class="bq">
      <blockquote>
        <p>I just wanted to say a big Thank You to all the volunteers and people working on this wonderful site. I am doing family research on a low income from Australia via the internet and you have made it possible for me to do this. I cannot say enough about how wonderful you all are.</p>
      </blockquote>
    </figure>
    <figure class="bq">
      <blockquote>
        <p>I would like to thank the transcribers of the St Mary's Kingswinford records. I have been painfully working my way back through a particularly elusive family line for a number of years. At long last these records have broken through a brick wall. Thank you once again, it is so appreciated. I run a One-Name study so am always helping others, it is lovely to get some help for my own tree.</p>
      </blockquote>
    </figure>
    <figure class="bq">
      <blockquote>
        <p>Many thanks for all you do for amateur researchers, I've found stuff on FreeREG that doesn't show up anywhere else :-)</p>
      </blockquote>
    </figure>
    <figure class="bq">
      <blockquote>
        <p>I have found your site easy to search and the accuracy is top notch – if I do find a discrepancy, I will always let you know.</p>
      </blockquote>
    </figure>
    <figure class="bq">
      <blockquote>
        <p>I would just like to express my sincere gratitude for all of the volunteers in transcribing the data, especially those that accomplished the Norwich, Norfolk parishes. You have 'found' and transcribed data that NONE of the major genealogical websites have. Thank you... Thank you!</p>
      </blockquote>
    </figure>
    <p>Last updated 22 September 2020.</p>
    <hr class="rule rule--ornament" />
  </div>
</div>
<h2 id="leaveReview">Leave us your review</h2>
<p class="read-length">If you are unable to use the form comfortably, please send your Review by email to info@freeukgenealogy.org.uk</p>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdWA38eNKP3G5LJuStZqV0OuSLknF5RWkFfir76BleOiJtoHA/viewform?embedded=true" marginheight="0" marginwidth="0" width="640" height="1200" frameborder="0">Loading…</iframe>