<% content_for :sidebar do %>
  <h5 class="beta  text--teal">Actions</h5>
  <%@roles.each do |role| %>
    <% if action_manage_image_server(role) %>
      <%= link_to role, UseridRole::OPTIONS_TRANSLATION[role], class: "btn  btn--small" , method: :get, target: :_blank, title: UseridRole::OPTIONS_TITLES[role]  %>
    <% elsif role ==  'Search Place Names' %>
      <%= link_to role, UseridRole::OPTIONS_TRANSLATION[role], class: "btn  btn--small" , method: :get, title: UseridRole::OPTIONS_TITLES[role], target: :_blank %>
    <% else%>
      <%= link_to role, UseridRole::OPTIONS_TRANSLATION[role], class: "btn  btn--small" , method: :get, title: UseridRole::OPTIONS_TITLES[role] %>
    <% end%>
    <br>
  <% end%>
<% end %>