
<% content_for :sidebar do %>
   <h4 class="beta  text--teal"><%=@first_name%> your actions</h4>
  <%@roles.each do |role| %>
    <%= button_to role, UseridRole::OPTIONS_TRANSLATION[role], :class => "btn  btn--small" ,method: :get %> 
   <%end%>
<% end %>



