
<% content_for :sidebar do %>
<h3 class="beta  text--teal">Using the Search</h3>
  <%= @page %>
  You may get further details on these options in <%= button_to 'Advice on Searching', "../tips-for-searching-the-database", method: :get, :class => "btn  btn--small"  %> <br>.
  You may also review what has been transcribed and included in the database in <%= button_to "Database Contents", main_app.freereg_contents_path , method: :get, :class => "btn  btn--small" %>
<% end %>
