<table class="table--bordered table--data" >
  <thead>
    <tr>
      <% FreecenCsvEntry.census_display_labels(@year,@chapman_code).each do |lbl| %>
        <td><small>
            <%= lbl %>
          </small></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @freecen_csv_entry.census_display_values(@year,@chapman_code).each do |field_val| %>
        <td class="weight--semibold">
          <%= field_val %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>