<table class="table--bordered " style="background-color:#ffffff;">
  <thead>
    <tr>
      <% FreecenCsvEntry.part2_individual_display_labels(@year,@chapman_code).each do |lbl| %>
        <td><small>
            <%= lbl %>
          </small></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% if @freecen_csv_entry.uninhabited_flag.blank? %>
        <% @freecen_csv_entry.part2_individual_display_values(@year,@chapman_code).each do |field_val| %>
          <td class="weight--semibold">
            <%= field_val %>
          </td>
        <% end %>
      <% else%>
        <p class="text--center">Uninhabited</p>
      <% end %>
    </tr>
  </tbody>
</table>