<h1>Answers to Questions Asked by Transcribers</h1>

<p><span class="loz islet--orange">FR1 content — not edited for FR2 </span> </p>


<p class="lead">There are many special situations that arise when transcribing registers. On this page we will provide answers to questions that have been posed by transcribers when working with real registers.</p>

<h2 id="index">1. LOGIN ISSUES</h2>

<ul>
    <li>
        <a href="#1.1">My proposed User ID (or password) is rejected by the system.</a>
    </li>
    <li>
        <a href="#1.2">I did not receive a challenge email after registering my UserID.</a>
    </li>
    <li>
        <a href="#1.3">I have forgotten my UserID and/or Password or I want to change my Password.</a>
    </li>
    <li>
        <a href="#1.4">Where do I get the free software to allow me to transcribe records?</a>
    </li>
</ul>

<hr />

<h2>2. USING WinREG</h2>

<ul>
    <li>
        <a href="#2.1">Where do I get help within WinREG?</a>
    </li>
    <li>
        <a href="#2.2">How do I get the latest version of WinREG?</a>
    </li>
    <li>
        <a href="#2.3">Starting another register for the same parish. Do I start a new project?</a>
    </li>
    <li>
        <a href="#2.4">When I start WinREG I cannot see all of the data entry boxes.</a>
    </li>
    <li>
        <a href="#2.5">I cannot find my file</a>
    </li>
 </ul>

<hr />

<h2>3. TRANSCRIPTION ISSUES</h2>

<ul>
    <li>
        <a href="#3.1">What do I do with a record that has an "Alias" Surname?</a>
    </li>
    <li>
        <a href="#3.2">What do I do with a record that says "Entered into church"?</a>
    </li>
    <li>
        <a href="#3.3">How do I enter a missing Surname?</a>
    </li>
    <li>
        <a href="#3.4">What do I do with Banns?</a>
    </li>
    <li>
        <a href="#3.5">What do I do with an entry that says (late SMITH)?</a>
    </li>
    <li>
        <a href="#3.6">I have a record with the year only. What do I do?</a>
    </li>
    <li>
        <a href="#3.7">I have two registers with the same Register Entry Number. Does it matter?</a>
    </li>
    <li>
        <a href="#3.8">My register has "A child of" and "The Widow XXXX". What do I put in the forename field?</a>
    </li>
    <li>
        <a href="#3.9">I have more than 2 witnesses to a marriage.</a>
    </li>
    <li>
        <a href="#3.10">What do I do with a note written at the bottom of a page?</a>
    </li>
    <li>
        <a href="#3.11">How do I transcribe an abbreviation?</a>
    </li>
    <li><a href="#3.12">Do I transcribe the information on the officiating Minister?</a>
    </li>
    <li>
        <a href="#3.13">What are ATs?</a>
    </li>
 </ul>

<hr />

<h2>4. UPLOADING FILES TO FreeREG</h2>

<ul>
    <li>
        <a href="#4.1">How do I upload a replacement file into FreeREG?</a>
    </li>
    <li>
        <a href="#4.2">How often is the database updated?</a>
    </li>
    <li>
        <a href="#4.3">Why is the data that I have uploaded not found on the database?</a>
    </li>
    <li>
        <a href="#4.4">I cannot log in to the upload server?</a>
    </li>
</ul>

<hr />

<h2>ANSWERS</h2>

<p id="1.1" class="islet islet--navy">1.1 Issue: My proposed USER ID (or
password) is rejected by the system.</p>

<p>Response: This problem usually arises when you have tried to use a space in the User name. Only upper and lower case letters and numbers can be used in a UserID or password. Special characters and most importantly the space cannot be used. Occasionally the UserID will be rejected because it is already in use. Please try another.</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="1.2" class="islet islet--navy">1.2 Issue: I did not receive a challenge
email after registering my UserID.</p>

<p>Response: There are two likely causes.
</p>
<ul>
    <li>You did not enter your email address correctly, so the email has been
sent to the wrong address. You need to contact the <a href="mailto:reg-register@freereg.org.uk?subject=Challenge%20not%20received">Administrator</a>.</li>

    <li>A Spam filter, either yours or your ISP, has blocked the email. Check
your Spam folder and if the email is not there, then contact the <a href="mailto:reg-register@freereg.org.uk?subject=Challenge%20not%20received">Administrator</a>.</li>
</ul>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="1.3" class="islet islet--navy">1.3 Issue: I have forgotten my UserID
and/or Password or I want to change my Password.</p>

<p>Response: Go to the login page and then select "Forgotten your password or challenge".</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="1.4" class="islet islet--navy">1.4 Issue: Where do I get the free
software to allow me to transcribe records?</p>

<p>Response: We have an application that runs under Windows for data
entry called WinREG. It can be found on the WinReg webpage see point 2.2
below.</p>
<p>This software will only run on a Mac if you have a Windows simulation
partition.</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="2.1" class="islet islet--navy">2.1 Issue: Where do I get help within WinReg?</p>

<p>Response: WinREG has help facilities within the program which should cover all the known questions. If it does not please contact the <a href="mailto:reg-winreg@freereg.org.uk?subject=WinREG">Developer</a> The built-in Help system is accessed through the conventional, Windows F1 key.
The help file tries to be comprehensive and answer as many questions as possible for users, but this is not always possible. Every page in the Help file has a link in the top, right-hand corner through which comments and questions about that page in the Help file can be sent to the developer. The program also has a comprehensive set of options accessible from the Help drop-down menu in the program. One of these lets the user send an email to the developers by which questions of a more general nature or reports of bugs can be submitted.</p>

<p><a href="#index">|Back to Index|</a> <a href="#index"></a> </p>
<hr />

<p id="2.2" class="islet islet--navy">2.2 Issue: How do I get the latest
version of WinReg?</p>

<p>Response: If you already have WinREG installed, then the program
will, by default, automatically check for any updates each time that it is
started. This automatic update can be switched off in favour of a
user-initiated check. Note, that the automatic download requires a
connection to the Internet to be available.<br />
When starting from new (or when there is need to re-install the program),
the latest version of the program can always be downloaded from the website
<a href="http://sites.google.com/site/winregsoftware/">http://sites.google.com/site/winregsoftware/</a>
Simply click on the Download page and then select the latest version. This
will download an MSI file to the PC. Two basic flavours of WinREG are
available: the original single-record editor (2.1) and the more current
spreadsheet look-alike (3.1). Note that the much earlier 2.1 version has
not and will not be updated again, whilst 3.1 is being continually
refined.<br />
Recent versions of Windows have an annoying habit of marking downloaded
files as having come from another computer and making it difficult to
install downloaded programs. Open Windows Explorer and navigate to where
the downloaded MSI file is stored. Right-click on the file and select
Properties and then the General tab. If Windows is acting as a bit of a
Net-Nanny, there will be a Security phrase and an Unblock button: click the
button and then press the OK button. The program should now
install.</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="2.3" class="islet islet--navy">2.3 Issue: New Project: I am starting another register for the same parish. Do I start a new set of records?</p>

<p>Response: It is now advisable to start a new set of
records in a new file each time you start a new register. Not only is this
a way of managing your work, but in the next version of this database there
will be "register" records which will define the contents of the register
and link to a set of records. For the same reason you should also not mix
records for different parishes in the same file. WinReg will not let you do
this. So it will become mandatory to start a new set of records with each
new register.
<br />
We also suggest, however, that you start a new set of records
(file) once you have 1500-2000 records in a file, so that if you
accidentally delete that file or it gets corrupted, you will not lose too
much work. There is a limit of 100 to the number of files of each type that
can be created for each parish. <br />
Ask your coordinator for the filename that you should use so that they are
standardised within a county.</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="2.4" class="islet islet--navy">2.4 Issue: Missing data entry boxes: When we start WinREG it does not display all of the data entry boxes and cannot view the "abode" and "notes" fields.</p>

<p>Response: This will only ever happen when using the older, 2.1 version
of WinREG. Whilst 3.1 may at first sight be prone to having missing
columns, this is usually as a result of oversight by the user. In 3.1,
columns can be hidden if they are not relevant to the type of data being
transcribed. For example, contrast the post-1837 marriages with the very
early registers. The ability to re-order columns that is available in 3.1
also facilitates easier data entry.</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />



<p id="2.5" class="islet islet--navy">2.5 Issue: I cannot
find my file: I started a project in WinREG and added some records. Exited
WinREG and when I tried to reopen the project it was not there.</p>

<p>Response: By default, WinREG stores its' transcription files in the
folder C:\Users\username\My Documents\FreeREG\WinREG for
Windows\Transcripts.<br />
It is possible to store the files in some other place as determined by the
value of the Data folder found under the User Program Options. Via this
mechanism, a different place can be selected. WinREG will try to move all
existing transcription files to the new location. The Data folder is where
WinREG automatically creates new files and where it expects to find
existing files. It is possible to open a file from a totally unconnected
place, and the changes will be stored there. But, do not expect WinREG to
include these out-of-location files in its' list of files to be uploaded
via the FreeREG Gateway tool.</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="3.1" class="islet islet--navy">3.1 Issue: Alias: Occasionally in a register you can come across an entry such as: Susan dau of Edward JONES alias WILLIAMS. Essentially this means that the person Edward JONES was also know in the community as Edward WILLIAMS. How should this entry be entered into FreeREG.</p>

<p>Response: The recommended action is for there to be TWO entries.<br />
The first Susan, dau of, Edward, JONES,,,,Alias Edward WILLIAMS.<br />
The second with the same date etc would be Susan,dau
of,Edward,WILLIAMS,,,,Alias Edward JONES.<br />
This ensures that searching either for JONES or WILLIAMS retrieves the
record.</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="3.2" class="islet islet--navy">3.2 Issue: Entered into Church: You will often see the reference in an entry such as: Peter, Jane and Susan Children of
Richard WILSON entered into church.</p>

<p>Response: This usually means that there had been an earlier private
baptism of the children. At the time of this new entry they were being
publicly admitted to the congregation of the church.<br />
If there is evidence of the earlier baptism then this entry may be
ignored.<br />
If, however, there is no evidence of the actual baptism then enter this
entry as a baptism BUT with a note stating that this is NOT a baptism entry
but an entry into the church and that the date of baptism is unknown.</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="3.3" class="islet islet--navy">3.3 Issue: Missing Surnames: In the Burnham
Norton burials, there are three burials of persons washed up on the beach,
as it stands at the moment the entries are obviously almost irrelevant
because you cannot search for a blank column. Has the project thought of
entering a code in the SURNAME section that would allow this type of entry
to be researched if the code was publicised.</p>

<p>Response: There is already a way of doing this that is a little more
general. Enter either an * or a ? in the field where there is a missing
name. And the comment lost at sea or something similar in the Notes field.
The search engine permits a search for either * or ?. So this and similar
events can be retrieved.</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="3.4" class="islet islet--navy">3.4 Issue: Banns: The register I am transcribing contains a set of entries entitled Banns of Marriage. Do I transcribe them?</p>

<p>Response: Normally, FreeReg does not use the entries from the register
of Banns of Marriage. This is because, in most cases, they add no
additional information to that contained in the marriage register. Nor do
they of themselves indicate that a marriage actually took place. The one
case where banns might be used is when the actual marriage register has
been lost. Your county coordinator can tell you if this is the case and
what they want done with the Banns.</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="3.5" class="islet islet--navy">3.5 Issue: (late SMITH): A baptisms register entry contains the entry "late" followed by a name. I take it this is the mother's maiden name? What about when it appears in a burial register?</p>

<p>Response: You are correct; this is usually the mother's maiden name. It
should be entered into the mothers' surname field in the baptism
record.<br />
The same notation occasionally appears in a burial register. In this case,
since there is no place for the maiden name, place the "late SMITH"
information in the Notes field of the record.</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="3.6" class="islet islet--navy">3.6 Issue: Year Only: I have an entire year of AT's with no day or month given! Will FreeREG accept just a year for a
date? Is there any way of at least showing the sequence of the baptisms, marriages and burials?</p>

<p>Response: FreeReg will be quite happy for you to simply enter the year
(or month and year). There is no way of showing a sequence of events within
the transcription of a register; or is it required or meaningful to do so.
FreeReg is a search facility that locates events associated with a
specified name. It does not produce a listing of the contents of an entire
parish. As a result, sequence has no real meaning within FreeReg.</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="3.7" class="islet islet--navy">3.7 Issue: Same Register Entry Number: I have two registers with the same Register Entry Number. Does it matter?</p>

<p>Response: The Register Entry Number has no special significance to
FreeReg. It is kept in the record solely to assist the researcher locate
the entry when they review the original register. Larger parishes have
multiple registers many of which will start with a Register Entry Number of
1. The early registers did not have a number; in this case the field is
left blank.</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="3.8" class="islet islet--navy">3.8 Issue: Missing Forename: I have a burial entry that says "A child of YYYYY" and also one that reads "The Widow
XXXX".</p>

<p>Response: The preferred solution is to put ? in the forename field. The
? has two meanings. One that you are uncertain of the entry or two that an
expected entry for a field is missing. Alternatively you can leave the
field blank. Use the Notes field to indicate what was actually written;
"The Widow JENKINS", "an infant", etc.</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="3.9" class="islet islet--navy">3.9 Issue: More than 4 witnesses: I have a marriage entry with 4 witnesses.</p>

<p>Response: Place two witnesses in the available fields. Make a duplicate
entry and place the other two names in the available witness fields. Add a
note to each record saying that you have duplicated the record to allow for
the inclusion of all four witnesses. This makes all 4 witness surnames
searchable. If the additional 2 witnesses had been placed in the Notes
field they would have not been retrievable by the search engine.</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="3.10" class="islet islet--navy">3.10 Issue: Extraneous notes: I have a page in the register that has a two line note on the bottom of it regarding the
vicars. Do I put that anywhere? It doesn't actually pertain to the people
in the register.</p>

<p>Response: If the note does not pertain to any of the persons in the
register then you may ignore it.</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="3.11" class="islet islet--navy">3.11 Issue: Abbreviations: How do I record an abbreviation? The website seems confused on this matter.
</p>

<p>Response: With abbreviations we normally adopt the usual rule of
transcription, i.e. type what so see, with a couple of modifications.
Transcribe as it was written. i.e. Robt. or Will or Will or Guilliam.
Deviations are a) We do not normally superscript characters, so Saml, where
the l is a superscript, would be entered as Samuel b) If there is an
abbreviation character used, usually the horizontal bar across part of the
name (see the example for Robert on the website) in this case we insert the
missing characters directly. (We cannot use the standard approach of
Rob[rt]t because the [] are used in the Uncertain Character Format defined
on the <a href="/howto/transcribe.htm">How to Transcribe webpage</a>). c)
Any non standard abbreviation are entered in full.</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="3.12" class="islet islet--navy">3.12 Issue: Officiating Minister My register includes information on the Officiating Minister. Do I transcribe
it?</p>

<p>Response: Not normally as the Officiating Minister is not usually
related to the people involved in the event.
</p>

  

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="3.13" class="islet islet--navy">3.13 Issue: What are ATs?</p>

<p>Response: Each year the local vicar had to make a copy of the births,
marriages and burials that took place in his parish and send them to his
Bishop. In all counties but Norfolk these are known as Bishop's
Transcripts. Norfolk is somewhat different in that the copies were only
provided to the Bishop every 7 years, in-between times they went to one of
the two Archdeacons (Norwich and Norfolk). Archdeacons Transcripts were
sent for six consecutive years. On the 7th year the Bishop visited and the
copy was given to him instead of the Archdeacon. There are many gaps the
AT's apart from the 7th year. In some cases, there are entries in the AT's
that do not appear in the PR's......a confusing state of affairs. For
example, in the parish of Yaxham, at some point the PR's were copied from
another source(s). Some entries were missed in the PR transcription that
were included in the AT transcription. Also, there are semi-illegible PR
entries that are very readable in the AT's. One good reason for including
AT's in FreeReg.</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="4.1" class="islet islet--navy">4.1 Issue: How do I correct a record that contains an error? I have to correct an entry that has already been loaded into FreeREG. How do I do it?</p>

<p>Response: You upload a replacement file with the corrections made to it.
How? Sign on to the FreeREG Upload page just as you would to upload a file.
Find the file in your list of files. Click on the replace button and then
the files name. Tell FreeREG where to find the replacement file on your
computer. Click Replace. The file will be checked for errors and if error
free your new file will replace the old one at the next FreeREG update.</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="4.2" class="islet islet--navy">4.2 Issue: How often is the database updated?</p>

<p>Response: The database is re-created every 4 weeks commencing on the
Monday of the week in which the update is scheduled. The re-creation
involves the incorporation of all error (not caution) free files that have
been loaded onto the FreeReg server. This ensures that all corrections,
additions and deletions are incorporated in the database.</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="4.3" class="islet islet--navy">4.3 Issue: Why is the data that I have uploaded not found on the database?</p>

<p>Response: Although your work will be on the server, it is not added to
the operational database immediately. The sequence of events of the update
is:-<br />
- "Handoff" when the <a href="/parishes/index.shtml">Parish Progress
pages</a> are made live.<br />
- The list of users is read and new transcribers after this time will not
be included.<br />
- The index of all records is recreated. This can take a long time, which
will take longer as the database increases in size.<br />
- The statistics are calculated and this date added to the FreeREG homepage
as the date of the last update.<br />
- During this time, the update can stall if there are technical problems,
and these have to be resolved for the update to be completed. So the whole
process may take a long time.<br />
- The <a href="/update.html">update schedule</a> is just a guide, as the
start date will depend on the use made of the servers and the technicians
by the other FreeUKGEN projects.
</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />

<p id="4.4" class="islet islet--navy">4.4 Issue: I cannot log in to the upload
server: I cannot log in to the upload server even though I am using the correct UserID and Password. I still cannot login even after changing my password.</p>

<p>Response: The most common source of this problem is that you are trying
to login to the server through the Rootsweb portal and not the FreeREG main
portal. You must access the upload server through the <a href="http://http://www.freereg.org.uk/cgi/Login.pl/">Login webpage.</a> The
Rootsweb access to the upload server does not work.
</p>

<p><a href="#index">|Back to Index|</a> </p>
<hr />
