<h1>Converting data from other formats</h1>


   <title>FreeREG - Converting data from other formats</title>

<p><span class="loz islet--orange">FR1 content — not edited for FR2 </span> </p>
    
<h2>
  Converting data from other formats
</h2>
<p>
What we really need (to save time and effort of the database managers) is
data in CSV format. The CSV file should contain all the basic fields of
information (although some of the fields may be empty).
</p>
<p>
CSV stands for comma separated variable.
</p>
<p>
There is nothing magical about a CSV file, and it is very painless &#160;indeed
to convert a spreadsheet or database file into this format. A CSV file is
actually a simple text file with the data in it, and the items of data are
separated by a comma, and with a carriage return [Enter] at the end of each
line.
</p>
<ol>


<li>
    <a href="convertweb2csv.htm">Converting data from a word processor or web
    page file</a>
   </li>
<li>
    <a href="makecsvexcel.htm">Creating a CSV file using Microsoft Excel</a>
</li>
<li>
    <a href="makecsvaccess.htm">Creating a CSV file using Microsoft Access</a>    
</li>
</ol>
<p>
If you need help converting data files consider asking one of our 
<a href="../volunteers/ccoords/dataeditors.htm">data editors</a> to assist you.
</p>
