<h1>I want to transcribe a register, but I don&#39;t know how to start</h1>

<p><span class="loz islet--orange">FR1 content — not edited for FR2 </span> </p>

<p>[ A guide for complete beginners might be useful — content would be very different! ]</p>


<p>First, bookmark this page so that you can find it easily again. We shall be sending you off to look at lots of other pages for various bits of information.</p>
    
<hr />

<h2>HOW DO I LEARN TO READ OLD REGISTERS?</h2>

<p>For general details of what is contained in old parish registers, and to see what they look like in different periods, see <a href="http://www.british-genealogy.com/resources/registers/home.htm">English
    Parish Registers</a>. That may take 15 minutes or so. Then come back here. [ link currently goes to search page -- not obvious that expected content still available ]</p>

<hr />

<h3> See also:</h3>
<ul>
    <li><a href="/information-for-transcribers/creating-a-transcription-file" title="Creating a transcription file">Creating a transcription file</a> </li>

    <li><a href="/information-for-transcribers/entering-data-from-registers" title="Entering data">Entering data from registers</a> </li>

</ul>

<p> There are also three really excellent little booklets which you can purchase:<br />
   Reading Old Handwriting (£1.50), Parish Registers (£2.00), Simple Latin for Family Historians (£1.50)</p>

<p>Written by, and available from Eve McLaughlin. Contact <a href="mailto:eve%40varn%65ys.demon.co.uk">Eve by email</a> and she will give you the latest prices and postage charges to anywhere in the world.</p>

<hr />
 
<h2 id="start">HOW DO I DECIDE WHICH REGISTER TO START WITH?</h2>


<p>First off contact your FreeREG County Co-ordinator: he/she can tell you what is already done and what is being worked on. After that there is no hard and fast rule. It is recommended that a starting point would be a register that has not yet been transcribed or indexed by a family history society of County Record Office.</p>

<p>Availability of fiche/film or images for a particular church is also important. By nature, it helps if the place is one where you have family interests, but this is not essential. It just adds that extra bit of interest to what is a pretty boring task!</p>

<p>Generally, if you have never transcribed a register before, start with the registers from 1813 to 1900. They are so much easier to read. You also get used to the surnames in the parish, and that helps considerably when it comes to deciphering the handwriting in the older registers. Also marriages and burial registers are easier to read than baptisms</p>

<hr />

<h2>WHO DO I CONTACT AT FreeREG?</h2>

<p>Your main point of contact should be the County Co-ordinator for the county of the parish or church for which you are recording data.</p>

<p>You can also consult <a href="http://www.british-genealogy.com/forums/forumdisplay.php?f=351">
            The FreeREG Discussion Forums
</a> and/or join the <a href="../maillist.htm">FreeREG-L mailing list
</a> for information on other peoples experiences or to ask a question of others who are transcribing data. [check]</p>

<hr />

<h2>HOW LONG CAN I TAKE TO ENTER DATA?</h2>

<p>As long as you wish. Even entering data from one register, say baptisms, of a small parish will take many weeks of work. Some people sit at it for hours at a time (boring!), other set aside a few hours per week, or set a target to reach a certain date , or enter a certain number of records in one session. You work at your own pace.</p>

<hr />

<h2>WHAT DO I GET OUT OF IT?</h2>

<p>Nothing. Except tired fingers, a keyboard with worn out letters, and a fair amount of boring work, reading registers and typing data from them into a computer.</p>

<p>Well, not really. What you really get out of it is the tremendous satisfaction that you are helping future generations of people researching their family history to find their ancestors more easily than we can now. That just about sums it up.</p>

<hr />

<h2>DO I NEED A MICROFICHE OR MICRO FILM READER?</h2>

<p>Possibly. Many parish and non-conformist church records are on microfiche ot microfilm. You can access these at many locations including your local library, the County Record Office, one of the LDS Family History Centre, etc., where they have fiche and film readers you can use. It is also possible to buy fiche readers second hand very cheaply (a few pounds/dollars) from office sales, auctions, car service stations, banks, etc, where they no longer have a use for them.</p>

<p>Also there is an increasing availability of registers on loan in digital form on CD. Contact your FreeREG County Co-ordinator to see if arrangements have been made for this capability for your county.</p>

<hr />

<h2>WHERE CAN I GET MICROFICHE OR MIROFILM OF A REGISTER? </h2>

<p>Various sources. But BEFORE going out and buying them contact your FreeREG County Co-ordinator: he or she may already have them available to loan to you or can tell you how to get them.</p>
<p>If not you can look at them at the places mentioned above, or it is possible to buy sets of fiche for a church register. If you belong to a family history society they may have some which you can borrow to make a transcription.</p>

<p>Some County Record Offices will sell fiche direct to the public, some will sell them only to bona-fide family history societies on receipt of an order on society headed notepaper. Usually, fiche are sold in whole sets per parish. A small parish can have about 4 or 5 fiche for the period 1500s to 1900 including all baptisms, marriages and burials. A large town parish sometimes amounts to hundreds of microfiche. Prices from a County Record Office vary from between £1.50 to £5.00 per fiche, depending on the county.</p>

<p>Addresses of <a href="http://www.genuki.org.uk/big/eng/">County Record Offices</a> (CRO) for each county can be found on the GenUKI Web pages as well as the addreses for county family history societies. If you don't already belong to a county family history society, then it would be a good idea to join one for the county of your interest. Your own local family history society, wherever you are in the world, should be a must to join. They may have fiche of parish registers already, or can purchase them from a CRO.</p>

