<h1>Latin Names &amp; Abbreviations</h1>

<p><span class="loz islet--orange">FR1 content — not edited for FR2 </span> </p>

<a name="top"></a>
<dd>
    <p><strong>Please click on the back button on your browser to return to the previous page
</strong>
    </p>

 
    <strong><p>When people search a database, they will be searching for example, for the first name "William" rather than the latin equivalent Gulielmus, etc.

</p>

<p>Therefore we will be introducing a capability whereby the search for the modern name will display all versions of that name including the latin equivalents. <span style="color:red">
This capability has not yet been implemented.</span>
</p>
<p>This is not a definitive total list - more may be added.
    <br />Note that Latin names were not used in every-day speech. They were only used in the written form.</p>
<p>The every day speech form ("spoken" in the table below) was essentially the same as we use it today. The Margaretae Simpson of old didn't shout "Bartolomaeus... get in here for dinner!"</p>
<p>Generally, when transcribing parish registers from Latin, we transcribe what was written. The FreeREG database will therefore contain the latin name. We plan to have the search understand the latin names and abbreviations so that when doing a search of the database for "William", you will also see entries of "Gulielm", "Gul", etc. <span style="color:red">THIS CAPABILITY DOES NOT
  CURRENTLY EXIST.</span>
</p>
<strong>
<h3>LIST OF LATIN NAMES RECOGNISED BY THE DATABSE</h3>
   </strong>
    <br />
    <style style="text/css">
        .hoverTable {
            width: 30%;
            margin: auto;
            display: block;
            height: 250px;
            overflow-y: scroll;
            overflow-y: scroll;
            border-collapse: collapse;
        }
        .hoverTable td {
            padding: 7px;
            border: #4e95f4 1px solid;
        }
        /* Define the default color for all the table rows */
        
        .hoverTable tr {
            background: #b8d1f3;
        }
        /* Define the hover highlight color for the table row */
        
        .hoverTable tr:hover {
            background-color: #ffff99;
        }
    </style>

    <table class="hoverTable">

        <thead>
            <tr>
                <th>LATIN NAME</th>
                <th>ENGLISH NAME</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Adamus</td>
                <td>Adam</td>
            </tr>
            <tr>
                <td>Adelmarus</td>
                <td>Elmer</td>
            </tr>
            <tr>
                <td>Adrianus</td>
                <td>Adrian</td>
            </tr>
            <tr>
                <td>Aegidius</td>
                <td>Giles</td>
            </tr>
            <tr>
                <td>Aemilia</td>
                <td>Emily</td>
            </tr>
            <tr>
                <td>Aemilius</td>
                <td>Emile</td>
            </tr>
            <tr>
                <td>Alanus</td>
                <td>Alan</td>
            </tr>
            <tr>
                <td>Albanus</td>
                <td>Alban</td>
            </tr>
            <tr>
                <td>Albertus</td>
                <td>Albert</td>
            </tr>
            <tr>
                <td>Albinus</td>
                <td>Albin</td>
            </tr>
            <tr>
                <td>Alcuinus</td>
                <td>Alcuin</td>
            </tr>
            <tr>
                <td>Alexius</td>
                <td>Alexis</td>
            </tr>
            <tr>
                <td>Alfredus</td>
                <td>Alfred</td>
            </tr>
            <tr>
                <td>Alfridus</td>
                <td>Alfred</td>
            </tr>
            <tr>
                <td>Alicia</td>
                <td>Alice</td>
            </tr>
            <tr>
                <td>Aloysius</td>
                <td>Aloys</td>
            </tr>
            <tr>
                <td>Alphonsus</td>
                <td>Alphonse</td>
            </tr>
            <tr>
                <td>Aluinus</td>
                <td>Alvin</td>
            </tr>
            <tr>
                <td>Amabilia</td>
                <td>Mabel</td>
            </tr>
            <tr>
                <td>Amata</td>
                <td>Amy</td>
            </tr>
            <tr>
                <td>Ambrosius</td>
                <td>Ambrose</td>
            </tr>
            <tr>
                <td>Americus</td>
                <td>Emery</td>
            </tr>
            <tr>
                <td>Anatolius</td>
                <td>Anatole</td>
            </tr>
            <tr>
                <td>Andreas</td>
                <td>Andrew</td>
            </tr>
            <tr>
                <td>Anna</td>
                <td>Ann</td>
            </tr>
            <tr>
                <td>Anselmus</td>
                <td>Anselm</td>
            </tr>
            <tr>
                <td>Ansgarus</td>
                <td>Oscar</td>
            </tr>
            <tr>
                <td>Antonius</td>
                <td>Anthony</td>
            </tr>
            <tr>
                <td>Archibaldus</td>
                <td>Archibald</td>
            </tr>
            <tr>
                <td>Arduinus</td>
                <td>Hardwin</td>
            </tr>
            <tr>
                <td>Armandus</td>
                <td>Herman</td>
            </tr>
            <tr>
                <td>Arnaldus</td>
                <td>Arnold</td>
            </tr>
            <tr>
                <td>Arnoldus</td>
                <td>Arnold</td>
            </tr>
            <tr>
                <td>Arnulfus</td>
                <td>Arnulf</td>
            </tr>
            <tr>
                <td>Arthurus</td>
                <td>Arthur</td>
            </tr>
            <tr>
                <td>Artorius</td>
                <td>Arthur</td>
            </tr>
            <tr>
                <td>Augustinus</td>
                <td>Austin</td>
            </tr>
            <tr>
                <td>Baldovinus</td>
                <td>Baldwin</td>
            </tr>
            <tr>
                <td>Barnabas</td>
                <td>Barnaby</td>
            </tr>
            <tr>
                <td>Basilius</td>
                <td>Basil</td>
            </tr>
            <tr>
                <td>Beatrix</td>
                <td>Beatrice</td>
            </tr>
            <tr>
                <td>Bernardus</td>
                <td>Bernard</td>
            </tr>
            <tr>
                <td>Berylia</td>
                <td>Beryl</td>
            </tr>
            <tr>
                <td>Blanca</td>
                <td>Blanche</td>
            </tr>
            <tr>
                <td>Blasius</td>
                <td>Blase</td>
            </tr>
            <tr>
                <td>Bonifatius</td>
                <td>Boniface</td>
            </tr>
            <tr>
                <td>Brigitta</td>
                <td>Bridget</td>
            </tr>
            <tr>
                <td>Caecilia</td>
                <td>Cecilia</td>
            </tr>
            <tr>
                <td>Caecilius</td>
                <td>Cecil</td>
            </tr>
            <tr>
                <td>Caritas</td>
                <td>Charity</td>
            </tr>
            <tr>
                <td>Carola</td>
                <td>Carol</td>
            </tr>
            <tr>
                <td>Carolus</td>
                <td>Charles</td>
            </tr>
            <tr>
                <td>Catharina</td>
                <td>Catherine</td>
            </tr>
            <tr>
                <td>Christianus</td>
                <td>Christian</td>
            </tr>
            <tr>
                <td>Christina</td>
                <td>Christine</td>
            </tr>
            <tr>
                <td>Christophorus</td>
                <td>Christopher</td>
            </tr>
            <tr>
                <td>Clara</td>
                <td>Clare</td>
            </tr>
            <tr>
                <td>Claudia</td>
                <td>Claudette</td>
            </tr>
            <tr>
                <td>Claudius</td>
                <td>Claude</td>
            </tr>
            <tr>
                <td>Clemens</td>
                <td>Clement</td>
            </tr>
            <tr>
                <td>Clementina</td>
                <td>Clementine</td>
            </tr>
            <tr>
                <td>Clestina</td>
                <td>Celeste</td>
            </tr>
            <tr>
                <td>Colomanus</td>
                <td>Coleman</td>
            </tr>
            <tr>
                <td>Conradus</td>
                <td>Conrad</td>
            </tr>
            <tr>
                <td>Constans</td>
                <td>Constant</td>
            </tr>
            <tr>
                <td>Constantia</td>
                <td>Constance</td>
            </tr>
            <tr>
                <td>Constantinus</td>
                <td>Constantine</td>
            </tr>
            <tr>
                <td>Crispinus</td>
                <td>Crispin</td>
            </tr>
            <tr>
                <td>Cyrillus</td>
                <td>Cyril</td>
            </tr>
            <tr>
                <td>Dionysia</td>
                <td>Denise</td>
            </tr>
            <tr>
                <td>Dionysius</td>
                <td>Dennis</td>
            </tr>
            <tr>
                <td>Dominicus</td>
                <td>Dominic</td>
            </tr>
            <tr>
                <td>Donivaldus</td>
                <td>Donald</td>
            </tr>
            <tr>
                <td>Dorothea</td>
                <td>Dorothy</td>
            </tr>
            <tr>
                <td>Edmundus</td>
                <td>Edmund</td>
            </tr>
            <tr>
                <td>Eduardus</td>
                <td>Edward</td>
            </tr>
            <tr>
                <td>Eleonora</td>
                <td>Eleanor</td>
            </tr>
            <tr>
                <td>Elias</td>
                <td>Elijah</td>
            </tr>
            <tr>
                <td>Elisabeth</td>
                <td>Elizabeth</td>
            </tr>
            <tr>
                <td>Eloisa</td>
                <td>Heloise</td>
            </tr>
            <tr>
                <td>Erica</td>
                <td>Heather</td>
            </tr>
            <tr>
                <td>Ericus</td>
                <td>Eric</td>
            </tr>
            <tr>
                <td>Ernestus</td>
                <td>Ernest</td>
            </tr>
            <tr>
                <td>Eugenius</td>
                <td>Eugene</td>
            </tr>
            <tr>
                <td>Eva</td>
                <td>Eve</td>
            </tr>
            <tr>
                <td>Everardus</td>
                <td>Everett</td>
            </tr>
            <tr>
                <td>Fabianus</td>
                <td>Fabian</td>
            </tr>
            <tr>
                <td>Felicia</td>
                <td>Felicia</td>
            </tr>
            <tr>
                <td>Felicitas</td>
                <td>Felicity</td>
            </tr>
            <tr>
                <td>Ferdinandus</td>
                <td>Ferdinand</td>
            </tr>
            <tr>
                <td>Fides</td>
                <td>Faith</td>
            </tr>
            <tr>
                <td>Florentia</td>
                <td>Florence</td>
            </tr>
            <tr>
                <td>Franciscus</td>
                <td>Francis</td>
            </tr>
            <tr>
                <td>Fridericus</td>
                <td>Frederick</td>
            </tr>
            <tr>
                <td>Galfridus</td>
                <td>Walfred</td>
            </tr>
            <tr>
                <td>Gasparus</td>
                <td>Jasper</td>
            </tr>
            <tr>
                <td>Gaudentia</td>
                <td>Joy</td>
            </tr>
            <tr>
                <td>Georgius</td>
                <td>George</td>
            </tr>
            <tr>
                <td>Geraldus</td>
                <td>Gerald</td>
            </tr>
            <tr>
                <td>Gerardus</td>
                <td>Gerard</td>
            </tr>
            <tr>
                <td>Gertrudis</td>
                <td>Gertrude</td>
            </tr>
            <tr>
                <td>Gervasius</td>
                <td>Jarvis</td>
            </tr>
            <tr>
                <td>Gilbertus</td>
                <td>Wilbert</td>
            </tr>
            <tr>
                <td>Gloria</td>
                <td>Gloria</td>
            </tr>
            <tr>
                <td>Godefridus</td>
                <td>Geoffrey</td>
            </tr>
            <tr>
                <td>Gratia</td>
                <td>Grace</td>
            </tr>
            <tr>
                <td>Gregorius</td>
                <td>Gregory</td>
            </tr>
            <tr>
                <td>Gualcherius</td>
                <td>Walter</td>
            </tr>
            <tr>
                <td>Gualterus</td>
                <td>Walter</td>
            </tr>
            <tr>
                <td>Guerinus</td>
                <td>Warren</td>
            </tr>
            <tr>
                <td>Guernerus</td>
                <td>Warner</td>
            </tr>
            <tr>
                <td>Guglielmus</td>
                <td>William</td>
            </tr>
            <tr>
                <td>Guido</td>
                <td>Guy</td>
            </tr>
            <tr>
                <td>Gulielmus</td>
                <td>William</td>
            </tr>
            <tr>
                <td>Gustavus</td>
                <td>Gustave</td>
            </tr>
            <tr>
                <td>Hacuinus</td>
                <td>Hacon</td>
            </tr>
            <tr>
                <td>Hadrianus</td>
                <td>Adrian</td>
            </tr>
            <tr>
                <td>Haraldus</td>
                <td>Harold</td>
            </tr>
            <tr>
                <td>Harmonia</td>
                <td>Harmony</td>
            </tr>
            <tr>
                <td>Helena</td>
                <td>Helen</td>
            </tr>
            <tr>
                <td>Henrica</td>
                <td>Henrietta</td>
            </tr>
            <tr>
                <td>Henricus</td>
                <td>Henry</td>
            </tr>
            <tr>
                <td>Herbertus</td>
                <td>Herbert</td>
            </tr>
            <tr>
                <td>Heribertus</td>
                <td>Herbert</td>
            </tr>
            <tr>
                <td>Hermanus</td>
                <td>Herman</td>
            </tr>
            <tr>
                <td>Hieronymus</td>
                <td>Jerome</td>
            </tr>
            <tr>
                <td>Hilaria</td>
                <td>Hilary</td>
            </tr>
            <tr>
                <td>Hilarius</td>
                <td>Hilary</td>
            </tr>
            <tr>
                <td>Homerus</td>
                <td>Homer</td>
            </tr>
            <tr>
                <td>Honoria</td>
                <td>Honor</td>
            </tr>
            <tr>
                <td>Horatius</td>
                <td>Horace</td>
            </tr>
            <tr>
                <td>Huardus</td>
                <td>Howard</td>
            </tr>
            <tr>
                <td>Hubertus</td>
                <td>Hubert</td>
            </tr>
            <tr>
                <td>Hugo</td>
                <td>Hugo</td>
            </tr>
            <tr>
                <td>Hyacintha</td>
                <td>Hyacinth</td>
            </tr>
            <tr>
                <td>Ignatius</td>
                <td>Ignatius</td>
            </tr>
            <tr>
                <td>Iolantha</td>
                <td>Yolanda</td>
            </tr>
            <tr>
                <td>Isaac</td>
                <td>Isaac</td>
            </tr>
            <tr>
                <td>Isai</td>
                <td>Jesse</td>
            </tr>
            <tr>
                <td>Ishachus</td>
                <td>Isaac</td>
            </tr>
            <tr>
                <td>Isidorus</td>
                <td>Isidore</td>
            </tr>
            <tr>
                <td>Jacoba</td>
                <td>Jacqueline</td>
            </tr>
            <tr>
                <td>Jacobus</td>
                <td>James</td>
            </tr>
            <tr>
                <td>Jacomus</td>
                <td>James</td>
            </tr>
            <tr>
                <td>Jeremias</td>
                <td>Jeremy</td>
            </tr>
            <tr>
                <td>Jesaias</td>
                <td>Isaiah</td>
            </tr>
            <tr>
                <td>Johanna</td>
                <td>Joan</td>
            </tr>
            <tr>
                <td>Johannes</td>
                <td>John</td>
            </tr>
            <tr>
                <td>Johannis</td>
                <td>John</td>
            </tr>
            <tr>
                <td>Jonas</td>
                <td>Jonah</td>
            </tr>
            <tr>
                <td>Jordanus</td>
                <td>Jordan</td>
            </tr>
            <tr>
                <td>Josephina</td>
                <td>Josephine</td>
            </tr>
            <tr>
                <td>Josephus</td>
                <td>Joseph</td>
            </tr>
            <tr>
                <td>Josua</td>
                <td>Joshua</td>
            </tr>
            <tr>
                <td>Julia</td>
                <td>Julie</td>
            </tr>
            <tr>
                <td>Juliana</td>
                <td>Gillian</td>
            </tr>
            <tr>
                <td>Julianus</td>
                <td>Julian</td>
            </tr>
            <tr>
                <td>Julius</td>
                <td>Jules</td>
            </tr>
            <tr>
                <td>Justina</td>
                <td>Justine</td>
            </tr>
            <tr>
                <td>Justinus</td>
                <td>Justin</td>
            </tr>
            <tr>
                <td>Ladislaus</td>
                <td>Vladislav</td>
            </tr>
            <tr>
                <td>Laurentius</td>
                <td>Laurence</td>
            </tr>
            <tr>
                <td>Leo</td>
                <td>Leon</td>
            </tr>
            <tr>
                <td>Leonardus</td>
                <td>Leonard</td>
            </tr>
            <tr>
                <td>Leopoldus</td>
                <td>Leopold</td>
            </tr>
            <tr>
                <td>Livius</td>
                <td>Livy</td>
            </tr>
            <tr>
                <td>Lotharius</td>
                <td>Luther</td>
            </tr>
            <tr>
                <td>Lucas</td>
                <td>Luke</td>
            </tr>
            <tr>
                <td>Lucia</td>
                <td>Lucy</td>
            </tr>
            <tr>
                <td>Ludovica</td>
                <td>Louisa</td>
            </tr>
            <tr>
                <td>Ludovicus</td>
                <td>Lewis</td>
            </tr>
            <tr>
                <td>Magdalena</td>
                <td>Magdalen</td>
            </tr>
            <tr>
                <td>Marcellus</td>
                <td>Marcel</td>
            </tr>
            <tr>
                <td>Marcus</td>
                <td>Mark</td>
            </tr>
            <tr>
                <td>Margaretha</td>
                <td>Margaret</td>
            </tr>
            <tr>
                <td>Maria</td>
                <td>Mary</td>
            </tr>
            <tr>
                <td>Marianna</td>
                <td>Marian</td>
            </tr>
            <tr>
                <td>Martinus</td>
                <td>Martin</td>
            </tr>
            <tr>
                <td>Mathilda</td>
                <td>Matilda</td>
            </tr>
            <tr>
                <td>Matthaeus</td>
                <td>Matthew</td>
            </tr>
            <tr>
                <td>Mauritius</td>
                <td>Maurice</td>
            </tr>
            <tr>
                <td>Maximilianus</td>
                <td>Maximilian</td>
            </tr>
            <tr>
                <td>Maximus</td>
                <td>Maxime</td>
            </tr>
            <tr>
                <td>Natalia</td>
                <td>Natalie</td>
            </tr>
            <tr>
                <td>Natalis</td>
                <td>Noel</td>
            </tr>
            <tr>
                <td>Nicola</td>
                <td>Nicole</td>
            </tr>
            <tr>
                <td>Nicolaus</td>
                <td>Nicholas</td>
            </tr>
            <tr>
                <td>Norbertus</td>
                <td>Norbert</td>
            </tr>
            <tr>
                <td>Oliverus</td>
                <td>Oliver</td>
            </tr>
            <tr>
                <td>Onuphrius</td>
                <td>Humphrey</td>
            </tr>
            <tr>
                <td>Pancratius</td>
                <td>Pancras</td>
            </tr>
            <tr>
                <td>Paschalis</td>
                <td>Pascal</td>
            </tr>
            <tr>
                <td>Patricius</td>
                <td>Patrick</td>
            </tr>
            <tr>
                <td>Paula</td>
                <td>Paula</td>
            </tr>
            <tr>
                <td>Paulus</td>
                <td>Paul</td>
            </tr>
            <tr>
                <td>Perla</td>
                <td>Pearl</td>
            </tr>
            <tr>
                <td>Petrus</td>
                <td>Peter</td>
            </tr>
            <tr>
                <td>Philippus</td>
                <td>Philip</td>
            </tr>
            <tr>
                <td>Prudentia</td>
                <td>Prudence</td>
            </tr>
            <tr>
                <td>Quintinus</td>
                <td>Quentin</td>
            </tr>
            <tr>
                <td>Raimundus</td>
                <td>Raymond</td>
            </tr>
            <tr>
                <td>Renata</td>
                <td>Renee</td>
            </tr>
            <tr>
                <td>Renatus</td>
                <td>Rene</td>
            </tr>
            <tr>
                <td>Ricardus</td>
                <td>Richard</td>
            </tr>
            <tr>
                <td>Robertus</td>
                <td>Robert</td>
            </tr>
            <tr>
                <td>Rochus</td>
                <td>Rocky</td>
            </tr>
            <tr>
                <td>Rodgerus</td>
                <td>Roger</td>
            </tr>
            <tr>
                <td>Rolandus</td>
                <td>Roland</td>
            </tr>
            <tr>
                <td>Romanus</td>
                <td>Roman</td>
            </tr>
            <tr>
                <td>Ronaldus</td>
                <td>Ronald</td>
            </tr>
            <tr>
                <td>Rosa</td>
                <td>Rose</td>
            </tr>
            <tr>
                <td>Rubina</td>
                <td>Ruby</td>
            </tr>
            <tr>
                <td>Rudolphus</td>
                <td>Rudolph</td>
            </tr>
            <tr>
                <td>Rupertus</td>
                <td>Robert</td>
            </tr>
            <tr>
                <td>Salomo</td>
                <td>Solomon</td>
            </tr>
            <tr>
                <td>Sara</td>
                <td>Sarah</td>
            </tr>
            <tr>
                <td>Saulus</td>
                <td>Saul</td>
            </tr>
            <tr>
                <td>Sergius</td>
                <td>Serge</td>
            </tr>
            <tr>
                <td>Servatius</td>
                <td>Servatius</td>
            </tr>
            <tr>
                <td>Sidonius</td>
                <td>Sidney</td>
            </tr>
            <tr>
                <td>Simona</td>
                <td>Simone</td>
            </tr>
            <tr>
                <td>Simonis</td>
                <td>Simon</td>
            </tr>
            <tr>
                <td>Spes</td>
                <td>Hope</td>
            </tr>
            <tr>
                <td>Stanislaus</td>
                <td>Stanley</td>
            </tr>
            <tr>
                <td>Stephania</td>
                <td>Stephanie</td>
            </tr>
            <tr>
                <td>Stephanus</td>
                <td>Stephen</td>
            </tr>
            <tr>
                <td>Suenius</td>
                <td>Swain</td>
            </tr>
            <tr>
                <td>Susanna</td>
                <td>Susan</td>
            </tr>
            <tr>
                <td>Sybilla</td>
                <td>Sybil</td>
            </tr>
            <tr>
                <td>Tancredus</td>
                <td>Tancred</td>
            </tr>
            <tr>
                <td>Terentius</td>
                <td>Terence</td>
            </tr>
            <tr>
                <td>Theobaldus</td>
                <td>Theobald</td>
            </tr>
            <tr>
                <td>Theodoricus</td>
                <td>Derek</td>
            </tr>
            <tr>
                <td>Theodorus</td>
                <td>Theodore</td>
            </tr>
            <tr>
                <td>Theresia</td>
                <td>Theresa</td>
            </tr>
            <tr>
                <td>Timotheus</td>
                <td>Timothy</td>
            </tr>
            <tr>
                <td>Tobias</td>
                <td>Toby</td>
            </tr>
            <tr>
                <td>Tullius</td>
                <td>Tully</td>
            </tr>
            <tr>
                <td>Ulricus</td>
                <td>Ulric</td>
            </tr>
            <tr>
                <td>Valentinus</td>
                <td>Valentine</td>
            </tr>
            <tr>
                <td>Vergilius</td>
                <td>Vergil</td>
            </tr>
            <tr>
                <td>Veritas</td>
                <td>Verity</td>
            </tr>
            <tr>
                <td>Victoria</td>
                <td>Victory</td>
            </tr>
            <tr>
                <td>Vincentius</td>
                <td>Vincent</td>
            </tr>
            <tr>
                <td>Viola</td>
                <td>Violet</td>
            </tr>
            <tr>
                <td>Virgilius</td>
                <td>Virgil</td>
            </tr>
            <tr>
                <td>Vitus</td>
                <td>Guy</td>
            </tr>
            <tr>
                <td>Viviana</td>
                <td>Vivian</td>
            </tr>
            <tr>
                <td>Vivianus</td>
                <td>Vivian</td>
            </tr>
            <tr>
                <td>Xaverus</td>
                <td>Xavier</td>
            </tr>
            <tr>
                <td>Zacharias</td>
                <td>Zachary</td>
            </tr>

        </tbody>


    </table>
    </strong>
</dd>
<br />
<hr />

<hr />
   <h3><strong>See also</strong>
</h3>
    <p>

        <a class="btn" href="/information-for-transcribers/real-names-and-abbreviations" title="Real Names and Abbreviations"> 
Abbrs. &amp; old forms of names</a>
        <a class="btn" href="/information-for-transcribers/latin-words-to-recognise" title="Latin Words to Recognise">Latin words to recognise
</a>
        <a class="btn" href="/information-for-transcribers/numbers-and-dates" title="Numbers and Dates">Numbers &amp; Dates to recognise
</a>
        <a class="btn" href="http://freereg2.freereg.org.uk/"> FreeREG Home page
 </a>


    </p>
<p><strong><a href="#top" title="Real Names and Abbreviations">|Top of page|</a>
</strong>
</p>