<h1>Opening CSV files with Excel.</h1>

<p><span class="loz islet--orange">FR1 content — not edited for FR2 </span> </p>

  <title>FreeREG - Importing CSV files into Excel</title>

<p>
    As most of you will have experienced, opening a CSV file with Excel can often lead to unpleasant changes to any date fields that may be in the file that contains records from 1900 onwards. Excel insists on converting them into the standard date format. </p>
<p>
Well there is a way around the problem.</p>
<p>
Instead of opening the file in the standard way, do the following.</p>
<h3><strong>Start Excel and prepare the way.</strong>
</h3> <p>Highlight all of the columns for which you are going to import data. On the column headers row A,B,C etc, go to A; click and HOLD the left button on the mouse; move the mouse right until you have highlighted all of the columns you want to format; then release your mouse button.(N for Baptisms, O for Burials and AD for marriages) <br />Format them all as text by going to the <strong>Format</strong> option on the task menu at the top and selecting the cells option. A formatting options box appears. On the <strong>Number</strong> tab go to the listing of <strong>Categories</strong> and select the <strong>Text</strong> option. See below:</p>
<p><img src="/system/images/W1siZiIsIjIwMTQvMDkvMDcvMTZfMDVfMDZfMzEyX2Zvcm1hdC5qcGciXSxbInAiLCJ0aHVtYiIsIjQ1MHg0NTA%2BIl0sWyJwIiwic3RyaXAiXV0/format.jpg" title="Format" alt="Format" data-rel="450x450" height="333.18181824684143" width="450.18181824684143" /><br />Start the import process.
</p>
<p> Go to the <strong>Data </strong>option on the Excel task bar and click on it. Move down to the <strong>Get External Data</strong> option and a second option tab opens. Go to the <strong>Import Text File</strong> option and click it. A file open box appears.  Position to the directory that your file is in in the normal manner. You will not see the file until you change the <strong>Type of file</strong> in the bottom box to <strong>All Files</strong>. Then you will see your CSV file. </p>
<p><img src="/system/images/W1siZiIsIjIwMTQvMDkvMDcvMTZfMDVfMDZfNTYzX2ltcG9ydC5qcGciXSxbInAiLCJ0aHVtYiIsIjQ1MHg0NTA%2BIl0sWyJwIiwic3RyaXAiXV0/import.jpg" title="Import" alt="Import" data-rel="450x450" height="293.18181824684143" width="450.18181824684143" /></p>
<p> <strong>Double click on the name of the file</strong> you wish to import and the <strong>Text Import Wizard</strong> will open up. See Below:</p>
<p><img src="/system/images/W1siZiIsIjIwMTQvMDkvMDcvMTZfMDVfMDdfMjAzX3N0ZXAxLmpwZyJdLFsicCIsInRodW1iIiwiNDUweDQ1MD4iXSxbInAiLCJzdHJpcCJdXQ/step1.jpg" title="Step1" alt="Step1" data-rel="450x450" height="322.18181824684143" width="450.18181824684143" /></p>
<p>In the top box marked <strong>Original data type</strong> you will see two options; Delimited and Fixed Data Width. Most likely the Fixed Data Width option will have been pre-selected. Well change it to the <strong>Delimited</strong> option. Click <strong>Next</strong>. Step 2 of the Text Import Wizard opens. In the <strong>Delimiters</strong> option box place a tick mark against the <strong>comma</strong> option and blank out all others. See below:</p>
<p><img src="/system/images/W1siZiIsIjIwMTQvMDkvMDcvMTZfMDVfMDdfMjYyX3N0ZXAyLmpwZyJdLFsicCIsInRodW1iIiwiNDUweDQ1MD4iXSxbInAiLCJzdHJpcCJdXQ/step2.jpg" title="Step2" alt="Step2" data-rel="450x450" height="322.18181824684143" width="450.18181824684143" /></p>
<p>Click <strong>Next</strong> and Step 3 of the Text Import Wizard opens. This is now the <strong>key step</strong> where we tell Excel what to do with the data. Normally Excel assigns a <strong>general</strong> data type to all fields. This is what results in the date conversion. Click on the <strong>column containing date information</strong> and then go to the <strong>Column data format </strong>options at the top and select the <strong>text</strong> option.
Repeat this for any other date columns you may have. See below:</p>
<p><img src="/system/images/W1siZiIsIjIwMTQvMDkvMDcvMTZfMDVfMDdfMzM2X3N0ZXAzLmpwZyJdLFsicCIsInRodW1iIiwiNDUweDQ1MD4iXSxbInAiLCJzdHJpcCJdXQ/step3.jpg" title="Step3" alt="Step3" data-rel="450x450" height="322.18181824684143" width="450.18181824684143" /></p>
<p>Then click <strong>Finish</strong> and the final options box opens up asking where to place the data. See below:</p>
<p><img src="/system/images/W1siZiIsIjIwMTQvMDkvMDcvMTZfMDVfMDZfNzM5X3Jlc3VsdC5qcGciXSxbInAiLCJ0aHVtYiIsIjQ1MHg0NTA%2BIl0sWyJwIiwic3RyaXAiXV0/result.jpg" title="Result" alt="Result" data-rel="450x450" height="333.18181824684143" width="450.18181824684143" />
</p>
<p>You can normally just click <strong>OK</strong>. Your data is then correctly entered without converting the date fields! See below:</p>

<hr />
<a href="../transcribers.htm">Transcribers Page</a>
<br />
<a href="../index.shtml">FreeREG Home Page</a>
<br />

