<h1>Search Sidebar Text</h1>

<p>The minimum input requirements are Surname and a County. Your search can be refined by adding a Forename or a date range or a place name. Further option include a fuzzy search, a search close to a specific place and the inclusion of family members.</p>