<h1>About</h1>

<div class="grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="lead">The aim of FreeREG is to provide free internet searches of baptism, marriage, and burial records. We are transcribing records from parish registers, non-conformist records and other relevant sources in the UK.</p>
    <p>The recording of baptisms, marriages and burials in parish registers began in England and Wales in 1538 and is separate and distinct from the civil registration process that began in 1837 — civil registration is covered by our companion project, <a href="https://www.freebmd.org.uk">FreeBMD</a>. We want to make it easier for researchers, no matter where you are in the world, to find a specific record relating to your ancestor within a church register.</p>
    <p>FreeREG is the result of contributions by hundreds of dedicated volunteers around the world. They continue to add records daily. Even so, you should not expect to find all your ancestors in the database yet.</p>    
  </div>

  <div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <nav aria-labelledby="thisPage">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="thisPage">On this page</h2>
        <ul class="sub-nav">
          <li><a href="#member">Membership</a> </li>
          <li><a href="#search">Searching</a> </li>
          <li><a href="#browse">Browsing</a> </li>
          <li><a href="#cite">Citing FreeREG</a> </li>
          <li><a href="#accessibility">Accessibility</a> </li>
        </ul>
      </div>
    </nav>  
  </div>
<div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
   <div class="adsense_box push--ends">
     <span>Advertisement</span>
     <ins class="dcmads" style="display:inline-block;width:300px;height:250px" data-dcm-placement="N217801.4498381FREEREG/B27882117.337649001" data-dcm-rendering-mode="iframe" data-dcm-gdpr-applies="gdpr=${GDPR}" data-dcm-gdpr-consent="gdpr_consent=${GDPR_CONSENT_755}" data-dcm-addtl-consent="addtl_consent=${ADDTL_CONSENT}" data-dcm-ltd="false">
      <script src="https://www.googletagservices.com/dcm/dcmads.js"></script>
    </ins>
   </div>
  </div>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole clear--left">

    <h2 id="member">Membership</h2>
    <p>You do not need to be a Member to search our database. However, to make FreeREG an effective tool we are in urgent need of volunteers willing to undertake the transcription of registers or make available transcriptions that they have already completed.</p>
    <p class="islet islet--light">Want to know more about transcribing? Interested in being a technical volunteer? Then visit our <a href="http://www.freereg.org.uk/userid_details/transcriber_registration">Volunteer</a> page.</p>
    <p>Please note that we cannot accept donations of images purchased from commercial sites such as Ancestry, FindMyPast, ScotlandsPeople, and so on. Neither can we accept transcripts made from such images. The licence agreed to by the purchaser permits only personal use of images and their contents.</p>
    <hr class="rule rule--ornament" />

    <h2 id="search">Searching</h2>
    <p>We provide an internet-based search for events relating to a named person in up to three counties at a time. The search may be narrowed to a specific place within a single county and for a year range of your choice.</p>
    <p>Alternatively, you may search for a named person in <em>all</em> counties if you provide a year range and select one of baptism, marriage or burial. In either case, only records that match the details in the search form will be displayed.</p>
    <p>It is not possible to request a search that provides all of the records for one church or parish. Neither can you make a search for everyone whose name begins with the same letter (or letters).</p>
    <hr class="rule rule--ornament" />

    <h2 id="browse">Browsing</h2>
    <p>For copyright reasons, we cannot allow you to browse all the transcriptions from a register, or a section of the transcriptions. We do recognise that this can be useful to genealogists: if you want to find out if there is an illegible record at a specific date (for example). You can ask us such specific questions through our <a href="http://www.freereg.org.uk/contacts/new">Contact form</a>. For other use of such complete transcriptions, where these exist, you should contact either the appropriate local County Record Offices or the relevant Family History Society.</p>
    <hr class="rule rule--ornament" />

    <h2 id="cite">Citing Free UK Genealogy Databases</h2>
    <p>As the Free UK Genealogy databases are transcriptions, it is always preferable to see the original, or a surrogate (such as microfiche, film, photograph or digitised image).</p>
    <p>If the surrogate is available on a Free UK Genealogy website, then it is the <em>image</em> that should be referenced, rather than the database.</p>
    <p>It is best practice not to rely on the Free UK Genealogy indexes, but to examine the original, and reference that, but distances and costs may make verification in this way difficult or impossible. If writing for a non-specialist or international audience, it might be helpful to also direct readers to the relevant Free UK Genealogy website, even if the original record or a surrogate has been studied, since they may not be in a position to travel or otherwise pay for access to a surrogate.</p>

    <h3>Citation buttons on FreeREG</h3>
    <p>Our projects now include buttons which auto-generate a citation in one of a number of popular formats for academics and family historians. If you spot an error in our format, or would like an additional format, please let us know.</p>

    <h3>Academic purposes (e.g. publication, student essay or thesis)</h3>
    <p>Academic references need to be formatted using the rules of the publication or institution — common ones are MLA (Modern Language Association of America), Chicago and Harvard, or variants based on those. Citing an entry in a Free UK Genealogy database is complicated, because the thing being cited is not an ‘article’, a ‘page’, an ‘image’ or any of the other frequently provided examples for academic referencing.  As MLA says:  <q>When citing sources from a database, the type of resource (newspaper, magazine, journal, etc.) will determine the citation format, not the database itself.</q> </p>
    <p class="push-half--bottom">For citations of the whole database (e.g. in a comparison of tools used by genealogists) or specific pages (such as the ‘About’ page) use the following formats:</p>
    <ul>
      <li><strong>MLA</strong> 
        <p class="islet islet--bordered push-half--left">FreeREG. Free UK Genealogy, nd. Web. [Date of access]. </p>
        <p class="push--half-left">Note: MLA no longer requires the use of URL’s. For instructors or editors who still wish to require the use of URL’, MLA suggests that the URL appear in angle brackets after the date of access. Break URL’s only after slashes.</p>
      </li>
      <li><strong>Chicago</strong>
        <p class="islet islet--bordered push-half--left">Free UK Genealogy. “FreeREG.” Last modified [date of search]. Accessed [date of search]. https://www.freereg.org.uk</p>
      </li>
      <li><strong>Harvard</strong>
        <p class="islet islet--bordered push-half--left">Free UK Genealogy (n.d.) FreeREG [Online] Available from: https://www.freereg.org.uk. [Accessed: date of access] </p>
        <p class="push-half--left">Note: different style guides may place full stops differently.</p>
      </li>
    </ul>
    <p>For citations of a transcription or index (where you have not read the original source) you must reference the source you have actually viewed and the original.  If you have found (and seen) the original by a search of a Free UK Genealogy database, give the reference to the original without mentioning the database.  If you do wish to mention the database for some reason, reference this separately, as above. This is the practice followed in all cases where you are citing an original that you have only seen in a secondary publication of some kind.</p>
    <p>At the moment, it is not possible to give the digital equivalent of the page number that you would give for a book: the nearest thing we have is permanent URL’s (PURL’s). Free UK Genealogy websites now all have quasi-permanent URL’s (quasi because if we change the transcription for some reason, a different URL is generated).</p>
  </div>
</div>

<div class="grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">

    <h3>Family History and Citations</h3>
    <p>Citations for genealogy are not quite like academic citations.  If you want to get to know more about the theory behind family history citations, you could have a look at the <a href="https://fhiso.org/TR/cev-concepts">Family History Information Standards Organisation’s third draft on citation elements</a>.</p>
    <p>Another resource is Elizabeth Shown Mills’ <a href="http://www.worldcat.org/oclc/1054383552">Evidence explained: citing history sources from artifacts to cyberspace</a>, which is built on one core principle: <q>We cannot judge the reliability of any information unless we know exactly where the information came from; and the strengths and weaknesses of that source.</q> An Evidence Explained citation thus combines both the academic reference (knowing exactly where the information came from), and additional information which in academic writing, the reader is expected to know for themselves, or the author will present in their text, or the reader will need to research for themselves (the strengths and weaknesses of that source) in order that the reader can make critical judgements about the author’s arguments.</p>
    <hr class="rule rule--ornament" />
  </div>

  <div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <aside aria-labelledby="moreAbout">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="moreAbout">More about FreeREG</h2>
        <ul class="sub-nav">
          <li><a href="/about/your-reviews">Your reviews</a> </li>
        </ul>
      </div>
    </aside>
    
    <aside aria-label="Sister projects">
      <div class="island island--bordered">
        <p>FreeREG is a part of the <a href="https://www.freeukgenealogy.org.uk">Free UK Genealogy Charity</a> and a companion to <a href="https://www.freebmd.org.uk">FreeBMD</a> — a database of the General Register Office (G.R.O.) birth, marriage and death indexes from 1837 — and <a href="https://www.freecen.org.uk">FreeCEN</a> — a database of census information.</p>
      </div>
    </aside>
  </div>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <h2 id="accessibility">Accessibility</h2>
    <p>You will notice some changes to the site as we seek to improve access to FreeREG, especially for mobile phone users and for visitors with a range of disabilities. See our <a href="/about/accessibility-statement">Accessibility statement</a> for more details.</p>
  </div>
</div>
<iframe id="_pericles_content_iframe" style="position: absolute; top: -99px; left: 0px; width: 50px; height: 26px; background: transparent; overflow: visible; margin-top: -30px; transition: top 2s ease-in-out 0s; z-index: 2147483647; border: none; padding: 0px;"></iframe>

<h2>Side Body</h2>

<iframe id="_pericles_content_iframe" style="position: absolute; top: -99px; left: 0px; width: 50px; height: 26px; background: transparent; overflow: visible; margin-top: -30px; transition: top 2s ease-in-out 0s; z-index: 2147483647; border: none; padding: 0px;"></iframe>