<h1>Answers to Database asked Questions</h1>

<p><span class="loz islet--orange">FR1 content — not edited for FR2 </span> </p>

<h3>WHAT KIND OF DATA IS IN THE DATABASE</h3>

<p>There are three separate databases, one each for baptisms, marriages and burials.</p>
<p>The essential basic information associated with the event is recorded, basically surname, forename, dates and associated information.</p>
<p>See <a href="/information-for-transcribers/entering-data-from-a-parish-baptism-marriage-or-burial-register" title="Entering data from a parish baptism, marriage or burial register ">How to enter data</a> for detailed information.</p>
<p><a href="/tips-for-searching-the-database/frequently-asked-questions" title="Frequently Asked Questions">FAQ Index</a> | <a href="/tips-for-searching-the-database/frequently-asked-questions/#general" title="Frequently Asked Questions">General Questions Index</a> </p>

<hr />

    <h3>IS THERE INFORMATION IN THE ORIGINAL REGISTERS WHICH IS NOT IN THE DATABASE</h3>
        <p>Yes. Not all of the information in a register will have been transcribed
            into the database. Neither is it a literal transcript. Marriages
            from 1754 onwards, for example have the signatures of two witnesses,
            and these names are usually included in the database. Marriages
            from 1837 have the names and occupations of the fathers of
            the couple, and an address for each, and these are not always
            included in the database. If the volunteer transcriber has
            included these extra details, then we have included them in
            the database too.
        </p>
        <p>
            Some additional information from the body or margin notes in a register
            may well be included in the "notes" section.
        </p>
        <p>
            <strong>It is recommended that once you have found an event
in a transcript or index (such as the FreeREG database or the IGI) that you
*always* look at the original register on microfilm/fiche to confirm the
details and see if there is additional information.</strong>
        </p>
        <p>
            Some local family history societies sell copies of registers on microfiche.
            We recommend that you contact the relevant county family history
            society. Films/fiche of registers may also viewed at a County
            Record Office, and in many cases, ordered through the LDS to
            view at your nearest Family History Centre.
        </p>
        <p><a href="/tips-for-searching-the-database/frequently-asked-questions" title="Frequently Asked Questions">FAQ Index</a> | <a href="/tips-for-searching-the-database/frequently-asked-questions/#general" title="Frequently Asked Questions">General Questions Index</a> <a href="index.htm#general">
        </a> </p>

<hr />

    <h3>WHY DOESN'T FreeREG HAVE A FULL LITERAL TRANSCRIPT OF THE TRANSCRIPT?</h3>

<p>It isn't practical. Neither is it the objective of the FreeREG
            Project. You should always check with the original documents.
            (<a href="#notincluded">see above</a>)
        </p>
        <p>
            Isn't it? My general philosophy is that people should transcribe exactly
            what they see, and any transformations are done afterwards.
            Or did you mean something different?
        </p>
        <p>
            Yes, you are correct. FreeREG urges its transcribers to enter what they
            see contained in the register however it was spelled, mis-spelled,
            in Latin, or abbreviated. We expect to provide capabilities
            to assist researchers locate those names that are 'similar'.

        </p>
        <p>
            At the same time all we can do is create a searchable database. The most
            important thing about any database is standardisation of input.
            So certain fields must be transcribed in specific ways regardless
            of how they actually appeared in the original register.
        </p>
        <p>
            I don't see why not (barring illegibility, of course)?
        </p>
        <p>
            OK. a few examples:
        </p>
        <p>
            County = Nottinghamshire
            <br /> Place = Nottingham
            <br /> Church = St. Peter
        </p>
        <p>
            A) old style marriage register pre 1754:
            <br /> "Peter NOTTINGHAM of ye Parish of St. Mary, Nottingham and
            Mary BEDFORD of ys parish were marryed ye 23rd January 1723"
        </p>
        <p>
            A search for the surname NOTTINGHAM would also find all records which contained
            the place name too. Now look again at that for Peter, Mary,
            St. Peter, St. Mary, and BEDFORD or the place Bedford.
        </p>
        <p>
            "Mr. James TONBRIDGE, Gent. and Jone WILLIAM were marryed ye same day"
        </p>
        <p>
            No date in the register. Find that one out of context and you would have
            no idea when it was. Is WILLIAM a Christian name or a surname?
            What about the place name Tonbridge? Would someone search the
            database for "Jone" or "Joan"?
        </p>
        <p>
            B) a post 1754 marriage register:
            <br /> "Peter NOTTINGHAM, bachelor, of full age, of the parish of
            St. Mary, Nottingham, and Mary BEDFORD, minor, of this parish,
            were married in this church by banns this twenty third day
            of January One thousand seven hundred and fifty five by me:
            J. HALIFAX, curate. This marriage solemnised between us: Peter
            NOTTINGHAM X his Mark. Mary X BEDFORD her mark. In the presence
            of: Samuel Atkins BACHELOR and Bennet CLIFTON".
        </p>
        <p>
            It is impossible to write software to sort out the church name, county
            name, Christian names, surnames and dates from that when someone
            does a search of the database. ;-) I helped by capitalising
            the surnames in correct fashion, although that of course is
            not a literal transcript.
        </p>
        <p>
            Now add all the extra variables that start to come in with post 1837 marriage
            registers, and early registers in Latin.... or:
            <br /> "Joh. NOTTINGHAM marryed his wyf. xxvj 8ber 5 Geo. III"
        </p>
        <p>
            translating that:
            <br /> xxvj = 26
            <br /> 8ber is the 8th month... August, right? No... 8ber was October
            (8=Oct) and 10ber December.
            <br /> 8ber = October
            <br /> 5 Geo III = 1760+4 = 1764 so 26 October 1764
            <br /> (and to confuse things, 24 October 5 Geo III is not two days
            earlier but 364 days later because George II died on the morning
            of October 25).
        </p>
        <p>
            It just isn't practical to have a full transcript which can be searched.
            <br />So while transcribers do try to enter what is written, they
            must enter dates and other information in a consistent manner
            so that the record can be retrieved by a search.
            <br />

            Neither is it the objective of the FreeREG Project to publish full transcripts
of any parish register. We won't be doing that. You
            should always check with the original documents yourself once
            you have found something in the database.
            (<a href="#notincluded">see above</a>)
        </p>
        <p>
            For the structure of what is in the database see
            <a href="/freereg2/the-freereg-databases" title="The FreeREG Databases">a standard set of contents</a>
            <a href="../howto/enterdata.htm"></a> for each database.
        </p>
        <p>
            <a href="/tips-for-searching-the-database/frequently-asked-questions" title="Frequently Asked Questions">FAQ Index</a> | <a href="/tips-for-searching-the-database/frequently-asked-questions/#general" title="Frequently Asked Questions">General Questions Index</a> </p>

<hr />

    <h3>HOW RELIABLE ARE THE RECORDS IN THE DATABASE?</h3>

        <p>No guarantee can be made regarding the accuracy of the data in
            the databases. Transcribers of the data take every possible
            care to ensure accuracy, but mistakes can be made. In the case
            of difficult to read handwriting, the transcriber may have
            interpreted a word or name as s/he saw it. You should always
            check with the original documents. (<a href="#notincluded">see
above</a>).
        </p>
        
        <p><a href="/tips-for-searching-the-database/frequently-asked-questions" title="Frequently Asked Questions">FAQ Index</a> |<a href="/tips-for-searching-the-database/frequently-asked-questions/#general" title="Frequently Asked Questions">General Questions Index</a> </p>


  <h3>WHAT COUNTIES, PLACES AND PARISHES ARE INCLUDED IN THE DATABASE?</h3>

        <p>The FreeREG Project's aim is to include counties, places and parishes
            in England, Scotland and Wales in the first instance. (Northern
            Ireland will follow). To see if a particular place has been
            included see
            <a href="/county_pages" title="County Pages">the County pages.</a>
        </p>
        <p><a href="/tips-for-searching-the-database/frequently-asked-questions" title="Frequently Asked Questions">FAQ Index</a> | <a href="/tips-for-searching-the-database/frequently-asked-questions/#general" title="Frequently Asked Questions">General Questions Index</a> </p>

    <h3>IS THE DATA FROM NON-CONFORMIST CHURCH REGISTERS INCLUDED?</h3>
       <p>Yes.</p>
       <p>
            FreeREG contains details of baptisms, marriages and burials from Non-Conformist
            (Baptist, Methodist, etc) registers if the data has been submitted
            to our project.
        </p>
        <p><a href="/tips-for-searching-the-database/frequently-asked-questions" title="Frequently Asked Questions">FAQ Index</a> | <a href="/tips-for-searching-the-database/frequently-asked-questions/#general" title="Frequently Asked Questions">General Questions Index</a> </p>

<hr />

    <h3>WHY DOES THE DATABASE CONTAIN A PLACE AND CHURCH AND NOT A "PARISH"?</h3>
        <p>
            As usual..... a long answer to a short question.
        </p>
        <p>
            No, a Church and a Parish are not the same things.
        </p>
        <p>
            A parish is a Church of England administrative area. Not the same thing
            as "church" or "place".
        </p>
        <p>
            A town (place) can contain many Parishes. A rural Parish can contain one
            or more villages and other settlements (places). Each of those
            places can have one or more churches and non-conformist churches.
        </p>
        <p>
            A parish contains just one Church of England Church, (actually it can also
            contain Church of England Chapelries - sub churches - too),
            but the town/village/place can contain many other non-conformist
            churches.
        </p>
        <p>
            That's why we have done away with the term "parish" when really we do mean
            "place".
        </p>
        <p>
            e.g. in our little town of 7,000 population: (which is actually two parishes
            now)
        </p>
        <p>
            Cinderford St. John (est. 1845)
            <br /> Cinderford St. Stephen (est. 1890)
            <br /> Before that, it was either ex-parochial (not under the administrative
            control of the Church at all) - or parts of Flaxley or Newland
            parishes.
        </p>
        <p>
            then we have:
            <br /> Cinderford Bilson Mission (St. Stephen Chapelry)
            <br /> Cinderford Wesleyan Methodist
            <br /> Cinderford Methodist
            <br /> Cinderford Cinderford Bridge Methodist
            <br /> Cinderford Primitive Methodist
            <br /> Cinderford Baptist
            <br /> Cinderford Steam Mills Methodist
            <br /> Cinderford Steam Mills Baptist
            <br /> + other defunct ones.
            <br /> (all of the above fall within the two Church of England Parishes)
        </p>
        <p>
            but just to confuse things really well... part what is now St. Stephen's
            Parish used to be (pre 1890) in Flaxley Parish (and people
            born there were baptised at Flaxley - 4 miles away), and part
            of it used to be Newland Parish and people born there had to
            be (if they were C of E), baptised at Newland, 10 miles away!
            Those two areas were actually "outliers" (islands) of Newland
            and Flaxley Parishes and not even physically connected. Its
            just that the church owned the land (administratively) here
            in Cinderford!
        </p>
        <p>
            Another strange example in the next town to us:
        </p>
        <p>
            Coleford St. John (a parish church)
            <br /> fine... but. Prior to 1875 it was a Chapelry of Newland Parish.
            <br /> Then *lots* of non-conformist churches in Coleford too.
        </p>
        <p>
            So theoretically our database would have both (the buildings were actually
            two different churches, each with its own register):
        </p>
        <p>
            Coleford St. John
            <br /> Coleford St. John Chapelry of Newland
            <br /> Coleford Baptist
            <br /> lots more etc... and this lovely one
            <br /> Coleford Countess of Huntingdon's Connexion
            <br /> (which was an offshoot of the Wesleyan movement.)
        </p>
        <p>
            So you see.... Place &amp; Church is really the only compromise that fits
            *all* situations. It also makes sense when narrowing down a
            search of the database to narrow it down to a "place" rather
            than a "parish".</p>
        
<p><a href="../index.shtml">
            </a>
<a href="/tips-for-searching-the-database/frequently-asked-questions" title="Frequently Asked Questions">FAQ Index</a> | <a href="/tips-for-searching-the-database/frequently-asked-questions/#general" title="Frequently Asked Questions">General Questions Index</a> </p>

    <h3>HOW DO I SEARCH FreREG?</h3>
        <p>
            FreeREG has three databases, one each for baptisms, marriages and burials.
            Only one may be searched at a time, and for one person or one
            surname only.
        </p>
        <p>
            See: <span><a href="/" title="FreeREG2">Searching the Databases
</a>
<a href="/tips-for-searching-the-database" title="Tips for searching the database">
</a>
</span>

            <br /> See: <a href="/tips-for-searching-the-database" title="Tips for searching the database">Tips for Searches
</a>

            <br /> See: <a href="/tips-for-searching-the-database/examples-of-searches-in-the-database" title="Examples of searches in the database">Examples of Searches</a> </p>
        <p>
            <a href="/tips-for-searching-the-database/frequently-asked-questions" title="Frequently Asked Questions">FAQ Index</a> |
            <a href="/tips-for-searching-the-database/frequently-asked-questions/#general" title="Frequently Asked Questions">General Questions Index</a> </p>

<hr />

    <h3>WHY DOES THE CHURCH NAME CONTAIN A BT OR SOMETHING SIMILAR?</h3>

        <p>The church name could include Bt, At, Tr or Ex. It indicates the
            record is not from a parish register but extracted from the
            Bishop's Transcript (Bt) or Archdeacon's Transcript (At), a
            transcript by another person (Tr) eg Phillimore or an extract
            (Ex) of a register by another person (an extract occurs when
            the transcriber only entered certain names).
        </p>

<hr />
       <p>
            <a href="/tips-for-searching-the-database/frequently-asked-questions" title="Frequently Asked Questions">FAQ Index</a>

            <a href="index.htm">
            </a> | <a href="/tips-for-searching-the-database/frequently-asked-questions/#general" title="Frequently Asked Questions">General Questions
Index</a> </p>
