<h1>Chapman codes</h1>

<div class="grid">
    <div class="grid__item three-fifths palm-one-whole">
        <p class="lead">Chapman codes are widely used abbreviations for county names. We use these three-letter codes when transcribing records as they save typing and need less space in the database than the full names.</p>
        <p>Do not worry about researchers: they choose from a list of the county names written in full.</p>
    </div>

    <div class="grid__item two-fifths palm-one-whole">
        <div class="islet islet--navy">
            <p>Chapman codes are a set of three-letter codes used in genealogy to identify the administrative divisions in the British Isles: the United Kingdom (of Great Britain and Northern Ireland), Ireland, the Isle of Man and the Channel Islands.</p>
            <p>The codes were devised by the historian Dr&#160;Colin R Chapman, in the late 1970s. Today, they are a widely used shorthand in genealogy.</p>
        </div>
    </div>
</div>
<div class="grid">
    <section class="grid__item one-third lap-one-half palm-one-whole">
        <div class="island">
            <h2>England counties</h2>
            <dl class="split">
                <dt class="split__title">Bedfordshire          </dt> <dd>BDF</dd>
                <dt class="split__title">Berkshire             </dt> <dd>BRK</dd>
                <dt class="split__title">Buckinghamshire       </dt> <dd>BKM</dd>
                <dt class="split__title">Cambridgeshire        </dt> <dd>CAM</dd>
                <dt class="split__title">Cheshire              </dt> <dd>CHS</dd>
                <dt class="split__title">Cornwall              </dt> <dd>CON</dd>
                <dt class="split__title">County Durham         </dt> <dd>DUR</dd>
                <dt class="split__title">Cumberland            </dt> <dd>CUL</dd>
                <dt class="split__title">Derbyshire            </dt> <dd>DBY</dd>
                <dt class="split__title">Devon                 </dt> <dd>DEV</dd>
                <dt class="split__title">Dorset                </dt> <dd>DOR</dd>
                <dt class="split__title">Durham                </dt> <dd>DUR</dd>
                <dt class="split__title">Essex                 </dt> <dd>ESS</dd>
                <dt class="split__title">Gloucestershire       </dt> <dd>GLS</dd>
                <dt class="split__title">Hampshire             </dt> <dd>HAM</dd>
                <dt class="split__title">Herefordshire         </dt> <dd>HEF</dd>
                <dt class="split__title">Hertfordshire         </dt> <dd>HRT</dd>
                <dt class="split__title">Huntingdonshire       </dt> <dd>HUN</dd>
                <dt class="split__title">Isle of Wight         </dt> <dd>IOW</dd>
                <dt class="split__title">Kent                  </dt> <dd>KEN</dd>
                <dt class="split__title">Lancashire            </dt> <dd>LAN</dd>
                <dt class="split__title">Leicestershire        </dt> <dd>LEI</dd>
                <dt class="split__title">Lincolnshire          </dt> <dd>LIN</dd>
                <dt class="split__title">London (the city)     </dt> <dd>LND</dd>     
                <dt class="split__title">Middlesex             </dt> <dd>MDX</dd>
                <dt class="split__title">Norfolk               </dt> <dd>NFK</dd>
                <dt class="split__title">Northamptonshire      </dt> <dd>NTH</dd>
                <dt class="split__title">Northumberland        </dt> <dd>NBL</dd>
                <dt class="split__title">Nottinghamshire       </dt> <dd>NTT</dd>
                <dt class="split__title">Oxfordshire           </dt> <dd>OXF</dd>
                <dt class="split__title">Rutland               </dt> <dd>RUT</dd>
                <dt class="split__title">Shropshire            </dt> <dd>SAL</dd>
                <dt class="split__title">Somerset              </dt> <dd>SOM</dd>
                <dt class="split__title">Staffordshire         </dt> <dd>STS</dd>
                <dt class="split__title">Suffolk               </dt> <dd>SFK</dd>
                <dt class="split__title">Surrey                </dt> <dd>SRY</dd>
                <dt class="split__title">Sussex                </dt> <dd>SSX</dd>
                <dt class="split__title">Warwickshire          </dt> <dd>WAR</dd>
                <dt class="split__title">Westmorland           </dt> <dd>WES</dd>
                <dt class="split__title">Wiltshire             </dt> <dd>WIL</dd>
                <dt class="split__title">Worcestershire        </dt> <dd>WOR</dd>
                <dt class="split__title">Yorkshire             </dt> <dd>YKS</dd>
                <dt class="split__title">East Riding Yorkshire </dt> <dd>ERY</dd>
                <dt class="split__title">North Riding Yorkshire</dt> <dd>NRY</dd>
                <dt class="split__title">West Riding Yorkshire </dt> <dd>WRY</dd>
            </dl>
        </div>                              
    </section>
        
    <section class="grid__item one-third lap-one-half palm-one-whole">
        <div class="island">
            <h2>Scotland counties</h2>
            <dl class="split">
                <dt class="split__title">Aberdeenshire                 </dt> <dd>ABD</dd>
                <dt class="split__title">Angus (Forfarshire)           </dt> <dd>ANS</dd>
                <dt class="split__title">Argyll (Argyllshire)          </dt> <dd>ARL</dd>
                <dt class="split__title">Ayrshire                      </dt> <dd>AYR</dd>
                <dt class="split__title">Banffshire                    </dt> <dd>BAN</dd>
                <dt class="split__title">Berwickshire                  </dt> <dd>BEW</dd>
                <dt class="split__title">Bute (Buteshire)              </dt> <dd>BUT</dd>
                <dt class="split__title">Caithness                     </dt> <dd>CAI</dd>
                <dt class="split__title">Clackmannanshire              </dt> <dd>CLK</dd>
                <dt class="split__title">Dumfriesshire                 </dt> <dd>DFS</dd>
                <dt class="split__title">Dunbartonshire                </dt> <dd>DNB</dd>
                <dt class="split__title">East Lothian (Haddingtonshire)</dt> <dd>ELN</dd>
                <dt class="split__title">Edinburghshire                </dt> <dd>MLN</dd>
                <dt class="split__title">Elginshire                    </dt> <dd>MOR</dd>
                <dt class="split__title">Fife                          </dt> <dd>FIF</dd>
                <dt class="split__title">Forfarshire                   </dt> <dd>ANS</dd>
                <dt class="split__title">Haddingtonshire               </dt> <dd>ELN</dd>
                <dt class="split__title">Inverness-shire               </dt> <dd>INV</dd>
                <dt class="split__title">Kincardineshire               </dt> <dd>KCD</dd>
                <dt class="split__title">Kinross-shire                 </dt> <dd>KRS</dd>
                <dt class="split__title">Kirkcudbrightshire            </dt> <dd>KKD</dd>
                <dt class="split__title">Lanarkshire                   </dt> <dd>LKS</dd>
                <dt class="split__title">Linlithgowshire               </dt> <dd>WLN</dd>
                <dt class="split__title">Midlothian (Edinburghshire)   </dt> <dd>MLN</dd>
                <dt class="split__title">Moray (Elginshire)            </dt> <dd>MOR</dd>
                <dt class="split__title">Nairnshire                    </dt> <dd>NAI</dd>
                <dt class="split__title">Orkney                        </dt> <dd>OKI</dd>
                <dt class="split__title">Peeblesshire                  </dt> <dd>PEE</dd>
                <dt class="split__title">Perthshire                    </dt> <dd>PER</dd>
                <dt class="split__title">Renfrewshire                  </dt> <dd>RFW</dd>
                <dt class="split__title">Ross and Cromarty             </dt> <dd>ROC</dd>
                <dt class="split__title">Roxburghshire                 </dt> <dd>ROX</dd>
                <dt class="split__title">Selkirkshire                  </dt> <dd>SEL</dd>
                <dt class="split__title">Shetland                      </dt> <dd>SHI</dd>
                <dt class="split__title">Stirlingshire                 </dt> <dd>STI</dd>
                <dt class="split__title">Sutherland                    </dt> <dd>SUT</dd>
                <dt class="split__title">West Lothian (Linlithgowshire)</dt> <dd>WLN</dd>
                <dt class="split__title">Wigtownshire                  </dt> <dd>WIG</dd>
            </dl>
        </div>
    </section>
      
    <section class="grid__item one-third lap-one-half palm-one-whole">
        <div class="island">
            <h2>Wales counties</h2>
            <dl class="split">
                <dt class="split__title">Anglesey       </dt> <dd>AGY</dd>
                <dt class="split__title">Breconshire    </dt> <dd>BRE</dd>
                <dt class="split__title">Caernarvonshire</dt> <dd>CAE</dd>
                <dt class="split__title">Cardiganshire  </dt> <dd>CGN</dd>
                <dt class="split__title">Carmarthenshire</dt> <dd>CMN</dd>
                <dt class="split__title">Denbighshire   </dt> <dd>DEN</dd>
                <dt class="split__title">Flintshire     </dt> <dd>FLN</dd>
                <dt class="split__title">Glamorgan      </dt> <dd>GLA</dd>
                <dt class="split__title">Merionethshire </dt> <dd>MER</dd>
                <dt class="split__title">Monmouthshire  </dt> <dd>MON</dd>
                <dt class="split__title">Montgomeryshire</dt> <dd>MGY</dd>
                <dt class="split__title">Pembrokeshire  </dt> <dd>PEM</dd>
                <dt class="split__title">Radnorshire    </dt> <dd>RAD</dd>
            </dl>

            <h2>Northern Ireland counties</h2>
            <dl class="split">
                <dt class="split__title">Antrim     </dt> <dd>ANT</dd>
                <dt class="split__title">Armagh     </dt> <dd>ARM</dd>
                <dt class="split__title">Down       </dt> <dd>DOW</dd>
                <dt class="split__title">Fermanagh  </dt> <dd>FER</dd>
                <dt class="split__title">Londonderry</dt> <dd>LDY</dd>
                <dt class="split__title">Tyrone     </dt> <dd>TYR</dd>
            </dl>

        
            <h2>Islands</h2>
            <dl class="split">
                <dt class="split__title">Channel Isles</dt> <dd>CHI</dd>
                <dt class="split__title">Alderney     </dt> <dd>ALD</dd>
                <dt class="split__title">Guernsey     </dt> <dd>GSY</dd>
                <dt class="split__title">Jersey       </dt> <dd>JSY</dd>
                <dt class="split__title">Sark         </dt> <dd>SRK</dd>
                <dt class="split__title">Isle of Man  </dt> <dd>IOM</dd>
            </dl>
        </div>
    </section>

</div>