<h1>Contacts FAQ - Enhancement Suggestion [DRAFT]</h1>

<style scoped="scoped">
 .q-and-a dt { margin-top: 1.5em; border-top: 1px solid #00857E; padding-top: 0.75em; }
</style>

<div class="grid">
  <div class="grid__item three-fifths palm-one-whole">
    <p>Here is the comment we receive most often:</p>
    <dl class="q-and-a">
      <dt><strong>I want to tell you about an improvement you should make to the website.</strong> </dt>
      <dd>
        <p>Could you be part of the solution and join our technical volunteer team? We need people to help duplicate bugs, check that they’ve been fixed, work on the FreeREG user interfaces, as well as coding. Find out how you can get involved on the <a class="go" href="https://www.freeukgenealogy.org.uk/about/volunteer/tech-volunteering-opportunities">Technical Volunteering Opportunities</a> page on the FreeUKGenealogy site.</p>
        <p>Otherwise, send us your suggestion using <a href="/contacts/new">Contact Us</a>.</p>
      </dd>
    </dl>

  </div>
</div>
