<h1>Contributing to the FreeREG Project.</h1>



  <title>How to Volunteer</title>


<p>
<a name="top"></a>

</p>


<p>
<strong>IMPORTANT - PLEASE NOTE</strong>
</p>
<p><strong>
If you send an email to FreeREG via any of the links, for example to volunteer or to report a problem, then it is possible, because of the Spam filters, that your message may not get through.
So if you do not get a reply within a week, please resend your message using <a href="../search/index.htm">these details</a>, which will bypass the filters.</strong>
</p>
<ol><li>	We are looking for people who have transcriptions of registers or copies of registers who are willing to donate them for inclusion in the FreeREG database. We are happy to convert them to the required format. Please contact our <a href="mailto:reg-data@freereg.org.uk?subject=Data&amp;body=Please provide a short description of what data you have and for which county.">Data Coordinators</a>

</li>
<li>	We are looking for volunteer transcribers to undertake transcriptions of registers.
	The only requirement is a good eye for reading handwriting, patience and some very basic skills with a computer. 
	It is a function that can be performed anywhere in the world. <p>
	It involves as much time as you are willing to commit to the project; from as little as an hour per week to several hours per day. It is up to you.
	
		
</p>




</li>
<li>We are also looking for people to undertake the coordination of existing Syndicates.  The only requirements are good organisational skills, patience, time and getting pleasure from working with a variety of people from different parts of the world. We will train you on the details. You can live anywhere in the world and be a coordinator.  Please contact 
<a href="mailto:reg%2Dexec%40free%72e%67.org.uk?subject=Coordinating Volunteer">FreeREG Executive</a>

</li>
<li>We are looking for people to undertake the development of new Syndicates for which we have a supply of data on hand.  This group differs from the preceding group in that the coordinator will have to recruit the team. Once again the only requirements are good organisational skills, patience, time and getting pleasure from working with a variety of people from different parts of the world. We will train you on the details. You can live anywhere in the world and be a coordinator.  Please contact: 
<a href="mailto:reg-england@freereg.org.uk?subject=England Coordination">England Coordinators </a>

</li>
<li>Finally we are looking for a few people willing to look after the technical side of FreeREG.&#160;  <p><br /><a href="mailto:reg-web@freereg.org.uk?cc=reg-volunteer@freereg.org.uk&amp;subject=Technical expert&amp;body=Please provide a short description of your expertise."></a>
	
 	</p>
<h4>Want to know a little more before talking to one of us? Then have a look in our <a href="../faq/index.htm">Frequently Asked Questions (FAQ).</a> </h4>
<hr />





<br />

</li>
</ol>