<h1>Contacts FAQ - Genealogical Question [DRAFT]</h1>

<style scoped="scoped">
 .q-and-a dt { margin-top: 1.5em; border-top: 1px solid #00857E; padding-top: 0.75em; }
</style>

<div class="grid">
  <div class="grid__item three-fifths palm-one-whole">
    <p>These are the questions we get asked most often about Genealogy (Family History). You may find the answer you need in this list —</p>
    <dl class="q-and-a">
      <dt><strong>Why can’t I find the person I’m looking for?<br />Why do some places and churches not have records in the database?</strong> </dt>
      <dd>
        <p>Not all registers have been transcribed as yet. You can check the coverage on FreeREG by selecting <q>TRANSCRIPTIONS</q> in the top menu bar on the Search page, then scroll down to select the county in the list and click <q>Go</q>. Only places with any existing transcriptions are listed in the <q>Specific Place</q> list. We aim to have transcribed all available parish registers at some point in the future (dependent on our access to the parish registers), so it’s worth checking back from time to time.</p>
        <p>In the meantime, you could try other free-to-use resources such as the <a class="go" href="http://www.familysearch.org/">Family Search website</a> or one of the <a class="go" href="http://www.genuki.org.uk/big/OPC">Online Parish Clerk websites</a> listed on the <a class="go" href="http://www.genuki.org.uk/">GenUKI website</a>.</p>
      </dd>
<dd><p>_________________________________________</p>
</dd><dd><p><strong>Can you provide me with a copy of the certificate for the parish entry?</strong>
</p><p>If the event took place after 1837, you may be able to find the index record on our sister site <a href="https://www.freebmd.org.uk" title="https://www.freebmd.org.uk">FreeBMD</a>. If it happened earlier, then certificates don’t exist as official registration started in 1837. We do transcribe everything, so what you see is all the information that there is. We transcribe from Parish registers; the entries are in a book with lots of entries per page. You can request a copy of the record from the County Records Office, but there will be a fee for the service.<br /></p>
</dd>

      <dt><strong>I have a question about parish and non-conformist records</strong> </dt>
      <dd>
        <p>If you know which county or city is involved, you can try contacting the County Record Office: select the county from <q>TRANSCRIPTIONS</q> in the main menu bar — you will find a link to the County Record Office or to the GenUKI page for that county, which in turn will direct you to the record office.</p>
        <p class="flush--bottom">The <a class="go" href="http://www.nationalarchives.gov.uk/">National Archives website</a> has more information on parish and non-conformist records:</p>
        <ul>
          <li><a class="go" href="http://www.nationalarchives.gov.uk/help-with-your-research/research-guides/catholics/">How to find records of Catholics</a> </li>
          <li><a class="go" href="http://www.nationalarchives.gov.uk/help-with-your-research/research-guides/nonconformists/">How to find records of Non-conformists</a> </li>
          <li><a class="go" href="http://www.nationalarchives.gov.uk/help-with-your-research/research-guides/jews-and-jewish-communities-18th-20th-centuries/">How to find records of Jews and Jewish communities</a> </li>
         </ul>
         <p>You can also find out how to get the most out of a FreeREG Search in our <a href="/help">Help</a> section.</p>
      </dd>

      <dt><strong>I have a general genealogy question</strong> </dt>
      <dd>Unfortunately, we do not have the resources to help with specific genealogical research. However, the <a class="go" href="https://www.freeukgenealogy.org.uk/about/links/">Links page</a> of the <a class="go" href="https://www.freeukgenealogy.org.uk/">Free UK Genealogy website</a> has lots of useful places to seek information.</dd>
    </dl>

    <p class="island island--bordered">If your answer is not here, please return to <a href="/contacts/new">Contact Us</a>.</p>

  </div>
</div>