<h1>Contacts FAQ - Volunteering Question [DRAFT]</h1>

<style scoped="scoped">
 .q-and-a dt { margin-top: 1.5em; border-top: 1px solid #00857E; padding-top: 0.75em; }
</style>

<div class="grid">
  <div class="grid__item three-fifths lap-one-half palm-one-whole">
    <p>Here are the questions we get asked most often about Volunteering:</p>
    <dl class="q-and-a">
      <dt><strong>How do I sign up as a FreeREG volunteer?</strong> </dt>
      <dd>Use our <a href="/cms/opportunities-to-volunteer-with-freereg">sign-up page</a>. </dd>
      <dt><strong>What does volunteering involve?</strong> </dt>
      <dd>Transcribing for FreeREG involves copying the information in baptism, marriage and burial entries from church registers into the FreeREG database to enable researchers to freely search for those records. You can give as little or as much time as you can spare to transcribing and you can be located anywhere in the world because you will be provided with the source register images via our online system and will upload your completed transcription files to the FreeREG website.</dd>
<dd><br />No experience is needed as we will provide you with the required training and you will be assigned to a syndicate with a coordinator who can answer your questions, provide you with source data and give you the support you need.</dd>
      <dt><strong>How much time do I need to commit?</strong> </dt>
      <dd>However much you have. The beauty of transcribing is that it's flexible — it is done from the comfort of your own home, library or even coffee shop. </dd>
    </dl>

    <div class="island island--bordered">
      <strong>For any other question about volunteering, …</strong> <br />
      … please return to <a class="btn btn--small" href="/contacts/new">Contact Us</a> and select <q>Volunteering Question</q>.
    </div>

  </div>
</div>