<h1>Contacts FAQ - General Comment [DRAFT]</h1>

<p><mark>The shape (markup) of this part will depend on how exactly we plan to use the other parts.<br />This could be an intro to the whole FAQ: to also include some whys for selecting the appropriate contact type.</mark> </p>

<p><strong>Is your comment or question about one of the following subjects?</strong> </p>
<p><strong>Data Question -</strong> For questions / comments about the data we hold. <em>(Please note, this is <strong>not</strong> for reporting mistakes in records; please use the ‘Report an Error in this Data’ button on the relevant Search Detail page.)</em>
</p>
<p><strong>Website Problem </strong>- To report a problem with the website to our developers.</p>
<p><strong>Volunteering Question</strong> - To ask a specific question about joining the FreeREG transcriber team.</p>
<p><strong>Genealogical Question</strong> - For FreeREG - related genealogy questions.</p>
<p><strong>Enhancement Suggestion</strong> - To let us know how we can improve the website for family history researchers.</p>
<p><strong>None of these</strong> - Return to <a href="/contacts/new">Contact Us</a> to send us your comment. </p>