<h1>Contacts FAQ - Website Problem [DRAFT]</h1>

<style scoped="scoped">
 .q-and-a dt { margin-top: 1.5em; border-top: 1px solid #00857E; padding-top: 0.75em; }
</style>

<div class="grid">
  <div class="grid__item three-fifths lap-one-half palm-one-whole">
    <p>These are the questions we get asked most often about a Website Problem: you may find the answer to your question here.</p>
    <dl class="q-and-a">
      <dt><strong>How do I tell you that the website is down?</strong> </dt>
      <dd>Please email info@freeukgenealogy.org.uk, <mark>[how to remove address from plain sight &amp; hence spambots?] </mark> or let us know on <a href="https://twitter.com/FreeUKGen" title="https://twitter.com/FreeUKGen">Twitter</a> or <a href="https://www.facebook.com/freeukgen" title="https://www.facebook.com/freeukgen">Facebook</a> — we'll do all we can to fix the issue.</dd>

      <dt><strong>How do I print my results?</strong> </dt>
      <dd>Use the <q>Printable Format</q> button near the top of the Results page to get a plain, printer-friendly page of all your results, or use the similar button for a single record from its Detail page.</dd>

      <dt><strong>How can I check to see if someone has been recorded using a slightly different spelling of their name?<br />Why do you have two (or more) records of the same event?</strong> </dt>
      <dd>
        <p>Take a look at our <a href="/cms/help">Help</a> section for this type of advice — there is also a link to the Help in the top menu bar of every page.</p>
        <p>On some pages we use the <q>i</q> symbol to show that specific help is available: simply hover over the symbol, or tab into it, to read that information.</p>
      </dd>

      <dt><strong>How do I suggest an improvement you should make to the website?</strong> </dt>
      <dd>See the <a href="/cms/contacts-faq-enhancement-suggestion-draft">Enhancement Suggestion FAQ</a>. </dd>

      <dt><strong>How do I tell you that there is a fault on the website such as a typo or broken link?</strong> </dt>
      <dd>Please return to the <a href="/contacts/new">Contact form</a> and then select <q>Website Problem</q>. </dd>
    </dl>

  </div>
</div>