<h1>Contacts FAQ - Data Question [DRAFT]</h1>

<style scoped="scoped">
 .q-and-a dt { margin-top: 1.5em; border-top: 1px solid #00857E; padding-top: 0.75em; }
</style>

<div class="grid">
  <div class="grid__item float--right two-fifths palm-one-whole">
    <div class="islet islet--bordered">
      <h2 class="title-block weight--semibold" style="color: #657275;">Contacts FAQ — temporary index</h2>
      <ul class="sub-nav">
        <li><a href="/contacts-faq-website-problem-draft">Website Problem</a> </li>
        <li><a href="/contacts-faq-volunteering-question-draft">Volunteering Question</a> </li>
        <li><a href="/contacts-faq-genealogical-question-draft">Genealogical Question</a> </li>
        <li><a href="/contacts-faq-enhancement-suggestion-draft">Enhancement Suggestion</a> </li>
        <li><a href="/contacts-faq-general-comment-draft">General Comment</a> </li>
      </ul>
    </div>
  </div>

  <div class="grid__item three-fifths lap-one-half palm-one-whole">
    <p>Here are the Data Problem questions that people ask us most often: you may find that the answer you want is given below.</p>
    <dl class="q-and-a">
      <dt><strong>How do I tell you about a possible mistake in one of my search results?</strong> </dt>
      <dd>Please use the <q>Report an Error in this Data</q> button on the Search Detail page for that entry. That way, we know exactly which entry you mean.</dd>

      <dt><strong>Why can’t I find the person I’m looking for?<br />Why do some places and churches not have records in the database?</strong> </dt>
      <dd>
       <p>Not all registers have been transcribed as yet. You can check the coverage on FreeREG by selecting <q>TRANSCRIPTIONS</q> in the top menu bar on the Search page, then scroll down to select the county in the list and click <q>Go</q>. Only places with any existing transcriptions are listed in the <q>Specific Place</q> list. We aim to have transcribed all available parish registers at some point in the future (dependent on our access to the parish registers), so it’s worth checking back from time to time.</p>
        <p>In the meantime, you could try other free-to-use resources such as the <a class="go" href="http://www.familysearch.org/">Family Search website</a> or one of the <a class="go" href="http://www.genuki.org.uk/big/OPC">Online Parish Clerk websites</a> listed on the <a class="go" href="http://www.genuki.org.uk/">GenUKI website</a>.</p>
      </dd>
<dd><p class="text-align-left"><strong>Why can’t I find the person I’m looking for?</strong>
</p>
</dd>
<dd><p class="text-align-left">If you're looking for a baptism record, it's advisable to set a date range that spans their lifetime as the individual may have been baptised later on as an adult. This was very common in the late 1700s as a result of the Stamp Duties Act 1783 [https://en.wikipedia.org/wiki/Stamp_Duties_Act_1783]</p>
</dd>

      <dt><strong>Why is a particular church in a different place to where I expect?<br />Why is a place listed in an unexpected county?</strong> </dt>
      <dd>
        <p>We have chosen to structure our database using the places and counties as they were in 1831. This may mean that a church is now in a different county.  The physical church may have moved, and for institutions other than the Church of England, we may have  had to select one of a number of places covered by, for example, a Methodist Circuit or a civic graveyard.</p>
        <p>Welsh counties in FreeREG are the thirteen historic counties used prior to 1974, when changes were made by the government, so do make sure you are searching in the historic county.</p>
      </dd>

      <dt><strong>How can I check to see if someone has been recorded using a slightly different spelling of their name?<br />Why do you have two (or more) records of the same event?</strong> </dt>
      <dd>
        <p>Take a look at our <a href="/help">Help</a> section for this type of advice — there is a link to the Help in the top menu bar of every page.</p>
        <p>On some pages we use the <q>i</q> symbol to show that specific help is available: simply hover over the symbol, or tab into it, to read that information.</p>
      </dd>
<dd><p>________________________________________________________________</p>
</dd>
<dd><p><strong>Can you provide me with a copy of the certificate for the parish entry?</strong>
</p>
<p>If the event took place after 1837, you may be able to find the index record on our sister site <a href="https://freebmd.org.uk" title="https://freebmd.org.uk">FreeBMD</a>. If it happened earlier, then certificates don’t exist as official registration started in 1837. We do transcribe everything, so what you see is all the information that there is. We transcribe from Parish registers; the entries are in a book with lots of entries per page. You can request a copy of the record from the County Records Office, but there will be a fee for the service.</p>
</dd>
<dd><p>_______________________________________________________________</p>
</dd><dd><p><strong>Were the witnesses to the event likely to be a relative?</strong>
</p><p>This is often the case, but quite often a witness could be the Vicar or sometimes local Gentry. You can use this website https://theclergydatabase.org.uk/jsp/search/index.jsp to help rule out clergymen from being potential family members.<br /></p>
</dd>
    </dl>

    <div class="island island--bordered">
      <p>Not found your answer here? Please return to <a href="/contacts/new" class="btn btn--small">Contact Us</a>. </p>
    </div>

  </div>
</div>