<h1>Data Editors</h1>

 

   <title>FreeREG - Data Editors</title>


<p>
<a name="top"></a>
</p>
<hr />
<table cellpadding="5">
  <tbody><tr><td> <img src="../../graphics/logfreg1.jpg" alt="FreeREG logo" height="50" width="227" /></td>
	<td style="color:#008000; font-size: 2em"> <strong>FreeREG Data Editors</strong> </td> </tr>
</tbody>
</table> 


<p>
Many people will already have data in the format ready to merge into our
database. Some will be entering data directly into SpeedREG or WinREG - programs
specifically designed by Peter Cox and Thomas Horton for the project. 
</p>
<p>
However you may have created it already for a different database, or spreadsheet
software, or using a word processor. Rather than re-entering the data our data editing team
 can help with the conversion to the format required by FreeREG. The Data Editors can help convert data
from non-standard format into our format as csv files, ready to be imported
into the FreeREG database. Thereby avoiding the efforts of re-entering the data.
</p>
<p>
See: <a href="../../howto/enterdata.htm">Details of the data fields and format
for baptisms, marriages and burials.</a>
</p>
<p>
Also see: &#160;<a href="../../howto/convertdata.htm">Converting Data if
you want to do it yourself</a>
</p>
<p>
If you have completed data, in our format, you can either submit it yourself; 
see the sections on <a href="../../howto/filemanagement.htm">uploading data</a> or provide it to your <a href="../../parishes/index.shtml">
county coordinator</a>
or send it to the 
 <a href="mailto:reg-manager@freereg.org.uk">project coordinators. </a>
<br />
</p>
<p>
<strong>More Data Editors are needed! - we have only just begun!</strong> If you are interested contact the  
<a href="mailto:reg-volunteer@freereg.org.uk">Volunteer Coordinator</a>
  </p>
<hr />
<p>




<small>© 1998-2008 The website, its layout, search engine, and database are copyright by the Trustees of FreeBMD, a charity registered in England and Wales, Number 1096940.
<br />We make no warranty whatsoever as to the accuracy or completeness of the FreeREG data. Use of the FreeREG website is conditional upon acceptance of the <a href="../../terms.shtml">Terms and Conditions</a>
 </small>
<br />
<small>Last update. 6 September 2008/ RN/MS/DN/DKD</small>

</p>