<h1>Donate</h1>

<style scoped="">
  .grid__item p, .grid__item ul { max-width: 30rem !important; }
</style>

<div class=" grid">
  <div class="grid__item one-half lap-one-whole palm-one-whole">
    <p class="lead">FreeReg is exactly that — <em>free</em>. We do not make any charge whatsoever for use of the site. </p>
    <p>FreeReg is part of <a class="go" href="https://www.freeukgenealogy.org.uk" title="freeukgenealogy.org.uk">Free UK Genealogy</a>, a registered charity whose sole purpose is to provide free access to family history. Together we have been working with volunteers across the world to create databases of births, marriages and deaths, historical records from churches and nineteenth century censuses. </p>
    <p>We believe that you shouldn't have to pay to get access to your family history and providing free access is the best way to preserve this rich source of information for future generations. So donations also help to support our sister projects — <a class="go" href="https://www.freebmd.org.uk" title="Indexes to statutory Births, Marriages and Deaths">FreeBMD</a> and <a class="go" href="https://www.freecen.org.uk" title="19th century Census returns">FreeCen</a>. </p>
  </div>
  <div class="grid__item one-half lap-one-whole palm-one-whole">
    <p class="push-half--bottom">We hope to keep adding to the different projects and we need your help to do it. So far our volunteers have transcribed some —</p>
    <ul>
      <li>35 million records from church registers and other sources</li>
      <li>260 million civil birth, marriage and death index entries </li>
      <li>30 million census records from 1841 to 1891</li>
    </ul>
    <p>Free UK Genealogy is one of the largest public transcription projects in the world, with some 200,000 successful searches made every day. As a consequence, we have significant running costs. We use donations to keep our servers running, to support volunteers and to identify new areas of family history that we can provide you with access to.</p>
    <p>Thank you for helping us to keep history free!</p>
  </div>
</div>

<label for="giftaid">
  <input id="giftaid" name="giftaid" value="giftaid" onchange="ppbid=document.getElementById('hosted_button_id');giftaid=document.getElementById('giftaid');if(ppbid&amp;&amp;giftaid){if(giftaid.checked)ppbid.value='3G5KCDKMHLJ9J';else ppbid.value='FXE626FBWM8CY';}" type="checkbox" /> Tick this box if eligible for Gift Aid <span class="weight--normal">(UK residents only)</span>
</label>
<form class="push--bottom" action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input name="cmd" value="_s-xclick" type="hidden" />
  <input id="hosted_button_id" name="hosted_button_id" value="FXE626FBWM8CY" type="hidden" />
  <input src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal – The safer, easier way to pay online." type="image" />
  <img src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1" />
</form>
