<h1>DRAFT Help with Citations</h1>

<div class="grid">
   <div class="grid__item two-thirds lap-one-half palm-one-whole">

<h2>Citing Free UK Genealogy Databases</h2>
<p>As the Free UK Genealogy databases are transcriptions, it is always preferable to see the original, or a surrogate (such as microfiche, film, photograph or digitized image).</p>
<p>If the surrogate is available on a Free UK Genealogy website, then it is the <em>image </em>that should be referenced, rather than the database.</p>
<p>It is best practice not to rely on the Free UK Genealogy indexes, but to examine the original, and reference that, but distances and costs may make verification in this way difficult or impossible. If writing for a non-specialist or international audience, it may be helpful to also direct readers to the relevant Free UK Genealogy website, even if the original record or a surrogate has been studied, since they may not be in a position to travel or otherwise pay for access to a surrogate.</p>

<h3>Citation buttons on Free UK Genealogy</h3>
<p>Our projects now include buttons which auto-generate a citation in one of a number of popular formats for academics and family historians. If you spot an error in our format, or would like an additional format, please let us know.</p>

<p>[Text for FreeCEN: If you want to cite a record which you have reached using the 'next dwelling' or 'previous dwelling' button, please be aware that the citation generator will give you a citation to the record which was found by the search, even if you move off to another dwelling's record. You will need to do another search for the particular dwelling you want to cite.</p>
<p>If you find, and wish to cite, a record relating to a particular individual, that you found by looking for someone else, such as a parent or child, you will have to do another search for the particular individual, otherwise you will get the wrong name in the citation, and perhaps the wrong relationship to the head of household. Alternatively, you can  amend the citation in your use of it to correct it e.g. change Charles Whitlow in the household of John Whitlow to Carlotta Whitlow (etc.). text for FreeCEN ends]</p>

<h3>Academic purposes (e.g. publication, student essay or thesis)</h3>
<p>Academic references need to be formatted using the rules of the publication or institution – common ones are MLA (Modern Language Association of America), Chicago and Harvard, or variants based on those. Citing an entry in a Free UK Genealogy database is complicated, because the thing being cited is not an <q>article</q>, a <q>page</q> an <q>image</q> or any of the other frequently provided examples for academic referencing.  As MLA says:  “When citing sources from a database, the type of resource (newspaper, magazine, journal, etc.) will determine the citation format, not the database itself.” [FreeBMD only] N.B. for&#160; — Academic references are not the same as references used when requesting a copy certificate. [BMD only ends]</p>
<p class="push-half--bottom">For citations of the whole database (e.g. in a comparison of tools used by genealogists) or specific pages (such as the <q>About</q> page) use the following formats:</p>
<ul>
  <li><strong>MLA</strong> 
    <p class="islet islet--bordered push-half--left">FreeBMD. Free UK Genealogy, nd. Web. [Date of access]. </p>
    <p class="push--half-left">Note: MLA no longer requires the use of URLs For instructors or editors who still wish to require the use of URLs, MLA /suggests that the URL appear in angle brackets after the date of access. Break URLs only after slashes.</p>
  </li>
  <li><strong>Chicago</strong>
    <p class="islet islet--bordered push-half--left">Free UK Genealogy. “FreeREG.” Last modified [date of search]. Accessed [date of search]. https://www.freereg.org.uk</p>
  </li>
  <li><strong>Harvard</strong>
    <p class="islet islet--bordered push-half--left">Free UK Genealogy (n.d.) FreeCEN [Online] Available from: https://www.freecen.org.uk. [Accessed: date of access] </p>
    <p class="push-half--left">Note: different style guides may place full stops differently.</p>
  </li>
</ul>
<p>For citations of a transcription or index (where you have not read the original source) you must reference the source you have actually viewed and the original.  If you have found (and seen) the original by a search of a Free UK Genealogy database give the reference to the original without mentioning the database.  If you do wish to mention the database for some reason, reference this separately, as above. This is the practice followed in all cases where you are citing an original that you have only seen in a secondary publication of some kind.</p>
<p>At the moment, it is not possible to give the digital equivalent of the page number that you would give for a book: the nearest think we have is permanent urls (PURLS).  Free UK Genealogy websites now all have quasi-permanent URLS (quasi because if we change the transcription for some reason, a different URL is generated).</p>

<h3>Family History and Citations</h3>
<p>Citations for genealogy are not quite like academic citations.  If you want to get to know more about the theory behind family history citations, you could have a look at the <a href="https://fhiso.org/TR/cev-concepts" target="_blank">Family History Information Standards Organization’s third draft on citation elements (link opens in new tab)</a>.</p>
<p>Another resource is Elizabeth Shown Mills’ <a href="http://www.worldcat.org/oclc/1054383552" target="_blank"> Evidence explained : citing history sources from artifacts to cyberspace (link opens in new tab)</a>, which “is built on one core principle: We cannot judge the reliability of any information unless we know exactly where the information came from; and the strengths and weaknesses of that source.”  An Evidence Explained citation thus combines both the academic reference (knowing exactly where the information came from), and additional information which in academic writing, the reader is expected to know for themselves, or the author will present in their text, or the reader will need to research for themselves (the strengths and weaknesses of that source) in order that the reader can make critical judgements about the author’s arguments.</p>

  </div>
</div>