<h1>DRAFT Sub-menu styling</h1>

<div class="islet islet--bordered">
  <h2 class="title-block">On this page</h2>
  <ul class="sub-nav">
    <li class="open"><a href="#guidance">General guidance</a>
      <ul>
        <li><a href="#first">First</a> </li>
      </ul>
    </li>
    <li><a href="#baptisms">Baptisms</a> </li>
    <li><a href="#marriages">Marriages</a> </li>
    <li><a href="#burials">Burials</a> </li>
  </ul>
</div>