<h1>FreeUKGenealogy Policies</h1>

<div class="grid">
  <div class="grid__item two-thirds palm-one-whole">
    <h2>Volunteer handbook</h2>
    <p>The <a href="https://www.freeukgenealogy.org.uk/files/Documents/VolunteerInductionHandbook.pdf" title="Volunteer Induction Handbook">Volunteer Handbook (a PDF)</a> contains links to information for Volunteers and many other policies, from safeguarding to risk assessment.</p>

    <h2>Security Policy</h2>
    <p>We have an <a href="/system/resources/W1siZiIsIjIwMTkvMTEvMjEvMm5laDNkd2p5ZF9GcmVlX1VLX0dFTl9TZWN1cml0eV9Qb2xpY3lfQWJicmV2aWF0ZWQuZG9jeCJdXQ/Free%20UK%20GEN%20Security%20Policy%20-%20Abbreviated.docx?sha=47380c1a24c0d236">abbreviated security policy (a Word document)</a>, which is to be followed by all volunteers, as it helps to keep your personal data safe, and a <a href="/system/resources/W1siZiIsIjIwMTkvMTEvMjEvMm5laDNkd2p5ZF9GcmVlX1VLX0dFTl9TZWN1cml0eV9Qb2xpY3lfQWJicmV2aWF0ZWQuZG9jeCJdXQ/Free%20UK%20GEN%20Security%20Policy%20-%20Abbreviated.docx?sha=47380c1a24c0d236">mid-level security policy (a Word document)</a>, which is for tech volunteers with limited responsibilities, and Foundation volunteers. These are based on <a href="https://docs.google.com/document/d/1vJJhGzolawmyOuiZawgYXSaIVTMdIF9IRoXgG2fyhvg/edit?usp=sharing">the full security policy (a Google doc)</a>.</p>

    <h2>Code of conduct</h2>
    <p>Our <a href="https://www.freeukgenealogy.org.uk/files/Documents/Code-of-Conduct.pdf">code of conduct (a PDF)</a> is for everyone who is part of Free UK Genealogy — Trustees and other volunteers, staff and contractors.</p>

    <h2>Other Policies</h2>
    <p>Our Constitution and other polices can be found on <a href="https://www.freeukgenealogy.org.uk/about/constitution-and-policies/" title="Free UK Gen Constitution and Policies">the Free UK Genealogy website</a>.</p>
  </div>
</div>