<h1>Frequently Asked Questions</h1>

<p><span class="loz islet--orange">Index to FR1 pages of info — mixed audience</span> </p>

<p><strong>
Please note that your main point of contact is the
<a href="../parishes/index.shtml">County Coordinator</a>. This is a project
venture, contributed to by many individuals, and we are all part of that,
but it does need some degree of "central" guidance, rather than lots of
individuals "doing their own thing".
</strong>
</p>
<p><strong>Whilst searching for answers you will be directed to lots of other pages. To return please use your browser back button.<br />
It is advisable to bookmark this page for future reference.</strong>
</p>
<hr />
<h2>
INDEX

</h2>
<strong>
<ul>
  <li>
    <a href="#general">General questions</a>
  </li>
<li>
    <a href="#databases">The databases and what they contain</a>
  </li>
<li>
    <a href="#tips4search">Help with Names for searches</a>
  </li>
<li>
    <a href="../volunteers/index.htm">Volunteering for the project</a>
</li>
</ul>

<hr />

<a name="general"></a>
<h2>GENERAL QUESTIONS</h2>

<ul>
<li>
    <a href="/contributing-to-the-freereg-project" title="Contributing to the FreeREG Project.">What is involved in contributing to FreeREG?</a>
  </li>
<li>
    <a href="/freereg-stands-for-free-registers/#whatis" title="FreeREG stands for Free REGisters. ">What is FreeREG?</a>
  </li>
<li>
    <a href="/tips-for-searching-the-database/answers-to-general-questions/#transcripts" title="Answers to General Questions">Are transcripts of parish registers available
    to view or download?</a>
  </li>
<li>
    <a href="/tips-for-searching-the-database/answers-to-general-questions/#scotland" title="Answers to General Questions">Will Scotland and Northern Ireland be
    included?</a>
  </li>
<li>
    <a href="/tips-for-searching-the-database/answers-to-general-questions/#purchase" title="Answers to General Questions">Can I purchase a transcript of a register?</a>
  </li>
<li>
    <a href="/tips-for-searching-the-database/answers-to-general-questions/#search" title="Answers to General Questions">How do I search FreeREG</a>
  </li>

</ul>
<hr />
<a name="databases"></a>
<h2>THE DATABASE AND WHAT THEY CONTAIN</h2>

<ul>
  <li>
    <a href="/tips-for-searching-the-database/answers-to-database-asked-questions/#kindofdata" title="Answers to Database asked Questions">What kind of data is in the
    database</a>
  </li>
<li>
    <a href="/tips-for-searching-the-database/answers-to-database-asked-questions/#notincluded">Is there information in the original
    registers which is not in the database</a>
  </li>
<li>
    <a href="/tips-for-searching-the-database/answers-to-database-asked-questions/#literal">Why doesn't FreeREG have a full literal
    transcript of the register?</a>
  </li>
<li>
    <a href="/tips-for-searching-the-database/answers-to-database-asked-questions/#reliability">How reliable are the records in the
    database?</a>
  </li>
<li>
    <a href="/tips-for-searching-the-database/answers-to-database-asked-questions/#whatparishes">What counties and parishes are included
    in the database?</a>
  </li>
<li>
    <a href="/tips-for-searching-the-database/answers-to-database-asked-questions/#nonconformist">Is data from Non-Conformist church
    registers included?</a>
  </li>
<li>
    <a href="/tips-for-searching-the-database/answers-to-database-asked-questions/#churchparish">Is a Church and a Parish the same
    thing?</a>
  </li>
<li>
    <a href="/tips-for-searching-the-database/answers-to-database-asked-questions/#churchparish">Why does the database contain "Place"
    and "Church", and not "Parish"?</a>
     </li>
<li>
    <a href="/tips-for-searching-the-database/answers-to-database-asked-questions/#churchtext">Why does the church name contain a BT or something similar after it? 
    </a>
</li>
<a href="/tips-for-searching-the-database/answers-to-database-asked-questions/#churchtext">
</a>
<li><a href="/tips-for-searching-the-database/answers-to-database-asked-questions/#churchtext">
    </a>
<a href="/information-for-transcribers/numbers-and-dates/#1752" title="Numbers and Dates">What does a date of 1724/5 mean?"</a>
</li>
</ul>
<hr />
<h2>
<a name="tips4search"></a>
HELP WITH SEARCHING THE DATABASE
</h2>
<ul>
  <li>
    <a href="/information-for-transcribers/real-names-and-abbreviations" title="Real Names and Abbreviations">Surname variations</a>
  </li>
<li>
    <a href="/information-for-transcribers/real-names-and-abbreviations" title="Real Names and Abbreviations">First name variations</a>
  </li>
<li>
    <a href="/tips-for-searching-the-database/examples-of-searches-in-the-database" title="Examples of searches in the database">Examples of searches</a>
</li>
<li>
    <a href="/information-for-transcribers/latin-names-abbreviations" title="Latin Names &amp; Abbreviations">Latin Names</a>
</li>
</ul>
<hr />
<h2>

I HAVE A QUESTION NOT ANSWERED HERE
</h2>
<ul>
  <li>
   You can consult <a href="http://www.british-genealogy.com/forums/forumdisplay.php?f=351">
	The FreeREG Discussion Forums </a> and/or join the <a href="../maillist.htm">FreeREG-L mailing list</a>
 for information on other peoples experiences or to ask a question of others who are transcribing data. 
</li>
</ul>
</strong>