<h1>Help</h1>

<style scoped="scoped">
  section { margin-bottom: 1rem; } 
  h2.title--medium {
    font-size: 2.2rem;
    font-weight: lighter;
    line-height: 1.2;
  }
  .btnPress { font-weight: bold; }
</style>

<div class="grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="lead">This page contains tips on how you can best search the FreeREG database, beginning with how to find out details of what the database contains.</p>
    <p class="flush--bottom">This page has three broad topics, explaining how to:</p>
    <ol>
      <li><a href="#dbContents">find out what the database contains</a> </li>
      <li><a href="#nature">get what you want from a search</a> </li>
      <li><a href="#results">explore your search results</a> and <a href="#ucf">interpret the symbols</a> we use in names and dates — including the ? (question mark), the * (asterisk or star), the _ (underscore) and various brackets</li>
    </ol>
    <p class="flush--bottom">Counties and their Place names are based on:</p>
    <ul> 
      <li>the digital <cite>Gazetteer</cite> published by the <a href="http://www.gazetteer.org.uk/">Association of British Counties</a>, eBook and Data Extract (Oct 2013)</li>
      <li>the 1834 <cite>Comprehensive Gazetteer of England and Wales: Counties and Places</cite>, by James Bell</li>
      <li><cite>Phillimore’s Atlas</cite> of pre-1832 parishes</li> 
    </ul>
  </div>

  <div class="grid__item one-third palm-one-whole float--right">
    <nav aria-labelledby="thisPage">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="thisPage">On this page</h2>
        <ul class="sub-nav">
          <li><a href="#dbContents">Exploring our records</a> </li>
          <li><a href="#nature">Nature of the search</a> </li>
          <li><a href="#surnames">Surname variations</a> </li>
          <li><a href="#firstnames">Forename variations</a> </li>
          <li><a href="#location">Location</a> </li>
          <li><a href="#timeFrame">Time-frame</a> </li>
          <li><a href="#using">Using the search page</a> </li>
          <li><a href="#results">Exploring your results</a> </li>
          <li><a href="#ucf">Symbols in your results</a> </li>
          <li><a href="#cite">Citations</a> </li>
          <li><a href="#caution">Cautions</a> </li>
          <li><a href="#usingSite">Using the site</a> </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <h2 id="dbContents" class="title--medium">Exploring our records</h2>

    <p>If you want more information about the Places, Churches and Registers that are in our database then select the <strong>Records</strong> link in the top menu. There you will find out what we know of those locations and documents, what has been transcribed and if we have recorded any gaps in the records or have records that are presently subject to an embargo. There is also a listing of individual <a href="#uniqueNames">Names in our transcriptions</a>. This information might help to explain why you are not finding what you are looking for in your searches and point to alternative searches you could try.</p>
        
    <h3>County summary</h3>
    <p>From any page, choose <span class="btnPress">Records</span> on the navigation bar. Highlight a County and then click on <span class="btnPress">Select</span>. This will give you a listing of all places in the county. Highlight the place on which you want information and then click on Select. You will then see a listing of all churches and registers for which we have information on that Place.</p>

    <h3>Place</h3>
    <p>Selecting the Place name will provide a display of all that we know about that place including the total number of records transcribed, the last date the records were amended and the year range of the transcriptions as well as links to its churches. </p>
    <p>Also available is a link to the list of <a href="#uniqueNames">Names in our transcriptions</a> for that Place.</p>

    <h3>Church</h3>
    <p>Selecting the Church name either in the general Place information or the detailed place display provides a list of registers for that church, plus information about the church itself including the total number of records transcribed, the last date the records were amended and the year range of the transcription.</p>
    <p>Also available is a link to the list of <a href="#uniqueNames">Names in our transcriptions</a> for the Church records.</p>

    <h3>Register</h3>
    <p>Selecting the Register name either in the general Place information or the detailed Church information will give you information about the register itself including the total number of records transcribed, the last date the records were amended and the year range of the transcriptions.</p>
    <p>Also available is a link to a list of <a href="#uniqueNames">Names in our transcriptions</a> for that Register. The register display has one additional option that provides information on <a href="#gapsEmbargoes">Gaps and Embargoes</a> that might be present for the Register.</p>
        
    <h3 id="uniqueNames">Names</h3>
    <p>This display is a list of <em>every</em> name for events recorded in the Place or Church or Register. We are able to show you any symbols that the transcriber has used to record difficult-to-read entries: please see the section on <a href="#ucf">interpreting symbols in names and dates</a> for an explanation of what the symbols mean.</p>
    <p>The list is extremely useful for seeing the various spellings that have been used and enables you to ensure that you have searched for <em>all</em> variations. You can access the list through the Records pages or through the Detailed Search Result page by following the links to the Place, Church or Register. Please note that this information is updated weekly on a Monday.</p>

    <h3 id="gapsEmbargoes">Gaps and Embargoes</h3>
    <p>This display might contain information on gaps in the recording of events in the register, such as: a register book that has been lost or destroyed; pages that are damaged or are otherwise unreadable; or that we do not have access to the register for some reason. The display also includes information on any embargoes that the Church or Record Office might have imposed on the display of the records, limiting access to personal information on recent events.</p>
    <p>We recommend that you navigate through these pages using the buttons above the results. (Using your browser’s Back button might not work as expected.)</p>
    <p><a href="#top" title="Top of page">Top of page</a> </p>
    <hr class="rule rule--ornament" />

    <h2 id="nature" class="title--medium">Nature of the search</h2>

    <p>The minimum information required for a search is <em>either</em> a surname plus a county <em>or</em> a forename plus a county and a place. The maximum number of records that can be shown is 500. If your search is giving too many results, you need to narrow it down by giving more information.</p>
    <p>Please note that including a year range will tend to make a search run for longer as it increases the number of checks that have to be made. If your search hits the time limit (which is shown at the foot of the search form), then please clear the date range boxes. We introduced the search time limit to avoid very long searches that slow down the site for all users. We will continue to monitor the effects of the time limit on searching.</p>
    <p>In a basic search, any name found will belong to the person being baptised or married or buried. To also search for that name in another role, we now have two options: Witnesses and Family Members. For a marriage, checking the <strong>Witnesses</strong> option will also find any witnesses to a marriage that match the search name.</p>
    <p class="push-half--bottom">If you check the <strong>Family Members</strong> option, then the following people will also be found:</p>
    <ul>
      <li> for a <strong>baptism</strong>, any child whose <em>parent</em> matches the name (i.e. surname and/or forename) you have entered</li>
      <li>for a <strong>marriage</strong>, any bride or groom whose <em>father</em> matches the name (surname and/or forename) you have entered.</li>
      <li>for a <strong>burial</strong>, anyone whose <em>given relative</em> matches the forename and surname you have entered — you need to enter both</li>
    </ul>
    <p>Checking the <strong>Family Members</strong> or the <strong>Witnesses</strong> options might produce a lot of matches, so please think about also narrowing your search (by place, name or record type), especially if searching for a common name.</p>
    
    <p>Unless other options are used, only exact matches will be found for a name. However, you can use the <strong>Soundex</strong> option for both forenames and surnames, <em>or</em> you can use a <strong>wild card</strong> for surnames — see under Surnames (next) for details of each.</p>
    <p><a href="#top" title="Top of page">Top of page</a> </p>
    <hr class="rule rule--ornament" />

    <h2 id="surnames" class="title--medium">Surname variations</h2>

    <p>Surnames are entered into the database exactly as they appear in the register.</p>
    <p>There might well be several (or many) variations of essentially the same surname in the database as there was no real standardisation of the way that names were spelled until well into the 1800s. (See the <a href="#dbContents">Records</a> section for how to get access to a list of all the <a href="#uniqueNames">Name variations</a> for a specific place.) Even then people made mistakes. So do not assume that your name was always spelled the same way that it is now. There will always be variations, even for the same person’s baptism, marriage and burial. It is really a matter of getting used to, and allowing for, the possible variations of the name when searching the database. You can use a wild card or the Soundex option (both described below) to help with finding variant spellings.</p>
    <p>Transcribers could be uncertain of a name even when they have entered all letters. In these situations they will have added a ? (question mark) at the end. If the letters were unclear, transcribers will also have used our Uncertain Character Format (UCF) as described in <a href="#ucf">Interpreting symbols in names and dates</a>: to find such entries, search a single Place, use a wild card or check the Soundex option.</p>

    <h3 id="wildcardSearch">Wild-card search</h3>

    <p>This is a significant new feature of a search, making it easier to find variant spellings of a surname.</p>
    <p class="push-half--bottom">You can search using the wild card * (an asterisk or star) which stands for zero or more characters. As the use of a wild card increases the number of possible matches, be prepared to constrain your search: consider adding a forename and/or choosing a single record type. In addition, there are some limits on how a wild-card search can be used:</p>
    <ul>
      <li>You must select a County and a Place</li>
      <li>You must type at least two (2) characters before the wild card</li>
    </ul>
    <p>If you use a wild card, one is automatically added to the end of name: the following examples illustrate the results of this.</p>
    <h4 class="push-half--bottom">Some examples</h4>
    <ul>
      <li class="push-half--bottom"><em>sm*th </em> finds: Smith, Smyth, Smithe, and Smythe; also Smithers, Smethurst, etc.</li>
      <li class="push-half--bottom"><em>davi*s </em> finds: Davis and Davies; also Davids, Davidson, Davison, etc.</li>
      <li class="push-half--bottom"><em>cr*f </em> finds: Crawford, Crawfoord, Crawfurd and Craufurd; also Cranford, etc.</li>
      <li class="push-half--bottom"><em>pen*c </em> finds: Penicuik, Penicuk, Pennicook, Pennicooke, Pennicuk, Pennicuke, Pennycook, and Penycook; also Pendrick, Pendreitch, etc.</li>
    </ul>
  </div>
<div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <div class="adsense_box push--ends">
      <span>Advertisement</span>
      <ins class="dcmads" style="display:inline-block;width:300px;height:250px" data-dcm-placement="N217801.4498381FREEREG/B27882117.337649001" data-dcm-rendering-mode="iframe" data-dcm-gdpr-applies="gdpr=${GDPR}" data-dcm-gdpr-consent="gdpr_consent=${GDPR_CONSENT_755}" data-dcm-addtl-consent="addtl_consent=${ADDTL_CONSENT}" data-dcm-ltd="false">
      <script src="https://www.googletagservices.com/dcm/dcmads.js"></script>
    </ins>
   </div>
  </div>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <h3>Soundex</h3>
    <p>With this option checked, the search will look for similar sounding names, as pronounced in English. Soundex is the most widely known of all phonetic algorithms (an algorithm is a set of rules to be followed in deciding which groups of letters might sound alike). It is important to remember that the Soundex algorithm assumes that the first letter of the name is correct. So, you might want to consider additional searches for similar sounding surnames but using different first letters.</p>
    <p>If using Soundex, enter the surname as you might expect it spelled. In particular, do not enter the Soundex Code itself.</p>
    <p>Please note that Soundex is <em>not</em> compatible with a wild-card search — it needs actual letters — and that it also applies to a forename, if you have entered one.</p>
  </div>

  <aside aria-labelledby="soundexWikipedia" class="grid__item one-third palm-one-whole float--right">
    <div class="island island--navy">
      <h4 class="banner__title" id="soundexWikipedia">Want to know more about Soundex?</h4>
      <p>For an explanation of  the principles behind the original algorithm and a discussion of some of its variations, see the <a href="https://en.wikipedia.org/wiki/Soundex">Wikipedia article on Soundex</a>.</p>
    </div>
  </aside>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p><a href="#top">Top of page</a> </p>
    <hr class="rule rule--ornament" />

    <h2 id="firstnames" class="title--medium">Forenames and abbreviations</h2>
    <p>Transcribers are encouraged to transcribe the forenames as they were written in the register, except in those situations where the transcriber is <em>unable</em> to input what was actually written. For instance, a horizontal line was sometimes added to an abbreviation (something like this: W<sup style="text-decoration: underline">m.</sup>), but this line cannot be entered easily into the database. </p>

    <h3>Abbreviations</h3>
    <p>Because of the different ways of spelling a name, together with its abbreviations, both in English and in Latin, the database will contain many variations for a specific forename. If the register states Gulielmus or Gul. or Wm. or Willm. then this is what will be in the database if the transcriber followed the rules. However we automatically include the abbreviations of a name in the search. So in most cases you do not need to worry about all of the possible abbreviations and Latin versions of a ‘modern’ forename. Simply enter the modern forename and the search will pick up almost all of the abbreviations — for example, enter Robert and you will be provided with records that contain its many different abbreviations and punctuations.</p>
    <p>Please note that if you enter one of the abbreviations the search will look <em>only</em> for records with that abbreviation. For example, enter Robt and that is exactly what the search will look for in a record.</p>
    <p>The <span class="btnPress">About this Search</span> button will take you to a list all of the possible variations that have been considered. You can also view the complete set of <a href="/emendation_rules">forenames with their abbreviations and Latin forms</a> that will be found automatically in a search.</p> 
    <h3>Multiple forenames</h3>
    <p class="push-half--bottom">We have made it easier to search for people with multiple forenames, like Mary Jane, or John Edward Henry. These examples illustrate the power and limitations of such a search:</p>
    <ul>
      <li>a search for Mary will find Mary, Mary Jane and Mary Jane Elizabeth</li>
      <li>Jane will find Jane, Mary Jane and Mary Jane Elizabeth</li>
      <li>Mary Jane will find Mary Jane, and Mary Jane Elizabeth It will not find Jane Mary Elizabeth</li>
    </ul>
   
    <p>If you put a tick in the Soundex box, your search will return similar sounding forenames, in the same way as it does for surnames. If you search a single Place, we are able to show you records that could match your search, but where the image is difficult to read — see <a href="#ucf">Interpreting symbols in names and dates</a>.</p>
    <p>Despite all these ways of searching, you might find it more useful to leave the forename box blank, at least to start with. This will ensure that you see all possible alternatives that are currently in the database.</p>
    <p><a href="#top">Top of page</a> </p>
    <hr class="rule rule--ornament" />

    <h2 id="location" class="title--medium">Location</h2>
    <p>There are two elements to localising the search: county and place. FreeREG uses the County and Place names found in the digital <cite>Gazetteer</cite> published by the <a href="http://www.gazetteer.org.uk/">Association of British Counties</a> and in <cite>Phillimore’s Atlas of Parishes and Index of Places</cite>. We use the geographical location of Place names as identified by the grid reference on the <a href="http://www.genuki.org.uk/">GenUKI (UK and Ireland Genealogy)</a> website.</p>

    <h3>Searching all counties</h3>
    <p>You can search for a named person (i.e. both forename and surname) in <em>all</em> counties if you provide a year range and select just one of baptism, marriage or burial. We advise you to make the year range fairly narrow in this case, and be prepared to restrict it further if the search finds more than the maximum of 500 matching records. This is a new feature.</p>
    <p>Search all counties is a time consuming process, especially for common names. Please be patient. Do not attempt to restart the search while it is running (the spinning wheel is spinning), please wait for it to finish.</p>
    <p>If your search times out, then you will need to use a different search strategy: using a date range will slow down a search. Consider searching a single County and Place, together with the Nearby places option (described in the next section).</p>

    <h3>Searching one county</h3>	
    <p>Selecting a <em>single</em> county from the list in the County box fills the Place box. This will now contain a list of all the places that have a set of records that have been transcribed for a Church in that Place. Bear in mind that many places have more than one church. If the place name is not in the list, there are no records in the database.</p> 		
    <p>To search for a person within all places in a single county, select nothing (or the blank space at the top of the Place box). Otherwise you may select just one place.</p>
    <h4>Nearby places</h4>
    <p>The <strong>Nearby places</strong> feature, when selected, enables you you search the places nearby your selected place. This is a powerful option which will include the nearest 100 places to the one selected. This is especially useful for searching around a Place that is near to a County boundary, or for dividing a large county into smaller parts. If this option generates too many records, you can repeatedly halve the number of places searched by using the <span class="btnPress">Narrow Search</span> button at the top of the results page.</p>

    <h3>Searching two or three counties</h3>
    <p>Lastly, you may select up to three counties: simply hold down the control (Ctrl) key when selecting the second and third. On a MAC, hold down the command (cmd) key instead of the control key. You can control-select (or command-select) on a selected county to deselect it.</p>
    <p>Selecting more than one county will empty the Place box.</p>
    <p><a href="#top">Top of page</a> </p>
    <hr class="rule rule--ornament" />

    <h2 id="timeFrame" class="title--medium">Time-frame</h2>
    <p>If you wish to narrow the search you are making then it is possible to specify the time-frame for the search. Simply enter the first and last years to be included. You may also enter just a start or just a last year. If you leave the year boxes empty then the search will include all years available for your chosen place and county, or counties.</p>
    <p>Please note that using a date range might make your search take longer, especially if you are searching more than a single Place. If you hit the time limit, clearing the date range boxes should help your search complete in the time allowed.</p>
    <p>Additionally, setting a date range will mean that you will not find dates that are incomplete or difficult to read: see the information about <a href="#ucf">interpreting symbols in names and dates</a> for more details.</p>
    <p><a href="#top">Top of page</a> </p>      
    <hr class="rule rule--ornament" />

    <h2 id="using" class="title--medium">Using the search page</h2>
    <p>When you have entered the details of your search, it could seem slow before you get a reply. Please be patient because at times our servers are very busy.</p>
    <p>If you want to amend your search, for example if you did not find what you were looking for and want to just change the dates, then use the <span class="btnPress">Revise Search</span> button and your previously entered criteria (search terms) will still be there. Do not use your browser’s Back button.</p>
    <p><a href="#top">Top of page</a> </p>
    <hr class="rule rule--ornament" />

    <h2 id="results" class="title--medium">Exploring your Results</h2>
    <p>Once your results are displayed, you can sort them by clicking on any of the column headings. You will also see links to a variety of related information.</p>
    <p>The <span class="btnPress">Printable format</span> button gives you a version of the results suitable for printing or copying. The <span class="btnPress">About this Query</span> button shows you exactly what has been looked for: this will include a list of all the Places searched, which is useful if you checked the <strong>Nearby places</strong> option.</p>
    <p>The <span class="btnPress">Details</span> link will show you all the available information for an individual result — there just is not enough space to include everything in the list view. You may then go directly to the details of the neighbouring results. Or follow the link to information about the place. Or return to the list view. There is also an option to see a printer-friendly view of the record details.</p>

    <h3>Dates before 1752</h3>
    <p>If you have dates in your results that are before 1752, remember that 25 March was the start of a new year then, rather than 01 January. Using 15 Feb 1624/5 as an example, the year should be read as 1625 using 01 January as the start of a new year, but as 1624 using 25 March as New Year’s Day. This is standard genealogical practice, variously referred to as a double-date or an old style/new style date.</p>
    <p>Although Scotland adopted 01 January as the start of a year from 1600, we use a double-date on Scottish records before 1752 so that all our dates are comparable.</p>

    <h3>Duplicate results</h3>
    <p>You could find that your results include more than one version of the same event. We could have transcribed that event from more than one source: two different transcripts, for example. Or different sets of images of the same source could have been used, for instance. Whatever the reason, we leave it to you, the researcher, to assess the significance of any differences in the details in such cases.</p>

    <h3>Viewing register pages</h3>
    <p>If you would like to see an image of a particular page from a parish register, please contact the County Records Office for the relevant county: you can find the contact details from the <a href="/freereg_contents/new">Records page</a> by selecting the county and using the GenUKI link. (There will be a fee for this: we cannot share our images because of the Terms and Conditions under which we were given permission to transcribe.)</p>
    <p><a href="#top">Top of page</a> </p>
    <hr class="rule rule--ornament" />

    <h2 id="ucf">Interpreting symbols in names and dates</h2>
    <p>We encourage volunteers to ‘Type What You See’, but what happens when a transcriber cannot read what they see? Letters and words could be difficult to make out due to damage to the original document, bad image quality or a difficult-to-read handwriting style.</p>
    <p>To address this, we encourage transcribers to use our Uncertain Character Format (UCF). This UCF applies to forenames, surnames and dates. Read on to find out where we are able to show you records that use our UCF and how to interpret what you see.</p>
    <p>Please note that the use of UCF is separate and distinct from the <a href="#wildcardSearch">wild-card searches</a> which are available for surnames.</p>

    <h3>The meaning of a ? in search results</h3>
    <p>With <strong>any search</strong>, you could see a question mark in the search results: for example, ‘John?’. This tells you that the transcriber could not be certain that the forename was ‘John’, but that it was likely.</p>
    <p>A search for ‘John’ will find a record transcribed as ‘John?’, so you do not need to do anything special to find these records. The display of the original entry will show ‘John?’, to let you know that the transcriber could not be certain of the name.</p>

    <h3>The meaning of _, *, and { }</h3>
    <p>If you <strong>search a specific place</strong> within a county, then we are able to show you any results that <em>could</em> match what you are looking for: we search initially for exact matches and then for any records containing UCF characters that could also match the search name. These matches are not active for Nearby Place searches. The additional results are shown in a second section of results and will contain characters that are not letters.</p>
    <ul>
      <li>a _ (underscore) stands for one character that the transcriber could not read: it could be anything. Similarly, two underscores (__) stand for two illegible characters</li>
      <li>numbers in curly brackets or braces — for example, _{2,3) — stand for a group of characters that the transcriber could not read: in the example, there were 2 or 3 such characters</li>
      <li>a * (asterisk or star) stands for one or more characters that the transcriber could not read: there could be any number of such characters</li>
    </ul>
    <p>Please note that for the second example, the search will treat it as if the transcriber had entered a * (asterisk or star). However, the results will show you the transcriber’s original entry.</p>

    <h4>Surname Example</h4>
    <p>A search for WATSON within a specific place will retrieve exact matches. In addition the following results would be displayed:
    </p>
    <ul>
      <li>* — the transcriber could see a name but not decipher any characters</li>
      <li>W_TSON — there was clearly a character between the W and the T but what it was was unclear</li>
      <li>W*TSON — there could have been more than 1 character between the W and the T</li>
      <li>W_{1,2}TSON — there could have been more than 1 character</li>
    </ul>
    <p>It will <em>not</em> retrieve a record transcribed as W__TSON since that implies that there are two characters between the W and the T. Please note that the name parts before and after the UCF part must match the search field.</p>

    <h3>Characters within square brackets</h3>
    <h4>Simple square brackets</h4>
    <p>For example, ‘T[oi]m’ means that the transcriber could see one letter between the T and the m which could be an o or an i. A search for ‘Tom’ will find that record as will a search for ‘Tim’.</p>

    <h4>Less certain square brackets</h4>
    <p>A name transcribed as T[o_]m means that the middle letter could be an ‘o’ or it could be anything. A search for ‘Tom’ will find that record, as would searches for ‘Tim’, or ‘Tam’ or ‘Tem’.</p>  

    <h4>Misused square brackets</h4>
    <p>Unfortunately, some transcribers have occasionally misused square brackets to make editorial comments about names, like ‘John [father]’; or to note that names are not present, ‘[unnamed]’; or to note names that are unusual, tentative or illegible — ‘[sic]’, ‘[?]’ or [illegible].  In addition, some names are wrapped in square brackets, apparently to indicate a guess by the transcriber: [John].</p>
    <p class="push-half--bottom">These examples illustrate how such misuse could affect your search results:</p> 
    <ul>       
      <li>an exact search for ‘[John]’ will find a record transcribed as ‘[John]’ </li>
      <li>an exact search for ‘John’ will <strong>not</strong> find that record</li>
      <li>a Soundex search for ‘John’ or ‘[John]’ will find a record transcribed as ‘[John]’ since Soundex ignores non-alphabetic characters</li>
    </ul>
    <p>If you notice an example of the misuse of square brackets in your search results, please select the Detail button for that record and then use the Report a Problem button so that we can investigate. Thank you.</p>

    <h3>UCF in the date field</h3>
    <p>When searching a single Place, records with dates that contain UCF characters will <em>not</em> be included in the results if a date range is used in your search. Records that contain UCF characters <em>will</em> be found in a search without a date range.</p>
    <p><a href="#top">Top of page</a> </p>
    <hr class="rule rule--ornament" />
    
    <h2 id="cite" class="title--medium">Citing FreeREG</h2>
    <p>Our projects now include buttons which auto-generate a citation in one of a number of popular formats for academics and family historians. If you spot an error in our format, or would like an additional format, please let us know.</p>
    <p>As the records on FreeREG are transcriptions, it is always preferable to see the original, or a surrogate (such as microfiche, film, photograph or digitised image), and to cite that, rather than FreeREG. If writing for a non-specialist or international audience, it might be helpful to also direct readers to FreeREG, even if the original record or a surrogate has been studied, since they might not be in a position to travel or otherwise pay for access to a surrogate.</p>
    <p>Our About page has more information on <a href="/about#cite">citations for family historians and academics</a>.</p>
    <p><a href="#top">Top of page</a> </p>
    <hr class="rule rule--ornament" />
  </div>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">

    <h2 id="caution" class="title--medium">Cautions and warnings</h2>
    <p>It is important to realise that we have not necessarily made a completely literal transcription of parish registers in the FreeREG Project: we have recorded as much of the data for each entry as the particular source contains and as the database allows. All new data, transcribed specifically for the project, should have been entered according to FreeREG standards. However we are only human. So, once you have found a record, we advise you to view the actual register for the full details of what was written. </p>
    <p>Please remember that the FreeREG database is just a finding tool. An entry should not be considered to be proof of an event, neither should it be regarded as necessarily 100% accurate. It might not contain all of the information in the actual register.</p>
    <p><a href="#top">Top of page</a> </p>
    <hr class="rule rule--ornament" />

    <h2 id="usingSite" class="title--medium">Using the site</h2>
    <div class="island island--navy">
      <h3 class="banner__title">If you keep getting the cookie notice …</h3>
      <p>… see the advice on our <a href="/about/cookie-policy">Cookie policy page</a>.</p>
    </div>

    <div id="browsers" class="islet islet--light">
      <h3>Supported browsers</h3>
      <p>FreeREG has been tested on most common browsers. We recommend using the latest version of any browser. If you are using a version older than Chrome (v 25), Firefox (v 4.0), Internet Explorer (v 9), Edge, Safari (v 5.1), or Opera (v 15) then you might experience some issues. If you do, we suggest you update to a more recent version.</p>
      <p>It is possible to use most smartphones for searches. However, given the nature of the subject matter, this website is best viewed on a device with a screen size of at least 1024 by 768 pixels, in landscape view.</p>
    </div>

    <div class="island island--navy">
      <p class="banner__title">If you still have questions …</p>
      <p>… please see the <a href="/help/frequently-asked-questions-researchers">FAQ (frequently asked questions)</a>.</p>
    </div>    
    
  </div>
</div>
<iframe id="_pericles_content_iframe" style="position: absolute; top: -99px; left: 0px; width: 50px; height: 26px; background: transparent; overflow: visible; margin-top: -30px; transition: top 2s ease-in-out 0s; z-index: 2147483647; border: none; padding: 0px;"></iframe>

<h2>Side Body</h2>

<iframe id="_pericles_content_iframe" style="position: absolute; top: -99px; left: 0px; width: 50px; height: 26px; background: transparent; overflow: visible; margin-top: -30px; transition: top 2s ease-in-out 0s; z-index: 2147483647; border: none; padding: 0px;"></iframe>