<h1>Information for Coordinators</h1>

<div class="grid">
  <div class="grid__item two-fifths lap-one-third palm-whole float--right">
    <nav aria-labelledby="thisPage">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="thisPage">On this page</h2>
        <ul class="sub-nav">
          <li><a href="#problemLogin">Transcriber login problems</a> </li>
          <li><a href="#imageServer">Image Server</a> </li>
          <li><a href="#imagesToTranscribe">Obtaining images to transcribe</a> </li>
          <li><a href="#acquiringData">Acquiring data from other transcription projects</a> </li>
        </ul>
      </div>
    </nav>
    <aside aria-labelledby="coordInfo">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="coordInfo">Information for coordinators</h2>
        <ul class="sub-nav">
          <li><a href="/cms/information-for-coordinators/coordinator-actions">Coordinator actions</a> </li>
          <li><a href="/cms/information-for-coordinators/the-image-server">The image server</a> </li>
          <li><a href="/cms/information-for-coordinators/other-sources-for-transcribing">Other sources for transcribing</a> </li>
          <li><a href="/cms/information-for-coordinators/behind-the-scenes">Behind the scenes</a> </li>
          <li><a href="/cms/information-for-coordinators/the-embargo-system">Embargo system</a> </li>
          <li><a href="/cms/information-for-coordinators/information-for-the-swat-team">Information for the SWAT team</a> </li>
        </ul>
      </div>
    </aside>
    <aside aria-labelledby="otherHelp">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="otherHelp">Other Help sections</h2>
        <ul class="sub-nav">
          <li><a href="/cms/information-for-transcribers/">Transcriber Help</a> </li>
          <li><a href="/cms/help">Researcher Help</a> </li>
        </ul>
      </div>
    </aside>
  </div>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="push-half--bottom">In addition to these pages for coordinators, you may view all the <a href="/cms/information-for-transcribers">Information for Transcribers</a> pages. To return to this page, simply select Help (if you are still logged in). In particular, you may wish to view:</p>
    <ul>
      <li><a href="/cms/information-for-transcribers#communicate">The Communicate Action</a> for messaging a member of the FreeREG team</li>
      <li><a href="/cms/information-for-transcribers#bestPractice">Best practices</a>: guidelines for working efficiently with the FreeREG system</li>
      <li><a href="/cms/information-for-transcribers/file-and-batch-actions">File and Batch actions</a>: Uploading, Replacing and Editing 
         <p class="push--top"><strong>Please note that</strong>: If you Upload or Replace a file for one of your Transcribers, then both yourself and the Transcriber will get an email reporting the success or failure of the processing. In addition, the other relevant SC (Syndicate Coordinator) or CC (County Coordinator) will get a copy of the email (unless they have been sent one anyway). The only exceptions are that Inactive Transcribers will not be sent an email, or if you have set ‘SC uploads data’ to ‘true’ in the Transcriber’s Profile.</p>
        <p><strong>Also,</strong> if a CC (County Coordinator) finds errors in a batch they should in the first instance contact the transcriber and ask them to make the corrections. If the transcriber does not reply within seven days, then the CC should make the changes and email the transcriber to say what they have done, because the batch will be locked against the transcriber. If the UserID is Inactive the CC can make the changes immediately.</p>
       </li>
      <li><a href="/cms/information-for-transcribers/register-types">Register types and codes</a> </li>
    </ul>
    <p class="push-half--bottom">You may also be interested in the following general help pages:</p>
    <ul>
      <li><a href="/cms/help">Search and Records (Database contents) help</a> </li>
      <li><a href="/cms/about/cookie-policy">What to do if you keep getting the cookie notice</a> </li>
    </ul>
    <hr class="rule" />

    <h2 id="problemLogin">Transcriber login problems</h2>
    <p>If one of your Transcribers tells you that they cannot log in because their UserID is being reported as incorrect, advise them to try logging in with their email address.</p>
    <p>However, if they are being returned to the home page with no message, then they may be trying the wrong password, or their Profile is marked as ‘Active: No’.</p>

    <p class="push-half--bottom">Check their Profile — you can search by UserID, Name or Email address:</p>
    <ul>
      <li>if marked as ‘Active: No’, then a change to Yes will fix it</li>
      <li>also, check that the email address in their Profile matches the one they are trying to use</li>
      <li>otherwise, select <em>Send password change request</em> for them</li>
    </ul>
    <hr class="rule" />

    <h2 id="imageServer">The Image Server</h2>
    <p>Please use the <a href="/cms/information-for-coordinators/the-image-server">Image Server</a> for managing your Images, and for creating Assignments for your transcribers. If something is not working for you, or you are unsure of what to do, please contact a member of the FreeREG Executive for advice.</p>
    <p>Only the County Coordinator should upload images to the server. You can use the Free UK Genealogy Dropbox account to transfer images to the appropriate County Coordinator.</p>
    <hr class="rule rule--ornament" />

    <h2 id="imagesToTranscribe">Obtaining images to transcribe</h2>
    <p>Obtaining images to transcribe has proven to be very difficult. FreeREG has therefore set up a team of volunteers who will take the lead in working with potential partners to secure access to images to transcribe. Please continue to work as normal with the Record Office or Archives for your County, but do not make any new approaches at this time. Please contact SWAT@freeukgenealogy.org.uk with any specific requests, or if you are aware of a source which might be available to us. Under no circumstances can a Free UK Genealogy volunteer transcribe from an image which has been downloaded “for personal use only” (or a similar condition), e.g. from a commercial genealogical site.</p>
    <hr class="rule rule--ornament" />

    <h2 id="acquiringData">Acquiring Data from other transcription projects</h2>
    <p>From time to time we are offered existing transcriptions, or you may be aware of their existence. Before deciding to accept a transcription, or approach its creators and/or owners, please check that this transcription does not entirely duplicate a transcription we already have.  If the transcription is more complete (e.g. including witnesses names or including dates of birth as well as dates of baptisms), they can be acquired with a view to enhancing the existing transcription. If the transcription is not of the same document but of a different version (e.g. a new transcription from the original and we have only a transcription of an earlier transcription or these are banns rather than a marriage register), they can be acquired.</p> 
    <p>If you are aware of an individual, organisation or project which creates transcriptions of registers of baptisms, marriages or burials (or similar processes) which would be of interest to the users of FreeREG, please contact the SWAT team with your information. Approaches will normally be made by them, but let them know if there is a reason why you are the best person for the approach (e.g. you are a member of the congregation, or you gave help and advice to the project or group).</p>
    <p>Transcriptions received from others, such as a community project, church project or museum or archive, should be uploaded only by the County Coordinator. Please use the name of the Project or institution (e.g. “St James’ Local History Group”, or “Little Wittering Museum” rather than the name of the person who you have corresponded with (e.g. “Rev. Jo Bloggs”) as the name of the transcriber.</p> 

    <h3>Partial transcriptions</h3>
    <p>Partial transcriptions, such as just names and date, or the first few pages of a register are acceptable. But ‘Extracts’ such as the records relating to one family are of little use to us: when we do get the full register, we have to transcribe these entries again.</p>

    <h3>Donor UserID</h3>
    <p>When you have donated data to upload, please create a UserID for the donor organisation or individual, if one does not already exist.  They do not need to sign the Transcribers’ Agreement.  We ask that those who share their data with us have permission to do so (e.g. their transcription was not permitted “only for personal use”). We also ask that donors permit us to share their data with others, alongside our data, using Open Database licence 1.0.</p> 
    <p>Please record in the file header (rows 3 and 4) that the donor has confirmed they have any necessary permission; that we may share; and any other conditions or licences which they ask us to apply, such as being named as the source of the transcription, or marriages being kept unpublished for 85 years from the wedding date.</p>

    <h3>Pass on permissions</h3>
    <p>Please send a copy of the email or letter of confirmation to the Chief Operating Officer for placement in the Google drive Permissions folder. There are detailed instructions on how to ‘close’ (embargo) records for a period, such as 100 years for baptisms. If you have any concerns about permissions or conditions, please ask the Executive for support.</p>

    <h3>See also:</h3>
    <ul>
      <li>the advice for transcribers and other volunteers: <a href="/cms/information-for-transcribers#acquiringData">Do you know of data we may be able to share?</a> </li>
      <li>the advice for potential donors on the Free UK Genealogy website: <a href="https://www.freeukgenealogy.org.uk/about/opendata/open-data-for-donors/">Open data for donors</a> </li>
    </ul>        

  </div>
</div>

<hr />

<div class="grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="lead">The remaining sections should be considered as rough guides only: the information is a mixture of old, current and future FreeREG practice. Nevertheless, you may find the content interesting or useful.</p>

    <h2>Responsibilities of a Coordinator</h2>

    <p class="push-half--bottom">The main responsibilities are to:</p>
    <div class="splitList">
      <style scoped="scoped">
        .splitList ol { list-style-type: none; }
        .splitList ol:first-of-type { counter-reset: split; }
        .splitList li::before { counter-increment: split; content: counter(split) ". "; font-weight: bold; display: inline-block; width: 1.6rem; margin-left: -1.6rem; }
      </style>
      <ol>
        <li>Handle queries from volunteers (although we hope most questions will go to the mailing list or discussion group). If in doubt then refer to one of the Executive, and we will try to invent an answer!</li>
        <li>Answer questions from Researchers and check and make corrections to transcriptions if necessary.</li>
        <li>Liaise with existing sources of transcriptions (e.g. the relevant County Record Office / Archive). Where there is no existing relationship, support the SWAT Team in obtaining permission, if requested.</li>
        <li>Set up Church and Register Type records in advance of the start of transcribing.</li>
        <li>Ensure that transcribers use the standard names for Place, Church and Register Type.</li>
        <li>Keep tabs on who is doing what, which parishes have been done, and what is available to be transcribed. You will need to keep your own record of this at present.</li>
        <li>Arrange for images to be transcribed to be loaded onto the Image Server and then ask for these to be allocated to transcribers as they need them.</li>
        <li>Gather data files from volunteers and upload them if they are not uploaded direct. If data files are not in our standard format, ready to be incorporated into the database, pass them to one of the data editing volunteers.</li>
      </ol>
      <p class="push-half--bottom">Other responsibilities include:</p>
      <ol>    
        <li>Establish a syndicate discussion group and/or mailing list to use for passing information to your team and answering their questions.</li>
        <li>Correspond with volunteers providing data for your syndicate.</li>
        <li>If you wish, recruit and train volunteers to transcribe registers, or pass them to the Training Coordinator.</li>   
        <li>Identify and solicit contributions of existing transcriptions.</li>
        <li>Find work to be transcribed. This can be from many sources so contact the [ Data Manager ] for help.</li>      
        <li>Work with other Coordinators through the [Coordinators mailing list] and discussion group and keep the Country Coordinators informed of country-wide issues.</li>
        <li>Inform the [Executive] of improvements that should be made to FreeREG.</li>
        <li>Inform the [Web Managers] of problems with the website.</li>
        <li>Inform the [Executive] of their physical mailing address.</li>
      </ol>
    </div>
    <h3>Getting started</h3>
    <p>Enquiries from volunteers will start to come directly to you, but any that we receive will be forwarded to you.</p>
    <p>Please familiarise yourself with the the various pages in the Information for Transcribers section so that you can point transcribers to the relevant pages.</p>
    <hr class="rule" />
  </div>
</div>

<div class="grid">
  <div class="grid__item two-thirds">
    <style scoped="scoped">
      .sc { color: slateBlue; }
      .tr { color: green; }
    </style>
    <h2>The transcription workflow</h2>
    <p>Key: CC tasks, <span class="sc">SC tasks</span>, <span class="tr">Transcriber tasks</span>.</p> 
    <ol>
      <li>Identify source of needed Images.</li>
      <li>Inform the SWAT team&#160;</li>
      <li>Upload onto Image Server and label in standard format.</li>
      <li>View sample Images to check: language / image quality / readability.</li>
      <li>Record on Register Record.</li>
      <li>Assign to SC.</li>
      <li class="sc">Receive assignment of images.</li>
      <li class="tr">Register as a Transcriber if not already done. Note: only 1 UserID per person and 1 Syndicate Coordinator per person.</li>
      <li class="tr">Review Place Names [on RAP] and identify Availability of images. Request from SC.</li>
      <li class="sc">Receive request for a batch of images from Transcriber who has searched the RAP.</li>
      <li class="sc">Scan Image Server for chosen place name. Request allocation of new Images batch for particular Transcriber.</li>
      <li class="sc">Request allocation by CC of chosen Images for Transcriber.</li>
      <li class="sc">Allocate requested Images. Update Register records.</li>
      <li class="sc">Advise Transcriber. If new, monitor their progress / ability. Revise allocation if necessary or request checks as necessary.</li>
      <li class="tr">Transcribe allocated Images. Seek help from SC if necessary. Pass to SC for review if requested.</li>
      <li class="sc">Check Transcription when image batch (or designated portion if new transcriber) is complete.</li>
      <li class="sc">Agree whether Transcriber can upload themselves or upload on their behalf.</li>
      <li class="tr">Upload own Transcription. Tell SC if this is part or whole of the allocated set.</li>
      <li class="sc">Rectify errors or return to Transcriber.</li>
      <li class="tr">Rectify errors in conjunction with SC.</li>
      <li class="sc">When whole bundle of Images is transcribed and uploaded, advise CC to update records.</li>
      <li>Scan [Decadal] for date issues and any other statistical work.</li>
      <li class="sc">Adjust work allocation if necessary.</li>
      <li>Run stats scan monthly to assess UCF usage and errors rates per transcriber. Advise SC.</li>
      <li>Receive and review data error reports from researchers and pass to SC if action needed.</li>
      <li class="sc">Receive and review data error reports from CC and pass to Transcriber if action needed and latter still active.</li>
      <li class="tr">Receive and review data error reports from SC and action.</li>
      <li class="sc">Make correction if transcriber inactive.</li>
    </ol>
  </div>
</div>