<h1>Latin words to recognise</h1>

<style scoped="scoped">
  dt { font-weight: bold; }
  dd { margin-bottom: 1em }

  figure.bq {
    border-left: 5px solid #007fad;
    margin: 0;
    margin-left: 1.556rem;
    margin-bottom: 1.556rem;
    padding: 1em;
    padding-left: 50px;
  }
  figure.bq:nth-of-type(2n) {
    border-color: #919191;
  }
  figure.bq blockquote {
    position: relative;
    text-indent: 0;
    margin: 0;
    padding: 0;
  }
  figure.bq blockquote::before {
    content: "\201C";
    color: #007fad;
    font-size: 3.6em;
    font-family: 'Helvetica', Arial, sans-serif;
    position: absolute;  
    left: -30px;
    top: -23px;
  }
  figure.bq:nth-of-type(2n) blockquote::before {
    color: #919191;
  }
  figure.bq blockquote p { margin: 0; margin-bottom: 14px; }
  figure.bq blockquote p:last-of-type { margin-bottom: 0; }
  figure.bq blockquote p::before, figure.bq blockquote p::after {
    content: ' ';
  }
  figure.bq figcaption {
    margin-top: 1em;
    margin-top: 0.3em;
    font-style: italic;
    color: #737373; /* value in use for image captions */
  }
  figure.bq figcaption:before {
    content: '— ';
  }  
  </style>
  


<div class=" grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="lead">Do not be in awe of old registers written in Latin. There are only a limited number of words to learn to recognise. Something that looks like ‘baptize’ is a baptism, something that looks like ‘matrimony’ is a marriage, and something that looks like ‘mortus’ is a burial. There are a few more, but you will soon get the hang of it.</p>    
  </div>
  
  <div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <nav aria-labelledby="thisPage">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="thisPage">On this page</h2>
        <ul class="sub-nav">
          <li><a href="#baptismWords">Baptism words</a> </li>
          <li><a href="#marriageWords">Marriage words</a> </li>
          <li><a href="#burialWords">Burial words</a> </li>
          <li><a href="#generalWords">General words</a> </li>
          <li><a href="#onlineResources">Online resources</a> </li>
        </ul>
      </div>
    </nav>
    <aside aria-labelledby="relatedPages">
      <div class="islet islet--bordered" id="helpMenu">      
        <h2 class="title-block" id="relatedPages">Transcriber Help</h2>
        <ul class="sub-nav">
          <li><a href="/cms/information-for-transcribers">Information for transcribers</a> </li>
          <li><a href="/cms/information-for-transcribers/creating-a-transcription-file">Creating a transcription file</a> </li>
          <li><a href="/cms/information-for-transcribers/using-the-image-server">Using the Image Server</a> </li>
          <li><a href="/cms/information-for-transcribers/entering-data-from-registers">Entering data from registers</a> </li>
          <li><a href="/cms/information-for-transcribers/flexible-csv-format">Flexible CSV format</a> </li>
          <li><a href="/cms/information-for-transcribers/dealing-with-uncertainty">Dealing with uncertainty</a> </li>
          <li><a href="/cms/information-for-transcribers/numbers-and-dates">Numbers and dates</a> </li>
          <li><a href="/cms/information-for-transcribers/chapman-codes">Chapman codes</a> </li>
          <li><a href="/cms/information-for-transcribers/file-and-batch-actions">File and batch actions</a> </li>
          <li><a href="/cms/information-for-transcribers/the-gap-system">The Gap system</a> </li>
          <li><a href="/cms/information-for-transcribers/file-headers">File headers</a> </li>
          <li><a href="/cms/information-for-transcribers/permission-to-transcribe">Permission to transcribe?</a> </li>
          <li class="active"><a href="/cms/information-for-transcribers/latin-words-to-recognise">Latin words to recognise (this page)</a> </li>
        </ul>
      </div>
    </aside>
  </div>

  <section class="grid__item three-fifths lap-two-thirds palm-one-whole">

    <h2 id="baptismWords">Baptism words</h2>
    <dl>
      <dt>filius</dt>
      <dd>son of<br />— similarly, male names often end in ‘us’ </dd>

      <dt>filia</dt>
      <dd>daughter of<br />— similarly, female names often end in ‘a’ </dd>

      <dt>et</dt>
      <dd>and</dd>

      <dt>baptizavi</dt>
      <dd>I have baptised</dd>

      <dt>natus</dt>
      <dd>born (male)</dd>

      <dt>nata</dt>
      <dd>born (female)</dd>

      <dt>gemelli, gemini</dt>
      <dd>twins</dd>

      <dt>trigemini</dt>
      <dd>triplets</dd>
    </dl>
    <hr class="rule" />

    <h2 id="marriageWords">Marriage words</h2>
    <dl>
      <dt>nupsit</dt>
      <dd>married</dd>

      <dt>matrimonium</dt>
      <dd>matrimony</dd>

      <dt>licentiam</dt>
      <dd>by licence</dd>

      <dt>bannum</dt>
      <dd>by banns</dd>
    </dl>
    <hr class="rule" />

    <h2 id="burialWords">Burial words</h2>
    <dl>
      <dt>mortus</dt>
      <dd>died</dd>

      <dt>sepultavi</dt>
      <dd>I have buried</dd>

      <dt>dormit</dt>
      <dd>sleeping</dd>

      <dt>corpus</dt>
      <dd>the body</dd>
    </dl>
    <hr class="rule" />
  </section>
</div>

<div class="grid">
  <section class="grid__item three-fifths lap-two-thirds palm-one-whole">

    <h2 id="generalWords">General words</h2>
    <dl>
      <dt>parochia</dt>
      <dd>parish</dd>

      <dt>in comitatu</dt>
      <dd>in the county of<br />(compare with ‘community’)</dd>

      <dt>in agro</dt>
      <dd>in the county of<br />(literally ‘in the field of’)</dd>

      <dt>ibidem</dt>
      <dd>of the same place</dd>

      <dt>extraneus</dt>
      <dd>a stranger</dd>
    </dl>
    <hr class="rule rule--ornament" />
  </section>
  
  <section class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <h2 id="onlineResources">Online resources</h2>
    <p>The following online resources are all suggestions made by our transcribers.</p>
    <h3>Guides</h3>
    <figure class="bq">
      <blockquote>For help with Latin, there is a useful guide on the FamilySearch website, a <a href="https://www.familysearch.org/wiki/en/Latin_Genealogical_Word_List">Latin genealogical word list</a> [and guide to useage]. </blockquote>
    </figure>
    <figure class="bq">
      <blockquote>This <a href="https://www.british-history.ac.uk/alumni-oxon/1500-1714">list of Oxford Alumni</a> has helped me with some tricky Latin titles.</blockquote>
    </figure>
    
    <h3>Dictionaries</h3>
    <figure class="bq">
      <blockquote>I’ve suggested this <a href="https://latin-dictionary.net/">online Latin dictionary</a> before — it’s the most user-friendly one I’ve found.</blockquote>
    </figure>

    <figure class="bq">
      <blockquote>Here’s <a href="https://books.google.co.uk/books?id=8xNgAAAAcAAJ">another Latin dictionary</a>.</blockquote>
    </figure>

    <figure class="bq">
      <blockquote>And <a href="https://books.google.co.uk/books?id=D5rj4TQnbE4C">yet another Latin dictionary</a>, which is more recent. This one is only Latin to English but seems more comprehensive.</blockquote>
    </figure>
    
    <h3>Abbreviations</h3>
    <figure class="bq">
      <blockquote>This has a look at <a href="https://kuscholarworks.ku.edu/bitstream/handle/1808/1821/47cappelli.pdf;jsessionid=FC254AC84E25DF9D7C2B5BF98B8DB470?sequence=3">Latin abbreviations in some depth</a>.</blockquote>
    </figure>
  
    
    <figure class="bq">
      <blockquote>This document is a good one for <a href="https://archive.org/details/recordinterprete00martiala/page/n2/mode/1up?view=theater">Latin abbreviations, very comprehensive, but a bit esoteric?</a> It was recommended by someone quite a while ago, but I have found it useful.</blockquote>
    </figure>
  </section>

  <aside aria-label="Management suggestions" class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <p class="islet islet--bordered">The <a href="http://genealogy-quest.com/glossary-terms/latin/">Latin glossary</a> on  <a href="http://genealogy-quest.com/">Genealogy Quest</a> is an excellent additional reference for many of the less commonly used terms. We advise you to bookmark the glossary for later use. It is easy to use and is more accurate than Google translate.</p>
    <div class="islet islet--magenta">
      <p>If you want to refer to a really excellent booklet on Latin, look no further than <em>Simple Latin for Family Historians</em> by Eve McLaughlin.</p>
      <p>Available from FHS's (Family History Societies) and other good book-sellers.</p>
      <p>No apologies for the blatant plug. She deserves it!</p>
    </div>
  </aside>
</div>