<h1>Opportunities to volunteer with FreeREG</h1>

<style scoped="scoped">
  /* temporary fix */
  .image-link:focus, .image-link:hover {
    display: inline-block; /* Safari fix */
    text-decoration: none;
    background: none;
    outline: 2px dashed #007FAD; /* $turquoise */
  }
</style>

<div class="grid">
  <div class="grid__item three-fifths lap-one-half palm-one-whole">
    <p>The aim of FreeREG is to provide a free-to-use, online, searchable database of parish and nonconformist registers of baptisms, marriages and burials for the whole country. Without the invaluable support of our volunteers, this project would not exist.</p>

   <h2 class="gamma">Transcribers</h2>
    <p>We will send you images to transcribe, links to specialist software needed (or you can use a pre-formatted spreadsheet) and guidance on how to transcribe. We will provide feedback on your first attempts so that you can see if any changes are needed in order to meet our high quality standards. You can join a friendly support group where other volunteers can help you learn, and in turn you will be able to advise others.</p>

    <div class="landmark text--center">
      <p><strong>To register as a transcriber, please use the button below:</strong> </p> 
      <form action="/userid_details/transcriber_registration">
        <input type="submit" value="Continue to Registration" class="btn" />
      </form>
    </div>

    <h2 class="gamma">Website Developers and Designers</h2>
    <p>FreeREG uses MongoDB, Ruby on Rails and RefineryCMS — if you have experience with any of these, or would like to learn, please visit the <a href="http://www.freeukgenealogy.org.uk/about/volunteer/" target="_blank">FreeUK Genealogy volunteer page (opens in new window)</a> — this page also has details of opportunities on our sister projects, FreeBMD and FreeCEN.</p>
  </div>

  <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right text--center">
    <div class="islet islet--bordered">
    <p class="push-half--bottom">No time to volunteer? Please consider a donation:</p>
    <a class="image-link" href="http://www.freeukgenealogy.org.uk/help-us-keep-history-free" target="_blank">
      <%= image_tag 'images/donate.png', alt: 'Donate to Free UK Genealogy', data: { rel: '225x255' }, width: 185, height: 162 %>
      <div class="text-center push-half--bottom">(opens in new tab)</div>
     </a> 
    <p>While most other genealogy sites charge you to find and read records, FreeREG is dedicated to keeping our searches free. A small donation towards our costs would really help us keep it that way.</p>

    </div>

    <div class="islet" style="border: 2px solid #007FAD;">
      <a class="image-link" target="_blank" href="https://www.easyfundraising.org.uk/causes/freeukgenealogy/">(opens in new tab)
        <%= image_tag 'images/easy-fundraising -02.png', alt: 'Easy Fundraising by shopping online', data: { rel: '225x255' }, style: 'width:100%;height:auto;', width: 1200, height: 628 %>
      </a>
    </div>

  </aside>  
</div>