<h1>People in FreeREG</h1>

<h1>Organisational Chart</h1>
<div><img src="/system/images/W1siZiIsIjIwMjQvMDcvMjQvMTQ4ZnJncGc5OV9Pcmdhbm9ncmFtXzEucG5nIl0sWyJwIiwidGh1bWIiLCI0NTB4NDUwXHUwMDNlIl1d/Organogram%201.png?sha=0efd3e3ca29f3985" title="Organogram 1" alt="Organogram 1" data-rel="450x450" width="450" height="249" class="selected_by_wym" /></div>

<h1>FreeREG Steering Group</h1>
<p><img src="/system/images/W1siZiIsIjIwMjQvMDcvMjQvNDZmMm1pYXFvaF9TdGVlcmluZ19Hcm91cF9GcmVlUkVHXy5wbmciXSxbInAiLCJ0aHVtYiIsIjQ1MHg0NTBcdTAwM2UiXV0/Steering%20Group%20%28FreeREG%29.png?sha=9fd146b80c21c7eb" title="FreeREG Steering Group" alt="FreeREG Steering Group" data-rel="450x450" width="500" height="480" /></p>