<h1>Permission to transcribe?</h1>

<div class="grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="lead">If you are planning to transcribe from anything other than images from the FreeREG Image Server, then you need to be aware of what you can and cannot use as a source.</p>
  </div>

  <div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <nav aria-labelledby="thisPage">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="thisPage">On this page</h2>
        <ul class="sub-nav">
          <li><a href="onSite">Transcribing on site</a> </li>
          <li><a href="fromImages">Transcribing from images</a> </li>
          <li><a href="copyright">Copyright</a> </li>
        </ul>
      </div>
    </nav>

    <aside aria-labelledby="relatedPages">
      <div class="islet islet--bordered" id="helpMenu">      
        <h2 class="title-block" id="relatedPages">Transcriber Help</h2>
        <ul class="sub-nav">
          <li><a href="/cms/information-for-transcribers">Information for transcribers</a> </li>
          <li><a href="/cms/information-for-transcribers/creating-a-transcription-file">Creating a transcription file</a> </li>
          <li><a href="/cms/information-for-transcribers/using-the-image-server">Using the Image Server</a> </li>
          <li><a href="/cms/information-for-transcribers/entering-data-from-registers">Entering data from registers</a> </li>
          <li><a href="/cms/information-for-transcribers/flexible-csv-format">Flexible CSV format</a> </li>
          <li><a href="/cms/information-for-transcribers/dealing-with-uncertainty">Dealing with uncertainty</a> </li>
          <li><a href="/cms/information-for-transcribers/numbers-and-dates">Numbers and dates</a> </li>
          <li><a href="/cms/information-for-transcribers/chapman-codes">Chapman codes</a> </li>
          <li><a href="/cms/information-for-transcribers/file-and-batch-actions">File and batch actions</a> </li>
          <li><a href="/cms/information-for-transcribers/the-gap-system">The Gap system</a> </li>
          <li><a href="/cms/information-for-transcribers/file-headers">File headers</a> </li>
          <li class="active"><a href="/cms/information-for-transcribers/permission-to-transcribe">Permission to transcribe? (this page)</a> </li>
          <li><a href="/cms/information-for-transcribers/latin-words-to-recognise">Latin words to recognise</a> </li>
        </ul>
      </div>
    </aside>
  </div>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    
    <h2 id="onSite">Transcribing on site</h2>
    <p>Any source must be one where the Transcriber has permission to transcribe. This is not the same thing as copyright.  For example, when you go into a church, ask the Vicar, ‘may I transcribe?’ and if she or he says yes, you have permission. (We have a letter for incumbents that you can send or take to them which explains why we transcribe, and how we can help the church, if you want to approach a church directly.)</p>
    <p>Similarly, if you go into a record office, and look at a register (or a surrogate such as a film or fiche), you do not need to ask permission to transcribe.</p>

    <h2 id="fromImages">Transcribing from images</h2>
    <p>But, if you take photos in a Record Office, or copy from fiche to a data stick, so that you can transcribe at home, the Record Office will often get you to sign to say that you will only use the image for ‘personal use’ or ‘private research’ — this does <strong>not</strong> give you permission to transcribe for FreeREG.  We will be writing to all the Record Offices (ROs) once the Transcribers’ Agreement is in place, to see if we can get blanket permission from each RO for our transcribers to take photos, etc., then transcribe from those.</p>
    <p>If the images are behind a paywall, or you need to register to look at images for free, the contract you have signed probably means you cannot transcribe from these images.  Ancestry, Find My Past, Scotlands People and FamilySearch all prohibit you from sharing from their site, so these should not be used as transcription sources. After the Transcribers’ Agreement is in place, we will be approaching them (and any other site we are told would be useful) to see if we can negotiate access.</p>

    <h2 id="copyright">Copyright</h2>
    <p>If transcribing from a published book, please check the copyright status of the book before transcribing: if you cannot positively say that the author died more than 70 years ago, please let us know as we may be able to confirm you have permission.</p>
    <p>Copyright only exists in a small proportion of all the sources being included in FreeREG. For example, the Church of England has said there is no copyright in its registers. If in doubt, please ask — we can usually confirm that there is no copyright, or help with contacting copyright owners and obtaining the appropriate licence if copyright does exist.</p>
  </div>
</div>