<h1>Refresh Place Cache</h1>

<p>The place cache is updated automatically when there is a change in the place names.</p>
<p>Occasionally there may be a need to manually rebuild the place cache.</p>
<p>f2rake foo:refresh_places_cache[code] --trace</p>
<p>Where code is a single chapman code&#160;</p>
<p>To update ALL CODES omit the [code]</p>
<p>Takes about 5 minutes to run on the master</p>
<p>PS</p>
<p>f2rake is an alias in my profile</p>
<p>alias f2rake='sudo -u webserv bundle exec rake RAILS_ENV=production'</p>