<h1>Reports</h1>

<p>There are a number of reports that can be run on FR2.</p>
<p><a title="Case Sensitive Userids" href="/cms/system-documents/reports/case-sensitive-userids">Case Sensitive Userids</a>
</p>
<p><a title="FreeREG2 Usage" href="/cms/system-documents/reports/freereg2-usage">FreeREG2 usage </a>
</p>
<p><a title="Report on consistency with Userids" href="/cms/system-documents/reports/report-on-consistency-with-userids">Check that all userids have a folder and that all folders have a userid.</a>
</p>