<h1>swat team info</h1>

<div class="grid">
  <aside class="grid__item one-third palm-one-whole float--right">
    <div class="islet islet--bordered">
      <h2 class="title-block">Information for the Sources SWAT team</h2>
      <ul class="sub-nav">

           <li><a href="/cms/information-for-coordinators/obtaining-the-approval-of-the-church-of-england">Obtaining the approval of The Church of England</a> </li>
          <li><a href="/cms/information-for-coordinators/other-sources-for-transcribing">Other sources for transcribing</a> </li>
      </ul>
    </div>
    <div class="islet islet--bordered">
      <h2 class="title-block">Other Help sections</h2>
      <ul class="sub-nav">
          <li><a href="/cms/information-for-coordinators">Coordinator Help</a> </li>
          <li><a href="/cms/information-for-transcribers/">Transcriber Help</a> </li>
          <li><a href="/cms/help">Researcher Help</a> </li>
      </ul>
    </div>
  </aside>
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
      <h2 id="swat team">About the SWAT Team</h2>

      <p>County Coordinators have sometimes been able to develop a good working relationship with their County Record Office or Archive Centre. The name will vary from County-to-County. Where this has not been possible, the Sources SWAT team has been established to build relationships with Local Authority Archives and other potential sources for transcription.</p>

      <h2><a>Working with County Record Offices / Local Authority Archives</a>
</h2>
      <p>We maintain  <a href="https://drive.google.com/open?id=1MRS_pqtbxfM0M1neoONLBPguRKtOVafK">a listing of the Record Offices</a> with material of interest to Free UK Genealogy (nb this opens in a new window) It may be helpful if you do not know the name and location of a particular Records Office - please keep this up-to-date if you have more current information.</p>
    <p>If you feel <a href="https://docs.google.com/document/d/1EQ1BBNCterf-cArSbBobTByISG61D-5wi6bYSbFZmk8/edit?usp=sharing">a letter from Pat Reynolds</a>, Executive Director of Free UK Genealogy CIO would help in your approach, or as a follow up. Please make a copy and edit to suit the circumstances - check with Pat if you feel you need to make a change that might be controversial.
    </p>

    <p>DELETE this section or EXPAND? Remember, if you are talking to them be sure to stress the nature of FreeREG. We are NOT publishing any materials, transcripts, or registers. We ARE creating a searchable index of the names of people who are entered into baptism, marriage and death registers as a research tool to assist people locate where they should undertake more detailed investigations.</p>

    <p>One area where the explicit approval of the Local Authority archive is required, is on obtaining access to the images made by the Church of Jesus Christ of Latter Day Saints of records which are cared for by the archive. The archive is the gatekeeper to accessing the LDS images - the LDS do not claim copyright. LDS images are not always the best images, but better images are mostly inaccessible. With a letter or email of permission from the archive, we can ask the LDS for digital access to the images we need.</p>
    <p>Note: the Church of England has confirmed that there is <strong>no copyright in the registers of of Baptism, Marriage or Burial</strong>, and that there is a right of access in a church to view and copy these registers.&#160;</p>
    <p>The copyright situation on records of baptism, marriage and burial in institutions other than the Church of England vary greatly (see below).</p>
    <p>The Record Office may have other images which we can copy, and which they, or others, can grant the necessary permissions. Commercial companies are unlikely to give permission, but the Record Office may have been given permission to share with others.</p>
    <p>Where LDS or other images do not exist, or are too poor to transcribe, we'll need volunteers to go in and photograph. Stress this is our last resort, as we appreciate that physically handling the records will inevitably contribute to their demise - but photographed once by us, should be all the future handling they need except in very rare circumstances (such as someone researching watermarks.</p>
    <h3>The withdrawal of Church of England registers from Archives for copying</h3>
    <p>If the Archive will not authorise the LDS, share or sell existing images, or permit copying, it is possible to ask the individual church to withdraw the volume so it may be copied.
    </p>
    <p> The individual churches have a right to withdraw the registers from the archive in order that they be copied.  However, it is in the best interest of the records and their future users that they are not withdrawn, nor re-digitized, but that we have access to the images that have already been made.</p>

    <h2><a>Working directly with Churches, Chapels, etc.</a>
</h2>
    <p>Depending on the faith, the copyright and right of access differ (CoE = no copyright, access for a few entries is a right, for bulk copying is at local discretion, and may attract a fee)</p>.The best person to make the approach is probably someone already familiar with the faith / congregation, who can potentially involve them in photography and transcription.<h2>Examples of Approvals</h2>
    <p>Examples of the type of approvals we have received are available below.</p>
    <h2>Other information - closure, filing the permission document, other sources of records</h2>
    <h3>Requests to 'close' transcriptions for 100 years (or other time period)</h3>
    <p>FreeREG have an Embargo System which means that transcriptions can be marked so that they are not shown to the public for any desired length of time from an event. If the archive have any concerns about permissions or conditions which you are not able to answer, please ask the Executive for support.</p>
    <h3>Storing permissions</h3>
    <p>Please place a copy of the email or letter of confirmation in <a href="https://drive.google.com/open?id=1MRS_pqtbxfM0M1neoONLBPguRKtOVafK">a listing of the Record Offices</a> the Google drive Permissions folder.  Please send the original on to the Executive Director for manual filing (Westwood House, Westwood, Scarborough, North Yorkshire, YO11 2JD.</p>
    <h3>Other Sources for Transcribing</h3>
    <p><a href="/cms/information-for-coordinators/other-sources-for-transcribing">Other sources for transcribing</a> may be helpful in counties which have no or only limited sources for transcription at the moment.</p>
  </div>
</div>