<h1>System Documents</h1>

<p>System document is now maintained off line on the <a href="https://drive.google.com/drive/u/1/folders/0BykgQKwJtk6fN3lIX1U5aXVMOUU" title="https://drive.google.com/drive/u/1/folders/0BykgQKwJtk6fN3lIX1U5aXVMOUU" target="_blank">FreeUK gsuite gdrive</a>
</p>
<p>Contact Pat or Rich if you find you do not have access.</p>
