<h1>Terms and Conditions</h1>

<p>FreeREG is provided free of charge for personal research purposes only.<br />Access to the data held by FreeREG is only permitted manually via the search page. The use of front end programs or sites to enter search parameters is strictly forbidden<br />Data extracted from FreeREG must not be reproduced in any form.<br />Use of FreeREG is also subject to the <a href="https://www.freeukgenealogy.org.uk/about/constitution-and-policies/" title="https://www.freeukgenealogy.org.uk/about/constitution-and-policies/" target="_blank">Terms and Conditions of Free UK Genealogy.</a>
</p>