<h1>Using the Image Server</h1>

<style scoped="scoped">
  .site img { border: 1px solid #895f49; width: 100%; height: auto; }
  .site figcaption { font-style: italic; color: #895f49; }
  .site img.narrow { max-width: 291px; }
</style>

<div class="grid">
  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">
    <p class="lead">We have an Image Server (I.S.) that automatically gives you access to the images assigned to you for transcription. You can also find out which other images are still available for transcription.</p>
  </div>
  <div class="grid__item two-fifths lap-one-third palm-one-whole float--right">
    <nav aria-labelledby="thisPage">
      <div class="islet islet--bordered" id="pageMenu">
        <h2 class="title-block" id="thisPage">On this page</h2>
        <ul class="sub-nav">
          <li><a href="#assignments">Viewing your Assignments</a> </li>
          <li><a href="#progress">Recording your progress</a> </li>
          <li><a href="#nextWork">Your next Assignment</a> </li>
        </ul>
      </div>
    </nav>
    <aside aria-labelledby="relatedPages">
      <div class="islet islet--bordered" id="helpMenu">      
        <h2 class="title-block" id="relatedPages">Transcriber Help</h2>
        <ul class="sub-nav">
          <li><a href="/information-for-transcribers">Information for transcribers</a> </li>
          <li><a href="/information-for-transcribers/creating-a-transcription-file">Creating a transcription file</a> </li>
          <li class="active"><a href="/information-for-transcribers/using-the-image-server">Using the Image Server (this page)</a> </li>
          <li><a href="/information-for-transcribers/entering-data-from-registers">Entering data from registers</a> </li>
          <li><a href="/information-for-transcribers/flexible-csv-format">Flexible CSV format</a> </li>
          <li><a href="/information-for-transcribers/dealing-with-uncertainty">Dealing with uncertainty</a> </li>
          <li><a href="/information-for-transcribers/numbers-and-dates">Numbers and dates</a> </li>
          <li><a href="/information-for-transcribers/chapman-codes">Chapman codes</a> </li>
          <li><a href="/information-for-transcribers/file-and-batch-actions">File and batch actions</a> </li>
          <li><a href="/information-for-transcribers/the-gap-system">The Gap system</a> </li>
          <li><a href="/information-for-transcribers/file-headers">File headers</a> </li>
          <li><a href="/information-for-transcribers/permission-to-transcribe">Permission to transcribe?</a> </li>
          <li><a href="/information-for-transcribers/latin-words-to-recognise">Latin words to recognise</a> </li>
        </ul>
      </div>
    </aside>
  </div>

  <div class="grid__item three-fifths lap-two-thirds palm-one-whole">

    <h2 id="assignments">Finding and viewing images assigned to you</h2>
    <p>An <strong>Assignment</strong> is a Group of Images assigned to you by your SC (your Syndicate Coordinator) for transcription. Log in and click on ‘Assignments’ to see your current Assignments.</p>
    <figure class="site">
      <img class="narrow" src="/system/images/W1siZiIsIjIwMTkvMDQvMTIvNDVnNWZ1OXpwcl90cl9hY3Rpb25zLnBuZyJdXQ/tr-actions.png?sha=775f03322786401d" title="Transcriber Actions" alt="Transcriber Actions" data-rel="225x255" width="291" height="293" />
      <figcaption>Fig. 1 — Transcriber Actions</figcaption>
    </figure>
    <p>If you have only one, then you will see the list of the Images in that Assignment: each image has its own VW (view) and DL (download) actions.</p>
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMTkvMDQvMTEvNnlxcW5xN2Z5cF90cl92aWV3X2Fzc2lnbm1lbnRzX3NpbmdsZS5wbmciXV0/tr-view-assignments-single.png?sha=a2ccb34a8e50f8c5" title="List images" alt="List images" data-rel="225x255" width="1352" height="641" />
      <figcaption>Fig. 2 — List of Images</figcaption>
    </figure>
    <p>If you have more than one Assignment, you will see a list of them: each Assignment has its own LS (list) action which will give a list of all the Images in that Group.</p>
    <figure class="site">
      <img src="/system/images/W1siZiIsIjIwMTkvMDQvMTEvNGxyMm8wd285Y190cl92aWV3X2Fzc2lnbm1lbnRzX211bHRpcGxlLnBuZyJdXQ/tr-view-assignments-multiple.png?sha=6be298d24c6e349c" title="List assignments" alt="List assignments" data-rel="225x255" width="1355" height="497" />
      <figcaption>Fig. 3 — List of Assignments</figcaption>
    </figure>

    <h2 id="progress">Recording your progress</h2>
    <p>When you have finished transcribing the Images in an Assignment, upload the file to FreeREG in the usual way and wait for the email that says the file has been processed successfully. Then, from the list of Images screen, select the ‘Send finish email to SC’ button: this will send an email automatically to your SC and change the status of your Assignment to <em>Transcription Submitted</em>. When your SC has accepted your transcription, the Assignment will be removed from your list.</p>
    <p class="islet islet--magenta">Please remember that when your SC has accepted your transcription, you must delete any downloaded Images from your computer.</p>

    <h2 id="nextWork">Your next Assignment</h2>
    <p class="push-half--bottom">When your SC has received the email and accepted your transcription, they should Assign you your next Image Group. If you do not receive a new Assignment and need more work, go to ‘Assignments’. There you will see two actions that show you what is available for transcription:</p>
    <ul>
      <li>‘List Image Groups Under My Syndicate’ simply lists all the Image Groups that are Allocated<sup>†</sup> to your Syndicate</li>
      <li>Or select ‘Image Groups Available for Allocation (By County)’: this lets you choose a county and then see what is available there. Then select the action to send an email to your SC requesting work from that county.</li>
    </ul>
    </div>
</div>