<h1>Utilities</h1>

<p>There are a number of useful system function available in the rake namespace Foo.</p>

<p><a href="/cms/system-documents/utilities/fix-refinery-user-table" title="Fix Refinery User Table">Review Refinery Users Table for missing entries and fixing if required</a>
</p>
<p><a href="/cms/system-documents/utilities/refresh-place-cache" title="Refresh Place Cache">Refresh Places Cache</a>
</p>