<h1>Your Reviews (old)</h1>

<p><span class="loz islet--orange">Page needs: ?some new quotes + ???</span> </p>

<div class="grid">
<div class="grid__item three-fifths lap-two-thirds palm-one-whole">
<p class="lead">A selection of messages sent by researchers, pleased to have found their ancestors in our database.</p>

<blockquote class="island island--light">
    <p>I just wanted to say a big thank you to all your wonderful transcribers and supporters and the eyestrain and endless hours they put in.</p>
    <p>How many people would never have found their families without it?</p>
    <p>Going through every single parish in Somerset searching for wandering aglabs would need two lifetimes and daunt even the most determined.</p>
    <p>Your search facility is so easy to use and enables a trace back through the generations.  If only the Parish clergy had been so thorough.</p>
    <p>Just wanted to express my gratitude and appreciation, especially from Oz.<br />
regards </p>
    <span class="source">Joy Pritchett</span>
 </blockquote>

<blockquote class="island island--bordered">
    <p>I’m just returning to my researches after several months away, and am deeply impressed by the progress of the site. Keep up the good work, and many thanks.</p>
    <span class="source">Gillian</span>
 </blockquote>

<blockquote class="island island--light">
    <p>I have just found my “brick wall”  after 4 years- and it was found in Somerset, (Timsbury)!</p>
    <p>Without the hard work of all your transcribers, my research would have taken ages- but there they were:
the Powells, Boxes- all their details listed- thank you, thank you!</p>
    <span class="source">Rosemary Cryer; Vancouver BC</span>
</blockquote>

<blockquote class="island island--bordered">
    <p>Keep up the good work, you are changing the task of tracing ancestors from a distance from impossible to achievable - thanks again,</p>
    <span class="source">Ross in New Zealand</span>
</blockquote>

<blockquote class="island island--light">
    <p>I just wanted to offer my thanks and appreciation to all of you diligent transcribers who contribute countless hours to the FreeReg project.  What a great resource it is!</p>
    <span class="source">Ros in Canada</span>
</blockquote>

<blockquote class="island island--bordered">
    <p>I just cannot thank you and your colleagues enough, not only are you saving me many dollars but also helping to keep my blood pressure within limits, yesterday I found the burial of some of my direct ancestors on your site which I had been looking for for years,the family lived in Bawdeswell but went to Briston to die…</p>

    <p>Keep up the good work it is appreciated I can tell you.</p>
    <span class="source">Dennis</span>
</blockquote>

<blockquote class="island island--light">
    <p>I had never "searched" on the FreeReg website, but yesterday I decided to try it out. I have been searching unsuccessfully for the family name of one of my 5th Great-Grandmothers (1728-1793) for a long time now. I know she lived in Wiveliscombe with her husband and 6 children, but could find not find where or when she was married. I decided to enter the name of her husband and search for marriages for two years before their first child was born in 1746. Low and behold I actually found the entry in Langford Budville, Somerset. Really exciting !!! So I owe a big thank you to FreeReg.</p>
    <span class="source">Val</span>
</blockquote>

<blockquote class="island island--bordered">
    <p>Can I just say  a great big thank you to all those lovely people who are  transcribing Northants registers for FreeReg.<br />  Each time you have posted that the site has been updated, I have gone in and actually found something really useful.  I'm afraid age and ill-health means I can't travel up to Northamptonshire anymore, so the web-site is a real blessing.<br /> Thank you all.<br /> Kind regards,</p>
    <span class="source">Sandra</span>
</blockquote>

<blockquote class="island island--light">
    <p>I have been looking for that marriage record for ages and but for the transcribers hard work, I would still be none the wiser.  I also found Mary Pilgrim's baptism record at Felmingham so the transcriber has really done a great job in helping me find my ancestors. </p> 

    <p>I just feel so happy to have found another piece of the jigsaw of my family history and I'll never forget that the Felmingham transcriber helped me to do just that.</p>

    <p>Best wishes,</p>
    <span class="source">Lynn</span>
</blockquote>

<blockquote class="island island--bordered">
    <p>I felt I had to write to thank Anna for pointing me to FreeReg records for Wellingborough, where I found the baptism of my long sought great great grandmother Elizabeth Clevely in 1803…</p>
    <p>…The silly thing is that I have used FreeBMD many times and have previously used FreeReg for other areas but had not thought to check there for Wellingborough.</p>
    <span class="source">Bob, Cardiff</span>
</blockquote>

<blockquote class="island island--light">
    <p>I just want to say thanks as I think I may have just found one of my direct ancestors that I have been looking for for years.<br />
I came across your FreeReg site purely by chance when "googling" this morning and when I searched,  found Richard Shipley of Marston Trussell.</p>
    <p>What perfect timing - as I see those records have only recently been added.</p>
    <span class="source">Fee, Bristol England</span>
</blockquote> 

<blockquote class="island island--bordered">
    <p>May I just take this opportunity, along with many others I'm sure, to thank you and all the helpers and transcribers for all the hard work that has, and is being put into this site.  For myself and all the Vince families around the globe you have helped us break down Norfolk 'brick walls' that have existed for far too long.<br />
Best wishes and thanks again</p>
    <span class="source">Peter</span>
</blockquote>

<blockquote class="island island--light">
    <p>Hi, <br />
Congratulations on a great site, easy to search and most importantly you've kept it accessible to all, without charges, which so many other greedy site have opted for. <br />
Thank you,</p>
    <span class="source">Grant Barker</span>
</blockquote>

<blockquote class="island island--bordered">
    <p>Not used it for a while and obviously it has been updated as I
found some of my GREEN baptism gaps. Also managed to find a marriage
for my 4xG Grandparents so over the moon am I</p>
    <p>To all transcribers a warm felt thank you. Keep up the good work
<br />Regards </p>
    <span class="source">Denise in Scotland</span>
</blockquote>

<a href="#">|Top of Page|</a>

</div>
</div>