<h1 class="beta">You have <%= pluralize(@saved_searches.count, "saved search")%></h1>
<table class="table--bordered table--data ">
  <caption class='accessibility'></caption>
  <thead>
    <tr>
      <th>Search Again</th>
      <th>Search Query ID</th>
    </tr>
  </thead>
  <tbody>
    <% @saved_searches.each do |search| %>
      <tr>
        <td>
          <center>
            <%= link_to("Run this search", search_query_path(search.search_id, saved_search: search.id), :rel => "nofollow", :title => "", class: "btn  btn--small")%>
          </center>
        </td>
        <td class="table--data">
          <dl>
            <% search_query = SearchQuery.find(search.search_id) %>
            <% search_criteria = bmd_search_criteria(search_query) %>
            <% search_criteria.each do |name, value| %>
              <dt class="criteria__name epsilon"><%= name %>: <span><strong><%= value %></strong></span></dt>
              <!--dd class="criteria__value zeta"><%#= value %></dd-->
            <% end %>
          </dl>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
    <!--/div-->
  
