<div class="container">
  <div class="grid">
    <div class="grid__item seven-tenths lap-seven-tenths palm-one-whole ">
      <%= render partial: "list_saved_searches" %>
    </div>
    <% if device_type == :desktop %>
      <div class="grid__item two-tenths lap-two-tenths palm-one-whole "  id='results_table_ad'>
        <center><p>Advertisement</p>
        <%#= adsence_right_side_banner %></center>
      </div>
    <% end %>
  </div>
</div>