<% unless defined?(@printable_format) && @printable_format %>
  <div class="grid">
    <div class="grid__item one-third lap-one-half palm-one-whole">
      <% if @result_count > 0 && @result_count < FreeregOptionsConstants::MAXIMUM_NUMBER_OF_RESULTS %>
        <div class="read-length push--bottom" style="margin-left: auto; margin-right: auto;"><br>
          <center><a href="#" class="freeBMD" id="donate"><%= FeedbackIconHelper::FEEDBACK_ICON.html_safe %></a></center>
          <p class="push-half--bottom">FreeBMD2 is a work in progress; we want your feedback on all aspects so that we can make it better.</p>
        </div>
      <% end %>
    </div>
    <div class="grid__item one-third lap-one-half palm-one-whole">
      <% if @result_count > 0 && @result_count < FreeregOptionsConstants::MAXIMUM_NUMBER_OF_RESULTS %>
        <%= render 'please_donate' %>
      <% end %>
    </div>
    <div class="grid__item one-third lap-one-half palm-one-whole">
      <% if @result_count > 0 && @result_count < FreeregOptionsConstants::MAXIMUM_NUMBER_OF_RESULTS %>
        <div class="read-length push--bottom" style="margin-left: auto; margin-right: auto;"><br>
          <center><a href="#" class="freeBMD" id="donate"><%= VolunteerIconHelper::VOLUNTEER_ICON.html_safe %></a></center>
          <p class="push-half--bottom">Have a spare 30 minutes a week? Give back by volunteering!</p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>