<br>
<p>These additional entries with partly-readable names could be relevant:</p>
<% @result_count = @ucf_results.size %>
<% if device_type == :desktop || device_type == :tablet %>
  <%= render(:partial => app_specific_partial("desktop"), :locals => {:search_results => @ucf_results, :ucf_results => true}) %>
<% else %>
  <%= render(:partial => app_specific_partial("mobile"), :locals => {:search_results => @ucf_results, :ucf_results => true}) %>
<% end %>