<div class="island float--right">
  <p class="read-length"><%= pluralize(number_with_delimiter(@result_count, :delimiter => ','), ' result', ' results') %> is too large a result set to be useful. Consider narrowing down your search. If you did not include all of the following in your search, try adding one or more of them:</p>
  <ul>
    <li>Forename</li>
    <li>Event (e.g. only marriages)</li>
    <li>Date range</li>
    <li>County, and District</li>
  </ul>
  <p class='read-length'>If you’ve used a wildcard, this is particularly good advice. For more information about searching, see the FreeBMD <a href='https://beta.freebmd2.org.uk/help/search_help'>Help</a> page.</p>
</div>
