<div class="island">
  <h2 class="gamma text--negative push-half--bottom">Too many search results</h2>
  <p class="read-length"> Consider adding a forename if not already included or adding a date range. <br>
    <% if appname_downcase == 'freebmd' %>
    <%else%>
      <% if appname_downcase == 'freecen' %>
        You can also limit the number of census years that are searched.<br>
      <% elsif appname_downcase == 'freereg' %>
        You can also select the type of event that is searched (e.g. baptism).<br>
      <% end%>
      If you are using the Nearby Option then select the Narrow Search button above to halve the number of additional places. It can be used again and again if desired. <br>
      The number of results for this search equals or exceeds our display limit of <%= FreeregOptionsConstants::MAXIMUM_NUMBER_OF_RESULTS%>. This limit is there to avoid overloading your device with too much information at one time.
    <% end %>
  </p>
</div>