<div class="island">
  <h2 class="gamma text--negative push-half--bottom">No results found</h2>
  <p class="read-length">This could be because there are no transcriptions for the Places you were searching: our <%= show_contents_link%> pages will tell you what we have transcribed. <br>
    Or you may need to recast your search options: see our <%= link_to "Search Tips", "/cms/help", :title => "Help" %> for advice on how to get the most out of your searches.</p>
</div>