<div class="island">
  <h2 class="gamma text--negative push-half--bottom">No results found</h2>
  <p class="read-length">You may need to recast your search options: see our <%= link_to "Search Tips", "/cms/help", :title => "Help" %> for advice on how to get the most out of your searches.<br>
    <% if MyopicVicar::Application.config.template_set == 'freecen' %>
      Alternatively you were searching for entries that simply do not exist in our database because: We have yet to transcribe the census; there are gaps in the census or they no longer exist; we do not have the financial resources to purchase copies of the census documents; or the National Archives (Scotland) will not permit us to acquire copies of the census documents and make the transcriptions freely available. <br>
      Our <%= link_to "Records", "/freecen_coverage?locale=en", :title => "Records"  %> pages can tell you what we have transcribed and the periods of their availability.
    <% else%>
      Alternatively you were searching for entries that simply do not exist in our database because: We have yet to transcribe the registers; there are gaps in the registers or they no longer exist; the transcriptions are subject to an embargo on their publication; we do not have the financial resources to purchase the registers; or Record Offices will not permit us to acquire copies of the registers. <br>
      Our <%= link_to "Records", "/freereg_contents/new?locale=en", :title => "Records"  %> pages can tell you what we have transcribed and the periods of their availability. They also contain lists of the actual names that appear in a register so that you may consider alternative spellings.
    <% end%>
  </p>
</div>