<div class='container push--bottom'>
  <div class="grid">
    <div class="desk-wide-seven-tenths desk-seven-tenths lap-seven-tenths palm-one-whole">
      <span class="weight--semibold">We found <%= pluralize(number_with_delimiter(@result_count, :delimiter => ','), ' result', ' results') %> for <%= titleize_string(@search_query[:first_name])  %> <%= upcase_string(@search_query[:last_name]) %></span>
      <hr/>
      <p class="text--center" style="color: #666; font-style: italic;">
        Scroll down to load more results automatically
      </p>
    </div>
  </div>
</div>