<div class="island">
  <h2 class="gamma text--negative push-half--bottom">Search timed out</h2>
	<p class="read-length"> Consider narrowing down your search. If you did not include all of the following in your search, try adding one or more of them:</p>
	<ul>
	  <li>Forename</li>
	  <li>Event (e.g. only marriages)</li>
	  <li>Date range</li>
	  <li>County, and District</li>
	</ul>
	<p class='read-length'>If you’ve used a wildcard, this is particularly good advice. For more information about searching, see the FreeBMD <a href='https://beta.freebmd.org.uk/cms/help#howToSearch'>Help</a> page(or equivalent)</p>
</div>