<div class="island">
  <h2 class="gamma text--negative push-half--bottom">
  		Too many search results
	</h2>
  <p class="read-length">Please refine (narrow down) your search.<br>
    The number of results for this search equals or exceeds our display limit of <%= appname_downcase == 'freebmd' ? FreeregOptionsConstants::MAXIMUM_NUMBER_OF_BMD_RESULTS : FreeregOptionsConstants::MAXIMUM_NUMBER_OF_RESULTS %>. This limit is there to avoid overloading your device with too much information at one time.</p>
</div>