<section>
	<div class="container">
	  <div class="grid">
	    <div class="grid__item one-whole lap-one-whole palm-one-whole ">
				<%= render 'display_search_criteria' %> 
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
	  <div class="grid">
	    <div class="grid__item one-half lap-one-half palm-one-whole scrollable " id='bmd_results'>
	    	Search Results
	      <%= render(:partial => app_specific_partial("desktop"), :locals => {:search_results => @save_search_results, :first_name => @search_query.first_name, :last_name => @search_query.last_name, :ucf_results => false})  %>
	    </div>
	    <div class="grid__item one-half lap-one-half palm-one-whole scrollable " id='bmd_results'>
	    	Saved Search Results
	      <%= render(:partial => app_specific_partial("desktop"), :locals => {:search_results => @search_results, :first_name => @search_query.first_name, :last_name => @search_query.last_name, :ucf_results => false})  %>
	    </div>
	  </div>
	</div>
</section>