<section class="islet islet--light soft--left hard--bottom">
	<div class="container">
	  <div class="grid">
	  	<i class="fa fa-times float--right project-text-color" id="hide-search-criteria" tabindex="0"></i>
	    <div class="grid__item one-whole lap-one-whole palm-one-whole ">
	    	<h2 class="epsilon flush--bottom push-half--bottom"><em>When you searched for:</em></h2>
				<div class="criteria-group">
          <% search_criteria = bmd_search_criteria(@search_query) %>
          <% search_criteria.each do |name, value| %>
            <dl class="criteria">
              <dt class="criteria__name epsilon"><%= name %></dt>
              <dd class="criteria__value zeta"><%= value %></dd>
            </dl>
          <% end %>
        </div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
	  <div class="grid">
		    <div class="grid__item one-half lap-one-half palm-one-whole " id='bmd_results'>
		    	Search Results
		    	<div class="scrollable">
			      <%= render(:partial => app_specific_partial("desktop"), :locals => {:search_results => @save_search_results, :first_name => @search_query.first_name, :last_name => @search_query.last_name, :ucf_results => false})  %>
		    	</div>
		  </div>
		  <div class="grid__item one-half lap-one-half palm-one-whole " id='bmd_results'>
		  	Saved Search Results
		    <div class="scrollable">
		      <%= render(:partial => app_specific_partial("desktop"), :locals => {:search_results => @search_results, :first_name => @search_query.first_name, :last_name => @search_query.last_name, :ucf_results => false})  %>
		    </div>
		  </div>
	  </div>
	</div>
</section>