<% title "Search Query" %>
<%= render "flash_notice" %>
<% unless @page.nil?%>
  <div class="weight--bold text--center text--red" >
    <%= @page%>
  </div>
<% end%>
<% case appname_downcase %>
<% when 'freereg' %>
<h1 class="title text--center">Search our Parish Registers</h1>
<% when 'freecen' %>
<h1 class="title text--center">Search our Census Records</h1>
<% when 'freebmd' %>
<h1 class="title bmd_search_header">Search our Birth/Marriage/Death Records</h1>
<% end %>
<%= render app_specific_partial('form') %>