<% title "Search Query" %>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
  </div>
<% end %>
<h1 class="title text--center">Search our Parish Registers</h1>
<h5 class="text--center" style="color:red">We are aware of a search issue sometimes bouncing users back to the search page and are currently working to fix this.</h5>
<%= render 'form' %>
<% unless @page.nil?%>
  <div class="weight--semibold">
    <%= @page%>
  </div>
<% end%>