<%= render "form" %>
<% content_for :sidebar do %>
	<h3 class="beta  text--teal">Sidebar Content</h3>
	<p>
		Bacon ipsum dolor amet landjaeger fatback nulla, sint reprehenderit pork belly irure do fugiat ipsum corned beef rump ex magna spare ribs. Incididunt nostrud eu meatball deserunt nisi short loin short ribs shank biltong tri-tip. Sunt tenderloin non occaecat aliquip, do veniam chicken capicola enim fatback ipsum et beef ribs.
	</p>
<% end %>
