<h1>DRAFT - Help - Why order a Certificate?</h1>

<p><style scoped="scoped">
.remove { text-decoration: line-through; color: #737373; }
</style>
</p>

<p><mark>Preliminary checking of grammar &amp; punctuation, readability and existing HTML done 18 Feb 21. AO</mark> </p>
<p> <mark> Being amended in line with Preliminary checking comments - work in progress - 21th Dec 2021. PC. </mark> </p>
  
  <p class="lead">This page summarises the information you <em>can</em> find in a birth, marriage or death Certificate — much more than the basic details shown in the Indexes. Only the GRO Indexes can be searched. So it also considers how a change, or correction, to a Register Entry may be reflected in the GRO Index.</p>
  <div class="grid">
  <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right">
    <div class="islet islet--bordered">
      <h2 class="title-block" id="thisPage">On this page</h2>
      <ul class="sub-nav">
        <li> <a href="#whyOrder">Why order a certificate?</a> </li> 
        <li><a href="#what">What can I find on a certificate?</a> </li> 
        <li class="open"><a href="#amendments">Official amendments to Registers</a> 
           <ul class="push-half--left push-half--bottom">
              <li><a href="#correctingMistakes">Correcting genuine mistakes or inadvertant errors</a> </li>
              <li><a href="#baptismalNames">Correcting a child’s registered forename after a baptism had taken place</a> </li>
           </ul>
         </li>
         <li><a href="#newEntry">Registering a new record</a> </li>
       </ul>
    </div>
   </aside>
  <div class="grid__item three-fifths lap-one-half palm-one-whole"> 
    <h2 id="whyOrder">Why order a certificate?</h2>
    <p>The main reason for ordering a Certificate is to gain access to the information on it. A certificate always has more information than is given in the GRO Index.</p>
    <p>The quarterly index at the start of Civil Registration was very basic. Just lists of people who had: been born, individually got married, or had died; plus the information needed to order a certificated copy of an entry in the Register — the Registration District and the GRO reference number.</p>
  <p>Gradually, over the years, more information was added to the GRO index. You can <a href="/cms/help/#gtkSearching" target="_blank">find a summary of what was added and when on our main Help page (opens in a new Tab)</a>.</p>
 <p class="islet islet--bordered">Particularly, useful to researchers were: the addition of the spouse’s surname to the marriage indexes: and addition of the age at death to the death index.</p>
  <p>Sometimes a GRO Register needed to be corrected or updated. Often, when this happened the GRO Index had to be updated as well. You may sometimes come across such changes in your searches. This may be: two similar Index entries; an amended Index entry; or what we call a <em>Late Entry</em> and a link to it. In the case of a <em>Late Entry</em>, the GRO will only supply you with the latest copy of the Certificate. So, this change in the Index — which reflects this event — may be the only available indication of a change.</p>
      
    <h2 id="what">What can I find on a certificate?</h2>
    <p>Certificates for each of the three events, births, marriages and deaths, will contain some or all of the following information, depending on when the event took place (and on what was recorded).</p>
  
    <h3 id="births">Births</h3>
    <p class="push-half--bottom">A Birth Certificate will show some or all of the following information:</p>
    <ul>
      <li>registration district, date &amp; place of birth</li>
      <li>child’s full forename(s) &amp; surname, child’s sex (gender)</li>
      <li>father’s name, his place of birth and Rank or Profession (occupation)</li>
      <li>mother’s name (including her surname(s) after and before marriage), her occupation, place of birth, and usual address</li>
      <li>informant’s name, informant’s qualification, informant’s address, informant’s signature</li>
      <li>date of registration of birth, registrar’s name &amp; signature</li>
      <li>child’s revised name (if any, after registration</li>
    </ul>
    <h4 class="push-half--bottom">Notes on birth certificates</h4>
     <ol>
        <li>The father’s name and details may be blank, indicating that the mother was perhaps unmarried at the time of the birth-registration.</li>
         <li>Mothers’ were not been traditionally required to provide their occupation.</li>
        <li>Note: the child's forename(s) might need to be revised after registration. Perhaps, at — a later — baptism a different set, or arrangement, of forenames were given. In this case, the birth certificate you receive will show both sets of forename(s): the original forename (s) in box 2 and the revised forename(s) in box 10. (see <a href="#deaths">Figure 1 - which is a death certicate — it only has nine boxes)</a>. The birth certificate has ten boxes. (see <a href="#baptismalNames">Correcting a child’s registered forename after a baptism had taken place</a> for more details).</li>
       <li>This may result in two entries in the GRO Indexes (often on the same Register page, but they might be in different quarters). Two identical entries apart from the two forenames, might suggest two different people, related or not, possibly twins? The GRO Indexes can not answer those questions, only the certificate or certificates can do that.</li>
       <li>If the mother is unmarried, the child’s surname will be the same as the mother’s. The mother may later marry the child’s father. After this, child’s birth might be re-registered under the father’s surname. See <a href="#newEntry">Registering a new record</a> for more details.</li>
     </ol>
   
  <h3 id="marriages">Marriages</h3>
    <p class="push-half--bottom">A Marriage Certificate will show some or all of the following information:</p>
    <ul>
      <li>district, church, parish, (or if applicable, the name of the Registry Office), location</li>
      <li>date of marriage, full forename(s), surnames and ages of both spouses</li>
      <li>each spouse’s marital-condition (that is: <em>bachelor</em>, <em>spinster</em>, <em>widower</em>, <em>widow,</em> (or more recently, <em>divorced</em>) and their Rank or Professions (occupations)</li>
      <li>for each spouse: father’s forename(s), surname &amp; Rank or Profession (occupation)</li>
      <li>witnesses’ names and signatures, name &amp; signature of priest or vicar or registrar</li>
    </ul>
  <h4>Notes on marriage certificates</h4>
  <ol>
     <li>Prior to 1st January 1912, the GRO Marriage Indexes did not name the spouse. So having found just one spouse, the link to the other spouse was through a matching Page number — a Page should have an even number of entries. From this date, the spouse’s surname was recorded in the index.</li>
    <li>The bride's occupation was mostly left blank (or a horizontal line entered), but entries start to appear from just after the end of the First World War: such as child nurse, dressmaker, nurse, machinist.</li>
      <li>The bride’s father may have a different surname. That may be a result of the bride’s previous marriage (see  <em>marital-condition</em> above), or her mother re-married and this might be a step-father.</li>
      <li>The father’s details may be blank, in which case that spouse’s mother may have been unmarried.</li>
      <li>Note: Marriage Registers are pre-printed in ‘landscape’ format and you will receive marriage certificates from the GRO and some Register Offices in this format copied onto A4 sized certificates. You should note that some Register Offices supply ‘Long marriage certificates’, with a page size of 370 mm x 165 mm (14.5 inch x 6.5 inch)</li>
    </ol>
    <h3 id="deaths">Deaths</h3>
    <p>And this is part of a death certificate:</p>
    <figure class="site site--wide">
      <%= image_tag 'death-cert.png?sha=6da809cc966ee522', alt: 'Death certificate', width: 1122, height: 341 %>
      <figcaption>Figure 1: Part of the death certificate with all the details (and boxes: 1 to 9).</figcaption>
    </figure>
   <p class="push-half--bottom">A Death Certificate will show some or all of the following information:</p>
    <ul>
      <li>registration district</li>
      <li>when and where the death occured</li>
      <li>full forename(s) &amp; surname, sex (gender)</li>
      <li>age at death, or alternatively date birth, occupation and Rank or Profession</li>
      <li>cause of death: if a doctor attended, it would state <strong>Certified by</strong> (name of informant)</li>
       <li>informant’s signature, qualification, and residence: if an inquest was held: its date and <strong>Certificate received from</strong> (name of Coroner)</li>
      <li>date of registration of death, registrar's signature</li>
    </ul>
  <h4>Notes on death certificates</h4>
    <ol>
     <li>For ladies, their Rank or Profession will often be recorded in the style, for example: <em>Daughter of Alfred Smith, Master Greengrocer;</em> <em>Wife of Alfred Smith, Master Greengrocer</em>; or, <em>Widow of Alfred Smith, Master Greengrocer</em>.</li>
     <li>If an inquest was held, depending on how long ago — there may be privacy constraints if living people are referenced — you may be able to obtain a copy of the Coroner’s records (if they survive), or find the highlights of the inquest reported in local newspapers of the time. </li>
     <li>For most of their existence, Death Registers were pre-printed in ‘landscape’ format and so death certificates were also supplied in this format. Since the early 1960s, certificates have been on A4 sized pre-printed forms. Death certificates were divided into an Entry number column followed by nine columns - see Figure 1.</li>
     <li>From [1970s ?] the format of death certificates changed to ‘portrait’ format, again with nine numbered boxes, vertically-stacked. The use of this revised layout provides more space for the details to be entered: such the cause(s) of death.</li>
    </ol>
  <h2 id="amendments">Official amendments to registers</h2>
  <h3 id="correctingMistakes">Correcting genuine mistakes or inadvertant errors</h3>
  <p> From the start of Civil Registrations, anyone registering an event and later realising that they had made a <em>genuine mistake or inadvertant error</em> could go back to the registrar and have the record <em>corrected</em>, by <strong>amendment</strong>. The original Register Entry would remain as unchanged, but it would have a signed “note” added by the Registrar.</p>
    <p>There is a prescribed way of “amending” a Register Entry and this is the “margin note” in the Register.</p>
  <h3 id="baptismalNames">Correcting a child’s registered forename after a baptism had taken place</h3>
  <p> From the start of Civil Registrations, Parliament recognised that a child might undergo baptism, some time after its birth had been Registered, and that its baptismal names and Civil Registration forenames might be different.</p>
  <p> The birth registers have a pre-printed column, the final (10th) column on the right handside of the page, for this purpose. This column was originally called <strong>Baptismal Name if added since Registration of birth</strong>; and you will see this term used on certificates from the local Register Office. The GRO now uses the newer term <strong>child’s revised name (if any, after registration)</strong> on its certificates. In the majority of cases, this box will be empty / unused, apart from being crossed through with a diagonal line (bottom left to top right).</p>
  <p>If there is a need to make use of this facility, there will be two entries in the GRO Birth Index. They will be identical appart from the child’s forenames.</p> 
   <h2 id="newEntry">Registering a new record</h2>
   <p>If for some reason a new entry was needed,..... such as the so-called </p>
   <p>If this took place in a later quarter then the original entry, or the event was registered much later then the legistlation allowed, the GRO Index might have to be amended This may result in what FreeBMD calls a <strong>Late Entry</strong>, the GRO will send you a certificated copy of the latest, amended birth record, not of the original record. A search on FreeBMD2 will indicate when a record, a <em>hit</em>, is a Late Entry, or if it’s referenced by a Late Entry.
   </p>
<p>Note: if the <strong>Page number</strong> looks like “M/67” it is a Late Entry. You can find out more them on our [Late Entry page]("Late Entries"). You will need to find the “matching Late Entry”, which will have a full GRO reference, and ensure that you quote that on your order.</p> 
    

</div>

</div>