<h1>DRAFT - Help - Late Entries</h1>

<style scoped="scoped">
.replace { text-decoration: line-through; color: #737373; }
figcaption {
  font-style: italic;
  color: #737373; /* 4.74:1 */
  margin-top: 0.3em;
}
figure.site img {
  border: 2px solid #00a099;
  padding: 0.3em;
  width: 100%;
  height: auto;
 max-width: 1000px;
}
</style>

<p class="lead"> On this page you will find information about a particular type of entry, a Late Entry: a special type entry which you may encounter during a search. The GRO Indexes contain some records of events in a particular year or quarter-year that relate to events which occurred in a earlier year or quarter-year (not necessarily the preceeding quarter). They are known as <em>Late Entries</em>. In these cases, the indexes often contain an special entry inserted in the quarter in which the event should have been registered that link towards the Late Entry. You will find here, how FreeBMD provides assistance in finding these late entries when searching and how you might interprete them. </p>

  <div class="grid">
    <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right">
      <div class="islet islet--bordered">
        <h2 class="title-block" id="thisPage">On this page</h2>
          <ul class="sub-nav">
            <li> <a href="#whatIs"> What is a Late Entry? </a> </li>
           <li> <a href="#assist"> How does FreeBMD assist? </a> </li>
           <li> <a href="#lErefs"> Late Entry references </a> </li>
           <li> <a href="#problems">What are the problems with late entries? </a> </li>
       </ul>
    </div>
   </aside>
 <div class="grid__item three-fifths lap-one-half palm-one-whole">
  
  <h2 id="whatIs"> What is a Late Entry? </h2>
  <p class="islet islet--light">All three events (a Birth, Marriage or a Death) are usually registered locally soon after they have occured and they will, therefore, appear in the GRO indexes for that particular quarter, or the quarter immediately following the event. The system of Civil Registration operates under rules that specify the maximum time frame in which each of these three events should be reported to the local Registry Office. Marriages are typically registered during the marriage ceremony, either at a religious service in a church, etc, or at a civil wedding in a registry office or other recognised place. Deaths are typically also registered within a short time frame due to the legal constraints of arranging funerals, which cannot proceed without a valid death certificate. Births historically tend to have the longest time-frame for reporting. </p>
  <p>Events registered later than normal, sometimes several months or years later, will appear in the GRO Indexes for the quarter in which they are registered with the local Registry Office. In such cases, the <strong>quarter in which the event should have appeared</strong> is often annotated with a special type of entry: which is a link to the Late Entry. This entry, depending on the time-period in which the event happened, may either be a hand-written link to the late entry; or a printed link. You will neeed to go to the <em>late entry</em> itself to obtain the indexed record of the event [ and to obtain a certified copy of the record.] [link to: Ordering Certificates].</p>
  <p>Alternatively, an existing entry registered in the normal time-frame might have needed to be changed. Examples being: a birth entry where the child was later baptised with names that differ from those given at the time of registration; or, the mother was unmarried at the time but later married the child's father; or to correct other information in the entry. In such cases, the existing entry is either left unaltered in the index and a link added <em>pointing </em>to the new entry; or the existing entry has a handwritten amendment, added in such a way that the original entry remains legible, linking it to the new entry. Note: the original entry is not removed or deleated, but the GRO will only supply a [certified copy of the record referenced by the amended entry.] [link to: Ordering Certificates]</p>

  <h3 id="lE-Pre1984"> An example of pre-1984 Late Entries </h3>
  <p> An example may help to illustrate a late entry:</p>
     <figure class="site">
  <%= image_tag 'LateEntry1.png?sha=c8de42568b33aaaa', alt: 'LateEntry1', title: 'LateEntry1', width: 454, height: 270 %>
    <figcaption> Figure 1: Extract from a page of the births Index for 1909, second quarter.</figcaption>
    </figure>
 <p class="push-half--bottom">In June-quarter of 1909 we have an entry which shows a handwritten addition (at the bottom of the column) of: </p>
  <p class="islet islet--bordered push-half--left">Smith, John, Liverpool, 8B, See M/31</p> 
  <p>which is a link to a Late Entry reference. This indicates that there is an entry in the March-quarter of 1931 that should have been recorded in this quarter; and that its <em>correct place</em> on the index page is between the two lines indicated by its insertion mark. (Note: the surname Smith is not visible on this extract).</p> 
  <p>Then in the March-quarter of 1931 we have:</p> 
  <figure class="site">
    <%= image_tag 'LateEntry2.gif?sha=817daf74bef8307e', alt: 'LateEntry2', title: 'LateEntry2', width: 100 %>
     <figcaption> Figure 2: Extract from a page of the births Index for1931, first quarter.</figcaption>
  </figure>
  <p class="push-half--bottom"> where we see that there is an late entry: </p>
  <p class="islet islet--bordered push-half--left">Smith, John, Liverpool, 8b, 154 </p>
  <p> (Note: the surname Smith is not visible on this line).</p>

  <h3 id="lE-Post1983"> An example of post-1983 Late Entries </h3>
   <p> Two of the changes that the GRO made from 1st January 1984 was to change from Quarterly to Annual indexes; and to list individual entries with their month of registration rather than quarter. </p>
  <p>So, if the Late Entry and the matching birth entries were registered in the same year and the given-names remain relatively unchanged the entries may appear on the same index page (as in these two examples). </p>
  <figure class="site">
     <%= image_tag 'Post-1983%20Late%20Entry.png?sha=555048bca1a77e95', alt: 'Post-1983 Late Entries', title: 'Post-1983 Late Entries', width: 100 %>
     <figcaption> Figure 3: An example of two sets of post-1983 Late Entry birth records from 1989. </figcaption>
  </figure>
 <p class="push-half--bottom">  In reverse order of listing: the second set consists of three entries all registered in May 1989 (<strong>05.89</strong>) and apparently linked to a Late Entry of the birth of a child <strong>Martin John Phillips</strong>, whose mother's surname was <strong>MCPHERSON</strong>. In terms of layout, this example is comparable with pre-1984 entries, although all its entries are printed. The first of these three entries is a link to the Late Entry registered in the July quarter of 1993 (<strong>J93</strong>). The second and third entries were also both registered in May 1989 (<strong>05.89</strong>). The second entry is a Supplementary Page number <strong>N5972</strong> and the third entry has a <em>normal</em> page number <strong>1986</strong>. FreeBMD does not currently have the images for 1993 birth records, but the GRO site has a matching entry in the July-quarter of 1993, indicating that this birth may have been registered or re-registered in 1993.</p>
 <p> Next, we consider the first set of entries in more detail. In this example the first four entries appear to be linked to a Late Entry: the registration of the birth of a child <strong> Marc Phillips</strong>, whose mother's surname was also <strong>Phillips</strong>. The Late Entry was registered the same year as the registration of birth and appears on the same page of the index. It can be seen that both the first and fourth records were registered in January 1989 (<strong>01.89</strong>). The first entry consists of a link to the September quarter (<strong>S89</strong>) and it also appears to tie up with the second and third entries which were registered in July 1989 (<strong>07.89</strong>), which falls in the September quarter. The second entry has the Supplementary page number <strong>K6628</strong> and the third entry has a <em>normal</em> page number <strong>1377</strong> but they both relate to events registered in July 1989 (<strong>07.89</strong>). The fourth line has a <em>normal </em>page number <strong>1381</strong> but it relates to a event registered in January 1989 (<strong>01.89</strong>) so this may be related to the entry in the first line. </p>
  
  <h2 id="assist">How does FreeBMD assist? </h2>
  <mark> This refers to FreeBMD, FreeBMD2 has not yet implemented this feature </mark>
  <p> FreeBMD, by correlating together the reference to the Late Entry with the Late Entry itself, provides important help when you are researching these entries. This enables information to be quickly retrieved and,
in the case of the late entry, identifies the LateEentry which would otherwise not be evident unless the certificate was ordered.</p>

  <h2 id="lErefs"> Late Entry references </h2>
  <mark> The images in this section and its subsections are to be updated from FreeBMD(1) images to FreeBMD2 images - when they are implemented on test3 - PC </mark>
  <p> Taking our previous example, the entry in the search results that corresponded to the late entry reference would look like this <br />
[img src="] </p>
  <p> Since the page field contains the reference you could look at this quarter to find the entry. However, if you click on the [ button ] this is the information that will be displayed<br />
[ img src="/lateentry4.gif" alt="Late entry reference information"]
and it will be seen that the information from the late entry is immediately available without having to perform another search. To see the whole entry (the Mother's name is not shown) just click on the entry.</p>
  
  <h3> Late entries </h3>
  <p> However, if you were search in March 1931 and came across this entry<br />
[img src="/lateentry5.gif" alt="Late entry destination" class="scrap" ]
you would immediately be able to see that there was a reference to this entry because of the <span style="position: relative; top: +3px"><img src="/systemlink.gif" /></span> symbol. Clicking on the 
<span style="position: relative; top: +3px"><img src="/btnInfo.gif" /></span> button would show this information:<br />
[ img src="/lateentry6.gif" alt="Late entry destination information" ]
which immediate shows you the correct date for the event. This is something you could not know without this advanced FreeBMD facility unless you ordered the certificate only to find that the event did not
occur in the year you were searching.</p>

  <h3> Late Entry reference ambiguities </h3>
  <p> There are occasions where a late entry reference is ambiguous. While FreeBMD cannot resolve this ambiguity (because there is not enough information in the index) it does give you information to enable you to recognise the situation and help resolve it. Take, for example, the entry<br />
[img src="/lateentry7.gif" alt="Late entry multiple reference" ] </p>
  <p> If you click on the <img src="/btnInfo.gif" /> button for this entry you get:<br />
<img src="/lateentry8.gif" alt="Late entry multiple reference information" class="scrap" /><br />
which clearly indicates that there are two possible entries that match this late entry reference.</p>
  <h3> Late Entry ambiguities </h3>
  <p> The corresponding late entries are shown in the search results like this<br />
[img src="/lateentry9.gif" alt="Late entry multiple destinations" class="scrap" ]
Clicking on the &lt;<img src="/btnInfo.gif" />&gt; button for one of them  would show you:<br />
[img src="/lateentry10.gif" alt="Late entry multiple destinations information" ]
Note how the information provided by FreeBMD not only clearly indicates that there is an ambiguity but also gives you the alternative entry. It would be possible to overlook this ambiguity without the help of the advanced FreeBMD facilities, for example if the search were limited by the page number.</p>

  <h2 id="problems"> What are the problems with late entries? </h2>
  <h3 id="identify"> Identifying them:</h3>
  <p> It will be observed from the example that there is no indication in the March 1931 late entry </p>
  <p class="islet islet--bordered push-half--left">Smith, John, Liverpool, 8b, 154</p> 
 <p>that this entry should appear in June 1909. The presumption would be that the birth occurred in the first half of 1931 which is very misleading if you know the approximate age of the person you are looking for.</p>
  <h3 id="LandF">Legibility and Format:</h3> 
  <p> In the example given the reference is clear and follows a well understood format of the first letter of the quarter (M,J, S or D) followed by a slash, followed by the year. However, the references are sometimes very difficult to read and the clerks who did these annotations were not always consistent and numerous forms
are found, such as </p>
  <p class="islet islet--bordered push-half--left">SeeMch'31</p>

  <h3 id="Errors"> Errors in Annotation:</h3>
  <p class="push-half--bottom"> There can also be errors in the annotation; in the above example </p>
  <p class="islet islet--bordered push-half--left">Smith, John, Blackburn, 8C, See S/27</p> 
  <p>appears to be erroneous because the entry in September 1927 has the volume as 8e. </p>
  <h3 id="dupps">Duplicate Entries:</h3> 
  <p> There can also be duplicate entries; there are actually two entries for </p>
  <p class="islet islet--bordered push-half--left">Smith, John, Blackburn, 8e,</p>
  <p>with different page numbers, of course, but there is no way to tell which of them is being referred to from June 1909. </p>

 </div>
</div>