<h1>DRAFT - GRO Fiche Availability (W-in-P)</h1>


<p class="lead"> This page provides information on where you may be able to view or purchase microfiche copies of the GRO indexes. The majority of the places listed are UK-based, but Australia, Canada, New Zealand and the United States are also covered, but less extensively. </p>
<div class="grid">
  <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right">
    <div class="islet islet--bordered">
      <h2 class="title-block" id="thisPage">On this page</h2>
       <ul class="sub-nav">
        <li> <a href="where">Where are the GRO indexes available? </a> </li>
        <li class="open"> <a href="#uk">The United Kingdom </a> 
              <ul class="push-half--left push-half--bottom">
                 <li><a href="#england">England - in order of County</a> </li>
                 <li><a href="#avon">Avon </a> </li>
                 <li><a href="#bedford">Bedford </a> </li>
                 <li><a href="#Berks">Berkshire </a> </li>
                 <li><a href="#Bucks">Buckinghamshire </a> </li>
                 <li><a href="#Cambs">Cambridgeshire </a> </li>
                 <li><a href="#cleveland">Cleveland </a> </li>
                 <li><a href="#cornwall">Cornwall </a> </li>
                 <li><a href="#derbs">Derbyshire </a> </li>
                 <li><a href="#devon">Devon </a> </li> 
                 <li><a href="#dorest">Dorset </a> </li>  
                 <li><a href="#durham">Durham</a> </li>
                 <li><a href="#glos">Gloucestershire </a> </li>  
                 <li><a href="#greatMan">Greater Manchester </a> </li>  
                 <li><a href="#hamps">Hampshire </a> </li> 
                 <li><a href="#herts">Hertfordshire </a> </li>
                 <li><a href="#hull">Hull </a> </li>  
                 <li><a href="secondSub">Second sub-section</a> </li>
               </ul>  
          </li>
        <li><a href="#au">Australia</a> </li>
        <li> <a href="#ca">Canada</a> </li>
        <li> <a href="#nz">New Zealand</a> </li>
        <li> <a href="#us">The USA</a> </li>
     </ul>
    </div>
  </aside> 
 <div class="grid__item three-fifths lap-one-half palm-one-whole">
  <mark> The accuracy of the info on this page may be out of date </mark>
 
  <div class="islet - islet--light">
    <p>If you can add to/correct to the information on this page, please contact [add link to contact point]. </p>
   <p> <strong>Information wanted:</strong> Location of index, years of index held, cost, hours of operation, contact info/phone number.</p>
  </div>
  <h2 id="where"> Where are the GRO indexes available? </h2>
  <p> Please note that most Latter-Day Saint Family History Centers (LDS FHC) have GRO indexes or are able to cheaply bring in the fiche so check your local FHC for sources at the LDS website: <a href="http://www.familysearch.org/" target="_blank">(Page opens in a new Tab).</a> </p>
  <p class="islet islet--neutral"> Back on 7th September 2017, LHS stopped circulating microfilm, so all instances of reference to microfilm/fitch need to be checked; and revised where necessary. </p>

  <p> The General Register Office in its Customer Guide No. 4: <em>The GRO Index Reference</em>, lists all the seven current holders of their full indexes, on microfilm. You can down load a copy of:
<a href="https://www.gro.gov.uk/gro/content/certificates/images/CG4.pdf" target="_blank">CG4 from here. (Page opens in a new Tab)</a>. </p>
 <h2 id="uk">The United Kingdom </h2>
   <ul>
       <li>ONS - the fiche are for sale<br />
    Single year one event (e.g. births or marriages or deaths) 24 pounds<br />
    Single year all events (e.g. births &amp; marriages &amp; deaths) 72 pounds<br />
    Prices including postage &amp; packing but excluding 17.5% VAT (a UK sales tax).<br />
    Overseas purchases do not pay VAT. (Non EU, I think)</li>

       <li>Family History Centers (LDS) has GRO BMD indexes as both microfilm and microfiche (up to Dec 1983). Film can be ordering into any Family History Center around the world and the fiche stays in the center indefinitely while he film usually stays for about one month.<br />  To find the location of the nearest Family History Center, check out their website <a href="http://www.familysearch.org/">http://www.familysearch.org/</a>      </li>
   </ul>

  <h3 id="england">England - in order of County</h3>
  <h4 id="avon">Avon </h4>
     <ul>
        <li>Bath Central Library, 19 The Podium, Northgate St., Bath BA1 5AN, has GRO BMD indexes from 1837 to 1910. Phone: 0122 542 8144.</li>
        <li>Bristol City Library, College Green, Bristol, BS1 5TL, has an almost complete set of GRO BMD indexes from 1837 to 1983. There are at least 7 fiche readers which have to be booked and there is a booking charge. Some of the fiche are very dark and hard to read. Phone: 0117 9037202. In 2002/3 somebody stole large numbers of fiche. They have taken mostly from S to Z for all years and the whole of 1984 to 1992.</li>
        <li>LDS Family History Center, 721 Wells Road, Bristol has GRO BMD on film and fiche. No charge but time has to be booked. Phone 01275 838276, 01275 838326, 01275 838937.</li>
   </ul>

  <h4 id="bedford">Bedford </h4>
    <ul>
       <li>Bedford Central Library, Harpur St., Bedford MK40 1PG,&#160; has GRO BMD indexes from 1837 to 1992 (machines can be booked in advance). Phone: 01234 270102.</li>
    </ul>

   <h4 id="Berks">Berkshire </h4>
      <ul>
         <li>Berkshire Record Office, 9 Coley Avenue, Reading, Berks, RG1 6AF, has GRO BMD indexes from 1837 to 2004. Phone: +44 (0)0118 901 5132, Fax: +44 (0)118 901 5131, website: <a href="http://www.berkshirerecordoffice.org.uk/family-history/national-resources/" target="_blank">Berkshire Record Office's <em>Family-history National-resources page</em> (Opens in a new Tab).</a> </li>
      </ul>

  <h4 id="Bucks">Buckinghamshire </h4>
     <ul>
         <li>County Reference Library, Walton St., Aylesbury, Buckinghamshire, HP20 1UU, has GRO BMD indexes from 1837 to 1992. Phone: 01296 382250.</li>
          <li>Milton Keynes Central Library has GRO BMD Fiches. No charge for use of Fiche Reader. A4 printouts charged for. Located in the family history/local studies library which is on the ground floor.</li>
      </ul>

    <h4 id="Cambs">Cambridgeshire </h4>
       <ul>
          <li>Cambridgeshire Record, Shire Hall, Castle Hill, Cambridge, CB3 0AP, has  GRO BMD indexes from 1837 to 1912. Phone: 01223717282.</li>
      </ul>

   <h4 id="cleveland">Cleveland </h4>
      <ul>
         <li>Middlesbrough Archives has incomplete set of GRO Birth records.</li>
         <li>Middlesbrough Central Library, Reference department, Victoria Square, Middlesbrough, Cleveland, TS1 2AY, has a GRO BMD index from 1837 to 1992. It is free to the public. Phone: 01642 263359.</li>
         <li>Stockton Reference Library, Church Road, Stockton-on-Tees, Cleveland, TS18 1TU has GRO BMD indexes from 1837 to 1992. Phone: 01642 393994, Fax: 01642  393929. It is free, but you must ring to book a reader.</li>
    </ul>

   <h4 id="cornwall">Cornwall </h4>
     <ul>
       <li>Cornish Studies Library, 2-4 Clinton Road, Redruth, Cornwall, TR15 2QE has GRO BMD indexes from 1837 to 1939. Phone: 01209216760. Bookings advisable. Open from 10:00-18:00 Mon-Fri and 09:00-12:00 Sat. 
    No charge but a donations box is on the wall as you go out!</li>
       <li>Cornwall Family History Society Library, 5 Victoria Square, Truro, Cornwall, TR1 2RS, has GRO BMD indexes from 1837 to 1992 as well as overseas records. One pound per day is charged for use of the indexes which goes towards the cost of the original purchase. Phone: 01872 223797.</li>
    </ul>

    <h4 id="cumbria">Cumbria </h4>
       <ul>
           <li>Carlisle Library, 11 Globe Lane, Carlisle, Cumbria, CA3 8NX, has GRO BMD indexes from 1837 to 1996 as well as oversea records. Phone: 01228 607321.</li>
          <li>Barrow Records Office, Ramsden Square, Barrow in Furness, Cumbria has GRO BMD indexes.&#160; Fiche readers can be booked in advance.&#160; Tel 01229 894370</li>
       </ul>

   <h4 id="derbs">Derbyshire </h4>
      <ul>
         <li>Derbyshire FHS, Bridge Chapel House, St Mary's Bridge, Sowter Road, Derby, DE1 3AT, has GRO BMD indexes from 1837 to 1955.</li>
        <li>Local Studies Library, Derbyshire Libraries &amp; Heritage, County Hall, Matlock, Derbyshire, DE4 3AG, has GRO BMD indexes from 1837 to 1955 as well as overseas records. Phone: 01629 585579.</li>
     </ul>

  <h4 id="devon">Devon </h4>
     <ul>
       <li>Devon FHS, Units 3B &amp; 4B 7/9 King St., Exeter, Devon, has GRO BMD indexes from 1837 to 1901. Phone (Secretary's number): 01392 275917.</li>
       <li>North Devon Athenaeum, Tuly St., Barnstaple, Devon, EX31 1EL, has GRO BMD indexes from 1837 to 1983. Phone: 01271 388607.</li>
     </ul>

    <h4 id="dorset">Dorset </h4>
       <ul>
           <li>Dorset Record Office, Bridport Rd., Dorchester, Dorset, has GRO BMD indexes from 1837 to 1992. (also has IGI). The Record Office has had to adopt the following temporarily reduced opening hours (until Monday 5 July 2004):
            <p>Monday closed all day<br />
               Tues/Thur/Friday open 09:00 to 13:00 and 14:00 to 17:00<br />
               Wednesday Open 10:00 to 13:00 and 14:00 to 17:00<br />
               Saturday Open 09:30 to 12:30 </p>
            </li>
          </ul>

    <h4 id="durham">Durham </h4>
       <ul>
           <li>Darlington Library, Crown St., Darlington, Durham, DL1 1ND, has GRO BMD indexes from 1837 to 1992. Phone: 01325 286450.</li>
       </ul>

   <h4 id="essex">Essex </h4>
      <ul>
         <li>Local Studies Library, Central Library, Clements Rd., Ilford, Essex, IG1 1EA, has GRO BMD indexes from 1837 to 1992. Phone: 0181 478 7145 Ext 225. They charge 1 pound per hour to view indexes but you can only book 1 hour at a time.</li>
         <li>London Borough of Havering, Reference and Information Library, St Edwards Way, Romford, Essex, RM1 3AR, has GRO BMD indexes from 1837 to 1908.  Telephone booking advised 01708 432389 but no charge.</li>
      </ul>

  <h4 id="glos">Gloucestershire </h4>
    <ul>
        <li>LDS FHC in Cheltenham has GRO BMD indexes from 1837 to about 1984.</li>
	<li>Gloucestershire Family History Society, Spread Eagle Court, Northgate Street, Gloucester GL1 1SL. have GRO BMD indexes on fiche for 1837-2002 and a large collection of other resources, visitors welcome, 
see their website <a href="http://www.gfhs.org.uk" target="_blank"> <em>Helping People Discover Their Family History</em> (Page opens in a new Tab).</a> </li>
     </ul>

   <h4 id="greatMan">Greater Manchester </h4>
      <ul>
         <li>Archives and Local Studies, Central Library, Civic Centre, Bolton, Greater Manchester, BL1 1SE, has GRO BMD indexes from 1837 to 1947 as well as overseas records. Phone: 01204 522311.</li>
        <li>The Greater Manchester County Record Office, 56 Marshall St., New Cross, Manchester, M4 5FU,
    has GRO BMD indexes from 1837 to 2002 as well as overseas records. Open Mon, Tue, Thu &amp; Fri 09:00-17:00; 
    Wed 09:00-13:00; Sat (second and fourth of the month only) 09:00-12:00 noon and 13:00-16:00.
    <br /><br />No appointment is necessary to visit the office but if you wish to be assured of a machine to view microfilmed records then you can book in advance.  Phone: 0161 832 5284. Web Site <a href="http://www.gmcro.co.uk">www.gmcro.co.uk</a> </li>
       <li>Heritage Library, Central Library, Wellington Road South, Stockport, SK1 3RS, has GRO BMD indexes from 1837 to 1891. Phone: 0161 474 4530.</li>
    </ul>

   <h4 id="hamps">Hampshire </h4>
     <ul>
         <li>Basingstoke Library has GRO BM?D Fiches (unknown dates).</li>
         <li>Central Library, Guildhall Square, Portsmouth, Hampshire, PO1 2DX, has GRO BMD indexes from 1837 to 1983. Open 6 days a week, I think from something like 9:30 - 7:00. Need to book to use a microfiche reader, no charge, and take some form of ID with your address on it. You are also able to take printouts for 25p. They also hold the IGI and the Probate listings. Phone: 01705 819311 Ext 232, 234.</li>
         <li>Hampshire Record Office, Sussex St., Winchester, Hampshire, SO23 8TH, has GRO BMD indexes from 1837 to 1992. Booking is necessary but no charge is made for use. Opening hours are currently 09:00-19:00 weekdays &amp; 09:00-16:00 Saturday. Phone: 01962 846154.</li>
       <li>The Occupier, 31 Barton Drive, Southampton, SO31 4RG, has GRO BMD for the year of 1952.</li>
    </ul>

   <h4 id="herts">Herefordshire</h4>
      <ul>
          <li>Herefordshire Record Office, Old Barracks, Harold St., Hereford, Herefordshire, HR1 2QX, has GRO index from 1837 to 1970. Opening hours are: Tues, Thurs, Fri 09:15-16.45, Wed 10.00-16.45 and every 2nd Saturday of the month 09.15-16.45 Phone to book appropriate reader 01432 260750 (Email: archives@herefordshire.gov.uk). 
    Fiche and film readers have to be booked a couple of days in advance. Which type of reader depends on the date of the indexes you wish to view as earlier ones are on film and later ones on fiche. They do allow you to book both for the same session. The telephone will continue to be answered and e-mails picked up on the closed Mondays.</li>
     </ul>

   <h4 id="herts">Hertfordshire </h4>
  <ul>
  <li>Hertford Archives &amp; Local Studies (HALS), County Hall, Hertford,
    Hertfordshire, SG13 8EJ, have GRO BMD indexes from 1837 to 2000, as well as overseas records. 
    Open Mon 09:30-17:30, Tue 10:0-20:00, Wed &amp; Thu 09:30-17:30, Fri 09:30-16.30, Sat 09:00-13:00.
<br /><br />
 HALS has 11 viewers available. It is not necessary to book unless you wish to consult original 
 documents on a Tuesday evening or Saturday morning. Phone: 01992 555115. 
 Web Site: <a href="http://www.hertsdirect.org/libsleisure/heritage1/HALS" target="_blank">http://www.hertsdirect.org/libsleisure/heritage1/HALS</a>
<br />
Please note that original documents cannot be ordered between 12.15-2pm each day, or during the last hour before closing.</li>
  </ul>

   <h4 id="hull">Hull</h4>
      <ul>
          <li>Family History Unit, Central Library, Albion St., Hull, HU1 3TF, has GRO BMD indexes from 1837 to 1992 as well as overseas records. Phone 01482 883031.</li>
    </ul>

  <h4>Isle of Wight </h4>
  <ul>
  <li>Reference Library, Orchard St., Newport, Isle of Wight, PO30 1LL, has GRO
    BMD indexes from 1837 to ?. Phone: 01983 83800.</li>
  </ul>

  <h4>Kent </h4>
<ul>
  <li>Bromley Central Library, Local Studies Dept, High St., Bromley, Kent, has
    GRO BMD indexes from 1837 to 1992 as well as overseas records. They have
    about 12 machines, it is no longer necessary to book. Phone: 0181 460 9955 Ext 261.</li>
  <li>Bromley South Library has GRO BMD indexes.</li>
  <li>The Institute of Heraldic and Genealogical Studies, Northgate, Canterbury,
    Kent, CT1 1BA, has GRO BMD indexes from 1837 to 1993 as well as overseas
    records. Phone: 01227 768664.</li>
</ul>

<p>Lancashire </p>
<ul>
  <li>Family History Centre, LDS, Chorley, Lancs, has GRO BMD indexes from 1837
    to 1983.</li>
  <li>Reference &amp; Information Service, Harris Library, Market Square,
    Preston, Lancashire, PR1 2PP, has GRO BMD indexes from 1837 to 1983. Phone:
    01772 404010/2.</li>
  <li>Reference Library of Blackpool Central Library, Queen Street, Blackpool,
    FY1 1PX has GRO Birth indexes from 1837 to 1881 (Births 1882-1900, Marriages
    1837-1852 coming soon). Advance booking of
    reader/printer (2 available) recommended. Fiche readers usually available
    without booking.&#160; No charge for viewing. Printing 20p per copy. Library
    opening hours: Mon &amp; Fri 09:00-17:00 Wed &amp; Sat 10:00-17:00. Tue &amp; Thu
    09:00-19:00. Phone: 01253 478090.</li>
</ul>

<p>Leicestershire</p>
<ul>
  <li>Leicestershire &amp; Rutland Family History Society, Freeschool
    Lane, Leicester, Leicestershire, has GRO BMD indexes from 1837 to 1950.
    Phone: 0116 2516567. Web Page click <a href="http://www.geocities.com/Heartland/Pointe/3446">here</a>
</li>
</ul>

<p>Lincolnshire </p>
<ul>
  <li>Lincolnshire Archives, St Rumbold St, Lincoln, LN2 5AB have GRO BMD
    indexes from 1837 to 1990ish. Principal Archivist: Gershom Knight <a href="mailto:archives@lincsdoc.demon.co.uk">archives@lincsdoc.demon.co.uk</a>
    Tel: 01522 525158 Fax: 01522 530047 Hours: Mon 13:00-19:00, Tue-Fri 09:00-17:00, Sat
    09:00-16:00. Admission free. Readers Ticket required.</li>
</ul>

<p>London </p>
<ul>
  <li>City of Westminster Archives has GRO BMD indexes from 1837 to 1900.</li>
  <li>Family History Centre, Hyde Park Temple, 64-68, Exhibition Rd, Sth
    Kensington, SW7 2PA. has GRO BMD indexes on fiche. Phone: 0171-589-8561</li>
  <li>Greenwich Local History Library, Woodland, 90 Mycenar Rd., Blackheath,
    London, SE3 7SE, has GRO BMD indexes from 1837 to 1992. Phone: 0181 858
    4631.</li>
  <li>Redbridge Local Studies Library, Ilford has GRO BMD Fiches from 1837 to
    1992. Telephone booking necessary 0181 478 9421. There is no charge. They
    have the IGI and 1881 Census and computer searches as well.</li>
  <li>Society of Genealogists, 14 Charterhouse Buildings, Goswell Road, London,
    EC1M 7BA, has GRO BMD indexes from 1837 to 1920 as well as overseas records.
    Phone: 0171 250 0290. <a href="http://www.sog.org.uk">www.sog.org.uk</a>
</li>
  <li>The LB Sutton Archive &amp; Local Studies Searchroom, Level 5 West,
    Central Library, St Nicholas Way Sutton, Surrey SM1 1EA, has GRO Birth &amp;
    Marriage from 1837-1900. Hours: Tue&amp;Fri 09:30-12:0, Wed&amp;Thu 14:00-19:30 
    1st&amp;3rd Sat 09:30-13:00, 14:00-16:45 1st&amp;3rd Sun 14:00-17:00. 
    Phone: (020) 8770 4747</li>
  <li>The following London record offices have GRO Birth &amp; Marriage from
    1837-1900: Barking &amp; Dagenham, Bishopsgate Institute, Bromley, Harrow,
    Havering, Hounslow, and Lambeth.</li>
</ul>

<p>Merseyside</p>
<ul>
  <li>Huyton Reference Library, Civic Way, Huyton, Knowsley, Merseyside, L36
    9GD, has GRO BMD indexes from 1837 to 1983. No charge, good reader/printer.
    Phone: 0151 443 3738.</li>
  <li>Local History Unit, Crosby Library, Crosby Road North, Waterloo,
    Liverpool, Merseyside, L22 0LQ, has GRO Birth and Marriage indexes from 1837
    to 1920. Phone: 0151 928 0487/8. Booking advised - Telephone 0151 257 6401
    or 0151 934 5773.</li>
  <li>Local History and Archives, Gamble Institute, Victoria Square, St Helens,
    Merseyside, WA10 1DY, has GRO BMD indexes from 1837 to 1960 as well as
    overseas records. Phone: 01744 456 952.</li>
  <li>Record Office &amp; Local History Library, 4th floor Central Library,
    William Brown St., Liverpool, L3 8EW, has GRO BMD Fiches 1837 to 1940. There
    are 6? machines. They charge 50p, hourly bookings only. 
    Phone: 0151 225 5417.</li>
  <li>Southport Library has GRO BMD indexes from 1837 to 1881 and have ordered
    up to 1906. Phone: 0151 934 2119.</li>
</ul>

<p>Middlesex </p>
<ul>
  <li>Mrs P Prior, 22 Water Mill Way, Hanworth, Feltham, Middlesex, TW13 5NG,
    has GRO Birth records from 1837 to 1842. Phone: 0181 894 6327.</li>
  <li>The Reference Library, PO Box 4 Civic Centre, Harrow,&#160; Middlesex, HA1
    2UU, has GRO BMD indexes on fiche from 1837 to 1887.&#160; The fiche are in good
    condition. Phone: 020 8424 1055/6.</li>
  <li>Hounslow Library, Treaty Center, Hounslow, Middlesex, has GRO BM Fiches
    from 1837 to 1888. Copies cost 10p each but you need two copies for each
    page of the fiche. If you enlarge the sheets, it costs an extra 20p each but
    worth it to avoid eye-strain.</li>
</ul>

<p>Norfolk </p>
<ul>
  <li>Central Library, Gildengate House, Anglia Square, Norwich, Norfolk, NR3
    1AX, has GRO BMD indexes from 1837 to 1992. Phone: 01603 215265.</li>
  <li>Norwich Record Office has some GRO Fiches from 1837 to 1992.</li>
</ul>

<p>Northumberland </p>
<ul>
  <li>Berwick-Upon-Tweed Record Office, Council Offices, Wallace Green,
    Berwick-Upon-Tweed, Northumberland, TD15 1ED, has GRO BMD indexes from 1837
    to 1881. Phone: 01289 350044 Ext 230.</li>
  <li>Morpeth Records Centre, They Kylins, Loansdean, Morpeth, Northumberland
    NE61 2EQ (note this is not where to send written enquires) has GRO BMD
    indexes from 1837 to 1980. Open M, Tue&amp;Wed 09:30-13:00, 14:00-17:00, Tue open to
    20:00. It is essential to book a microfilm reader in advance of a visit.
    Phone: 01670 504 084</li>
  <li>Information on Record offices in Northumberland can be found at 
    <a href="http://www.swinhope.demon.co.uk/NRO/">http://www.swinhope.demon.co.uk/NRO/</a>
</li>
</ul>

<p>Nottinghamshire </p>
<ul>
  <li>LDS FHC, Stanhome Square, West Bridgford, Nottingham, NG2 7GF, has GRO BMD
    indexes from 1837 to 1903 (1906 for births) as well as overseas records.
    Phone: 0115 9144255.</li>
  <li>Notts Archives, County House Castle, Meadow Rd, Nottingham, NG2 1AG, has
    GRO BMD indexes from 1837 to 1925. Phone: 0115 958 1634. Opening hours are
    Mon,Wed,Thu&amp;Fri 09:00-16:45, Wed 09:00-19:00 and Sat 09:00-12:45.</li>
</ul>

<p>Oxfordshire </p>
<ul>
  <li>Centre for Oxfordshire Studies, Central Library, Westgate, Oxford,
    Oxfordshire, OX1 1DJ, has GRO BMD indexes from 1837 to 1993.&#160; Fiche
    reader hire 1 pound for 3 hours. Fiche hard-copy 50p per A4 sheet<br />
    Open: Mon, Tues 09.15 to 19:00; Thu, Fri, Sat 09:15 to 17:00; Closed
    all day Wed.</li>
</ul>

<p>Shropshire </p>
<ul>
  <li>Shropshire Records and Research Centre, Castle Gates, Shrewsbury, SY1 2AQ.<br />
    telephone 01743 255350 has GRO BMD indexes from 1837-1950. Need to book in
    advance. Charge of 50p for half hour session. 
    Email <a href="mailto:research@shropshire-cc-gov.uk">research@shropshire-cc-gov.uk</a>&#160;
    website<br />
    <a href="http://www.shropshire-cc.gov.uk/research.nsf">www.shropshire-cc.gov.uk/research.nsf</a>
</li>
</ul>

<p>Somerset </p>
<ul>
  <li>Bath Central Library, 19 The Podium, Northgate St., Bath, Somerset, BA1
    5AN, has GRO BMD indexes from 1837 to 1910. Phone: 01225 428144</li>
  <li>Bristol City Library (Reference), College Green, Bristol, Somerset, BS1
    5TL, has an almost complete set of GRO BMD indexes from 1837 to 1998. There
    are at least 8 fiche readers which have to be booked and there is no charge.
    Some of the pages are very dark and hard to read. Phone: 0117 929 9147.
    Currently the Family History section of the library is closed for
    maintenance work. There are limited resources so you might check before going
    if the fiche is available (it has to be fetched by staff)</li>
  <li>LDS Family History Center, 721 Wells Road, Bristol has GRO BMD on film and
    fiche. No charge but time has to be booked. Phone 01275 838276, 01275
    838326, 01275 838937.</li>
  <li>LDS FHC, Forest Hill, Yeovil, Somerset, has GRO BMD indexes from 1837 to
    1906. Phone: 01935 426817.</li>
  <li>North Somerset Local Studies Library, Weston super Mare, Somerset, BS23
    1PL has GRO BMD indexes. Phone: 01934 636638 Email: <a href="mailto:weston.library@n-somerset.gov.uk">weston.library@n-somerset.gov.uk</a>
</li>
  <li>Taunton Library in Somerset has GRO BMD indexes while the County Records
    Office in Taunton does not have the indexes.</li>
</ul>

<p>Staffordshire </p>
<ul>
  <li>Staffordshire Record Office, Eastgate St., Stafford, Staffordshire, ST16
    2LZ, has GRO BMD indexes from 1837 to 1864. Phone: 01785 278373. (Booking
    required)</li>
</ul>

<p>Suffolk </p>
<ul>
  <li>Felixstowe Family History Society, The Room, Orwell High School, Maidstone
    Rd., Felixstowe, Suffolk, IP11 7EP, has GRO BMD indexes from 1837 to 1910.
    There are No Booking, 9 or more machines. Open Tue, Thu &amp; Fri 10:00-12:00 &amp;
    14:00-16:00.</li>
  <li>Suffolk Family History Society has very recently bought a set of GRO BMD
    indexes.</li>
</ul>

<p>Sussex</p>
<p>East Sussex
</p>
<ul>
  <li>Brighton Reference Library, Church St., Brighton, East Sussex, BN1 1UE,
    has GRO BMD indexes from 1837 to 1992. Phone: 01273 296969.</li>
</ul>

<p>West Sussex </p>
<ul>
  <li>Worthing Library, Richmond Rd., Worthing, West Sussex, BN11 1HD, has GRO 
    BMD indexes from 1837 to 2004. They also hold the Miscellaneous Records of 
    overseas BDM's They have 4 Fiche machines that need to be booked in advance 
    with a maximum of two hours per day. Phone: 01903 704824. e-mail: 
    worthing.reference.library@westsussex.gov.uk.</li>
</ul>

<p>Surrey </p>
<ul>
  <li>Public Record Office, Kew, Surrey.</li>
</ul>

<p>Tyne &amp; Wear</p>
<ul>
  <li>Local Studies Centre, City Library &amp; Arts Centre, 28-30 Fawcett St.,
    Sunderland, Tyne and Wear, SR1 1RE, has GRO BMD indexes from 1837 to 1983.
    Phone: 5148439.</li>
  <li>Local History Department, Central Library, Prince George Square, South
    Shields, Tyne and Wear, NE33 2PE, has GRO BMD indexes from 1837 to 1950.
    Phone: 0191 4271717 Ext 2135.</li>
  <li>Newcastle City Library, Princess Square, Newcastle Upon Tyne, NE99 1DX,
    has GRO BMD indexes from 1837 to 1992 as well as overseas records. There is
    no charge and no booking system for fiche readers. Phone: 0191 2610691
    (Humanities &amp; Arts)</li>
  <li>Northumberland &amp; Durham FHS, 2nd Floor, Bolbec Hall, Westgate Rd.,
    Newcastle Upon Tyne, NE1 1SE, has GRO BMD indexes from 1837 to 1886. Phone:
    0191 261 2159.</li>
</ul>

<p>Warwickshire</p>
<ul>
  <li>Warwickshire County Record Office, Priory Park, Cape Road, Warwick CV34 4JS
    has microfiches for BMD from Sep 1837 to Dec 1983. Tel: +44 (0)1926 738959, 
    Fax: +44 (0)1926 738969, Email: recordoffice@warwickshire.gov.uk, 
    Website: http://www.warwickshire.gov.uk/countyrecordoffice. Opening hours 
    are Tue-Thu 09:00 to 17.30, Fri 09.00 to 17.00 and Sat 09.00 to 12.30. The 
    Record Office is closed for the first full week of each month (open on the 
    Saturday).</li>
</ul>


<h4>West Midlands</h4>
<ul>
  <li>Archives and Local History Service (Dudley MBC), Mount Pleasant St.,
    Coseley, West Midlands, WV14 9JR, has GRO BMD indexes from 1837 to 1950 as
    well as overseas records. Phone: 01384 812770.</li>
  <li>Central Library, Smithford Way, Coventry, West Midlands, CV1 1FY, has GRO
    BMD indexes from 1837 to 1984. Phone: 02476 832366.</li>
  <li>Coventry FHC, Riverside Close, Coventry has GRO Births and Marriages from
    1837 to 1984 plus deaths 1837 to 1889 and 1920? to 1984.&#160;&#160;<br />
    Phone: 02476 303316.</li>
  <li>Local Studies &amp; History Service, Birmingham Central Library,
    Chamberlain Square, Birmingham, West Midlands, B3 3HQ, has GRO BMD indexes
    from 1837 to 1996 as well as overseas records. Charge is 50p per half hour.
    Phone: 0121 303 4549/4220.</li>
  <li>Sandwell Community History &amp; Archives Service, Smethwick Library, High
    St., Smethwick, Warley, West Midlands, B66 1AB, has GRO BMD indexes from
    1881 to 1920. Phone: 0121 558 2561.&#160; The above service has a number of
    fiche and film readers - all of which can be booked in advance and
    invariably are, so casually turning up will normally be a waste of time.</li>
  <li>Walsall Local History Centre, Essex St., Walsall, West Midlands, WS2 7AS,
    has GRO BMD indexes from 1837 to 1970 as well as overseas records. Phone:
    01922 721305.</li>
  <li>Wolverhampton Archives &amp; Local Studies, 42-50 Snow Hill, Wolverhampton,
    West Midlands, WV2 4AG, has GRO BMD indexes from 1837 to 1992 as well as
    overseas records. There are 5 machines, 4 of which may be booked in advance.
    Charge for using machines is 50p per half hour. Closed on Thursdays. Phone:
    01902 552480.</li>
</ul>

<h4>Wiltshire</h4>
<ul>
  <li>Wiltshire &amp; Swindon History Centre, Cocklebury Road, Chippenham, Wiltshire, SN15 3QN has GRO BMD indexes from 1837 to 1950. Hours ( Tue - Sat 09:30 to 17:30) The use of microfiche readers is free, but at busy times they may  need to be booked in advance. Maximum time allowed 4 hours. Phone: 01249 705500</li>
</ul>

<h4>Worcestershire</h4>
<ul>
  <li>Worcestershire Library &amp; History Centre, Trinity Street, Worcester, WR1 2PW.  Tel: 01905 765921/765922/765924 has GRO indexes 1837-2000.</li>
</ul>

<h4>Yorkshire</h4>
<ul>
  <li>East Riding Archive Office, County Hall, Beverley, North Yorkshire, Y01 7DS, has GRO BMD indexes from 1837 to 1881. Phone: 01482 885007.</li>
  <li>Harrogate Record Office has North Yorkshire GRO BMD indexes. They charge a fee for searching.</li>
  <li>Leeds Local Studies and Family History Library has GRO BMD indexes from 1837 to 1980, fiches from 1980 to 1992. There is no charge for searching. Microfilm readers can be booked in advance. There are limits on the number of sessions per person per week. Bookings can be made by telephone 0113247 4882 from Mon-Fri 09:00-10:00 and 16:00-17:00, Sat 10:00-11:00. Opening hours: Mon &amp; Wed 09:00-20:00, Tue, Thu &amp; Fri 09:00-17:30, 
    Sat 10:00-17:00.</li>
  <li>Local History Library, Princess Alexandra Walk, Huddersfield, HD1 2SU, has GRO BMD indexes from 1837 to 1992 as well as overseas records. Phone: 01484 221965.</li>
  <li>Sheffield Archives, 52 Shoreham St., Sheffield, South Yorkshire, S1 4SP, has GRO BMD indexes from 1837 to 1983 as well as overseas records. Normal opening hours (as of 15 Dec 1998): Mon-Thu 09:30-17:30, closed on Fridays and open Sat 09:00-13:00 and 14:00-16:30. They operate a booking system on their film and fiche readers and tend to get fully booked up a week to two weeks in advance. It is always advisable to telephone them in advance on 0114 203 9395. Bring 2 forms of identification. Phone: 0114 273 4756.</li>
  <li>Reference Library, Central Library, Northgate House, Halifax, West Yorkshire, HX1 1UN, has GRO BMD indexes from 1837 to 1906. Phone: 01422 357257 Ext 2631.</li>
  <li>Research &amp; Study Library, 2nd Floor, Central Library, Leeds, LS1 3AB, has GRO BMD indexes from 1837 to 1980. Phone: 0113 247 8283.</li>
  <li>York Library, The Reference Library, Museum St., North Yorkshire, Y01 7DS,has GRO BMD indexes from 1837 to 1980. Phone: 01904 655631 Ext 37/38.</li>
  <li>Hull, Northallerton (basically Local Studies or Ref) libraries have some records. If you have details, <a href="mailto:mmuir@aebc.com">contact me</a>.</li>
</ul>

<h3>Scotland</h3>
<ul>
  <li>Aberdeen FHS, 164 King St., Aberdeen, AB24 5BD, has GRO BMD indexes from
    1837 to 1900 (1927 in Births) as well as overseas records. Phone: 01224
    646323.</li>
  <li>Edinburgh Central Library, reference section has the GRO BMD indexes from
    1837 to 1983.&#160; It's free to use but many pages from the early years are
    unreadable.</li>
  <li>General Register Office for Scotland, New Register House, Edinburgh, EH1
    3YT, has GRO BMD indexes from 1837 to 1992 as well as overseas records.
    Phone: 0131 334 0380.</li>
</ul>

<h3>Wales</h3>

<h4>Camarthenshire </h4>
<ul>
  <li>Carmarthenshire FHS, PO Box 41, Llanelli, Carms., SA15 2YF, has GRO BMD indexes from 1837 to 1850.</li>
  <li>The Carmathenshire Record Office, Parc Myrddin, Richmond Terrace,Carmarthen, SA31 1DS has GRO BMD indexes from 1837 to 1992. Charge is 1 pound per hour - book machines in advance. Hours: Mon-Thu 9:00-16:45, 
    Fri 09:00a-16:15. Phone:&#160; 01267 228232 </li>
</ul>

<h4>Dyfed</h4>
<ul>
  <li>National Library of Wales, Aberystwyth, Ceredigion, SY23 3BU, has GRO BMD fiche from 1837 to 1992. Phone: 01970 632800.</li>
</ul>

<h4>Flintshire</h4>
<ul>
  <li>Flintshire Reference &amp; Information Service, Library HQ, County Hall, Mold, Flintshire, CH7 6NW, has GRO BMD indexes from 1837 to 1980. Phone: 01352 704411.</li>
</ul>

<h4>Glamorgan </h4>
<ul>
  <li>Bridgend Library and Information Service, Coed Parc, Park St., Bridgend
    CF31 4BA, has GRO BMD indexes from 1837 to 1992. Phone: 01656 767451. Charge
    for use is 50p per hour and 50p per page for photocopying.</li>
  <li>Glamorgan Record Office, Glamorgan Building, King Edward VII Ave., Cathays Park, Cardiff, CF1 3NE, has GRO BMD indexes from 1837 to 1992 as well as overseas records. Phone: 01222 780282.&#160; Cost for access is 50p per half hour.</li>
  <li>LDS FHC, Heol Llanishen Fach, Rhiwbina, Cardiff, South Wales, has GRO BMD indexes from 1837 to 1983. Phone: 01222 625342.</li>
  <li>West Glamorgan Archive Family History Centre, County Hall, Oystermouth Rd., Swansea, has GRO BMD indexes from 1837 to 1992. Phone: 01792 636589. It may be necessary to book fiche readers in advance.</li>
</ul>

<h4>Gwent</h4>
<ul>
  <li>Newport Reference Library, Newport Libraries, John Frost Square, Newport,NP9 1PA, has GRO BMD indexes from 1837 to 1992. Phone: 01633 211376.</li>
</ul>

<p>See &lt;<a href="http://www.tagish.co.uk/tagish/links/localgov.htm">http://www.tagish.co.uk/tagish/links/localgov.htm</a>&gt;,
Tagish's directories of UK local government on the web, for lists of local
authorities, and links to their web-sites. </p>

<h2 id="au">Australia </h2>
<p>A Source to buy GRO BMD Fiche: <a href="http://www.macbeth.com.au/fiche/eng.html#civil">MacBeth
Genealogical Services</a> - Hampton Victoria, Australia</p>

<h3>Australian Capital Territory</h3>
<ul>
  <li>National Library of Australia, Newspaper &amp; Microcopy Reading Room,Canberra, ACT, 2607, has GRO BMD indexes from 1837 to 2001. Phone: 61 02 6262 11 11. Access is free, they are in the basement. Hours are Mon&amp;Wed 09:00-21:00, Tue,Thu,Fri&amp;Sat 09:00-17:00.</li>
</ul>

<h3>New South Wales </h3>
<ul>
  <li>3 Hamel Close, Milperra, Sydney, NSW, 2214, has GRO BMD indexes from 1837 to 1850. Phone: 9771 3527.</li>
  <li>Australian Genealogical Education Centre, Railway Parade, Kiama, NSW, 2533, has GRO BMD indexes from 1837 to 1992.</li>
  <li>Griffith Genealogical &amp; Historical Society Inc, Tranter Place,Griffith, NSW, 2680, has GRO BMD indexes from 1837 to 1930. Phone: (02) 6962 1650.</li>
  <li>Library, 24 Kent St., Sydney, 2000, has GRO BMD indexes from 1837 to 1992 as well as overseas records. Phone: (02) 92473953.</li>
  <li>Research Room, PO Box 817, Ballina, NSW, 2478, has GRO BMD indexes from 1837 to 1896.</li>
  <li>State Library of NSW in Sydney, Macquarie Street, has GRO BMD index from 1837 to 1993 including the supplementary High commission, Army, deaths at sea, etc. There is no charge to use it and they don't take bookings. Usually enough fiche readers. Although can be busy. They encourage you to take a year (of fiche) at a time. Fiche copying costs $0.60 per A4, $2 for A3. For current hours of opening and for more information on this location, go to their webpage at <a href="http://www.slnsw.gov.au/">http://www.slnsw.gov.au/</a> </li>
  <li>The Society of Australian Genealogists at 32 Kent St., Sydney has GRO BMD indexes from 1837 to 1983. Need to book as only 4 fiche readers. They aren't open nearly as often as the State Library! Tue, Wed, Thu, and Sat 10:30-16:00 may not be current). They only let you have ONE fiche at a time.</li>
  <li>On line publications and resources for NSW can be found at: 
    <a href="http://www.records.nsw.gov.au/publications/publications.htm">
    http://www.records.nsw.gov.au/publications/publications.htm</a> </li>
</ul>

<h3>Queensland </h3>
<ul>
  <li>Australia's Immigration &amp; Family History Centre, Natureworld, Cnr
    Fairway Dr &amp; Maryborough Rd., Pralba, Hervey Bay, Qld, 4655, has GRO BMD
    indexes from 1837 to 1983 as well as overseas records. Phone: 0741 284458. (Int
    +61+741+284458) email <a href="mailto:jreakes@mlink.com.au">jreakes@mlink.com.au</a>
    Opening hours Mon-Fri 09:00-17:00 (winter 16:00) Sat 09:00-13:00. Cost $5/hr. Mail search
    $10 for 3 years. Credit cards accepted.</li>
  <li>Genealogical Society of Queensland is located at 38 Fisher Street, East Brisbane, Queensland, 4169. 
    The Resource Centre holds a range of resources including books, microfilms, fiche, CDs including 
    CDs for most Australian states.  We also have specific Queensland resources including Catholic 
    Parishes for south east Queensland, cemetery indexes for Queensland and the Queensland Muster 
    1859-1901. The Society is an approved site for using LDS fiche and microfilms.

    <table style="margin-left: 5mm">
    <tbody><tr><td style="padding-right: 5mm">Opening Hours:</td>
<td>Tuesday-Friday 10am-3pm, Saturday noon-4pm 2nd &amp; 4th Wednesday 6pm - 9pm. 
    Bookings not necessary. </td>
</tr>
    <tr><td>Memberships:</td>
<td>single A$69.80 includes A$11.50 joining fee, family A$104.80 
    including $11.50 joining fee, also includes GST. Non-member daily fee A$16.50. </td>
</tr>
    <tr><td>Email:</td>
<td><a href="mailto:gsq1@optusnet.com.au">gsq1@optusnet.com.au</a>
</td>
</tr>
    <tr><td>Telephone:</td>
<td>+61 7 3891 5085. </td>
</tr>
    <tr><td>Postal address:</td>
<td>PO Box 8423, Woolloongabba, QLD. Australia. </td>
</tr>
    <tr><td>Website:</td>
<td><a href="http://www.gsq.org.au">www.gsq.org.au</a>
</td>
</tr>
    </tbody>
</table>
    We have volunteers to help if required. </li>
  <li>Maryborough Family Heritage Institute Inc., Maryborough, Queensland, 4650,has GRO BMD indexes from 1837 to 1940.</li>
    <li>Queensland Family History Society Inc, Old Albion Fire Station, 42 Bridge St., Albion, Brisbane, Queensland, has GRO BMD indexes from 1837 to 1992. Postal Address: PO Box 171, INDOOROOPILLY, Queensland, 4068) Phone: 61 7 38 57 57 44. <a href="mailto:secretary@qfhs.org.au">secretary@qfhs.org.au</a> <a href="http://www.qfhs.org.au/index.htm">http://www.qfhs.org.au/index.htm</a> </li>
</ul>

<h3>South Australia </h3>
<ul>
  <li>City of Playford Local &amp; Family History Centre, 3 Windsor Square, Elizabeth, South Australia, 5112, has GRO BMD indexes from 1837 to 1902. Phone: 82540343.</li>
  <li>Salisbury Public Library Service, Len Beadell Library, 55 John St., Salisbury, South Australia, 5108, has GRO BMD indexes from 1837 to 1900. Phone: (08) 8406 8283.</li>
  <li>South Australian Genealogy &amp; Heraldry Society, 201 Unley Rd., Unley, 5061, has GRO BMD indexes from 1837 to 1955 as well as overseas records. Phone: 08 8272 4222.</li>
</ul>

<h3>Tasmania </h3>
<ul>
  <li>2 Taylor St., Invermay, Launceston, Tasmania, 7250, has GRO BMD indexes from 1837 to 1867. Phone: 63 445258 or 63312145 until 5 May.</li>
  <li>Genealogical Society, Launceston Branch, PO Box 1290, Launceston Branch, PO Box 1290, Launceston, Tasmania, 1290, has GRO BMD indexes.</li>
  <li>GST Inc, Branch Libraries, PO Box 60, Prospect, Tasmania, has GRO BMD indexes. Marriages from 1837 to 1867. Birth and Deaths from 1868 to 1942 as well as overseas records.</li>
</ul>

<h3>Victoria </h3>
<ul>
  <li>Australian Institute of Genealogical Studies Inc., 1/41 Railway Road, Blackburn, 3130 has GRO BMD indexes from 1837 to 1938 plus GRO miscellaneous index to 1994 and overseas records. Hours M-W &amp; S 10am-4pm, M &amp; Tu 7pm-10pm, F 1pm-4pm. Cost: $10 day visit, Membership $45 annually, plus $10
    initial joining fee. Telephone (61 3) 9877-3789 Fax: (61 3) 9877-9066. Web
    Address: <a href="http://www.alphalink.com.au/~aigs/">http://www.alphalink.com.au/~aigs/</a>
</li>
  <li>Genealogical Society of Victoria, 179 Queen St., Melbourne, Victoria,
    3000, has GRO BMD indexes from 1837 to 1915 as well as other local and overseas records.
    Web address: <a href="http://www.alphalink.com.au/~gsv">http://www.alphalink.com.au/~gsv</a>
    Catalogue: <a href="http://www.alphalink.com.au/~gsv/library.htm">http://www.alphalink.com.au/~gsv/library.htm</a>
    Library Hours: <a href="http://www.alphalink.com.au/~gsv/hours.htm">http://www.alphalink.com.au/~gsv/hours.htm</a>&#160;</li>
  <li>State Library of Victoria, 328 Swanston St, Melbourne, Vic, 3000, has GRO
    BMD indexes from 1837 to 1992. Hours: Mon &amp; Wed 10:00-21:0, Tue &amp; Thu-Sun
    10:00-18:00 (closed on public holidays) Phone: (61)(3) 9669-9888 General
    number, (61)(3) 9669-9080 Genealogy Centre. No bookings on fiche readers
    (~12) just sign in. Copying AUD$0.50 per copy A4 or A3. You need to purchase
    a "swipe card" for photocopy credits. No other costs involved.
    Other resources available. <a href="http://www.slv.vic.gov.au/">http://www.slv.vic.gov.au/</a>
</li>
</ul>

<h3>Western Australia </h3>
<ul>
  <li>State Library of Western Australia, Alexander Library Building, Perth Cultural Centre, 
      Perth WA 6000, has GRO BMD indexes from 1837-1970. Phone: 08 9427 3111 
      ( International: +61 8 9427 3111) </li>
  <li>Genealogical Society in May Street, Bayswater has GRO BMD indexes from 1837 - 1992.</li>
  <li>Rockingham Branch (50 km south of Perth) Western Australia Genealogical Society Library situated in Lotteries House, Rockingham has GRO Death indexes ONLY on microfiche from 1837 to 1983. Library Open Mon evening, Tue morning, Wed morning, Fri all day, Sat 12:00-14:00. Closed Thu, Sun and Public
    Holidays.</li>
</ul>

  <h2 id="ca">Canada </h2>

  <p>Alberta </p>
<ul>
  <li>Calgary LDS FHC, 2021 - 17th Ave SW, Calgary, has GRO BMD indexes from
    1837 to 1949 (Births and Deaths to 1953). Phone: 403 571 3700.</li>
</ul>

<p>British Columbia </p>
<ul>
  <li>Abbotsford LDS FHC /Abbotsford Genealogical Society has Microfilm copies
    (1866 - 1896 BM) and Microfiche copies (Births 1837 - 1846 plus assorted up
    to 1917; Marriages assorted from 1841 - 1923&#160; incomplete; Deaths
    assortment from 1868 - 1971) This collection is growing. Fiche brought in as
    patrons order them in. Phone: (604) 852-8043.</li>
  <li>Burnaby LDS FHC has Microfilm copies and Microfiche copies from 1837 to
    1906. Plus some later years. Fiche brought in as patrons order them in.
    Phone: (604) 299-8656.</li>
  <li>Campbell River Genealogy Society, 621 Island Highway, Campbell River has 
    the GRO BMD indexes from 1837 to 1949 on microfiche. Library open Mon 21:00-21:00, 
    Tue &amp; Thu 10:00-15:00. Phone 250-286-8042 or e-mail genealogy@crnfp.net.</li>
  <li>Nanaimo LDS FHC has GRO BMD indexes from 1837 to 1899.&#160; They also
    have some up to 1920 with some years missing.</li>
  <li>Surrey LDS FHC has Microfiche copies. Mainly early years but incomplete
    and of varying quality. This collection is young but growing. Fiche brought
    in as patrons order them in. Phone: (604) 597-9695.</li>
</ul>

<p>Ontario </p>
<ul>
  <li>Brampton, ON, Canada LDS FHC has GRO BMD fiche from 1837 to 1900.</li>
  <li>Etobicoke, ON, Canada LDS FHC has Microfilm copies (1837-1906ish) and
    Microfiche copies (1906ish-1983).</li>
  <li>Hamilton, ON, Canada LDS FHC has GRO BMD microfilms from 1837 to about
    1903 (and others later).</li>
  <li>Kitchener, ON, Canada LDS FHC has GRO BMD indexes from 1837-1988 with a
    few gaps in the 1940's.</li>
  <li>London, ON, Canada LDS FHC on Riverside Drive has GRO BMD indexes.</li>
  <li>Ottawa, ON, Canada LDS FHC has Microfilm copies (1837-1899) and Microfiche
    copies (1900-1950).</li>
  <li>Petawawa LDS FHC, Civic Centre Road has a few GRO BMD indexes. They have
    only brought in what patrons have ordered. Phone: (613) 687-2237.</li>
</ul>

<p><strong>Other sources:</strong> Check out your local genealogical
society/library as well as your local LDS Family History Center.</p>


<h2 id="nz">New Zealand </h2>
<ul>
  <li>Auckland (New Zealand) Public Library has a full set of the GRO BMD
    indexes for England. The fee for non Auckland City Ratepayers is $NZ 10 per
    day, $NZ 30 per week and $NZ120 per year. The library's heritage section's
    email address is <a href="mailto:heritage@auckland-library.govt.nz">
    heritage@auckland-library.govt.nz</a>
</li>
  <li>Auckland Research Centre, Auckland City Libraries, Lorne St., Auckland,
    has GRO BMD indexes from 1837 to 1992 as well as overseas records. Phone: 09
    3077770.</li>
  <li>New Zealand National Library, in Wellington, NZ, holds the fiche. Quality
    for early years - bad.</li>
  <li>New Zealand Society of Genealogists has GRO BMD indexes in fiche for use
    by members for minimal charge. Website for NZSG is 
    <a href="http://www.genealogy.org.nz">www.genealogy.org.nz</a>
    and e-mail to <a href="mailto:nzsg-contact@genealogy.org.nz">
    nzsg-contact@genealogy.org.nz</a>&#160;
    for more details.</li>
  <li>Porirua Public Library, 4 Norrie &amp; Parumoana Sts, Porirua, has GRO BMD
    indexes from 1837 to 1930. Phone: 04 237 1533.0</li>
  <li>Palmerston Nort N.Z. LDS FHC has GRO BMD indexes (unknown years)</li>
</ul>

<h2 id="us">United States </h2>
<ul>
  <li>Los Angeles Regional LDS FHC has GRO BMD indexes. They hold film as follows: Birth 1837 to 1906, Marriages 1837 to 1903, and Death 1837 to 1903.&#160; They also hold microfiche BMD from 1837 to 1980's. They also have Scotland &amp;Ireland BMD indexes as well as some Ireland certificates. <a href="http://www.larfhc.org/">http://www.larfhc.org/</a> </li>
  <li>Salt Lake City, Family History Library has GRO BMD indexes as both microfilm and microfiche (up to Dec 1983). Film is free to view at the Library and can be ordering into any Family History Center for around
    $3.50/film. Fiche is $0.15 per sheet. Prices in Canada CDN$6/film, CDN$0.20/fiche.</li>
  <li>Most Family History Societies have GRO BMD indexes.&#160; Rather than list each FHC, I have added a link for you to find the location of the nearest Family History Center, check out their website <a href="http://www.familysearch.org/">http://www.familysearch.org/</a>
</li>
</ul>


<p>Thanks to Mary Muir for the initial preparation of this page.</p>
</div>

</div>

