<h1>DRAFT - Help - Understanding the GRO Index Page</h1>

<style scoped="scoped">
dd { margin-bottom: 1em; }
figcaption {
  font-style: italic;
  color: #737373; /* 4.74:1 */
  margin-top: 0.3em;
}
figure.site img {
  border: 2px solid #00a099;
  padding: 0.3em;
  width: 100%;
  height: auto;
  max-width: 1000px;
}
  </style>

  <p class="lead">The GRO’s Indexes of Birth, Marriages and Deaths provides a summary of the&#160; information in their registers, but they <strong>do not</strong> list everything that you would expect to find on a cetificate. Here you will find a description of the GRO Index pages and how might search FreeBMD.</p>

<div class="grid">
  <aside class="grid__item two-fifths lap-one-half palm-one-whole float--right">
    <div class="islet islet--bordered">
      <h2 class="title-block" id="thisPage">On this page</h2>
      <ul class="sub-nav">
        <li><a href="#content">Basic content of an Index Page</a> </li>
        <li><a href="#">Things to consider when searching</a> </li>
        <li><a href="#notGiven">Information not given in the Indexes</a> </li>
        </ul>
    </div>
   </aside>
  <div class="grid__item three-fifths lap-one-half palm-one-whole">
   <h2 id="content">Basic content of an Index Page</h2>
     
  <h3 id="indexTerms"> Terms encountered in the Indexes</h3>   
    <p> An extract from a typical typeset version (first-quarter 1883) of a GRO Index marriage page is shown below and it illustrates some of the terms to be found on the GRO Index pages; and a later Computer-Output-Microfilm page GRO Index marriage page, showing some of the changes, including the addition of the spouses name.</p>
   <figure class="site">
    <%= image_tag 'MarriageIndexSample.png?sha=d89ecee7d0da4c3f', alt: 'MarriageIndexSample.png', title: 'MarriageIndexSample.png', width: 100 %>
     <figcaption>Figure 1: Extract of a GRO first-quarter 1883, Marriage Index page indicating the various terms used on this page</figcaption>
  </figure>
<p class="push-half--bottom">Considering these various terms in more detail, they include:</p>
   <dl>
     <dt> <strong>Event:</strong> </dt>
     <dd> This identifies whether the page refers to Births, Marriages or Deaths.</dd>
     <dt> <strong>Date:</strong> </dt>
     <dd> This identifies the  year and quarter the registration took place.</dd>
     <dt> <strong>District, Volume, Register Page:</strong> </dt>
     <dd> This identifies the full reference number of the particular GRO entry and these references are explained more fully on our [Districts, Volumes and Pages page.] [link= "Districts, Volumes and Pages"]. Although the District name gives an <em>indication</em> of where the event was <strong>registered</strong>, it should be born in mind that the District refers to the Registration District and this may be different from the town or village in which the event took place.</dd>
    <dt> <strong>Index Page:</strong> </dt>
    <dd> This identifies the Page number of the index. You would not normally need to be concerned with this value except when you wanted to view the original index. However, in most cases, you can view a copy of the scan that FreeBMD used for it’s transcriptions by going to the Entry Information page and selecting a <strong>scan</strong> file, or files.</dd>
   </dl>

  <p class="islet islet--light">Notes <strong>Date</strong>: The index only gives the quarter that <em>your</em> event was <strong>registered</strong>. The index does <strong>not</strong> give the actual date of the <em>event</em>.</p>
  <p class="islet islet--light">Notes <strong>Districts</strong>: You can find out more about the places — that is parishes, villages, towns — that your Registration District included (and when) from the Search Results page. You can do this by selecting the District that is shown against that individual.</p>

 <h3 id="layout">Typography of GRO index pages</h3> 
  <p> The GRO changed the typography of their index pages over the years. At the beginning of Civil Registration, they issued duplicated copies of their hand-written indexes; and then at a late date, during an updating exercise, some of these pages with replaced with typed transcriptions.</p>
    <p>The GRO’s first major change was to publish typeset index pages and in modern times. Figure 1, above, shows part of a typeset Index page with three columns and typically 125 entries per column (375 entries per page).</p> 
   <p>Later, the GRO reduced the number of entries per page and stopped typesetting. They printed their Index pages in a two-column format. Each page containing, typically, a maximum of about 50 entries per column (a maximum of 100 entries per page); and, from the beginning of 1984, they were produced directly as computer-output-microfiche. </p>

  <h2 id="thingsToconsider">Things to consider when searching</h2>
  <p class="push-half--bottom">What you expect to find may not be what the GRO recorded. A person, for example, may be known by a given name that is not their first given name, or it might not be any of their registered given names. </p>
  <p>The spelling may vary, for example in the extract above there are entries for <em>TRIM</em> and <em>TRIMM</em>, which may or may not be the official spelling of a person's name. This is especially an issue for Death entries where the information will have come from the <em>informant</em> who may not actually have known the deceased that well, or have access to their birth certificate.</p>
  <dl>
     <dt> <strong>Date:</strong> </dt>
    <dd> Entries are grouped by year and quarter but this is not the same as when the event took place — registration may be delayed and may be in a later quarter especially if the event took place at the end of a quarter. Births can be registered some considerable time after the birth took place. </dd>
    <dt> <strong>Given names:</strong> </dt>
    <dd> Be very careful with searching on more than the first given name because in some quarters only initials were entered in the index for second and subsequent given names. You can find more information about this on our [Use of Initials in Given names page] [link: = givenname-initials]. </dd>
   <dt> <strong>District:</strong> </dt>
   <dd> Only search on the district if you are certain you know what it is or as a last resort. The reason for this is that the district name may not be what you expect it to be — and the same applies to counties. You can find our more about this on our [Registration District page.] [link= "Registration Districts"] </dd>
    <dt> <strong>Volume:</strong> </dt>
    <dd> You will not normally be interested in the volume but you can find our more information about Volumes and the format used on our [<em>Districts, Volumes and Pages</em> page]. [link: = "Districts, Volumes and Pages "]. </dd>
  </dl>
 <h3 id="additionalValues">Enhancements added by the GRO</h3>
  <p> The GRO, over the years, added additional searchable values into the indexes, which can be found in later entries but not in any records that pre-date these additions. </p>
  <p> They can be very useful in finding the right entry when searching.  However, you should be careful not to search, using selection criteria that post-dates the time frame of the records being searched. For example, if you were searching for a Birth record that had very common names and therefore a lot of possible entries, using the Mother's Maiden Name might enable you to find the right entry. However,for example, if you search for birth records using the the Mother's Maiden Name <em>SMITH</em> in the search criteria of you would get no results prior to September-quarter of 1911.</p>
  <p>The information added to the Index and the date it was added, were as follows: </p>
    <table>
     <tbody>
       <tr>
          <th>Date</th>
          <th>Quarter</th>
          <th>Event</th>
          <th>Information added</th>
      </tr>
      <tr>
         <td>1st Jan 1866</td>
         <td>Mar 1866</td>
         <td>Deaths </td>
         <td>Age at death</td>
       </tr>
        <tr> 
          <td>1st Jul 1911</td>
          <td>Sep 1911</td>
         <td>Births</td>
         <td>Mother's maiden name</td>
       </tr>
       <tr> 
         <td>1st Jan 1912</td>
         <td>Mar 1912</td>
         <td>Marriages </td>
         <td>Spouse's surname</td>
      </tr>
       <tr> 
          <td>1st Apr 1969</td>
         <td>Jun 1969</td>
        <td>Deaths </td> 
        <td>Date of birth (replaced age at death)</td>
      </tr>
      <tr>
         <td>1st Jan1984</td>
        <td>Not applicable</td>
        <td>All</td>
        <td> Month of registation (Indexed by year not by quarter)</td> 
       </tr>
     </tbody>
    </table>
 <p> The format for the Date of Birth is DDMMYYYY where DD is a one or two digit day, YYYY is the year and MM is the month as below: </p>

  <table id="dob">
    <tbody>
        <tr>
         <th>MM</th>
          <th>Month</th>
          <th>MM</th>
          <th>Month</th>
          <th>MM</th>
          <th>Month</th>
      </tr>
     <tr>
       <td>JA</td>
       <td>January</td>
       <td>FE</td>
       <td>February</td>
       <td>MR</td>
       <td>March</td>
    </tr>
       <tr><td>AP</td>
       <td>April</td>
       <td>MY</td>
       <td>May</td>
       <td>JU</td>
       <td>June</td>
    </tr>
        <tr><td>JY</td>
        <td>July</td>
        <td>AU</td>
        <td>August</td>
        <td>SE</td>
        <td>September</td>   
     </tr>
     <tr>
        <td>OC</td>
        <td>October</td>
        <td>NO</td>
        <td>November</td>
        <td>DE</td>
        <td>December</td>
    </tr>
  </tbody>
  </table>
<br />
  <h2 id="notGiven"> Information not given in the Indexes</h2>
  <p>As has been explained, the GRO Indexes contains only a summary of the information held by the GRO. To get more information you will need to purchase the certificate (or, more accurately, a certified copy of an entry in the register). You can find out however to do this, and what the certificate contains, from our [Ordering Certificates page] [link="Ordering Certificates"].</p>

    </div>
  </div>