<h1>DRAFT - Use of Initials in Given names - plus births (W-i-P)</h1>

<p class="lead">This page considers the "problems" encountered when searching the GRO index, of which FreeBMD is an online version, due to the GRO's apparent changes in policy over time of how the index records and truncates the Given Names of individual entries using a mixture of the full&#160; names and initials. Advice is give how to minimise these problems when searching the Indexes.</p>
<h2> Searching for Given Names containing initials </h2>
<p>When you search FreeBMD it is important to understand, and take into account, the use of initials:</p>
<p> For example, if you are searching for <em>HILL, Edward James</em> but the entry is recorded in the index as <em>HILL, Edward J </em>in some years but <em>HILL, Edward James</em> in others then your search results will be incomplete and misleading. Below we give some general guidelines about the use of initials in the GRO index and then detailed information about each quarter. </p>
<p class="push-half--bottom">It is worth repeating here that there are many reasons why entries in the index may not be as you expect, even taking into account the issue of names be substituted by initials:   </p>
  <ul>
      <li> There are errors in the index itself and in FreeBMD's transcription of it (although we do our best to minimise these).</li>
     <li> People may use, or be known by, a name that is not on their birth certificate, or is not their first given name. </li>
     <li> This is particularly an issue for Deaths, where the <em>Informant</em> who supplied the information for the certificate may not have known the person that well or have access their Birth certificate. </li>
  </ul>
<h2>Summary of GRO's changes in the use of names and initials over time</h2>
<p>When searching you should either initially use only one full given name or one full given name and one initial. Otherwise, you should ensure that you understand the implications of using more names, by consulting  this table.</p>
<table id="summary">
<tbody><tr><th>From</th>
<th>To</th>
<th>Contents of GRO index</th>
</tr>
<tr><td>1837Q3</td>
<td>1865Q4</td>
<td>For this period given names are shown in full and there are very few entries with initials (one would assume that any names that the clerk could not fit on  the page were just ignored) and the ones that there are may be the actual name (as in <em>Harry S Truman</em>). There are, however, two  anomalous quarters  of 1854B3 and 1858B3 when initials were included.</td> </tr>
<tr><td colspan="2" style="text-align:center">1866</td>
<td>For this year, mostly only the first given name is shown in full with the rest just as initials, although there are some examples of more than one full name.</td> </tr>
<tr><td>1867Q1</td>
<td>1910Q2</td>
<td>For this period most given names are shown in full although there are a small number also with initials.</td>
</tr>
<tr><td>1910B3</td>
<td>1965B4</td>
<td rowspan="3">For this period mostly only the first given name is shown in full with the rest just as initials, although there are some examples of more than one full name.</td> </tr>
<tr><td>1910M3</td>
<td>1983M4</td>
</tr>
<tr><td>1910D3</td>
<td>1969D1</td>
</tr>
<tr><td>1966B1</td>
<td>1983M4</td>
<td rowspan="2">For this period most given names are shown in full although there are a small number also with initials</td> </tr>
<tr><td>1969D2</td>
<td>1983M4</td>
</tr>
</tbody>
</table>
<p>Note: Where the event (B, M or D) is shown as <strong>Q</strong>, this means all events (Q stands for quarter).
</p>

<h2>Detailed Information for Births</h2>

 <p>The table below gives the full detail from which the summary information for the use of given name initials in Births was derived. The data for this table was produced by examining all the given names in the FreeBMD Births database and,  proceeding from left to right, counting those names that are more than one character long. As soon as a one character name is found the process stops and all the remaining names are assumed to be initials. There are circumstances where this is not strictly true, for example; there are some  entries that are like <em>A de V</em> which would count as three initials. So, the figures below are an approximation albeit a very close one.</p>
<p class="push-half--bottom">The table is split vertically into three main columns:
</p>
<ul>
<li>the quarter concerned;</li>
<li>columns with counts of instances of entries with the number of full names given in the heading, so X in the column headed 2 means there were X entries that had two full names. The  presence of a column labelled zero means that there are entries with no given name or just one initial;</li>
<li>the percentage and number of entries with initials as well as the full names.</li>
</ul>

<h3 id="births1837-1849"> Births: 1837 to 1849 </h3>
<table>
<thead>
<tr>
<th rowspan="2">Quarter</th>
<th colspan="5">Number of full names</th>
<th colspan="2">With initials</th>
</tr>
<tr><th>0</th>
<th>1</th>
<th>2</th>
<th>3</th>
<th>&gt;3</th>
<th>percent</th> <th>number</th>
</tr>
</thead>
<tbody>
<tr>
<td>1837B3</td>
<td>1</td>
<td>62246</td>
<td>13508</td>
<td>550</td>
<td>20</td>
<td>0</td> <td>4</td>
</tr>
<tr><td>1837B4</td>
<td>1</td>
<td>73373</td>
<td>18206</td>
<td>783</td>
<td>34</td>
<td>0</td> <td>4</td>
</tr>
<tr><td>1838B1</td>
<td>7</td>
<td>95438</td>
<td>23344</td>
<td>971</td>
<td>51</td>
<td>0</td> <td>20</td>
</tr>
<tr><td>1838B2</td>
<td>6</td>
<td>101916</td>
<td>23708</td>
<td>915</td>
<td>53</td>
<td>0</td> <td>17</td>
</tr>
<tr><td>1838B3</td>
<td>1</td>
<td>92806</td>
<td>23525</td>
<td>970</td>
<td>37</td>
<td>0</td> <td>7</td>
</tr>
<tr><td>1838B4</td>
<td>6</td>
<td>91769</td>
<td>23970</td>
<td>1060</td>
<td>55</td>
<td>0</td> <td>16</td>
</tr>
<tr><td>1839B1</td>
<td>1</td>
<td>102563</td>
<td>26629</td>
<td>1179</td>
<td>67</td>
<td>0</td> <td>15</td>
</tr>
<tr><td>1839B2</td>
<td>1</td>
<td>107611</td>
<td>27414</td>
<td>1222</td>
<td>39</td>
<td>0</td> <td>6</td>
</tr>
<tr><td>1839B3</td>
<td>2</td>
<td>95165</td>
<td>25910</td>
<td>1173</td>
<td>45</td>
<td>0</td> <td>8</td>
</tr>
<tr><td>1839B4</td>
<td>1</td>
<td>95353</td>
<td>26415</td>
<td>1232</td>
<td>54</td>
<td>0</td> <td>6</td>
</tr>
<tr><td>1840B1</td>
<td>0</td>
<td>111225</td>
<td>30772</td>
<td>1588</td>
<td>78</td>
<td>0</td> <td>9</td>
</tr>
<tr><td>1840B2</td>
<td>1</td>
<td>107641</td>
<td>29856</td>
<td>1469</td>
<td>77</td>
<td>0</td> <td>16</td>
</tr>
<tr><td>1840B3</td>
<td>2</td>
<td>100185</td>
<td>29305</td>
<td>1557</td>
<td>75</td>
<td>0</td> <td>37</td>
</tr>
<tr><td>1840B4</td>
<td>1</td>
<td>93939</td>
<td>27280</td>
<td>1346</td>
<td>85</td>
<td>0</td> <td>14</td>
</tr>
<tr><td>1841B1</td>
<td>0</td>
<td>110260</td>
<td>32652</td>
<td>1882</td>
<td>99</td>
<td>0</td> <td>11</td>
</tr>
<tr><td>1841B2</td>
<td>2</td>
<td>110596</td>
<td>32320</td>
<td>1727</td>
<td>79</td>
<td>0</td> <td>17</td>
</tr>
<tr><td>1841B3</td>
<td>2</td>
<td>108205</td>
<td>33693</td>
<td>1961</td>
<td>85</td>
<td>0</td> <td>11</td>
</tr>
<tr><td>1841B4</td>
<td>2</td>
<td>97530</td>
<td>30619</td>
<td>1637</td>
<td>64</td>
<td>0</td> <td>11</td>
</tr>
<tr><td>1842B1</td>
<td>1</td>
<td>120126</td>
<td>38119</td>
<td>2258</td>
<td>148</td>
<td>0</td> <td>12</td>
</tr>
<tr><td>1842B2</td>
<td>0</td>
<td>119742</td>
<td>37893</td>
<td>2179</td>
<td>118</td>
<td>0</td> <td>13</td>
</tr>
<tr><td>1842B3</td>
<td>1</td>
<td>97529</td>
<td>31364</td>
<td>1744</td>
<td>101</td>
<td>0</td> <td>5</td>
</tr>
<tr><td>1842B4</td>
<td>1</td>
<td>97414</td>
<td>31480</td>
<td>1786</td>
<td>101</td>
<td>0</td> <td>11</td>
</tr>
<tr><td>1843B1</td>
<td>5</td>
<td>114264</td>
<td>37161</td>
<td>2003</td>
<td>97</td>
<td>0</td> <td>14</td>
</tr>
<tr><td>1843B2</td>
<td>2</td>
<td>109851</td>
<td>35945</td>
<td>1968</td>
<td>85</td>
<td>0</td> <td>14</td>
</tr>
<tr><td>1843B3</td>
<td>3</td>
<td>105877</td>
<td>35421</td>
<td>1998</td>
<td>97</td>
<td>0</td> <td>14</td>
</tr>
<tr><td>1843B4</td>
<td>0</td>
<td>104593</td>
<td>34271</td>
<td>1867</td>
<td>81</td>
<td>0</td> <td>4</td>
</tr>
<tr><td>1844B1</td>
<td>1</td>
<td>129279</td>
<td>43706</td>
<td>2494</td>
<td>107</td>
<td>0</td> <td>10</td>
</tr>
<tr><td>1844B2</td>
<td>0</td>
<td>118502</td>
<td>39256</td>
<td>2099</td>
<td>111</td>
<td>0</td> <td>86</td>
</tr>
<tr><td>1844B3</td>
<td>1</td>
<td>104920</td>
<td>36392</td>
<td>1929</td>
<td>105</td>
<td>0</td> <td>7</td>
</tr>
<tr><td>1844B4</td>
<td>3</td>
<td>117377</td>
<td>42557</td>
<td>2434</td>
<td>101</td>
<td>0</td> <td>14</td>
</tr>
<tr><td>1845B1</td>
<td>4</td>
<td>133599</td>
<td>47553</td>
<td>2663</td>
<td>117</td>
<td>0</td> <td>23</td>
</tr>
<tr><td>1845B2</td>
<td>1</td>
<td>103038</td>
<td>35506</td>
<td>1904</td>
<td>102</td>
<td>0</td> <td>6</td>
</tr>
<tr><td>1845B3</td>
<td>2</td>
<td>99070</td>
<td>36025</td>
<td>1870</td>
<td>89</td>
<td>0</td> <td>13</td>
</tr>
<tr><td>1845B4</td>
<td>2</td>
<td>99245</td>
<td>36763</td>
<td>1982</td>
<td>97</td>
<td>0</td> <td>9</td>
</tr>
<tr><td>1846B1</td>
<td>3</td>
<td>111221</td>
<td>40828</td>
<td>2091</td>
<td>98</td>
<td>0</td> <td>7</td>
</tr>
<tr><td>1846B2</td>
<td>1</td>
<td>114358</td>
<td>41131</td>
<td>1967</td>
<td>102</td>
<td>0</td> <td>5</td>
</tr>
<tr><td>1846B3</td>
<td>1</td>
<td>113096</td>
<td>43584</td>
<td>2493</td>
<td>141</td>
<td>0</td> <td>4</td>
</tr>
<tr><td>1846B4</td>
<td>2</td>
<td>103205</td>
<td>38875</td>
<td>2155</td>
<td>72</td>
<td>0</td> <td>12</td>
</tr>
<tr><td>1847B1</td>
<td>0</td>
<td>109598</td>
<td>39729</td>
<td>1993</td>
<td>89</td>
<td>0</td> <td>5</td>
</tr>
<tr><td>1847B2</td>
<td>0</td>
<td>110042</td>
<td>39454</td>
<td>2013</td>
<td>63</td>
<td>0</td> <td>5</td>
</tr>
<tr><td>1847B3</td>
<td>0</td>
<td>91025</td>
<td>35826</td>
<td>1853</td>
<td>71</td>
<td>0</td> <td>0</td>
</tr>
<tr><td>1847B4</td>
<td>1</td>
<td>91212</td>
<td>37229</td>
<td>1925</td>
<td>80</td>
<td>0</td> <td>9</td>
</tr>
<tr><td>1848B1</td>
<td>0</td>
<td>100763</td>
<td>39767</td>
<td>2109</td>
<td>106</td>
<td>0</td> <td>4</td>
</tr>
<tr><td>1848B2</td>
<td>2</td>
<td>110061</td>
<td>42090</td>
<td>2114</td>
<td>78</td>
<td>0</td> <td>8</td>
</tr>
<tr><td>1848B3</td>
<td>2</td>
<td>103111</td>
<td>42121</td>
<td>2249</td>
<td>84</td>
<td>0</td> <td>11</td>
</tr>
<tr><td>1848B4</td>
<td>0</td>
<td>95031</td>
<td>39837</td>
<td>2242</td>
<td>133</td>
<td>0</td> <td>9</td>
</tr>
<tr><td>1849B1</td>
<td>0</td>
<td>112978</td>
<td>46147</td>
<td>2612</td>
<td>113</td>
<td>0</td> <td>12</td>
</tr>
<tr><td>1849B2</td>
<td>1</td>
<td>115698</td>
<td>46253</td>
<td>2470</td>
<td>122</td>
<td>0</td> <td>10</td>
</tr>
<tr><td>1849B3</td>
<td>5</td>
<td>110045</td>
<td>47228</td>
<td>2529</td>
<td>125</td>
<td>0</td> <td>14</td>
</tr>
<tr><td>1849B4</td>
<td>2</td>
<td>95224</td>
<td>41296</td>
<td>2222</td>
<td>87</td>
<td>0</td> <td>8</td>
</tr>
</tbody>
</table>

<h3 id="births1850-1899"> Births: 1850 to 1899 </h3>
<table>
<thead>
<tr>
<th rowspan="2">Quarter</th>
<th colspan="5">Number of full names</th>
<th colspan="2">With initials</th>
</tr>
<tr><th>0</th>
<th>1</th>
<th>2</th>
<th>3</th>
<th>&gt;3</th> <th>percent</th> <th>number</th>
</tr>
</thead>
<tbody>
<tr><td>1850B1</td>
<td>2</td>
<td>104424</td>
<td>44573</td>
<td>2494</td>
<td>120</td>
<td>0</td> <td>12</td>
</tr>
<tr><td>1850B2</td>
<td>0</td>
<td>113902</td>
<td>47128</td>
<td>2459</td>
<td>114</td>
<td>0</td> <td>14</td>
</tr>
<tr><td>1850B3</td>
<td>0</td>
<td>104253</td>
<td>46363</td>
<td>2675</td>
<td>144</td>
<td>0</td> <td>14</td>
</tr>
<tr><td>1850B4</td>
<td>0</td>
<td>102939</td>
<td>46467</td>
<td>2542</td>
<td>123</td>
<td>0</td> <td>2</td>
</tr>
<tr><td>1851B1</td>
<td>1</td>
<td>113812</td>
<td>48877</td>
<td>2672</td>
<td>118</td>
<td>0</td> <td>59</td>
</tr>
<tr><td>1851B2</td>
<td>4</td>
<td>117405</td>
<td>49111</td>
<td>2638</td>
<td>92</td>
<td>0</td> <td>34</td>
</tr>
<tr><td>1851B3</td>
<td>1</td>
<td>108675</td>
<td>47506</td>
<td>2486</td>
<td>115</td>
<td>0</td> <td>19</td>
</tr>
<tr><td>1851B4</td>
<td>0</td>
<td>104368</td>
<td>47658</td>
<td>2574</td>
<td>115</td>
<td>0</td> <td>27</td>
</tr>
<tr><td>1852B1</td>
<td>2</td>
<td>122213</td>
<td>55645</td>
<td>3014</td>
<td>141</td>
<td>0</td> <td>47</td>
</tr>
<tr><td>1852B2</td>
<td>2</td>
<td>121957</td>
<td>54386</td>
<td>2894</td>
<td>133</td>
<td>0</td> <td>55</td>
</tr>
<tr><td>1852B3</td>
<td>3</td>
<td>112320</td>
<td>52808</td>
<td>2846</td>
<td>148</td>
<td>0</td> <td>28</td>
</tr>
<tr><td>1852B4</td>
<td>3</td>
<td>110272</td>
<td>53370</td>
<td>3136</td>
<td>152</td>
<td>0</td> <td>8</td>
</tr>
<tr><td>1853B1</td>
<td>1</td>
<td>116912</td>
<td>55207</td>
<td>3048</td>
<td>133</td>
<td>0</td> <td>9</td>
</tr>
<tr><td>1853B2</td>
<td>0</td>
<td>110819</td>
<td>51228</td>
<td>2840</td>
<td>152</td>
<td>0</td> <td>7</td>
</tr>
<tr><td>1853B3</td>
<td>2</td>
<td>98895</td>
<td>49090</td>
<td>2700</td>
<td>138</td>
<td>0</td> <td>5</td>
</tr>
<tr><td>1853B4</td>
<td>2</td>
<td>94789</td>
<td>48809</td>
<td>2723</td>
<td>105</td>
<td>0</td> <td>5</td>
</tr>
<tr><td>1854B1</td>
<td>0</td>
<td>109127</td>
<td>53703</td>
<td>2960</td>
<td>136</td>
<td>0</td> <td>21</td>
</tr>
<tr><td>1854B2</td>
<td>2</td>
<td>122337</td>
<td>58545</td>
<td>3217</td>
<td>143</td>
<td>0</td> <td>39</td>
</tr>
<tr><td>1854B3</td>
<td>1</td>
<td>103943</td>
<td>52978</td>
<td>2820</td>
<td>147</td>
<td>0</td> <td>697</td>
</tr>
<tr><td>1854B4</td>
<td>0</td>
<td>100726</td>
<td>54051</td>
<td>3202</td>
<td>149</td>
<td>0</td> <td>36</td>
</tr>
<tr><td>1855B1</td>
<td>1</td>
<td>115583</td>
<td>59089</td>
<td>3329</td>
<td>130</td>
<td>0</td> <td>18</td>
</tr>
<tr><td>1855B2</td>
<td>1</td>
<td>114209</td>
<td>57533</td>
<td>3237</td>
<td>142</td>
<td>0</td> <td>26</td>
</tr>
<tr><td>1855B3</td>
<td>1</td>
<td>102596</td>
<td>54425</td>
<td>3128</td>
<td>163</td>
<td>0</td> <td>34</td>
</tr>
<tr><td>1855B4</td>
<td>1</td>
<td>97870</td>
<td>54345</td>
<td>3121</td>
<td>120</td>
<td>0</td> <td>22</td>
</tr>
<tr><td>1856B1</td>
<td>0</td>
<td>112563</td>
<td>61086</td>
<td>3584</td>
<td>163</td>
<td>0</td> <td>33</td>
</tr>
<tr><td>1856B2</td>
<td>3</td>
<td>126817</td>
<td>69757</td>
<td>3965</td>
<td>206</td>
<td>0</td> <td>43</td>
</tr>
<tr><td>1856B3</td>
<td>3</td>
<td>108131</td>
<td>62086</td>
<td>3720</td>
<td>176</td>
<td>0</td> <td>42</td>
</tr>
<tr><td>1856B4</td>
<td>1</td>
<td>101954</td>
<td>59927</td>
<td>3532</td>
<td>166</td>
<td>0</td> <td>26</td>
</tr>
<tr><td>1857B1</td>
<td>0</td>
<td>111629</td>
<td>63317</td>
<td>3666</td>
<td>183</td>
<td>0</td> <td>35</td>
</tr>
<tr><td>1857B2</td>
<td>3</td>
<td>114674</td>
<td>66033</td>
<td>3977</td>
<td>211</td>
<td>0</td> <td>41</td>
</tr>
<tr><td>1857B3</td>
<td>0</td>
<td>104552</td>
<td>63104</td>
<td>3904</td>
<td>204</td>
<td>0</td> <td>48</td>
</tr>
<tr><td>1857B4</td>
<td>0</td>
<td>101046</td>
<td>61509</td>
<td>3546</td>
<td>197</td>
<td>0</td> <td>19</td>
</tr>
<tr><td>1858B1</td>
<td>1</td>
<td>109551</td>
<td>67010</td>
<td>4261</td>
<td>227</td>
<td>0</td> <td>33</td>
</tr>
<tr><td>1858B2</td>
<td>0</td>
<td>107552</td>
<td>64739</td>
<td>3852</td>
<td>183</td>
<td>0</td> <td>34</td>
</tr>
<tr><td>1858B3</td>
<td>2</td>
<td>102597</td>
<td>58134</td>
<td>3364</td>
<td>168</td>
<td>3</td> <td>4568</td>
</tr>
<tr><td>1858B4</td>
<td>0</td>
<td>97208</td>
<td>62830</td>
<td>3984</td>
<td>208</td>
<td>0</td> <td>35</td>
</tr>
<tr><td>1859B1</td>
<td>4</td>
<td>121295</td>
<td>77067</td>
<td>4951</td>
<td>277</td>
<td>0</td> <td>46</td>
</tr>
<tr><td>1859B2</td>
<td>1</td>
<td>116306</td>
<td>72672</td>
<td>4522</td>
<td>212</td>
<td>0</td> <td>48</td>
</tr>
<tr><td>1859B3</td>
<td>4</td>
<td>111449</td>
<td>72631</td>
<td>4389</td>
<td>232</td>
<td>0</td> <td>72</td>
</tr>
<tr><td>1859B4</td>
<td>4</td>
<td>113598</td>
<td>75806</td>
<td>4858</td>
<td>210</td>
<td>0</td> <td>40</td>
</tr>
<tr><td>1860B1</td>
<td>0</td>
<td>117155</td>
<td>75344</td>
<td>4488</td>
<td>216</td>
<td>0</td> <td>11</td>
</tr>
<tr><td>1860B2</td>
<td>11</td>
<td>113324</td>
<td>69490</td>
<td>4094</td>
<td>160</td>
<td>0</td> <td>48</td>
</tr>
<tr><td>1860B3</td>
<td>0</td>
<td>113713</td>
<td>75802</td>
<td>4471</td>
<td>237</td>
<td>0</td> <td>17</td>
</tr>
<tr><td>1860B4</td>
<td>1</td>
<td>101391</td>
<td>69073</td>
<td>4405</td>
<td>154</td>
<td>0</td> <td>2</td>
</tr>
<tr><td>1861B1</td>
<td>60</td>
<td>109630</td>
<td>71711</td>
<td>4295</td>
<td>180</td>
<td>0</td> <td>94</td>
</tr>
<tr><td>1861B2</td>
<td>6</td>
<td>118137</td>
<td>76206</td>
<td>4250</td>
<td>217</td>
<td>0</td> <td>26</td>
</tr>
<tr><td>1861B3</td>
<td>11</td>
<td>104413</td>
<td>69486</td>
<td>3990</td>
<td>178</td>
<td>0</td> <td>28</td>
</tr>
<tr><td>1861B4</td>
<td>4</td>
<td>103089</td>
<td>70957</td>
<td>4381</td>
<td>191</td>
<td>0</td> <td>20</td>
</tr>
<tr><td>1862B1</td>
<td>18</td>
<td>116527</td>
<td>78854</td>
<td>4790</td>
<td>225</td>
<td>0</td> <td>43</td>
</tr>
<tr><td>1862B2</td>
<td>10</td>
<td>120128</td>
<td>77722</td>
<td>4642</td>
<td>196</td>
<td>0</td> <td>37</td>
</tr>
<tr><td>1862B3</td>
<td>11</td>
<td>107579</td>
<td>74990</td>
<td>4695</td>
<td>207</td>
<td>0</td> <td>34</td>
</tr>
<tr><td>1862B4</td>
<td>13</td>
<td>105539</td>
<td>75137</td>
<td>4735</td>
<td>219</td>
<td>0</td> <td>59</td>
</tr>
<tr><td>1863B1</td>
<td>8</td>
<td>110711</td>
<td>76506</td>
<td>4598</td>
<td>202</td>
<td>0</td> <td>28</td>
</tr>
<tr><td>1863B2</td>
<td>10</td>
<td>111160</td>
<td>77641</td>
<td>5150</td>
<td>252</td>
<td>0</td> <td>35</td>
</tr>
<tr><td>1863B3</td>
<td>15</td>
<td>99881</td>
<td>72673</td>
<td>4826</td>
<td>229</td>
<td>0</td> <td>42</td>
</tr>
<tr><td>1863B4</td>
<td>7</td>
<td>102909</td>
<td>75428</td>
<td>4916</td>
<td>245</td>
<td>0</td> <td>34</td>
</tr>
<tr><td>1864B1</td>
<td>12</td>
<td>112600</td>
<td>81081</td>
<td>5393</td>
<td>263</td>
<td>0</td> <td>44</td>
</tr>
<tr><td>1864B2</td>
<td>18</td>
<td>110233</td>
<td>78694</td>
<td>5099</td>
<td>260</td>
<td>0</td> <td>49</td>
</tr>
<tr><td>1864B3</td>
<td>6</td>
<td>102367</td>
<td>76905</td>
<td>4826</td>
<td>212</td>
<td>0</td> <td>39</td>
</tr>
<tr><td>1864B4</td>
<td>6</td>
<td>100020</td>
<td>75752</td>
<td>4780</td>
<td>229</td>
<td>0</td> <td>32</td>
</tr>
<tr><td>1865B1</td>
<td>7</td>
<td>111952</td>
<td>82330</td>
<td>5349</td>
<td>263</td>
<td>0</td> <td>34</td>
</tr>
<tr><td>1865B2</td>
<td>1</td>
<td>111466</td>
<td>81309</td>
<td>5122</td>
<td>235</td>
<td>0</td> <td>19</td>
</tr>
<tr><td>1865B3</td>
<td>0</td>
<td>101605</td>
<td>79273</td>
<td>5133</td>
<td>248</td>
<td>0</td> <td>9</td>
</tr>
<tr><td>1865B4</td>
<td>0</td>
<td>97658</td>
<td>77592</td>
<td>5130</td>
<td>230</td>
<td>0</td> <td>18</td>
</tr>
<tr><td>1866B1</td>
<td>5</td>
<td>199853</td>
<td>58</td>
<td>1</td>
<td>0</td>
<td>45</td> <td>89886</td>
</tr>
<tr><td>1866B2</td>
<td>3</td>
<td>199735</td>
<td>156</td>
<td>3</td>
<td>0</td>
<td>44</td> <td>88591</td>
</tr>
<tr><td>1866B3</td>
<td>0</td>
<td>179985</td>
<td>126</td>
<td>2</td>
<td>0</td>
<td>46</td> <td>82161</td>
</tr>
<tr><td>1866B4</td>
<td>3</td>
<td>186486</td>
<td>118</td>
<td>2</td>
<td>0</td>
<td>46</td> <td>86005</td>
</tr>
<tr><td>1867B1</td>
<td>0</td>
<td>112216</td>
<td>93453</td>
<td>60</td>
<td>0</td>
<td>3</td> <td>5933</td>
</tr>
<tr><td>1867B2</td>
<td>0</td>
<td>116139</td>
<td>95753</td>
<td>80</td>
<td>1</td>
<td>3</td> <td>6067</td>
</tr>
<tr><td>1867B3</td>
<td>0</td>
<td>103419</td>
<td>88221</td>
<td>43</td>
<td>2</td>
<td>3</td> <td>5792</td>
</tr>
<tr><td>1867B4</td>
<td>1</td>
<td>98465</td>
<td>85555</td>
<td>71</td>
<td>1</td>
<td>3</td> <td>5471</td>
</tr>
<tr><td>1868B1</td>
<td>0</td>
<td>112029</td>
<td>96670</td>
<td>70</td>
<td>1</td>
<td>3</td> <td>6211</td>
</tr>
<tr><td>1868B2</td>
<td>1</td>
<td>113465</td>
<td>96414</td>
<td>83</td>
<td>0</td>
<td>3</td> <td>6018</td>
</tr>
<tr><td>1868B3</td>
<td>0</td>
<td>105183</td>
<td>91602</td>
<td>77</td>
<td>3</td>
<td>3</td> <td>5958</td>
</tr>
<tr><td>1868B4</td>
<td>0</td>
<td>103156</td>
<td>93212</td>
<td>74</td>
<td>1</td>
<td>3</td> <td>6239</td>
</tr>
<tr><td>1869B1</td>
<td>0</td>
<td>109311</td>
<td>95427</td>
<td>76</td>
<td>0</td>
<td>3</td> <td>6167</td>
</tr>
<tr><td>1869B2</td>
<td>1</td>
<td>100618</td>
<td>88756</td>
<td>59</td>
<td>1</td>
<td>3</td> <td>5821</td>
</tr>
<tr><td>1869B3</td>
<td>2</td>
<td>99992</td>
<td>91213</td>
<td>60</td>
<td>1</td>
<td>3</td> <td>5964</td>
</tr>
<tr><td>1869B4</td>
<td>0</td>
<td>99342</td>
<td>92118</td>
<td>71</td>
<td>1</td>
<td>3</td> <td>6038</td>
</tr>
<tr><td>1870B1</td>
<td>0</td>
<td>110459</td>
<td>100049</td>
<td>76</td>
<td>2</td>
<td>3</td> <td>6556</td>
</tr>
<tr><td>1870B2</td>
<td>0</td>
<td>107568</td>
<td>97080</td>
<td>78</td>
<td>2</td>
<td>3</td> <td>6129</td>
</tr>
<tr><td>1870B3</td>
<td>0</td>
<td>102132</td>
<td>95578</td>
<td>72</td>
<td>2</td>
<td>3</td> <td>6258</td>
</tr>
<tr><td>1870B4</td>
<td>1</td>
<td>99490</td>
<td>95199</td>
<td>81</td>
<td>5</td>
<td>3</td> <td>6592</td>
</tr>
<tr><td>1871B1</td>
<td>1</td>
<td>110481</td>
<td>103717</td>
<td>77</td>
<td>1</td>
<td>3</td> <td>7107</td>
</tr>
<tr><td>1871B2</td>
<td>1</td>
<td>106577</td>
<td>100363</td>
<td>66</td>
<td>3</td>
<td>3</td> <td>6998</td>
</tr>
<tr><td>1871B3</td>
<td>2</td>
<td>100782</td>
<td>99795</td>
<td>70</td>
<td>4</td>
<td>4</td> <td>7110</td>
</tr>
<tr><td>1871B4</td>
<td>1</td>
<td>99843</td>
<td>98877</td>
<td>70</td>
<td>2</td>
<td>4</td> <td>6982</td>
</tr>
<tr><td>1872B1</td>
<td>3</td>
<td>111504</td>
<td>109904</td>
<td>79</td>
<td>3</td>
<td>3</td> <td>7678</td>
</tr>
<tr><td>1872B2</td>
<td>0</td>
<td>111142</td>
<td>110362</td>
<td>93</td>
<td>1</td>
<td>3</td> <td>7683</td>
</tr>
<tr><td>1872B3</td>
<td>3</td>
<td>103579</td>
<td>105275</td>
<td>92</td>
<td>3</td>
<td>4</td> <td>7381</td>
</tr>
<tr><td>1872B4</td>
<td>1</td>
<td>107327</td>
<td>110715</td>
<td>82</td>
<td>2</td>
<td>4</td> <td>7969</td>
</tr>
<tr><td>1873B1</td>
<td>1</td>
<td>109646</td>
<td>111507</td>
<td>96</td>
<td>2</td>
<td>4</td> <td>8047</td>
</tr>
<tr><td>1873B2</td>
<td>1</td>
<td>106198</td>
<td>105896</td>
<td>91</td>
<td>2</td>
<td>4</td> <td>7521</td>
</tr>
<tr><td>1873B3</td>
<td>2</td>
<td>102714</td>
<td>107470</td>
<td>79</td>
<td>3</td>
<td>4</td> <td>7611</td>
</tr>
<tr><td>1873B4</td>
<td>5</td>
<td>102390</td>
<td>109436</td>
<td>85</td>
<td>0</td>
<td>4</td> <td>7795</td>
</tr>
<tr><td>1874B1</td>
<td>0</td>
<td>107387</td>
<td>112541</td>
<td>78</td>
<td>1</td>
<td>4</td> <td>7824</td>
</tr>
<tr><td>1874B2</td>
<td>0</td>
<td>111075</td>
<td>113002</td>
<td>98</td>
<td>0</td>
<td>3</td> <td>7791</td>
</tr>
<tr><td>1874B3</td>
<td>1</td>
<td>105278</td>
<td>111314</td>
<td>93</td>
<td>1</td>
<td>4</td> <td>7884</td>
</tr>
<tr><td>1874B4</td>
<td>3</td>
<td>104901</td>
<td>114006</td>
<td>74</td>
<td>4</td>
<td>4</td> <td>8262</td>
</tr>
<tr><td>1875B1</td>
<td>1</td>
<td>106975</td>
<td>113889</td>
<td>71</td>
<td>7</td>
<td>4</td> <td>8241</td>
</tr>
<tr><td>1875B2</td>
<td>3</td>
<td>107602</td>
<td>114100</td>
<td>89</td>
<td>3</td>
<td>4</td> <td>8146</td>
</tr>
<tr><td>1875B3</td>
<td>1</td>
<td>103333</td>
<td>113894</td>
<td>105</td>
<td>5</td>
<td>4</td> <td>8276</td>
</tr>
<tr><td>1875B4</td>
<td>3</td>
<td>104043</td>
<td>115727</td>
<td>112</td>
<td>5</td>
<td>4</td> <td>8555</td>
</tr>
<tr><td>1876B1</td>
<td>1</td>
<td>115389</td>
<td>123956</td>
<td>133</td>
<td>2</td>
<td>4</td> <td>8862</td>
</tr>
<tr><td>1876B2</td>
<td>1</td>
<td>112466</td>
<td>121818</td>
<td>111</td>
<td>3</td>
<td>4</td> <td>8577</td>
</tr>
<tr><td>1876B3</td>
<td>1</td>
<td>107047</td>
<td>118907</td>
<td>113</td>
<td>1</td>
<td>4</td> <td>8634</td>
</tr>
<tr><td>1876B4</td>
<td>3</td>
<td>105456</td>
<td>118937</td>
<td>106</td>
<td>2</td>
<td>4</td> <td>8619</td>
</tr>
<tr><td>1877B1</td>
<td>0</td>
<td>110767</td>
<td>120224</td>
<td>86</td>
<td>2</td>
<td>4</td> <td>8461</td>
</tr>
<tr><td>1877B2</td>
<td>0</td>
<td>107834</td>
<td>116099</td>
<td>93</td>
<td>5</td>
<td>4</td> <td>7988</td>
</tr>
<tr><td>1877B3</td>
<td>0</td>
<td>100692</td>
<td>113337</td>
<td>93</td>
<td>3</td>
<td>4</td> <td>8006</td>
</tr>
<tr><td>1877B4</td>
<td>0</td>
<td>104198</td>
<td>118106</td>
<td>109</td>
<td>2</td>
<td>4</td> <td>8566</td>
</tr>
<tr><td>1878B1</td>
<td>2</td>
<td>108355</td>
<td>120559</td>
<td>100</td>
<td>5</td>
<td>4</td> <td>8795</td>
</tr>
<tr><td>1878B2</td>
<td>0</td>
<td>117149</td>
<td>128559</td>
<td>111</td>
<td>5</td>
<td>4</td> <td>9084</td>
</tr>
<tr><td>1878B3</td>
<td>0</td>
<td>107403</td>
<td>120822</td>
<td>90</td>
<td>2</td>
<td>4</td> <td>8575</td>
</tr>
<tr><td>1878B4</td>
<td>1</td>
<td>104703</td>
<td>119283</td>
<td>108</td>
<td>4</td>
<td>4</td> <td>8615</td>
</tr>
<tr><td>1879B1</td>
<td>1</td>
<td>109164</td>
<td>120702</td>
<td>100</td>
<td>1</td>
<td>4</td> <td>8862</td>
</tr>
<tr><td>1879B2</td>
<td>2</td>
<td>107127</td>
<td>118917</td>
<td>102</td>
<td>1</td>
<td>4</td> <td>8712</td>
</tr>
<tr><td>1879B3</td>
<td>0</td>
<td>104204</td>
<td>121000</td>
<td>113</td>
<td>0</td>
<td>4</td> <td>9339</td>
</tr>
<tr><td>1879B4</td>
<td>0</td>
<td>100496</td>
<td>118369</td>
<td>104</td>
<td>4</td>
<td>4</td> <td>9108</td>
</tr>
<tr><td>1880B1</td>
<td>2</td>
<td>111185</td>
<td>126684</td>
<td>117</td>
<td>9</td>
<td>4</td> <td>9641</td>
</tr>
<tr><td>1880B2</td>
<td>3</td>
<td>117043</td>
<td>133547</td>
<td>136</td>
<td>1</td>
<td>4</td> <td>9983</td>
</tr>
<tr><td>1880B3</td>
<td>2</td>
<td>104084</td>
<td>121643</td>
<td>121</td>
<td>3</td>
<td>4</td> <td>9304</td>
</tr>
<tr><td>1880B4</td>
<td>3</td>
<td>98566</td>
<td>116365</td>
<td>122</td>
<td>4</td>
<td>4</td> <td>8847</td>
</tr>
<tr><td>1881B1</td>
<td>1</td>
<td>105276</td>
<td>121204</td>
<td>85</td>
<td>1</td>
<td>4</td> <td>9065</td>
</tr>
<tr><td>1881B2</td>
<td>2</td>
<td>106806</td>
<td>119604</td>
<td>88</td>
<td>1</td>
<td>4</td> <td>8681</td>
</tr>
<tr><td>1881B3</td>
<td>1</td>
<td>102550</td>
<td>121027</td>
<td>126</td>
<td>2</td>
<td>4</td> <td>9542</td>
</tr>
<tr><td>1881B4</td>
<td>1</td>
<td>103289</td>
<td>124810</td>
<td>104</td>
<td>6</td>
<td>4</td> <td>9680</td>
</tr>
<tr><td>1882B1</td>
<td>0</td>
<td>105178</td>
<td>124296</td>
<td>102</td>
<td>4</td>
<td>4</td> <td>9600</td>
</tr>
<tr><td>1882B2</td>
<td>2</td>
<td>107788</td>
<td>124887</td>
<td>103</td>
<td>2</td>
<td>4</td> <td>9691</td>
</tr>
<tr><td>1882B3</td>
<td>0</td>
<td>101617</td>
<td>120017</td>
<td>100</td>
<td>2</td>
<td>4</td> <td>9075</td>
</tr>
<tr><td>1882B4</td>
<td>1</td>
<td>99728</td>
<td>118981</td>
<td>119</td>
<td>3</td>
<td>4</td> <td>9347</td>
</tr>
<tr><td>1883B1</td>
<td>2</td>
<td>108399</td>
<td>124762</td>
<td>109</td>
<td>7</td>
<td>4</td> <td>9616</td>
</tr>
<tr><td>1883B2</td>
<td>2</td>
<td>106707</td>
<td>123357</td>
<td>110</td>
<td>4</td>
<td>4</td> <td>9452</td>
</tr>
<tr><td>1883B3</td>
<td>2</td>
<td>97962</td>
<td>117315</td>
<td>124</td>
<td>7</td>
<td>4</td> <td>9118</td>
</tr>
<tr><td>1883B4</td>
<td>2</td>
<td>97948</td>
<td>118984</td>
<td>103</td>
<td>1</td>
<td>4</td> <td>9432</td>
</tr>
<tr><td>1884B1</td>
<td>2</td>
<td>103349</td>
<td>122476</td>
<td>90</td>
<td>2</td>
<td>4</td> <td>9630</td>
</tr>
<tr><td>1884B2</td>
<td>1</td>
<td>106784</td>
<td>125454</td>
<td>95</td>
<td>5</td>
<td>4</td> <td>9729</td>
</tr>
<tr><td>1884B3</td>
<td>0</td>
<td>103991</td>
<td>123257</td>
<td>95</td>
<td>1</td>
<td>4</td> <td>9606</td>
</tr>
<tr><td>1884B4</td>
<td>0</td>
<td>102643</td>
<td>123473</td>
<td>95</td>
<td>3</td>
<td>4</td> <td>9504</td>
</tr>
<tr><td>1885B1</td>
<td>2</td>
<td>106716</td>
<td>126687</td>
<td>145</td>
<td>4</td>
<td>4</td> <td>9701</td>
</tr>
<tr><td>1885B2</td>
<td>1</td>
<td>102929</td>
<td>120466</td>
<td>92</td>
<td>1</td>
<td>4</td> <td>9285</td>
</tr>
<tr><td>1885B3</td>
<td>0</td>
<td>99591</td>
<td>119933</td>
<td>98</td>
<td>2</td>
<td>4</td> <td>9186</td>
</tr>
<tr><td>1885B4</td>
<td>0</td>
<td>100561</td>
<td>122097</td>
<td>97</td>
<td>1</td>
<td>4</td> <td>9421</td>
</tr>
<tr><td>1886B1</td>
<td>3</td>
<td>116832</td>
<td>140509</td>
<td>215</td>
<td>3</td>
<td>4</td> <td>11097</td>
</tr>
<tr><td>1886B2</td>
<td>1</td>
<td>116808</td>
<td>139092</td>
<td>147</td>
<td>3</td>
<td>4</td> <td>10788</td>
</tr>
<tr><td>1886B3</td>
<td>0</td>
<td>112355</td>
<td>136231</td>
<td>151</td>
<td>4</td>
<td>4</td> <td>10828</td>
</tr>
<tr><td>1886B4</td>
<td>0</td>
<td>108806</td>
<td>133300</td>
<td>148</td>
<td>4</td>
<td>4</td> <td>10718</td>
</tr>
<tr><td>1887B1</td>
<td>1</td>
<td>107253</td>
<td>132068</td>
<td>131</td>
<td>4</td>
<td>4</td> <td>10752</td>
</tr>
<tr><td>1887B2</td>
<td>1</td>
<td>111686</td>
<td>139845</td>
<td>137</td>
<td>10</td>
<td>5</td> <td>11897</td>
</tr>
<tr><td>1887B3</td>
<td>1</td>
<td>106967</td>
<td>134130</td>
<td>166</td>
<td>6</td>
<td>5</td> <td>11183</td>
</tr>
<tr><td>1887B4</td>
<td>1</td>
<td>108091</td>
<td>134914</td>
<td>150</td>
<td>5</td>
<td>5</td> <td>11260</td>
</tr>
<tr><td>1888B1</td>
<td>1</td>
<td>107015</td>
<td>131370</td>
<td>166</td>
<td>6</td>
<td>5</td> <td>10965</td>
</tr>
<tr><td>1888B2</td>
<td>2</td>
<td>108359</td>
<td>132759</td>
<td>150</td>
<td>0</td>
<td>4</td> <td>10397</td>
</tr>
<tr><td>1888B3</td>
<td>0</td>
<td>102155</td>
<td>126849</td>
<td>143</td>
<td>7</td>
<td>4</td> <td>10193</td>
</tr>
<tr><td>1888B4</td>
<td>1</td>
<td>103439</td>
<td>128638</td>
<td>132</td>
<td>3</td>
<td>5</td> <td>10469</td>
</tr>
<tr><td>1889B1</td>
<td>0</td>
<td>99803</td>
<td>121597</td>
<td>103</td>
<td>3</td>
<td>4</td> <td>9504</td>
</tr>
<tr><td>1889B2</td>
<td>0</td>
<td>103827</td>
<td>124844</td>
<td>100</td>
<td>4</td>
<td>4</td> <td>9366</td>
</tr>
<tr><td>1889B3</td>
<td>1</td>
<td>99592</td>
<td>121679</td>
<td>106</td>
<td>2</td>
<td>4</td> <td>9555</td>
</tr>
<tr><td>1889B4</td>
<td>0</td>
<td>97895</td>
<td>120621</td>
<td>104</td>
<td>0</td>
<td>4</td> <td>9278</td>
</tr>
<tr><td>1890B1</td>
<td>2</td>
<td>103541</td>
<td>122970</td>
<td>101</td>
<td>1</td>
<td>4</td> <td>9388</td>
</tr>
<tr><td>1890B2</td>
<td>3</td>
<td>100351</td>
<td>120690</td>
<td>122</td>
<td>2</td>
<td>4</td> <td>9349</td>
</tr>
<tr><td>1890B3</td>
<td>1</td>
<td>98917</td>
<td>122925</td>
<td>101</td>
<td>4</td>
<td>4</td> <td>9796</td>
</tr>
<tr><td>1890B4</td>
<td>0</td>
<td>92441</td>
<td>111920</td>
<td>76</td>
<td>7</td>
<td>4</td> <td>8954</td>
</tr>
<tr><td>1891B1</td>
<td>2</td>
<td>111615</td>
<td>135394</td>
<td>168</td>
<td>4</td>
<td>4</td> <td>10678</td>
</tr>
<tr><td>1891B2</td>
<td>1</td>
<td>115374</td>
<td>137801</td>
<td>125</td>
<td>3</td>
<td>4</td> <td>10693</td>
</tr>
<tr><td>1891B3</td>
<td>5</td>
<td>104817</td>
<td>130544</td>
<td>138</td>
<td>4</td>
<td>5</td> <td>10942</td>
</tr>
<tr><td>1891B4</td>
<td>3</td>
<td>99891</td>
<td>124284</td>
<td>132</td>
<td>4</td>
<td>4</td> <td>9968</td>
</tr>
<tr><td>1892B1</td>
<td>0</td>
<td>98686</td>
<td>122283</td>
<td>96</td>
<td>1</td>
<td>5</td> <td>10181</td>
</tr>
<tr><td>1892B2</td>
<td>1</td>
<td>104542</td>
<td>128769</td>
<td>74</td>
<td>2</td>
<td>4</td> <td>10042</td>
</tr>
<tr><td>1892B3</td>
<td>1</td>
<td>101184</td>
<td>128689</td>
<td>96</td>
<td>1</td>
<td>5</td> <td>10403</td>
</tr>
<tr><td>1892B4</td>
<td>2</td>
<td>96391</td>
<td>121482</td>
<td>73</td>
<td>1</td>
<td>5</td> <td>10076</td>
</tr>
<tr><td>1893B1</td>
<td>1</td>
<td>103092</td>
<td>129049</td>
<td>91</td>
<td>3</td>
<td>4</td> <td>10298</td>
</tr>
<tr><td>1893B2</td>
<td>2</td>
<td>104666</td>
<td>131714</td>
<td>75</td>
<td>3</td>
<td>5</td> <td>10796</td>
</tr>
<tr><td>1893B3</td>
<td>2</td>
<td>100844</td>
<td>129556</td>
<td>86</td>
<td>2</td>
<td>5</td> <td>11408</td>
</tr>
<tr><td>1893B4</td>
<td>0</td>
<td>96984</td>
<td>122714</td>
<td>99</td>
<td>4</td>
<td>5</td> <td>10379</td>
</tr>
<tr><td>1894B1</td>
<td>0</td>
<td>101735</td>
<td>128194</td>
<td>77</td>
<td>1</td>
<td>5</td> <td>10875</td>
</tr>
<tr><td>1894B2</td>
<td>0</td>
<td>96758</td>
<td>125179</td>
<td>82</td>
<td>0</td>
<td>5</td> <td>10579</td>
</tr>
<tr><td>1894B3</td>
<td>0</td>
<td>91125</td>
<td>125655</td>
<td>88</td>
<td>0</td>
<td>6</td> <td>12981</td>
</tr>
<tr><td>1894B4</td>
<td>0</td>
<td>96717</td>
<td>128901</td>
<td>70</td>
<td>1</td>
<td>6</td> <td>12557</td>
</tr>
<tr><td>1895B1</td>
<td>0</td>
<td>104969</td>
<td>135692</td>
<td>99</td>
<td>2</td>
<td>5</td> <td>12475</td>
</tr>
<tr><td>1895B2</td>
<td>0</td>
<td>101530</td>
<td>132614</td>
<td>94</td>
<td>0</td>
<td>5</td> <td>12045</td>
</tr>
<tr><td>1895B3</td>
<td>0</td>
<td>99408</td>
<td>133910</td>
<td>133</td>
<td>1</td>
<td>5</td> <td>12417</td>
</tr>
<tr><td>1895B4</td>
<td>1</td>
<td>93017</td>
<td>124906</td>
<td>79</td>
<td>0</td>
<td>5</td> <td>11717</td>
</tr>
<tr><td>1896B1</td>
<td>0</td>
<td>95128</td>
<td>128538</td>
<td>69</td>
<td>1</td>
<td>5</td> <td>12209</td>
</tr>
<tr><td>1896B2</td>
<td>0</td>
<td>98040</td>
<td>134043</td>
<td>82</td>
<td>0</td>
<td>5</td> <td>12436</td>
</tr>
<tr><td>1896B3</td>
<td>0</td>
<td>97040</td>
<td>132632</td>
<td>73</td>
<td>0</td>
<td>5</td> <td>12571</td>
</tr>
<tr><td>1896B4</td>
<td>1</td>
<td>98714</td>
<td>135368</td>
<td>60</td>
<td>0</td>
<td>6</td> <td>13237</td>
</tr>
<tr><td>1897B1</td>
<td>0</td>
<td>100124</td>
<td>136194</td>
<td>72</td>
<td>0</td>
<td>6</td> <td>13292</td>
</tr>
<tr><td>1897B2</td>
<td>0</td>
<td>93078</td>
<td>134367</td>
<td>77</td>
<td>2</td>
<td>6</td> <td>14449</td>
</tr>
<tr><td>1897B3</td>
<td>0</td>
<td>93820</td>
<td>140629</td>
<td>86</td>
<td>1</td>
<td>7</td> <td>15861</td>
</tr>
<tr><td>1897B4</td>
<td>1</td>
<td>93106</td>
<td>134461</td>
<td>91</td>
<td>2</td>
<td>6</td> <td>14570</td>
</tr>
<tr><td>1898B1</td>
<td>2</td>
<td>98644</td>
<td>138240</td>
<td>98</td>
<td>1</td>
<td>6</td> <td>14556</td>
</tr>
<tr><td>1898B2</td>
<td>1</td>
<td>97442</td>
<td>139459</td>
<td>79</td>
<td>1</td>
<td>6</td> <td>14273</td>
</tr>
<tr><td>1898B3</td>
<td>1</td>
<td>97950</td>
<td>141488</td>
<td>100</td>
<td>1</td>
<td>6</td> <td>14584</td>
</tr>
<tr><td>1898B4</td>
<td>3</td>
<td>94589</td>
<td>134996</td>
<td>85</td>
<td>2</td>
<td>6</td> <td>14023</td>
</tr>
<tr><td>1899B1</td>
<td>3</td>
<td>95246</td>
<td>136897</td>
<td>70</td>
<td>1</td>
<td>6</td> <td>14055</td>
</tr>
<tr><td>1899B2</td>
<td>1</td>
<td>98473</td>
<td>142007</td>
<td>106</td>
<td>4</td>
<td>6</td> <td>14357</td>
</tr>
<tr><td>1899B3</td>
<td>1</td>
<td>95961</td>
<td>136876</td>
<td>71</td>
<td>2</td>
<td>6</td> <td>13740</td>
</tr>
<tr><td>1899B4</td>
<td>1</td>
<td>93410</td>
<td>133932</td>
<td>69</td>
<td>1</td>
<td>6</td> <td>13686</td>
</tr>
</tbody>
</table>

<h3 id="births1900-1949"> Births: 1900 to 1949 </h3>
<table>
<thead>
<tr>
<th rowspan="2">Quarter</th>
 <th colspan="5">Number of full names</th>
 <th colspan="2">With initials</th>
</tr>
<tr><th>0</th>
<th>1</th>
<th>2</th>
<th>3</th>
<th>&gt;3</th> <th>percent</th> <th>number</th>
</tr>
</thead>
<tbody>
<tr><td>1900B1</td>
<td>0</td>
<td>101086</td>
<td>145294</td>
<td>135</td>
<td>4</td>
<td>6</td> <td>15919</td>
</tr>
<tr><td>1900B2</td>
<td>3</td>
<td>92258</td>
<td>147129</td>
<td>165</td>
<td>2</td>
<td>8</td> <td>20005</td>
</tr>
<tr><td>1900B3</td>
<td>1</td>
<td>94658</td>
<td>146133</td>
<td>156</td>
<td>2</td>
<td>8</td> <td>19028</td>
</tr>
<tr><td>1900B4</td>
<td>1</td>
<td>90983</td>
<td>135939</td>
<td>103</td>
<td>2</td>
<td>7</td> <td>16170</td>
</tr>
<tr><td>1901B1</td>
<td>2</td>
<td>92317</td>
<td>145031</td>
<td>119</td>
<td>5</td>
<td>7</td> <td>16990</td>
</tr>
<tr><td>1901B2</td>
<td>2</td>
<td>94788</td>
<td>144745</td>
<td>108</td>
<td>8</td>
<td>7</td> <td>16109</td>
</tr>
<tr><td>1901B3</td>
<td>0</td>
<td>95442</td>
<td>146274</td>
<td>99</td>
<td>2</td>
<td>7</td> <td>16191</td>
</tr>
<tr><td>1901B4</td>
<td>2</td>
<td>94820</td>
<td>139966</td>
<td>108</td>
<td>1</td>
<td>7</td> <td>16028</td>
</tr>
<tr><td>1902B1</td>
<td>1</td>
<td>97947</td>
<td>142229</td>
<td>107</td>
<td>1</td>
<td>7</td> <td>16327</td>
</tr>
<tr><td>1902B2</td>
<td>1</td>
<td>97497</td>
<td>147090</td>
<td>97</td>
<td>3</td>
<td>7</td> <td>17067</td>
</tr>
<tr><td>1902B3</td>
<td>2</td>
<td>97367</td>
<td>151943</td>
<td>117</td>
<td>5</td>
<td>7</td> <td>18031</td>
</tr>
<tr><td>1902B4</td>
<td>0</td>
<td>96175</td>
<td>141244</td>
<td>88</td>
<td>2</td>
<td>7</td> <td>16070</td>
</tr>
<tr><td>1903B1</td>
<td>0</td>
<td>98606</td>
<td>143596</td>
<td>115</td>
<td>6</td>
<td>7</td> <td>16279</td>
</tr>
<tr><td>1903B2</td>
<td>0</td>
<td>98191</td>
<td>149515</td>
<td>130</td>
<td>1</td>
<td>7</td> <td>16697</td>
</tr>
<tr><td>1903B3</td>
<td>1</td>
<td>98737</td>
<td>148511</td>
<td>90</td>
<td>2</td>
<td>7</td> <td>16997</td>
</tr>
<tr><td>1903B4</td>
<td>0</td>
<td>95512</td>
<td>140700</td>
<td>83</td>
<td>1</td>
<td>7</td> <td>16306</td>
</tr>
<tr><td>1904B1</td>
<td>2</td>
<td>100872</td>
<td>146994</td>
<td>104</td>
<td>7</td>
<td>7</td> <td>16547</td>
</tr>
<tr><td>1904B2</td>
<td>1</td>
<td>99356</td>
<td>145993</td>
<td>112</td>
<td>3</td>
<td>7</td> <td>16792</td>
</tr>
<tr><td>1904B3</td>
<td>1</td>
<td>98505</td>
<td>145921</td>
<td>121</td>
<td>1</td>
<td>7</td> <td>16364</td>
</tr>
<tr><td>1904B4</td>
<td>1</td>
<td>94682</td>
<td>139574</td>
<td>64</td>
<td>1</td>
<td>7</td> <td>15795</td>
</tr>
<tr><td>1905B1</td>
<td>2</td>
<td>97590</td>
<td>141914</td>
<td>74</td>
<td>6</td>
<td>7</td> <td>15680</td>
</tr>
<tr><td>1905B2</td>
<td>2</td>
<td>95403</td>
<td>143029</td>
<td>89</td>
<td>4</td>
<td>7</td> <td>16144</td>
</tr>
<tr><td>1905B3</td>
<td>0</td>
<td>94816</td>
<td>142138</td>
<td>73</td>
<td>3</td>
<td>7</td> <td>15958</td>
</tr>
<tr><td>1905B4</td>
<td>4</td>
<td>87597</td>
<td>133622</td>
<td>62</td>
<td>1</td>
<td>7</td> <td>15197</td>
</tr>
<tr><td>1906B1</td>
<td>0</td>
<td>96773</td>
<td>142648</td>
<td>76</td>
<td>1</td>
<td>7</td> <td>16300</td>
</tr>
<tr><td>1906B2</td>
<td>0</td>
<td>95041</td>
<td>144172</td>
<td>71</td>
<td>2</td>
<td>7</td> <td>16683</td>
</tr>
<tr><td>1906B3</td>
<td>0</td>
<td>94419</td>
<td>142295</td>
<td>62</td>
<td>2</td>
<td>7</td> <td>16323</td>
</tr>
<tr><td>1906B4</td>
<td>1</td>
<td>91267</td>
<td>136437</td>
<td>70</td>
<td>1</td>
<td>7</td> <td>15695</td>
</tr>
<tr><td>1907B1</td>
<td>3</td>
<td>95501</td>
<td>140046</td>
<td>66</td>
<td>1</td>
<td>7</td> <td>16224</td>
</tr>
<tr><td>1907B2</td>
<td>5</td>
<td>96889</td>
<td>151106</td>
<td>120</td>
<td>1</td>
<td>7</td> <td>18075</td>
</tr>
<tr><td>1907B3</td>
<td>4</td>
<td>93316</td>
<td>147063</td>
<td>119</td>
<td>1</td>
<td>7</td> <td>17961</td>
</tr>
<tr><td>1907B4</td>
<td>1</td>
<td>89134</td>
<td>139237</td>
<td>113</td>
<td>5</td>
<td>7</td> <td>16600</td>
</tr>
<tr><td>1908B1</td>
<td>2</td>
<td>97080</td>
<td>145379</td>
<td>72</td>
<td>1</td>
<td>7</td> <td>16845</td>
</tr>
<tr><td>1908B2</td>
<td>0</td>
<td>97950</td>
<td>148292</td>
<td>95</td>
<td>1</td>
<td>7</td> <td>16658</td>
</tr>
<tr><td>1908B3</td>
<td>2</td>
<td>95017</td>
<td>144540</td>
<td>84</td>
<td>2</td>
<td>7</td> <td>16861</td>
</tr>
<tr><td>1908B4</td>
<td>0</td>
<td>88600</td>
<td>132840</td>
<td>67</td>
<td>2</td>
<td>7</td> <td>15356</td>
</tr>
<tr><td>1909B1</td>
<td>6</td>
<td>94832</td>
<td>139061</td>
<td>83</td>
<td>1</td>
<td>7</td> <td>16754</td>
</tr>
<tr><td>1909B2</td>
<td>2</td>
<td>95218</td>
<td>145790</td>
<td>106</td>
<td>2</td>
<td>7</td> <td>17623</td>
</tr>
<tr><td>1909B3</td>
<td>0</td>
<td>91866</td>
<td>140780</td>
<td>79</td>
<td>1</td>
<td>7</td> <td>17162</td>
</tr>
<tr><td>1909B4</td>
<td>6</td>
<td>91687</td>
<td>139875</td>
<td>76</td>
<td>4</td>
<td>7</td> <td>17129</td>
</tr>
<tr><td>1910B1</td>
<td>1</td>
<td>90185</td>
<td>133689</td>
<td>102</td>
<td>0</td>
<td>7</td> <td>15457</td>
</tr>
<tr><td>1910B2</td>
<td>3</td>
<td>91496</td>
<td>145473</td>
<td>113</td>
<td>3</td>
<td>8</td> <td>17976</td>
</tr>
<tr><td>1910B3</td>
<td>22</td>
<td>226870</td>
<td>2579</td>
<td>32</td>
<td>0</td>
<td>61</td> <td>139170</td>
</tr>
<tr><td>1910B4</td>
<td>3</td>
<td>214843</td>
<td>780</td>
<td>7</td>
<td>0</td>
<td>61</td> <td>131442</td>
</tr>
<tr><td>1911B1</td>
<td>3</td>
<td>225790</td>
<td>365</td>
<td>4</td>
<td>0</td>
<td>61</td> <td>138637</td>
</tr>
<tr><td>1911B2</td>
<td>4</td>
<td>227920</td>
<td>322</td>
<td>6</td>
<td>0</td>
<td>62</td> <td>142023</td>
</tr>
<tr><td>1911B3</td>
<td>10</td>
<td>236379</td>
<td>335</td>
<td>5</td>
<td>0</td>
<td>63</td> <td>148008</td>
</tr>
<tr><td>1911B4</td>
<td>1</td>
<td>211668</td>
<td>184</td>
<td>1</td>
<td>0</td>
<td>62</td> <td>130428</td>
</tr>
<tr><td>1912B1</td>
<td>1</td>
<td>225072</td>
<td>217</td>
<td>3</td>
<td>0</td>
<td>61</td> <td>137784</td>
</tr>
<tr><td>1912B2</td>
<td>1</td>
<td>220429</td>
<td>271</td>
<td>3</td>
<td>1</td>
<td>62</td> <td>136141</td>
</tr>
<tr><td>1912B3</td>
<td>1</td>
<td>221731</td>
<td>237</td>
<td>3</td>
<td>1</td>
<td>62</td> <td>138064</td>
</tr>
<tr><td>1912B4</td>
<td>1</td>
<td>215178</td>
<td>219</td>
<td>1</td>
<td>0</td>
<td>62</td> <td>132875</td>
</tr>
<tr><td>1913B1</td>
<td>13</td>
<td>218823</td>
<td>450</td>
<td>8</td>
<td>0</td>
<td>62</td> <td>135118</td>
</tr>
<tr><td>1913B2</td>
<td>2</td>
<td>229035</td>
<td>1133</td>
<td>21</td>
<td>0</td>
<td>62</td> <td>142605</td>
</tr>
<tr><td>1913B3</td>
<td>0</td>
<td>228262</td>
<td>685</td>
<td>5</td>
<td>0</td>
<td>62</td> <td>140890</td>
</tr>
<tr><td>1913B4</td>
<td>1</td>
<td>214027</td>
<td>373</td>
<td>5</td>
<td>0</td>
<td>61</td> <td>131682</td>
</tr>
<tr><td>1914B1</td>
<td>0</td>
<td>219766</td>
<td>611</td>
<td>12</td>
<td>0</td>
<td>61</td> <td>134048</td>
</tr>
<tr><td>1914B2</td>
<td>3</td>
<td>229118</td>
<td>690</td>
<td>14</td>
<td>0</td>
<td>62</td> <td>141642</td>
</tr>
<tr><td>1914B3</td>
<td>20</td>
<td>229342</td>
<td>494</td>
<td>7</td>
<td>0</td>
<td>61</td> <td>141152</td>
</tr>
<tr><td>1914B4</td>
<td>3</td>
<td>210246</td>
<td>735</td>
<td>10</td>
<td>0</td>
<td>62</td> <td>130768</td>
</tr>
<tr><td>1915B1</td>
<td>3</td>
<td>223624</td>
<td>965</td>
<td>7</td>
<td>0</td>
<td>62</td> <td>140012</td>
</tr>
<tr><td>1915B2</td>
<td>1</td>
<td>215597</td>
<td>614</td>
<td>8</td>
<td>0</td>
<td>63</td> <td>135812</td>
</tr>
<tr><td>1915B3</td>
<td>3</td>
<td>199072</td>
<td>596</td>
<td>6</td>
<td>0</td>
<td>63</td> <td>125496</td>
</tr>
<tr><td>1915B4</td>
<td>1</td>
<td>185319</td>
<td>518</td>
<td>3</td>
<td>0</td>
<td>63</td> <td>117635</td>
</tr>
<tr><td>1916B1</td>
<td>2</td>
<td>195716</td>
<td>2033</td>
<td>35</td>
<td>1</td>
<td>63</td> <td>123661</td>
</tr>
<tr><td>1916B2</td>
<td>3</td>
<td>208490</td>
<td>3592</td>
<td>100</td>
<td>1</td>
<td>63</td> <td>134217</td>
</tr>
<tr><td>1916B3</td>
<td>3</td>
<td>200334</td>
<td>1065</td>
<td>14</td>
<td>1</td>
<td>64</td> <td>129226</td>
</tr>
<tr><td>1916B4</td>
<td>0</td>
<td>185018</td>
<td>1087</td>
<td>13</td>
<td>0</td>
<td>64</td> <td>119082</td>
</tr>
<tr><td>1917B1</td>
<td>1</td>
<td>180784</td>
<td>457</td>
<td>7</td>
<td>0</td>
<td>63</td> <td>114691</td>
</tr>
<tr><td>1917B2</td>
<td>1</td>
<td>175595</td>
<td>325</td>
<td>0</td>
<td>0</td>
<td>63</td> <td>111002</td>
</tr>
<tr><td>1917B3</td>
<td>1</td>
<td>164693</td>
<td>409</td>
<td>4</td>
<td>0</td>
<td>63</td> <td>103629</td>
</tr>
<tr><td>1917B4</td>
<td>0</td>
<td>155932</td>
<td>384</td>
<td>4</td>
<td>0</td>
<td>63</td> <td>97819</td>
</tr>
<tr><td>1918B1</td>
<td>10</td>
<td>165680</td>
<td>586</td>
<td>3</td>
<td>0</td>
<td>62</td> <td>102781</td>
</tr>
<tr><td>1918B2</td>
<td>1</td>
<td>173140</td>
<td>962</td>
<td>12</td>
<td>0</td>
<td>62</td> <td>107616</td>
</tr>
<tr><td>1918B3</td>
<td>3</td>
<td>172245</td>
<td>428</td>
<td>3</td>
<td>0</td>
<td>61</td> <td>105670</td>
</tr>
<tr><td>1918B4</td>
<td>3</td>
<td>164237</td>
<td>732</td>
<td>9</td>
<td>0</td>
<td>62</td> <td>101510</td>
</tr>
<tr><td>1919B1</td>
<td>2</td>
<td>147369</td>
<td>292</td>
<td>3</td>
<td>1</td>
<td>62</td> <td>90869</td>
</tr>
<tr><td>1919B2</td>
<td>7</td>
<td>151201</td>
<td>95</td>
<td>1</td>
<td>1</td>
<td>62</td> <td>94385</td>
</tr>
<tr><td>1919B3</td>
<td>1</td>
<td>177888</td>
<td>126</td>
<td>2</td>
<td>0</td>
<td>62</td> <td>110448</td>
</tr>
<tr><td>1919B4</td>
<td>1</td>
<td>226357</td>
<td>123</td>
<td>2</td>
<td>0</td>
<td>62</td> <td>140277</td>
</tr>
<tr><td>1920B1</td>
<td>3</td>
<td>274273</td>
<td>259</td>
<td>4</td>
<td>0</td>
<td>64</td> <td>174844</td>
</tr>
<tr><td>1920B2</td>
<td>1</td>
<td>252129</td>
<td>216</td>
<td>3</td>
<td>1</td>
<td>65</td> <td>162927</td>
</tr>
<tr><td>1920B3</td>
<td>4</td>
<td>233244</td>
<td>143</td>
<td>2</td>
<td>0</td>
<td>64</td> <td>149884</td>
</tr>
<tr><td>1920B4</td>
<td>1</td>
<td>211565</td>
<td>177</td>
<td>5</td>
<td>0</td>
<td>64</td> <td>135966</td>
</tr>
<tr><td>1921B1</td>
<td>0</td>
<td>212948</td>
<td>109</td>
<td>1</td>
<td>0</td>
<td>63</td> <td>135154</td>
</tr>
<tr><td>1921B2</td>
<td>4</td>
<td>228737</td>
<td>134</td>
<td>1</td>
<td>0</td>
<td>63</td> <td>145011</td>
</tr>
<tr><td>1921B3</td>
<td>4</td>
<td>218104</td>
<td>139</td>
<td>4</td>
<td>0</td>
<td>63</td> <td>137508</td>
</tr>
<tr><td>1921B4</td>
<td>1</td>
<td>202297</td>
<td>122</td>
<td>4</td>
<td>0</td>
<td>63</td> <td>127490</td>
</tr>
<tr><td>1922B1</td>
<td>1</td>
<td>211053</td>
<td>185</td>
<td>5</td>
<td>0</td>
<td>63</td> <td>133268</td>
</tr>
<tr><td>1922B2</td>
<td>2</td>
<td>203965</td>
<td>136</td>
<td>2</td>
<td>0</td>
<td>64</td> <td>130836</td>
</tr>
<tr><td>1922B3</td>
<td>3</td>
<td>199186</td>
<td>261</td>
<td>2</td>
<td>1</td>
<td>64</td> <td>126972</td>
</tr>
<tr><td>1922B4</td>
<td>0</td>
<td>179533</td>
<td>173</td>
<td>5</td>
<td>0</td>
<td>63</td> <td>114100</td>
</tr>
<tr><td>1923B1</td>
<td>5</td>
<td>196325</td>
<td>82</td>
<td>1</td>
<td>0</td>
<td>64</td> <td>126357</td>
</tr>
<tr><td>1923B2</td>
<td>1</td>
<td>199925</td>
<td>71</td>
<td>2</td>
<td>0</td>
<td>66</td> <td>131172</td>
</tr>
<tr><td>1923B3</td>
<td>2</td>
<td>193142</td>
<td>62</td>
<td>1</td>
<td>0</td>
<td>64</td> <td>124332</td>
</tr>
<tr><td>1923B4</td>
<td>1</td>
<td>181310</td>
<td>59</td>
<td>0</td>
<td>0</td>
<td>64</td> <td>116168</td>
</tr>
<tr><td>1924B1</td>
<td>2</td>
<td>188825</td>
<td>213</td>
<td>2</td>
<td>0</td>
<td>63</td> <td>119345</td>
</tr>
<tr><td>1924B2</td>
<td>2</td>
<td>190377</td>
<td>166</td>
<td>2</td>
<td>0</td>
<td>64</td> <td>121061</td>
</tr>
<tr><td>1924B3</td>
<td>1</td>
<td>190090</td>
<td>104</td>
<td>4</td>
<td>1</td>
<td>64</td> <td>122441</td>
</tr>
<tr><td>1924B4</td>
<td>1</td>
<td>174091</td>
<td>333</td>
<td>3</td>
<td>0</td>
<td>64</td> <td>112442</td>
</tr>
<tr><td>1925B1</td>
<td>0</td>
<td>179208</td>
<td>190</td>
<td>2</td>
<td>0</td>
<td>64</td> <td>114565</td>
</tr>
<tr><td>1925B2</td>
<td>0</td>
<td>190446</td>
<td>267</td>
<td>1</td>
<td>0</td>
<td>64</td> <td>122669</td>
</tr>
<tr><td>1925B3</td>
<td>4</td>
<td>185405</td>
<td>106</td>
<td>2</td>
<td>0</td>
<td>64</td> <td>118688</td>
</tr>
<tr><td>1925B4</td>
<td>1</td>
<td>169984</td>
<td>127</td>
<td>4</td>
<td>0</td>
<td>64</td> <td>108868</td>
</tr>
<tr><td>1926B1</td>
<td>0</td>
<td>177402</td>
<td>169</td>
<td>1</td>
<td>0</td>
<td>64</td> <td>113019</td>
</tr>
<tr><td>1926B2</td>
<td>1</td>
<td>184715</td>
<td>139</td>
<td>4</td>
<td>0</td>
<td>65</td> <td>119413</td>
</tr>
<tr><td>1926B3</td>
<td>3</td>
<td>178411</td>
<td>94</td>
<td>1</td>
<td>0</td>
<td>65</td> <td>115846</td>
</tr>
<tr><td>1926B4</td>
<td>2</td>
<td>167721</td>
<td>96</td>
<td>0</td>
<td>0</td>
<td>65</td> <td>108738</td>
</tr>
<tr><td>1927B1</td>
<td>5</td>
<td>171151</td>
<td>494</td>
<td>2</td>
<td>0</td>
<td>64</td> <td>109061</td>
</tr>
<tr><td>1927B2</td>
<td>10</td>
<td>175363</td>
<td>165</td>
<td>2</td>
<td>0</td>
<td>65</td> <td>113384</td>
</tr>
<tr><td>1927B3</td>
<td>17</td>
<td>168356</td>
<td>124</td>
<td>2</td>
<td>0</td>
<td>65</td> <td>109097</td>
</tr>
<tr><td>1927B4</td>
<td>11</td>
<td>157012</td>
<td>134</td>
<td>1</td>
<td>1</td>
<td>65</td> <td>101504</td>
</tr>
<tr><td>1928B1</td>
<td>1</td>
<td>172496</td>
<td>91</td>
<td>2</td>
<td>0</td>
<td>65</td> <td>111386</td>
</tr>
<tr><td>1928B2</td>
<td>2</td>
<td>175657</td>
<td>93</td>
<td>1</td>
<td>0</td>
<td>65</td> <td>114160</td>
</tr>
<tr><td>1928B3</td>
<td>2</td>
<td>170230</td>
<td>119</td>
<td>2</td>
<td>0</td>
<td>65</td> <td>110091</td>
</tr>
<tr><td>1928B4</td>
<td>4</td>
<td>159892</td>
<td>226</td>
<td>9</td>
<td>0</td>
<td>65</td> <td>103772</td>
</tr>
<tr><td>1929B1</td>
<td>0</td>
<td>164143</td>
<td>95</td>
<td>1</td>
<td>0</td>
<td>65</td> <td>105954</td>
</tr>
<tr><td>1929B2</td>
<td>1</td>
<td>173806</td>
<td>102</td>
<td>1</td>
<td>0</td>
<td>65</td> <td>113337</td>
</tr>
<tr><td>1929B3</td>
<td>0</td>
<td>168031</td>
<td>68</td>
<td>0</td>
<td>0</td>
<td>65</td> <td>109304</td>
</tr>
<tr><td>1929B4</td>
<td>2</td>
<td>154311</td>
<td>43</td>
<td>0</td>
<td>0</td>
<td>65</td> <td>100685</td>
</tr>
<tr><td>1930B1</td>
<td>0</td>
<td>162882</td>
<td>36</td>
<td>1</td>
<td>0</td>
<td>65</td> <td>105259</td>
</tr>
<tr><td>1930B2</td>
<td>2</td>
<td>174767</td>
<td>54</td>
<td>1</td>
<td>0</td>
<td>65</td> <td>113416</td>
</tr>
<tr><td>1930B3</td>
<td>2</td>
<td>170044</td>
<td>68</td>
<td>4</td>
<td>0</td>
<td>65</td> <td>110527</td>
</tr>
<tr><td>1930B4</td>
<td>1</td>
<td>159080</td>
<td>35</td>
<td>0</td>
<td>0</td>
<td>66</td> <td>105627</td>
</tr>
<tr><td>1931B1</td>
<td>8</td>
<td>164230</td>
<td>69</td>
<td>1</td>
<td>0</td>
<td>65</td> <td>107278</td>
</tr>
<tr><td>1931B2</td>
<td>11</td>
<td>168745</td>
<td>60</td>
<td>0</td>
<td>0</td>
<td>66</td> <td>111189</td>
</tr>
<tr><td>1931B3</td>
<td>11</td>
<td>165880</td>
<td>54</td>
<td>0</td>
<td>0</td>
<td>66</td> <td>109470</td>
</tr>
<tr><td>1931B4</td>
<td>4</td>
<td>151996</td>
<td>42</td>
<td>2</td>
<td>0</td>
<td>66</td> <td>99821</td>
</tr>
<tr><td>1932B1</td>
<td>1</td>
<td>156021</td>
<td>61</td>
<td>2</td>
<td>0</td>
<td>65</td> <td>101146</td>
</tr>
<tr><td>1932B2</td>
<td>1</td>
<td>169522</td>
<td>52</td>
<td>1</td>
<td>0</td>
<td>65</td> <td>110615</td>
</tr>
<tr><td>1932B3</td>
<td>2</td>
<td>160510</td>
<td>52</td>
<td>0</td>
<td>0</td>
<td>65</td> <td>104799</td>
</tr>
<tr><td>1932B4</td>
<td>5</td>
<td>145550</td>
<td>56</td>
<td>1</td>
<td>1</td>
<td>65</td> <td>95169</td>
</tr>
<tr><td>1933B1</td>
<td>0</td>
<td>152736</td>
<td>45</td>
<td>0</td>
<td>0</td>
<td>65</td> <td>98888</td>
</tr>
<tr><td>1933B2</td>
<td>0</td>
<td>158482</td>
<td>58</td>
<td>2</td>
<td>0</td>
<td>65</td> <td>103185</td>
</tr>
<tr><td>1933B3</td>
<td>0</td>
<td>152265</td>
<td>83</td>
<td>3</td>
<td>0</td>
<td>64</td> <td>98203</td>
</tr>
<tr><td>1933B4</td>
<td>2</td>
<td>133790</td>
<td>58</td>
<td>1</td>
<td>0</td>
<td>65</td> <td>86473</td>
</tr>
<tr><td>1934B1</td>
<td>0</td>
<td>153558</td>
<td>61</td>
<td>0</td>
<td>0</td>
<td>64</td> <td>98301</td>
</tr>
<tr><td>1934B2</td>
<td>2</td>
<td>160977</td>
<td>72</td>
<td>1</td>
<td>0</td>
<td>65</td> <td>104489</td>
</tr>
<tr><td>1934B3</td>
<td>0</td>
<td>153480</td>
<td>61</td>
<td>2</td>
<td>0</td>
<td>65</td> <td>99709</td>
</tr>
<tr><td>1934B4</td>
<td>0</td>
<td>146579</td>
<td>56</td>
<td>2</td>
<td>0</td>
<td>65</td> <td>95282</td>
</tr>
<tr><td>1935B1</td>
<td>1</td>
<td>150815</td>
<td>50</td>
<td>2</td>
<td>0</td>
<td>65</td> <td>97691</td>
</tr>
<tr><td>1935B2</td>
<td>2</td>
<td>160940</td>
<td>44</td>
<td>0</td>
<td>0</td>
<td>65</td> <td>105296</td>
</tr>
<tr><td>1935B3</td>
<td>2</td>
<td>160106</td>
<td>55</td>
<td>3</td>
<td>0</td>
<td>65</td> <td>103444</td>
</tr>
<tr><td>1935B4</td>
<td>0</td>
<td>145491</td>
<td>52</td>
<td>0</td>
<td>0</td>
<td>66</td> <td>95998</td>
</tr>
<tr><td>1936B1</td>
<td>2</td>
<td>152605</td>
<td>61</td>
<td>3</td>
<td>0</td>
<td>67</td> <td>101903</td>
</tr>
<tr><td>1936B2</td>
<td>1</td>
<td>162624</td>
<td>68</td>
<td>4</td>
<td>0</td>
<td>66</td> <td>107808</td>
</tr>
<tr><td>1936B3</td>
<td>4</td>
<td>160389</td>
<td>55</td>
<td>1</td>
<td>0</td>
<td>66</td> <td>106007</td>
</tr>
<tr><td>1936B4</td>
<td>0</td>
<td>148330</td>
<td>50</td>
<td>3</td>
<td>0</td>
<td>66</td> <td>97224</td>
</tr>
<tr><td>1937B1</td>
<td>0</td>
<td>149696</td>
<td>42</td>
<td>1</td>
<td>0</td>
<td>67</td> <td>100078</td>
</tr>
<tr><td>1937B2</td>
<td>0</td>
<td>168794</td>
<td>64</td>
<td>1</td>
<td>0</td>
<td>68</td> <td>114756</td>
</tr>
<tr><td>1937B3</td>
<td>0</td>
<td>163347</td>
<td>68</td>
<td>3</td>
<td>1</td>
<td>67</td> <td>108747</td>
</tr>
<tr><td>1937B4</td>
<td>0</td>
<td>147053</td>
<td>68</td>
<td>0</td>
<td>0</td>
<td>67</td> <td>97836</td>
</tr>
<tr><td>1938B1</td>
<td>1</td>
<td>159693</td>
<td>57</td>
<td>0</td>
<td>0</td>
<td>67</td> <td>106340</td>
</tr>
<tr><td>1938B2</td>
<td>1</td>
<td>168941</td>
<td>54</td>
<td>0</td>
<td>0</td>
<td>67</td> <td>112805</td>
</tr>
<tr><td>1938B3</td>
<td>0</td>
<td>162927</td>
<td>81</td>
<td>1</td>
<td>0</td>
<td>67</td> <td>108834</td>
</tr>
<tr><td>1938B4</td>
<td>3</td>
<td>148245</td>
<td>43</td>
<td>0</td>
<td>0</td>
<td>66</td> <td>98567</td>
</tr>
<tr><td>1939B1</td>
<td>2</td>
<td>158628</td>
<td>69</td>
<td>2</td>
<td>0</td>
<td>67</td> <td>105921</td>
</tr>
<tr><td>1939B2</td>
<td>5</td>
<td>169421</td>
<td>257</td>
<td>4</td>
<td>0</td>
<td>67</td> <td>113628</td>
</tr>
<tr><td>1939B3</td>
<td>1</td>
<td>166300</td>
<td>70</td>
<td>2</td>
<td>0</td>
<td>67</td> <td>111473</td>
</tr>
<tr><td>1939B4</td>
<td>2</td>
<td>145819</td>
<td>82</td>
<td>2</td>
<td>0</td>
<td>67</td> <td>98127</td>
</tr>
<tr><td>1940B1</td>
<td>1</td>
<td>159363</td>
<td>81</td>
<td>0</td>
<td>0</td>
<td>67</td> <td>107333</td>
</tr>
<tr><td>1940B2</td>
<td>2</td>
<td>172205</td>
<td>155</td>
<td>1</td>
<td>0</td>
<td>67</td> <td>116241</td>
</tr>
<tr><td>1940B3</td>
<td>3</td>
<td>154387</td>
<td>108</td>
<td>1</td>
<td>0</td>
<td>67</td> <td>102906</td>
</tr>
<tr><td>1940B4</td>
<td>0</td>
<td>141173</td>
<td>50</td>
<td>2</td>
<td>0</td>
<td>68</td> <td>95829</td>
</tr>
<tr><td>1941B1</td>
<td>0</td>
<td>151529</td>
<td>90</td>
<td>2</td>
<td>0</td>
<td>67</td> <td>102173</td>
</tr>
<tr><td>1941B2</td>
<td>1</td>
<td>152489</td>
<td>49</td>
<td>3</td>
<td>0</td>
<td>67</td> <td>101817</td>
</tr>
<tr><td>1941B3</td>
<td>0</td>
<td>152723</td>
<td>86</td>
<td>5</td>
<td>0</td>
<td>67</td> <td>102636</td>
</tr>
<tr><td>1941B4</td>
<td>0</td>
<td>150044</td>
<td>55</td>
<td>1</td>
<td>0</td>
<td>68</td> <td>102542</td>
</tr>
<tr><td>1942B1</td>
<td>0</td>
<td>163338</td>
<td>89</td>
<td>2</td>
<td>0</td>
<td>69</td> <td>112679</td>
</tr>
<tr><td>1942B2</td>
<td>2</td>
<td>173558</td>
<td>83</td>
<td>1</td>
<td>0</td>
<td>69</td> <td>119097</td>
</tr>
<tr><td>1942B3</td>
<td>0</td>
<td>174547</td>
<td>67</td>
<td>1</td>
<td>0</td>
<td>69</td> <td>121194</td>
</tr>
<tr><td>1942B4</td>
<td>0</td>
<td>164955</td>
<td>76</td>
<td>1</td>
<td>0</td>
<td>70</td> <td>115580</td>
</tr>
<tr><td>1943B1</td>
<td>2</td>
<td>178297</td>
<td>121</td>
<td>2</td>
<td>0</td>
<td>70</td> <td>125334</td>
</tr>
<tr><td>1943B2</td>
<td>2</td>
<td>187240</td>
<td>89</td>
<td>12</td>
<td>0</td>
<td>70</td> <td>131872</td>
</tr>
<tr><td>1943B3</td>
<td>3</td>
<td>175992</td>
<td>257</td>
<td>1</td>
<td>0</td>
<td>70</td> <td>124160</td>
</tr>
<tr><td>1943B4</td>
<td>6</td>
<td>167323</td>
<td>80</td>
<td>3</td>
<td>0</td>
<td>71</td> <td>118570</td>
</tr>
<tr><td>1944B1</td>
<td>1</td>
<td>191272</td>
<td>160</td>
<td>5</td>
<td>0</td>
<td>71</td> <td>135832</td>
</tr>
<tr><td>1944B2</td>
<td>1</td>
<td>207209</td>
<td>146</td>
<td>4</td>
<td>0</td>
<td>71</td> <td>147648</td>
</tr>
<tr><td>1944B3</td>
<td>1</td>
<td>191242</td>
<td>102</td>
<td>2</td>
<td>0</td>
<td>71</td> <td>136202</td>
</tr>
<tr><td>1944B4</td>
<td>1</td>
<td>185879</td>
<td>100</td>
<td>5</td>
<td>0</td>
<td>72</td> <td>133992</td>
</tr>
<tr><td>1945B1</td>
<td>0</td>
<td>186302</td>
<td>79</td>
<td>4</td>
<td>0</td>
<td>72</td> <td>134712</td>
</tr>
<tr><td>1945B2</td>
<td>1</td>
<td>183977</td>
<td>69</td>
<td>0</td>
<td>0</td>
<td>72</td> <td>132202</td>
</tr>
<tr><td>1945B3</td>
<td>2</td>
<td>176227</td>
<td>103</td>
<td>4</td>
<td>0</td>
<td>71</td> <td>125479</td>
</tr>
<tr><td>1945B4</td>
<td>1</td>
<td>172669</td>
<td>58</td>
<td>2</td>
<td>0</td>
<td>71</td> <td>122520</td>
</tr>
<tr><td>1946B1</td>
<td>3</td>
<td>189427</td>
<td>163</td>
<td>3</td>
<td>0</td>
<td>71</td> <td>134895</td>
</tr>
<tr><td>1946B2</td>
<td>2</td>
<td>212845</td>
<td>225</td>
<td>7</td>
<td>0</td>
<td>71</td> <td>151618</td>
</tr>
<tr><td>1946B3</td>
<td>4</td>
<td>222439</td>
<td>147</td>
<td>2</td>
<td>0</td>
<td>71</td> <td>157088</td>
</tr>
<tr><td>1946B4</td>
<td>2</td>
<td>230424</td>
<td>142</td>
<td>1</td>
<td>0</td>
<td>71</td> <td>164243</td>
</tr>
<tr><td>1947B1</td>
<td>1</td>
<td>251553</td>
<td>93</td>
<td>4</td>
<td>0</td>
<td>71</td> <td>179646</td>
</tr>
<tr><td>1947B2</td>
<td>1</td>
<td>245524</td>
<td>76</td>
<td>0</td>
<td>0</td>
<td>71</td> <td>175320</td>
</tr>
<tr><td>1947B3</td>
<td>1</td>
<td>226325</td>
<td>71</td>
<td>1</td>
<td>0</td>
<td>71</td> <td>160258</td>
</tr>
<tr><td>1947B4</td>
<td>0</td>
<td>202167</td>
<td>81</td>
<td>1</td>
<td>0</td>
<td>71</td> <td>144083</td>
</tr>
<tr><td>1948B1</td>
<td>3</td>
<td>210747</td>
<td>86</td>
<td>1</td>
<td>0</td>
<td>71</td> <td>150425</td>
</tr>
<tr><td>1948B2</td>
<td>3</td>
<td>212485</td>
<td>83</td>
<td>0</td>
<td>0</td>
<td>71</td> <td>151204</td>
</tr>
<tr><td>1948B3</td>
<td>6</td>
<td>200472</td>
<td>84</td>
<td>0</td>
<td>0</td>
<td>70</td> <td>141372</td>
</tr>
<tr><td>1948B4</td>
<td>6</td>
<td>187508</td>
<td>107</td>
<td>0</td>
<td>0</td>
<td>72</td> <td>134150</td>
</tr>
<tr><td>1949B1</td>
<td>1</td>
<td>194761</td>
<td>110</td>
<td>4</td>
<td>0</td>
<td>72</td> <td>140576</td>
</tr>
<tr><td>1949B2</td>
<td>2</td>
<td>200395</td>
<td>118</td>
<td>2</td>
<td>0</td>
<td>72</td> <td>144339</td>
</tr>
<tr><td>1949B3</td>
<td>4</td>
<td>191622</td>
<td>146</td>
<td>5</td>
<td>0</td>
<td>72</td> <td>137392</td>
</tr>
<tr><td>1949B4</td>
<td>0</td>
<td>176590</td>
<td>80</td>
<td>0</td>
<td>0</td>
<td>71</td> <td>126233</td>
</tr>
<tr><td>1950B1</td>
<td>2</td>
<td>187527</td>
<td>72</td>
<td>1</td>
<td>0</td>
<td>71</td> <td>133426</td>
</tr>
<tr><td>1950B2</td>
<td>2</td>
<td>189088</td>
<td>67</td>
<td>1</td>
<td>0</td>
<td>71</td> <td>134687</td>
</tr>
<tr><td>1950B3</td>
<td>2</td>
<td>177316</td>
<td>87</td>
<td>1</td>
<td>0</td>
<td>72</td> <td>127151</td>
</tr>
<tr><td>1950B4</td>
<td>0</td>
<td>167115</td>
<td>61</td>
<td>2</td>
<td>0</td>
<td>72</td> <td>121100</td>
</tr>
<tr><td>1951B1</td>
<td>3</td>
<td>183256</td>
<td>85</td>
<td>0</td>
<td>0</td>
<td>72</td> <td>132630</td>
</tr>
<tr><td>1951B2</td>
<td>2</td>
<td>188960</td>
<td>77</td>
<td>1</td>
<td>0</td>
<td>72</td> <td>137026</td>
</tr>
<tr><td>1951B3</td>
<td>2</td>
<td>174984</td>
<td>61</td>
<td>1</td>
<td>0</td>
<td>72</td> <td>126548</td>
</tr>
<tr><td>1951B4</td>
<td>1</td>
<td>160420</td>
<td>86</td>
<td>3</td>
<td>0</td>
<td>72</td> <td>115427</td>
</tr>
<tr><td>1952B1</td>
<td>1</td>
<td>180542</td>
<td>86</td>
<td>1</td>
<td>0</td>
<td>73</td> <td>131319</td>
</tr>
<tr><td>1952B2</td>
<td>4</td>
<td>181676</td>
<td>65</td>
<td>1</td>
<td>0</td>
<td>73</td> <td>131822</td>
</tr>
<tr><td>1952B3</td>
<td>4</td>
<td>174885</td>
<td>69</td>
<td>0</td>
<td>0</td>
<td>72</td> <td>126396</td>
</tr>
<tr><td>1952B4</td>
<td>0</td>
<td>164410</td>
<td>62</td>
<td>1</td>
<td>0</td>
<td>72</td> <td>119073</td>
</tr>
<tr><td>1953B1</td>
<td>4</td>
<td>178423</td>
<td>75</td>
<td>1</td>
<td>0</td>
<td>73</td> <td>129924</td>
</tr>
<tr><td>1953B2</td>
<td>1</td>
<td>186933</td>
<td>86</td>
<td>1</td>
<td>0</td>
<td>73</td> <td>136235</td>
</tr>
<tr><td>1953B3</td>
<td>3</td>
<td>179941</td>
<td>89</td>
<td>1</td>
<td>0</td>
<td>72</td> <td>130339</td>
</tr>
<tr><td>1953B4</td>
<td>2</td>
<td>164810</td>
<td>75</td>
<td>2</td>
<td>0</td>
<td>72</td> <td>119074</td>
</tr>
<tr><td>1954B1</td>
<td>5</td>
<td>180592</td>
<td>79</td>
<td>6</td>
<td>0</td>
<td>73</td> <td>131151</td>
</tr>
<tr><td>1954B2</td>
<td>2</td>
<td>182315</td>
<td>112</td>
<td>3</td>
<td>0</td>
<td>73</td> <td>133034</td>
</tr>
<tr><td>1954B3</td>
<td>1</td>
<td>173995</td>
<td>79</td>
<td>3</td>
<td>1</td>
<td>73</td> <td>126788</td>
</tr>
<tr><td>1954B4</td>
<td>2</td>
<td>163403</td>
<td>66</td>
<td>1</td>
<td>0</td>
<td>73</td> <td>119563</td>
</tr>
<tr><td>1955B1</td>
<td>1</td>
<td>175803</td>
<td>84</td>
<td>2</td>
<td>0</td>
<td>73</td> <td>128886</td>
</tr>
<tr><td>1955B2</td>
<td>1</td>
<td>177979</td>
<td>62</td>
<td>0</td>
<td>0</td>
<td>74</td> <td>131091</td>
</tr>
<tr><td>1955B3</td>
<td>6</td>
<td>173706</td>
<td>72</td>
<td>1</td>
<td>0</td>
<td>73</td> <td>126332</td>
</tr>
<tr><td>1955B4</td>
<td>1</td>
<td>164027</td>
<td>81</td>
<td>2</td>
<td>0</td>
<td>72</td> <td>118961</td>
</tr>
<tr><td>1956B1</td>
<td>4</td>
<td>185839</td>
<td>74</td>
<td>6</td>
<td>0</td>
<td>73</td> <td>135207</td>
</tr>
<tr><td>1956B2</td>
<td>5</td>
<td>189681</td>
<td>83</td>
<td>3</td>
<td>0</td>
<td>73</td> <td>137885</td>
</tr>
<tr><td>1956B3</td>
<td>4</td>
<td>180562</td>
<td>96</td>
<td>0</td>
<td>0</td>
<td>73</td> <td>131106</td>
</tr>
<tr><td>1956B4</td>
<td>2</td>
<td>169877</td>
<td>80</td>
<td>2</td>
<td>0</td>
<td>72</td> <td>123024</td>
</tr>
<tr><td>1957B1</td>
<td>2</td>
<td>191129</td>
<td>133</td>
<td>5</td>
<td>0</td>
<td>73</td> <td>139436</td>
</tr>
<tr><td>1957B2</td>
<td>1</td>
<td>192658</td>
<td>109</td>
<td>2</td>
<td>1</td>
<td>73</td> <td>140734</td>
</tr>
<tr><td>1957B3</td>
<td>1</td>
<td>187279</td>
<td>115</td>
<td>4</td>
<td>0</td>
<td>72</td> <td>135445</td>
</tr>
<tr><td>1957B4</td>
<td>0</td>
<td>181090</td>
<td>80</td>
<td>0</td>
<td>0</td>
<td>72</td> <td>130979</td>
</tr>
<tr><td>1958B1</td>
<td>18</td>
<td>198535</td>
<td>72</td>
<td>2</td>
<td>0</td>
<td>73</td> <td>144388</td>
</tr>
<tr><td>1958B2</td>
<td>19</td>
<td>198120</td>
<td>67</td>
<td>1</td>
<td>0</td>
<td>73</td> <td>144668</td>
</tr>
<tr><td>1958B3</td>
<td>3</td>
<td>188396</td>
<td>92</td>
<td>8</td>
<td>0</td>
<td>73</td> <td>137746</td>
</tr>
<tr><td>1958B4</td>
<td>12</td>
<td>186032</td>
<td>94</td>
<td>4</td>
<td>0</td>
<td>73</td> <td>135603</td>
</tr>
<tr><td>1959B1</td>
<td>18</td>
<td>200069</td>
<td>94</td>
<td>0</td>
<td>0</td>
<td>73</td> <td>145939</td>
</tr>
<tr><td>1959B2</td>
<td>4</td>
<td>207076</td>
<td>89</td>
<td>3</td>
<td>0</td>
<td>73</td> <td>151896</td>
</tr>
<tr><td>1959B3</td>
<td>15</td>
<td>195127</td>
<td>93</td>
<td>4</td>
<td>0</td>
<td>73</td> <td>142610</td>
</tr>
<tr><td>1959B4</td>
<td>14</td>
<td>181451</td>
<td>83</td>
<td>2</td>
<td>0</td>
<td>73</td> <td>133000</td>
</tr>
<tr><td>1960B1</td>
<td>33</td>
<td>207428</td>
<td>105</td>
<td>5</td>
<td>0</td>
<td>74</td> <td>153571</td>
</tr>
<tr><td>1960B2</td>
<td>13</td>
<td>208151</td>
<td>104</td>
<td>6</td>
<td>0</td>
<td>75</td> <td>156392</td>
</tr>
<tr><td>1960B3</td>
<td>12</td>
<td>207566</td>
<td>121</td>
<td>6</td>
<td>5</td>
<td>74</td> <td>153522</td>
</tr>
<tr><td>1960B4</td>
<td>11</td>
<td>197990</td>
<td>103</td>
<td>3</td>
<td>0</td>
<td>74</td> <td>146118</td>
</tr>
<tr><td>1961B1</td>
<td>21</td>
<td>215415</td>
<td>128</td>
<td>10</td>
<td>0</td>
<td>74</td> <td>159485</td>
</tr>
<tr><td>1961B2</td>
<td>6</td>
<td>219334</td>
<td>102</td>
<td>4</td>
<td>0</td>
<td>74</td> <td>162802</td>
</tr>
<tr><td>1961B3</td>
<td>4</td>
<td>216392</td>
<td>124</td>
<td>6</td>
<td>1</td>
<td>74</td> <td>160461</td>
</tr>
<tr><td>1961B4</td>
<td>1</td>
<td>198648</td>
<td>107</td>
<td>5</td>
<td>0</td>
<td>74</td> <td>147051</td>
</tr>
<tr><td>1962B1</td>
<td>17</td>
<td>233927</td>
<td>156</td>
<td>10</td>
<td>0</td>
<td>75</td> <td>174517</td>
</tr>
<tr><td>1962B2</td>
<td>3</td>
<td>230098</td>
<td>170</td>
<td>9</td>
<td>0</td>
<td>74</td> <td>171159</td>
</tr>
<tr><td>1962B3</td>
<td>1</td>
<td>222271</td>
<td>162</td>
<td>7</td>
<td>0</td>
<td>74</td> <td>164862</td>
</tr>
<tr><td>1962B4</td>
<td>1</td>
<td>209582</td>
<td>166</td>
<td>13</td>
<td>2</td>
<td>74</td> <td>154708</td>
</tr>
<tr><td>1963B1</td>
<td>13</td>
<td>228791</td>
<td>8363</td>
<td>66</td>
<td>0</td>
<td>71</td> <td>167693</td>
</tr>
<tr><td>1963B2</td>
<td>5</td>
<td>234538</td>
<td>822</td>
<td>8</td>
<td>0</td>
<td>74</td> <td>175197</td>
</tr>
<tr><td>1963B3</td>
<td>38</td>
<td>229547</td>
<td>1317</td>
<td>27</td>
<td>1</td>
<td>74</td> <td>171733</td>
</tr>
<tr><td>1963B4</td>
<td>34</td>
<td>213589</td>
<td>556</td>
<td>6</td>
<td>0</td>
<td>75</td> <td>159687</td>
</tr>
<tr><td>1964B1</td>
<td>31</td>
<td>234999</td>
<td>699</td>
<td>12</td>
<td>0</td>
<td>75</td> <td>176392</td>
</tr>
<tr><td>1964B2</td>
<td>6</td>
<td>245346</td>
<td>427</td>
<td>19</td>
<td>0</td>
<td>76</td> <td>186284</td>
</tr>
<tr><td>1964B3</td>
<td>1</td>
<td>239175</td>
<td>592</td>
<td>11</td>
<td>0</td>
<td>76</td> <td>181264</td>
</tr>
<tr><td>1964B4</td>
<td>2</td>
<td>220072</td>
<td>472</td>
<td>9</td>
<td>0</td>
<td>75</td> <td>166424</td>
</tr>
<tr><td>1965B1</td>
<td>6</td>
<td>238987</td>
<td>1101</td>
<td>5</td>
<td>0</td>
<td>76</td> <td>182266</td>
</tr>
<tr><td>1965B2</td>
<td>18</td>
<td>235946</td>
<td>1140</td>
<td>9</td>
<td>0</td>
<td>76</td> <td>180621</td>
</tr>
<tr><td>1965B3</td>
<td>48</td>
<td>235592</td>
<td>1350</td>
<td>16</td>
<td>0</td>
<td>75</td> <td>178500</td>
</tr>
<tr><td>1965B4</td>
<td>10</td>
<td>219955</td>
<td>1250</td>
<td>13</td>
<td>0</td>
<td>75</td> <td>166618</td>
</tr>
<tr><td>1966B1</td>
<td>396</td>
<td>56981</td>
<td>180267</td>
<td>243</td>
<td>12</td>
<td>5</td> <td>11647</td>
</tr>
<tr><td>1966B2</td>
<td>569</td>
<td>53611</td>
<td>177588</td>
<td>238</td>
<td>8</td>
<td>5</td> <td>12572</td>
</tr>
<tr><td>1966B3</td>
<td>661</td>
<td>55698</td>
<td>179988</td>
<td>375</td>
<td>13</td>
<td>5</td> <td>12508</td>
</tr>
<tr><td>1966B4</td>
<td>551</td>
<td>51167</td>
<td>163363</td>
<td>251</td>
<td>7</td>
<td>5</td> <td>11052</td>
</tr>
<tr><td>1967B1</td>
<td>711</td>
<td>56500</td>
<td>180269</td>
<td>257</td>
<td>7</td>
<td>5</td> <td>12161</td>
</tr>
<tr><td>1967B2</td>
<td>658</td>
<td>55240</td>
<td>177985</td>
<td>229</td>
<td>11</td>
<td>5</td> <td>11897</td>
</tr>
<tr><td>1967B3</td>
<td>727</td>
<td>53871</td>
<td>170327</td>
<td>249</td>
<td>16</td>
<td>5</td> <td>11526</td>
</tr>
<tr><td>1967B4</td>
<td>651</td>
<td>49800</td>
<td>157708</td>
<td>207</td>
<td>6</td>
<td>5</td> <td>10734</td>
</tr>
<tr><td>1968B1</td>
<td>820</td>
<td>55846</td>
<td>178902</td>
<td>235</td>
<td>3</td>
<td>5</td> <td>11592</td>
</tr>
<tr><td>1968B2</td>
<td>613</td>
<td>53265</td>
<td>172938</td>
<td>212</td>
<td>18</td>
<td>5</td> <td>11171</td>
</tr>
<tr><td>1968B3</td>
<td>820</td>
<td>53366</td>
<td>172832</td>
<td>241</td>
<td>3</td>
<td>5</td> <td>11471</td>
</tr>
<tr><td>1968B4</td>
<td>818</td>
<td>49692</td>
<td>158657</td>
<td>221</td>
<td>4</td>
<td>5</td> <td>10506</td>
</tr>
<tr><td>1969B1</td>
<td>762</td>
<td>53849</td>
<td>178209</td>
<td>250</td>
<td>4</td>
<td>5</td> <td>11967</td>
</tr>
<tr><td>1969B2</td>
<td>5</td>
<td>50977</td>
<td>171246</td>
<td>216</td>
<td>7</td>
<td>5</td> <td>10751</td>
</tr>
<tr><td>1969B3</td>
<td>3</td>
<td>50039</td>
<td>166798</td>
<td>192</td>
<td>5</td>
<td>5</td> <td>11177</td>
</tr>
<tr><td>1969B4</td>
<td>2</td>
<td>45501</td>
<td>150557</td>
<td>191</td>
<td>19</td>
<td>5</td> <td>10003</td>
</tr>
<tr><td>1970B1</td>
<td>0</td>
<td>49084</td>
<td>164343</td>
<td>180</td>
<td>12</td>
<td>5</td> <td>10550</td>
</tr>
<tr><td>1970B2</td>
<td>7</td>
<td>50322</td>
<td>171871</td>
<td>177</td>
<td>7</td>
<td>5</td> <td>11007</td>
</tr>
<tr><td>1970B3</td>
<td>3</td>
<td>48465</td>
<td>165797</td>
<td>229</td>
<td>14</td>
<td>5</td> <td>10885</td>
</tr>
<tr><td>1970B4</td>
<td>3</td>
<td>46855</td>
<td>158371</td>
<td>186</td>
<td>4</td>
<td>5</td> <td>10539</td>
</tr>
<tr><td>1971B1</td>
<td>7</td>
<td>50989</td>
<td>174653</td>
<td>186</td>
<td>6</td>
<td>5</td> <td>11286</td>
</tr>
<tr><td>1971B2</td>
<td>5</td>
<td>48432</td>
<td>170897</td>
<td>206</td>
<td>8</td>
<td>5</td> <td>11314</td>
</tr>
<tr><td>1971B3</td>
<td>1</td>
<td>47457</td>
<td>166422</td>
<td>207</td>
<td>10</td>
<td>5</td> <td>10862</td>
</tr>
<tr><td>1971B4</td>
<td>7</td>
<td>44051</td>
<td>153965</td>
<td>176</td>
<td>7</td>
<td>5</td> <td>10104</td>
</tr>
<tr><td>1972B1</td>
<td>5</td>
<td>45391</td>
<td>162440</td>
<td>206</td>
<td>10</td>
<td>5</td> <td>10764</td>
</tr>
<tr><td>1972B2</td>
<td>9</td>
<td>43501</td>
<td>160675</td>
<td>215</td>
<td>16</td>
<td>6</td> <td>11360</td>
</tr>
<tr><td>1972B3</td>
<td>5</td>
<td>42753</td>
<td>157958</td>
<td>197</td>
<td>12</td>
<td>6</td> <td>11526</td>
</tr>
<tr><td>1972B4</td>
<td>3</td>
<td>39737</td>
<td>141571</td>
<td>225</td>
<td>3</td>
<td>5</td> <td>9945</td>
</tr>
<tr><td>1973B1</td>
<td>6</td>
<td>42216</td>
<td>157837</td>
<td>426</td>
<td>15</td>
<td>6</td> <td>11056</td>
</tr>
<tr><td>1973B2</td>
<td>2</td>
<td>39100</td>
<td>148727</td>
<td>303</td>
<td>17</td>
<td>6</td> <td>10406</td>
</tr>
<tr><td>1973B3</td>
<td>5</td>
<td>38485</td>
<td>144249</td>
<td>297</td>
<td>6</td>
<td>5</td> <td>10062</td>
</tr>
<tr><td>1973B4</td>
<td>7</td>
<td>36425</td>
<td>136934</td>
<td>271</td>
<td>9</td>
<td>6</td> <td>10309</td>
</tr>
<tr><td>1974B1</td>
<td>14</td>
<td>37790</td>
<td>145260</td>
<td>212</td>
<td>8</td>
<td>6</td> <td>11138</td>
</tr>
<tr><td>1974B2</td>
<td>13</td>
<td>36146</td>
<td>141040</td>
<td>236</td>
<td>8</td>
<td>6</td> <td>11199</td>
</tr>
<tr><td>1974B3</td>
<td>7</td>
<td>37467</td>
<td>144786</td>
<td>256</td>
<td>7</td>
<td>6</td> <td>11637</td>
</tr>
<tr><td>1974B4</td>
<td>10</td>
<td>34343</td>
<td>131643</td>
<td>149</td>
<td>5</td>
<td>6</td> <td>10671</td>
</tr>
<tr><td>1975B1</td>
<td>4</td>
<td>34749</td>
<td>134425</td>
<td>181</td>
<td>6</td>
<td>6</td> <td>10629</td>
</tr>
<tr><td>1975B2</td>
<td>4</td>
<td>36036</td>
<td>140165</td>
<td>164</td>
<td>4</td>
<td>6</td> <td>10573</td>
</tr>
<tr><td>1975B3</td>
<td>2</td>
<td>35924</td>
<td>135990</td>
<td>210</td>
<td>10</td>
<td>6</td> <td>10703</td>
</tr>
<tr><td>1975B4</td>
<td>2</td>
<td>31621</td>
<td>119448</td>
<td>139</td>
<td>11</td>
<td>6</td> <td>9162</td>
</tr>
<tr><td>1976B1</td>
<td>1</td>
<td>34701</td>
<td>134966</td>
<td>169</td>
<td>6</td>
<td>6</td> <td>10339</td>
</tr>
<tr><td>1976B2</td>
<td>3</td>
<td>33856</td>
<td>130757</td>
<td>220</td>
<td>7</td>
<td>6</td> <td>10102</td>
</tr>
<tr><td>1976B3</td>
<td>0</td>
<td>34436</td>
<td>130896</td>
<td>158</td>
<td>5</td>
<td>6</td> <td>10176</td>
</tr>
<tr><td>1976B4</td>
<td>1</td>
<td>30915</td>
<td>118131</td>
<td>174</td>
<td>3</td>
<td>6</td> <td>9354</td>
</tr>
<tr><td>1977B1</td>
<td>2</td>
<td>32922</td>
<td>129240</td>
<td>251</td>
<td>8</td>
<td>6</td> <td>10407</td>
</tr>
<tr><td>1977B2</td>
<td>3</td>
<td>30309</td>
<td>127841</td>
<td>268</td>
<td>5</td>
<td>7</td> <td>10884</td>
</tr>
<tr><td>1977B3</td>
<td>3</td>
<td>31829</td>
<td>131421</td>
<td>305</td>
<td>7</td>
<td>7</td> <td>11752</td>
</tr>
<tr><td>1977B4</td>
<td>6</td>
<td>29288</td>
<td>121615</td>
<td>305</td>
<td>6</td>
<td>7</td> <td>10747</td>
</tr>
<tr><td>1978B1</td>
<td>9</td>
<td>30062</td>
<td>133409</td>
<td>139</td>
<td>3</td>
<td>8</td> <td>12856</td>
</tr>
<tr><td>1978B2</td>
<td>3</td>
<td>31326</td>
<td>136675</td>
<td>271</td>
<td>16</td>
<td>7</td> <td>12569</td>
</tr>
<tr><td>1978B3</td>
<td>3</td>
<td>32461</td>
<td>139163</td>
<td>211</td>
<td>2</td>
<td>7</td> <td>12550</td>
</tr>
<tr><td>1978B4</td>
<td>3</td>
<td>31033</td>
<td>132145</td>
<td>176</td>
<td>4</td>
<td>7</td> <td>12085</td>
</tr>
<tr><td>1979B1</td>
<td>5</td>
<td>34269</td>
<td>146533</td>
<td>171</td>
<td>0</td>
<td>7</td> <td>13104</td>
</tr>
<tr><td>1979B2</td>
<td>5</td>
<td>33752</td>
<td>148444</td>
<td>198</td>
<td>6</td>
<td>7</td> <td>13158</td>
</tr>
<tr><td>1979B3</td>
<td>2</td>
<td>33894</td>
<td>146688</td>
<td>276</td>
<td>6</td>
<td>7</td> <td>13481</td>
</tr>
<tr><td>1979B4</td>
<td>2</td>
<td>31733</td>
<td>139153</td>
<td>219</td>
<td>10</td>
<td>8</td> <td>12888</td>
</tr>
<tr><td>1980B1</td>
<td>5</td>
<td>34687</td>
<td>151086</td>
<td>175</td>
<td>2</td>
<td>7</td> <td>13547</td>
</tr>
<tr><td>1980B2</td>
<td>7</td>
<td>33949</td>
<td>154253</td>
<td>163</td>
<td>6</td>
<td>7</td> <td>13945</td>
</tr>
<tr><td>1980B3</td>
<td>2</td>
<td>34574</td>
<td>155850</td>
<td>189</td>
<td>4</td>
<td>7</td> <td>14291</td>
</tr>
<tr><td>1980B4</td>
<td>0</td>
<td>32391</td>
<td>141591</td>
<td>129</td>
<td>7</td>
<td>7</td> <td>11960</td>
</tr>
<tr><td>1981B1</td>
<td>1</td>
<td>33198</td>
<td>147745</td>
<td>226</td>
<td>2</td>
<td>7</td> <td>12831</td>
</tr>
<tr><td>1981B2</td>
<td>2</td>
<td>32109</td>
<td>148790</td>
<td>244</td>
<td>7</td>
<td>7</td> <td>13539</td>
</tr>
<tr><td>1981B3</td>
<td>2</td>
<td>33142</td>
<td>156145</td>
<td>168</td>
<td>5</td>
<td>8</td> <td>15675</td>
</tr>
<tr><td>1981B4</td>
<td>3</td>
<td>30778</td>
<td>140364</td>
<td>174</td>
<td>7</td>
<td>8</td> <td>14038</td>
</tr>
<tr><td>1982B1</td>
<td>3</td>
<td>32847</td>
<td>153183</td>
<td>256</td>
<td>6</td>
<td>8</td> <td>14988</td>
</tr>
<tr><td>1982B2</td>
<td>3</td>
<td>31266</td>
<td>144656</td>
<td>133</td>
<td>2</td>
<td>8</td> <td>14090</td>
</tr>
<tr><td>1982B3</td>
<td>10</td>
<td>32005</td>
<td>156560</td>
<td>219</td>
<td>8</td>
<td>9</td> <td>17739</td>
</tr>
<tr><td>1982B4</td>
<td>56</td>
<td>30789</td>
<td>146891</td>
<td>271</td>
<td>7</td>
<td>9</td> <td>16112</td>
</tr>
<tr><td>1983B1</td>
<td>1</td>
<td>31149</td>
<td>153448</td>
<td>114</td>
<td>2</td>
<td>9</td> <td>16602</td>
</tr>
<tr><td>1983B2</td>
<td>3</td>
<td>31538</td>
<td>156370</td>
<td>104</td>
<td>4</td>
<td>9</td> <td>16707</td>
</tr>
<tr><td>1983B3</td>
<td>4</td>
<td>32886</td>
<td>159880</td>
<td>124</td>
<td>5</td>
<td>9</td> <td>17098</td>
</tr>
<tr><td>1983B4</td>
<td>7</td>
<td>29680</td>
<td>146483</td>
<td>135</td>
<td>5</td>
<td>9</td> <td>15741</td>
</tr>
<tr><td>1984B1</td>
<td>11</td>
<td>124747</td>
<td>640560</td>
<td>438</td>
<td>8</td>
<td>9</td> <td>71820</td>
</tr>
<tr><td>1985B1</td>
<td>14</td>
<td>114854</td>
<td>603027</td>
<td>363</td>
<td>15</td>
<td>10</td> <td>71088</td>
</tr>
<tr><td>1986B1</td>
<td>9</td>
<td>78957</td>
<td>438449</td>
<td>337</td>
<td>9</td>
<td>11</td> <td>57419</td>
</tr>
<tr><td>1987B1</td>
<td>2</td>
<td>28001</td>
<td>153780</td>
<td>76</td>
<td>5</td>
<td>11</td> <td>20870</td>
</tr>
<tr><td>1988B1</td>
<td>14</td>
<td>60663</td>
<td>363205</td>
<td>248</td>
<td>8</td>
<td>12</td> <td>49151</td>
</tr>
<tr><td>1989B1</td>
<td>8</td>
<td>50456</td>
<td>337150</td>
<td>260</td>
<td>10</td>
<td>12</td> <td>47298</td>
</tr>
<tr><td>1990B1</td>
<td>0</td>
<td>3</td>
<td>23</td>
<td>0</td>
<td>0</td>
<td>8</td> <td>2</td>
</tr>
<tr><td>1991B1</td>
<td>0</td>
<td>4</td>
<td>21</td>
<td>0</td>
<td>0</td>
<td>4</td> <td>1</td>
</tr>
<tr><td>1992B1</td>
<td>0</td>
<td>1</td>
<td>14</td>
<td>0</td>
<td>0</td>
<td>7</td> <td>1</td>
</tr>
</tbody>
</table>