<h1>DRAFT - Reporting errors in transcriptions</h1>

<p><style scoped="scoped">.q-and-a dt { margin-top: 1.5em; border-top: 1px solid #3c78b4; padding-top: 0.75em; font-weight: bold; } </style> </p>

  <p class="lead">Your question about FreeBMD could be answered below: you could get your answer without any waiting! The questions and answers are grouped by the subjects in the contact form.</p>
 <mark> PC - this page is work-in-progress - PC </mark>
  <div class="grid">
  <aside class="grid__item one-third palm-one-whole float--right">
    <div class="islet islet--bordered">
      <h2 class="title-block">On this page</h2>
      <ul class="sub-nav">
        <li>
        <a href="#missing">Missing entry</a> </li>
        <li>
        <a href="#individuals">Problem with individuals</a> </li>
        <li>
         <a href="#districts">Problem with Districts</a> </li>
        <li>
        <a href="#date">Problem with Month/Quarter</a> </li>
        <li>
       <a href="#general">General and miscellaneous problems</a> </li>
     </ul>
    </div>
  </aside>

  <div class="grid__item two-thirds palm-one-whole"> 
    <h2 id="missing">Missing entry</h2>
    <p>Here are the <em>Missing entry</em> questions that people ask us most often:</p>
     <dl class="q-and-a">
        <dt>I want to report that the entry is missing from a scan</dt>
        <dd>To report a problem with a scan, please search for an entry that is on that same page and go to its Entry Information page. Then, use the ‘Report an Error in the data’ button to report this issue.</dd> 
        <dt>I want to report a missing entry (and I can see it in a scan)</dt>
        <dd>
         <p>Please use the ‘Report an Error in this Data’ button on the Entry Information page for the entry. That way, we know exactly which entry you mean. If you have identified that an entry or entries on a scan of a page has not been transcribed you should attach a correction to the immediately preceding entry (find the name on the page and search using those details, and use the 'report a data error' button on that record.  If you have done this, and are back at this point, please use this link [link to reporting page] to report the following entry as missing.</p>
        <p> You only need to change the details that are different, such as the name of the missing person, and check the 'missing entry' or 'missing entries' box - you only need to check the missing entries box on the first person if multiple entries are missing: we will make sure all the missing entries are transcribed. </p> </dd> 
        <dt>I want to report a missing entry (I have not seen it in a scan)</dt>
        <dd>If you have identified that an entry or entries on a scan of a page has not been transcribed you should attach a correction to the immediately preceding entry (find the name on the page and search using those details, and use the 'report a data error' button on that record.  If you have done this, and are back at this point, please use this link [link to reporting page] to report the following entry as missing.  You only need to change the details that are different, such as the name of the missing person, and check the 'missing entry' or 'missing entries' box - you only need to check the missing entries box on the first person if multiple entries are missing: we will make sure all the missing entries are transcribed.</dd> 
    </dl>
  <p class="islet islet--light"> If you have a different question about the data we hold, please ask by selecting ‘Report an Error in the data’ button on the Entry Information page.</p> 
  <hr class="rule" /> 
    <h2 id="individuals">Problem with individuals in an entry</h2>
      <p>Here are the <em>Problem with individuals in an entry</em> questions that people ask us most often:</p>
     <dl class="q-and-a">
     <dt>The entry for this event (for example,  age at death) does not match what I know, from another FreeBMD event for this person (for example, their birth registration)</dt>
      <dd>
    <p>Please use the ‘Report an Error in this Data’ button on the Entry Information page for the entry. That way, we know exactly which entry you mean. FreeBMD transcribes <strong>exactly</strong> what is in the GRO index for <strong>this</strong> event, and we do not change it to be correct as per another event in the index.</p>
  <p> If you wish to get the GRO Index corrected you should use the GRO’s <a href="https://www.certificate-enquiries.homeoffice.gov.uk/about" target="_blank"> Enquire about your Certificate Order (opens in a new window)</a> with the appropriate information. When they agree the correction let us know (via "Contact support" system and we will annotate FreeBMD appropriately. Regrettably the GRO has no method of informing the many holders of the index (both online and physical) of any corrections they make.</p>
  </dd> 
    <dt>The entry for this event (for example, bride's surname at marriage) does not match the FreeBMD entry for another person at this event (for example, the spelling of her name in spouse's).</dt> 
  <dd>FreeBMD transcribes <strong>exactly</strong> what is in the GRO index for <strong>this</strong> person in the event, and we do not change it to be correct as per the index for a spouse or mother. If you wish to get the GRO Index corrected you should use the GRO’s <a href="https://www.certificate-enquiries.homeoffice.gov.uk/about" target="_blank"> Enquire about your Certificate Order (page opens in a new window)</a> with the appropriate information. When they agree the correction let us know (via "Contact support" system and we will annotate FreeBMD appropriately. Regrettably the GRO has no method of informing the many holders of the index (both online and physical) of corrections they make.</dd> 
  <dt>I want to report that the spouse is missing from the results</dt>
  <dd>Please do not use this form to report that the spouse is missing from a spouse search - see [our Help with Marriages page on finding a missing spouse](Help with Marriages). Bear in mind that FreeBMD is a work in progress and the spouse record may be on a page that has not yet been transcribed. Once you have found a missing spouse you can, of course, submit a correction if that entry is in error or missing from a transcribed page.</dd>
  </dl>
     <p class="islet islet--light">  If you have a different question about the data we hold, please ask by selecting ‘Report an Error in the data’ button on the Entry Information page.</p>
   <hr class="rule" /> 
      <h2 id="districts">Problem with Districts</h2>
      <p>Here are the <em>Problems with Districts</em> questions that people ask us most often:</p>
       <dl class="q-and-a">
       <dt>There is an error in the spelling of the District name</dt>
       <dd>Districts are spelt and abbreviated in a variety of ways in the GRO Indexes. FreeBMD records the actual spelling from the index and links this to the definitive form of the name for searching, so we do not 'correct' them. To see the definitive form, you can click on the name of the district either on the Result page or the Entry Information page.</dd>
       <dt>The District is not the place where the person was born, married, or died</dt>
       <dd>The Registration District covers a larger area than the location with the same name as the Registration District, and some places were covered by more than one registration district (at the same time) or moved between registration districts over time. We know it can be confusing to see an unexpected place name, and we therefore have put a link from the district name to a page which gives a detailed and comprehensive history of that registration district.</dd>
     </dl>
  <p class="islet islet--light">If you have a different question about the data we hold, please ask by selecting ‘Report an Error in the data’ button on the Entry Information page.</p>
  <hr class="rule" />
       <h2 id="date">Problem with month / quarter in an entry</h2>
       <dl class="q-and-a"> 
       <p>Here are the <em>Problem with Month / Quarter in an entry</em> questions that people ask us most often:</p>
  <dt>The month recorded is wrong: I know the precise date of the event</dt>
  <dd>This can happen for two reasons. One is that before 1984 events were recorded in quarters rather than months, so events in, for example, January, February and March are correctly recorded as being in the March quarter. Also, events which took place late in a quarter might not be registered until early in the following quarter. <mark>[may need to expand this as per comments in spreadsheet]</mark>.</dd>
  <dt>The quarter recorded is wrong: I know the precise date of the event</dt>
  <dd>Events are recorded in the quarter that they were registered, not the quarter when they occurred. It is perfectly possible that a birth in May will appear in the September Quarter, because it was not registered until July.<mark>[may need to expand this as per comments in spreadsheet]</mark> </dd>
  <p class="islet islet--light"> If you have a different question about the data we hold, please ask by selecting ‘Report an Error in the data’ button on the Entry Information page.</p>
 <hr class="rule" />
      <h2 id="general">General and miscellaneous problems</h2>
   <p>Here are the questions about <em>General and miscellaneous problems</em> that people ask us most often:</p>
           <dl class="q-and-a">
        <dt>The entry does not match what I know, from the GRO certificate, a census, church register, family bible or similar source</dt>
        <dd>FreeBMD transcribes <strong>exactly</strong> what is in the GRO index, and we do not change it to be correct as per the GRO certificate, or other certain knowledge. You may use the Postem system (at the bottom of the Entry Information page you will find the link) to provide this information, which may be of great help to other family historians. You can find out [more about Postems](Postems) on our Postems page. If you wish to get the GRO Index corrected you should use the GRO’s <a href="https://www.certificate-enquiries.homeoffice.gov.uk/about" target="_blank"> Enquire about your Certificate Order (page opens in a new window)</a> with the appropriate information. When they agree the correction let us know (via "Contact support" system and we will annotate FreeBMD appropriately. Regrettably the GRO has no method of informing the many holders of the index (both  online and physical) of corrections they make.</dd> 
  <dt>There are characters such as square brackets, curly brackets, underlines or asterisks in the entry</dt>
  <dd>
  <p>Where the transcriber was unable to read the record fully, uncertainty will be shown by use of special characters: []{}_*. The majority of such entries will be corrected in the fullness of time as better quality source becomes available. It should be noted that as all corrections are verified before being applied, it is unlikely that our source will be any more readable now than it was when it was transcribed, and such corrections are unlikely to be applied.</p>
  <p> If you have a legible copy of this page (e.g. one you photographed when the indexes were open for public consulation), please use [this form] to provide your contact details so that we can invite you to send us the image. </p> 
  </dd>
   <dt>I have checked the scan and the transcription does not match what has been transcribed</dt>
    <dd> [error report page] </dd>
   <dt>There are two entries, with slightly different spellings, I know which is correct</dt>
    <dd>It is not an error to find names appearing twice under alternative spellings in the Index. This happened when names were poorly written on the original copy. You may use the postem system (linked) to provide this information, which may be of help to other family historians. </dd>
  <dt>There are two nearly-identical entries for the same event</dt>
  <dd>In some circumstances there are both handwritten and typed scans available and the FreeBMD policy is that the two should be seen as completely independent attestations to the same historical event and the two should be kept and served as separate records. When submitting a correction you should check the scan(s) referenced when you click on the Scan available icon.
<mark>may need to expand this, as per comments on spreadsheet </mark>
</dd>
   <dt>There are two entries which appear to be identical</dt>
   <dd> This is usually because the GRO index itself contains identical entries, and we transcribe exactly what is in the index.  Please check the scan(s) to see if this is the case.<br />It is also possible that this is a transcription error - if this is the case, please let us know by using the form below [form or email address?]
<mark>possible expansion to consider ......</mark>
</dd>
   </dl>
  <p class="islet islet--light">  If you have a different question about the data we hold, please ask by selecting ‘Report an Error in the data’ button on the Entry Information page.</p> 
 </dl>
  </div>
  </div>