<% breadcrumb :edit_place,  @county, @place%>
<h3 style="text-align: center">Editing <b><%= @place_name %></b> of <b><%= @county %></b><br></h3>


<% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
    </div>
   <% end %> 
<section class="island  island--light">
<%= render 'form' %>


