<p style="text-align: center">Adding a place </p>
 
<% if flash[:notice] %>
    <div id="notice" style="color:blue"><br>
   <%= flash[:notice] %>  <% flash[:notice] = nil%><br>
    </div>
   <% end %> 



<%= render 'form' %>

