<div class="c-subfooter-1__copyright">
    <!--   <div class="grid__item  two-thirds  palm-one-whole  text--left ">
    <p class="  text--grey "> -->
    <p class="c-subfooter-1__copyright-text">
    Search engine, layout, and database <b>Copyright © 1998-<%= Time.now.year%> by Free UK Genealogy CIO</b>, a charity registered in England and Wales, Number 1167484.<br>
    We make no warranty whatsoever as to the
    <% if appname.downcase == 'freebmd' %>
      <%= link_to helpful_anchors[:freebmdAccuracy].html_safe, helpful_links[:freebmdAccuracy],
      html_options2 %> or <%= link_to helpful_anchors[:freebmdComplete].html_safe, helpful_links[:freebmdComplete],
      html_options2%>
    <% else %> accuracy or completeness <% end %>
    of the data.
    </p>
    <div class="c-subfooter-1__ads-space">
    </div>
</div>