<div class="island  island--dark  flush--bottom  milli  text--white">
  <div class="container">
    <div class="grid">
      <div class="grid__item  two-thirds  palm-one-whole">
        <p class="micro  text--grey">
          <% if appname.downcase == 'freebmd' %>
            Data © Crown copyright. Published by permission of the Controller of HMSO and the Office for National Statistics (ONS).You must not copy on, transfer or reproduce significant portions of data without the prior permission of the ONS. <br>
          <% end %>
          Our Search engine, layout and database Copyright © 1998-2019 Free UK Genealogy CIO, a charity registered in England and Wales, Number 1167484. We make no warranty whatsoever as to the accuracy or completeness of the data.
        </p>
      </div>
      <div class="grid__item  one-third  palm-one-whole">
        <a href="http://www.freeukgenealogy.org.uk/" class="icon__freeukgen__project--light" target="_blank"><span class="accessibility">A project by FreeUKGenealogy opens in a new window</span></a>
      </div>
    </div>
  </div>
</div>