<div class="c-subfooter-1__copyright">
    <!--   <div class="grid__item  two-thirds  palm-one-whole  text--left ">
    <p class="  text--grey "> -->
    <p class="c-subfooter-1__copyright-text">
    Search engine, layout, and database <b>Copyright © 1998-<%= Time.now.year%> by Free UK Genealogy CIO</b>, a charity registered in England and Wales, Number 1167484.<br>
    We make no warranty whatsoever as to the accuracy or completeness of the data.
    </p>
    <div class="c-subfooter-1__ads-space">
    </div>
</div>