<div class="c-subfooter-1__copyright">
  <p class="c-subfooter-1__copyright-text">
    <% if appname.downcase == 'freebmd' %>
      Data © Crown copyright. Published by permission of the Controller of HMSO and the Office for National Statistics (ONS). You must not copy on, transfer, or reproduce significant portions of data without the prior permission of the ONS.<br>
    <% end %>
    Search engine, layout, and database <b>Copyright © 1998-<%= Time.now.year%> by Free UK Genealogy CIO</b>, a charity registered in England and Wales, Number 1167484.<br>
    We make no warranty whatsoever as to the
    <% if appname.downcase == 'freebmd' %>
      <%= link_to helpful_anchors[:freebmdAccuracy].html_safe, helpful_links[:freebmdAccuracy],
      html_options2 %>
    <% else %> accuracy or completeness <% end %>
    of the data.
  </p>
  <div class="c-subfooter-1__ads-space">
  </div>
</div>
