<footer class="site__footer">

	<div class="island  island--magenta  flush--bottom">
		<div class="container  text--center">
			<p>
				The FreeREG database is just a finding tool. It should not be considered to be *proof*, nor that it is 100% accurate, nor contains all of the information in the actual register.
			</p>
			<p>
				Once you have found a record, always make a point of looking at the actual register on microfiche/film at a County Record Office or the local Family History Society or LDS family History Centre for confirmation.
			</p>
		</div>
	</div>

	<div class="icon__honeycomb--bottom-left  island  flush--bottom">
		<div class="container  text--center">
			<h3 class="epsilon  text--navy">Other FreeUkGenealogy</h3>

			<ul class="icon-list">
				<li>
					<a href="#" class="icon__freecen"><span class="accessibility">FreeCen</span></a>
				</li>
				<li>
					<a href="#" class="icon__freebmd"><span class="accessibility">FreeBMD</span></a>
				</li>
			</ul>
		</div>
	</div>

	<div class="island  island--dark  flush--bottom  milli  text--white">
		<div class="container">
			<div class="grid">

				<div class="grid__item  one-quarter  palm-one-third">
					<ul class="nav  nav--stacked  lap-and-up-flush--bottom">
						<li>
							<a href="#">Terms &amp; conditions</a>
						</li>
						<li>
							<a href="#">Usage policy</a>
						</li>
						<li>
							<%= link_to 'Contact Us', "../freereg2/contact" , method: :get  %>
						</li>
					</ul>
				</div>

				<div class="grid__item  one-quarter  palm-one-third">
					<ul class="nav  nav--stacked  lap-and-up-flush--bottom">
						<li>
							<a href="#">Become a transcriber</a>
						</li>
						<li>
							<a href="#">Help with transcribing</a>
						</li>
						<li>
							<a href="#">Stats and info</a>
						</li>
					</ul>
				</div>

				<div class="grid__item  one-quarter  palm-one-third">
					<ul class="nav  nav--stacked  lap-and-up-flush--bottom">
						<li>
							<a href="#">Donate</a>
						</li>
						<li>
							<a href="#">Twitter</a>
						</li>
						<li>
							<a href="#">Blog</a>
						</li>
					</ul>
				</div>

				<div class="grid__item  one-quarter  palm-one-whole">
					<a href="#" class="icon__freeukgen__project--light"><span class="accessibility">A project by FreeUKGenealogy</span></a>
				</div>
			</div>
		</div>
	</div>

	<div class="island  island--grey  flush--bottom">
		<div class="container  text--center">
			<p class="micro  text--grey">
				Search engine, layout and database Copyright © 1998-2015 The Trustees of Free UK Genealogy (Ben Laurie, Graham Hart, Camilla von Massenbach, David Mayall and Jim Killock), a charity registered in England and Wales, Number 1096940. We make no warranty whatsoever as to the accuracy or completeness of the FreeREG data.
			</p>
		</div>
	</div>
</footer>
