<p class='flush--bottom'>
  The <%= appname%> database is just a finding tool. Whilst we make every effort to ensure accurate transcription, errors exist in both the original census and the transcription. Please verify any result with the actual census at your local library or similar resource.
</p>
<span class='text--center'>
  Below space for advertisement.
</span>