<p>
  The <%= appname%> database is just a finding tool. Whilst we make every effort to ensure accurate transcription, errors exist in both the original index and the transcription. Please verify any result by viewing the scan before ordering a certificate.
</p>