<p >
  The <%= appname%> database is just a finding tool. Whilst we make every effort to ensure accurate transcription, errors exist in both the original register and the transcription. Please verify any result with a copy of the register at your local library, County Record Office, Family History Society or similar resource.
</p>