<header class="site__header" >
  <div class="container">
    <div class="banner-horz">
      <%= display_banner %>
    </div>   
    <button type="button" id="trigger-offcanvas" class="site__header__menu-btn">
      <span>Menu</span>
      <i class="icon__cancel" aria-hidden="true"></i>
    </button>
    <%= link_to '/', class: "site__header__logo  icon__freereg" do %>
      <h1 class="accessibility">FreeReg</h1>
    <% end %>
    <a href="http://www.freeukgenealogy.org.uk/" class="site__header__freeukgen-logo  icon__freeukgen__project--dark"><span class="accessibility">A project by FreeUKGenealogy</span></a>
  </div>
</header>