<header class="site__header" role="banner">
<div class="container">
    <div class="banner-horz">
      <img src="http://dummyimage.com/728x90/000/fff/?text=banner+ad">
    </div>
    <button type="button" id="trigger-offcanvas" class="site__header__menu-btn">
      <span>Menu</span>
      <i class="icon__cancel" aria-hidden="true"></i>
    </button>
    <a href="http://test2.freereg.org.uk/" class="site__header__logo  icon__freereg"><h1 class="accessibility">FreeReg</h1></a>
    <a href="http://www.freeukgenealogy.org.uk/" class="site__header__freeukgen-logo  icon__freeukgen__project--dark"><span class="accessibility">A project by FreeUKGenealogy</span></a>
</div>
</header>