<h2 class="epsilon  text--navy">Other FreeUKGenealogy Projects</h2>
<ul class="icon-list">
  <li>
    <% case appname_downcase %>
    <% when 'freecen' %>
    <a href="http://freereg.org.uk/" class="icon__freereg"><span class="accessibility">FreeReg</span></a></li>
  <li>
    <a href="http://www.freebmd.org.uk/" class="icon__freebmd"><span class="accessibility">FreeBMD</span></a>
    <% when 'freereg' %>
    <a href="http://www.freecen.org.uk/" class="icon__freecen"><span class="accessibility">FreeCEN</span></a></li>
  <li>
    <a href="http://www.freebmd.org.uk/" class="icon__freebmd"><span class="accessibility">FreeBMD</span></a>
    <% when 'freebmd' %>
    <a href="http://www.freecen.org.uk/" class="icon__freecen"><span class="accessibility">FreeCEN</span></a></li>
  <li>
    <a href="http://freereg.org.uk/" class="icon__freereg"><span class="accessibility">FreeReg</span></a>
  <% end %>
</li>
</ul>