<!DOCTYPE html>
<html>
    <head>
	<title></title>
	<%= stylesheet_link_tag "normalize" %>
	<%= stylesheet_link_tag "search_records" %>
    </head>
    <body>
	<div id="header">
	    This is the header
	</div>
	<div id="container">
	    <div id="nav">
		This is the nav
	    </div>
	    <div id="content">
		<%= yield %>
	    </div>
	</div>
    </body>
</html>
