<!DOCTYPE html>
<!-- saved from url=(0073)http://mvmerge.aspengrovefarm.com/search_queries/51428bbe8ebe6108c0000056 -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title></title>
	
	<!-- Styles -->
	
	<link href='http://fonts.googleapis.com/css?family=Corben' rel='stylesheet' type='text/css'>
	
	<%= stylesheet_link_tag "normalize" %>
	<!--<link href="./files/normalize.css" media="screen" rel="stylesheet" type="text/css"> -->
	
	
	 <!-- <link href="./files/search_records.css" media="screen" rel="stylesheet" type="text/css">  -->    <!-- detail.html -->
	 
	<%= stylesheet_link_tag "search_queries" %>
	<!--<link href="./files/search_queries.css" media="screen" rel="stylesheet" type="text/css"> -->     <!-- results.html -->
	
	 <!-- <link href="./files/application.css" media="all" rel="stylesheet" type="text/css"> -->     <!-- search.html -->
	 
	 <!-- <link href="./files/style.css" media="all" rel="stylesheet" type="text/css"> -->
	<%= stylesheet_link_tag "style" %>
	
	
    <style type="text/css"></style></head>
    <body>
    
	<div id="container">
	
	<div id="header" class="header">
		<h1>FreeREG</h1>
		<h2>The home of U.K. Parish Register Information</h2>
		</div>
	
	
	    <div id="nav">
		<ul>
		    <li><a href="http://mvmerge.aspengrovefarm.com/search_queries/new">New Search</a></li>
		    <li><a href="http://mvmerge.aspengrovefarm.com/search_queries/51428bbe8ebe6108c0000056">Back to results</a></li>
		</ul>
	    </div>
	
    <%= yield %>


	</div>
    

</body></html>
