<!DOCTYPE html>
<html>
    <head>
	<title></title>
	<%= stylesheet_link_tag "normalize" %>
	<%= stylesheet_link_tag "search_queries" %>
    </head>
    <body>
	<div id="container">
	    <%= yield %>
	</div>
    </body>
</html>
