<h1>Test Page</h1>

<p>This page has an image and links <a href="<%= asset_path('68oboqk44q_BKMWALBA.CSV.1510941680') %>" title="Test file">to a file</a>
</p><p><%= image_tag 'refinery.JPG', title: 'Refinery', alt: 'Refinery', data: { rel: '225x255' }, width: 225, height: 121 %></p>