<% if flash[:notice] %>
  <div id="notice" style="color:red"><br>
    <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
  </div>
<% end %>
<%= form_tag '#' do %>
	<div class='grid'>
		<div class="grid__item one-half lap-one-half palm-one-whole">
			<%= label_tag 'year', "Select Year", class: "select required control-label" %>
		</div>
		<div class="grid__item one-half lap-one-half palm-one-whole">
			<%= select_tag "year", options_for_select(@options), class: " simple_form_bgcolour overide_selection_field_width", id: "select_census_year", size: 5, "onchange" => @location %>
		</div>
	</div> 
<% end %>
